USE [MES_MSM_ALT]
GO
/****** Object:  View [dbo].[SIT_Orders_Status_Arranques_Cambios]    Script Date: 25/02/2022 12:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SIT_Orders_Status_Arranques_Cambios]
AS
SELECT        id
FROM            SITMesDB.dbo.POMV_ORDR_STAT
WHERE        (pom_order_transition_group_id = 'MSM_ENVASADO_ARRANQUES_CAMBIOS')
GO
