USE [MES_MSM_ALT]
GO
/****** Object:  View [dbo].[vFormsValuesTable]    Script Date: 25/02/2022 12:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vFormsValuesTable]
AS
SELECT  f1.ID, tem.value('../type[1]', 'VARCHAR(500)') AS type, p.value('local-name(.)', 'varchar(50)') AS idField, 
                         tem.value('../label[1]', 'VARCHAR(500)') AS label,  r.value('local-name(.)', 'varchar(50)') as idCol,
						 c.value('../title[1]', 'VARCHAR(50)') as titleCol,
						 r.value('../idRow[1]', 'varchar(8000)') as idRow,
						  r.value('.', 'VARCHAR(8000)') AS value
FROM            
dbo.Forms f1
CROSS APPLY FormValuesXML.nodes('/formValues/*') t (p)
CROSS APPLY p.nodes('*') tableRow(r) 
CROSS APPLY FormTemplateXML.nodes('/formTemplate/fieldsTemplate/nameID') x(tem)
CROSS APPLY tem.nodes('../dataColumns/field') tableColumns(c)
--INNER JOIN dbo.Forms f2 CROSS APPLY  FormTemplateXML.nodes('/formTemplate/fieldsTemplate/dataColumns/field') tableColumns(c) on f1.ID = f2.ID and r.value('local-name(.)', 'varchar(50)') = c.value('.', 'VARCHAR(50)')
WHERE tem.value('.', 'VARCHAR(8000)') = p.value('local-name(.)', 'varchar(50)')
and tem.value('../type[1]', 'VARCHAR(500)') = 'table'
and r.value('local-name(.)', 'varchar(50)') = c.value('.', 'VARCHAR(50)')
and r.value('local-name(.)', 'varchar(50)') != 'idRow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vFormsValuesTable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vFormsValuesTable'
GO
