USE [MES_MSM_ALT]
GO
/****** Object:  View [dbo].[SIT_SHC_Turnos]    Script Date: 25/02/2022 12:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SIT_SHC_Turnos]
AS
SELECT        
	SCH.shc_work_sched_day_pk AS Id, 
	REPLACE(LN.id, 'SHC_', '') AS Linea, 
	SCH.work_date AS Fecha, 
	DATEADD(minute, - SCH.work_start_bias, SCH.work_start)  AS InicioTurno, 
	DATEADD(minute, - SCH.work_end_bias, SCH.work_end) AS FinTurno, 
	ISNULL(SCH.shc_shift_id, 0) AS IdTipoTurno, 
	WT.label AS Turno,
	--Actualizado por: Alexis Anselmi 2019-12-03
	-- Se añade el turno en formato UTC
	 SCH.work_start InicioTurnoUTC,
	 SCH.work_end FinTurnoUTC
	--Fin Actualización Alexis Anselmi
FROM            
	SITMesDB.dbo.SHCV_WORK_SCHED_DAY AS SCH INNER JOIN
    SITMesDB.dbo.SHC_WORK_SCHED AS LN ON SCH.shc_work_sched_pk = LN.shc_work_sched_pk INNER JOIN
    SITMesDB.dbo.SHC_WORKING_TIME AS WT ON WT.id = ISNULL(SCH.shc_shift_id, 0)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SCH"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 254
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LN"
            Begin Extent = 
               Top = 6
               Left = 292
               Bottom = 135
               Right = 509
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "WT"
            Begin Extent = 
               Top = 6
               Left = 547
               Bottom = 135
               Right = 749
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2385
         Width = 3660
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SIT_SHC_Turnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SIT_SHC_Turnos'
GO
