USE [MES_MSM_ALT]
GO
/****** Object:  View [dbo].[SIT_Orders]    Script Date: 25/02/2022 12:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SIT_Orders]
AS
SELECT        Ordenes.pom_order_id AS Id, Ordenes.pom_order_type_id AS typeID, Ordenes.matl_def_id AS IdProducto, Ordenes.pom_order_status_id AS EstadoAct, 
                         Ordenes.prev_pom_order_status_id AS EstadoAnt, MES_MSM.dbo.ParametrosLinea.idLinea AS EquipoOrden, Ordenes.RowUpdated AS FecHorAct
FROM            SITMesDB.dbo.POMV_ORDR AS Ordenes LEFT OUTER JOIN
                         MES_MSM.dbo.ParametrosLinea ON Ordenes.ppr_name = MES_MSM.dbo.ParametrosLinea.PPR LEFT OUTER JOIN
                         MES_MSM.dbo.ParametrosOrdenes ON Ordenes.pom_order_id = MES_MSM.dbo.ParametrosOrdenes.IdOrden
WHERE        Ordenes.pom_order_type_id = 'WO_ENVASADO' AND (MES_MSM.dbo.ParametrosOrdenes.IdSubOrden = 0)
UNION
SELECT        Ordenes.pom_order_id AS Id, Ordenes.pom_order_type_id AS typeID, Ordenes.matl_def_id AS IdProducto, Ordenes.pom_order_status_id AS EstadoAct, 
                         Ordenes.prev_pom_order_status_id AS EstadoAnt, Ordenes.equip_long_name AS EquipoOrden, Ordenes.RowUpdated AS FecHorAct
FROM            SITMesDB.dbo.POMV_ORDR AS Ordenes LEFT OUTER JOIN
                         MES_MSM.dbo.ParametrosLinea ON Ordenes.ppr_name = MES_MSM.dbo.ParametrosLinea.PPR LEFT OUTER JOIN
                         MES_MSM.dbo.ParametrosOrdenes ON Ordenes.pom_order_id = MES_MSM.dbo.ParametrosOrdenes.IdOrden
WHERE        Ordenes.pom_order_type_id <> 'WO_ENVASADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[7] 4[24] 2[31] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 17
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2460
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SIT_Orders'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SIT_Orders'
GO
