USE [MES_MSM_Fabricacion]
GO
/****** Object:  StoredProcedure [Fab].[ObtenerTipoWO]    Script Date: 26/10/2021 18:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [Fab].[ObtenerTipoWO]
	@IdTipo INT
AS
BEGIN
	SELECT	[IdTipoWO]
			,[CodWO]
			,[DescTipoWO]
	FROM	[MES_MSM_Fabricacion].[Fab].[TiposWO]
	WHERE ((@IdTipo = 0) OR (@IdTipo = [IdTipoWO]))

END

