USE [MES_MSM_Fabricacion]
GO
/****** Object:  StoredProcedure [Fab].[CerrarWO]    Script Date: 27/10/2021 7:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Fab].[CerrarWO]
	@IdWO INT
AS
BEGIN

Update	[MES_MSM_Fabricacion].[Fab].[WOs] 
SET		IdEstadoWO = 4
WHERE	IdWO = @IdWO

END