USE [MES_MSM]
GO
/****** Object:  View [dbo].[Equipos_FAB_old]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Equipos_FAB_old]
AS
SELECT Equipos.equip_id AS Id, Equipos.equip_name AS Nombre, Equipos.equip_uuid AS IdBD, Equipos.equip_superior AS EquipoSuperior, 
                  Equipos.equip_prnt_pk AS IdEquipoSuperior, Equipos.equip_class_lvl_id AS Nivel, Equipos.equip_class_lvl_pk AS IdNivel, Clases.equip_class_name AS Clase, 
                  Equipos.equip_class_pk AS IdClase, Equipos.equip_status AS Estado, Equipos.equip_label AS Descripcion, Equipos.equip_pk AS PkEquipo
				 -- , Prop.equip_prpty_value AS Posicion
FROM     SITMesDB.dbo.BPMV_EQPT AS Equipos INNER JOIN
                  SITMesDB.dbo.BPMV_EQPT_CLS AS Clases ON Clases.equip_class_pk = Equipos.equip_class_pk
				  --INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] Prop on Equipos.equip_pk = Prop.equip_pk and [equip_prpty_id]='POSICION'
WHERE  (Equipos.equip_in_plant = 1)
GO
