USE [MES_MSM]
GO
/****** Object:  View [dbo].[ProduccionHoras]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[ProduccionHoras]
AS


SELECT
	CONVERT(DATE, MIN(FECHA_INICIO)) AS FECHA
	,MIN([FECHA_INICIO]) AS INICIO
	,MAX([FECHA_FIN]) AS FIN
	,[SHC_WORK_SCHED_DAY_PK] AS IdTurno
	,Consolidacion.[HORA] AS Hora
	,SUM(TIEMPO_NETO) AS TIEMPO_NETO
	,SUM(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO
	,SUM(TIEMPO_PLANIFICADO) AS TIEMPO_PLANIFICADO
	,SUM(VELOCIDAD_NOMINAL) AS VELNOMINAL
	,SUM(Consolidacion.CONTADOR_PRODUCCION) AS ENVASES_LLENADORA
	,SUM(Consolidacion.Contador_Rechazos) AS ENVASES_RECHAZADOS
	,SUM(TotalPalets) AS ENVASES_PALETIZADORA
	,SUM(RechazosResto) AS RECHAZOS_PALETIZADORA
	,CASE
		WHEN MAX(M.MENOR_LLENADORA) = 1 THEN SUM(RechazosResto)
		ELSE 0
	END AS ENVASES_VACIOS_RECHAZADOS
	,CASE
		WHEN MIN(M.MENOR_LLENADORA) = 0 THEN SUM(RechazosResto) + SUM(Consolidacion.Contador_Rechazos)
		ELSE 0
	END AS ENVASES_LLENOS_RECHAZADOS
	,CASE
		WHEN SUM(Velocidad_NOMINAL) = 0 THEN 0
		ELSE (SUM(Consolidacion.CONTADOR_PRODUCCION) / SUM(VELOCIDAD_NOMINAL) * 100)
	END AS 'Rendimiento_Mecanico'
	,CASE
		WHEN SUM([TIEMPO_PLANIFICADO]) = 0 THEN 0
		ELSE ((SUM([TIEMPO_OPERATIVO]) / SUM([TIEMPO_PLANIFICADO])) * 100)
	END AS Disponibilidad
	,CASE
		WHEN SUM(TIEMPO_OPERATIVO) = 0 THEN 0
		ELSE ((SUM(TIEMPO_NETO) / SUM(TIEMPO_OPERATIVO)) * 100)
	END AS Eficiencia
	,CASE
		WHEN SUM(TIEMPO_OPERATIVO) = 0 OR
			SUM([TIEMPO_PLANIFICADO]) = 0 THEN 0
		ELSE ((SUM([TIEMPO_OPERATIVO]) / SUM([TIEMPO_PLANIFICADO])) * (SUM([TIEMPO_NETO]) / SUM([TIEMPO_OPERATIVO])) * 1.0) * 100.0
	END AS OEE
	,SUM(Paleteras.TotalPalets) AS TotalPalets
	,MIN(M.Linea) AS LINEA
FROM COB_MSM_PROD_LLENADORA_HORA AS Consolidacion
INNER JOIN Turnos ON Consolidacion.[SHC_WORK_SCHED_DAY_PK] = Turnos.Id
INNER JOIN Maquinas M ON Consolidacion.ID_MAQUINA = M.Id
LEFT JOIN (SELECT
		[SHC_WORK_SCHED_DAY_PK] AS IdTurno
		,[HORA] AS Hora
		,SUM(CONTADOR_PRODUCCION) AS TotalPalets
		,SUM(CONTADOR_RECHAZOS) AS RechazosResto
	FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
	WHERE SHC_WORK_SCHED_DAY_PK <> 0 AND ISNULL(Consolidacion.ID_ORDEN,'') != ''
	GROUP BY [SHC_WORK_SCHED_DAY_PK],[HORA]) Paleteras ON Paleteras.Hora = Consolidacion.HORA
	AND Paleteras.IdTurno = Consolidacion.SHC_WORK_SCHED_DAY_PK
WHERE ISNULL(Consolidacion.ID_ORDEN,'') != ''
GROUP BY [SHC_WORK_SCHED_DAY_PK],Consolidacion.[HORA]


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProduccionHoras'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProduccionHoras'
GO
