USE [MES_MSM]
GO
/****** Object:  View [dbo].[RelPackingWO_COB_ArticlesParameters]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[RelPackingWO_COB_ArticlesParameters]
AS
		--SELECT TOP (select Count(*) from REL_PackingWo_HighBeer rel) rank() OVER (ORDER BY PackingArticleID) as ID,aux.* 
		--FROM(
		--	select Distinct rel.PackingArticleID,rel.Czh,rel.[Description],rel.CZAEnv,rel.Mosto,cob.DefID,cob.Beer,Cast(Coalesce(cob.DecreasePacking,0) as float) DecreasePacking,
		--	Cast(Coalesce(cob.DecreaseFiltration,0) as float) DecreaseFiltration,Cast(Coalesce(cob.RecoveredBeerInFiltration,0) as float) RecoveredBeerInFiltration,
		--	Cast(Coalesce(cob.Dilution,0) as float) Dilution
		--	from REL_PackingWo_HighBeer rel
		--	LEFT JOIN COB_MSM_ArticlesParametersForDecanting cob on cob.DefID=rel.PackingArticleID)aux
		--	--WHERE Mosto like 'F%')aux	
		--	order by Cast(PackingArticleID as numeric)

		SELECT row_number() OVER(ORDER BY PackingArticleID) as ID,aux.* 
		FROM(
			select Distinct SUBSTRING(rel.CZAEnv,0,CHARINDEX('-',rel.CZAEnv)) DefID,SUBSTRING(rel.CZAEnv,0,CHARINDEX('-',rel.CZAEnv)) PackingArticleID,rel.Czh,rel.CZAEnv,rel.Mosto,Cast(Coalesce(cob.DecreasePacking,0) as float) DecreasePacking,
			Cast(Coalesce(cob.DecreaseFiltration,0) as float) DecreaseFiltration,Cast(Coalesce(cob.RecoveredBeerInFiltration,0) as float) RecoveredBeerInFiltration,
			Cast(Coalesce(cob.Dilution,0) as float) Dilution 
			from REL_PackingWo_HighBeer rel
			LEFT JOIN COB_MSM_ArticlesParametersForDecanting cob on cob.CZAEnv=rel.CZAEnv
			WHERE rel.CZAEnv is not null)aux			
			--order by PackingArticleID
GO
