USE [MES_MSM]
GO
/****** Object:  View [dbo].[UbicacionLoteByOrden_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[UbicacionLoteByOrden_FAB]
AS
	SELECT LoteMes,InitQuantity,Quantity,LocPK,
LOCID,LocPath,ParentLocPK,Descripcion,
ID_Orden,Tiempo_Inicio_Real,Tiempo_Fin_Real,
Estado,CASE WHEN (ID_Orden like '%FL%' OR ID_Orden like '%PR%') AND Material not like '%Dummy%'  THEN SUBSTRING(Material,0,CHARINDEX('-',Material)) else Material end Cod_Material,pkLote
FROM
(
SELECT LoteMes,InitQuantity,Quantity,LocPK,
LOCID,LocPath,ParentLocPK,Descripcion,
ID_Orden,Tiempo_Inicio_Real,Tiempo_Fin_Real,
Estado,CASE WHEN (ID_Orden like '%FL%' OR ID_Orden like '%PR%') AND Cod_Material not like '%Dummy%'  THEN [dbo].[GetMostoFromEnvasado](Cod_Material,'MOP','MDH') else Cod_Material end Material,pkLote
FROM(
--obtengo las op de coc, y fer que están en producción
SELECT distinct lum.LoteMes,lum.InitQuantity,lum.Quantity,lum.LocPK,
lum.LOCID,lum.LocPath,lum.ParentLocPK,lum.Descripcion,
o.ID_Orden,o.Tiempo_Inicio_Real,o.Tiempo_Fin_Real,
o.Estado,o.Cod_Material,o.pkLote
FROM LoteUbicacionMaterial_FAB lum 
INNER JOIN Ordenes_FAB o on o.pkLote = lum.LotPK
WHERE o.Estado <> 'Terminated' and lum.Descripcion <> 'TANQUE-PRELLENADO' and o.ID_Orden not like '%GU%' AND o.Cod_Material not like '%Dummy%'
UNION ALL 
--obtengo las op de coc y fil planificadas	
SELECT '' lote,Cantidad_Material,Cantidad_Material Quantity,0 LocPK,'' LocID,'' LocPath,0 ParentLocPk,'' Descripcion,ID_Orden,Coalesce(Tiempo_Inicio_Real,Tiempo_Inicio_Estimado) inicio,Tiempo_Fin_Real,Estado,
Cod_Material,'' pkLote
FROM Ordenes_FAB 
WHERE Estado = 'Ready'	
UNION ALL
--obtengo lo que hay en los TCP agrupado por artículo
SELECT LoteMes,Quantity,TCPs.TCPQuantity,LocPK,LOCID,LocPath,ParentLocPK,Descripcion,o.ID_Orden,o.Tiempo_Inicio_Real,o.Tiempo_Fin_Real,o.Estado,lum.DefID,o.pkLote
FROM LoteUbicacionMaterial_FAB lum
LEFT JOIN (SELECT Sum(Quantity) TCPQuantity,DefID
			FROM LoteUbicacionMaterial_FAB
			WHERE Descripcion ='TANQUE-PRELLENADO'
			Group by DefID) TCPs on Tcps.DefID=lum.DefID
LEFT JOIN Ordenes_FAB o on o.pkLote=lum.LotPK
WHERE Descripcion ='TANQUE-PRELLENADO' and o.Estado <> 'Terminated'
UNION ALL
--obtengo las op de fil que están en producción	
SELECT distinct lotop.LotID,lum.InitQuantity,lotop.OldQuantity Quantity,lum.LocPK,
lum.LOCID,lum.LocPath,lum.ParentLocPK,lum.Descripcion,
o.ID_Orden,o.Tiempo_Inicio_Real,o.Tiempo_Fin_Real,
o.Estado,SUBSTRING(lotop.Comments,0,CHARINDEX(';',lotop.Comments)) Material,o.pkLote
FROM LoteUbicacionMaterial_FAB lum 
INNER JOIN Ordenes_FAB o on o.pkLote = lum.LotPK
INNER JOIN [SITMesDb].dbo.MTMV2_B_LOT_OP lotop on lotop.LotID like '%'+SUBSTRING(LoteMes,CHARINDEX('_',LoteMes)+4,LEN(LoteMes))
WHERE o.Estado = 'In Progress' and o.ID_Orden like '%FL%' and lotop.Comments <> '' and LotID not like '%Dummy%' and lotop.SourceLotID is null) aux
)aux
UNION ALL
--obtengo las op de gu
SELECT distinct lum.LoteMes,lum.InitQuantity,lum.Quantity,lum.LocPK,
lum.LOCID,lum.LocPath,lum.ParentLocPK,lum.Descripcion,
o.ID_Orden,o.Tiempo_Inicio_Real,o.Tiempo_Fin_Real,
o.Estado,Substring(lotop.Comments,0,CHARINDEX(';',lotop.Comments)),o.pkLote
FROM LoteUbicacionMaterial_FAB lum
INNER JOIN Ordenes_FAB o on o.pkLote = lum.LotPK
INNER JOIN [SITMesDb].dbo.MTMV2_B_LOT_OP lotop on lotop.LotID=lum.LoteMes
WHERE o.ID_Orden like '%GU%' and lotop.SourceLotID is not null and o.Estado <> 'Terminated'
GO
