USE [MES_MSM]
GO
/****** Object:  View [dbo].[Materiales_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[Materiales_FAB]
AS
SELECT 
	mmd.DefID AS IdMaterial,
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(mmd.DefName,'DummyMaterial_WP','Material por defecto para cocción'),'DummyMaterial_FE','Material por defecto para fermentación'),'DummyMaterial_FL','Material por defecto para filtración'),'DummyMaterial_GU','Material por defecto para guarda'),'DummyMaterial_PR','Material por defecto para prellenado'),'DummyMaterial_TR','Material por defecto para trasiegos') as Nombre,
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(mmd.Descript,'DummyMaterial_WP','Material por defecto para cocción'),'DummyMaterial_FE','Material por defecto para fermentación'),'DummyMaterial_FL','Material por defecto para filtración'),'DummyMaterial_GU','Material por defecto para guarda'),'DummyMaterial_PR','Material por defecto para prellenado'),'DummyMaterial_TR','Material por defecto para trasiegos' )as Descripcion,
	--mmd.Descript as Descripcion,
	mmc.ClassID as IdClase,
	mmc.Descript as Clase,
	MMDV.VLabel as Version,
	mmvs.DefStatusID as Status,
	mesu.UomID as UdMedida,
	CASE WHEN mmdv.EffectiveFrom IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](mmdv.EffectiveFrom) END AS F_EfectivoDesde,
	mmdv.EffectiveFrom AS F_EfectivoDesdeUTC,
	CASE WHEN mmdv.EffectiveTill IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](mmdv.EffectiveTill) END AS F_EfectivoHasta,
	mmdv.EffectiveTill AS F_EfectivoHastaUTC,
	mmdv.IsCurrent as EnUso,
	mmdv.CreatedBy as Autor,
	CASE WHEN mmdv.CreatedOn IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](mmdv.CreatedOn) END AS FechaCreacion,
	mmdv.CreatedOn as FechaCreacionUTC,
	CASE WHEN mmdv.LastUpdate IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](mmdv.LastUpdate) END AS FechaUltCreacion,
	mmdv.LastUpdate as FechaUltCreacionUTC,
	mmdv.LastUser as ModificadoPor,
	COALESCE(mmdv.AdditionalInfo,'') as InfoAdicional,
	MMT.TypeID as Tipo,
	MMT.TypeCD as DescTipo,
	MMDV.DEFPK AS PK_Material,
	COALESCE(BOMMAT.Descript,'') as BOM
  FROM [SITMesDB].[dbo].[MMvDefVers] MMDV
  INNER JOIN [SITMesDB].[dbo].[MMvDefinitions] mmd on mmd.DefPK = MMDV.DefPK
  INNER JOIN [SITMesDB].[dbo].[MMvDefStatuses] mmvs on mmvs.DefStatusPK = MMDV.DefStatusPK
  INNER JOIN SITMesDB.dbo.MESUoMs mesu	ON mesu.UomPK = MMDV.UomPK
  INNER JOIN [SITMesDB].dbo.MMvClasses mmc on mmc.ClassPK = mmd.ClassPK 
  INNER JOIN SITMesDB.dbo.MMvTypes MMT on MMT.TypePK = mmc.TypePK
  LEFT JOIN SITMesDB.dbo.MTMV2_B_BOM BOMMAT on BOMMAT.DefID=mmd.DefID
  WHERE MMT.TypeID not in ('02','03')
  --15986 Obsoletos en Datos Maestros ==> esta linea permite excluir los datos obsoletos
  AND mmvs.DefStatusID = 'APPROVED' 

GO
