USE [MES_MSM]
GO
/****** Object:  View [dbo].[Turnos]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[Turnos]
AS
SELECT
	SCH.shc_work_sched_day_pk AS Id
	,REPLACE(LN.id, 'SHC_', '') AS Linea
	,SCH.work_date AS Fecha
	,SCH.work_start AS InicioTurno
	,SCH.work_end AS FinTurno
	,ISNULL(SCH.shc_shift_id, 0) AS IdTipoTurno
	,wt.label AS Turno
	,ROW_NUMBER() OVER (ORDER BY CONVERT(DATETIME, SCH.work_start) ASC) ID_Ordenado_Turno
FROM SITMesDB.dbo.SHCV_WORK_SCHED_DAY AS SCH
INNER JOIN SITMesDB.dbo.SHC_WORK_SCHED AS LN ON SCH.shc_work_sched_pk = LN.shc_work_sched_pk
INNER JOIN SITMesDB.dbo.SHC_WORKING_TIME WT ON WT.ID = ISNULL(SCH.shc_shift_id, 0)


GO
