USE [MES_MSM]
GO
/****** Object:  View [dbo].[Ordenes_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[Ordenes_FAB]
AS
SELECT
	pom_order_pk AS Cod_Orden
	,pom_order_id AS ID_Orden
	,note AS Des_Orden
	,matl_def_id AS Cod_Material
	,produced_qty AS CantidadProducida
	,pom_matl_qty AS Cantidad_Material
	,uom_id AS UOM_Material
	,DATEADD(MI,-estimated_start_time_bias,estimated_start_time) AS Tiempo_Inicio_Estimado
	,estimated_start_time AS Tiempo_Inicio_EstimadoUTC
	,DATEADD(MI,-estimated_end_time_bias, estimated_end_time) AS Tiempo_Fin_Estimado
	,estimated_end_time AS Tiempo_Fin_EstimadoUTC
	,DATEADD(MI,-actual_start_time_bias, actual_start_time) AS Tiempo_Inicio_Real
	,actual_start_time AS Tiempo_Inicio_RealUTC
	,DATEADD(MI,-actual_end_time_bias, actual_end_time)  AS Tiempo_Fin_Real
	,actual_end_time AS Tiempo_Fin_RealUTC
	,pom_order_type_id AS TipoOrden
	,ppr_name AS EquipoOrden
	,pom_order_status_pk AS IdEstado
	,pom_order_status_id AS Estado
	,SRC_ID as pkLote
	,ppr_name 
	,order_detail_transition_group_id AS Transition_Group
 FROM SITMesDB.dbo.POMV_ORDR
where pom_order_id LIKE '%FAB%'
GO
