USE [MES_MSM]
GO
/****** Object:  View [dbo].[TipoOrden_Fab]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[TipoOrden_Fab]
AS
SELECT	pom_order_type_pk as Cod_TipoOrden, id as Des_TipoOrden,ordersName.Area
FROM [SITMesDB].dbo.POMV_ORDR_TPY orders
INNER JOIN (select Distinct TYP,SUBSTRING(SUBSTRING(PPR,CHARINDEX('.',PPR)+1,len(PPR)),0,CHARINDEX('.',SUBSTRING(PPR,CHARINDEX('.',PPR)+1,len(PPR)))) Area
		   from [SITMesDB].dbo.PDefM_PPR pdefm
		   INNER JOIN Planta_FAB p on pdefm.PPR like p.NAME+'.%') ordersName ON orders.id = ordersName.TYP
WHERE id NOT LIKE 'WO%'
GO
