USE [MES_MSM]
GO
/****** Object:  View [dbo].[PlantillasTurnosFabrica]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[PlantillasTurnosFabrica]
AS
SELECT
	VWSD.PRD_WRK_SCHD_ID AS Plantilla	
	--,SWT.id AS IdTipoTurno
	,CASE WHEN SWT.id = '0'
				 THEN SWT.id
				 ELSE TiposTurno.Id
	END AS IdTipoTurno
	,SWT.label AS TipoTurno
	,SWT.type AS PropTurno
	,VWSD.TMPLT_ID AS WDTemplate
	,CASE
		WHEN SWT.isdayafter = 1 THEN DATEDIFF(HOUR, SWT.work_start, DATEADD(DAY, 1,
			SWT.work_end))
		WHEN SWT.isdaybefore = 1 THEN DATEDIFF(HOUR, DATEADD(DAY, -1, SWT.work_start), SWT.work_end)
		ELSE DATEDIFF(HOUR, SWT.work_start,
			SWT.work_end)
	END AS HorasTurno
	,DATEPART(WEEKDAY, DATEADD(DAY, VWSD.POS, DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0))) AS diaSemana
FROM SITMesDB.dbo.MDSSHC_PRD_WRK_SCHD_DAY AS VWSD
INNER JOIN SITMesDB.dbo.SHC_SHIFT_TEMPLATE AS ST
	ON ST.id = VWSD.SHT_TMPLT_ID
INNER JOIN SITMesDB.dbo.SHC_WORKING_TIME AS SWT
	ON SWT.id = VWSD.WKT_ID
INNER JOIN (select Id,Inicio,Fin from TiposTurno where id in ('1','2','3')) as TiposTurno on ((SWT.work_start >= TiposTurno.Inicio and SWT.work_start <= TiposTurno.Fin) AND (SWT.work_end >= TiposTurno.Inicio and SWT.work_end <= TiposTurno.Fin)) or ((DATEADD(d, 1, SWT.work_start) >= TiposTurno.Inicio and DATEADD(d, 1, SWT.work_start) <= TiposTurno.Fin) AND (DATEADD(d, 1, SWT.work_end) >= TiposTurno.Inicio and DATEADD(d, 1, SWT.work_end) <= TiposTurno.Fin) OR (SWT.work_start >= TiposTurno.Inicio and SWT.work_start <= TiposTurno.Fin) AND (DATEADD(d, 1, SWT.work_end) >= TiposTurno.Inicio and DATEADD(d, 1, SWT.work_end) <= TiposTurno.Fin))
WHERE (VWSD.TMPLT_ID <> '<NA>')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VWSD"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ST"
            Begin Extent = 
               Top = 6
               Left = 269
               Bottom = 135
               Right = 474
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SWT"
            Begin Extent = 
               Top = 6
               Left = 512
               Bottom = 135
               Right = 714
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PlantillasTurnosFabrica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PlantillasTurnosFabrica'
GO
