USE [MES_MSM]
GO
/****** Object:  View [dbo].[ProduccionTurnosConsolidada]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ProduccionTurnosConsolidada]
AS


SELECT
	CONVERT(DATE, MIN(Consolidacion.FECHA_INICIO)) AS FECHA
	,MIN(Consolidacion.[FECHA_INICIO]) AS INICIO
	,MAX(Consolidacion.[FECHA_FIN]) AS FIN
	,Consolidacion.[SHC_WORK_SCHED_DAY_PK] AS Turno
	,SUM(Consolidacion.TIEMPO_NETO) AS TIEMPO_NETO
	,SUM(Consolidacion.TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO
	,SUM(Consolidacion.TIEMPO_PLANIFICADO) AS TIEMPO_PLANIFICADO
	,SUM(Consolidacion.VELOCIDAD_NOMINAL) AS VELNOMINAL
	,SUM(Consolidacion.CONTADOR_PRODUCCION) AS ENVASES_LLENADORA
	,SUM(Consolidacion.Contador_Rechazos) AS ENVASES_RECHAZADOS
	,SUM(PAL.CONTADOR_PRODUCCION) AS ENVASES_PALETIZADORA
	,CASE
		WHEN m.[MENOR_LLENADORA] = 1 THEN ISNULL(SUM(ISNULL(PAL.CONTADOR_RECHAZOS, 0)), 0)
		ELSE 0
	END AS 'ENVASES_VACIOS_RECHAZADOS'
	,CASE
		WHEN m.[MENOR_LLENADORA] = 0 THEN ISNULL(ISNULL(SUM(ISNULL(PAL.CONTADOR_RECHAZOS, 0)), 0) + SUM(Consolidacion.Contador_Rechazos), 0)
		ELSE 0
	END AS 'ENVASES_LLENOS_RECHAZADOS'
	,ISNULL(SUM(ISNULL(PAL.CONTADOR_RECHAZOS, 0)), 0) AS RECHAZOS_RESTO
	,CASE
		WHEN SUM(Consolidacion.Velocidad_NOMINAL) = 0 THEN 0
		ELSE (SUM(Consolidacion.CONTADOR_PRODUCCION) / SUM(Consolidacion.VELOCIDAD_NOMINAL) * 100)
	END AS 'Rendimiento_Mecanico'
	,CASE
		WHEN SUM(Consolidacion.[TIEMPO_PLANIFICADO]) = 0 THEN 0
		ELSE ((SUM(Consolidacion.[TIEMPO_OPERATIVO]) / SUM(Consolidacion.[TIEMPO_PLANIFICADO])) * 100)
	END AS Disponibilidad
	,CASE
		WHEN SUM(Consolidacion.TIEMPO_OPERATIVO) = 0 THEN 0
		ELSE ((SUM(Consolidacion.TIEMPO_NETO) / SUM(Consolidacion.TIEMPO_OPERATIVO)) * 100)
	END AS Eficiencia
	,CASE
		WHEN SUM(Consolidacion.TIEMPO_OPERATIVO) = 0 OR
			SUM(Consolidacion.[TIEMPO_PLANIFICADO]) = 0 THEN 0
		ELSE ((SUM(Consolidacion.[TIEMPO_OPERATIVO]) / SUM(Consolidacion.[TIEMPO_PLANIFICADO])) * (SUM(Consolidacion.[TIEMPO_NETO]) / SUM(Consolidacion.[TIEMPO_OPERATIVO])) * 1.0) * 100.0
	END AS OEE
	,SUM(PAL.CONTADOR_PRODUCCION) AS TotalPalets
	,MIN(M.Linea) AS LINEA
	,1 AS CALIDAD
FROM COB_MSM_PROD_LLENADORA_HORA AS Consolidacion
INNER JOIN Turnos ON Consolidacion.[SHC_WORK_SCHED_DAY_PK] = Turnos.Id
INNER JOIN Maquinas M ON Consolidacion.ID_MAQUINA = M.Id
LEFT JOIN COB_MSM_PROD_RESTO_MAQ_HORA PAL ON PAL.HORA = Consolidacion.HORA  AND PAL.SHC_WORK_SCHED_DAY_PK = Consolidacion.SHC_WORK_SCHED_DAY_PK
INNER JOIN DBO.Maquinas M2 ON PAL.ID_MAQUINA = M2.Id AND M2.Clase = 'PALETIZADORA'
WHERE ISNULL(Consolidacion.ID_ORDEN,'') != ''
GROUP BY Consolidacion.SHC_WORK_SCHED_DAY_PK,m.MENOR_LLENADORA


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[46] 4[15] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ProduccionTurnos"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 331
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Turnos"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 329
               Right = 298
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProduccionTurnosConsolidada'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProduccionTurnosConsolidada'
GO
