USE [MES_MSM]
GO
/****** Object:  View [dbo].[MMLocations_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[MMLocations_FAB]
AS


select * from [SITMesDB].[dbo].[MMvLocations]
WHERE LocPath NOT LIKE '%ENVASADO%' AND LocPath NOT LIKE '%TEST%'
GO
