USE [MES_MSM]
GO
/****** Object:  View [dbo].[MaquinasLogicasComunes]    Script Date: 01/03/2021 12:21:34 ******/
DROP VIEW [dbo].[MaquinasLogicasComunes]
GO
/****** Object:  View [dbo].[MaquinasLogicasComunes]    Script Date: 01/03/2021 12:21:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[MaquinasLogicasComunes]
AS
SELECT
	Maquinas.PkEquipo
	,Maquinas.Id
	,Maquinas.Nombre
	,Maquinas.IdBD
	,Maquinas.EquipoSuperior AS Linea
	,Maquinas.IdEquipoSuperior AS IdLinea
	,Maquinas.Nivel
	,Maquinas.IdNivel
	,Maquinas.Clase
	,Maquinas.IdClase
	,Maquinas.Descripcion
	,dbo.MaquinasZonas.Zona
	,dbo.MaquinasOrdenes.Orden
	,dbo.MaquinasOrdenes.FecHorAct AS FecHorActOrden
	,ISNULL(dbo.EstadoActualMaquinas.Estado, 0) AS Estado
	,CAST(Maquinas.Posicion AS INT) AS Posicion
	,Maquinas.RechazoManual AS RechazoManual
	, -- agomezn 05/07/16, añadido para filtrar en el desplegable de nuevo rechazo de Terminal
	CASE
		WHEN CONVERT(INT, Maquinas.POSICION) < CONVERT(INT, (SELECT
					MIN(CONVERT(INT, POSICION))
				FROM Equipos
				WHERE Clase = 'LLENADORA'
				AND EquipoSuperior = Maquinas.EquipoSuperior)
			) THEN 1
		ELSE 0
	END AS MENOR_LLENADORA
FROM dbo.Equipos AS Maquinas
LEFT OUTER JOIN dbo.MaquinasZonas
	ON Maquinas.PkEquipo = dbo.MaquinasZonas.PkEquipo
LEFT OUTER JOIN dbo.MaquinasOrdenes
	ON Maquinas.PkEquipo = dbo.MaquinasOrdenes.PkEquipo
LEFT OUTER JOIN dbo.EstadoActualMaquinas
	ON Maquinas.Nombre = dbo.EstadoActualMaquinas.IdMaquina
WHERE Maquinas.IdNivel IN (5 ,7)



GO
