USE [MES_MSM]
GO
/****** Object:  View [dbo].[EstadosOrden]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[EstadosOrden]
AS
SELECT
	pom_order_status_pk AS Id, id AS Estado, color
FROM SITMesDB.dbo.POM_ORDER_STATUS AS POM_ORDER_STATUS_1
WHERE (cond = 'Custom')




GO
