USE [MES_MSM]
GO
/****** Object:  View [dbo].[Picos]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[Picos]
AS

SELECT
	Picos.[$IDArchiveValue] AS IdPico
	,Picos.ID_ORDEN AS IdOrden
	,Picos.ID_PARTICION AS IdParticion
	,Picos.Cantidad
	,Picos.SHC_WORK_SCHED_DAY_PK AS IdTurno
	,dbo.Turnos.Fecha AS FechaTurno
	,dbo.Turnos.IdTipoTurno AS TipoTurno
FROM dbo.COB_MSM_PICOS_PROD AS Picos
INNER JOIN dbo.Turnos ON dbo.Turnos.Id = Picos.SHC_WORK_SCHED_DAY_PK

GO
