USE [MES_MSM]
GO
/****** Object:  View [dbo].[EquiposTags]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EquiposTags]
AS
SELECT        eq.equip_pk, eq.equip_id, prp.equip_prpty_id, prp.equip_prpty_type, prp.equip_prpty_value, prp.uomID, prp.equip_prpty_persistency_log, prp.equip_prpty_category, 
                         prp.equip_prpty_pk
FROM            SITMesDB.dbo.BPM_EQUIPMENT AS eq INNER JOIN
                         SITMesDB.dbo.BPM_EQUIPMENT_PROPERTY AS prp ON prp.equip_pk = eq.equip_pk
WHERE        (prp.equip_prpty_id LIKE '%#UNIT') OR
                         (prp.equip_prpty_id LIKE '%#CUBE%')

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EquiposTags'
GO
