USE [MES_MSM]
GO
/****** Object:  View [dbo].[Equipos]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Equipos]
AS
SELECT   Equipos.equip_id AS Id, Equipos.equip_name AS Nombre, Equipos.equip_uuid AS IdBD, Equipos.equip_superior AS EquipoSuperior, Equipos.equip_prnt_pk AS IdEquipoSuperior, Equipos.equip_class_lvl_id AS Nivel, Equipos.equip_class_lvl_pk AS IdNivel, Clases.equip_class_name AS Clase, 
             Equipos.equip_class_pk AS IdClase, Equipos.equip_status AS Estado, Equipos.equip_label AS Descripcion, Equipos.equip_pk AS PkEquipo, Prop.equip_prpty_value AS Posicion, ISNULL(equipment_properties.equip_prpty_value, N'false') AS RechazoManual
FROM     SITMesDb.dbo.BPMV_EQPT AS Equipos INNER JOIN
             SITMesDb.dbo.BPMV_EQPT_CLS AS Clases ON Clases.equip_class_pk = Equipos.equip_class_pk INNER JOIN
             SITMesDb.dbo.BPM_EQUIPMENT_PROPERTY AS Prop ON Equipos.equip_pk = Prop.equip_pk AND Prop.equip_prpty_id = 'POSICION' LEFT OUTER JOIN
             SITMesDb.dbo.BPM_EQUIPMENT_PROPERTY AS equipment_properties ON Equipos.equip_pk = equipment_properties.equip_pk AND equipment_properties.equip_prpty_id = 'RECHAZO_MANUAL'
WHERE   (Equipos.equip_in_plant = 1) AND (Equipos.equip_status = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[17] 2[38] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Equipos"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 317
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Clases"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 322
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Prop"
            Begin Extent = 
               Top = 405
               Left = 57
               Bottom = 602
               Right = 384
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "equipment_properties"
            Begin Extent = 
               Top = 603
               Left = 57
               Bottom = 800
               Right = 384
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Equipos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Equipos'
GO
