USE [MES_MSM]
GO
/****** Object:  View [dbo].[DiasFestivos]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[DiasFestivos]
AS
SELECT
	FESTIVOS.shc_holiday_pk AS id
	,FESTIVOS.holiday_date AS fecha
	,FESTIVOS_DESC.descript AS descripcion
	,FESTIVOS_DESC.md_lang_code_pk AS idioma
FROM SITMesDB.dbo.SHC_HOLIDAY AS FESTIVOS
INNER JOIN SITMesDB.dbo.SHC_HOLIDAY_DESC AS FESTIVOS_DESC
	ON FESTIVOS.shc_holiday_pk = FESTIVOS_DESC.shc_holiday_pk


GO
