USE [MES_MSM]
GO
/****** Object:  View [dbo].[MaquinasLineas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MaquinasLineas]
AS
SELECT
	Lineas.ID_LINEA AS NumLinea
	,Equipos.equip_id AS Id
	,Equipos.equip_name AS Nombre
	,Clases.equip_class_name AS Clase
	,Equipos.equip_class_pk AS IdClase
	,Equipos.equip_label AS Descripcion
	,Equipos.equip_pk AS PkEquipo
FROM SITMesDB.dbo.BPMV_EQPT AS Equipos
INNER JOIN SITMesDB.dbo.BPMV_EQPT_CLS AS Clases
	ON Clases.equip_class_pk = Equipos.equip_class_pk
INNER JOIN COB_MSM_LINEAS AS Lineas
	ON Equipos.equip_superior = Lineas.LINEA
INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] Posicion
	ON Equipos.equip_pk = Posicion.equip_pk
	AND [equip_prpty_id] = 'POSICION'
WHERE Equipos.equip_in_plant = 1
AND Equipos.equip_class_lvl_pk = 5 and Equipos.equip_status = 1

GO
