USE [MES_MSM]
GO
/****** Object:  View [dbo].[Ordenes_GU]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Ordenes_GU]
as
SELECT        pom_order_pk AS Cod_Orden, pom_order_id AS ID_Orden, note AS Des_Orden, matl_def_id AS Cod_Material, pom_matl_qty AS Cantidad_Material, 
                         uom_id AS UOM_Material, estimated_start_time AS Tiempo_Inicio_Estimado, estimated_start_time AS Tiempo_Inicio_EstimadoUTC, 
                         estimated_end_time AS Tiempo_Fin_Estimado, estimated_end_time AS Tiempo_Fin_EstimadoUTC, actual_start_time AS Tiempo_Inicio_Real, 
                         actual_start_time AS Tiempo_Inicio_RealUTC, actual_end_time AS Tiempo_Fin_Real, actual_end_time AS Tiempo_Fin_RealUTC, pom_order_type_id AS TipoOrden, 
                         ppr_name AS EquipoOrden, pom_order_status_pk AS IdEstado, pom_order_status_id AS Estado, SRC_ID AS pkLote
FROM            SITMesDB.dbo.POMV_ORDR
WHERE        (pom_order_type_id = 'GU')
GO
