USE [MES_MSM]
GO
/****** Object:  View [dbo].[Celda_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE VIEW [dbo].[Celda_FAB]
AS
SELECT
	eq.equip_pk AS [CeldaPK]
	,eq.equip_id AS [ID]
	,eq.equip_prnt_pk AS [AreaPK]
	,eq.equip_in_plant AS [IsInPlant]
	,eq.equip_name AS [Name]
	,eq.equip_class_lvl_id AS [Level]
	,eqcls.[equip_class_lvl_pk] AS [ClassPK]
	,eqcls.equip_class_id AS [ClassID]
	,module.module_name AS [ModuleName]
	,eqproperty.equip_prpty_value AS [C_External-IDSloc]
	,eqproperty2.equip_prpty_value AS equipPropL9
	,eqproperty3.equip_prpty_value AS TipoUbicacion
	, CASE WHEN pos.equip_prpty_value IS NULL THEN NULL
	ELSE CONVERT(INT,pos.equip_prpty_value) END AS Posicion
FROM [SITMesDB].[dbo].BPMV_EQPT as eq
INNER JOIN [SITMesDB].[dbo].BPMV_EQPT_CLS eqcls ON (eq.equip_class_pk = eqcls.equip_class_pk)
INNER JOIN [SITMesDB].[dbo].BPM_MODULE module ON (eqcls.module_pk = module.module_pk)
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty ON (eq.equip_pk = eqproperty.equip_pk) AND eqproperty.equip_prpty_id = N'OBJECT-LABEL'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty2 ON (eq.equip_pk = eqproperty2.equip_pk) AND eqproperty2.equip_prpty_id = 'L9'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty3 ON (eq.equip_pk = eqproperty3.equip_pk) AND eqproperty3.equip_prpty_id = 'Tipo_Ubicacion'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY pos ON (eq.equip_pk = pos.equip_pk) AND pos.equip_prpty_id = N'POSICION'
WHERE eq.equip_in_plant = 'true' AND eq.equip_class_lvl_id <> 'Logical-Cell'
AND eq.equip_class_lvl_id <> 'Logical-Unit'
AND eq.equip_id NOT LIKE '%-interface'
AND eqcls.equip_class_lvl_id = 'Cell' 
AND eq.[equip_status] =1
AND eqcls.equip_class_id NOT LIKE '%ENVASADO%'
GO
