USE [MES_MSM]
GO
/****** Object:  View [dbo].[KOPs_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[KOPs_FAB]
AS
SELECT 
	KOP.pom_process_segment_parameter_pk AS Cod_KOP
	,KOP.name AS ID_KOP
	,KOP.description AS Des_KOP
	,ORD.pom_order_pk AS Cod_Orden
	,KOP.pom_order_id AS ID_Orden
	,CASE
when ENT.LBL = 'D_WP' then 'Orden cocción'
when ENT.LBL = 'D_FE' then 'Orden fermentación'
when ENT.LBL = 'D_FL' then 'Orden filtración'
when ENT.LBL = 'D_GU' then 'Orden guarda'
when ENT.LBL = 'D_PR' then 'Orden prellenado'
		ELSE ps_name
	END AS ID_Procedimiento
	,ENT.pom_entry_pk AS Cod_Procedimiento
	,KOP.type AS Tipo_KOP
	,COALESCE(CASE
		WHEN VAL.ACTL_VAL <> '' AND
			type = 'DateTime' THEN CONVERT(VARCHAR(10),
			CONVERT(DATETIME, REPLACE(VAL.ACTL_VAL, 'T', ' ')), 103) + ' ' + CONVERT(VARCHAR(8), CONVERT(DATETIME, REPLACE(VAL.ACTL_VAL, 'T', ' ')), 24)
		WHEN KOP.GRP LIKE '%MULTIVALOR%' THEN CASE
				WHEN (SELECT
							COUNT(PARM_PK)
						FROM SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL
						WHERE PARM_PK = KOP.pom_process_segment_parameter_pk)
					<> 0 THEN CAST
					((SELECT
							COUNT(PARM_PK)
						FROM SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL
						WHERE PARM_PK = KOP.pom_process_segment_parameter_pk)
					AS NVARCHAR(MAX)) + ' Valores asignados'
				ELSE ''
			END
		ELSE ISNULL(REPLACE(VAL.ACTL_VAL, '.', ','), REPLACE(KOP.value, '.', ','))
		--ELSE ISNULL(REPLACE(KOP.value, '.', ','),ISNULL(REPLACE(VAL.ACTL_VAL, '.', ','),'')) 
	END,'') AS Valor_Actual
	,COALESCE(ISNULL(REPLACE(VAL.LOW_VAL, '.', ','), REPLACE(KOP.min_val, '.', ',')),'') AS Valor_Minimo
	,COALESCE(ISNULL(REPLACE(VAL.HIGH_VAL, '.', ','), REPLACE(KOP.max_val, '.', ',')),'') AS Valor_Maximo
	,KOP.mandatory AS Obligatorio
	,COALESCE(KOP.uom_id,'') AS UOM_KOP	
	,CASE
		WHEN VAL.TS IS NULL AND
			KOP.RowUpdated IS NULL THEN NULL
		WHEN VAL.TS IS NULL THEN [dbo].[ToLocalDateTime](KOP.RowUpdated)
		ELSE [dbo].[ToLocalDateTime](VAL.TS)
	END AS Fecha
	,ISNULL(VAL.TS, KOP.RowUpdated) AS FechaUTC
	,CASE
		WHEN KOP.GRP LIKE '%MANU%' OR
			KOP.GRP LIKE '%MANUAL%' THEN 'MANUAL'
		WHEN KOP.GRP LIKE '%CALCULADO' THEN 'CALCULADO'
		WHEN KOP.GRP LIKE '%CAPTURADO%' THEN 'CAPTURADO'
		WHEN KOP.GRP LIKE '%CALCULADO_ACUMULADO' THEN 'CALCULADO ACUMULADO'
		WHEN KOP.GRP LIKE '%MULTIVALOR%' THEN 'MU LTIVALOR'
		WHEN KOP.GRP LIKE '%CONSTANTE%' THEN 'CONSTANTE'
		ELSE 'HISTORICO'
	END AS TipoKOP
	,ENT.sequence AS Sequence_Procedimiento
	,CASE
		WHEN VAL.PK IS NULL THEN 0
		ELSE VAL.PK
	END AS PkActVal
	,KOP.seq AS Sequence_KOP
FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM AS KOP
INNER JOIN SITmesDB.dbo.POMV_ETRY AS ENT
	ON KOP.pom_entry_id = ENT.pom_entry_id
INNER JOIN SITmesDB.DBO.POMV_ORDR AS ORD
	ON KOP.pom_order_id = ORD.pom_order_id
--LEFT  JOIN  SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL  AS VAL
LEFT OUTER JOIN (SELECT
		PK
		,PARM_PK
		,ACTL_VAL
		,LOW_VAL
		,HIGH_VAL
		,TS
	FROM SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL AS POMV_PCS_PARM_ACTL_VAL_2
	WHERE (PK IN (SELECT
			MAX(PK) AS Expr1
		FROM SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL AS POMV_PCS_PARM_ACTL_VAL_1
		GROUP BY PARM_PK)
	)) AS VAL
	ON KOP.pom_process_segment_parameter_pk = VAL.PARM_PK
	AND KOP.GRP <> 'MULTIVALOR'
	AND KOP.GRP <> 'HISTORICO'
WHERE (KOP.name NOT LIKE '#%')
AND (KOP.GRP <> 'HISTORICO') AND (KOP.GRP <> 'MULTIVALOR')
GO
