USE [MES_MSM]
GO
/****** Object:  View [dbo].[EspecificacionMateriales_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EspecificacionMateriales_FAB]
AS
SELECT        POMV_MATL_SPEC_ITM_1.pom_material_pk AS Cod_POM_Material, POMV_MATL_SPEC_ITM_1.name AS NombreEM, POMV_MATL_SPEC_1.type_str AS TipoEM, 
                         POMV_MATL_SPEC_ITM_1.def_id AS Id_Material, MTMV2_B_DEF_15.Descript AS Descripcion_Material, o.Cod_Orden, 
                         POMV_MATL_SPEC_ITM_1.pom_order_id AS Id_ORDEN, POMV_MATL_SPEC_ITM_1.location_id AS Id_Localizacion, 
                         POMV_MATL_SPEC_ITM_1.actual_qty AS Cantidad_Actual, POMV_MATL_SPEC_ITM_1.quantity AS Cantidad_Estimada, POMV_MATL_SPEC_ITM_1.location_id, 
                         POMV_MATL_SPEC_ITM_1.uom_id AS Unidad_Medida, POMV_MATL_SPEC_ITM_1.actual_def_id AS Id_Material_Actual, 
                         POMV_MATL_SPEC_ITM_1.ACTL_ERP_LOT_ID AS ActualERPLotID, POMV_MATL_SPEC_ITM_1.actual_lot AS Id_Lote, POMV_MATL_SPEC_ITM_1.ALS AS Alias, 
                         POMV_MATL_SPEC_ITM_1.seq AS UniqueNumber, CASE WHEN POMV_MATL_SPEC_ITM_1.RowUpdated IS NULL 
                         THEN POMV_MATL_SPEC_ITM_1.RowUpdated ELSE [dbo].[ToLocalDateTime](POMV_MATL_SPEC_ITM_1.RowUpdated) END AS RowUpdated, 
                         POMV_MATL_SPEC_ITM_1.RowUpdated AS RowUpdatedUTC, CONVERT(VARCHAR(255), POMV_MATL_LST_PRP_VAL.pom_cf_value) AS Equipo_Origen, 
                         POMV_MATL_SPEC_1.pom_entry_id AS Id_POM_ENTRY, POMV_MATL_SPEC_1.pom_entry_pk AS Cod_POM_ENTRY
FROM            SITMesDB.dbo.POMV_MATL_SPEC_ITM AS POMV_MATL_SPEC_ITM_1 INNER JOIN
                         SITMesDB.dbo.POMV_MATL_SPEC AS POMV_MATL_SPEC_1 ON 
                         POMV_MATL_SPEC_1.pom_material_specification_pk = POMV_MATL_SPEC_ITM_1.pom_material_specification_pk LEFT OUTER JOIN
                         SITMesDB.dbo.POMV_MATL_SPEC_ITM_PRP AS POMV_MATL_SPEC_ITM_PRP_4 ON 
                         POMV_MATL_SPEC_ITM_1.pom_material_pk = POMV_MATL_SPEC_ITM_PRP_4.pom_material_list_pk AND 
                         POMV_MATL_SPEC_ITM_PRP_4.pom_custom_fld_name = N'SABsloc' LEFT OUTER JOIN
                         SITMesDB.dbo.POMV_MATL_LST_PRP_VAL AS POMV_MATL_LST_PRP_VAL_6 ON 
                         POMV_MATL_SPEC_ITM_PRP_4.pom_material_list_custom_field_pk = POMV_MATL_LST_PRP_VAL_6.pom_material_list_custom_field_pk LEFT OUTER JOIN
                         SITMesDB.dbo.POMV_MATL_SPEC_ITM_PRP AS POMV_MATL_SPEC_ITM_PRP_10 ON 
                         POMV_MATL_SPEC_ITM_1.pom_material_pk = POMV_MATL_SPEC_ITM_PRP_10.pom_material_list_pk AND 
                         POMV_MATL_SPEC_ITM_PRP_10.pom_custom_fld_name = N'Location' LEFT OUTER JOIN
                         SITMesDB.dbo.POMV_MATL_LST_PRP_VAL AS POMV_MATL_LST_PRP_VAL ON 
                         POMV_MATL_SPEC_ITM_PRP_10.pom_material_list_custom_field_pk = POMV_MATL_LST_PRP_VAL.pom_material_list_custom_field_pk INNER JOIN
                         SITMesDB.dbo.MTMV2_B_DEF AS MTMV2_B_DEF_15 ON POMV_MATL_SPEC_ITM_1.def_id = MTMV2_B_DEF_15.DefID INNER JOIN
                         dbo.Ordenes_FAB AS o ON o.ID_Orden = POMV_MATL_SPEC_ITM_1.pom_order_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "o"
            Begin Extent = 
               Top = 930
               Left = 38
               Bottom = 1059
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_SPEC_ITM_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 296
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_SPEC_1"
            Begin Extent = 
               Top = 6
               Left = 334
               Bottom = 135
               Right = 586
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_SPEC_ITM_PRP_4"
            Begin Extent = 
               Top = 6
               Left = 624
               Bottom = 135
               Right = 897
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_LST_PRP_VAL_6"
            Begin Extent = 
               Top = 6
               Left = 935
               Bottom = 135
               Right = 1241
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_SPEC_ITM_PRP_10"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 267
               Right = 311
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POMV_MATL_LST_PRP_VAL"
            Begin Extent = 
               Top = 138
               Left = 349
               Bottom = 26' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EspecificacionMateriales_FAB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'7
               Right = 655
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MTMV2_B_DEF_15"
            Begin Extent = 
               Top = 138
               Left = 693
               Bottom = 267
               Right = 863
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EspecificacionMateriales_FAB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EspecificacionMateriales_FAB'
GO
