USE [MES_MSM]
GO
/****** Object:  View [dbo].[Procedimiento_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [dbo].[Procedimiento_FAB]
AS
SELECT Cod_Procedimiento,ID_Procedimiento,
CASE WHEN (CHARINDEX('Transferencia',Des_Procedimiento) <> 0 OR CHARINDEX('Siembra',Des_Procedimiento) <> 0)
THEN CASE WHEN (CHARINDEX('Transferencia',ID_Procedimiento) <> 0) THEN Substring(Des_Procedimiento,0,CHARINDEX('_',Des_Procedimiento)) else Des_Procedimiento end
ELSE Des_Procedimiento 
END Des_Procedimiento,
Cod_Orden,ID_Orden
,ID_Material,Cantidad_Material,ID_Uom,Estado_Procedimiento,Orden_Procedimiento
,ID_Equipo,Des_Equipo,Tiempo_Inicio,Tiempo_InicioUTC,Tiempo_Fin,Tiempo_FinUTC,IDEstado_Procedimiento
FROM
(SELECT pom_entry_pk as Cod_Procedimiento,pom_entry_id as ID_Procedimiento,
CASE WHEN ps_name = 'AuxEntry' 
	THEN 
		CASE WHEN pom_entry_id NOT LIKE 'Entry%' THEN  pom_entry_id ELSE ps_name END
	ELSE ps_name 
END AS Des_Procedimiento
,pom_order_pk as Cod_Orden
,pom_order_id as ID_Orden
,matl_def_id as ID_Material
,pom_matl_qty as Cantidad_Material
,uom_id as ID_Uom
,pom_entry_status_id as Estado_Procedimiento
,sequence as Orden_Procedimiento
, EQ.Name AS ID_Equipo
,EQ.Descripcion as Des_Equipo
,CASE WHEN actual_start_time IS NULL THEN NULL
ELSE [dbo].[ToLocalDateTime](actual_start_time) END AS Tiempo_Inicio
,actual_start_time as Tiempo_InicioUTC
,CASE WHEN actual_end_time IS NULL THEN NULL
ELSE [dbo].[ToLocalDateTime](actual_end_time) END AS Tiempo_Fin
, actual_end_time as Tiempo_FinUTC
,pom_entry_status_pk as IDEstado_Procedimiento
FROM SitMesDB.[dbo].[POMV_ETRY] PR
INNER JOIN [dbo].[Equipo_FAB] EQ ON PR.equip_pk = EQ.EquipoPK) aux
GO
