USE [MES_MSM]
GO
/****** Object:  View [dbo].[Planta_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[Planta_FAB]
AS
SELECT 
	eq.equip_pk AS [PlantaPK]
	,eq.equip_id AS [ID]
	,eq.equip_in_plant AS [IsInPlant]
	,eq.equip_name AS [Name]
	,eq.equip_class_lvl_id AS [Level]
	,eqcls.[equip_class_lvl_pk] AS [ClassPK]
	,eqcls.equip_class_id AS [ClassID]
	,module.module_name AS [ModuleName]
	,eqproperty.equip_prpty_value AS [C_External-IDSloc]
FROM [SITMesDB].[dbo].BPMV_EQPT as eq
INNER JOIN [SITMesDB].[dbo].BPMV_EQPT_CLS eqcls ON (eq.equip_class_pk = eqcls.equip_class_pk)
INNER JOIN [SITMesDB].[dbo].BPM_MODULE module ON (eqcls.module_pk = module.module_pk)
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty ON (eq.equip_pk = eqproperty.equip_pk) AND eqproperty.equip_prpty_id = N'C_External-ID'
WHERE eq.equip_in_plant = 'true' AND eq.equip_class_lvl_id <> 'Logical-Cell'
AND eq.equip_class_lvl_id <> 'Logical-Unit'
AND eq.equip_id NOT LIKE '%-interface'
AND eqcls.equip_class_lvl_id = 'Site'
GO
