USE [MES_MSM]
GO
/****** Object:  View [dbo].[vLogBook]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vLogBook]
AS
SELECT         
	ApplicationId,
	ComputerName,
	Section,
	[Level],
	[Description],
	[TimeStamp],
	[$IDArchiveValue] AS Id,
	[ProcessName],
	[UserName]
FROM [dbo].[LogBook] 
UNION
SELECT        
	ApplicationId,
	ComputerName,
	Section,
	[Level],
	[Description],
	[TimeStamp],
	[Id] AS Id,
	[ProcessName],
	[UserName]
FROM [dbo].[LogBookWeb]
GO
