USE [MES_MSM]
GO
/****** Object:  View [dbo].[BeerTypes_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[BeerTypes_FAB]
AS
	SELECT ISNULL(ROW_NUMBER() OVER(Order by aux.Beer),0) ID,aux.*
	FROM(SELECT DISTINCT cast([dbo].GetNameBeer(Descript) as nvarchar(25)) Beer
		 FROM [SITMesDB].[dbo].[MTMV2_B_DEF]
		 WHERE ClassID = 'MOS' AND Descript NOT LIKE 'CZA%' AND Descript NOT LIKE 'MOSTO%' AND Descript NOT LIKE 'Default%') aux
GO
