USE [MES_MSM]
GO
/****** Object:  View [dbo].[TiemposCambio]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TiemposCambio]
AS
SELECT     TiemposCambio.[$IDArchiveValue] AS IdTiempoCambio, Lineas.LINEA, TiemposCambio.ID_PRODUCTO_ENTRANTE AS IdProductoEntrante, ProdEnt.Descripcion AS ProductoEntrante, TiemposCambio.ID_PRODUCTO_SALIENTE AS IdProductoSaliente, 
                  ProdSal.Descripcion AS ProductoSaliente, TiemposCambio.TIEMPO_OBJETIVO_1 AS Tobj1, ProdEnt.Descripcion, TiemposCambio.TIEMPO_OBJETIVO_2 AS Tobj2, TiemposCambio.TIEMPO_CALCULADO_1 AS Tm, TiemposCambio.TIEMPO_CALCULADO_2, 
                  TiemposCambio.TIEMPO_PREACTOR, TiemposCambio.INHABILITAR_CALCULO AS InhabilitarCalculo
FROM        dbo.COB_MSM_TIEMPOS_CAMBIOS AS TiemposCambio INNER JOIN
                  dbo.COB_MSM_LINEAS AS Lineas ON Lineas.ID_LINEA = TiemposCambio.FK_LINEAS_ID INNER JOIN
                  dbo.Productos AS ProdEnt ON TRY_CAST(ProdEnt.IdProducto AS INT) = TiemposCambio.ID_PRODUCTO_ENTRANTE INNER JOIN
                  dbo.Productos AS ProdSal ON TRY_CAST(ProdSal.IdProducto AS INT) = TiemposCambio.ID_PRODUCTO_SALIENTE
WHERE     (ISNUMERIC(ProdEnt.IdProducto) = 1) AND (ISNUMERIC(ProdSal.IdProducto) = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[16] 4[36] 2[33] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1608
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TiemposCambio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TiemposCambio'
GO
