USE [MES_MSM]
GO
/****** Object:  View [dbo].[Equipo_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE VIEW [dbo].[Equipo_FAB]
AS
SELECT
	eq.equip_pk AS [EquipoPK]
	,eq.equip_id AS [ID]
	,eq.equip_prnt_pk AS [CeldaPK]
	,eq.equip_in_plant AS [IsInPlant]
	,eq.equip_name AS [Name]
	,eq.equip_class_lvl_id AS [Level]
	,eqcls.[equip_class_lvl_pk] AS [ClassPK]
	,eqcls.equip_class_id AS [ClassID]
	,module.module_name AS [ModuleName]
	,eqproperty.equip_prpty_value AS ID_ORDEN
	,eqpropertyLang.equip_prpty_value as [Descripcion]
	, tipoU.equip_prpty_value as Tipo_Ubicacion
	, estado.equip_prpty_value as Estado
	, CASE WHEN pos.equip_prpty_value IS NULL THEN NULL
	ELSE CONVERT(INT,pos.equip_prpty_value) END AS Posicion
	, CASE WHEN cmax.equip_prpty_value IS NULL THEN 0
	ELSE CONVERT(INT,cmax.equip_prpty_value) END AS Capacidad_Maxima
FROM [SITMesDB].[dbo].BPMV_EQPT as eq
INNER JOIN [SITMesDB].[dbo].BPMV_EQPT_CLS eqcls ON (eq.equip_class_pk = eqcls.equip_class_pk)
INNER JOIN [SITMesDB].[dbo].BPM_MODULE module ON (eqcls.module_pk = module.module_pk)
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty ON (eq.equip_pk = eqproperty.equip_pk) AND eqproperty.equip_prpty_id = N'ORDER_ID'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqpropertyLang ON (eq.equip_pk = eqpropertyLang.equip_pk) AND eqpropertyLang.equip_prpty_id = N'OBJECT-LABEL'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY tipoU ON (eq.equip_pk = tipoU.equip_pk) AND tipoU.equip_prpty_id = N'TIPO_UBICACION'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY estado ON (eq.equip_pk = estado.equip_pk) AND estado.equip_prpty_id = N'EQUIPMENT-STATUS'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY pos ON (eq.equip_pk = pos.equip_pk) AND pos.equip_prpty_id = N'POSICION'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY cmax ON (eq.equip_pk = cmax.equip_pk) AND cmax.equip_prpty_id = N'Capacidad_Maxima'
WHERE eq.equip_in_plant = 'true' AND eq.equip_class_lvl_id <> 'Logical-Cell'
AND eq.equip_class_lvl_id <> 'Logical-Unit'
AND eq.equip_id NOT LIKE '%-interface'
AND eqcls.equip_class_lvl_id  = 'Unit'
AND eqcls.equip_class_id NOT LIKE '%ENVASADO%'
GO
