USE [MES_MSM]
GO
/****** Object:  View [dbo].[LoteUbicacion_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















CREATE VIEW [dbo].[LoteUbicacion_FAB]
AS
SELECT 
L.LocPK, 
L.LOCID, 
L.LocPath, 
L.ParentLocPK,  
ISNULL(EP.[equip_prpty_value],'') AS Descripcion , 
SUM(LOTS.InitQuantity) AS InitQuantity, 
SUM(LOTS.Quantity) AS Quantity, UOM.UomID, 
ISNULL(PV.[equip_prpty_value],'') AS PoliticaVaciado,
Lots.LotName AS LoteMes
FROM [SITMesDB].[dbo].[MMvLocations] L
INNER JOIN [SITMesDB].[dbo].[MMvLots] LOTS ON LOTS.LocPK = L.LocPK
--INNER JOIN [SITMesDB].[dbo].[MMvDefVers] DV ON LOTS.DefVerPK = DV.[DefVerPK]
--INNER JOIN [SITMesDB].[dbo].[MMvDefinitions] D ON DV.DefPK = D.DefPK
--INNER JOIN [SITMesDB].[dbo].[MMvClasses] C ON D.ClassPK = C.ClassPK
INNER JOIN [SITMesDB].[dbo].[MESvUoMs] UOM ON UOM.UomPK = LOTS.UomPK
INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT] E ON L.LOCPATH = E.EQUIP_ID --E.[equip_pk] = L.CommonLocPK
LEFT JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] EP ON E.[equip_pk] = EP.[equip_pk] AND EP.EQUIP_PRPTY_ID = 'OBJECT-LABEL'
LEFT JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] PV ON E.[equip_pk] = PV.[equip_pk] AND PV.EQUIP_PRPTY_ID = 'POLITICA_DE_VACIADO'
--INNER JOIN [dbo].[Equipo_FAB] E ON E.ID = L.LocPath
LEFT JOIN [SITMesDB].[dbo].[MMLotsCustom] LEXT /*WITH_NOLOCK*/ ON LOTS.LotPK = LEXT.LotPK 
GROUP BY L.LocPK, L.LOCID, L.LocPath,EP.[equip_prpty_value],UOM.UomID,L.ParentLocPK,PV.[equip_prpty_value],Lots.LotName
GO
