USE [MES_MSM]
GO
/****** Object:  View [dbo].[EstadoHistoricoMaquinas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[EstadoHistoricoMaquinas]
AS
SELECT DISTINCT
	EstadoActMaquinas.StartTime AS FecInicio
	,EstadoActMaquinas.EndTime AS FecFin
	,dbo.Equipos.EquipoSuperior AS Linea
	,dbo.MaquinasZonas.Zona
	,EqPPA.EquipmentName AS IdMaquina
	,EstadoActMaquinas.Level0 AS Estado
FROM dbo.OEEDTMTable AS EstadoActMaquinas
INNER JOIN (SELECT
		EqID
		,PPAObjectId
	FROM PPA.dbo.Equipment_Extension_Link AS Equipment_Extension_Link_1
	GROUP BY	EqID
				,PPAObjectId) AS versiones
	ON versiones.PPAObjectId = EstadoActMaquinas.EqID
INNER JOIN PPA.dbo.Equipment AS EqPPA
	ON EqPPA.EquipmentId = versiones.EqID
INNER JOIN dbo.Equipos
	ON EqPPA.EquipmentName = dbo.Equipos.Nombre
INNER JOIN dbo.MaquinasZonas
	ON dbo.MaquinasZonas.PkEquipo = dbo.Equipos.PkEquipo
WHERE (NOT (EstadoActMaquinas.EndTime IS NULL))


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "EstadoActMaquinas"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "versiones"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 285
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EqPPA"
            Begin Extent = 
               Top = 287
               Left = 48
               Bottom = 448
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Equipos"
            Begin Extent = 
               Top = 448
               Left = 48
               Bottom = 609
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MaquinasZonas"
            Begin Extent = 
               Top = 609
               Left = 48
               Bottom = 726
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EstadoHistoricoMaquinas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'= 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EstadoHistoricoMaquinas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EstadoHistoricoMaquinas'
GO
