USE [MES_MSM]
GO
/****** Object:  View [dbo].[Particiones]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* DSG: Modificado el 01/12/2021 por el Bug 898 Si el producto no tiene PPR asociada, en la pantalla de histórico de WO aparece la línea "SIN LINEA ASOCIADA, realizando los sientes cambios:
 * En la columnas del SELECT se ha cambiado dbo.ParametrosLinea.idLinea AS Linea por Entradas.equip_long_name AS Linea
 * En en el FROM se ha cambiado LEFT OUTER JOIN dbo.ParametrosLinea ON Ordenes.ppr_name = dbo.ParametrosLinea.PPR por INNER JOIN SITMesDb.dbo.POMV_ETRY as Entradas ON Ordenes.pom_order_pk = Entradas.pom_order_pk 
 * En el WHERE Ordenes.pom_order_type_id IN ('Envasado', 'WO_ENVASADO') por Ordenes.pom_order_type_id = 'WO_ENVASADO' 
*/

CREATE VIEW [dbo].[Particiones]
AS
SELECT     Ordenes.pom_order_id AS Id, dbo.ParametrosOrdenes.idOrdenPadre, dbo.ParametrosOrdenes.IdSubOrden, Ordenes.estimated_start_time AS FecIniEstimada, Ordenes.estimated_end_time AS FecFinEstimada, Ordenes.actual_start_time AS FecIniReal, 
                  Ordenes.actual_end_time AS FecFinReal, Ordenes.matl_def_id AS IdProducto, Ordenes.pom_matl_qty AS CantidadPlanificada, Ordenes.produced_qty AS CantidadProducida, Ordenes.pom_order_status_id AS EstadoAct, Ordenes.pom_order_status_pk AS IdEstadoAct, 
                  Ordenes.prev_pom_order_status_id AS EstadoAnt, Ordenes.prev_pom_order_status_pk AS IdEstadoAnt, Entradas.equip_long_name AS Linea, Ordenes.note AS Descripcion, Ordenes.RowUpdated AS FecHorAct, 
                  ISNULL(CAST(dbo.ParametrosOrdenes.VelocidadNominal AS FLOAT), 0) AS VelocidadNominal, ISNULL(NULLIF (CAST(dbo.ParametrosOrdenes.OEEObjetivo AS FLOAT), 0), ISNULL(CAST(dbo.ParametrosOrdenes.OEEObjetivo AS FLOAT), 0)) AS OEEObjetivo, 
                  ISNULL(NULLIF (CAST(dbo.ParametrosOrdenes.OEECritico AS FLOAT), 0), ISNULL(CAST(dbo.ParametrosOrdenes.OEECritico AS FLOAT), 0)) AS OEECritico, Ordenes.ERP_ID AS CodigoJDE, Ordenes.ppr_name AS PPR, ISNULL(CAST(Ordenes.scrapped_qty AS INT), 0) 
                  AS Rechazos, ISNULL(CAST(dbo.ParametrosOrdenes.OEE AS FLOAT), 0) AS OEE, ISNULL(CAST(dbo.ParametrosOrdenes.Disponibilidad AS FLOAT), 0) AS Disponibilidad, ISNULL(CAST(dbo.ParametrosOrdenes.Eficiencia AS FLOAT), 0) AS Eficiencia, 
                  ISNULL(CAST(dbo.ParametrosOrdenes.Calidad AS FLOAT), 1) AS Calidad, ISNULL(CAST(dbo.ParametrosOrdenes.RendMecanico AS FLOAT), 0) AS RendMecanico, ISNULL(CAST(dbo.ParametrosOrdenes.EnvasesPorPalet AS INT), 0) AS EnvasesPorPalet, 
                  ISNULL(CAST(dbo.ParametrosOrdenes.CajasPorPalet AS INT), 0) AS CajasPorPalet, ISNULL(CAST(dbo.ParametrosOrdenes.HectolitrosProducto AS NUMERIC(16, 6)), 0) AS HectolitrosProducto, dbo.ParametrosOrdenes.CausaPausa,
                      (SELECT     COALESCE (SUM(CANTIDAD), 0) AS Expr1
                       FROM        dbo.COB_MSM_PICOS_PROD
                       WHERE     (ID_PARTICION = Ordenes.pom_order_id)) AS PicosCajas, (CASE WHEN dbo.ParametrosOrdenes.OEEPreactor IS NULL THEN NULL ELSE CAST(dbo.ParametrosOrdenes.OEEPreactor AS float) END) AS OEEPreactor, ISNULL(CAST( dbo.ParametrosOrdenes.WoStatusChangeOnGoing AS INT), 0) AS WoStatusChangeOnGoing
					  

FROM	SITMesDb.dbo.POMV_ORDR AS Ordenes 
		INNER JOIN SITMesDb.dbo.POMV_ETRY as Entradas ON Ordenes.pom_order_pk = Entradas.pom_order_pk 
		LEFT OUTER JOIN dbo.ParametrosOrdenes ON Ordenes.pom_order_id = dbo.ParametrosOrdenes.IdOrden
WHERE   Ordenes.pom_order_type_id = 'WO_ENVASADO' AND dbo.ParametrosOrdenes.IdSubOrden > 0
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[20] 4[13] 2[54] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ordenes"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 329
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ParametrosLinea"
            Begin Extent = 
               Top = 6
               Left = 367
               Bottom = 135
               Right = 554
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ParametrosOrdenes"
            Begin Extent = 
               Top = 6
               Left = 592
               Bottom = 135
               Right = 788
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 33
         Width = 284
         Width = 2448
         Width = 2856
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         C' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Particiones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'olumn = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Particiones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Particiones'
GO
