USE [MES_MSM]
GO
/****** Object:  View [dbo].[OrdenesArranque]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OrdenesArranque]
AS
SELECT        Ordenes.pom_order_id AS Id, Lineas.LINEA AS IdLinea, Lineas.ID_LINEA AS Linea, Lineas.NUM_LINEA AS NumLineaDescripcion, Lineas.DESC_LINEA AS DescripcionLinea, 
                         dbo.ToLocalDateTime(Ordenes.actual_start_time) AS InicioReal, Ordenes.actual_start_time AS InicioUTC, Turno.shc_working_time_id AS TipoTurnoId, Turno.descript AS TipoTurno, 
                         Turno.work_date AS FechaTurno, CAST(COALESCE (OrdenArr.Orden, '') AS NVARCHAR(250)) AS OrdenEntrante, ProdArr.IdProducto AS IDProductoEntrante, ProdArr.Nombre AS ProductoEntrante, 
                         CASE WHEN CONVERT(INT, TIEMPO1.Tiempo) <= 0 THEN 0 ELSE ISNULL(CONVERT(INT, CONVERT(FLOAT, Tiempo1.Tiempo) / 60), 0) END AS MinutosFinal1, CASE WHEN CONVERT(INT, TIEMPO2.Tiempo) 
                         <= 0 THEN 0 ELSE ISNULL(CONVERT(INT, CONVERT(FLOAT, Tiempo2.Tiempo) / 60), 0) END AS MinutosFinal2, ISNULL(CONVERT(INT, TiempoObjetivoLle.MinutosObjetivo1), 0) AS MinutosObjetivo1, 
                         ISNULL(CONVERT(INT, TiempoObjetivoPal.MinutosObjetivo2), 0) AS MinutosObjetivo2, ISNULL(CONVERT(INT, TB.VAL), 0) AS TipoArranque, tiemposArranque.[$IDArchiveValue] AS ID_ARRANQUE, 
                         Ordenes.pom_order_status_id AS EstadoAct, '' AS IndicadorLlenadora, '' AS IndicadorPaletizadora, ISNULL(CONVERT(INT, TP.TiempoPreactor), 0) AS TiempoPreactor
FROM            SITMesDb.dbo.POMV_ORDR AS Ordenes INNER JOIN
                         dbo.COB_MSM_LINEAS AS Lineas ON Lineas.LINEA = Ordenes.equip_long_name INNER JOIN
                         SITMesDb.dbo.SHC_WORK_SCHED AS Calendar ON Calendar.id = Ordenes.equip_long_name INNER JOIN
                             (SELECT        VAL, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP
                               WHERE        (pom_custom_fld_name = 'ARRANQUE_ID')) AS TB ON TB.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                         SITMesDb.dbo.SHCV_WORK_SCHED_DAY AS Turno ON Turno.shc_work_sched_pk = Calendar.shc_work_sched_pk AND Turno.work_start <= Ordenes.actual_start_time AND 
                         Turno.work_end > Ordenes.actual_start_time LEFT OUTER JOIN
                             (SELECT        p.Nombre, p.IdProducto, POMV_ORDR_PRP_6.pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_6 INNER JOIN
                                                         dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP_6.VAL
                               WHERE        (POMV_ORDR_PRP_6.pom_custom_fld_name = 'CMB_MATERIAL_1')) AS ProdArr ON ProdArr.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS Tiempo, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_5
                               WHERE        (pom_custom_fld_name = 'TIEMPO_1') AND (pom_order_id LIKE '%OA%')) AS Tiempo1 ON Tiempo1.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS Tiempo, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_4
                               WHERE        (pom_custom_fld_name = 'TIEMPO_2') AND (pom_order_id LIKE '%OA%')) AS Tiempo2 ON Tiempo2.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS MinutosObjetivo1, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_3
                               WHERE        (pom_custom_fld_name = 'TIEMPO_OBJETIVO_LLE') AND (pom_order_id LIKE '%OA%')) AS TiempoObjetivoLle ON TiempoObjetivoLle.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS MinutosObjetivo2, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_2
                               WHERE        (pom_custom_fld_name = 'TIEMPO_OBJETIVO_PAL') AND (pom_order_id LIKE '%OA%')) AS TiempoObjetivoPal ON TiempoObjetivoPal.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS TiempoPreactor, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_7
                               WHERE        (pom_custom_fld_name = 'TIEMPO_PREACTOR') AND (pom_order_id LIKE '%OA%')) AS TP ON TP.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                             (SELECT        VAL AS Orden, pom_order_id
                               FROM            SITMesDb.dbo.POMV_ORDR_PRP AS POMV_ORDR_PRP_1
                               WHERE        (pom_custom_fld_name = 'CMB_WO_1')) AS OrdenArr ON OrdenArr.pom_order_id = Ordenes.pom_order_id LEFT OUTER JOIN
                         dbo.COB_MSM_TIEMPOS_ARRANQUES AS tiemposArranque ON tiemposArranque.ID_PRODUCTO_ENTRANTE = ProdArr.IdProducto AND tiemposArranque.FK_LINEAS_ID = Lineas.ID_LINEA AND 
                         tiemposArranque.FK_ARRANQUES_ID = CONVERT(INT, TB.VAL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[18] 4[15] 2[54] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ordenes"
            Begin Extent = 
               Top = 134
               Left = 655
               Bottom = 263
               Right = 946
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lineas"
            Begin Extent = 
               Top = 165
               Left = 361
               Bottom = 294
               Right = 570
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Calendar"
            Begin Extent = 
               Top = 0
               Left = 368
               Bottom = 129
               Right = 585
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Turno"
            Begin Extent = 
               Top = 0
               Left = 999
               Bottom = 129
               Right = 1215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProdArr"
            Begin Extent = 
               Top = 6
               Left = 623
               Bottom = 119
               Right = 793
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Tiempo1"
            Begin Extent = 
               Top = 264
               Left = 608
               Bottom = 360
               Right = 778
            End
            DisplayFlags = 280
       ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OrdenesArranque'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     TopColumn = 0
         End
         Begin Table = "Tiempo2"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 366
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TiempoObjetivoLle"
            Begin Extent = 
               Top = 294
               Left = 246
               Bottom = 390
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TiempoObjetivoPal"
            Begin Extent = 
               Top = 360
               Left = 468
               Bottom = 456
               Right = 652
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OrdenArr"
            Begin Extent = 
               Top = 360
               Left = 690
               Bottom = 456
               Right = 860
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tiemposArranque"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 267
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TP"
            Begin Extent = 
               Top = 366
               Left = 38
               Bottom = 462
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OrdenesArranque'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OrdenesArranque'
GO
