USE [MES_MSM]
GO
/****** Object:  View [dbo].[RecursoTipoOrden_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[RecursoTipoOrden_FAB]
AS

SELECT PPR as Recurso, TYP as TipoOrden
FROM [SITMesDB].[dbo].[PDMV_PPR]
WHERE PPR_TargetOrderLifeCycle = 'OM'
GO
