USE [MES_MSM]
GO
/****** Object:  View [dbo].[LlenadorasLineas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[LlenadorasLineas]
AS
SELECT 
Equipos.equip_id AS Id, 
Equipos.equip_name AS Nombre, 
Equipos.equip_label AS Linea, 
Equipos.equip_pk AS PkEquipo,
Lineas.ID_LINEA AS NumLinea,
Lineas.DESC_LINEA AS DescLinea,
Lineas.NUM_LINEA AS NumeroLineaDescripcion
FROM     SITMesDB.dbo.BPMV_EQPT AS Equipos INNER JOIN
SITMesDB.dbo.BPMV_EQPT_CLS AS Clases ON Clases.equip_class_pk = Equipos.equip_class_pk AND equip_class_name = 'LLENADORA'
INNER JOIN COB_MSM_LINEAS AS Lineas ON Equipos.equip_superior = Lineas.LINEA
WHERE  
Equipos.equip_in_plant = 1 and Equipos.equip_status = 1
GO
