USE [MES_MSM]
GO
/****** Object:  View [dbo].[SalasCocciones]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[SalasCocciones]
AS
	select h.locpk, h.locpath, h.localias
	from sitmesdb.dbo.mmlocations p
		inner join sitmesdb.dbo.mmlocations h on p.locpk = h.parentlocpk
			and p.locid = 'COCCION' and h.locid LIKE '%SC%'
GO
