USE [MES_MSM]
GO
/****** Object:  View [dbo].[PlanningDecanting_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PlanningDecanting_FAB]
as
select o.*,e.equip_long_name
from Ordenes_FAB o
left join SITMesDb.dbo.POMV_EXE_EQPT e on e.pom_order_id = o.ID_Orden
where Estado = 'Ready' AND TipoOrden = 'TR' and  e.srt_num = 2
GO
