USE [MES_MSM]
GO
/****** Object:  View [dbo].[vOEEDTMTable]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*dbo.ParametrosLinea.idLinea = Ordenes.equip_long_name AND dbo.ParametrosLinea.Producto = Ordenes.matl_def_id*/
CREATE VIEW [dbo].[vOEEDTMTable] AS
SELECT     
	OEE.StartTime, 
	OEE.EndTime, 
	OEE.EqID, 
	OEE.Level0, 
	OEE.Level1, 
	OEE.Level2, 
	OEE.Level3, 
	OEE.SI0, 
	OEE.SI1, 
	OEE.SI2, 
	OEE.SI3, 
	OEE.SI4, 
	OEE.SI5, 
	OEE.SI6, 
	OEE.SI7, 
	OEE.SI8, 
	OEE.SI9, 
	OEE.Actions, 
	OEE.ObjectId, 
	OEE.TimeCategory, 
	OEE.Valid, 
	OEE.Lock, 
	OEE.EngVersion, 
	OEE.ProductId, 
	OEE.GroupName, 
	OEE.UserName, 
	OEE.LotID, 
	OEE.OrderID, 
	OEE.BatchID, 
	OEE.Shift, 
	OEE.UserComment, 
    OEE.AlrRootID, 
	OEE.AlrInstID, 
	OEE.AlrEqGUID, 
	OEE.ob_db_id, 
	OEE.ob_db_name, 
	OEE.[$UnIdent]
FROM        
	dbo.OEEDTMTable OEE
GO
