USE [MES_MSM]
GO
/****** Object:  View [dbo].[ProductosLineas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*AND Materiales.PPR_Current = 1*/
CREATE VIEW [dbo].[ProductosLineas]
AS

   SELECT
	distinct isnull(LineaPPR.ExecEquipList_ExecEquipLongName,Pom.equip_long_name) AS Linea
	,Materiales.PPR
	,Materiales.PPR_FinalMaterialId AS Material
	,LineaPPR.ExecEquipList_PPRVersion AS Versionado
FROM SITMesDB.dbo.PDefM_PPR AS Materiales
INNER JOIN SITMesDB.dbo.PDefM_PS_ExecEquipList AS LineaPPR ON ExecEquipList_PPR = Materiales.PPR AND ExecEquipList_PPRVersion = Materiales.PPR_Version
LEFT JOIN SITMesDB.[dbo].[POMV_ETRY] (NOLOCK)
  AS Pom
   ON  Materiales.PPR  =  Pom.ppr_name

--SELECT DISTINCT	
--	Materiales.equip_long_name as Linea
--	,Materiales.ppr_name as PPR
--	,ISNULL(Materiales.matl_def_id,Materiales2.PPR_FinalMaterialId) as Material
--	,Materiales.PPR_Version as Versionado	
--FROM    SITMesDB.[dbo].[POMV_ETRY] (NOLOCK) AS Materiales
--			LEFT JOIN SITMesDB.dbo.PDefM_PPR AS Materiales2 (NOLOCK)
--			ON  Materiales2.PPR  =  materiales.ppr_name
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Materiales"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 335
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "subc2"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 329
               Right = 306
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductosLineas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductosLineas'
GO
