USE [MES_MSM]
GO
/****** Object:  View [dbo].[HighDensityBeer_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[HighDensityBeer_FAB]
AS
	SELECT ISNULL(ROW_NUMBER() OVER(Order by aux.Beer),0) ID,aux.*
	FROM(SELECT DISTINCT mat.Descript Beer,mat.DefID
			FROM [SITMesDB].[dbo].[MMProperties] Prop 
			LEFT JOIN [SITMesDB].[dbo].[MMwDefVerPrpVals] propV on propV.PropertyPK=Prop.PropertyPK 
			LEFT JOIN [SITMesDB].[dbo].[MTMV2_B_DEF] mat on  mat.DefID=propV.DefID  
			WHERE Prop.PropertyID = 'Subclase_codigo' and ClassID = 'CZH' and propV.PValue= 'CZH') aux
GO
