USE [MES_MSM]
GO
/****** Object:  View [dbo].[KOPs_FAB_Historian]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[KOPs_FAB_Historian]
AS
SELECT pom_process_segment_parameter_pk as Cod_KOP, name as ID_KOP, description as Des_KOP,
ORD.pom_order_pk AS Cod_Orden ,KOP.pom_order_id as ID_Orden, case
when ENT.LBL = 'D_WP' then 'Orden Cocción'
when ENT.LBL = 'D_FE' then 'Orden Fermentación'
when ENT.LBL = 'D_FL' then 'Orden Filtración'
when ENT.LBL = 'D_GU' then 'Orden Guarda'
when ENT.LBL = 'D_PR' then 'Orden Prellenado'
when ENT.LBL = 'D_TR' then 'Orden Trasiego'
else ENT.ps_name
	--CASE
	--WHEN ENT.pom_entry_id LIKE '%' + ENT.pom_entry_type_id +'%' THEN ENT.pom_entry_type_id + '-' + LEFT(REVERSE(ENT.pom_entry_id),CHARINDEX('_',REVERSE(ENT.pom_entry_id))-1)
	--ELSE
	--ENT.pom_entry_type_id
	--END
	END AS ID_Procedimiento, 
Ent.pom_entry_pk as Cod_Procedimiento , type as Tipo_KOP, 
0 as Valor_Actual, 
Coalesce(DB.MinValue,0.0) as Valor_Minimo, 
Coalesce(DB.MaxValue,0.0) as Valor_Maximo,
mandatory as Obligatorio, KOP.uom_id as UOM_KOP, 
CASE
	WHEN KOP.RowUpdated IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](KOP.RowUpdated)
	END as Fecha,
KOP.RowUpdated as FechaUTC,
case
when KOP.GRP like '%MANU%' or KOP.GRP like '%MANUAL%' then 'Manual'
when KOP.GRP like '%CALCULADO' then 'Calculado'
when KOP.GRP like '%CAPTURADO%' then 'Capturado'
when KOP.GRP like '%CALCULADO_ACUMULADO' then 'Calculado Acumulado'
when KOP.GRP like '%MULTIVALOR%' then 'Multivalor' 
else 'Automático'
end as TipoKOP,
ENT.sequence as Sequence_Procedimiento,
0 AS PkActVal,
KOP.Seq as Sequence_KOP
FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM KOP
INNER JOIN SITmesDB.[dbo].[POMV_ETRY] ENT ON KOP.pom_entry_id = ENT.pom_entry_id
INNER JOIN SITmesDB.DBO.[POMV_ORDR] ORD  ON KOP.pom_order_id = ORD.[pom_order_id]
LEFT JOIN PPA.dbo.TAG tag on tag.TagID in (SELECT Max(TagID) TagID 
										   FROM PPA.dbo.TAG 
										   WHERE IsThreshold = 1
										   GROUP BY TagName,TagDescription,IsThreshold) AND tag.TagName like '%'+KOP.name
LEFT JOIN PPA.dbo.DEADBAND DB on DB.DeadBandId = tag.DeadBandId
WHERE name NOT LIKE '#%' AND KOP.GRP = 'HISTORICO' and tag.IsThreshold = 1
GO
