USE [MES_MSM]
GO
/****** Object:  View [dbo].[Materiales]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*WHERE  (Materiales.IsCurrent = 1)*/
CREATE VIEW [dbo].[Materiales]
AS
SELECT
	Materiales.DefID AS IdMaterial
	,Materiales.DefName AS Nombre
	,Materiales.Descript AS Descripcion
	,Materiales.ClassID AS IdClase
	,Clases.Descript AS Clase
	,Materiales.VLabel AS Version
	,Materiales.DefStatusID AS Status
	,Materiales.UomID AS UdMedida
	,Materiales.EffectiveFrom AS F_EfectivoDesde
	,Materiales.EffectiveTill AS F_EfectivoHasta
	,Materiales.IsCurrent AS EnUso
	,Materiales.CreatedBy AS Autor
	,Materiales.CreatedOn AS FechaCreacion
	,Materiales.LastUpdate AS FechaUltCreacion
	,Materiales.LastUser AS ModificadoPor
	,Materiales.AdditionalInfo AS InfoAdicional
	,Materiales.TypeID AS Tipo
	,MTypes.TypeCD AS DescTipo
	,Materiales.LotUomID AS IdLote
	,Gamas_1.PValue AS Gama
	,Marcas_1.PValue AS Marca
	,TiposEnvase_1.PValue AS TipoEnvase
	,Materiales.DefVerPK
FROM SITMesDB.dbo.MMwDefVers AS Materiales
LEFT OUTER JOIN SITMesDB.dbo.MMvClasses AS Clases ON Materiales.ClassID = Clases.ClassID
LEFT OUTER JOIN (SELECT
		DefVerPK
		,PValue
	FROM SITMesDB.dbo.MMvDefVerPrpVals AS Gamas
	WHERE (PropertyPK = dbo.GetPkParametroMaterial('Gama'))) AS Gamas_1 ON Gamas_1.DefVerPK = Materiales.DefVerPK
LEFT OUTER JOIN (SELECT
		DefVerPK
		,PValue
	FROM SITMesDB.dbo.MMvDefVerPrpVals AS Marcas
	WHERE (PropertyPK = dbo.GetPkParametroMaterial('Marca'))) AS Marcas_1 ON Marcas_1.DefVerPK = Materiales.DefVerPK
LEFT OUTER JOIN (SELECT
		DefVerPK
		,PValue
	FROM SITMesDB.dbo.MMvDefVerPrpVals AS TiposEnvase
	WHERE (PropertyPK = dbo.GetPkParametroMaterial('Tipo_Envase'))) AS TiposEnvase_1 ON TiposEnvase_1.DefVerPK = Materiales.DefVerPK
LEFT OUTER JOIN SITMesDB.dbo.MMTypes AS MTypes ON MTypes.TypeID = Materiales.TypeID
--WHERE        (Materiales.DefStatusID = 'APPROVED')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Materiales"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Clases"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 135
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Gamas_1"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 233
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Marcas_1"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 233
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TiposEnvase_1"
            Begin Extent = 
               Top = 234
               Left = 38
               Bottom = 329
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MTypes"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 135
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 22
         Width = 284
         Width = 1500
         Width = 150' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Materiales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Materiales'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Materiales'
GO
