USE [MES_MSM]
GO
/****** Object:  View [dbo].[Lotes_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Lotes_FAB]
AS
SELECT * 
FROM SITMesDB.dbo.MMLots
GO
