USE [MES_MSM]
GO
/****** Object:  View [dbo].[TiemposArranque]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TiemposArranque]
AS
SELECT     TiemposArranque.[$IDArchiveValue] AS IdTiempoArranque, Lineas.LINEA, TiemposArranque.ID_PRODUCTO_ENTRANTE AS IdProductoEntrante, ProdEnt.Descripcion AS ProductoEntrante, TiemposArranque.FK_ARRANQUES_ID AS TipoArranque, 
                  TiemposArranque.TIEMPO_OBJETIVO_1 AS Tobj1, ProdEnt.Descripcion, TiemposArranque.TIEMPO_OBJETIVO_2 AS Tobj2, TiemposArranque.TIEMPO_CALCULADO_1 AS Tm, TiemposArranque.TIEMPO_CALCULADO_2, TiemposArranque.TIEMPO_PREACTOR, 
                  TA.DESC_ARRANQUE AS DescArranque, TiemposArranque.INHABILITAR_CALCULO AS InhabilitarCalculo
FROM        dbo.COB_MSM_TIEMPOS_ARRANQUES AS TiemposArranque INNER JOIN
                  dbo.COB_MSM_LINEAS AS Lineas ON Lineas.ID_LINEA = TiemposArranque.FK_LINEAS_ID INNER JOIN
                  dbo.Productos AS ProdEnt ON CAST(ProdEnt.IdProducto AS BIGINT) = TiemposArranque.ID_PRODUCTO_ENTRANTE INNER JOIN
                  dbo.TIPOS_ARRANQUE AS TA ON TA.ID_ARRANQUE = TiemposArranque.FK_ARRANQUES_ID
WHERE     (ISNUMERIC(ProdEnt.IdProducto) = 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[30] 4[18] 2[33] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TiemposArranque"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 320
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lineas"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 329
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProdEnt"
            Begin Extent = 
               Top = 329
               Left = 48
               Bottom = 490
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TA"
            Begin Extent = 
               Top = 490
               Left = 48
               Bottom = 631
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TiemposArranque'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TiemposArranque'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TiemposArranque'
GO
