USE [MES_MSM]
GO
/****** Object:  View [dbo].[KOPs_FAB_MultiValor]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[KOPs_FAB_MultiValor] as
SELECT pom_process_segment_parameter_pk as Cod_KOP, name as ID_KOP, description as Des_KOP,
ORD.pom_order_pk AS Cod_Orden ,KOP.pom_order_id as ID_Orden, case
when ENT.LBL = 'D_WP' then 'Orden cocción'
when ENT.LBL = 'D_FE' then 'Orden fermentación'
when ENT.LBL = 'D_FL' then 'Orden filtración'
when ENT.LBL = 'D_GU' then 'Orden guarda'
when ENT.LBL = 'D_PR' then 'Orden prellenado'
else 
	CASE
	WHEN ENT.pom_entry_id LIKE '%' + ENT.pom_entry_type_id +'%' THEN ENT.pom_entry_type_id + '-' + LEFT(REVERSE(ENT.pom_entry_id),CHARINDEX('_',REVERSE(ENT.pom_entry_id))-1)
	ELSE
	ENT.pom_entry_type_id
	END
	END AS ID_Procedimiento, 
Ent.pom_entry_pk as Cod_Procedimiento , type as Tipo_KOP, 
CASE WHEN VAL.ACTL_VAL <> '' AND type='DateTime' THEN CONVERT(VARCHAR(10), convert(datetime,REPLACE(VAL.ACTL_VAL,'T',' ')), 103) +' '+ CONVERT(VARCHAR(8), convert(datetime,REPLACE(VAL.ACTL_VAL,'T',' ')), 24)
ELSE ISNULL(REPLACE(VAL.ACTL_VAL,'.',','), REPLACE(KOP.value,'.',',')) END as Valor_Actual, 
REPLACE(KOP.min_val,'.',',') as Valor_Minimo, 
REPLACE(KOP.max_val,'.',',') as Valor_Maximo,
mandatory as Obligatorio, KOP.uom_id as UOM_KOP, 
CASE
	WHEN VAL.TS IS NULL AND KOP.RowUpdated IS NULL THEN NULL
	WHEN VAL.TS IS NULL THEN [dbo].[ToLocalDateTime](KOP.RowUpdated)
	ELSE [dbo].[ToLocalDateTime](VAL.TS)
	END as Fecha,
ISNULL(VAL.TS,KOP.RowUpdated) as FechaUTC,
case
when KOP.GRP like '%MANU%' or KOP.GRP like '%MANUAL%' then 'Manual'
when KOP.GRP like '%CALCULADO' then 'Calculado'
when KOP.GRP like '%CAPTURADO%' then 'Capturado'
when KOP.GRP like '%CALCULADO_ACUMULADO' then 'Calculado Acumulado'
when KOP.GRP like '%MULTIVALOR%' then 'Multivalor' 
else 'Automático'
end as TipoKOP,
ENT.sequence as Sequence_Procedimiento,
CASE WHEN VAL.PK IS NULL THEN 0
ELSE VAL.PK END AS PkActVal,
KOP.Seq as Sequence_KOP
FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM KOP
LEFT JOIN SITmesDB.[dbo].[POMV_ETRY] ENT ON KOP.pom_entry_id = ENT.pom_entry_id
left JOIN SITmesDB.DBO.[POMV_ORDR] ORD  ON KOP.pom_order_id = ORD.[pom_order_id]
LEFT JOIN SITmesDB.DBO.[POMV_PCS_PARM_ACTL_VAL] VAL ON KOP.pom_process_segment_parameter_pk = VAL.PARM_PK 
WHERE name NOT LIKE '#%' AND KOP.GRP = 'MULTIVALOR'
GO
