USE [MES_MSM]
GO
/****** Object:  View [dbo].[RelHDBeer_HDBeerParameters_FAB]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE view [dbo].[RelHDBeer_HDBeerParameters_FAB]
  as
  select  Distinct hd.*,COB.DefID MaterialCod,BeerType,Coalesce(COB.AVVolumeForDecantingTanqs,0) AVVolumeForDecantingTanqs
  from HighDensityBeer_FAB hd
  LEFT JOIN COB_MSM_HDBeerParametersForDecanting cob on hd.DefID=cob.DefID
GO
