USE [MES_MSM]
GO
/****** Object:  View [dbo].[ParosPerdidas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ParosPerdidas]
AS
SELECT DISTINCT 
             Paros.[$IDArchiveValue] AS Id, Paros.FK_PAROS_ID AS IdTipoParoPerdida, TiposParosPerdidas.DESC_PARO AS TipoParoPerdida, dbo.LlenadorasLineas.NumLinea AS IdLinea, dbo.LlenadorasLineas.NumeroLineaDescripcion, dbo.LlenadorasLineas.DescLinea, Paros.SHC_WORK_SCHED_DAY_PK AS Turno, 
             T.Fecha AS FechaTurno, T.IdTipoTurno, T.Turno AS NombreTipoTurno, T.FinTurno, Paros.INICIO, Paros.FIN, dbo.ToLocalDateTime(Paros.INICIO) AS InicioLocal, dbo.ToLocalDateTime(Paros.FIN) AS FinLocal, dbo.LlenadorasLineas.Id AS EquipoId, dbo.LlenadorasLineas.Nombre AS EquipoNombre, 
             CAST(EstadosN0.IdMotivo AS VARCHAR) AS MotivoId, EstadosN0.Descripcion AS MotivoNombre, CAST(EstadosN1.IdCausa AS VARCHAR) AS CausaId, EstadosN1.Descripcion AS CausaNombre, Paros.JUSTIFICADO AS Justificado, Paros.OBSERVACIONES AS Observaciones, 
             MaquinasEnvasado.CodigoMaquina AS MaquinaCausaId, MaquinasEnvasado.Descripcion AS MaquinaCausaNombre, EquiposCons.CodigoEquipo AS EquipoConstructivoId, EquiposCons.Descripcion AS EquipoConstructivoNombre, Averias.Descripcion, ISNULL(Paros.NUMERO_PAROS_MENORES, 0) AS NumeroParosMenores, 
             Paros.DURACION_PAROS_MENORES AS DuracionParosMenores, CASE WHEN TiposParos.DESC_PARO = 'Paro Mayor' THEN Paros.DURACION ELSE 0 END AS DuracionParoMayor, Paros.DURACION_BAJA_VELOCIDAD AS DuracionBajaVelocidad, dbo.LlenadorasLineas.Linea AS EquipoDescripcion, ISNULL(Paros.DURACION, 0) 
             AS Duracion
FROM     dbo.COB_MSM_PAROS_PERDIDAS AS Paros LEFT OUTER JOIN
             dbo.COB_MSM_PAROS AS TiposParos ON TiposParos.ID_PARO = Paros.FK_PAROS_ID LEFT OUTER JOIN
             dbo.JustificacionParosMotivos AS EstadosN0 ON EstadosN0.IdMotivo = Paros.MOTIVO LEFT OUTER JOIN
             dbo.JustificacionParosCausas AS EstadosN1 ON EstadosN1.IdCausa = Paros.CAUSA INNER JOIN
             dbo.LlenadorasLineas ON dbo.LlenadorasLineas.Id = Paros.MAQUINA LEFT OUTER JOIN
             dbo.MaquinasEnvasado AS MaquinasEnvasado ON MaquinasEnvasado.CodigoMaquina = Paros.MAQUINA_RESPONSABLE LEFT OUTER JOIN
             dbo.EquiposConstructivosEnvasado AS EquiposCons ON EquiposCons.CodigoEquipo = Paros.EQUIPO_CONSTRUCTIVO INNER JOIN
             dbo.Turnos AS T ON T.Id = Paros.SHC_WORK_SCHED_DAY_PK INNER JOIN
             dbo.COB_MSM_PAROS AS TiposParosPerdidas ON TiposParosPerdidas.ID_PARO = Paros.FK_PAROS_ID LEFT OUTER JOIN
             dbo.DescripcionAverias AS Averias ON Averias.Descripcion = Paros.DESCRIPCION
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[11] 4[22] 2[49] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Paros"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 425
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TiposParos"
            Begin Extent = 
               Top = 9
               Left = 482
               Bottom = 179
               Right = 704
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EstadosN0"
            Begin Extent = 
               Top = 9
               Left = 761
               Bottom = 206
               Right = 1023
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EstadosN1"
            Begin Extent = 
               Top = 180
               Left = 482
               Bottom = 350
               Right = 704
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LlenadorasLineas"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 358
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MaquinasEnvasado"
            Begin Extent = 
               Top = 207
               Left = 761
               Bottom = 404
               Right = 1064
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EquiposCons"
            Begin Extent = 
               Top = 351
               Left = 415
               Bottom = 548
               Right = 718
            End
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParosPerdidas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "T"
            Begin Extent = 
               Top = 405
               Left = 57
               Bottom = 602
               Right = 320
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TiposParosPerdidas"
            Begin Extent = 
               Top = 405
               Left = 775
               Bottom = 575
               Right = 997
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Averias"
            Begin Extent = 
               Top = 549
               Left = 377
               Bottom = 746
               Right = 680
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParosPerdidas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParosPerdidas'
GO
