USE [MES_MSM]
GO
/****** Object:  View [dbo].[OEEPreactorLineaMateriaPrima]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OEEPreactorLineaMateriaPrima]
AS
SELECT        pe.ExecEquipList_ExecEquipLongName AS Linea, mf.DefID AS IdMaterial, bi.ItemAltName AS NombreMaterial, bi.Quantity AS Cantidad, uo.UomID AS UnidadMedida, md.DefID AS Producto, 
                         PARAMETRO_LINEA.OEEPreactor
FROM            SITMesDB.dbo.MMDefinitions AS md INNER JOIN
                         SITMesDB.dbo.MMvBomsWithAlts AS ba ON md.DefPK = ba.DefPK INNER JOIN
                         SITMesDB.dbo.MMBomItemAlts AS bi ON ba.BomAltPK = bi.BomAltPK INNER JOIN
                         SITMesDB.dbo.MMDefinitions AS mf ON bi.DefPK = mf.DefPK INNER JOIN
                         SITMesDB.dbo.MESUoMs AS uo ON bi.UomPK = uo.UomPK INNER JOIN
                         SITMesDB.dbo.PDefM_PPR AS pp ON ba.BomAltName = pp.PPR_FinalMaterialBOMId INNER JOIN
                         SITMesDB.dbo.PDefM_PS_ExecEquipList AS pe ON pp.PPR = pe.ExecEquipList_PPR INNER JOIN
                         dbo.ParametrosLinea AS PARAMETRO_LINEA ON PARAMETRO_LINEA.Producto = md.DefID AND PARAMETRO_LINEA.idLinea = pe.ExecEquipList_ExecEquipLongName
GO
