USE [MES_MSM]
GO
/****** Object:  View [dbo].[FillersByTCP]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  CREATE view [dbo].[FillersByTCP]
  as
	select distinct row_number() over(order by ml.Nombre) PK,ml.PkEquipo,TCPL.*,ml.Nombre,ml.Clase 
	from [MES_MSM].[dbo].[COB_MSM_LINEA_TCP] TCPL
	left join [MES_MSM].[dbo].[MaquinasLineas] ml on ml.Id like '%'+Cast(TCPL.IdLinea as nvarchar(max))+'%-%'
GO
