USE [MES_MSM]
GO
/****** Object:  View [dbo].[MaquinasLineasPlanConti]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[MaquinasLineasPlanConti]
AS
SELECT        Lineas.ID_LINEA AS NumLinea, Equipos.equip_id AS Id, Equipos.equip_name AS Nombre, Clases.equip_class_name AS Clase, 
                         Equipos.equip_class_pk AS IdClase, Equipos.equip_label AS Descripcion, Equipos.equip_pk AS PkEquipo, ISNULL(CONVERT(INT, Posicion.equip_prpty_value), 0) 
                         AS Posicion
FROM            SITMesDB.dbo.BPMV_EQPT AS Equipos INNER JOIN
                         SITMesDB.dbo.BPMV_EQPT_CLS AS Clases ON Clases.equip_class_pk = Equipos.equip_class_pk INNER JOIN
                         dbo.COB_MSM_LINEAS AS Lineas ON Equipos.equip_superior = Lineas.LINEA INNER JOIN
                         SITMesDB.dbo.BPM_EQUIPMENT_PROPERTY AS Posicion ON Equipos.equip_pk = Posicion.equip_pk AND Posicion.equip_prpty_id = 'POSICION'
WHERE        (Equipos.equip_in_plant = 1) AND (Equipos.equip_class_lvl_pk = 5) AND (Equipos.equip_status = 1) AND (Clases.equip_class_name IN ('DESPALETIZADORA', 
                         'CLASIFICADOR', 'INSPECTOR_BOTELLAS_VACIAS', 'LLENADORA', 'INSPECTOR_SALIDA_LLENADORA', 'INSPECTOR_BOTELLAS_LLENAS', 'EMPAQUETADORA', 
                         'PALETIZADORA', 'ETIQUETADORA_PALETS', 'PALETIZADORA', 'ETIQUETADORA_PALETS', 'BASCULA','ENCAJONADORA'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Equipos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 232
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Clases"
            Begin Extent = 
               Top = 6
               Left = 270
               Bottom = 136
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lineas"
            Begin Extent = 
               Top = 6
               Left = 505
               Bottom = 136
               Right = 709
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Posicion"
            Begin Extent = 
               Top = 6
               Left = 747
               Bottom = 136
               Right = 985
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MaquinasLineasPlanConti'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MaquinasLineasPlanConti'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MaquinasLineasPlanConti'
GO
