USE [MES_MSM]
GO
/****** Object:  View [dbo].[Maquinas]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Maquinas]
AS
SELECT   Maquinas.PkEquipo, Maquinas.Id, Maquinas.Nombre, Maquinas.IdBD, Maquinas.EquipoSuperior AS Linea, Maquinas.IdEquipoSuperior AS IdLinea, Maquinas.Nivel, Maquinas.IdNivel, Maquinas.Clase, Maquinas.IdClase, Maquinas.Descripcion, dbo.MaquinasZonas.Zona, dbo.MaquinasOrdenes.Orden, 
             dbo.MaquinasOrdenes.FecHorAct AS FecHorActOrden, ISNULL(dbo.EstadoActualMaquinas.Estado, 0) AS Estado, CAST(Maquinas.Posicion AS INT) AS Posicion, Maquinas.RechazoManual, CASE WHEN CONVERT(INT, Maquinas.POSICION) < CONVERT(INT,
                 (SELECT   MIN(CONVERT(INT, POSICION))
                 FROM     Equipos
                 WHERE   Clase = 'LLENADORA' AND EquipoSuperior = Maquinas.EquipoSuperior)) THEN 1 ELSE 0 END AS MENOR_LLENADORA
FROM     dbo.Equipos AS Maquinas INNER JOIN
             dbo.MaquinasZonas ON Maquinas.PkEquipo = dbo.MaquinasZonas.PkEquipo LEFT OUTER JOIN
             dbo.MaquinasOrdenes ON Maquinas.PkEquipo = dbo.MaquinasOrdenes.PkEquipo LEFT OUTER JOIN
             dbo.EstadoActualMaquinas ON Maquinas.Nombre = dbo.EstadoActualMaquinas.IdMaquina
WHERE   (Maquinas.IdNivel = 5)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[11] 4[17] 2[66] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MaquinasZonas"
            Begin Extent = 
               Top = 168
               Left = 48
               Bottom = 285
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MaquinasOrdenes"
            Begin Extent = 
               Top = 287
               Left = 48
               Bottom = 426
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EstadoActualMaquinas"
            Begin Extent = 
               Top = 427
               Left = 48
               Bottom = 588
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Maquinas"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Maquinas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Maquinas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Maquinas'
GO
