USE [MES_MSM]
GO
/****** Object:  View [dbo].[vTPlanificadoLineaMes]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Vista vTPlanificadoLineaMes		*****/
/*DevOps: #1138								*/
/*Autor: David Huray						*/
/*Creado: 14/04/2021						*/
/*Modificado: --/--/----					*/
/*Descripción: Vista de Tiempo Planificado	*/
/*por Línea y MES							*/
/*Generada para CM de Calidad				*/
/*Contactos: Sistemas - Jaime Fuste,		*/
/*Calidad - Jara Camacho					*/
/*Cambios: ------------------------			*/
CREATE VIEW [dbo].[vTPlanificadoLineaMes]
AS
SELECT
       Anio
       ,Mes
       ,LineaMES
       ,LineaJDE
       ,CAST(SUM(TPlanificadoHoras) AS DECIMAL(10,2)) AS TPlanificadoHoras
FROM
(SELECT
       SCH.work_date AS FechaTurno
       ,MONTH(SCH.work_date) AS Mes
       ,YEAR(SCH.work_date) AS Anio
       ,LN.id AS LineaMES
	   ,Lineas.codigoJDE AS LineaJDE
       ,CAST((DATEDIFF(minute,SCH.work_start,SCH.work_end) - COALESCE(DATEDIFF(minute,BR.break_start, BR.break_end),0)) AS DECIMAL(10,2))/60 AS TPlanificadoHoras
FROM
       SITMesDb.dbo.SHCV_WORK_SCHED_DAY AS SCH INNER JOIN
       SITMesDb.dbo.SHC_WORK_SCHED AS LN ON SCH.shc_work_sched_pk = LN.shc_work_sched_pk LEFT OUTER JOIN
       SITMesDb.dbo.SHC_WORK_SCHED_BREAK AS BR ON BR.shc_work_sched_day_pk = SCH.shc_work_sched_day_pk INNER JOIN
	   --Esta subconsulta se hace para tomar una sola línea MES por GRUPO en aquellas líneas desdobladas. Solo una se vincula con JDE
	   (SELECT id FROM (SELECT  ROW_NUMBER() OVER(PARTITION BY GRUPO  ORDER BY Linea ASC ) AS r , LINEA AS id, GRUPO
	FROM MES_MSM.dbo.COB_MSM_LINEAS) as r where r.r=1 AND r.GRUPO IS NOT NULL
	UNION ALL
	SELECT LINEA AS id FROM MES_MSM.dbo.COB_MSM_LINEAS WHERE GRUPO IS NULL) AS LineasSIT ON LineasSIT.id = LN.id
	INNER JOIN MES_MSM.dbo.DeslizanteLineas AS Lineas ON Lineas.nombreLinea = LineasSIT.id
WHERE SCH.shc_shift_id <> 0) AS DatoResumen
GROUP BY Mes, Anio, LineaMES, LineaJDE

GO
