USE [MES_MSM]
GO
/****** Object:  View [dbo].[TurnosFabrica]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[TurnosFabrica]
AS
SELECT DISTINCT
	TurnosFabrica.work_date AS PrimerDiaSemana
	,DATEPART(WEEK, TurnosFabrica.work_date) AS NumeroSemana
	,TurnosFabrica.shc_working_day_id AS PlantillaTurno
	,LineaTFab.id AS IdLinea
FROM SITMesDB.dbo.SHC_WORK_SCHED_DAY AS TurnosFabrica
INNER JOIN SITMesDB.dbo.SHC_WORK_SCHED AS LineaTFab
	ON TurnosFabrica.shc_work_sched_pk = LineaTFab.shc_work_sched_pk


GO
