USE [MES_MSM]
GO
/****** Object:  View [dbo].[ParametrosOrdenes]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ParametrosOrdenes]
AS
SELECT     IdOrden, idOrdenPadre, OEE, Disponibilidad, Eficiencia, Calidad, RendMecanico, ISNULL(CONVERT(INT, IdSubOrden), - 1) AS IdSubOrden, ConversionEnvases AS EnvasesPorPalet, ConversionCajas AS CajasPorPalet, HectolitrosProducto, CausaPausa, 
                  ISNULL(CONVERT(INT, PaletsProducidos), 0) AS PaletsProducidos, ISNULL(CONVERT(INT, CajasProducidas), 0) AS CajasProducidas, ISNULL(CONVERT(INT, EnvasesProducidos), 0) AS EnvasesProducidos, ISNULL(CONVERT(INT, RechazosALlenadora), 0) 
                  AS RechazosALlenadora, ISNULL(CONVERT(INT, RechazosAClasificador), 0) AS RechazosAClasificador, ISNULL(CONVERT(INT, RechazosAProductoTerminado), 0) AS RechazosAProductoTerminado, ISNULL(CONVERT(INT, RechazosAVacios), 0) AS RechazosAVacios, 
                  ISNULL(CONVERT(INT, Picos), 0) AS PicosCajas, FechaInicioRealOriginal, FechaFinRealOriginal, VelocidadNominal, OEECritico, OEEObjetivo, OEEPreactor, WoStatusChangeOnGoing
FROM        (SELECT     pom_order_id AS IdOrden,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'WO_ID_MASTER') AND (pom_order_id = o.pom_order_id)) AS idOrdenPadre,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'OEE') AND (pom_order_id = o.pom_order_id)) AS OEE,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'DISPONIBILIDAD') AND (pom_order_id = o.pom_order_id)) AS Disponibilidad,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'EFICIENCA') AND (pom_order_id = o.pom_order_id)) AS Eficiencia,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'CALIDAD') AND (pom_order_id = o.pom_order_id)) AS Calidad,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'Rendimiento_Mecanico') AND (pom_order_id = o.pom_order_id)) AS RendMecanico,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'WO_PART_ID') AND (pom_order_id = o.pom_order_id)) AS IdSubOrden,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'ENVASES_PALETS') AND (pom_order_id = o.pom_order_id)) AS ConversionEnvases,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'CAJAS_PALETS') AND (pom_order_id = o.pom_order_id)) AS ConversionCajas,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'ENVASES_HL') AND (pom_order_id = o.pom_order_id)) AS HectolitrosProducto,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'CAUSA_PAUSA') AND (pom_order_id = o.pom_order_id)) AS CausaPausa,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'CAJAS_PRODUCIDAS') AND (pom_order_id = o.pom_order_id)) AS CajasProducidas,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'ENVASES_PRODUCIDOS') AND (pom_order_id = o.pom_order_id)) AS EnvasesProducidos,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'PALETS_PRODUCIDOS') AND (pom_order_id = o.pom_order_id)) AS PaletsProducidos,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'RECHAZOS_LLENADORA') AND (pom_order_id = o.pom_order_id)) AS RechazosALlenadora,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'RECHAZOS_CLASIFICADOR') AND (pom_order_id = o.pom_order_id)) AS RechazosAClasificador,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'RECHAZOS_PRODUCTO_TERMINADO') AND (pom_order_id = o.pom_order_id)) AS RechazosAProductoTerminado,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'RECHAZOS_VACIOS') AND (pom_order_id = o.pom_order_id)) AS RechazosAVacios,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'PICOS') AND (pom_order_id = o.pom_order_id)) AS Picos,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'FECHA_INICIO_REAL') AND (pom_order_id = o.pom_order_id)) AS FechaInicioRealOriginal,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'FECHA_FIN_REAL') AND (pom_order_id = o.pom_order_id)) AS FechaFinRealOriginal,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'VELOCIDAD_NOMINAL') AND (pom_order_id = o.pom_order_id)) AS VelocidadNominal,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'OEE_CRITICO') AND (pom_order_id = o.pom_order_id)) AS OEECritico,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'OEE_OBJETIVO') AND (pom_order_id = o.pom_order_id)) AS OEEObjetivo,
                                         (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'OEE_PREACTOR') AND (pom_order_id = o.pom_order_id)) AS OEEPreactor,
										 (SELECT     VAL
                                          FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
                                          WHERE     (pom_custom_fld_name = 'WO_STATUS_CHANGE_ONGOING') AND (pom_order_id = o.pom_order_id)) AS WoStatusChangeOnGoing
                   FROM        SITMesDb.dbo.POMV_ORDR AS o) AS Parametros
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[24] 4[11] 2[57] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Parametros"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 347
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParametrosOrdenes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParametrosOrdenes'
GO
