USE [MES_MSM]
GO
/****** Object:  View [dbo].[vHlEnvasadosLinea]    Script Date: 25/02/2022 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  View [dbo].[vHlEnvasadosLinea]    Script Date: 19/11/2019 19:28:29 ******/

/****** Vista vHlEnvasadosLinea ******/
/*DevOps: #561                       */
/*Autor: David Huray                 */
/*Creado: 07/11/2019                 */
/*Modificado: 11/08/2020             */
/*Descripción: Vista de Hl por línea
 y hora para EnMPro (Energías        */
 /*Cambios: modificado para mostrar los datos
 siempre por horas completas, sin las fracciones de origen */
 /************************************/

CREATE VIEW [dbo].[vHlEnvasadosLinea]
AS
SELECT
[dbo].[ToLocalDateTime](Paletizadoras.Fecha) AS DATE_TIMESTAMP
,Paletizadoras.Linea AS TAG_ID--Linea
,CAST(COALESCE(SUM(Paletizadoras.Hls),0)as decimal(8,2)) AS MEASUREMENT_VALUE--Hectólitros
,1 AS STATUS
FROM
(SELECT
	CASE
		WHEN convert(int, datepart(ss,FECHA_INICIO)) > 0 OR convert(int, datepart(mi,FECHA_INICIO)) > 0
			THEN DATEADD(HOUR,1,CONVERT(DATETIME, CONCAT(datepart(dd,FECHA_INICIO),'/',datepart(mm,FECHA_INICIO),'/',datepart(yyyy,FECHA_INICIO), ' ',datepart(hh,FECHA_INICIO),':00:00.000'),103))
		ELSE
			DATEADD(HOUR, 1, FECHA_INICIO)
	END AS Fecha
	,Ord.Id
	,Lineas.LINEA
	,CONTADOR_PRODUCCION AS Palets
	,Ord.EnvasesporPalet
	,Ord.HectolitrosProducto
	,CONTADOR_PRODUCCION * Ord.EnvasesporPalet * Ord.HectolitrosProducto AS Hls
FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Prmh
RIGHT OUTER JOIN
--Turnos
(SELECT
	SCH.shc_work_sched_day_pk AS Id
	,LN.id AS Linea
	,SCH.work_date AS Fecha
FROM [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY] AS SCH
INNER JOIN [SITMesDB].[dbo].[SHC_WORK_SCHED] AS LN
ON SCH.shc_work_sched_pk = LN.shc_work_sched_pk) AS Turnos
ON Prmh.[SHC_WORK_SCHED_DAY_PK] = Turnos.Id
INNER JOIN COB_MSM_LINEAS AS Lineas
ON Lineas.LINEA = Turnos.Linea
INNER JOIN
--Maquinas
(SELECT
	Equipos.equip_id AS Id
FROM SITMesDB.dbo.BPM_EQUIPMENT AS Equipos
INNER JOIN SITMesDB.dbo.BPM_EQUIPMENT_CLASS AS Clases
	ON Clases.equip_class_pk = Equipos.equip_class_pk
WHERE Equipos.equip_in_plant = 1 AND Equipos.equip_status = 1
AND (Equipos.equip_class_lvl_pk = 5 OR Equipos.equip_class_lvl_pk = 7)
AND (Clases.equip_class_id = 'MSM-EQUIPAMIENTO-ENVASADO.PALETIZADORA' OR Clases.equip_class_id = 'MSM_ENTERPRISE.PALETIZADORA')) AS M
ON ID_MAQUINA = M.Id
--Ordenes
LEFT JOIN
(SELECT
	PmOrd.pom_order_id AS Id
	,ISNULL(CAST(Parametros.EnvasesPorPalet AS int), 0) AS EnvasesPorPalet
	,ISNULL(CAST(Parametros.HectolitrosProducto AS numeric(16, 6)), 0) AS HectolitrosProducto
FROM SITMesDb.dbo.POM_ORDER AS PmOrd
LEFT OUTER JOIN
    (SELECT
	IdOrden
	,ISNULL(CONVERT(INT, IdSubOrden), - 1) AS IdSubOrden
	,ConversionEnvases AS EnvasesPorPalet
	,HectolitrosProducto
FROM
	(SELECT
		pom_order_id AS IdOrden,
        (SELECT     VAL
        FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
        WHERE     (pom_custom_fld_name = 'WO_PART_ID') AND (pom_order_id = o.pom_order_id)) AS IdSubOrden,
        (SELECT     VAL
        FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
        WHERE     (pom_custom_fld_name = 'ENVASES_PALETS') AND (pom_order_id = o.pom_order_id)) AS ConversionEnvases,
        (SELECT     VAL
        FROM        SITMesDb.dbo.POMV_ORDR_PRP AS oprp
        WHERE     (pom_custom_fld_name = 'ENVASES_HL') AND (pom_order_id = o.pom_order_id)) AS HectolitrosProducto
        FROM        SITMesDb.dbo.POM_ORDER AS o) AS Parametros) AS Parametros
		ON PmOrd.pom_order_id = Parametros.IdOrden
WHERE Parametros.IdSubOrden = 0) AS Ord
ON Prmh.ID_ORDEN = Ord.Id
WHERE Ord.ID IS NOT NULL) AS Paletizadoras
GROUP BY Paletizadoras.Linea, Paletizadoras.Fecha

GO
