
<div id="divCabeceraVista" class="divCabeceraVista">
            <img src="img/tituloCabecera.png" height="20" style="margin-left:5px;" />
                <!--  AQUI EL TITULO-->
                <!-- <label class="lblCabeceraVista"><% print(window.app.idioma.t('TITULO')) %></label>-->
        </div>


<!--  AQUI EL CONTENIDO-->
<div id="container">
      <!--  <div class="fila" style="margin-top:20px;">
            <div id="titulo" class="left">
                <label>
                    <% print(window.app.idioma.t('TITULO')) %> &nbsp;
               
                </label>
            </div>
        </div>
       -->

</div>