<!-- Grid Seleccion -->
<div id="gridSeleccion"></div>

<!-- Bloque Botones Edicion Acciones de Mejora -->
<div id="divBotonesEdicionAccionesMejora" style="text-align: center; margin-top: 5px">
    <button id="btnGuardarAccionMejora" class="k-button k-button-icontext" style="margin-right:5px; background-color: green; color: white;"><% print(window.app.idioma.t('ASIGNAR')) %></button>
    <button id="btnCancelarAccionMejora" class="k-button k-button-icontext"><% print(window.app.idioma.t('CANCELAR')) %></button>
</div>