USE [SSISDeltaV]
GO
/****** Object:  UserDefinedFunction [dbo].[Create_HMACSHA256]    Script Date: 01/03/2021 12:25:03 ******/
DROP FUNCTION [dbo].[Create_HMACSHA256]
GO
/****** Object:  UserDefinedFunction [dbo].[Create_HMACSHA256]    Script Date: 01/03/2021 12:25:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[Create_HMACSHA256](@message [nvarchar](max), @SecretKey [nvarchar](max))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [API_Consumer].[UserDefinedFunctions].[Create_HMACSHA256]
GO
