USE [SSISDeltaV]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBytes]    Script Date: 01/03/2021 12:25:03 ******/
DROP FUNCTION [dbo].[fn_GetBytes]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBytes]    Script Date: 01/03/2021 12:25:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fn_GetBytes](@value [nvarchar](max))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [API_Consumer].[UserDefinedFunctions].[fn_GetBytes]
GO
