<div style="font-size:17px;padding:8px;">
    <span><% print(window.app.idioma.t('ELIMINAR_OPERACION_CAMION')) %></span><br /><br />
    <span id="deleteMsgConfirmar"><% print(window.app.idioma.t("ELIMINAR_OPERACION_CAMION_CONFIRMAR")) %></span><br /><br />
    <input id="deleteInput" type="text" class="k-textbox">
    <div style="display:flex; flex-direction:row; justify-content: flex-end; margin-top:16px;">
        <input type="button" data-role="button" id="btnCamionesDLTAceptar" value="<% print(window.app.idioma.t('ACEPTAR')) %>" style="margin-right:6px;" />
        <input type="button" data-role="button" class="" id="btnCamionesDLTCancelar" value="<% print(window.app.idioma.t('CANCELAR')) %>" />
    </div>
</div>