<style>
    
    .k-autocomplete,
    .k-combobox,
    .k-datepicker,
    .k-timepicker,
    .k-datetimepicker,
    .k-colorpicker,
    .k-numerictextbox,
    .k-selectbox,
    .k-textbox,
    .k-toolbar .k-split-button {
        width: 100% !important;
    }
    
</style>

<div id="divCabeceraVista" class="divCabeceraVista">
    <img src="img/tituloCabecera.png" height="20" style="margin-left:5px;" />
    <label class="lblCabeceraVista"><% print(window.app.idioma.t('CAMIONES_TRANSITO')) %></label>
</div>
<div class="divContenidoVista">
    <div id="divFiltrosHeader" class="k-header" style="height: 32px; width: 100%; padding-top: 5px;">
        <div style="float: left;">
            <button id="btnEntrada" class="k-button k-button-icontext" data-funcion='ALM_PROD_DAT_1_GestionCamionesTransito' style="margin-left: 5px; background-color: #6fc819;">
                <span><img src="../../../Common/img/entrar.png" style="width: 16px; opacity: 0.7; margin-right: 6px;"/></span><% print(window.app.idioma.t('ENTRADA')) %>
            </button>
        </div>
    </div>
    <div id="gridTransportes"></div>
</div>
<div id="divWnd"></div>


