

<div id="divCabeceraVista" class="divCabeceraVista">
            <img src="img/tituloCabecera.png" height="20" style="margin-left:5px;" />
            <label class="lblCabeceraVista"><% print(window.app.idioma.t('MANTENIMIENTO_TRANSPORTISTAS')) %></label>
        </div>


<div id="container">
      <!--  <div class="fila" style="margin-top:20px;">
            <div id="titulo" class="left">
                <label>
                    <% print(window.app.idioma.t('MANTENIMIENTO_CLIENTES_PROVEEDORES')) %> &nbsp;
               
                </label>
            </div>
        </div>
       -->

    </div>