<style>
    .k-window div.k-window-content {
        overflow: hidden;
    }
</style>

<div id="gridAsociarUbicacionZona" style="width: 100%; height: 98%; overflow: hidden"></div>

<script type="text/x-kendo-template" id="template">
    <label style="color:red" id="notificacionAsociarUbicacionZona"></label>
    <button class='k-button k-AsociarUbicacion' id='btnAceptar' style='background-color:green;color:white;'><% print(window.app.idioma.t('GUARDAR')) %> </button>
    <button class='k-button k-AsociarUbicacion' id='btnReiniciarSeleccion'><% print(window.app.idioma.t('REINICIAR_SELECCION')) %> </button>

</script>