USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_StartKops]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_StartKops]
GO
/****** Object:  Table [dbo].[OLTP_StartKops]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLTP_StartKops](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Kop] [nvarchar](510) NULL,
	[DVModule] [nvarchar](510) NULL,
PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
