USE [SSISDeltaV]
GO
ALTER TABLE [dbo].[OLTP_Filtracion] DROP CONSTRAINT [DF__OLTP_Filt__Repro__71CBBF23]
GO
ALTER TABLE [dbo].[OLTP_Filtracion] DROP CONSTRAINT [DF__OLTP_Filt__Proce__5D2BD0E6]
GO
/****** Object:  Table [dbo].[OLTP_Filtracion]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Filtracion]
GO
/****** Object:  Table [dbo].[OLTP_Filtracion]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Filtracion](
	[Indice] [int] IDENTITY(1,1) NOT NULL,
	[Fabrica] [nvarchar](200) NULL,
	[Modulo] [varchar](200) NOT NULL,
	[Lote] [varchar](100) NULL,
	[Fecha] [datetime] NOT NULL,
	[Dato_Descripcion] [varchar](200) NULL,
	[Dato_Valor] [varchar](200) NULL,
	[Dato_Unidad] [varchar](200) NULL,
	[FracSec] [int] NOT NULL,
	[Procesado] [bit] NULL,
	[OrderID] [int] NULL,
	[Material] [varchar](200) NULL,
	[Cantidad] [nvarchar](20) NULL,
	[Fecha_Lote] [datetime] NOT NULL,
	[Reprocessed] [int] NOT NULL,
 CONSTRAINT [PK_OLTP_Filtracion] PRIMARY KEY CLUSTERED 
(
	[Indice] ASC,
	[Modulo] ASC,
	[Fecha] ASC,
	[FracSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OLTP_Filtracion] ADD  CONSTRAINT [DF__OLTP_Filt__Proce__5D2BD0E6]  DEFAULT ((0)) FOR [Procesado]
GO
ALTER TABLE [dbo].[OLTP_Filtracion] ADD  DEFAULT ((0)) FOR [Reprocessed]
GO
