USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_SINCRUCE]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_SINCRUCE]
GO
/****** Object:  Table [dbo].[OLTP_SINCRUCE]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLTP_SINCRUCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ord] [int] NOT NULL,
	[FracSec] [smallint] NULL,
	[Date/Time] [datetime] NULL,
	[Event Type] [nvarchar](64) NULL,
	[Category] [nvarchar](128) NULL,
	[Area] [nvarchar](64) NULL,
	[Node] [nvarchar](64) NULL,
	[Unit] [nvarchar](508) NULL,
	[Module] [nvarchar](510) NULL,
	[Module Description] [nvarchar](508) NULL,
	[Attribute] [nvarchar](510) NULL,
	[State] [nvarchar](128) NULL,
	[Level] [nvarchar](128) NULL,
	[Desc1] [nvarchar](128) NULL,
	[Desc2] [nvarchar](510) NULL,
	[Destino] [nvarchar](400) NULL,
 CONSTRAINT [PK_OLTP_SINCRUCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
