USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_Fabrica]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Fabrica]
GO
/****** Object:  Table [dbo].[OLTP_Fabrica]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Fabrica](
	[Cod_Fabrica] [smallint] IDENTITY(1,1) NOT NULL,
	[Des_Fabrica] [varchar](100) NULL,
 CONSTRAINT [PK_OLTP_Fabrica] PRIMARY KEY CLUSTERED 
(
	[Cod_Fabrica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
