USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[STAGING_Journal]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[STAGING_Journal]
GO
/****** Object:  Table [dbo].[STAGING_Journal]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGING_Journal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ord] [int] NOT NULL,
	[FracSec] [smallint] NOT NULL,
	[Date/Time] [datetime] NOT NULL,
	[Module] [nvarchar](510) NULL,
	[Desc2] [nvarchar](4000) NULL,
 CONSTRAINT [PK_STAGING_Journal1] PRIMARY KEY CLUSTERED 
(
	[Date/Time] ASC,
	[FracSec] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
