USE [SSISDeltaV]
GO
ALTER TABLE [dbo].[OLTP_Packages] DROP CONSTRAINT [DF__OLTP_Pack__Batch__132CB2EE]
GO
ALTER TABLE [dbo].[OLTP_Packages] DROP CONSTRAINT [DF__OLTP_Pack__POMTy__12388EB5]
GO
ALTER TABLE [dbo].[OLTP_Packages] DROP CONSTRAINT [DF__OLTP_Pack__Modul__60A13321]
GO
ALTER TABLE [dbo].[OLTP_Packages] DROP CONSTRAINT [DF__OLTP_Pack__Mater__3B6FAE72]
GO
ALTER TABLE [dbo].[OLTP_Packages] DROP CONSTRAINT [DF__OLTP_Pack__Cod_B__67A95F59]
GO
/****** Object:  Table [dbo].[OLTP_Packages]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Packages]
GO
/****** Object:  Table [dbo].[OLTP_Packages]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Packages](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](max) NOT NULL,
	[Cod_Batch] [int] NOT NULL,
	[MaterialType] [varchar](50) NOT NULL,
	[WOType] [nvarchar](300) NOT NULL,
	[POMType] [nvarchar](400) NOT NULL,
	[BatchType] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OLTP_Packages] ADD  DEFAULT ((1)) FOR [Cod_Batch]
GO
ALTER TABLE [dbo].[OLTP_Packages] ADD  CONSTRAINT [DF__OLTP_Pack__Mater__3B6FAE72]  DEFAULT ('---') FOR [MaterialType]
GO
ALTER TABLE [dbo].[OLTP_Packages] ADD  CONSTRAINT [DF__OLTP_Pack__Modul__60A13321]  DEFAULT ('') FOR [WOType]
GO
ALTER TABLE [dbo].[OLTP_Packages] ADD  DEFAULT ('---') FOR [POMType]
GO
ALTER TABLE [dbo].[OLTP_Packages] ADD  DEFAULT ('---') FOR [BatchType]
GO
