USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[GetEquipFromModule]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[GetEquipFromModule]
GO
/****** Object:  Table [dbo].[GetEquipFromModule]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetEquipFromModule](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[POMType] [nvarchar](300) NOT NULL
) ON [PRIMARY]

GO
