USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_TipoMosto]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_TipoMosto]
GO
/****** Object:  Table [dbo].[OLTP_TipoMosto]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_TipoMosto](
	[Cod_TipoMosto] [int] IDENTITY(1,1) NOT NULL,
	[ID_TipoMosto] [varchar](200) NULL,
	[Des_TipoMosto] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
