USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_Log]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Log]
GO
/****** Object:  Table [dbo].[OLTP_Log]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Log](
	[Cod_Log] [int] IDENTITY(1,1) NOT NULL,
	[Des_Log] [nvarchar](max) NULL,
	[Paquete] [varchar](100) NULL,
	[Paso] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_OLTP_Log] PRIMARY KEY CLUSTERED 
(
	[Cod_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
