USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[TransferWithoutModule]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[TransferWithoutModule]
GO
/****** Object:  Table [dbo].[TransferWithoutModule]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferWithoutModule](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Module] [nvarchar](300) NOT NULL
) ON [PRIMARY]

GO
