USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[ModuloReprocesar]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[ModuloReprocesar]
GO
/****** Object:  Table [dbo].[ModuloReprocesar]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuloReprocesar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Modulo] [nvarchar](255) NOT NULL,
	[OLTP] [nvarchar](50) NULL,
 CONSTRAINT [PK_ModuloReprocesar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
