USE [SSISDeltaV]
GO
ALTER TABLE [dbo].[OLTP_Aditivos] DROP CONSTRAINT [DF_OLTP_Aditivos_Procesado]
GO
/****** Object:  Table [dbo].[OLTP_Aditivos]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Aditivos]
GO
/****** Object:  Table [dbo].[OLTP_Aditivos]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Aditivos](
	[Indice] [int] IDENTITY(1,1) NOT NULL,
	[Fabrica] [nvarchar](200) NULL,
	[Modulo] [varchar](200) NULL,
	[Lote] [varchar](100) NULL,
	[Fecha] [varchar](200) NULL,
	[Dato_Descripcion] [varchar](200) NULL,
	[Dato_Valor] [varchar](200) NULL,
	[Dato_Unidad] [varchar](200) NULL,
	[FracSec] [int] NULL,
	[Procesado] [bit] NULL,
 CONSTRAINT [PK_OLTP_Aditivos] PRIMARY KEY CLUSTERED 
(
	[Indice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OLTP_Aditivos] ADD  CONSTRAINT [DF_OLTP_Aditivos_Procesado]  DEFAULT ((0)) FOR [Procesado]
GO
