USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[TransferWithoutMovement]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[TransferWithoutMovement]
GO
/****** Object:  Table [dbo].[TransferWithoutMovement]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferWithoutMovement](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [nvarchar](1200) NOT NULL
) ON [PRIMARY]

GO
