USE [SSISDeltaV]
GO
ALTER TABLE [dbo].[OLTP_Modulo] DROP CONSTRAINT [DF__OLTP_Modul__OLTP__242234C6]
GO
ALTER TABLE [dbo].[OLTP_Modulo] DROP CONSTRAINT [DF__OLTP_Modu__Cod_B__6AE9B76A]
GO
/****** Object:  Table [dbo].[OLTP_Modulo]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Modulo]
GO
/****** Object:  Table [dbo].[OLTP_Modulo]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLTP_Modulo](
	[Cod_Modulo] [int] IDENTITY(1,1) NOT NULL,
	[Des_Modulo] [nvarchar](max) NOT NULL,
	[Segmento] [nvarchar](max) NOT NULL,
	[Cod_Batch] [int] NOT NULL,
	[OLTP] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[OLTP_Modulo] ADD  DEFAULT ((-1)) FOR [Cod_Batch]
GO
ALTER TABLE [dbo].[OLTP_Modulo] ADD  DEFAULT ('---') FOR [OLTP]
GO
