USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[MessagesNotToCheck]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[MessagesNotToCheck]
GO
/****** Object:  Table [dbo].[MessagesNotToCheck]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessagesNotToCheck](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [nvarchar](300) NOT NULL,
	[Dato] [nvarchar](300) NOT NULL
) ON [PRIMARY]

GO
