USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_InicioFinBatch]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_InicioFinBatch]
GO
/****** Object:  Table [dbo].[OLTP_InicioFinBatch]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLTP_InicioFinBatch](
	[Cod_Batch_Modulo] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Batch] [int] NOT NULL,
	[Cod_Modulo_Inicio] [int] NULL,
	[Cod_Modulo_Fin] [int] NOT NULL,
 CONSTRAINT [PK_OLTP_InicioFinBatch_1] PRIMARY KEY CLUSTERED 
(
	[Cod_Batch_Modulo] ASC,
	[Cod_Batch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
