USE [SSISDeltaV]
GO
ALTER TABLE [dbo].[XML_Final] DROP CONSTRAINT [DF__XML_Final__Trans__1B57E49B]
GO
ALTER TABLE [dbo].[XML_Final] DROP CONSTRAINT [DF__XML_Final__ToDel__30BD15D5]
GO
ALTER TABLE [dbo].[XML_Final] DROP CONSTRAINT [DF_XML_InicioProc_Procesado]
GO
/****** Object:  Table [dbo].[XML_Final]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[XML_Final]
GO
/****** Object:  Table [dbo].[XML_Final]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XML_Final](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[XML] [nvarchar](4000) NULL,
	[Cod_TipoXML] [smallint] NULL,
	[System] [varchar](500) NULL,
	[MsdUDT] [varchar](200) NULL,
	[Batch] [varchar](200) NULL,
	[ProcedureName] [varchar](200) NULL,
	[ProcedureID] [varchar](255) NULL,
	[Unit] [varchar](200) NULL,
	[TimeStamp] [varchar](200) NULL,
	[StartDate] [varchar](200) NULL,
	[EndDate] [varchar](200) NULL,
	[UOM] [varchar](200) NULL,
	[Value] [varchar](200) NULL,
	[Material] [varchar](200) NULL,
	[KOP_Code] [varchar](200) NULL,
	[KOP_DataType] [varchar](200) NULL,
	[MM_SourceEquip] [varchar](200) NULL,
	[MM_SourceDestination] [varchar](200) NULL,
	[DestinationBatch] [varchar](200) NULL,
	[FracSec] [int] NULL,
	[Procesado] [bit] NULL,
	[Fecha_Lote] [datetime] NOT NULL,
	[ToDelete] [int] NOT NULL,
	[TransferedMaterial] [nvarchar](max) NULL,
 CONSTRAINT [PK_XML_InicioProc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[XML_Final] ADD  CONSTRAINT [DF_XML_InicioProc_Procesado]  DEFAULT ((0)) FOR [Procesado]
GO
ALTER TABLE [dbo].[XML_Final] ADD  DEFAULT ((0)) FOR [ToDelete]
GO
ALTER TABLE [dbo].[XML_Final] ADD  DEFAULT (NULL) FOR [TransferedMaterial]
GO
