USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_KopsTransferencias]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_KopsTransferencias]
GO
/****** Object:  Table [dbo].[OLTP_KopsTransferencias]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_KopsTransferencias](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Module] [varchar](200) NOT NULL,
	[MaterialSubClass] [varchar](200) NULL,
	[MSG] [varchar](200) NOT NULL,
	[Kop] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
