USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_Error]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Error]
GO
/****** Object:  Table [dbo].[OLTP_Error]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Error](
	[Cod_Error] [int] IDENTITY(1,1) NOT NULL,
	[Des_Error] [varchar](200) NULL,
	[Modulo] [varchar](200) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_OLTP_Error] PRIMARY KEY CLUSTERED 
(
	[Cod_Error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
