USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[KopsWithUniqueInitialization]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[KopsWithUniqueInitialization]
GO
/****** Object:  Table [dbo].[KopsWithUniqueInitialization]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KopsWithUniqueInitialization](
	[Index] [bigint] IDENTITY(1,1) NOT NULL,
	[KopName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
