USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[OLTP_Materiales]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[OLTP_Materiales]
GO
/****** Object:  Table [dbo].[OLTP_Materiales]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLTP_Materiales](
	[Cod_Material] [int] NOT NULL,
	[ID_Material] [varchar](255) NULL,
	[Des_Material] [varchar](255) NULL,
	[SubClass] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
