USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[XML_Tipos]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[XML_Tipos]
GO
/****** Object:  Table [dbo].[XML_Tipos]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XML_Tipos](
	[Cod_TipoXML] [int] IDENTITY(1,1) NOT NULL,
	[Des_TipoXML] [varchar](100) NULL,
	[Message_XML] [nvarchar](4000) NULL,
 CONSTRAINT [PK_XML_Tipos] PRIMARY KEY CLUSTERED 
(
	[Cod_TipoXML] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
