USE [SSISDeltaV]
GO
/****** Object:  Table [dbo].[STAGING_ConfigDVS]    Script Date: 01/03/2021 12:24:27 ******/
DROP TABLE [dbo].[STAGING_ConfigDVS]
GO
/****** Object:  Table [dbo].[STAGING_ConfigDVS]    Script Date: 01/03/2021 12:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAGING_ConfigDVS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Modulo] [nvarchar](100) NULL,
	[TablaDestino] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](510) NULL,
	[ModuloDestino] [varchar](50) NULL,
 CONSTRAINT [PK_STAGING_ConfigDVS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
