USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerLoteEnWOSegunTransferencia]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ObtenerLoteEnWOSegunTransferencia]
@IdTransferencia AS INT
AS
SET NOCOUNT ON

DECLARE @LoteSAI NVARCHAR(250)
DECLARE @IdWO INT

-- OBTENEMOS EL LOTE SAI DE LA TRANSFERENCIA
SELECT @LoteSAI = LoteSAI 
FROM [MES_MSM_Trazabilidad].[LOT].[tTransferencias]
WHERE IdTransferencia = @IdTransferencia

SELECT * 
FROM [MES_MSM_Trazabilidad].[LOT].[tTransferencias]
WHERE IdTransferencia = @IdTransferencia

-- OBTENEMOS EL ID DE LA WO SEGÚN SU LOTE SAI
SELECT @IdWO = IdWO 
FROM [MES_MSM_Fabricacion].[Fab].[Subprocesos]
WHERE LoteSAI = @LoteSAI

SELECT * 
FROM [MES_MSM_Fabricacion].[Fab].[Subprocesos]
WHERE LoteSAI = @LoteSAI

--  OBTENEMOS LOS DATOS DE LA WO PARA SABER SU LOTE MES
SELECT * FROM [MES_MSM_Fabricacion].[Fab].[WOs]
WHERE IdWO = @IdWO


GO
