USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerLineasEnvasado]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ObtenerLineasEnvasado]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT     
		numeroLinea,
		Id, 
		Nombre, 
		Descripcion
		FROM MES_MSM.dbo.Lineas
		order by numeroLinea;
		
	COMMIT TRANSACTION; 
END
GO
