USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LIM].[SP_GetDepartamento_SEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 23052018
-- Desccripcion:	Devuelve el listado de departamentos por tipo muestras
-- Parametro de entrada
	-- @IdTipoMuestra: Id Tipo muestra
	
	
--  =============================================
CREATE procedure [LIM].[SP_GetDepartamento_SEL]
(
	@IdTipoMuestra AS NVARCHAR(4000)

)
AS
BEGIN 

	SET NOCOUNT ON;
	----------------------------------
	-- DECLARACION DE VARIABLES 
	----------------------------------
	DECLARE @OPENQUERY nvarchar(4000)
	DECLARE @Departamento table (DESCRIPTION nvarchar(512))
	
	
	DECLARE @IdOrdenMuestra AS NVARCHAR(4000)
	----------------------------------------
	-- Inicio proceso
	
		


		SET @OPENQUERY ='
		SELECT   * FROM OPENQUERY
				(UNILAB,		''
				Select    UVST.DESCRIPTION
				From    UVST , UVSTGK 
				Where   UVST.ST = UVSTGK.ST      
					and     UVST.ST  = ''''' +  @IDTipoMuestra + '''''
					and     UVSTGK.GK = ''''Department''''
				''								
				)'

		-- Insertamos los registros en la tabla 
		--INSERT INTO @Departamento  EXEC(@OPENQUERY)

		

	
	SELECT * FROM UNILAB.DBO.Departamento
	
	--Select * from @Departamento
	
END
GO
