USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LIM].[SP_GetOrdenesMuestras_SEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 23052018
-- Desccripcion:	Procedimiento que devuelve la informacion de las muestras de lims
-- Parametros de entrada
	--	@WO--> Id WO	
--  =============================================
CREATE procedure [LIM].[SP_GetOrdenesMuestras_SEL]
(
		@IdWO AS NVARCHAR(4000)

)
AS
BEGIN 

	SET NOCOUNT ON;
	----------------------------------
	-- DECLARACION DE VARIABLES 
	----------------------------------
	DECLARE @OPENQUERY nvarchar(4000)
	DECLARE @MuestraLims table (SC nvarchar(50),ST nvarchar(50), DESCRIPTION nvarchar(50), CREATION_DATE Date,  Department nvarchar(512), SubDepartment nvarchar(512),SS nvarchar(512))
	DECLARE @ID AS INT 
	DECLARE @IDC AS INT 
	
	DECLARE @IdMuestra AS NVARCHAR(4000)
	DECLARE @IdOrdenMuestra AS NVARCHAR(4000)
	------------------------------------------
	-- INIT Values
	------------------------------------------
	SET  @ID  = 1
	--SET	  @WO = 1
	----------------------------------------
	-- Inicio proceso
	----------------------------------------
	-- Obtenemos el listado de muestras para esa WO
	----------------------------------------
	SELECT 
			IDENTITY(INT,1,1) ID,			
			IdMuestraLims
	INTO	#muestras 
	FROM   [LIM].[tOrdenesMuestras]
	WHERE  [IdWO] = @IdWO

	SET  @IDC =  @@ROWCOUNT

	WHILE  @ID<= @IDC
	BEGIN 

		SELECT @IdMuestra  = IdMuestraLims			
		FROM #muestras 
		WHERE ID = @ID


		SET @OPENQUERY ='
		SELECT  * FROM OPENQUERY
				(UNILAB,		''
				SELECT   SC, ST, DESCRIPTION, CREATION_DATE,
				(
				Select    UVST.DESCRIPTION
				From    UVST , UVSTGK 
				Where   UVST.ST = UVSTGK.ST      
					and     UVST.ST  = DATAINFO.ST
					and     UVSTGK.GK = ''''Department''''
					) AS Department,
					(

					Select    UVST.DESCRIPTION
					From    UVST , UVSTGK 
					Where   UVST.ST = UVSTGK.ST      
					and     UVST.ST  = DATAINFO.ST
					and     UVSTGK.GK = ''''Subdepartment''''
					) AS SubDepartment,
					SS
				FROM UVSC	DATAINFO 
				WHERE DATAINFO.SC =''''' +@IdMuestra+'''''    ''								
				)'

		-- Insertamos los registros en la tabla 
		--INSERT INTO @MuestraLims EXEC(@OPENQUERY)

		SET @ID = @ID  + 1
	END

	SELECT  * FROM UNILAB.[dbo].[MuestraLims]
	
	
	--Select * from @MuestraLims
	--------------------------------
	-- DROP TEMP TABLE
	--------------------------------

	DROP TABLE #muestras
END
GO
