USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LIM].[SP_GetDetalleMuestras_SEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 23052018
-- Desccripcion:	Procedimiento que devuelve la informacion de las muestras de lims
-- Parametros de entrada
	--	@WO--> Id WO	
--  =============================================
CREATE procedure [LIM].[SP_GetDetalleMuestras_SEL]
(
		@IDMuestra AS NVARCHAR(4000)

)
AS
BEGIN 

	SET NOCOUNT ON;
	----------------------------------
	-- DECLARACION DE VARIABLES 
	----------------------------------
	DECLARE @OPENQUERY nvarchar(4000)
	DECLARE @DetalleMuestra table (SC nvarchar(50),PG nvarchar(50), PGNODE nvarchar(50), PA NVARCHAR(50),  PANODE NVARCHAR( 512),DESCRIPTION nvarchar(512), VALUE_f nvarchar(512),VALUE_S nvarchar(512), UNIT nvarchar(512), SS nvarchar(512))
	
	
	DECLARE @IdOrdenMuestra AS NVARCHAR(4000)
	----------------------------------------
	-- Inicio proceso
	
		


		SET @OPENQUERY ='
		SELECT  * FROM OPENQUERY
				(UNILAB,		''
				SELECT SC, PG, PGNODE, PA, PANODE, DESCRIPTION, VALUE_f, VALUE_S, UNIT, SS 
				FROM UVSCPA
				WHERE SC =''''' +@IdMuestra+'''''    ''								
				)'

		-- Insertamos los registros en la tabla 
		--INSERT INTO @DetalleMuestra  EXEC(@OPENQUERY)

		

		SELECT * FROM UNILAB.DBO.DetalleMuestra
	
	
	--Select * from @DetalleMuestra
	
END
GO
