USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LIM].[SP_GetTipoMuestras_SEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 23052018
-- Desccripcion:	Devuelve el listado de tipos
	
--  =============================================

CREATE procedure [LIM].[SP_GetTipoMuestras_SEL]
AS
BEGIN 

	SET NOCOUNT ON;
	----------------------------------
	-- DECLARACION DE VARIABLES 
	----------------------------------
	DECLARE @OPENQUERY nvarchar(4000)
	DECLARE @TipoMuestra table (ST nvarchar(50),DESCRIPTION nvarchar(512))
	
	
	DECLARE @IdOrdenMuestra AS NVARCHAR(4000)
	----------------------------------------
	-- Inicio proceso
	
		


		SET @OPENQUERY ='
		SELECT  distinct * FROM OPENQUERY
				(UNILAB,		''
				Select st,description  From UVST  Where SS = ''''@A'''' 
				''								
				)'

		-- Insertamos los registros en la tabla 
		--INSERT INTO @TipoMuestra  EXEC(@OPENQUERY)

		
			
	SELECT  *
	FROM	UNILAB.DBO.UVST
	
--	Select * from @TipoMuestra
	
END
GO
