USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LIM].[SP_AddOrdenesMuestras_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 25052018
-- Desccripcion:	Inserta tipo de muestra, devuelve el id insertado.
-- Parametro de entrada
	--@IdWO : WO,
	--@ST  : Tipo de muestra,
	--@DESCRIPTION: Descripcion ,
	--@Department: Departamento,
	--@SubDepartment SubDepartamento
	
--  =============================================
create procedure [LIM].[SP_AddOrdenesMuestras_UPD]
(
	@IdWO AS NVARCHAR(4000),
	@ST  AS NVARCHAR(4000),
	@DESCRIPTION AS NVARCHAR(4000),
	@Department AS NVARCHAR(4000),
	@SubDepartment AS NVARCHAR(4000)
	
)
AS
BEGIN 

	SET NOCOUNT ON;
	----------------------------------
	-- DECLARACION DE VARIABLES 
	----------------------------------
	DECLARE @OPENQUERY nvarchar(4000)
	DECLARE @Departamento table (DESCRIPTION nvarchar(512))
	
	DECLARE @IdMuestraLims as int
	DECLARE @IdOrdenMuestra AS NVARCHAR(4000)
	DECLARE @IdInsertado as int
	----------------------------------------
	-- Inicio proceso
	
	------------------------------------
	-- Obtenemos un nuemero aleatorio para el id de muestra

	set  @IdMuestraLims=  RAND(100000)



	INSERT INTO [LIM].[tOrdenesMuestras]
           ([IdWO],
           IdMuestraLims
		   )
		   VALUES(@IdWO,@IdMuestraLims)

	set @IdInsertado = @@IDENTITY
	------------------------------------
	-- Insertamos los datos
	INSERT INTO [UNILAB].[dbo].[MuestraLims]
           ([SC]
           ,[ST]
           ,[DESCRIPTION]
           ,[CREATION_DATE]
           ,[Department]
           ,[SubDepartment]
           ,[SS])
     VALUES
           (@IdMuestraLims,
		   @ST,
		   @DESCRIPTION,
		   GETUTCDATE(),
		   @Department,
		   @SubDepartment,
		   'OL'
		   )



		


		--SET @OPENQUERY ='
		--SELECT   * FROM OPENQUERY
		--		(UNILAB,		''
		--		Select    UVST.DESCRIPTION
		--		From    UVST , UVSTGK 
		--		Where   UVST.ST = UVSTGK.ST      
		--			and     UVST.ST  = ''''' +  @IDTipoMuestra + '''''
		--			and     UVSTGK.GK = ''''Department''''
		--		''								
		--		)'

		-- Insertamos los registros en la tabla 
		--INSERT INTO @Departamento  EXEC(@OPENQUERY)

		

	

	
	--Select * from @Departamento
	SELECT @IdInsertado AS IdOrdenMuestra
END
GO
