USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[ActualizarLotesSinConsumirOrdenesFinalizadas]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ALEXIS ANSELMI
-- Create date: 01-12-2021
-- Description:	Existen varios lotes que se quedan sin consumir por completo en ubicaciones de consumo, debido a que no son sacados con el terminal.
--              Este método ayuda a consumir por completo esos lotes en los que su orden ya ha sido finalizada
-- =============================================
CREATE PROCEDURE [LOT].[ActualizarLotesSinConsumirOrdenesFinalizadas]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE   LoteActualizar
 SET
	LoteActualizar.CantidadActual = 0,
	LoteActualizar.FechaFinConsumo = Lote.FechaFinOrden
FROM
[LOT].[tLoteMateriaPrima] AS LoteActualizar,
 ( SELECT DISTINCT
	LOTES.ID_LOTE_MMPP,
	ORDENES.FecFinReal AS FechaFinOrden
FROM 
	[MES_MSM_Trazabilidad].[LOT].[vLoteMMPP] AS LOTES
 INNER JOIN [MES_MSM_Trazabilidad].[MAT].[vMaterialesProducto] AS MATERIALES ON LOTES.LINEA = MATERIALES.Linea AND LOTES.REFERENCIA_MES = MATERIALES.IdMaterial
 INNER JOIN [MES_MSM].[dbo].[Particiones] AS ORDENES ON  ORDENES.IdProducto = MATERIALES.IdProducto
 WHERE 
	FECHA_FIN_CONSUMO IS NULL
	AND
	LOTES.FECHA_ENTRADA_UBICACION BETWEEN ORDENES.FecIniReal AND ORDENES.FecFinReal
	AND
	ORDENES.EstadoAct ='Finalizada'
	AND 
	LOTES.ID_TIPO_UBICACION = 4
	) AS Lote
WHERE
LoteActualizar.IdLoteMateriaPrima = Lote.ID_LOTE_MMPP
END
GO
