USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_ObtenerPaletsPorMMPP]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor: Alexis Anselmi
-- Fecha creacion: 03-11-2021
-- Desccripcion: Procedimiento para obtener el listado de producto acabado segun una MMPP
	
--  =============================================
CREATE PROCEDURE [LOT].[SP_ObtenerPaletsPorMMPP]
(
		@IdProveedor AS INT,--60491
		@IdLoteMES AS NVARCHAR(64),--'GRA-02-TPN-0210027-REC-20211018095442-084342290002616191'
		@LoteProveedor AS NVARCHAR(64),--'2122309033'
		@CantPaletasExtra AS INT-- 0
)
AS
BEGIN 

	SET NOCOUNT ON;

--1. DECLARACIÓN DE VARIABLES 

--TABLAS TEMPORALES
--Tabla para trabajar los lotes consumidos
DECLARE @LotesConsumidos TABLE(
	Id INT,
	IdLoteMES NVARCHAR(250),
	FechaInicio DATETIME NULL,
	FechaFin DATETIME NULL,
	IdUbicacion INT
);

-- Tabla para ver la diferencia de fechas entre registros de @LotesConsumidos
DECLARE @ResultDiferencia TABLE(
	Id INT,
	IdLoteMES NVARCHAR(250),
	FechaInicio DATETIME NULL,
	FechaFin DATETIME NULL,
	IdUbicacion INT,
	Diferencia INT NULL

);

-- Tabla para separa por grupos segun la diferencia de fechas de la tabla @ResultDiferencia
DECLARE @Grupos TABLE(
    IdLoteMESMMPP NVARCHAR(250),
	NumLinea INT,
	FechaInicio DATETIME,
	FechaFin DATETIME,
	Grupo INT NULL
);

-- Tabla con los datos del resultado final de la consulta
DECLARE @ProductoAcabado TABLE(
	IdLoteMESMMPP NVARCHAR(250),
	Fecha DATETIME NULL,
	FechaInicio DATETIME NULL,
	FechaFin DATETIME NULL,
	NumLinea INT,
	IdLoteMESProductoAcabado NVARCHAR(250),
	Referencia NVARCHAR(100) NULL,
	WO NVARCHAR(101) NULL,
	SSCC NVARCHAR(100) NULL
);
-------------------------------------

--Variables del SP internas
DECLARE @Grupo BIGINT = 0;
DECLARE @Rango INT = 30;
--Variables para hacer el recorrido por apuntador
DECLARE @IdLotesConsumidosCursor INT;
DECLARE @DiferenciaCursor BIGINT;
DECLARE @EsGrupoNuevo BIT = 0;
-----------------------------------------------
DECLARE @FechaMaxProduccion DATETIME;
DECLARE @FechaMinProduccion DATETIME;


--------------------------------------------------------------------

--2. Se le asigna un numero de fila y lo metemos en una tabla temporal
with CTE_RN as
(
SELECT 
	ROW_NUMBER() OVER(ORDER BY IdLoteMateriaPrima) as RowNumber,
	IdLoteMES,
	FechaInicioConsumoEtiqPalet AS FechaInicio,
	FechaFinConsumoEtiqPalet AS FechaFin,
	IdUbicacion
FROM 
	[LOT].[tLoteMateriaPrimaConsumido]
WHERE
-- VALIDACIÓN: 
			-- El Lote Proveedor puede tener vacio el IdProveedor y el IdLoteMES a NULL
			-- Si tenemos el IdLoteMES no se filtra ni por LoteProveedor ni por IdProveedor
	(
	(IdProveedor = @IdProveedor AND  @IdLoteMES IS NULL  AND @IdProveedor IS NOT NULL)
	OR
	(LoteProveedor = @LoteProveedor AND @IdLoteMES IS NULL AND @LoteProveedor IS NOT NULL)
	OR
	(@IdLoteMES = IdLoteMES AND @IdLoteMES IS NOT NULL)
	OR
	(@LoteProveedor IS NOT NULL AND @IdProveedor IS NOT NULL AND LoteProveedor = @LoteProveedor AND IdProveedor = @IdProveedor AND @IdLoteMES IS NULL)
	) 
)


INSERT INTO @LotesConsumidos
select
    RowNumber,
	IdLoteMES,
	FechaInicio,
	FechaFin,
	IdUbicacion
from CTE_RN
ORDER BY FechaInicio,IdUbicacion

------------------------------------------------------------------------

--3. En una nueva tabla almacenamos la DIFERENCIA en minutos de una fila a otra (Fecha de Inicio de la segunda fila con la Fecha de Fin de la anterior)
INSERT INTO @ResultDiferencia
SELECT 
	A.Id,
	A.IdLoteMES,
	A.FechaInicio,
	A.FechaFin,
	A.IdUbicacion,
	DATEDIFF(MINUTE,B.FechaInicio,A.FechaFin) Diferencia
FROM 
	@LotesConsumidos A
	LEFT JOIN @LotesConsumidos B ON A.Id + 1 = B.Id

----------------------------------------------------------------------------

--4. Con un cursor revisamos si la diferencia es mayor a 30 o nula y vamos asignando los grupos por id y Diferencia
DECLARE CUR_TEST CURSOR FOR
    SELECT 
		Id,
		Diferencia
    FROM   @ResultDiferencia
    ORDER BY Id;

OPEN CUR_TEST
FETCH NEXT FROM CUR_TEST INTO @IdLotesConsumidosCursor, @DiferenciaCursor
 
WHILE @@FETCH_STATUS = 0
BEGIN
	-- Si es un grupo nuevo sumamos uno al grupo
	IF(@EsGrupoNuevo = 1)
	BEGIN
		SET @Grupo = @Grupo +1;
		SET @EsGrupoNuevo = 0;
	END

	-- Si la diferencia es mayor al rango o el valor de diferencia es NULO sabemos que viene un cambio de grupo
	IF(@DiferenciaCursor > @Rango OR @DiferenciaCursor IS NULL)
	BEGIN
		SET @EsGrupoNuevo = 1;
	END

	--Actualizamos Grupo
   UPDATE @ResultDiferencia
   SET Diferencia = @Grupo
   WHERE Id = @IdLotesConsumidosCursor  

   FETCH NEXT FROM CUR_TEST INTO  @IdLotesConsumidosCursor, @DiferenciaCursor
END
CLOSE CUR_TEST
DEALLOCATE CUR_TEST
-----------------------------------------------------------------------------

-- Insertamos los valores agrupados por Grupos y NumLinea
INSERT INTO @Grupos
SELECT 
	Result.IdLoteMES,
	MaquinaLinea.NumLinea,
	MIN(FechaInicio) FechaInicio,
	MAX(FechaFin) FechaFin,
	Diferencia AS Grupo
	
FROM @ResultDiferencia AS Result
INNER JOIN [UBI].[tUbicacion] Ubicacion ON Result.IdUbicacion = Ubicacion.IdUbicacion
INNER JOIN [MES_MSM].[dbo].[MaquinasLineas] MaquinaLinea ON MaquinaLinea.Id = Ubicacion.IdUbicacionLinkMes
GROUP BY Diferencia,MaquinaLinea.NumLinea,Result.IdLoteMES

--5. Obtenemos los grupos y rangos de fechas
INSERT INTO @ProductoAcabado
SELECT DISTINCT
	Grupos.IdLoteMESMMPP,
	Produccion.EtiquetaCreatedAt AS Fecha,
	Grupos.FechaInicio, 
	Grupos.FechaFin,
	Grupos.NumLinea,
	Produccion.IdLotMes,
	Produccion.Referencia,
	Produccion.ParticionWO,
	Produccion.SSCC
FROM @Grupos AS Grupos
INNER JOIN [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
WHERE 
	Produccion.EtiquetaCreatedAt BETWEEN Grupos.FechaInicio AND Grupos.FechaFin
ORDER BY
Produccion.EtiquetaCreatedAt


--6. Si no se obtienen valores y se filtró por el Id Lote MES se debe buscar el valor mas cercano por encima y por debajo de esa fecha

IF (NOT EXISTS(SELECT 1 FROM @ProductoAcabado) AND @IdLoteMES IS NOT NULL)
BEGIN
	-- Valor mas cercano por debajo
	SELECT
		@FechaMaxProduccion = MAX(Produccion.EtiquetaCreatedAt)
	FROM
		@Grupos AS Grupos
		INNER JOIN [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
	WHERE 
		Produccion.EtiquetaCreatedAt <= Grupos.FechaInicio

	

	-- Valor mas cercano por encima
	SELECT
			@FechaMinProduccion = MIN(Produccion.EtiquetaCreatedAt)
	FROM
		@Grupos AS Grupos
		INNER JOIN  [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
	WHERE 
		Produccion.EtiquetaCreatedAt >= Grupos.FechaInicio

    -- Se obtiene el valor mas cercana a la fecha de inicio de consumo
	INSERT INTO @ProductoAcabado
	SELECT
		Grupos.IdLoteMESMMPP,
		Produccion.EtiquetaCreatedAt AS Fecha,
		Grupos.FechaInicio, 
		Grupos.FechaFin,
		Grupos.NumLinea,
		Produccion.IdLotMes,
		Produccion.Referencia,
		Produccion.ParticionWO,
		Produccion.SSCC
	FROM
		@Grupos AS Grupos
		INNER JOIN [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
	WHERE
		Produccion.EtiquetaCreatedAt = (SELECT 
										IIF(DATEDIFF(SECOND,@FechaMaxProduccion,FechaInicio) < DATEDIFF(SECOND,FechaInicio,@FechaMinProduccion), @FechaMaxProduccion,@FechaMinProduccion) 
								   FROM
										@Grupos
		)
END;


-- 7. Obtenemos del resultado final + ó - paletas según el filtro @CantPaletasExtra
IF(@CantPaletasExtra > 0)
BEGIN
	SELECT 
		@FechaMinProduccion = MIN(Fecha)
	FROM
		@ProductoAcabado


	SELECT 
		@FechaMaxProduccion = MAX(Fecha)
	FROM
		@ProductoAcabado
	
	INSERT INTO @ProductoAcabado
	SELECT *
	FROM
	(SELECT TOP (@CantPaletasExtra)
		Grupos.IdLoteMESMMPP,
		Produccion.EtiquetaCreatedAt AS Fecha,
		Grupos.FechaInicio, 
		Grupos.FechaFin,
		Grupos.NumLinea,
		Produccion.IdLotMes,
		Produccion.Referencia,
		Produccion.ParticionWO,
		Produccion.SSCC
	FROM
		@Grupos AS Grupos
		INNER JOIN [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
	WHERE 
		Produccion.EtiquetaCreatedAt < @FechaMinProduccion
    ORDER BY Produccion.EtiquetaCreatedAt DESC
	) AS RESULT1
	UNION 
	SELECT *
	FROM
	(SELECT TOP (@CantPaletasExtra)
		Grupos.IdLoteMESMMPP,
		Produccion.EtiquetaCreatedAt AS Fecha,
		Grupos.FechaInicio, 
		Grupos.FechaFin,
		Grupos.NumLinea,
		Produccion.IdLotMes,
		Produccion.Referencia,
		Produccion.ParticionWO,
		Produccion.SSCC
	FROM
		@Grupos AS Grupos
		INNER JOIN [TRA].[tProduccion] Produccion ON Produccion.Linea = Grupos.NumLinea
	WHERE 
		Produccion.EtiquetaCreatedAt > @FechaMaxProduccion
    ORDER BY Produccion.EtiquetaCreatedAt ASC
	) AS RESULT2
	

END;


SELECT DISTINCT 
	IdLoteMESMMPP ,
	Fecha,
	NumLinea,
	IdLoteMESProductoAcabado,
	Referencia,
	WO,
	SSCC
FROM @ProductoAcabado AS LotesProductoAcabado
ORDER BY Fecha

END
GO
