USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_InfoLoteProductoAcabadoPorSSCC]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor: Alexis Anselmi
-- Fecha creacion: 22-11-2021
-- Desccripcion: Se obtiene la información del lote de producto acabado en la tabla tProduccion
	
--  =============================================
CREATE PROCEDURE [LOT].[SP_InfoLoteProductoAcabadoPorSSCC]
(
		@SSCC AS NVARCHAR(64)--384136816312003357
)
AS
BEGIN 

	SET NOCOUNT ON;

SELECT  
	PRODUCCION.idLotMes AS LOTE_MES,
	PRODUCCION.SSCC,
	PRODUCCION.EtiquetaCreatedAt AS FECHA_PRODUCCION,
	PRODUCCION.Linea AS LINEA,
	PRODUCCION.Referencia AS MATERIAL,
	PRODUCCION.ParticionWO AS WO
FROM
[TRA].[tProduccion] AS PRODUCCION
WHERE 
PRODUCCION.SSCC = @SSCC

END
GO
