USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_InserttLoteSemielaboradoConsumido]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:		   Juan Carlos Gómez Mandujano
-- Fecha creacion: 08/10/2021
-- Desccripcion:   Inserta los lotes consumidos desde la tabla '[LOT].[tLoteMateriaPrimaConsumido]' a la tabla '[LOT].[tLoteMateriaPrima]'.
-- Modificado:	   --
-- Parametros de entrada: (Opcional) ID de lote en caso solo se quiera ingresar solo ese lote
--============================================

--exec [LOT].[SP_InserttLoteMateriaPrimaConsumido]
CREATE procedure [LOT].[SP_InserttLoteSemielaboradoConsumido]
	@LotID NVARCHAR(MAX) = NULL
AS
BEGIN

SET NOCOUNT ON;

SET IDENTITY_INSERT [LOT].tLoteSemielaboradoConsumido ON

INSERT INTO [LOT].tLoteSemielaboradoConsumido (IdLoteSemielaborado, LoteMES, IdMaterial, IdUbicacion,  CantidadInicial, CantidadActual, Unidad, FechaCreacion, FechaConsumo, FechaActualizado)
SELECT Lote.IdLoteSemielaborado, 
	   Lote.LoteMES, 
	   Lote.IdMaterial, 
	   Lote.IdUbicacion, 
	   Lote.CantidadInicial, 
	   Lote.CantidadActual, 
	   Lote.Unidad, 
	   Lote.FechaCreacion, 
	   Lote.FechaConsumo, 
	   Lote.FechaActualizado
FROM [LOT].[tLoteSemielaborado] Lote
	 INNER JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Lote.IdUbicacion
	 LEFT JOIN [LOT].tLoteSemielaboradoConsumido LotesConsumidos ON LotesConsumidos.LoteMES = Lote.LoteMES 
WHERE Lote.[CantidadActual] <= ISNULL(Ubicacion.UmbralStockCero,0) AND LotesConsumidos.LoteMES IS NULL
	  AND (Lote.LoteMES = @LotID OR @LotID IS NULL)

SET IDENTITY_INSERT [LOT].tLoteSemielaboradoConsumido  OFF

DELETE Lote
FROM [LOT].[tLoteSemielaborado] Lote
	 INNER JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Lote.IdUbicacion
WHERE Lote.[CantidadActual] <= ISNULL(Ubicacion.UmbralStockCero,0)
	  AND (Lote.LoteMES = @LotID OR @LotID IS NULL)

END
GO
