USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_ObtenerLotesMMPPSinFinalizarConsumoPorIdUbicacion]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:		   Alexis Anselmi
-- Fecha creacion: 20/10/2021
-- Desccripcion:   Se encarga de obtener los lotes que no han finalizado su consumo en una ubicación 
-- Modificado:	   --
-- Parametros de entrada: 
--		- IdUbicacion
--============================================

CREATE procedure [LOT].[SP_ObtenerLotesMMPPSinFinalizarConsumoPorIdUbicacion]
	@IdUbicacion INT
AS
BEGIN

SET NOCOUNT ON;

SELECT 
	LOTE.IdLoteMES,
	LOTE.IdMaterial,
	OPERACION.IdOrdenDestino,
	LOTE.IdUbicacion
FROM
	LOT.tLoteMateriaPrima AS LOTE
	INNER JOIN UBI.tUbicacion AS UBICACION ON UBICACION.IdUbicacion = LOTE.IdUbicacion
	INNER JOIN UBI.tTipoUbicacion AS TIPO_UBICACION ON UBICACION.IdTipoUbicacion = TIPO_UBICACION.IdTipoUbicacion
	INNER JOIN OPE.tOperacion AS OPERACION ON OPERACION.IdLote = LOTE.IdLoteMES 
	INNER JOIN (SELECT 
					MAX(FechaInicio) FechaInicio,
					IdLote
				FROM
					 OPE.tOperacion
				WHERE 
					 IdTipoOperacion = 3 AND IdOrdenDestino IS NOT NULL
				GROUP BY 
					IdLote
				)
					AS OPERACION_MAX ON OPERACION_MAX.IdLote = OPERACION.IdLote AND OPERACION.FechaInicio = OPERACION_MAX.FechaInicio
	INNER JOIN [MES_MSM].[dbo].[Ordenes] AS ORDEN ON ORDEN.Id = OPERACION.IdOrdenDestino
WHERE
	TIPO_UBICACION.IdTipoUbicacion = 4 -- CONSUMO 
	OR UBICACION.[IdUbicacionLinkMes] LIKE '%ENVASADO%'
	AND LOTE.FechaFinConsumo IS NULL
	AND LOTE.IdUbicacion = @IdUbicacion
	AND ORDEN.[IdEstadoAct] IN (1000,1001,1003,1004,1013,1016)

END
GO
