USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_InserttLoteMateriaPrima]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:		   Juan Carlos Gómez Mandujano
-- Fecha creacion: 08/10/2021
-- Desccripcion:   Inserta los lotes consumidos desde la tabla '[LOT].[tLoteMateriaPrima]' a la tabla '[LOT].[tLoteMateriaPrimaConsumido]'.
-- Modificado:	   --
-- Parametros de entrada: 
--		- ID de lote
--		- Cantidad del lote
--============================================

--exec [LOT].[SP_InserttLoteMateriaPrima]
CREATE procedure [LOT].[SP_InserttLoteMateriaPrima]
	@LotID NVARCHAR(MAX),
	@Quantity decimal
AS
BEGIN

SET NOCOUNT ON;

SET IDENTITY_INSERT [LOT].[tLoteMateriaPrima] ON

INSERT INTO [LOT].[tLoteMateriaPrima] (IdLoteMateriaPrima, IdLoteMES, SSCC, IdMaterial, IdUbicacion, IdProveedor, LoteProveedor, CantidadInicial, CantidadActual, Unidad, Prioridad, FechaEntradaPlanta, FechaEntradaUbicacion, FechaInicioConsumo, FechaFinConsumo, FechaCaducidad, FechaCuarentena, MotivoCuarentena, FechaBloqueo, MotivoBloqueo, FechaDefectuoso, CreadoPor, Creado, ActualizadoPor, Actualizado)
SELECT Lote.IdLoteMateriaPrima, Lote.IdLoteMES, Lote.SSCC, Lote.IdMaterial, Lote.IdUbicacion, Lote.IdProveedor, Lote.LoteProveedor, Lote.CantidadInicial, @Quantity, Lote.Unidad, Lote.Prioridad, Lote.FechaEntradaPlanta, Lote.FechaEntradaUbicacion, Lote.FechaInicioConsumo, Lote.FechaFinConsumo, Lote.FechaCaducidad, Lote.FechaCuarentena, Lote.MotivoCuarentena, Lote.FechaBloqueo, Lote.MotivoBloqueo, Lote.FechaDefectuoso, Lote.CreadoPor, Lote.Creado, Lote.ActualizadoPor, Lote.Actualizado
FROM [LOT].[tLoteMateriaPrimaConsumido] Lote
WHERE Lote.[IdLoteMES] = @LotID

SET IDENTITY_INSERT [LOT].[tLoteMateriaPrima] OFF

DELETE FROM [LOT].[tLoteMateriaPrimaConsumido]
WHERE [IdLoteMES] = @LotID

END
GO
