USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_InfoLotesProductoAcabadoPorLineaFechaEtiqueta]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor: Alexis Anselmi
-- Fecha creacion: 22-11-2021
-- Desccripcion: Se obtiene la información del lote de producto acabado en la tabla tProduccion
	
--  =============================================
CREATE PROCEDURE [LOT].[SP_InfoLotesProductoAcabadoPorLineaFechaEtiqueta]
(
		@Linea AS NVARCHAR(64),--'MSM.GRANADA.ENVASADO.G109'
		@Fecha AS DATETIME--'2021-10-18 13:01:08.817'
)
AS
BEGIN 

	SET NOCOUNT ON;


SELECT DISTINCT
	PRODUCCION.idLotMes AS LOTE_PRODUCTO_ACABADO,
	PRODUCCION.EtiquetaCreatedAt AS FECHA_PRODUCCION,
	PRODUCCION.Linea AS LINEA,
	PRODUCCION.Referencia AS MATERIAL,
	PRODUCCION.ParticionWO AS WO,
	LOTE.[LOTE_MES] AS LOTE_MES,
	PRODUCCION.SSCC AS SSCC
FROM
(
	SELECT
		[LOTE_MES],
		[UBICACION_MES],
		[FECHA_INICIO_ETIQUETA],
		[FECHA_FIN_ETIQUETA]
	FROM
	[MES_MSM_Trazabilidad].[LOT].[vLoteConsumido]
	WHERE 
	[LINEA] = @Linea
	AND
	@Fecha BETWEEN [FECHA_INICIO_CONSUMO_CODIFICADOR] AND [FECHA_FIN_CONSUMO_CODIFICADOR]
) LOTE
INNER JOIN [MES_MSM].[dbo].[MaquinasLineas] MaquinaLinea ON MaquinaLinea.Id = LOTE.[UBICACION_MES]
INNER JOIN [TRA].[tProduccion] PRODUCCION ON MaquinaLinea.NumLinea = PRODUCCION.Linea
WHERE
	PRODUCCION.EtiquetaCreatedAt BETWEEN LOTE.[FECHA_INICIO_ETIQUETA] AND LOTE.[FECHA_FIN_ETIQUETA]

END
GO
