USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_LotesConsumidosPorLineaFechaEtiqueta]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor: Alexis Anselmi
-- Fecha creacion: 22-11-2021
-- Desccripcion: Obtiene los lotes consumidos según una línea y la fecha que se etiquetó un lote de producto acabado
	
--  =============================================
CREATE PROCEDURE [LOT].[SP_LotesConsumidosPorLineaFechaEtiqueta]
(
		@Linea AS NVARCHAR(64),--'MSM.GRANADA.ENVASADO.G109'
		@Fecha AS DATETIME--'2021-10-18 13:01:08.817'
)
AS
BEGIN 

	SET NOCOUNT ON;


SELECT 
	LOTE.[FECHA_ENTRADA_PLANTA],
	LOTE.[LOTE_MES],
	LOTE.[REFERENCIA_MES],
	LOTE.[MATERIAL],
	LOTE.[TIPO_MATERIAL],
	LOTE.[CLASE_MATERIAL],
	LOTE.[ID_PROVEEDOR],
	LOTE.[PROVEEDOR],
	LOTE.[LOTE_PROVEEDOR],
	LOTE.[UNIDADES],
	LOTE.[UBICACION],
	LOTE.[FECHA_INICIO_CONSUMO],
	LOTE.[FECHA_FIN_CONSUMO],
	LOTE.[FECHA_INICIO_ETIQUETA],
	LOTE.[FECHA_FIN_ETIQUETA],
	LOTE.[FECHA_INICIO_CONSUMO_CODIFICADOR],
	LOTE.[FECHA_FIN_CONSUMO_CODIFICADOR]
FROM
[MES_MSM_Trazabilidad].[LOT].[vLoteConsumido] LOTE
WHERE 
LOTE.[LINEA] = @Linea
AND
@Fecha BETWEEN LOTE.[FECHA_INICIO_CONSUMO_CODIFICADOR] AND [FECHA_FIN_CONSUMO_CODIFICADOR]

END
GO
