USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_ActualizaFechasConsumoCodificadorEtiquetadoraPalets]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:		   Alexis Anselmi
-- Fecha creacion: 26/10/2021
-- Desccripcion:   Actualiza los campos FechaInicioConsumoCodificador - FechaFinConsumoCodificador - FechaInicioConsumoEtiqPalet - FechaFinConsumoEtiqPalet de la tabla tLoteMateriaPrimaConsumido
-- Modificado:	   --
--============================================

CREATE procedure [LOT].[SP_ActualizaFechasConsumoCodificadorEtiquetadoraPalets]
AS
BEGIN


-- DEFINICIÓN: 
--    Este método se desarrolló para actualizar las fechas de inicio de consumo de la Etiquetadora de Palet y Codificador de todos los lotes de la tabla 
--	  [tLoteMateriaPrimaConsumido] según la fecha de inicio y fin de consumo
--
-- CÓMO SE OBTIENEN LOS DATOS?
-- 1. Creamos una tabla temporal OEE_MEDIO para obtener el OEE Medio (Rendimiento) según las lineas de producción. Estos valores servirán para actualizar las fechas en caso de que no se obtengan datos de los consolidados o
--    el dato de la duración sea 3 veces mayor a lo esperado

--2. Creamos una segunda tabla temporal LOTES_CONSOLIDADOS en donde se obtienen los siguientes datos:
		-- IdLoteMES
		-- FechaInicioConsumo
		-- FechaFinConsumo
		-- NumeradorEtiquetaPalet
		-- NumeradorCodificador
		-- Denominador (PARA AMBAS FORMULAS)

	-- La fórmula que se utiliza para calcular la duración es la de regla de tres compuesta 
			-- A1 -> B1 -> C
			-- A2 -> B2 -> x

			--      A1*B1*C
			-- x = ---------
			--		 A2*B2

	-- Si hacemos un ejemplo: 
	-- Para un Offset (A1) de 96 minutos al 100% (B1) de una máquina se obtienen 46000 (C) envases
	-- Teniendo la Velocidad Nominal de 46000 envases a un rendimiento del 50% nos hace falta la duración 

	-- 		96 * 100 * 46000
	-- x = ------------------- = 192 min 
	--         46000 * 50

--3. Para obtener la duración hasta el codificador es necesario tener siempre la duración hasta etiquetadora, la resta de la duración de la etiquetadora con la duración que se tenga en el codificador
-- será la duración total a sumarle a la fecha de inicio de consumo

-- CONSULTA
--1. TABLA TEMPORAL OEE_MEDIO
SELECT 
	Linea, 
	AVG(OEEPreactor) OEEMedio
INTO #OEE_MEDIO
FROM
	[MES_MSM].[dbo].[OEEPreactorLineaMateriaPrima]
WHERE OEEPreactor > 0
GROUP BY Linea
-----------------------------------------------------------
--2. TABLA TEMPORAL LOTES_CONSOLIDADOS
SELECT
	LOTE.IdLoteMES,
	LOTE.FechaInicioConsumo,
	LOTE.FechaFinConsumo,
	MAX(UBICACION.Offset) * MAX(UBICACION.VelocidadNominalReferencia) * 100 AS NumeradorEtiquetaPalet,
	avg(LLENADORA.[VELOCIDAD_NOMINAL]) * (100*((SUM(LLENADORA.[CONTADOR_PRODUCCION])) / NULLIF(SUM(LLENADORA.[VELOCIDAD_NOMINAL]),0))) AS Denominador,
	MAX(UBICACION_CODIFICADOR.Offset) * MAX(UBICACION_CODIFICADOR.VelocidadNominalReferencia) * 100 AS NumeradorCodificador
	--MIN(OEEPreactor.OEEPreactor) AS OEEPreactor
INTO #LOTES_CONSOLIDADOS
FROM
	[LOT].[tLoteMateriaPrimaConsumido] AS LOTE
	INNER JOIN [UBI].[tUbicacion] AS UBICACION ON UBICACION.IdUbicacion = LOTE.IdUbicacion
	INNER JOIN [MES_MSM].[dbo].[Lineas] AS LINEA ON UBICACION.IdUbicacionLinkMES like LINEA.Id+'%'
	INNER JOIN [MES_MSM].[dbo].[COB_MSM_PROD_LLENADORA_HORA] AS LLENADORA ON LLENADORA.ID_MAQUINA like LINEA.Id+'%'
	INNER JOIN [MES_MSM].[dbo].[MaquinasLineas] AS MAQUINA ON MAQUINA.Id like LINEA.Id+'%' AND MAQUINA.Clase = 'CODIFICADOR'
	INNER JOIN [UBI].[tUbicacion] AS UBICACION_CODIFICADOR ON UBICACION_CODIFICADOR.Nombre = MAQUINA.Nombre
WHERE
	LOTE.FechaInicioConsumoCodificador IS NULL
	AND 
	LOTE.FechaInicioConsumo IS NOT NULL
	AND LOTE.FechaFinConsumo IS NOT NULL
	AND 
	( LLENADORA.FECHA_INICIO >= (
								 SELECT
									IIF(Contador = 0,(
															SELECT TOP 1
																InicioTurno
															FROM 
																[MES_MSM].[dbo].[Turnos]
															WHERE 
																LOTE.FechaInicioConsumo <= InicioTurno 
															ORDER BY InicioTurno ASC),
															(SELECT TOP 1
																InicioTurno
															FROM 
																[MES_MSM].[dbo].[Turnos]
															WHERE 
															 LOTE.FechaInicioConsumo BETWEEN InicioTurno AND FinTurno
															 GROUP BY InicioTurno)) InicioTurno
								FROM
								(SELECT 
									Count(*) Contador
								FROM 
									[MES_MSM].[dbo].[Turnos]
								WHERE 
								 LOTE.FechaInicioConsumo BETWEEN InicioTurno AND FinTurno
								 ) AS RESULT
							  )

AND  LLENADORA.FECHA_INICIO < (	SELECT
				IIF(Contador = 0,(
										SELECT TOP 1
											FinTurno
										FROM 
											[MES_MSM].[dbo].[Turnos]
										WHERE 
											LOTE.FechaFinConsumo >= FinTurno 
											AND FinTurno < GETUTCDATE()
										ORDER BY FinTurno ASC),
										(SELECT TOP 1
											FinTurno
										FROM 
											[MES_MSM].[dbo].[Turnos]
										WHERE 
										 LOTE.FechaFinConsumo BETWEEN InicioTurno AND FinTurno
										 AND FinTurno < GETUTCDATE()
										 GROUP BY FinTurno)) FinTurno
								FROM
								(SELECT 
									Count(*) Contador
								FROM 
									[MES_MSM].[dbo].[Turnos]
								WHERE 
								 LOTE.FechaFinConsumo BETWEEN InicioTurno AND FinTurno
								 AND FinTurno < GETUTCDATE()
								 ) AS RESULT
		))
	AND (TIEMPO_PLANIFICADO = 3600)
	AND LLENADORA.[SHC_WORK_SCHED_DAY_PK] <> 0
GROUP BY 
	LOTE.IdLoteMES,
	LOTE.FechaInicioConsumo,
	LOTE.FechaFinConsumo

-----------------------------------------------------------
-- ACTUALIZACIÓN DE LOS CAMPOS
UPDATE LOTES_ACTUALIZAR
SET	
	LOTES_ACTUALIZAR.FechaInicioConsumoCodificador = DATEADD(MINUTE,COALESCE(RESULT.DuracionEtiquetaPalet - RESULT.DuracionCodificador,0),LOTES_ACTUALIZAR.FechaInicioConsumo),
	LOTES_ACTUALIZAR.FechaFinConsumoCodificador = DATEADD(MINUTE,COALESCE(RESULT.DuracionEtiquetaPalet - RESULT.DuracionCodificador,0),LOTES_ACTUALIZAR.FechaFinConsumo),
	LOTES_ACTUALIZAR.FechaInicioConsumoEtiqPalet = DATEADD(MINUTE,COALESCE(RESULT.DuracionEtiquetaPalet,0),LOTES_ACTUALIZAR.FechaInicioConsumo),
	LOTES_ACTUALIZAR.FechaFinConsumoEtiqPalet = DATEADD(MINUTE,COALESCE(RESULT.DuracionEtiquetaPalet,0),LOTES_ACTUALIZAR.FechaFinConsumo) 
FROM
	[LOT].[tLoteMateriaPrimaConsumido] AS LOTES_ACTUALIZAR INNER JOIN
(SELECT DISTINCT
	TABLA.IdLoteMES,
	TABLA.FechaInicioConsumo,
	TABLA.FechaFinConsumo,
	IIF(TABLA.DuracionEtiquetaPalet IS NULL OR TABLA.DuracionEtiquetaPalet > (TABLA.Offset * 3),(((100 - TABLA.OEEMedio)/100)*(TABLA.Offset))+TABLA.Offset,TABLA.DuracionEtiquetaPalet) AS DuracionEtiquetaPalet,
	IIF(TABLA.DuracionCodificador IS NULL OR TABLA.DuracionCodificador > (TABLA.OffsetCodificador * 3), (((100 - TABLA.OEEMedio)/100)*(TABLA.OffsetCodificador))+TABLA.OffsetCodificador,TABLA.DuracionCodificador) AS DuracionCodificador
FROM
(SELECT
	LOTES_ACTUALIZAR.IdLoteMES,
	LOTES_ACTUALIZAR.FechaInicioConsumo,
	LOTES_ACTUALIZAR.FechaFinConsumo,
	LOTES_CONSOLIDADOS.NumeradorEtiquetaPalet / NULLIF(LOTES_CONSOLIDADOS.Denominador,0) AS DuracionEtiquetaPalet,
	LOTES_CONSOLIDADOS.NumeradorCodificador / NULLIF(LOTES_CONSOLIDADOS.Denominador,0) AS DuracionCodificador,
	UBICACION.Offset,
	OEEPreactor.OEEMedio,
	UBICACION_CODIFICADOR.Offset AS OffsetCodificador

FROM
[LOT].[tLoteMateriaPrimaConsumido] AS LOTES_ACTUALIZAR (nolock)
INNER JOIN [UBI].[tUbicacion] (nolock) AS UBICACION ON UBICACION.IdUbicacion = LOTES_ACTUALIZAR.IdUbicacion 
INNER JOIN #OEE_MEDIO AS OEEPreactor (nolock) ON UBICACION.IdUbicacionLinkMes like OEEPreactor.Linea +'%' 
INNER JOIN [MES_MSM].[dbo].[MaquinasLineas] (nolock) AS MAQUINA ON MAQUINA.Id like OEEPreactor.Linea +'%' AND MAQUINA.Clase = 'CODIFICADOR' 
INNER JOIN  [UBI].[tUbicacion] (nolock) AS UBICACION_CODIFICADOR ON UBICACION_CODIFICADOR.Nombre = MAQUINA.Nombre
INNER JOIN #LOTES_CONSOLIDADOS AS LOTES_CONSOLIDADOS ON LOTES_ACTUALIZAR.IdLoteMES = LOTES_CONSOLIDADOS.IdLoteMES 
			AND LOTES_ACTUALIZAR.FechaInicioConsumo = LOTES_CONSOLIDADOS.FechaInicioConsumo 
			AND LOTES_ACTUALIZAR.FechaFinConsumo = LOTES_CONSOLIDADOS.FechaFinConsumo
			) AS TABLA
) AS RESULT ON LOTES_ACTUALIZAR.IdLoteMES = RESULT.IdLoteMES 
			AND LOTES_ACTUALIZAR.FechaInicioConsumo = RESULT.FechaInicioConsumo 
			AND LOTES_ACTUALIZAR.FechaFinConsumo = RESULT.FechaFinConsumo


DROP TABLE #OEE_MEDIO
DROP TABLE #LOTES_CONSOLIDADOS




END
GO
