USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_InserttLoteMateriaPrimaConsumido]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:		   Juan Carlos Gómez Mandujano
-- Fecha creacion: 08/10/2021
-- Desccripcion:   Inserta los lotes consumidos desde la tabla '[LOT].[tLoteMateriaPrimaConsumido]' a la tabla '[LOT].[tLoteMateriaPrima]'.
-- Modificado:	   --
-- Parametros de entrada: (Opcional) ID de lote en caso solo se quiera ingresar solo ese lote
--============================================

--exec [LOT].[SP_InserttLoteMateriaPrimaConsumido]
CREATE procedure [LOT].[SP_InserttLoteMateriaPrimaConsumido]
	@LotID NVARCHAR(MAX) = NULL
AS
BEGIN

SET NOCOUNT ON;

SET IDENTITY_INSERT [LOT].[tLoteMateriaPrimaConsumido] ON


INSERT INTO [LOT].[tLoteMateriaPrimaConsumido] (IdLoteMateriaPrima, IdLoteMES, SSCC, IdMaterial, IdUbicacion, IdProveedor, LoteProveedor, CantidadInicial, CantidadActual, Unidad, Prioridad, FechaEntradaPlanta, FechaEntradaUbicacion, FechaInicioConsumo, FechaFinConsumo, FechaCaducidad, FechaCuarentena, MotivoCuarentena, FechaBloqueo, MotivoBloqueo, FechaDefectuoso, CreadoPor, Creado, ActualizadoPor, Actualizado)
SELECT 
	Lote.IdLoteMateriaPrima, 
	Lote.IdLoteMES, Lote.SSCC, 
	Lote.IdMaterial, Lote.IdUbicacion, 
	Lote.IdProveedor, Lote.LoteProveedor, 
	Lote.CantidadInicial, 
	Lote.CantidadActual, 
	Lote.Unidad, 
	Lote.Prioridad, 
	Lote.FechaEntradaPlanta, 
	Lote.FechaEntradaUbicacion, 
	IIF(Lote.FechaInicioConsumo IS NULL,DATEADD(mi,-3,Lote.FechaFinConsumo),Lote.FechaInicioConsumo), 
	Lote.FechaFinConsumo, 
	Lote.FechaCaducidad, 
	Lote.FechaCuarentena, 
	Lote.MotivoCuarentena, 
	Lote.FechaBloqueo, 
	Lote.MotivoBloqueo, 
	Lote.FechaDefectuoso, 
	Lote.CreadoPor, 
	Lote.Creado, 
	Lote.ActualizadoPor, 
	Lote.Actualizado
FROM [LOT].[tLoteMateriaPrima] Lote
	 INNER JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Lote.IdUbicacion
	 LEFT JOIN [LOT].[tLoteMateriaPrimaConsumido] LotesConsumios ON LotesConsumios.IdLoteMES = Lote.IdLoteMES 
WHERE Lote.[CantidadActual] <= ISNULL(Ubicacion.UmbralStockCero,0) AND LotesConsumios.IdLoteMES IS NULL
	  AND (Lote.IdLoteMES = @LotID OR @LotID IS NULL)

SET IDENTITY_INSERT [LOT].[tLoteMateriaPrimaConsumido]  OFF

DELETE Lote
FROM [LOT].[tLoteMateriaPrima] Lote
	 INNER JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Lote.IdUbicacion
WHERE Lote.[CantidadActual] <= ISNULL(Ubicacion.UmbralStockCero,0)
	  AND (Lote.IdLoteMES = @LotID OR @LotID IS NULL)

END
GO
