USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_ObtenerLoteConsumidoAgrupado]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [LOT].[SP_ObtenerLoteConsumidoAgrupado]
@IdProveedor	AS INT,
@IdLoteMES		AS NVARCHAR(64),
@LoteProveedor	AS NVARCHAR(64),
@CodigoJDE		AS NVARCHAR(50) 
AS
BEGIN 
	SET NOCOUNT ON;

	--Variables del SP internas
	DECLARE @Grupo BIGINT = 0;
	DECLARE @Rango INT = 30;
	--Variables para hacer el recorrido por apuntador
	DECLARE @IdLotesConsumidosCursor INT;
	DECLARE @DiferenciaCursor INT;
	DECLARE @EsGrupoNuevo BIT = 0;

	DECLARE @LotesConsumidos TABLE(
		Id INT,
		IdLoteMES NVARCHAR(250),
		FechaInicio DATETIME NULL,
		FechaFin DATETIME NULL,
		IdUbicacion INT
	);

	DECLARE @ResultDiferencia TABLE(
		Id INT,
		IdLoteMES NVARCHAR(250),
		FechaInicio DATETIME NULL,
		FechaFin DATETIME NULL,
		IdUbicacion INT,
		Diferencia INT NULL
	);

	with CTE_RN as
	(
	SELECT 
		ROW_NUMBER() OVER(ORDER BY IdLoteMateriaPrima) as RowNumber,
		IdLoteMES,
		FechaInicioConsumo AS FechaInicio,
		FechaFinConsumo AS FechaFin,
		IdUbicacion
	FROM 
		[LOT].[tLoteMateriaPrimaConsumido]
	WHERE(	(IdProveedor = @IdProveedor AND  @IdLoteMES IS NULL  AND @IdProveedor IS NOT NULL) OR
			(LoteProveedor = @LoteProveedor AND @IdLoteMES IS NULL AND @LoteProveedor IS NOT NULL) OR
			(@IdLoteMES = IdLoteMES AND @IdLoteMES IS NOT NULL) OR 
			(@CodigoJDE = IdMaterial AND @CodigoJDE IS NOT NULL) OR
			(@LoteProveedor IS NOT NULL AND @IdProveedor IS NOT NULL AND LoteProveedor = @LoteProveedor AND IdProveedor = @IdProveedor AND @IdLoteMES IS NULL) ) 
	)

	INSERT INTO @LotesConsumidos
	select
		RowNumber,
		IdLoteMES,
		FechaInicio,
		FechaFin,
		IdUbicacion
	from CTE_RN
	ORDER BY FechaInicio,IdUbicacion

	INSERT INTO @ResultDiferencia
	SELECT 
		A.Id,
		A.IdLoteMES,
		A.FechaInicio,
		A.FechaFin,
		A.IdUbicacion,
		DATEDIFF(MINUTE,B.FechaInicio,A.FechaFin) Diferencia
	FROM 
		@LotesConsumidos A
		LEFT JOIN @LotesConsumidos B ON A.Id + 1 = B.Id

	DECLARE CUR_TEST CURSOR FOR
    SELECT 
		Id,
		Diferencia
    FROM   @ResultDiferencia
    ORDER BY Id;

	OPEN CUR_TEST
	FETCH NEXT FROM CUR_TEST INTO @IdLotesConsumidosCursor, @DiferenciaCursor
 
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Si es un grupo nuevo sumamos uno al grupo
		IF(@EsGrupoNuevo = 1)
		BEGIN
			SET @Grupo = @Grupo +1;
			SET @EsGrupoNuevo = 0;
		END

		-- Si la diferencia es mayor al rango o el valor de diferencia es NULO sabemos que viene un cambio de grupo
		IF(@DiferenciaCursor > @Rango OR @DiferenciaCursor IS NULL)
		BEGIN
			SET @EsGrupoNuevo = 1;
		END

		--Actualizamos Grupo
	   UPDATE @ResultDiferencia
	   SET Diferencia = @Grupo
	   WHERE Id = @IdLotesConsumidosCursor  

	   FETCH NEXT FROM CUR_TEST INTO  @IdLotesConsumidosCursor, @DiferenciaCursor
	END
	CLOSE CUR_TEST
	DEALLOCATE CUR_TEST

	SELECT	Lote.TIPO_MATERIAL,
			Lote.CLASE_MATERIAL,
			Lote.REFERENCIA_MES,
			Lote.MATERIAL,
			Lote.LOTE_MES,
			Lote.ID_PROVEEDOR,
			Lote.PROVEEDOR,
			Lote.LOTE_PROVEEDOR,
			Lote.CANTIDAD_INICIAL,
			Lote.CANTIDAD_ACTUAL,
			Lote.UNIDADES,
			Lote.PRIORIDAD,
			Lote.FECHA_ENTRADA_PLANTA,
			Lote.FECHA_ENTRADA_UBICACION,
			Lote.FECHA_INICIO_CONSUMO,
			Lote.FECHA_FIN_CONSUMO,
			Lote.FECHA_INICIO_ETIQUETA,
			Lote.FECHA_FIN_ETIQUETA,
			Lote.MINUTO_VIAJE_ENVASE,
			Lote.FECHA_CADUCIDAD,
			Lote.FECHA_CUARENTENA,
			Lote.MOTIVO_CUARENTENA,
			Lote.FECHA_BLOQUEO,
			Lote.MOTIVO_BLOQUEO,
			Lote.ALMACEN,
			Lote.ZONA,
			Lote.UBICACION,
			Lote.UBICACION_MES,
			Lote.UBICACION_ORIGEN,
			Lote.ESTADO_UBICACION,
			Lote.TIPO_UBICACION,
			Lote.POLITICA_VACIADO,
			Lote.DEFECTUOSO,
			Grp.DIFERENCIA AS GRUPO
	FROM	[LOT].[vLoteConsumido] AS Lote
			INNER JOIN @ResultDiferencia AS Grp ON Grp.IdLoteMES = Lote.LOTE_MES


END


GO
