USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_LotesConsumidosPorSSCC]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor: Alexis Anselmi
-- Fecha creacion: 22-11-2021
-- Desccripcion: Se obtiene la información del lote de producto acabado en la tabla tProduccion
	
--  =============================================
create PROCEDURE [LOT].[SP_LotesConsumidosPorSSCC]
(
		@SSCC AS NVARCHAR(64)--384136816312003357
)
AS
BEGIN 

	SET NOCOUNT ON;


SELECT
	LOTE.[FECHA_ENTRADA_PLANTA],
	LOTE.[LOTE_MES],
	LOTE.[REFERENCIA_MES],
	LOTE.[MATERIAL],
	LOTE.[TIPO_MATERIAL],
	LOTE.[CLASE_MATERIAL],
	LOTE.[ID_PROVEEDOR],
	LOTE.[PROVEEDOR],
	LOTE.[LOTE_PROVEEDOR],
	LOTE.[UNIDADES],
	LOTE.[UBICACION],
	LOTE.[FECHA_INICIO_CONSUMO],
	LOTE.[FECHA_FIN_CONSUMO],
	LOTE.[FECHA_INICIO_ETIQUETA],
	LOTE.[FECHA_FIN_ETIQUETA],
	LOTE.[FECHA_INICIO_CONSUMO_CODIFICADOR],
	LOTE.[FECHA_FIN_CONSUMO_CODIFICADOR]
FROM
[MES_MSM_Trazabilidad].[LOT].[vLoteConsumido] LOTE
INNER JOIN [MES_MSM].[dbo].[MaquinasLineas] MaquinaLinea ON MaquinaLinea.Id = LOTE.[UBICACION_MES]
INNER JOIN
(SELECT  
 EtiquetaCreatedAt AS FECHA_CREACION,
 Linea AS LINEA
FROM
[TRA].[tProduccion] 
WHERE 
SSCC = @SSCC) AS PRODUCCION 
ON PRODUCCION.FECHA_CREACION BETWEEN LOTE.[FECHA_INICIO_ETIQUETA] AND LOTE.[FECHA_FIN_ETIQUETA] AND MaquinaLinea.NumLinea = PRODUCCION.Linea

END
GO
