USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [LOT].[SP_AjustarDiferenciaFechasEtiquetadoraCodificadora]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Alexis Anselmi
-- Create date: 07-02-2022
-- Description:	Con este SP se busca actualizar los campos FechaInicio y FechaFin ConsumoEtiqPalet y Codificador
-- con el valor siguiente de los registros entre ellos
-- =============================================
CREATE PROCEDURE [LOT].[SP_AjustarDiferenciaFechasEtiquetadoraCodificadora]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    /****** Script for SelectTopNRows command from SSMS  ******/

--ETIQUETADORA DE PALLET
UPDATE RESULT
SET [FechaInicioConsumoEtiqPalet] = FechaActualizada
FROM
(SELECT
	RESULT.[IdLoteMateriaPrima],
	RESULT.IdMaterial,
	RESULT.IdUbicacion,
	RESULT.[FechaInicioConsumoEtiqPalet],
	RESULT.[FechaFinConsumoEtiqPalet],
	IIF(RESULT.FechaFinSiguiente IS NULL, 
		RESULT.[FechaInicioConsumoEtiqPalet],
		IIF(DATEDIFF(hour,RESULT.[FechaInicioConsumoEtiqPalet],RESULT.FechaFinSiguiente) < 2,
			RESULT.FechaFinSiguiente,
			RESULT.[FechaInicioConsumoEtiqPalet]
			)
	  ) FechaActualizada
FROM
(SELECT 
	  [IdLoteMateriaPrima]
		,IdMaterial
		,IdUbicacion
      ,[FechaInicioConsumoEtiqPalet]
      ,[FechaFinConsumoEtiqPalet]
	  --Se obtiene el siguiente registro de la tabla agrupado por IdMaterial y IdUbicacion
	  ,LEAD([FechaFinConsumoEtiqPalet]) OVER (PARTITION BY IdMaterial,IdUbicacion ORDER BY [FechaInicioConsumoEtiqPalet] DESC) AS FechaFinSiguiente
  FROM [MES_MSM_Trazabilidad].[LOT].[tLoteMateriaPrimaConsumido]
  WHERE 
	[FechaInicioConsumoEtiqPalet] IS NOT NULL
	AND [FechaFinConsumoEtiqPalet] IS NOT NULL
	AND [Creado] > DATEADD(day,-2,GETUTCDATE())
) RESULT
) AS RESULT

  --CODIFICADOR
UPDATE RESULT
SET [FechaInicioConsumoCodificador] = FechaActualizada
FROM
(SELECT
	RESULT.[IdLoteMateriaPrima],
	RESULT.IdMaterial,
	RESULT.IdUbicacion,
	RESULT.[FechaInicioConsumoCodificador],
	RESULT.[FechaFinConsumoCodificador],
	IIF(RESULT.FechaFinSiguiente IS NULL, 
		RESULT.[FechaInicioConsumoCodificador],
		IIF(DATEDIFF(hour,RESULT.[FechaInicioConsumoCodificador],RESULT.FechaFinSiguiente) < 2,
			RESULT.FechaFinSiguiente,
			RESULT.[FechaInicioConsumoCodificador]
			)
	  ) FechaActualizada
FROM
(  SELECT [IdLoteMateriaPrima]
		,IdMaterial
		,IdUbicacion
      ,[FechaInicioConsumoCodificador]
      ,[FechaFinConsumoCodificador]
	  --Se obtiene el siguiente registro de la tabla agrupado por IdMaterial y IdUbicacion
	  ,LEAD([FechaFinConsumoCodificador]) OVER (PARTITION BY IdMaterial,IdUbicacion ORDER BY [FechaInicioConsumoCodificador] DESC) AS FechaFinSiguiente
  FROM [MES_MSM_Trazabilidad].[LOT].[tLoteMateriaPrimaConsumido]
  WHERE
	[FechaInicioConsumoCodificador] IS NOT NULL
	AND [FechaFinConsumoCodificador] IS NOT NULL
	AND [Creado] > DATEADD(day,-2,GETUTCDATE())
) RESULT
) AS RESULT

END
GO
