USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[SP_tJDERecepcionMaterial_Transporte_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Procedimiento de actualizacion de los datos del transporte  en la tabla de JDE,
--					Devuelve true si la operacion ha sido correcta, false en caso contrario.
-- Parametros de entrada
	--	@idalbaran--> Id albaran a modificar,
	--	@idTransporte--> id lote a modificar,
	--	@operacion--> 0 Editar 1 borrar
--  =============================================
--exec [MAT].[SP_tJDERecepcionMaterial_Transporte_UPD] 2191
CREATE procedure [MAT].[SP_tJDERecepcionMaterial_Transporte_UPD]
	@idTransporte as int,
	@operacion int=0

AS
BEGIN

set nocount on; 
--------------------------------
-- Declaracion de variables
------------------------------
declare @Fecha_recpe datetime
declare @planta nvarchar(50)
declare @provedor as nvarchar(50)
declare @matricula as nvarchar(10)
declare @idc as int 
declare @idRecepcion as int 
declare @return as nvarchar(10) 
declare @UltimaAccionMes as nvarchar(256) 
declare @ProcesadaJDE as int
declare @isgranel bit
declare @PesoEntrada decimal(18,0)
declare @PesoSalida decimal(18,0)
declare @idalbaran int

---------------------------------
-- iNIT
---------------------------------
 SET @idRecepcion  =0
 set @return = 'true'
 set @idc = 0
------------------------
-- Obtenemos la informacion del tranporte
------------------------
	SELECT	 @idalbaran = idalbaran,
			 @matricula=mt.MatriculaTractora,
			 @isgranel= tra.IsGranel, 
			 @PesoEntrada=tra.PesoEntrada, 
			 @PesoSalida=tra.PesoSalida
	FROM	[TRA].[tAlbaran] alb (NOLOCK), 
			[TRA].[tTransporte] tra (NOLOCK),
			[TRA].[tMatriculaTractoraRemolque]  remo (NOLOCK),
			[TRA].[tMatriculaTractora] mt (NOLOCK)
	WHERE		 alb.IdTransporte = @idTransporte
			AND	alb.[IdTransporte] = tra.[IdTransporte]
			and 	tra.[IdMatriculaTractoraRemolque] = remo.[IdMatriculaTractoraRemolque]
			and     mt.IdMatriculaTractora = remo.IdMatriculaTractora
	-----------------------------------------------------------
	-- Comprobamos que existe un registro para ese albaran
	-----------------------------------------------------------	

	
	
	SELECT	@idRecepcion=[CodigoRecepcion],
			@UltimaAccionMes=[UltimaAccionMes], 
			@ProcesadaJDE =ProcesadaJDE
	FROM	[TRA].[tJDERecepcionMaterial] (NOLOCK)
	WHERE	[Albaran] =@idalbaran




	

	-------------------------------
	-- Si no hay datos no continuamos
	-------------------------------
	IF  @idRecepcion = 0
	BEGIN
		SELECT @return as Valor
		RETURN;
	END 

BEGIN TRY
  	---------------------------------------
	-- Obtenemos la matricula
	--------------------------------------
	BEGIN TRAN

	UPDATE	[TRA].[tJDERecepcionMaterial]
	SET		 [Cantidad] =case when @isgranel =1 then @PesoSalida -@PesoEntrada 
						else [Cantidad] end 
			,[MatriculaCamion] = @matricula
			,[UltimaAccionMes] =CASE  
								WHEN @UltimaAccionMes ='Creado'  AND @operacion =0 	THEN 'Modificado' 
								WHEN @UltimaAccionMes ='Creado'  AND @operacion =1 	THEN 'Borrado' 
								WHEN @UltimaAccionMes ='Modificado'  AND @operacion =0 	THEN 'Modificado' 
								WHEN @UltimaAccionMes ='Modificado'  AND @operacion =1 	THEN 'Borrado' 
								END	
			,[FechaHoraModificacion] =getdate()
			,[ProcesadaJDE] = CASE
								WHEN @ProcesadaJDE =1 THEN 2 
										WHEN @ProcesadaJDE =2 THEN 2 ELSE  0 
								END 	
	FROM	[TRA].[tJDERecepcionMaterial] a
	WHERE	a.[CodigoRecepcion] = @idRecepcion
	--and		([MatriculaCamion] <> @matricula) OR   ((@isgranel =1) and (@PesoSalida > 0))  
		
	COMMIT TRAN

	SELECT @return as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = 'false'
	SELECT @return as Valor
END CATCH;




END


GO
