USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[SP_tJDERecepcionMaterial_INS]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	PProcedimiento que realiza  insercion en la tablas tJDERecepcionMaterial y tJDEPropiedadRecepcion de JDE
--					Devuelve true si la operacion ha sido correcta, false en caso contrario.
-- Parametros de entrada
	--	@idalbaran--> Id albaran a insetar,
	--	@idlote--> id lote a insertar,
--  =============================================
CREATE procedure [MAT].[SP_tJDERecepcionMaterial_INS]
@idalbaran int,
 @idlote as nvarchar(256)

AS
BEGIN

set nocount on; 
--------------------------------
-- Declaracion de variables
------------------------------
declare @Fecha_recpe datetime
declare @planta nvarchar(50)
declare @provedor as nvarchar(50)
declare @matricula as nvarchar(10)
declare @id as int 
declare @idpROP as int
declare @idRecepcion as int 
declare @return as nvarchar(10) 
declare @UltimaAccionMes as nvarchar(256) 
declare @ProcesadaJDE as int
declare @isGranel bit

---------------------------------
-- iNIT
---------------------------------
 SET @idRecepcion  =0
 SET @idpROP =0
 set @return = 'true'
 set @isGranel = 0
------------------------
-- Obtenemos la informacion del tranporte
------------------------
-- Obtenemos la fecha de la descarga
	SELECT	@Fecha_recpe =PropValDate,@provedor = serial_number
	FROM	[MAT].[vAllPropExtendbyLot] (nolock)
	WHERE	LotID =@idlote
	AND		[PropertyID] ='Fecha_descarga'
---------------------------------
-- Obtenmos la planta
---------------------------------
	SELECT	@planta  = [Codigo_planta]
	FROM	[UBI].[tPlanta_TIPO]
	WHERE	substring(@idlote,0,4)=[Codigo_corto_platna]


BEGIN TRY
  	---------------------------------------
	-- Obtenemos la matricula
	--------------------------------------
	SELECT	@matricula=mt.MatriculaTractora
	FROM	[TRA].[tAlbaran] alb (NOLOCK), 
			[TRA].[tTransporte] tra (NOLOCK),
			[TRA].[tMatriculaTractora] mt (NOLOCK)
	WHERE	 alb.idalbaran = @idalbaran
	AND		alb.[IdTransporte] = tra.[IdTransporte]
	AND 	tra.[IdMatriculaTractoraRemolque] = mt.IdMatriculaTractora

	SELECT	@idRecepcion=[CodigoRecepcion], @UltimaAccionMes=[UltimaAccionMes], @ProcesadaJDE =ProcesadaJDE
	FROM	[TRA].[tJDERecepcionMaterial] (NOLOCK)
	WHERE	[Albaran] =@idalbaran
	AND		[LoteMes] = @idlote	
	-------------------------------
	-- Si no hay datos no continuamos
	-------------------------------
	IF  @idRecepcion > 0
	BEGIN
		SELECT @return as Valor
		RETURN;
	END 
	

	BEGIN TRAN

	-------------------------------------------
	-- Insertamos 
	--------------------------------------------
	INSERT INTO [TRA].[tJDERecepcionMaterial]
			   ([FechaRecepcion]
			   ,[CodigoPlanta]
			   ,[CodigoMaterial]
			   ,[DescripcionMaterial]
			   ,[CodigoProveedor]
			   ,[DescripcionProveedor]
			   ,[LoteProveedor]
			   ,[Albaran]
			   ,[PosicionAlbaran]
			   ,[Cantidad]
			   ,[Unidad]
			   ,[LoteMes]
			   ,[MatriculaCamion]
			   ,[TipoDocumento]
			   ,[NumPedidoMSM]
			   ,[LineaPedido]
			   ,[UltimaAccionMes]
			   ,[FechaHoraModificacion]
			   ,[ProcesadaJDE])
	 SELECT 	@Fecha_recpe as Fecha_recpe,
				@planta as Codigo_planta,
				mat.idmaterial,
				mat.Descripcion,
				'testprov' as Codigoprovedor,
				'descprov' as Desproveror,
				@provedor as Provedor,
				alb.idalbaran,
				pos_lote.idalbaranposicion,		
				Lost.InitQuantity,
				--lost.Quantity,
				--pos.cantidad,
				pos.sourceUomID,
				pos_lote.idlote,
				@matricula  as Matricula,
				tipo_ord.[Tipo],
				pos.idOrden,
				'' LineaPedido,
				'Creado',				
				getdate(),
				0				  
	FROM		[TRA].[tAlbaran] alb (NOLOCK),
				[TRA].[tAlbaranPosicion] pos (NOLOCK),
				[TRA].[tAlbaranPosicionLote] pos_lote (NOLOCK),
				[MAT].[tTipoOrdenAprovisionamiento] tipo_ord (NOLOCK),
				[MAT].[vMateriales] mat(NOLOCK),
				[MAT].vLote lost (NOLOCK)
	WHERE		alb.idalbaran = @idalbaran
	AND			alb.idalbaran = pos.idalbaran
	AND			pos.idalbaranposicion = pos_lote.idalbaranposicion
	AND			tipo_ord.[IdTipoOrdenAprovisionamiento] = pos.[IdTipoOrden]
	AND			pos_lote.idlote =@idlote  
	AND			mat.idmaterial = pos.[IdMaterial]
	AND			lost.LotId = pos_lote.idlote


	SET			@id = @@IDENTITY

	-------------------------------
	-- Comprobamos si tienes propiedades extendias
	-----------------------------
	SELECT	@idpROP  =COUNT(1) 
	FROM	[MAT].[vAllPropExtendbyLot] (nolock)
	WHERE	LotID =@idlote
	AND		[PrpGroupid] ='Especial' 

	IF(@idpROP >0)
	BEGIN
			------------------------------
			-- Insertamos las propiedades extendidas
			------------------------------
			INSERT INTO [TRA].[tJDEPropiedadRecepcion]
				   ([CodigoRecepcion]
				   ,[NombrePropiedad]
				   ,[Valor]
				   ,[Unidad])
			SELECT	@id,
					Propertyid,
					propvalchar,
					uomid
			FROM	[MAT].[vAllPropExtendbyLot] (nolock)
			WHERE	LotID =@idlote
			AND		[PrpGroupid] ='Especial'
	END 


	-- comprobarmos si el transporte no es granel.

	select @isGranel=[IsGranel] 
	from [TRA].[tTransporte] tr (NOLOCK), 
			[TRA].[tAlbaran] alb (NOLOCK)
 	where	alb.idalbaran = @idalbaran
	and		alb.[IdTransporte]= tr.[IdTransporte]

	--Si es un  no granel indicamos la cantidad del lote.
	if(@isGranel=0)
	begin
		update  [TRA].[tJDERecepcionMaterial]
		set		[Cantidad] =lot.[Quantity] 
		from	[TRA].[tJDERecepcionMaterial] ls, 
				[MAT].[vLote] lot
	     where   ls.[LoteMes] = lot.[LotID]

	End

	COMMIT TRAN

	SELECT @return as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = 'false'
	SELECT @return as Valor
END CATCH;




END
GO
