USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spGetLotsByFilters]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec [MAT].[spGetLotsByFilters]

  


CREATE procedure [MAT].[spGetLotsByFilters]
    
	-- Add the parameters for the stored procedure here
    @IdAlmacen INT = NULL,
	@IdZona INT = NULL,
	@IdUbicacion INT = NULL,
	@IdTipoMaterial NVARCHAR(32) = NULL,
	@IdClaseMaterial NVARCHAR(64) = NULL,
	@IdMaterial NVARCHAR(64) = NULL,
	@IdLote NVARCHAR(64) = NULL,
	@LoteProveedor NVARCHAR(255) = NULL,
	@Consumido BIT = NULL,
	@FechaInicio DATETIME = NULL,
	@FechaFin DATETIME = NULL,
	@IdProveedor INT = NULL
AS

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	
	
	------------------------------
	-- Declaración de variables
	------------------------------
	DECLARE @IDC AS INT
	DECLARE @ID AS INT
	DECLARE @REFNAV AS VARCHAR(256)
	DECLARE @UbicacionLinkMes AS VARCHAR(256)
	DECLARE @CurrentDate AS datetime
	DECLARE @LastDate AS datetime
	------------------------------
	-- Init
	------------------------------
	SET @IDC = 0
	------------------------------
	-- Create temp table
	------------------------------
	CREATE TABLE #inter_ref
	(

		PartNo varchar(256),
		EnvasesPalets varchar(256),
		CajasPalets varchar(256),
		Revision varchar(256) 

	)
	CREATE TABLE #temp_data
	(

	 
		IdLotMes varchar(64),
		EtiquetaCreatedAt DATETIME,
		Referencia varchar(100),
		CajasPalets varchar(256),
		Paleta bit

	)
	CREATE TABLE #lotes
	(

	 
			LotID Nvarchar(64),
			InitQuantity decimal(18,6),
			Quantity decimal(18,6),
			CreatedOn DateTime, 
			DefVerPK int,
			LotStatusPK int,			
			LocPath Nvarchar(256), 
			idUbicacion int,
			Paleta bit,
			PK_Material Nvarchar(64),
			IdMaterial Nvarchar(64),
			Descripcion Nvarchar(4000),
			Tipo  Nvarchar(64)

	)

	CREATE TABLE #result_data
	(

	
			LoteMes			Nvarchar(64),
			ReferenciaMES	Nvarchar(4000),			
			CantidadInicial decimal(18,6),
			CantidadActual	decimal(18,6),
			FechaCreacion	DateTime,
			UbicacionMES	VARCHAR(256) ,
			PK_Material		int,
			IdAlbaran		int ,
			Paleta			int default(0)

	 
		

	)



	
	
	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	INSERT INTO #lotes
	(
			LotID ,
			InitQuantity,
			Quantity,
			CreatedOn, 
			DefVerPK,
			LotStatusPK,			
			LocPath, 
			idUbicacion,
			Paleta,
			PK_Material,
			IdMaterial ,
			Descripcion,
			Tipo


	)
	Select	lots.LotID ,
			Lots.InitQuantity,
			Lots.Quantity,
			Lots.CreatedOn, 
			Lots.DefVerPK,
			Lots.LotStatusPK,
			--Lots.LotPK,
			ll.LocPath, 
			0  as  idUbicacion,
			0  as Paleta,
			PK_Material,
			IdMaterial ,
			Descripcion,
			MM.Tipo
	 From	[SITMESDB].[dbo].[MMLots] Lots (NOLOCK),
			[SITMesdb].[dbo].[MMLocations] LL (NOLOCK),
			[SITMESDB].[dbo].[MMDefVers] DefVer  (NOLOCK),
			[SITMESDB].[dbo].[MMDefinitions] Def  (NOLOCK) ,
			[MAT].[vMateriales] MM  (NOLOCK) 

	WHERE	LL.LocPk = Lots.LocPk
	AND		Lots.[DefVerPK] = DefVer.[DefVerPK] 
	AND		Def.DefPK = DefVer.DefPK
	AND		 MM.IdMaterial = Def.DefID

		
			--	--LEFT JOIN [MAT].[vTipoMaterial] TM ON TM.Tipo = MM.Tipo
	and lots.rowdeleted = 0
	and ((Lots.LotID like '%'+@IdLote+'%' OR @IdLote IS NULL))
	AND   ((MM.IdMaterial = @IdMaterial OR @IdMaterial IS NULL))
	 -- AND 
	 -- ((TM.Tipo = @IdTipoMaterial OR @IdTipoMaterial IS NULL))
	  AND 
	 ((MM.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL))


	

	if(isnull(@IdLote,'') <> '')
	BEGIN
		

		INSERT INTO #temp_data
		SELECT  IdLotMes,			
				EtiquetaCreatedAt,
				Referencia,
				0 as CajasPalets,
				1 AS Paleta					
	--	INTO	#temp_data		
		FROM	[TRA].[tProduccion] (NOLOCK)
		WHERE   (idLotMes like '%'+@IdLote+'%')	
		ORDER	BY EtiquetaCreatedAt DESC

	

	------------------------------
	---- Obtenemos la información de referencia
	----------------------------
		SELECT	DISTINCT IDENTITY(int,1,1) ID,
				Referencia
		INTO	#temp_ref
		FROM	#temp_data
		SET @IDC = @@ROWCOUNT 
		SET @ID = 1
		WHILE @ID <= @IDC
		BEGIN 

			SELECT	@REFNAV = Referencia
			FROM	#temp_ref
			WHERE	ID  = @ID
		
			INSERT INTO #inter_ref
			EXEC MES_MSM.[dbo].[MES_ObtenerConversionesPorProducto]  @REFNAV
		
			SET @ID = @ID  + 1

		END 


		-- Actualizamos la tabla con la cantidad
	--------------------------
	update #temp_data
	set CajasPalets   =  ds.CajasPalets
	from #temp_data r, #inter_ref ds
	where ds.PartNo = r.Referencia

	--------------------------------------
	-- Obtenemos la ubicacion por defecto.
	--------------------------------------
	SELECT  @UbicacionLinkMes =[UbicacionLinkMes]
	FROM	[MES_MSM_Trazabilidad].[UBI].[tTipoUbicacion]
	WHERE [IdTipoUbicacion] = 10


	INSERT INTO #LOTES
	(

			LotID,
			InitQuantity,
			Quantity,
			CreatedOn, 
			DefVerPK,
			idUbicacion,
			LotStatusPK,			
			LocPath,
			Paleta,
				PK_Material,
			IdMaterial ,
			Descripcion,
			Tipo
	)	
	SELECT	IdLotMes,
			CajasPalets,
			CajasPalets,
			EtiquetaCreatedAt,
			Referencia,
			0,			
			0,			
			@UbicacionLinkMes,
			1,
			IdProducto,
			IdProducto ,
			Descripcion,
			'03'--- Producto terminado
	FROM	#temp_data DS,
			MES_MSM.[dbo].[Productos] PR
	WHERE	DS.Referencia  = PR.IdProducto
	AND 
	  ((PR.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL))



	  END
	

	---------------------
	---- Obtenemos el ultimo palet
	---------------------
	--SELECT TOP  1 @CurrentDate = EtiquetaCreatedAt
	--FROM [TRA].[tProduccion] (NOLOCK)
	--where idLotMes is not null
	--ORDER BY EtiquetaCreatedAt DESC
	
	--SET  @LastDate = DATEADD(dd, -1,@CurrentDate)	

	

	--if(isnull(@IdLote,'') <> '')
	--BEGIN
		

	--	INSERT INTO #temp_data
	--	SELECT  IdLotMes,			
	--			EtiquetaCreatedAt,
	--			Referencia,
	--			0 as CajasPalets,
	--			1 AS Paleta					
	----	INTO	#temp_data		
	--	FROM	[TRA].[tProduccion] (NOLOCK)
	--	WHERE   (idLotMes like '%'+@IdLote+'%')	
	--	ORDER	BY EtiquetaCreatedAt DESC

	


	--END 
	--ELSE
	--BEGIN 

		


	--	INSERT INTO #temp_data
	--	SELECT  IdLotMes,			
	--			EtiquetaCreatedAt,
	--			Referencia,
	--			0 as CajasPalets,
	--			1 AS Paleta						
	--	FROM	[TRA].[tProduccion] (NOLOCK)
	--	WHERE   EtiquetaCreatedAt BETWEEN @LastDate and @CurrentDate
	--	and		idLotMes is not null
	--	ORDER	BY EtiquetaCreatedAt DESC

		



	--END 

	
	------------------------------
	---- Obtenemos la información de referencia
	------------------------------
	--SELECT	DISTINCT IDENTITY(int,1,1) ID,
	--		Referencia
	--INTO	#temp_ref
	--FROM	#temp_data
	--SET @IDC = @@ROWCOUNT 
	--SET @ID = 1
	--WHILE @ID <= @IDC
	--BEGIN 

	--	SELECT	@REFNAV = Referencia
	--	FROM	#temp_ref
	--	WHERE	ID  = @ID
		
	--	INSERT INTO #inter_ref
	--	EXEC MES_MSM.[dbo].[MES_ObtenerConversionesPorProducto]  @REFNAV
		
	--	SET @ID = @ID  + 1

	--END 

	----------------------------
	---- Actualizamos la tabla con la cantidad
	----------------------------
	--update #temp_data
	--set CajasPalets   =  ds.CajasPalets
	--from #temp_data r, #inter_ref ds
	--where ds.PartNo = r.Referencia

	----------------------------------------
	---- Obtenemos la ubicacion por defecto.
	----------------------------------------
	--SELECT  @UbicacionLinkMes =[UbicacionLinkMes]
	--FROM	[MES_MSM_Trazabilidad].[UBI].[tTipoUbicacion]
	--WHERE [IdTipoUbicacion] = 10


	--INSERT INTO #LOTES
	--(

	--		LotID,
	--		InitQuantity,
	--		Quantity,
	--		CreatedOn, 
	--		DefVerPK,
	--		idUbicacion,
	--		LotStatusPK,			
	--		LocPath,
	--		Paleta,
	--			PK_Material,
	--		IdMaterial ,
	--		Descripcion,
	--		Tipo
	--)	
	--SELECT	IdLotMes,
	--		CajasPalets,
	--		CajasPalets,
	--		EtiquetaCreatedAt,
	--		Referencia,
	--		0,			
	--		0,			
	--		@UbicacionLinkMes,
	--		1,
	--		IdProducto,
	--		IdProducto ,
	--		Descripcion,
	--		'03'--- Producto terminado
	--FROM	#temp_data DS,
	--		MES_MSM.[dbo].[Productos] PR
	--WHERE	DS.Referencia  = PR.IdProducto
	--AND 
	--  ((PR.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL))




	update #lotes
	set LocPath = Ubicacion.IdUbicacionLinkMes,  idUbicacion =  UbicacionLote.idUbicacion
	from    #lotes lot  inner join   [UBI].[tUbicacionLote] UbicacionLote  (NOLOCK) 	
	on lot.LotID = UbicacionLote.IdLote
	INNER  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) 	 ON  Ubicacion.IdUbicacion = UbicacionLote.IdUbicacion

	update #lotes
	set idUbicacion = Ubicacion.idUbicacion
	from    #lotes lot  
	INNER  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) 	 
	ON  lot.LocPath =  Ubicacion.IdUbicacionLinkMes
	where  lot.idUbicacion = 0
	
	
	


    -- SELECT statements for procedure here
	insert into #result_data
	SELECT  
	Lots.LotID		AS LoteMes,
	lots.IdMaterial + ' - '+lots.Descripcion AS ReferenciaMES,
	Lots.InitQuantity	AS CantidadInicial,
	Lots.Quantity	AS CantidadActual,
	Lots.CreatedOn AS FechaCreacion,
	Ubicacion.IdUbicacionLinkMes AS UbicacionMES,
	convert(int,lots.PK_Material) as PK_Material,
	isnull(Albaran.IdAlbaran,0) as IdAlbaran,
	Paleta	
	

  FROM #lotes lots
	  LEFT JOIN [TRA].[tAlbaranPosicionLote] AlbaranPosicionLote ON AlbaranPosicionLote.IdLote = Lots.LotID
	  LEFT JOIN [TRA].[tAlbaranPosicion] AlbaranPosicion ON AlbaranPosicion.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion
	  LEFT JOIN [TRA].[tAlbaran] Albaran ON Albaran.IdAlbaran = AlbaranPosicion.IdAlbaran
	  LEFT JOIN [TRA].[tTransporte] Transporte ON Transporte.IdTransporte = Albaran.IdTransporte
	  LEFT JOIN [MAT].[tProveedor] Proveedor ON Proveedor.IdProveedor = Transporte.IdProveedor
	  LEFT  JOIN [UBI].[tUbicacion] Ubicacion --ON lots.LocPath =  Ubicacion.IdUbicacionLinkMes
	  ON    Ubicacion.IdUbicacion = lots.IdUbicacion
	  LEFT JOIN [UBI].[tAlmacen] Almacen ON Almacen.IdAlmacen = Ubicacion.IdAlmacen
	  INNER JOIN  UBI.tZona_tUbicacion AS ZonaUbicacion ON Ubicacion.tUbicacion.IdUbicacion = ZonaUbicacion.IdUbicacion 
	  INNER JOIN  UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona 
	  LEFT JOIN UBI.tEstadoUbicacion EstadoUbicacion ON EstadoUbicacion.IdEstadoUbicacion = Ubicacion.IdEstado
	  LEFT JOIN [UBI].[tTipoUbicacion] TipoUbicacion ON TipoUbicacion.IdTipoUbicacion = Ubicacion.IdTipoUbicacion
	  --INNER  JOIN [SITMESDB].[dbo].[MMDefVers] DefVer ON Lots.[DefVerPK] = DefVer.[DefVerPK] 
	  --INNER  JOIN [SITMESDB].[dbo].[MMDefinitions] Def ON Def.DefPK = DefVer.DefPK 
	  --INNER JOIN [MAT].[vMateriales] MM ON MM.IdMaterial = Def.DefID
	  LEFT JOIN [SITMesDB].[dbo].[MMLotStatuses] LotStatus ON LotStatus.[LotStatusPK] = Lots.LotStatusPK
	  --LEFT JOIN [MAT].[vMATFactor] MF ON MF.PK = MM.PK_Material
	  --LEFT JOIN [MAT].[vTipoMaterial] TM ON TM.Tipo = Lots.Tipo
	 

 WHERE 
	  ((Almacen.IdAlmacen = @IdAlmacen OR @IdAlmacen IS NULL))
	  AND 
	  ((Zona.IdZona = @IdZona OR @IdZona IS NULL))
	  AND 
	  ((Ubicacion.IdUbicacion = @IdUbicacion OR @IdUbicacion IS NULL))
	  --AND 
	  --((TM.Tipo = @IdTipoMaterial OR @IdTipoMaterial IS NULL))
	  --AND 
	  --((MM.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL))
	 -- AND 
	  --((MM.IdMaterial = @IdMaterial OR @IdMaterial IS NULL))
	  --AND 
	  --((Lots.LotID like '%'+@IdLote+'%' OR @IdLote IS NULL))
	  AND 
	  (((Lots.Quantity >= 0 AND @Consumido = 1) OR (Lots.Quantity > 0 AND @Consumido = 0)) OR @Consumido IS NULL)
	  AND  
	  (AlbaranPosicionLote.LoteProveedor = @LoteProveedor OR @LoteProveedor IS NULL)
	  AND
	  (
		AlbaranPosicionLote.FechaSalidaLote IS NULL
	  )
	  AND  
	  (Proveedor.IdProveedor = @IdProveedor OR @IdProveedor IS NULL)
	  AND 
	  (Lots.CreatedOn >= @FechaInicio OR @FechaInicio IS NULL)
	  AND 
	  (Lots.CreatedOn <= @FechaFin OR @FechaFin IS NULL)
	  
	ORDER BY Lots.LotID, Lots.CreatedOn DESC



	select * 
	from #result_data

	drop table #lotes
	drop table #temp_data
	--drop table #inter_ref
	--drop table #temp_ref
	drop table #result_data


END
GO
