USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[SP_tJDERecepcionMaterial_albaran_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Procedimiento de actualizacion de los datos  en la tabla de JDE,
--					Devuelve true si la operacion ha sido correcta, false en caso contrario.
-- Parametros de entrada
	--	@idalbaran--> Id albaran a modificar,
	--	@idlote--> id lote a modificar,
	--	@operacion--> 0 Editar 1 borrar
--  =============================================
--exec [MAT].[SP_tJDERecepcionMaterial_albaran_UPD] 3252
CREATE procedure [MAT].[SP_tJDERecepcionMaterial_albaran_UPD]
	@idalbaran int,
		@operacion int=0

AS
BEGIN

set nocount on; 
--------------------------------
-- Declaracion de variables
------------------------------
declare @Fecha_recpe datetime
declare @planta nvarchar(50)
declare @provedor as nvarchar(50)
declare @matricula as nvarchar(10)
declare @idc as int 
declare @idRecepcion as int 
declare @return as nvarchar(10) 
declare @UltimaAccionMes as nvarchar(256) 
declare @ProcesadaJDE as int
declare @PesoEntrada decimal(18,0)
declare @PesoSalida decimal(18,0)
declare @isgranel bit


---------------------------------
-- iNIT
---------------------------------
 SET @idRecepcion  =0
 set @return = 'true'
 set @idc = 0
------------------------
-- Obtenemos la informacion del tranporte
------------------------
	
	

--BEGIN TRY
  	---------------------------------------
	-- Obtenemos la matricula
	--------------------------------------
	
	


  	---------------------------------------
	-- Obtenemos la matricula
	--------------------------------------
	SELECT	 @matricula=mt.MatriculaTractora,
			 @isgranel= tra.IsGranel, 
			 @PesoEntrada=tra.PesoEntrada, 
			 @PesoSalida=tra.PesoSalida
	FROM		[TRA].[tAlbaran] alb (NOLOCK), 
			[TRA].[tTransporte] tra (NOLOCK),
			[TRA].[tMatriculaTractoraRemolque]  remo (NOLOCK),
			[TRA].[tMatriculaTractora] mt (NOLOCK)
	WHERE		 alb.idalbaran = @idalbaran
			AND	alb.[IdTransporte] = tra.[IdTransporte]
			and 	tra.[IdMatriculaTractoraRemolque] = remo.[IdMatriculaTractoraRemolque]
			and     mt.IdMatriculaTractora = remo.IdMatriculaTractora

	

	--- Obtenemos todos los lotes para ese albaran que no se ha modificado.
	SELECT	[CodigoRecepcion], 
			[UltimaAccionMes], 
			ProcesadaJDE,
			LoteMes						
	INTO	#TEMP_RECEPCION 
	FROM	[TRA].[tJDERecepcionMaterial] (NOLOCK)
	WHERE	[Albaran] =@idalbaran

	
	set @idc =@@ROWCOUNT
	

	-------------------------------
	-- Si no hay datos no continuamos
	-------------------------------
	IF  @idc =0
	BEGIN
		SELECT @return as Valor
		RETURN;
	END 

	----------------------
	-- Obtenemos los datos actualizados
	----------------------
	----------------------
	-- Obtenemos los datos actualizados
	----------------------
	SELECT 	CodigoRecepcion,
			alb.idalbaran,
			case when @isgranel =1 then @PesoSalida -@PesoEntrada 
						else lost.Quantity end as Cantidad,
			pos.sourceUomID,
			recp.LoteMes,
			@matricula  as Matricula,
			tipo_ord.Tipo,
			pos.idOrden,
			--LineaPedido,
			CASE  
					WHEN recp.UltimaAccionMes ='Creado'  AND @operacion =0 	THEN 'Modificado' 
					WHEN recp.UltimaAccionMes ='Creado'  AND @operacion =1 	THEN 'Borrado' 
					WHEN recp.UltimaAccionMes ='Modificado'  AND @operacion =0 	THEN 'Modificado' 
					WHEN recp.UltimaAccionMes ='Modificado'  AND @operacion =1 	THEN 'Borrado' 
			END		as UltimaAccionMes,
			getdate() as FechaHoraModificacion,
			CASE
					WHEN recp.ProcesadaJDE =1 THEN 2 
					WHEN recp.ProcesadaJDE =2 THEN 2 ELSE  0 
			END 	as ProcesadaJDE
			,
			pos_lote.IdLote
	INTO	#datos_temp
	FROM	#TEMP_RECEPCION recp (NOLOCK),
			[TRA].[tAlbaran] alb (NOLOCK),
			[TRA].[tAlbaranPosicion] pos (NOLOCK),
			[TRA].[tAlbaranPosicionLote] pos_lote (NOLOCK),
			[MAT].[tTipoOrdenAprovisionamiento] tipo_ord (NOLOCK),
			[MAT].[vMateriales] mat(NOLOCK),
				[MAT].vLote lost (NOLOCK)
	WHERE	alb.idalbaran = @idalbaran
	AND		alb.idalbaran = pos.idalbaran
	AND		pos.idalbaranposicion = pos_lote.idalbaranposicion
	AND		tipo_ord.[IdTipoOrdenAprovisionamiento] = pos.[IdTipoOrden]
	AND		pos_lote.idlote =recp.LoteMes 
	AND		mat.idmaterial = pos.[IdMaterial]
	AND			lost.LotId = pos_lote.idlote

	------------------------------------
	-- Comprobamos si hay propieades extendidas
	------------------------------------

	SELECT	recep.CodigoRecepcion,
			Propertyid,
			propvalchar,
			uomid
	INTO    #temp_prop
	FROM	[MAT].[vAllPropExtendbyLot]  ll (NOLOCK), #TEMP_RECEPCION recep
	WHERE	ll.LotID =recep.LoteMes
	AND		[PrpGroupid] ='Especial'


	SET @idc = @@ROWCOUNT
	

	------------------------------------------------
	-- Actualizamos los datos de la tabla
	------------------------------------------------
	--BEGIN TRAN

	UPDATE	[TRA].[tJDERecepcionMaterial]
	SET		  [Albaran] = pp.idalbaran
			,[Cantidad] =pp.cantidad
			--,[PosicionAlbaran] = pp.idalbaranposicion
			,[Unidad] =pp.sourceUomID
			,[LoteMes] = pp.idlote
			,[TipoDocumento] = pp.Tipo
			,[NumPedidoMSM] = pp.idOrden
			,[LineaPedido] = pp.idOrden
			,[UltimaAccionMes] =pp.[UltimaAccionMes]
			,[FechaHoraModificacion] =pp.[FechaHoraModificacion] 
			,[ProcesadaJDE] = pp.[ProcesadaJDE]
	FROM	[TRA].[tJDERecepcionMaterial] a, #datos_temp pp
	WHERE	a.[CodigoRecepcion] = pp.[CodigoRecepcion]


	----------------------------
	-- Si ha propiedaes extendidas las actualizamos
	----------------------------
	IF @idc > 0
	BEGIN 

				UPDATE	[TRA].[tJDEPropiedadRecepcion]
			SET		[CodigoRecepcion] = nuev.CodigoRecepcion
					,[NombrePropiedad] = nuev.Propertyid
					,[Valor] = nuev.propvalchar
					,[Unidad] = nuev.uomid
			 FROM	[TRA].[tJDEPropiedadRecepcion]  pro_Ac, 
					#temp_prop nuev
			 WHERE	pro_Ac.CodigoRecepcion = nuev.[CodigoRecepcion]
			 AND	pro_Ac.NombrePropiedad = nuev.Propertyid
	END 
	
	--COMMIT TRAN

	SELECT @return as Valor


--END TRY

---- The previous GO breaks the script into two batches,
---- generating syntax errors. The script runs if this GO
---- is removed.
--BEGIN CATCH
--    SELECT ERROR_NUMBER() AS ErrorNumber;
--	ROLLBACK TRAN
--	set @return = 'false'
--	SELECT @return as Valor
--END CATCH;




END


GO
