USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spInsertEansValidos]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [MAT].[spInsertEansValidos]
AS

BEGIN
    DECLARE @Fecha AS DATETIME
 
	--TRUNCATE TABLE [MAT].[EansValidos]

	--ACTUALIZAMOS LOS REGISTROS DISTINTOS DE AVANADE CUYA CAMPO SEA DIFERENTE DE LA BD LOCAL
	UPDATE [MAT].[tEANJDE] 
	SET 
		IdEanValido  = remoteinfo.IdEanValido  ,
		CodigoMahou  = remoteinfo.CodigoMahou ,
		Nombre		 = remoteinfo.Nombre  ,
		Proveedor	 = remoteinfo.Proveedor ,
		CodProveedor = remoteinfo.CodProveedor 
	FROM
		[MAT].[tEANJDE]  localInfo  (NOLOCK), 
		[dbo].[sEanValidos] remoteinfo		
	WHERE 
		localInfo.rowguid = remoteinfo.rowguid

	--OBTENEMOS LA FECHA DEL ÚLTIMO REGISTRO, REALIZAREMOS LA ACTUALIZACIONES A PARTIR DE ELLA
	SELECT	@Fecha = ISNULL(MAX(FECHA),'01-01-1990') 
	FROM	[MAT].[tEANJDE] (NOLOCK) 

	--ELIMINAMOS LAS REFERENCIAS QUE SE HAN DADO DE BAJA Y VUELVEN A APARECER COMO ALTA
	DELETE [MAT].[tEANJDE] WHERE IdEanValido IN 
	(SELECT IdEanValido FROM [sEanValidos]
		WHERE 
		FECHA > @Fecha
	)

	--INSERTAMOS LAS NUEVAS REFERENCIAS
	--select @Fecha

	INSERT INTO [MAT].[tEANJDE]
	SELECT *
	FROM 
		 [sEanValidos]   
	WHERE 
		FECHA > @Fecha
	ORDER BY 
		FECHA DESC

END
GO
