USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spGetFormsByLot]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [MAT].[spGetFormsByLot]
    
	-- Add the parameters for the stored procedure here
    @IdLote NVARCHAR(64) = NULL
AS

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	
  SELECT 
	Forms.name AS Nombre,
	Forms.descript AS Descripcion,
	Forms.createdOnUTC AS FechaCreacion,
	ISNULL((			SELECT		ISNULL(sp.[Descripcion],'') 
					FROM  [TRA].[tSemaforo] SP
					WHERE sp.[IdSemaforo] =
						(
							SELECT ISNULL(MAX(vs.IDData),0) 
							FROM	[TRA].[vIdAlbaranPosicionCalidad] VS, 
									[TRA].[tAlbaranPosicionCalidad_Status]  SC
							WHERE vs.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion
						)

					
					),'') AS ColorSemaforo,
	Forms.FormTemplate AS Plantilla,
	AlbaranPosicionLote.IdAlbaranPosicion
  FROM
	[TRA].[tAlbaranPosicionLote] AS AlbaranPosicionLote
	INNER JOIN [TRA].[tAlbaranPosicionCalidad] AS AlbaranPosicionCalidad 
	ON AlbaranPosicionCalidad.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion
	INNER JOIN MES_MSM_ALT.dbo.Forms AS Forms ON Forms.ID = AlbaranPosicionCalidad.ID
  WHERE 
	IdLote = @IdLote


END








GO
