USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spGetTypeMaterialByRef]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [MAT].[spGetTypeMaterialByRef]
  
	 @IdMaterial nvarchar (255)

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	SELECT  DISTINCT
		Materiales.Tipo,
		Materiales.DescTipo
	FROM  [MAT].[vMateriales] AS Materiales (NOLOCK)
	WHERE 
		Materiales.IdMaterial = @IdMaterial
	
END
GO
