USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spGetOAsByFilters]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [MAT].[spGetOAsByFilters]
    
	-- Add the parameters for the stored procedure here
    @Compañia nvarchar(255) = NULL,
    @OA nvarchar(255) = NULL,
    @Tipo_Documento nvarchar(255) = NULL,
	@Linea_Documento nvarchar(255) = NULL,
    @Planta nvarchar(255) = NULL,
    @Proveedor nvarchar(255) = NULL,
    @Fecha_Inicio_Orden nvarchar(255) = NULL,
    @Material nvarchar(255) = NULL,
    @Estado_Siguiente nvarchar(255) = NULL,
    @Ultimo_Estado nvarchar(255) = NULL,
    @Familia_Compras nvarchar(255) = NULL,
    @Clase_Material nvarchar(255) = NULL,
    @Unidad_Medida nvarchar(255) = NULL,
    @Cantidad_Total_OA nvarchar(255) = NULL,
    @Cantidad_Pendiente_OA nvarchar(255) = NULL,
    @Cantidad_Recibida_OA nvarchar(255) = NULL
AS

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- SELECT statements for procedure here
	SELECT 
		OAs.*
	FROM 
		[MAT].vJDEOAs OAs
    WHERE 	    
		OAs.[Compañia] = COALESCE(@Compañia,OAs.Compañia) AND
		OAs.[OA] = COALESCE(@OA,OAs.OA) AND
		OAs.[Tipo Documento]  = COALESCE(@Tipo_Documento,OAs.[Tipo Documento]) AND
		OAs.[Linea Documento] = COALESCE(@Linea_Documento,OAs.[Linea Documento]) AND
		OAs.[Planta] = COALESCE(@Planta,OAs.[Planta]) AND
		OAs.[Proveedor] = COALESCE(@Proveedor,OAs.[Proveedor]) AND
		OAs.[Fecha Inicio Orden] = COALESCE(@Fecha_Inicio_Orden,OAs.[Fecha Inicio Orden]) AND
		OAs.[Material] = COALESCE(@Material,OAs.Material) AND
		OAs.[Estado Siguiente] = COALESCE(@Estado_Siguiente,OAs.[Estado Siguiente]) AND
		OAs.[Ultimo Estado] = COALESCE(@Ultimo_Estado,OAs.[Ultimo Estado]) AND
		OAs.[Familia Compras] = COALESCE(@Familia_Compras,OAs.[Familia Compras]) AND
		OAs.[Clase Material] = COALESCE(@Clase_Material,OAs.[Clase Material]) AND
		OAs.[Unidad Medida] = COALESCE(@Unidad_Medida,OAs.[Unidad Medida]) AND
		OAs.[Cantidad Total OA] = COALESCE(@Cantidad_Total_OA,OAs.[Cantidad Total OA]) AND
		OAs.[Cantidad Pendiente OA] = COALESCE(@Cantidad_Pendiente_OA,OAs.[Cantidad Pendiente OA]) AND
		OAs.[Cantidad Recibida OA] = COALESCE(@Cantidad_Recibida_OA,OAs.[Cantidad Recibida OA]) 
		
END







GO
