USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[SP_tJDERecepcionMaterial_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Procedimiento de actualizacion de los datos  en la tabla de JDE,
--					Devuelve true si la operacion ha sido correcta, false en caso contrario.
-- Parametros de entrada
	--	@idalbaran--> Id albaran a modificar,
	--	@idlote--> id lote a modificar,
	--	@operacion--> 0 Editar 1 borrar
--  =============================================


CREATE procedure [MAT].[SP_tJDERecepcionMaterial_UPD]
	@idalbaran int,
	@idlote as nvarchar(256),
	@operacion int=0

AS
BEGIN

set nocount on; 
--------------------------------
-- Declaracion de variables
------------------------------
declare @Fecha_recpe datetime
declare @planta nvarchar(50)
declare @provedor as nvarchar(50)
declare @matricula as nvarchar(10)
declare @idc as int 
declare @idRecepcion as int 
declare @return as nvarchar(10) 
declare @UltimaAccionMes as nvarchar(256) 
declare @ProcesadaJDE as int

---------------------------------
-- iNIT
---------------------------------
 SET @idRecepcion  =0
 set @return = 'true'
 set @idc = 0
------------------------
-- Obtenemos la informacion del tranporte
------------------------
	-- Obtenemos la fecha de la descarga
	SELECT	@Fecha_recpe =PropValDate,@provedor = serial_number
	FROM	[MAT].[vAllPropExtendbyLot] (NOLOCK)
	WHERE	LotID =@idlote
	AND		[PropertyID] ='Fecha_descarga'
	---------------------------------
	-- Obtenmos la planta
	---------------------------------
	SELECT	@planta  = [Codigo_planta]
	FROM	[UBI].[tPlanta_TIPO] (NOLOCK)
	WHERE	substring(@idlote,0,4)=[Codigo_corto_platna]


BEGIN TRY
  	---------------------------------------
	-- Obtenemos la matricula
	--------------------------------------
	SELECT	 @matricula=mt.MatriculaTractora
	FROM		[TRA].[tAlbaran] alb (NOLOCK), 
			[TRA].[tTransporte] tra (NOLOCK),
			[TRA].[tMatriculaTractora] mt (NOLOCK)
	WHERE		 alb.idalbaran = @idalbaran
			AND	alb.[IdTransporte] = tra.[IdTransporte]
			and 	tra.[IdMatriculaTractoraRemolque] = mt.IdMatriculaTractora

	--- Comprobamos si existe
	SELECT	@idRecepcion=[CodigoRecepcion], @UltimaAccionMes=isnull([UltimaAccionMes],'Creado'), @ProcesadaJDE =ProcesadaJDE
	FROM	[TRA].[tJDERecepcionMaterial] (NOLOCK)
	WHERE	[Albaran] =@idalbaran
	AND		[LoteMes] = @idlote	
	-------------------------------
	-- Si no hay datos no continuamos
	-------------------------------
	IF  @idRecepcion =0
	BEGIN
		SELECT @return as Valor
		RETURN;
	END 


	
	----------------------
	-- Obtenemos los datos actualizados
	----------------------
	SELECT 	@Fecha_recpe as Fecha_recpe,
			@planta as Codigo_planta,
			mat.idmaterial,
			mat.Descripcion,
			'testprov' as Codigoprovedor,
			'descprov' as Desproveror,
			@provedor as Provedor,
			alb.idalbaran,
			pos_lote.idalbaranposicion,		
			pos.cantidad,
			pos.sourceUomID,
			pos_lote.idlote,
			@matricula  as Matricula,
			tipo_ord.[Tipo],
			pos.idOrden,
			'' LineaPedido,
			CASE  
					WHEN @UltimaAccionMes ='Creado'  AND @operacion =0 	THEN 'Modificado' 
					WHEN @UltimaAccionMes ='Creado'  AND @operacion =1 	THEN 'Borrado' 
					WHEN @UltimaAccionMes ='Modificado'  AND @operacion =0 	THEN 'Modificado' 
					WHEN @UltimaAccionMes ='Modificado'  AND @operacion =1 	THEN 'Borrado' 
			END		as [UltimaAccionMes],
			getdate() as [FechaHoraModificacion],
			CASE
					WHEN @ProcesadaJDE =1 THEN 2 
					WHEN @ProcesadaJDE =2 THEN 2 ELSE  0 
			END 	as [ProcesadaJDE]
	INTO	#datos_temp
	FROM
			[TRA].[tAlbaran] alb (NOLOCK),
			[TRA].[tAlbaranPosicion] pos (NOLOCK),
			[TRA].[tAlbaranPosicionLote] pos_lote (NOLOCK),
			[MAT].[tTipoOrdenAprovisionamiento] tipo_ord (NOLOCK),
			[MAT].[vMateriales] mat(NOLOCK)
	WHERE	alb.idalbaran = @idalbaran
	AND		alb.idalbaran = pos.idalbaran
	AND		pos.idalbaranposicion = pos_lote.idalbaranposicion
	AND		tipo_ord.[IdTipoOrdenAprovisionamiento] = pos.[IdTipoOrden]
	AND		pos_lote.idlote =@idlote  
	AND		mat.idmaterial = pos.[IdMaterial]
	------------------------------------
	-- Comprobamos si hay propieades extendidas
	------------------------------------

	SELECT	@idRecepcion as idRecepcion,
			Propertyid,
			propvalchar,
			uomid
	INTO    #temp_prop
	FROM	[MAT].[vAllPropExtendbyLot] (NOLOCK)
	WHERE	LotID =@idlote
	AND		[PrpGroupid] ='Especial'


	SET @idc = @@ROWCOUNT

	------------------------------------------------
	-- Actualizamos los datos de la tabla
	------------------------------------------------
	BEGIN TRAN

	UPDATE	[TRA].[tJDERecepcionMaterial]
	SET		[FechaRecepcion] = pp.Fecha_recpe
			,[CodigoPlanta] = pp.Codigo_planta
			,[CodigoMaterial] = pp.idmaterial
			,[DescripcionMaterial] = pp.Descripcion
			,[CodigoProveedor] = pp.Codigoprovedor
			,[DescripcionProveedor] = pp.Desproveror
			,[LoteProveedor] = pp.Provedor
			,[Albaran] = pp.idalbaran
			,[PosicionAlbaran] = pp.idalbaranposicion
			,[Cantidad] =pp.cantidad
			,[Unidad] =pp.sourceUomID
			,[LoteMes] = pp.idlote
			,[MatriculaCamion] = pp.Matricula
			,[TipoDocumento] = pp.[Tipo]
			,[NumPedidoMSM] = pp.idOrden
			,[LineaPedido] = pp.LineaPedido
			,[UltimaAccionMes] =pp.[UltimaAccionMes]
			,[FechaHoraModificacion] =pp.[FechaHoraModificacion] 
			,[ProcesadaJDE] = pp.[ProcesadaJDE]
	FROM	[TRA].[tJDERecepcionMaterial] a, #datos_temp pp
	WHERE	a.[CodigoRecepcion] = @idRecepcion



	----------------------------
	-- Si ha propiedaes extendidas las actualizamos
	----------------------------
	IF @idc > 0
	BEGIN 

			UPDATE	[TRA].[tJDEPropiedadRecepcion]
			SET		[CodigoRecepcion] = nuev.idRecepcion
					,[NombrePropiedad] = nuev.Propertyid
					,[Valor] = nuev.propvalchar
					,[Unidad] = nuev.uomid
			 FROM	[TRA].[tJDEPropiedadRecepcion]  pro_Ac, 
					#temp_prop nuev
			 WHERE	pro_Ac.CodigoRecepcion = nuev.idRecepcion
			 AND	pro_Ac.NombrePropiedad = nuev.Propertyid
	END 
	
	COMMIT TRAN

	SELECT @return as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = 'false'
	SELECT @return as Valor
END CATCH;




END


GO
