USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [MAT].[spGetClassMaterialByRef]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [MAT].[spGetClassMaterialByRef]
  
	 @IdMaterial nvarchar (255)

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	SELECT  DISTINCT
		Materiales.IdClase,
		Materiales.Clase,
		Materiales.Tipo AS TipoMaterial,
		Materiales.DescTipo AS DescTipoMaterial
	FROM  [MAT].[vMateriales] AS Materiales (NOLOCK)
	WHERE 
		Materiales.IdMaterial = @IdMaterial
	end
GO
