USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetHijosPorLote]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [OPE].[spGetHijosPorLote]
  
	 @IdLote nvarchar (255)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
 
	SELECT 
		MAX(OpCTE.IdOperacion) IdOperacion,
		TipoOperacion.Descripcion,
		MAX(OpCTE.IdLote) IdLote, 
		MAX(OpCTE.FechaInicio) FechaInicio, 
		MAX(OpCTE.FechaFin) FechaFin, 
		'' AS IdOrdenOrigen,
		--IIF(OpCTE.IdOrdenOrigen IS NULL ,OpCTE.IdOrdenDestino,OpCTE.IdOrdenOrigen) AS IdOrdenOrigen, 
		OpCTE.IdOrdenDestino, 
		MAX(OpCTE.FechaEntrada) FechaEntrada, 
		Tipo.id TipoOrden,
		vLote.InitQuantity CantidadInicial,
		vLote.Quantity CantidadActual,
		Materiales.Clase,
		Materiales.IdMaterial,
		Materiales.Descripcion DescripcionMaterial,
		Ubicacion.IdUbicacionLinkMes,
		MAX(vLote.CreatedOn) FechaCreacion
	FROM
	(
	SELECT Producciones.*
	FROM (
		--SELECT 
		--	MAX(tOperacion.FechaInicio) FechaInicio,
		--	(SELECT IdOrdenDestino FROM [OPE].[tOperacion] WHERE IdLote = 'BUR-01-LUP-0100012-REC-20200618180132-2222' AND IdTipoOperacion = 4 ) AS IdOrdenOrigen,
		--	tOperacion.IdOrdenDestino,
		--	tOperacion.IdTipoOperacion
		--FROM [OPE].[tOperacion] (NOLOCK),
		
		--WHERE IdLote = 'BUR-01-LUP-0100012-REC-20200618180132-2222' AND (IdTipoOperacion = 3)--CONSUMO
		--GROUP BY tOperacion.IdOrdenDestino, OrigenOperacion.IdOrdenDestino,tOperacion.IdTipoOperacion
		--) AS Consumos,
		--[OPE].[tOperacion] Producciones (NOLOCK)

		--WHERE 
		-- Consumos.FechaInicio > Producciones.FechaInicio AND 
		--(Consumos.IdOrdenDestino = Producciones.IdOrdenDestino)
		--AND (Consumos.IdOrdenOrigen = Producciones.IdOrdenOrigen)
		--AND Producciones.IdTipoOperacion = 4 --PRODUCCION

		SELECT 
			MAX(FechaInicio) FechaInicio,
			OrigenOperacion.IdOrdenDestino AS IdOrdenOrigen,
			tOperacion.IdOrdenDestino,
			IdTipoOperacion
		FROM [OPE].[tOperacion] (NOLOCK),
		(SELECT IdOrdenDestino FROM [OPE].[tOperacion] WHERE IdLote = @IdLote AND IdTipoOperacion IN (3,4) )
		OrigenOperacion
		WHERE IdLote = @IdLote AND (IdTipoOperacion = 3)--CONSUMOS
		GROUP BY tOperacion.IdOrdenDestino, OrigenOperacion.IdOrdenDestino,tOperacion.IdTipoOperacion
		) AS Consumos,
		[OPE].[tOperacion] Producciones (NOLOCK)

		WHERE Consumos.FechaInicio > Producciones.FechaInicio
		AND Consumos.IdOrdenDestino = Producciones.IdOrdenDestino
		AND Producciones.IdTipoOperacion = 4 --PRODUCCIONES
		--SE AÑADE EL ID ORDEN ORIGEN
		AND ((Consumos.IdOrdenOrigen = Producciones.IdOrdenOrigen AND Consumos.IdOrdenOrigen IS NOT NULL) OR (Consumos.IdOrdenOrigen IS NULL))


	)AS  OpCTE
	INNER JOIN [OPE].[tTipoOperacion] TipoOperacion ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
	LEFT JOIN [MAT].[vLote] vLote ON vLote.LotID = OpCTE.IdLote
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] Orden ON (Orden.pom_order_id = IdOrdenOrigen AND OpCTE.IdTipoOperacion IN (3,4)) OR (Orden.pom_order_id = IdOrdenDestino AND OpCTE.IdTipoOperacion = 3)
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE] AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
	LEFT JOIN [MAT].[vMateriales] Materiales ON Materiales.IdMaterial = VlOTE.Defid
	LEFT  JOIN [UBI].[tUbicacion] Ubicacion ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	WHERE 
		OpCTE.IdLote <> @IdLote
	GROUP BY 
		TipoOperacion.Descripcion,
		--OpCTE.IdLote, 
		--OpCTE.IdOrdenOrigen, 
		OpCTE.IdOrdenDestino, 
		Tipo.id,
		vLote.InitQuantity,
		vLote.Quantity,
		Materiales.Clase,
		Materiales.IdMaterial,
		Materiales.Descripcion,
		Ubicacion.IdUbicacionLinkMes
	order by IdOperacion

	
END
GO
