USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetProcesosPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [OPE].[spGetProcesosPorLote]
  
	 @IdLote nvarchar (255),
	 @HaciaProducto bit,
	 @IdOrdenDestino nvarchar (64)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	--DECLARE @DATE AS DATETIME 

 --   SELECT  @DATE =CreatedOn
	--FROM   [MAT].[vLote] (NOLOCK)
	--WHERE   LotID =@IDLOTE;


	--WITH OpCTE (IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino, FechaEntrada,IdTipoOperacion,IdUbicacionOrigen, Puente)
	--AS
	--(
	--	   SELECT 
	--				Op1.IdOperacion,
	--				Op1.IdLote, 
	--				Op1.FechaInicio, 
	--				Op1.FechaFin, 
	--				Op1.IdOrdenOrigen, 
	--				Op1.IdOrdenDestino,
	--				Op1.FechaEntrada,
	--				Op1.IdTipoOperacion,
	--				Op1.IdUbicacionOrigen, 
	--				Op1.Puente
	--			 FROM [OPE].[tOperacion]  Op1
	--			 WHERE 
	--			 (Op1.IdTipoOperacion IN (3,4)
	--			 OR (@IdLote like '%FIL%' AND Op1.IdTipoOperacion IN (2,3,4))
	--			 )
				

	--			  AND
	--			 (Op1.IdLote = @IDLOTE AND @IdOrdenDestino IS NULL) 
	--			 OR
	--			 (Op1.IdOrdenDestino = @IdOrdenDestino AND @IDLOTE IS NULL)
							
	--	   UNION ALL
	----RECURSIVIDAD
	--	   SELECT
	--			Op2.IdOperacion,
	--			Op2.IdLote, 
	--			Op2.FechaInicio, 
	--			Op2.FechaFin, 
	--			Op2.IdOrdenOrigen, 
	--			Op2.IdOrdenDestino,
	--			Op2.FechaEntrada,
	--			Op2.IdTipoOperacion,
	--			Op2.IdUbicacionOrigen, 
	--			Op2.Puente
	--			 FROM [OPE].[tOperacion]  AS Op2 
	--			INNER  JOIN OpCTE ON (Op2.IdOrdenOrigen = OpCTE.IdOrdenDestino AND OpCTE.IdTipoOperacion = 4) 
	--			-- LOTE DE RECEPCIÓN
	--			OR (OpCTE.IdTipoOperacion = 3 AND OpCTE.IdOrdenOrigen IS NULL AND Op2.IdOrdenDestino = OpCTE.IdOrdenOrigen)
	--				WHERE
	--						 Op2.IdLote <> @IDLOTE
	--						 AND OpCTE.IdLote <> Op2.IdLote
	--						AND OpCTE.FechaEntrada >= Op2.FechaEntrada
	--)

	--SELECT DISTINCT TOP 100
	--OpCTE.IdOperacion,
	--TipoOperacion.Descripcion,
	--OpCTE.IdLote, 
	--OpCTE.FechaInicio, 
	--OpCTE.FechaFin, 
	--OpCTE.IdOrdenOrigen,
	----IIF(OpCTE.IdTipoOperacion = 3,IdOrdenDestino,IIF(OpCTE.IdTipoOperacion = 4,IdOrdenOrigen,IdOrdenDestino)) AS IdOrdenOrigen, 
	--OpCTE.IdOrdenDestino, 
	--OpCTE.FechaEntrada , 
	--Tipo.id TipoOrden,
	--vLote.InitQuantity CantidadInicial,
	--vLote.Quantity CantidadActual,
	--Materiales.Clase,
	--Materiales.IdMaterial,
	--Materiales.Descripcion DescripcionMaterial,
	--Ubicacion.IdUbicacionLinkMes,
	--vLote.CreatedOn FechaCreacion
	--FROM OpCTE 
	----LEFT JOIN  [OPE].[tOperacion] (NOLOCK) Operacion ON Operacion.IdOrdenOrigen = OpCTE.IdOrdenDestino  AND Operacion.IdOrdenDestino = OpCTE.IdOrdenDestino AND Operacion.IdTipoOperacion IN (1,4)
	--LEFT JOIN [OPE].[tTipoOperacion] (NOLOCK) TipoOperacion ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
	--LEFT JOIN [MAT].[vLote] (NOLOCK) vLote ON vLote.LotID = OpCTE.IdLote
	--LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] (NOLOCK) Orden ON Orden.pom_order_id = IIF(OpCTE.IdOrdenDestino IS NULL OR OpCTE.IdOrdenDestino = '',OpCTE.IdOrdenOrigen, OpCTE.IdOrdenDestino)
	--LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE] (NOLOCK) AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
	--LEFT JOIN [MAT].[vMateriales] Materiales (NOLOCK) ON Materiales.IdMaterial = VlOTE.Defid
	--LEFT  JOIN [UBI].[tUbicacion] Ubicacion (NOLOCK) ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	--WHERE 
	--	OpCTE.Puente = 0 or OpCTE.Puente IS NULL
	--ORDER BY OpCTE.FechaEntrada
	--option (maxrecursion 0)

		 DECLARE @fechaCreacion as datetime 
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;


	SELECT @fechaCreacion = Createdon
	FROM  [MAT].[vLote] (NOLOCK)
	WHERE LOTID  =@Idlote;


	SELECT 
		Producciones.IdOperacion,
		Producciones.IdLote, 
		Producciones.FechaInicio, 
		Producciones.FechaFin, 
		Producciones.FechaEntrada,
		Producciones.IdOrdenOrigen, 
		Producciones.IdOrdenDestino, 
		Producciones.LoteProveedor,
		Producciones.IdUbicacionOrigen,
		Producciones.IdTipoOperacion
	into #temp_data
	FROM (
		SELECT 
			MIN(FechaInicio) FechaInicio,
			IdOrdenDestino
		FROM [OPE].[tOperacion] (NOLOCK)
		WHERE 
			(
							(IdLote = @IDLOTE AND @IdOrdenDestino IS NULL) 
							OR
							(IdOrdenDestino = @IdOrdenDestino AND @IDLOTE IS NULL)
							)
			
			AND (IdTipoOperacion = 3)--CONSUMOS
		GROUP BY IdOrdenDestino
		) AS Consumos INNER JOIN 
		[OPE].[tOperacion] Producciones (NOLOCK) ON Consumos.IdOrdenDestino = Producciones.IdOrdenDestino

		WHERE 
		Consumos.FechaInicio >= Producciones.FechaInicio
		AND 
		 Producciones.IdTipoOperacion = 4 --PRODUCCIONES
		and not exists 
				(
					SELECT  1 
					FROM [MAT].[vLote] 
					WHERE LotID =  Producciones.IdLote
					and DEFID ='BAGAZO GENERADO'
				)
	union all 
	
	SELECT 
		IdOperacion,
		IdLote, 
		FechaInicio, 
		FechaFin, 
		FechaEntrada,
		IdOrdenOrigen, 
		IdOrdenDestino,
		LoteProveedor,
		IdUbicacionOrigen,
		IdTipoOperacion
	FROM [OPE].[tOperacion] PR (NOLOCK)
	WHERE  (fechaInicio <=@fechaCreacion OR @fechaCreacion IS NULL )
				 and EXISTS 
					(
						SELECT 1 
						FROM [OPE].[tTipoOperacion] OP
						WHERE OP.[IdTipoOperacion] = PR.IdTipoOperacion
						AND OP.IdTipoOperacion IN (1,2,3)
					)
						AND (
							(IdLote = @IDLOTE AND @IdOrdenDestino IS NULL) 
							OR
							(IdOrdenDestino = @IdOrdenDestino AND @IDLOTE IS NULL)
							)


	SELECT DISTINCT


	OpCTE.IdOperacion,
	TipoOperacion.Descripcion,
	OpCTE.IdLote, 
	OpCTE.FechaInicio, 
	OpCTE.FechaFin, 
	OpCTE.IdOrdenOrigen,
	----IIF(OpCTE.IdTipoOperacion = 3,IdOrdenDestino,IIF(OpCTE.IdTipoOperacion = 4,IdOrdenOrigen,IdOrdenDestino)) AS IdOrdenOrigen, 
	OpCTE.IdOrdenDestino, 
	OpCTE.FechaEntrada , 
	Tipo.id TipoOrden,
	vLote.InitQuantity CantidadInicial,
	vLote.Quantity CantidadActual,
	Materiales.Clase,
	Materiales.IdMaterial,
	Materiales.Descripcion DescripcionMaterial,
	Ubicacion.IdUbicacionLinkMes,
	vLote.CreatedOn FechaCreacion
	FROM #temp_data OpCTE
	inner JOIN [MAT].[vLote] vLote (NOLOCK) ON vLote.LotID = OpCTE.IdLote
	LEFT JOIN [MAT].[vMateriales] Materiales (NOLOCK) ON Materiales.IdMaterial = vLote.Defid
	LEFT  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	LEFT JOIN [OPE].[tTipoOperacion] (NOLOCK) TipoOperacion ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] (NOLOCK) Orden ON Orden.pom_order_id = IIF(OpCTE.IdOrdenDestino IS NULL OR OpCTE.IdOrdenDestino = '',OpCTE.IdOrdenOrigen, OpCTE.IdOrdenDestino)
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE] (NOLOCK) AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
	WHERE
		OpCTE.IdLote <> @IdLote
		AND
		--Materiales.Clase NOT LIKE 'DummyMaterial%'
		--AND 
		Materiales.Clase NOT LIKE 'Default%'
		--AND Operacion.IdOrdenDestino = OpCTE.IdOrdenDestino
	--GROUP BY 
	--Materiales.Clase,
	--Materiales.IdMaterial,
	--Materiales.Descripcion,
	--OpCTE.IdLote,
	--OpCTE.IdOrdenDestino,
	--Operacion.Cantidad,
	--LoteProveedorOperacion.LoteProveedor
	--OpCTE.LoteProveedor
	ORDER BY Materiales.Descripcion DESC


	drop table #temp_data
END
GO
