USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[SP_tOperacion_SEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Procedimiento que obtiene una registro de operacion por ID
--					
-- Parametros de entrada
	--	@IdOpearacion--> Id operacion 
--  =============================================


CREATE  procedure [OPE].[SP_tOperacion_SEL]
	 @IdOpearacion as bigint
	

AS
BEGIN

	SET NOCOUNT ON;


	SELECT  *
	FROM	[OPE].[tOperacion](NOLOCK)
	WHERE	IdOperacion =@IdOpearacion 

END
GO
