USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetOperationAll]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [OPE].[spGetOperationAll] 
CREATE procedure [OPE].[spGetOperationAll]
    -- Add the parameters for the stored procedure here
	@IdOperacion bigint = NULL,
    @FechaInicio Date = NULL,
	@FechaFin Date = NULL,
	@TipoOperacion int = NULL,
	@IdLote nvarchar(255) = NULL,
	@IdSublote nvarchar(255) = NULL,
	@IdOrdenOrigen nvarchar(10) = NULL,
	@IdOrdenDestino nvarchar(10) = NULL,
	@IdUbicacionOrigen int = NULL,
	@IdUbicacionDestino int = NULL
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- SELECT statements for procedure here
	SELECT 
		Operacion.IdOperacion,
		CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                    Operacion.FechaInicio), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) 
		AS FechaInicio,
		CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                    Operacion.FechaFin), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET())))AS FechaFin,
		CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                    Operacion.FechaEntrada), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) AS FechaEntrada,
		TipoOperacion.Descripcion TipoOperacion,
		Operacion.IdLote,
		Operacion.IdSublote,
		Operacion.IdOrdenOrigen,
		Operacion.IdOrdenDestino,
		Origen.Nombre AS UbicacionOrigen,
		Destino.Nombre AS UbicacionDestino,
		Operacion.Cantidad,
		Operacion.UnidadesMedida,
		Operacion.OperadorSistema,
		Operacion.Proveedor,
		Operacion.EAN,
		Operacion.AECOC,
		Operacion.LoteProveedor, -- LoteProveedor,
		Operacion.SSCC,
		Operacion.IdAlbaran,
		Operacion.CantidadPrevia,
		Operacion.ReferenciaMaterial,
		Operacion.CantidadRestante,
		Operacion.IDLoteNuevo,
		Operacion.MotivoBloqueo,
		Operacion.IDMuestraLims,
		Operacion.PropiedadesExtendidas,
		operacion.FechaBloqueo,
		Operacion.FechaCaducidad,
		Operacion.MotivoCuarentena,
		Operacion.Prioridad,
		Operacion.FechaCuarentena,
		Operacion.Defectuoso


		--Operacion.Proveedor as Parametro01, --AS Proveedor,
		--Operacion.EAN as Parametro02, --AS EAN,
		--Operacion.LoteProveedor as Parametro03, -- LoteProveedor,
		--Operacion.SSCC as Parametro04, -- SSCC,
		--Operacion.IdAlbaran as Parametro05 -- IdAlbaranPosicion
	FROM 
		[OPE].tOperacion Operacion
		LEFT JOIN [UBI].[tUbicacion] Origen ON Operacion.IdUbicacionOrigen = Origen.IdUbicacion  
		LEFT JOIN [UBI].[tUbicacion] Destino ON Operacion.IdUbicacionDestino = Destino.IdUbicacion 
		INNER JOIN [OPE].[tTipoOperacion] TipoOperacion ON TipoOperacion.IdTipoOperacion = Operacion.IdTipoOperacion
    WHERE 
	    CASE 
			WHEN @IdOperacion = 0 AND Operacion.IdOperacion IS NOT NULL THEN Operacion.IdOperacion
			WHEN @IdOperacion = 0 AND Operacion.IdOperacion IS NULL THEN 0
			WHEN @IdOperacion <> 0 THEN @IdOperacion 
		END =  
			CASE 
				WHEN Operacion.IdOperacion IS NOT NULL THEN Operacion.IdOperacion
				WHEN Operacion.IdOperacion IS NULL THEN 0
			END
		AND 
		(
			@FechaInicio IS NULL AND
			DATEPART(m, Operacion.FechaEntrada) between DATEPART(m, DATEADD(m, -1, getdate())) AND DATEPART(m, getdate())
			AND DATEPART(yyyy, Operacion.FechaEntrada) = DATEPART(yyyy, DATEADD(m, -1, getdate()))
		
		OR
		(
			(@FechaInicio <= CONVERT(date,Operacion.FechaEntrada) OR @FechaInicio IS NULL)
			AND
			(@FechaFin  >= CONVERT(date,Operacion.FechaEntrada) OR (@FechaFin IS NULL AND @FechaInicio >= CONVERT(date,Operacion.FechaEntrada)))
		)
		)
		AND 
		CASE 
			WHEN @TipoOperacion IS NULL AND TipoOperacion.IdTipoOperacion IS NOT NULL THEN TipoOperacion.IdTipoOperacion
			WHEN @TipoOperacion IS NULL AND TipoOperacion.IdTipoOperacion IS NULL THEN 0
			WHEN @TipoOperacion IS NOT NULL THEN @TipoOperacion 
		END =  
			CASE 
				WHEN TipoOperacion.IdTipoOperacion IS NOT NULL THEN TipoOperacion.IdTipoOperacion
				WHEN TipoOperacion.IdTipoOperacion IS NULL THEN 0
			END
		AND 
		CASE 
			WHEN Operacion.IdLote IS NOT NULL THEN Operacion.IdLote
			WHEN Operacion.IdLote IS NULL THEN '0'		
		END LIKE
		CASE 
			WHEN @IdLote IS NULL AND Operacion.IdLote IS NOT NULL THEN Operacion.IdLote
			WHEN @IdLote IS NULL AND Operacion.IdLote IS NULL THEN '0'
			WHEN @IdLote IS NOT NULL THEN '%'+@IdLote+'%' 
		END
		AND 
		CASE 
			WHEN Operacion.IdSubLote IS NOT NULL THEN Operacion.IdSubLote
			WHEN Operacion.IdSubLote IS NULL THEN '0'
		END LIKE
		 CASE 
			WHEN @IdSublote IS NULL AND Operacion.IdSubLote IS NOT NULL  THEN Operacion.IdSubLote
			WHEN @IdSublote IS NULL AND Operacion.IdSubLote IS  NULL  THEN '0'
			WHEN @IdSublote IS NOT NULL THEN '%'+@IdSublote+'%' 
		 END
		AND 
		CASE 
			WHEN Operacion.IdOrdenOrigen IS NOT NULL THEN Operacion.IdOrdenOrigen
			WHEN Operacion.IdOrdenOrigen IS NULL THEN '0'
			
		END LIKE
			CASE 
				WHEN @IdOrdenOrigen IS NULL AND Operacion.IdOrdenOrigen IS NOT NULL THEN Operacion.IdOrdenOrigen
				WHEN @IdOrdenOrigen IS NULL AND Operacion.IdOrdenOrigen IS NULL THEN '0'
				WHEN @IdOrdenOrigen IS NOT NULL THEN @IdOrdenOrigen+'%' 
		     END
		AND 
		CASE 
			WHEN Operacion.IdOrdenDestino IS NOT NULL THEN Operacion.IdOrdenDestino
			WHEN  Operacion.IdOrdenDestino IS NULL THEN '0'
		END LIKE
			CASE 
				WHEN @IdOrdenDestino IS NULL AND Operacion.IdOrdenDestino IS NOT NULL THEN Operacion.IdOrdenDestino
				WHEN @IdOrdenDestino IS NULL AND Operacion.IdOrdenDestino IS NULL THEN '0'
				WHEN @IdOrdenDestino IS NOT NULL THEN @IdOrdenDestino+'%'
			END
		AND 
		CASE 
			WHEN @IdUbicacionOrigen IS NULL AND Operacion.IdUbicacionOrigen IS NOT NULL THEN Operacion.IdUbicacionOrigen
			WHEN @IdUbicacionOrigen IS NULL AND Operacion.IdUbicacionOrigen IS NULL THEN 0
			WHEN @IdUbicacionOrigen IS NOT NULL THEN @IdUbicacionOrigen 
		END = 
			CASE 
				WHEN Operacion.IdUbicacionOrigen IS NOT NULL THEN Operacion.IdUbicacionOrigen
				WHEN Operacion.IdUbicacionOrigen IS NULL THEN 0
			END
		AND 
		CASE 
			WHEN @IdUbicacionDestino IS NULL AND Operacion.IdUbicacionDestino IS NOT NULL THEN Operacion.IdUbicacionDestino
			WHEN @IdUbicacionDestino IS NULL AND Operacion.IdUbicacionDestino IS NULL THEN 0
			WHEN @IdUbicacionDestino IS NOT NULL THEN @IdUbicacionDestino 
		END = 
			CASE 
				WHEN Operacion.IdUbicacionDestino IS NOT NULL THEN Operacion.IdUbicacionDestino
				WHEN Operacion.IdUbicacionDestino IS NULL THEN 0
			END 

		AND 
			 (Operacion.Puente = 0 OR Operacion.Puente IS NULL)

			ORDER BY Operacion.FechaEntrada DESC

END
GO
