USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetLoteIdBySSCC]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--[OPE].[spGetLoteIdBySSCC]  '740596431211580581'
CREATE procedure [OPE].[spGetLoteIdBySSCC]
    -- Add the parameters for the stored procedure here
    @SSCC nvarchar (255)
AS
BEGIN
    
	DECLARE @Idlote as Nvarchar(256)
	
	SELECT @Idlote = IdLotemes
	FROM 
		[LOT].tLoteMateriaPrima
	WHERE 
		SSCC = @SSCC

	
	SELECT @Idlote


	

END



GO
