USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spInsertOperacion]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [OPE].[spInsertOperacion]
    -- Add the parameters for the stored procedure here
	@FechaInicio [datetime] = NULL,
	@FechaFin [datetime] = NULL,
	@FechaEntrada [datetime] = NULL,
	@IdTipoOperacion [int] = NULL,
	@IdLote [nvarchar](255) = NULL,
	@IdSublote [nvarchar](255) = NULL,
	@IdOrdenOrigen [nvarchar](10) = NULL,
	@IdOrdenDestino [nvarchar](10) = NULL,
	@IdUbicacionOrigen [int] = NULL ,
	@IdUbicacionDestino [int] = NULL,
	@Cantidad [decimal](18, 3) = NULL,
	@UnidadesMedida [nvarchar](10) = NULL,
	@OperadorSistema [nvarchar](50) = NULL,
	@Parametro01 [nvarchar](255) = NULL,
	@Parametro02 [nvarchar](255) = NULL,
	@Parametro03 [nvarchar](255) = NULL,
	@Parametro04 [nvarchar](255) = NULL,
	@Parametro05 [nvarchar](255) = NULL,
	@ControlGestion01 [nvarchar](255) = NULL,
	@ControlGestion02 [nvarchar](255) = NULL,
	@ControlGestion03 [nvarchar](255) = NULL,
	@ControlGestion04 [nvarchar](255) = NULL,
	@ControlGestion05 [nvarchar](255) = NULL
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

   INSERT INTO 
		[OPE].[tOperacion] ( FechaInicio, 
							 FechaFin, 
							 FechaEntrada, 
							 IdTipoOperacion, 
							 IdLote,
							 IdSublote, 
							 IdOrdenOrigen, 
							 IdOrdenDestino,
							 IdUbicacionOrigen,
							 IdUbicacionDestino,
							 Cantidad,
							 UnidadesMedida,
							 OperadorSistema, 
							 Parametro01,
							 Parametro02,
							 Parametro03,
							 Parametro04,
							 Parametro05,
							 ControlGestion01,
							 ControlGestion02,
							 ControlGestion03,
							 ControlGestion04,
							 ControlGestion05)
        
		VALUES(@FechaInicio, 
			   @FechaFin, 
			   @FechaEntrada, 
			   @IdTipoOperacion, 
			   @IdLote,
			   @IdSublote, 
			   @IdOrdenOrigen, 
			   @IdOrdenDestino,
			   @IdUbicacionOrigen,
			   @IdUbicacionDestino,
			   @Cantidad,
			   @UnidadesMedida,
			   @OperadorSistema, 
			   @Parametro01,
			   @Parametro02,
			   @Parametro03,
			   @Parametro04,
			   @Parametro05,
			   @ControlGestion01,
			   @ControlGestion02,
			   @ControlGestion03,
			   @ControlGestion04,
			   @ControlGestion05)



    SELECT SCOPE_IDENTITY() AS IdOperacion

END

GO
