USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spUpdateOperacion]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [OPE].[spUpdateOperacion]
    -- Add the parameters for the stored procedure here
	@IdOperacion [INT],
	@FechaInicio [datetime] = NULL,
	@FechaFin [datetime] = NULL,
	@FechaEntrada [datetime] = NULL,
	@IdTipoOperacion [int] = NULL,
	@IdLote [nvarchar](255) = NULL,
	@IdSublote [nvarchar](255) = NULL,
	@IdOrdenOrigen [nvarchar](10) = NULL,
	@IdOrdenDestino [nvarchar](10) = NULL,
	@IdUbicacionOrigen [int] = NULL ,
	@IdUbicacionDestino [int] = NULL,
	@Cantidad [decimal](18, 3) = NULL,
	@UnidadesMedida [nvarchar](10) = NULL,
	@OperadorSistema [nvarchar](50) = NULL,
	@Parametro01 [nvarchar](255) = NULL,
	@Parametro02 [nvarchar](255) = NULL,
	@Parametro03 [nvarchar](255) = NULL,
	@Parametro04 [nvarchar](255) = NULL,
	@Parametro05 [nvarchar](255) = NULL,
	@ControlGestion01 [nvarchar](255) = NULL,
	@ControlGestion02 [nvarchar](255) = NULL,
	@ControlGestion03 [nvarchar](255) = NULL,
	@ControlGestion04 [nvarchar](255) = NULL,
	@ControlGestion05 [nvarchar](255) = NULL
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

   
   UPDATE 
		[OPE].[tOperacion]	
   SET 
		FechaInicio			=   @FechaInicio, 
		FechaFin			=  	@FechaFin, 
		FechaEntrada		=	@FechaEntrada, 
		IdTipoOperacion		=	@IdTipoOperacion, 
		IdLote				=	@IdLote,
		IdSublote			=	@IdSublote, 
		IdOrdenOrigen		=	@IdOrdenOrigen, 
		IdOrdenDestino		=	@IdOrdenDestino,
		IdUbicacionOrigen	=	@IdUbicacionOrigen,
		IdUbicacionDestino	=	@IdUbicacionDestino,
		Cantidad			=	@Cantidad,
		UnidadesMedida		=	@UnidadesMedida,
		OperadorSistema		=	@OperadorSistema, 
		Parametro01			=	@Parametro01,
		Parametro02			=	@Parametro02,
		Parametro03			=	@Parametro03,
		Parametro04			=	@Parametro04,
		Parametro05			=	@Parametro05,
		ControlGestion01	=	@ControlGestion01,
		ControlGestion02	=	@ControlGestion02,
		ControlGestion03	=	@ControlGestion03,
		ControlGestion04	=	@ControlGestion04,
		ControlGestion05	=	@ControlGestion05
   WHERE 
		IdOperacion = @IdOperacion ;

END

GO
