USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spDeleteOperacion]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [OPE].[spDeleteOperacion]
    -- Add the parameters for the stored procedure here
    @IdOperacion int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    DELETE FROM 
		[OPE].[tOperacion] 
    where 
		IdOperacion = @IdOperacion

END


GO
