USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[SP_UpdateUbicacionOperacion]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:		   Alexis Anselmi
-- Fecha creacion: 14/09/2021
-- Desccripcion:   Procedimiento que se encarga de actualizar el Id Ubicación de un lote registrado en tOperacion
-- Modificado:	   --
-- Parametros de entrada: --	
--============================================

CREATE procedure [OPE].[SP_UpdateUbicacionOperacion]
	@BatchId NVARCHAR(MAX), 
	@IdLocation INT
AS
BEGIN

SET NOCOUNT ON;

   DECLARE @pkLocation INT
   SELECT @pkLocation = MMLocation.LocPK
   FROM 
    UBI.tUbicacion AS UBICACION INNER JOIN 
	[SITMesDB].[dbo].[MMLocations] MMLocation ON UBICACION.IdUbicacionLinkMes = MMLocation.LocPath
	WHERE 
		UBICACION.IdUbicacion = @IdLocation

	UPDATE OPE.tOperacion
	SET IdUbicacionDestino = @IdLocation
	FROM OPE.tOperacion
	WHERE 
		IdTipoOperacion = 1
		AND IdLote = @BatchId


    UPDATE [SITMesDB].[dbo].[MMLots]
	SET LocPK = @pkLocation
	WHERE LotID = @BatchId

	UPDATE UBI.tUbicacionLote
	SET IdUbicacion = @IdLocation
	WHERE IdLote = @BatchId


END
GO
