USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetFechaUltimoMovimientoPorLote]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--=============================================
-- Autor:			Alexis Anselmi - IDOM
-- Fecha creacion: 2021-08-04
-- Desccripcion:  Procedimiento que obtiene la fecha maxima de movimiento de un lote, 
--                sirve para actualizar la fecha de inicio de un consumo
--					
-- Parametros de entrada
	--	@IdLote--> Id lote 
	--	@@IdUbicacionOrigen--> Ubicacion desde la que se está haciendo el movimiento del lote
--  =============================================

CREATE procedure [OPE].[spGetFechaUltimoMovimientoPorLote]
  
	 @IdLote nvarchar (255),
	 @IdUbicacionOrigen INT

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	DECLARE @FechaInicio AS DATETIME 

	SELECT @FechaInicio = MAX(FechaInicio) 
    FROM [MES_MSM_Trazabilidad].[OPE].[tOperacion]
	WHERE IdLote = @IdLote
	AND IdTipoOperacion = 2
	AND IdUbicacionDestino = @IdUbicacionOrigen

	SELECT @FechaInicio FechaInicio
	
END
GO
