USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[SP_ObtenerTransferenciasMosto]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Franyelvis Colmenares/Juan Carlos Gómez Mandujano
-- Fecha creacion:  30/06/2021
-- Desccripcion:	Procedimiento que devuelve los datos para la grilla de transferencia de una orden 
--					de Gestion WO Activas
-- Parametros de entrada
	--	@IdOrden  --> Id de Orden,
	--	@Material --> Material
--  =============================================
--exec [OPE].[SP_ConsumoMaterialPorOrden] 'OP-BUR-FAB-SC1-21-0142', 'Default_MALTA'

CREATE PROCEDURE [OPE].[SP_ObtenerTransferenciasMosto] @IdOrden NVARCHAR(MAX), @Material NVARCHAR(MAX)

AS
BEGIN

set nocount on; 

SELECT COALESCE(TOpe.[IdOrdenOrigen],TOpe.[IdOrdenDestino]) as IdOrdenOrigen
	  ,LocOrig.LocAlias + ' - ' + EquipOrig.equip_label as UbiOrigen
	  ,LocDest.LocAlias + ' - ' + EquipDest.equip_label as Ubidestino
	  ,Mat.Descript as DescMaterial
	  ,TOpe.[IdLote] as LoteMES
	  ,TOpe.[LoteProveedor]
	  ,TOpe.[Cantidad]
      ,TOpe.[UnidadesMedida]
	  ,TOpe.[FechaEntrada] as Fecha
FROM [MES_MSM_Trazabilidad].[OPE].[tOperacion] as TOpe
INNER JOIN [MES_MSM_Trazabilidad].[UBI].[vDetalleUbicaciones] vUbiOrig ON TOpe.IdUbicacionOrigen = vUbiOrig.IdUbicacion
INNER JOIN [SITMesDB].[dbo].[MMLocations] LocOrig ON LocOrig.locid = vUbiOrig.ubicacion 
INNER JOIN [SITMesDB].[dbo].[BPMV_EQPT] EquipOrig ON LocOrig.LocAlias = EquipOrig.equip_name AND EquipOrig.equip_in_plant = 1
INNER JOIN [MES_MSM_Trazabilidad].[UBI].[vDetalleUbicaciones] vUbiDest ON TOpe.IdUbicacionDestino = vUbiDest.IdUbicacion
INNER JOIN [SITMesDB].[dbo].[MMLocations] LocDest ON LocDest.locid = vUbiDest.ubicacion
INNER JOIN [SITMesDB].[dbo].[BPMV_EQPT] EquipDest ON LocDest.LocAlias = EquipDest.equip_name AND EquipDest.equip_in_plant = 1
INNER JOIN [SITMesDB].[dbo].[MTMV2_B_DEF] Mat ON CONVERT(NVARCHAR(MAX), Mat.DefID)  = @Material
WHERE IdLote like '%' + @Material + '%' 
AND IdOrdenOrigen = @IdOrden
AND IdTipoOperacion = 2

END

GO
