USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetTransformacionesPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [OPE].[spGetTransformacionesPorLote]
  
	 @IdLote nvarchar (255)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	--DECLARE @DATE AS DATETIME 

 --   SELECT  @DATE =CreatedOn
	--FROM   [MAT].[vLote] (NOLOCK)
	--WHERE   LotID =@IDLOTE;


	WITH OpCTE (IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino, FechaEntrada,IdTipoOperacion,IdUbicacionOrigen,IdLoteTransformado)
	AS
	(
		   SELECT IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino,FechaEntrada,IdTipoOperacion,IdUbicacionOrigen,IdLoteTransformado
				 FROM [OPE].[tOperacion] (NOLOCK)
				 WHERE (IdTipoOperacion = 24 OR IdTipoOperacion = 1)
						AND
						IdLote = @IDLOTE 
		   UNION ALL
	--RECURSIVIDAD
		   SELECT Op.IdOperacion,Op.IdLote, Op.FechaInicio, Op.FechaFin, Op.IdOrdenOrigen, Op.IdOrdenDestino,op.FechaEntrada,Op.IdTipoOperacion,Op.IdUbicacionOrigen,Op.IdLoteTransformado
				 FROM [OPE].[tOperacion]  AS Op  (NOLOCK) JOIN OpCTE    AS m
						ON 
							Op.IdLote = m.IdLoteTransformado 
							--AND (Op.IdTipoOperacion = 1 )
	)


	SELECT DISTINCT
	OpCTE.IdOperacion,
	TipoOperacion.Descripcion,
	OpCTE.IdLote, 
	OpCTE.FechaInicio, 
	OpCTE.FechaFin, 
	OpCTE.IdOrdenOrigen,
	--IIF(OpCTE.IdTipoOperacion = 3,IdOrdenDestino,IIF(OpCTE.IdTipoOperacion = 4,IdOrdenOrigen,IdOrdenDestino)) AS IdOrdenOrigen, 
	OpCTE.IdOrdenDestino, 
	OpCTE.FechaEntrada , 
	Tipo.id TipoOrden,
	vLote.InitQuantity CantidadInicial,
	vLote.Quantity CantidadActual,
	Materiales.Clase,
	Materiales.IdMaterial,
	Materiales.Descripcion DescripcionMaterial,
	Ubicacion.IdUbicacionLinkMes,
	vLote.CreatedOn FechaCreacion
	FROM  OpCTE
	INNER JOIN [OPE].[tTipoOperacion] TipoOperacion ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
	LEFT JOIN [MAT].[vLote] vLote ON vLote.LotID = OpCTE.IdLote
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] Orden ON Orden.pom_order_id = IIF(OpCTE.IdOrdenDestino IS NULL OR OpCTE.IdOrdenDestino = '',OpCTE.IdOrdenOrigen, OpCTE.IdOrdenDestino)
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE] AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
	LEFT JOIN [MAT].[vMateriales] Materiales ON Materiales.IdMaterial = VlOTE.Defid
	LEFT  JOIN [UBI].[tUbicacion] Ubicacion ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	WHERE 
	OpCTE.IdTipoOperacion = 24 
	--AND 
	--OpCTE.IdLoteTransformado = @IdLote
	ORDER BY OpCTE.FechaEntrada
END
GO
