USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[SP_tOperacion_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Procedimiento de actualizacion de los datos  en la tabla de operaciones,
--					
-- Parametros de entrada
	--	@IdLote--> Id lote 
	--	@Cantidad-->cantidad a consumir,
--  =============================================


CREATE procedure [OPE].[SP_tOperacion_UPD]
	 @IdLote as nvarchar(256),	
	 @Cantidad  as decimal(18,2)

AS
BEGIN

set nocount on; 
--------------------------
-- Declaracion de variables 
----------------------------
DECLARE @IDOPERCION AS INT  
DECLARE @RESULT AS NVARCHAR(10)  
DECLARE @FechaInicio  DATETIME
DECLARE @FechaInicioest  DATETIME
DECLARE @FechaInicioestFin  DATETIME
--------------------------
-- INIT
----------------------------
--SET @IdLote ='TES-01-LUP-0100012-REC-20180222160715-123325'

--SET @Cantidad = 5
--set @IDOPERCION = 0
SET @RESULT = 'A0';
set @FechaInicioest =dateadd(WW,-1,getutcdate())
set @FechaInicioestFin = getutcdate()


-------------------------------------
-- create temp tables
-------------------------------------
	Create table #temp_data
	(
		 IdOperacion int
		 
	)
-----------------------------
-- Inicio proceso 
-----------------------------
BEGIN TRY
	-------------------------
	-- insertamos el id de operacion 
	-- para dos dias
	insert into  #temp_data
	select IdOperacion
	from  [OPE].[tOperacion] (NOLOCK)
	Where FechaInicio between  @FechaInicioest and @FechaInicioestFin 
	And  [IdTipoOperacion] = 3
	-- Buscamos en la tabla operaciones por id lote
	-- Tipo de operacione
	-- y las ubicaciones 
	SELECT  @IDOPERCION =IdOperacion,
			@FechaInicio=[FechaInicio]
	FROM	[OPE].[tOperacion] op (NOLOCK)
	WHERE  exists
			(
				select 1 from  #temp_data dd
				where dd.IdOperacion = op.IdOperacion
			--	And dd.FechaInicio  = op.FechaInicio
			)

	And		[IdTipoOperacion] = 3
	And		[IdLote] = @IdLote
	-----------------------------
	-- Si no hay datos devolvemos error
	-----------------------------
	IF(@IDOPERCION =0)
	BEGIN

		SET @RESULT = 'A-1';
		SELECT @RESULT AS VALOR
		RETURN
	END 

	-----------------------------
	-- Actualizamos los datos
	----------------------------
	 BEGIN TRAN

	UPDATE	[OPE].[tOperacion]
	set		FechaFin = getutcdate(),
			Cantidad = @Cantidad
	 FROM	[OPE].[tOperacion] 
	 WHERE	IdOperacion = @IDOPERCION
	-- And	FechaInicio =@FechaInicio
	 And	[IdTipoOperacion] = 3 
	 And	[IdLote] = @IdLote


	 SELECT @RESULT AS VALOR

	
	 drop table #temp_data
	
	COMMIT TRAN

	SELECT @RESULT as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @RESULT = 'A-1'
	SELECT @RESULT as Valor
END CATCH;




END


GO
