USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetLotesGeneradosPorFiltros]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [OPE].[spGetLotesGeneradosPorFiltros]
  
	@IdAlmacen INT = NULL,
	@IdZona INT = NULL,
	@IdUbicacion INT = NULL,
	@IdTipoMaterial NVARCHAR(32) = NULL,
	@IdClaseMaterial NVARCHAR(64) = NULL,
	@IdMaterial NVARCHAR(64) = NULL,
	@IdLote NVARCHAR(64) = NULL,
	@LoteProveedor NVARCHAR(255) = NULL,
	@Consumido BIT = NULL,
	@FechaInicio DATETIME = NULL,
	@FechaFin DATETIME = NULL,
	@IdProveedor INT = NULL

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
	Select	lots.LotID ,
			Lots.InitQuantity,
			Lots.Quantity,
			Lots.CreatedOn, 
			Lots.DefVerPK,
			Lots.LotStatusPK,
			Lots.LotPK,
			ll.LocPath, 
			0  as  idUbicacion
	into	#lotes
	From [SITMESDB].[dbo].[MMLots] Lots
		inner   JOIN [SITMesdb].[dbo].[MMLocations] LL
		ON LL.LocPk = Lots.LocPk
	and lots.rowdeleted = 0

	update #lotes
	set LocPath = Ubicacion.IdUbicacionLinkMes,  idUbicacion =  UbicacionLote.idUbicacion
	from    #lotes lot  inner join   [UBI].[tUbicacionLote] UbicacionLote  (NOLOCK) 	
	on lot.LotID = UbicacionLote.IdLote
	INNER  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) 	 ON  Ubicacion.IdUbicacion = UbicacionLote.IdUbicacion

	update #lotes
	set idUbicacion = Ubicacion.idUbicacion
	from    #lotes lot  
	INNER  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) 	 
	ON  lot.LocPath =  Ubicacion.IdUbicacionLinkMes
	where  lot.idUbicacion = 0

	 
	SELECT  
			Produccion.idLotMes		AS LoteMes,
			MM.IdMaterial+' - '+MM.Descripcion AS ReferenciaMES,
			0	AS CantidadInicial,
			0	AS CantidadActual,
			Produccion.CreatedAt AS FechaCreacion,
			Produccion.ParticionWO AS IdOrdenOrigen,
			'' AS UbicacionMES,
			0 AS PK_Material,
			0 AS IdAlbaran,
			1 AS Paleta
	 FROM
		[TRA].[tProduccion] Produccion
		LEFT JOIN [MAT].[vMateriales] MM ON MM.IdMaterial = Produccion.Referencia
		WHERE 
			(idLotMes = @IdLote OR @IdLote IS NULL) AND Produccion.idLotMes IS NOT NULL
			AND (MM.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL)
			AND (MM.IdMaterial = @IdMaterial OR @IdMaterial IS NULL)
			AND (Produccion.EtiquetaCreatedAt >= @FechaInicio OR @FechaInicio IS NULL)
			AND (Produccion.EtiquetaCreatedAt <= @FechaFin OR @FechaFin IS NULL)
	UNION ALL

    -- SELECT statements for procedure here
	SELECT    
	Lots.LotID		AS LoteMes,
	MM.IdMaterial + ' - '+MM.Descripcion AS ReferenciaMES,
	Lots.InitQuantity	AS CantidadInicial,
	Lots.Quantity	AS CantidadActual,
	Lots.CreatedOn AS FechaCreacion,
	'' AS IdOrdenOrigen,
	Ubicacion.IdUbicacionLinkMes AS UbicacionMES,
	MM.PK_Material,
	Albaran.IdAlbaran,
	0 AS Paleta

  FROM #lotes lots
	  LEFT JOIN [TRA].[tAlbaranPosicionLote] AlbaranPosicionLote ON AlbaranPosicionLote.IdLote = Lots.LotID
	  LEFT JOIN [TRA].[tAlbaranPosicion] AlbaranPosicion ON AlbaranPosicion.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion
	  LEFT JOIN [TRA].[tAlbaran] Albaran ON Albaran.IdAlbaran = AlbaranPosicion.IdAlbaran
	  LEFT JOIN [TRA].[tTransporte] Transporte ON Transporte.IdTransporte = Albaran.IdTransporte
	  LEFT JOIN [MAT].[tProveedor] Proveedor ON Proveedor.IdProveedor = Transporte.IdProveedor
	  LEFT  JOIN [UBI].[tUbicacion] Ubicacion --ON lots.LocPath =  Ubicacion.IdUbicacionLinkMes
	  ON    Ubicacion.IdUbicacion = lots.IdUbicacion
	  LEFT JOIN [UBI].[tAlmacen] Almacen ON Almacen.IdAlmacen = Ubicacion.IdAlmacen
	  LEFT JOIN  UBI.tZona_tUbicacion AS ZonaUbicacion ON Ubicacion.IdUbicacion = ZonaUbicacion.IdUbicacion 
	  INNER JOIN UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona  
	  LEFT JOIN UBI.tEstadoUbicacion EstadoUbicacion ON EstadoUbicacion.IdEstadoUbicacion = Ubicacion.IdEstado
	  LEFT JOIN [UBI].[tTipoUbicacion] TipoUbicacion ON TipoUbicacion.IdTipoUbicacion = Ubicacion.IdTipoUbicacion
	  INNER JOIN [SITMESDB].[dbo].[MMDefVers] DefVer ON Lots.[DefVerPK] = DefVer.[DefVerPK] 
	  INNER JOIN [SITMESDB].[dbo].[MMDefinitions] Def ON Def.DefPK = DefVer.DefPK 
	  INNER JOIN [MAT].[vMateriales] MM ON MM.IdMaterial = Def.DefID
	  INNER JOIN [SITMesDB].[dbo].[MMLotStatuses] LotStatus ON LotStatus.[LotStatusPK] = Lots.LotStatusPK
	  LEFT JOIN [MAT].[vMATFactor] MF ON MF.PK = MM.PK_Material
	  LEFT JOIN [MAT].[vTipoMaterial] TM ON TM.Tipo = MM.Tipo
	  LEFT JOIN [SITMESDB].[dbo].[MMLotsCustom] CustomLots ON Lots.LotPK = CustomLots.LotPK

 WHERE 
	  ((Almacen.IdAlmacen = @IdAlmacen OR @IdAlmacen IS NULL))
	  AND 
	  ((Zona.IdZona = @IdZona OR @IdZona IS NULL))
	  AND 
	  ((Ubicacion.IdUbicacion = @IdUbicacion OR @IdUbicacion IS NULL))
	  AND 
	  ((TM.Tipo = @IdTipoMaterial OR @IdTipoMaterial IS NULL))
	  AND 
	  ((MM.IdClase = @IdClaseMaterial OR @IdClaseMaterial IS NULL))
	  AND 
	  ((MM.IdMaterial = @IdMaterial OR @IdMaterial IS NULL))
	  AND 
	  ((Lots.LotID like '%'+@IdLote+'%' OR @IdLote IS NULL))	  
	  AND  
	  (AlbaranPosicionLote.LoteProveedor = @LoteProveedor OR @LoteProveedor IS NULL)
	  AND
	  (
		AlbaranPosicionLote.FechaSalidaLote IS NULL
	  )
	  AND  
	  (Proveedor.IdProveedor = @IdProveedor OR @IdProveedor IS NULL)
	  AND 
	  (Lots.CreatedOn >= @FechaInicio OR @FechaInicio IS NULL)
	  AND 
	  (Lots.CreatedOn <= @FechaFin OR @FechaFin IS NULL)
	  
	--ORDER BY Lots.LotID, Lots.CreatedOn DESC

drop table #lotes
END
GO
