USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetPathUbicacion]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [OPE].[spGetPathUbicacion]
    -- Add the parameters for the stored procedure here
	@NombrePlanta [nvarchar](MAX) = NULL

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

   SELECT --u.Nombre as Ubicacion, 
	e.Descripcion + '.' + p.Descripcion + '.' + a.Descripcion + '.' + z.Descripcion + '.' + u.Nombre as PathLinkMes
FROM
	UBI.tEmpresa e
		inner join UBI.tPlanta p on p.IdEmpresa = e.IdEmpresa 		 
		inner join UBI.tAlmacen a on a.IdPlanta = p.IdPlanta
		inner join UBI.tZona z on z.IdAlmacen = a.IdAlmacen 
		INNER JOIN UBI.tZona_tUbicacion AS ZonaUbicacion ON ZonaUbicacion.IdZona = z.IdZona 
		inner join UBI.tUbicacion u on u.IdUbicacion = ZonaUbicacion.IdUbicacion 
WHERE 
	p.Descripcion = @NombrePlanta

END



GO
