USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetTransferenciasPorIdLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [OPE].[spGetTransferenciasPorIdLote]
  
	 @IdLote nvarchar (255)
AS
BEGIN
	
	DECLARE @IdOrdenOrigen AS NVARCHAR(200)
	DECLARE @IdUbicacionOrigen AS NVARCHAR(200)
	DECLARE @ReferenciaMaterial AS NVARCHAR(200)
	DECLARE @LoteMES AS NVARCHAR(500)

	SELECT 
		@IdOrdenOrigen = IdOrdenOrigen,
		@IdUbicacionOrigen = IdUbicacionOrigen,
		@ReferenciaMaterial = ReferenciaMaterial
	FROM [OPE].[tOperacion]
	WHERE 
		IdLote = @IdLote
		AND IdTipoOperacion = 4

	SELECT 
		@LoteMES = Destino.IdLote
	FROM [OPE].[tOperacion] Origen
	INNER JOIN [OPE].[tOperacion] Destino ON Origen.IdOrdenOrigen = Destino.IdOrdenOrigen AND Origen.IdOrdenDestino = Destino.IdOrdenDestino AND Destino.IdTipoOperacion = 4
	WHERE 
		Origen.IdLote = @IdLote
		AND Destino.IdLote <> Origen.IdLote

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
	   SELECT 
		DISTINCT
		@IdOrdenOrigen IdOrdenOrigen,
		Operacion.IdOrdenDestino,
		UbicacionOrigen.Nombre +' - '+ EquipoOrigen.[equip_label] AS UbicacionOrigen,
		UbicacionDestino.Nombre +' - '+ EquipoDestino.[equip_label] AS UbicacionDestino,
		Material.DefName + ' - '+ Material.[Descript] AS Material,
		Operacion.Cantidad  AS Cantidad,
		Operacion.UnidadesMedida AS UoM,
		IIF(@LoteMES LIKE '%Dummy%','---',@LoteMES) IdLote,
		Operacion.FechaEntrada
	 
	   FROM [OPE].[tOperacion] (NOLOCK) Operacion
	   INNER JOIN UBI.tUbicacion (NOLOCK) UbicacionDestino ON UbicacionDestino.IdUbicacion = Operacion.IdUbicacionDestino 
	   INNER JOIN  UBI.tUbicacion (NOLOCK) UbicacionOrigen ON UbicacionOrigen.IdUbicacion = @IdUbicacionOrigen
	   INNER JOIN [SITMesDB].[dbo].[MMDefinitions] (NOLOCK) Material ON Material.DefID = @ReferenciaMaterial
	   INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT] (NOLOCK) EquipoOrigen ON EquipoOrigen.[equip_name] = UbicacionOrigen.Nombre
	   INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT] (NOLOCK) EquipoDestino ON EquipoDestino.[equip_name] = UbicacionDestino.Nombre
	   WHERE 
		 Operacion.IdLote = @IdLote
		 AND Operacion.IdTipoOperacion = 3


END



GO
