USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[sp_tOperaciones_UPD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Borra una linea de la tabla operariones
-- Parametros de entrada
	--  @IdOperacion-> id para borrar
	--	@Fechainicio--> Fecha inicio
	--	@Fechafin --> Fecha fin
	-- @cantidad --> Cantidad.
--============================================
--exec [OPE].[sp_tOperaciones_UPD] 273,'2018-03-26T17:25:00.000Z','2018-08-26T16:25:00.000Z',400

--exec [OPE].[sp_tOperaciones_UPD] 273,'2018-03-27T16:25:00.000Z','2018-03-27T16:22:00.000Z',400


CREATE procedure [OPE].[sp_tOperaciones_UPD]
(
		@IdOperacion int, 		
		@Fechainicio nvarchar(256),
		@Fechafin  nvarchar(256),		 
		@cantidad decimal(18,3)
	

)
AS 
BEGIN

	SET NOCOUNT ON;

	--------------------------
	-- Declaracion de variables 
	--------------------------
	DECLARE @return AS NVARCHAR(256)
	DECLARE @FechafinCAD DATETIME 
	DECLARE @FechainicioCAD DATETIME 

	SET  @FechafinCAD = CONVERT(DATETIME,@Fechafin)
	SET  @FechainicioCAD = CONVERT(DATETIME,@Fechainicio)

	
	IF(@FechafinCAD <@FechainicioCAD)
	BEGIN 
		set @return ='-3'
		SELECT @return as Valor
		RETURN 
	

	END  
	ELSE 
	IF(@FechainicioCAD > @FechafinCAD )
	BEGIN 
		set @return ='-3'
		SELECT @return as Valor
		RETURN 
	

	END  


	
	  

	
	--------------------------
	-- Init
	--------------------------
	set @return ='-1'


	

	BEGIN TRY
	-----------------------------
	-- Actualizamos el id	
	-------------------------------
	BEGIN TRAN




	-- Actualizamos el id	
	-------------------------------
	UPDATE [OPE].[tOperacion]	
	SET		[FechaInicio] =  @Fechainicio,	
			[FechaFin] =@Fechafin,			
			[Cantidad]=@cantidad
    WHERE	IdOperacion =@IdOperacion

	 	
	COMMIT TRAN

	set @return ='0'

	SELECT @return as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = '-1'
	SELECT @return as Valor
END CATCH;



	


END 


GO
