USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[sp_tOperaciones_ADD]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Borra una linea de la tabla operariones
-- Parametros de entrada
	--  @IdOperacion-> id para borrar
	--	@Fechainicio--> Fecha inicio
	--	@Fechafin --> Fecha fin
--============================================
--exec [OPE].[sp_tOperaciones_ADD] '1001','2018-03-02 0:00:00','2018-03-02 0:00:00',2074,'0OM-BUR-18-00009.1',400,'TES-01-LUP-0100012-REC-20180222160715-123325'
CREATE procedure [OPE].[sp_tOperaciones_ADD]
(
		@IdMaterial  nvarchar(256), 
		@Fechainicio nvarchar(50),
		@Fechafin	nvarchar(50),
		@IdUbicaion int, 
		@IDParticion   nvarchar(50), 
		@cantidad decimal(18,3),
		@IDLote   nvarchar(256)

)
AS
BEGIN

	SET NOCOUNT ON;

	--------------------------
	-- Declaracion de variables 
	--------------------------
	DECLARE @return AS NVARCHAR(256)
	DECLARE @UdMedida AS NVARCHAR(32)
	DECLARE @countdata AS int
	DECLARE @countMaterial AS int	
	DECLARE @countUbicacion AS int
	DECLARE @Quantity AS DECIMAL(18,2)
	--------------------------
	-- Init
	--------------------------
	set @return ='-1'
	set @countdata =0
	set @countMaterial =0
	set @countUbicacion = 0
	
	----------------------------
	-- Comprobamos si el lote no existe
	----------------------------
	--SELECT  @countdata = count(1)
	--FROM	ubi.[tUbicacionLote] ll  (NOLOCK)	
	--WHERE	ll.IdLote =@IDLote



	--if @countdata =0
	--Begin 
	--	set @return ='-2'
	--	SELECT @return as Valor
	--	return -1
	--End 

	--------------------------
	-- Comprobarmos que la refencia exite
	--------------------------
	--Select @countMaterial =count(1) 
	--From  [MAT].[MaterialesBOMALL]
	--Where IdMaterial= @IdMaterial

	--if @countMaterial =0
	--Begin 		
	--	------------------------------------
	--	-- Comprobasmos la cerveza a envasar
	--	------------------------------------

	--	SELECT  @countMaterial =count(1) 
	--	FROM	[MES_MSM].[dbo].[REL_PackingWo_HighBeer]
	--	WHERE	substring([CZAEnv],0,charindex('-',[CZAEnv]) )  =  @IdMaterial

	--	if(@countMaterial =0)
	--	BEGIN 
	--			set @return ='-4'

	--			SELECT @return as Valor
	--			return -1
	--	END 
	--End 


	
	
	
	--Select @countUbicacion =count(1) 
	--From  [ubi].[tUbicacion]
	--Where IdUbicacion= @IdUbicaion

	--if @countMaterial =0
	--Begin 
	--	set @return ='-5'
	--	SELECT @return as Valor
	--	return -1
	--End 


	Select @countUbicacion =count(1) 
	From  mat.vLote
	Where LotID= @IDLote	

	if @countUbicacion =0
	Begin 
		set @return ='-5'
		SELECT @return as Valor
		return -1
	End 
	
	Select	@Quantity = Quantity
	From	mat.vLote (nolocK)
	Where	LotID= @IDLote	



	BEGIN TRY
	-----------------------------
	-- Obtenemos las unidades de medidas
	-- de la tabla de materiales 
	-------------------------------
	Select	@UdMedida =[UdMedida]
	From	[MAT].[vMateriales] (NOLOCK)
	WHERE	idMaterial = @IdMaterial


	


	BEGIN TRAN

	 	INSERT INTO [OPE].[tOperacion]		
		(
			  [FechaInicio]
			  ,[FechaFin]
			  ,[FechaEntrada]
			  ,[IdTipoOperacion]
			  ,[IdLote]			  
			  ,[IdOrdenDestino]			  
			  ,[IdUbicacionDestino]
			  ,[Cantidad]
			  ,[UnidadesMedida]
			  ,[OperadorSistema]
			  ,ReferenciaMaterial			 
			  ,[CreadoPor]
			  ,[Creado]			  			  
			  ,CantidadPrevia
			  ,CantidadRestante
	  )
		Select  
				 convert(datetime, @Fechainicio),
				 convert(datetime, @FechaFin),
				 getUTCDAte(),  
				 3,				--[IdTipoOperacion]
				 @IDLote,			-- [idlote]			 				 
				  @IDParticion,				-- [IdOrdenDestino]				 				 
				 @IdUbicaion,  --[IdUbicacionDestino]
				 @cantidad, --[Cantidad]
				 @UdMedida,  -- [UnidadesMedida]
				 'ADMIN',  -- [OperadorSistema]
				 @IdMaterial,	-- [ReferenciaMaterial]		 				 
				 'MSM_TEST', --[CreatedBy]
				 getUTCDAte(), --[CreatedAt],
				 @Quantity,
				 @Quantity -@cantidad
				 
				 
	COMMIT TRAN

	SET @return ='0'
	SELECT @return as Valor



END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = '-1'
	SELECT @return as Valor
END CATCH;



	


END
GO
