USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetAnaliticaPorLote]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [OPE].[spGetAnaliticaPorLote]
  
	 @IdLote nvarchar (255)

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	DECLARE @DATE AS DATETIME 

    SELECT  @DATE =CreatedOn
	FROM   [MAT].[vLote] (NOLOCK)
	WHERE   LotID =@IDLOTE;

	SELECT 
		IdOperacion,
		IdLote, 
		FechaInicio, 
		FechaFin, 
		IdOrdenOrigen, 
		IdOrdenDestino,
		FechaEntrada,
		IdTipoOperacion,
		IdUbicacionOrigen
	FROM [OPE].[tOperacion] (NOLOCK)
	WHERE IdTipoOperacion =  14
		AND IdLote = @IDLOTE
		AND FechaEntrada >= @DATE
	
END





GO
