USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGenerateSSCC]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	Genera un SSCC con 14 digitos

--  =============================================


CREATE  procedure [OPE].[spGenerateSSCC]
AS
BEGIN

---------------------------
-- DECLARACION DE VARIABLES
---------------------------
DECLARE @SSCC AS INT
DECLARE @COUNTSSCC AS INT 
DECLARE @RETUN AS NVARCHAR(20)
-------------------------------
-- INIT
-------------------------------
	set @SSCC = 1
	SET @COUNTSSCC = 0
	--- Obteemos el SSCC
	SELECT @SSCC = SSCC
	FROM OPE.tSSCC

	SET @COUNTSSCC = @@ROWCOUNT

	IF(@COUNTSSCC =0)
	BEGIN
		INSERT INTO OPE.tSSCC
		VALUES(1)

		SET @SSCC = 1

	END
	ELSE
	BEGIN
			SET @SSCC  = @SSCC +1
			
			UPDATE  OPE.tSSCC
			SET SSCC = @SSCC

		

	END 


	SET @RETUN= RIGHT(REPLICATE('0',20) + CONVERT(VARCHAR,@SSCC),20)




	SELECT @RETUN AS RESULTADO



END
GO
