USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetOperationById]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [OPE].[spGetOperationById]
  
	 @SSCC nvarchar (255)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- SELECT statements for procedure here
	SELECT 
		Operacion.IdOperacion,
		Operacion.FechaInicio,
		Operacion.FechaFin,
		Operacion.FechaEntrada,
		TipoOperacion.Descripcion TipoOperacion,
		Operacion.IdLote,
		Operacion.IdSublote,
		Operacion.IdOrdenOrigen,
		Operacion.IdOrdenDestino,
		Operacion.IdTipoOperacion,
		Operacion.IdUbicacionOrigen,
		Operacion.IdUbicacionDestino,
		Origen.Nombre AS UbicacionOrigen,
		Destino.Nombre AS UbicacionDestino,
		Operacion.Cantidad,
		Operacion.UnidadesMedida,
		Operacion.OperadorSistema,
		Operacion.Proveedor, --AS Proveedor,
		Operacion.EAN,  --AS EAN,
		Operacion.LoteProveedor, -- LoteProveedor,
		Operacion.SSCC, -- SSCC,
		Operacion.IdAlbaran -- IdAlbaranPosicion
	FROM 
		[OPE].tOperacion Operacion
		LEFT JOIN [UBI].[tUbicacion] Origen ON Operacion.IdUbicacionOrigen = Origen.IdUbicacion  
		LEFT JOIN [UBI].[tUbicacion] Destino ON Operacion.IdUbicacionDestino = Destino.IdUbicacion 
		INNER JOIN [OPE].[tTipoOperacion] TipoOperacion ON TipoOperacion.IdTipoOperacion = Operacion.IdTipoOperacion
    WHERE 
		Operacion.IdLote =  @SSCC 
	

			ORDER BY Operacion.FechaEntrada DESC

END




GO
