USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetPadresPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [OPE].[spGetPadresPorLote] 'LLE-03-CER-2737-ENV-20190711044619-378410651399936673'



CREATE procedure [OPE].[spGetPadresPorLote]
  
	 @IdLote nvarchar (255)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

	DECLARE @DEFID AS NVARCHAR(256)

	SELECT  @DEFID =DEFID 
	FROM [MAT].[vLote]
	WHERE LotID =  @IdLote

	if(@DEFID ='BAGAZO GENERADO')
	begin

		return

	end 

 
	SELECT DISTINCT
		MAX(OpCTE.IdOperacion) IdOperacion,
		TipoOperacion.Descripcion,
		OpCTE.IdLote, 
		MAX(OpCTE.FechaInicio) FechaInicio, 
		MAX(OpCTE.FechaFin)  FechaFin, 
		IIF(OpCTE.IdOrdenOrigen IS NULL ,OpCTE.IdOrdenDestino,OpCTE.IdOrdenOrigen) AS IdOrdenOrigen, 
		OpCTE.IdOrdenDestino, 
		MAX(OpCTE.FechaEntrada) FechaEntrada, 
		Tipo.id TipoOrden,
		isnull(vLote.InitQuantity,0) CantidadInicial,
		isnull(vLote.Quantity,0) CantidadActual,
		isnull(Materiales.Clase,'') as Clase,
		isnull(Materiales.IdMaterial,'') as IdMaterial,
		isnull(Materiales.Descripcion,'') DescripcionMaterial,
		isnull(Ubicacion.IdUbicacionLinkMes,'') as IdUbicacionLinkMes,
		isnull(MAX(vLote.CreatedOn),'') FechaCreacion
	FROM
	(
	SELECT Consumos.*
	FROM (
		SELECT 
			MIN(FechaInicio) FechaInicio,
			IdOrdenDestino
		FROM [OPE].[tOperacion] (NOLOCK)
		WHERE IdLote = @IdLote AND (IdTipoOperacion = 4)--PRODUCCIONES
		GROUP BY IdOrdenDestino
		) AS Producciones,
		[OPE].[tOperacion] Consumos (NOLOCK)

		WHERE Producciones.FechaInicio < Consumos.FechaInicio
		AND Producciones.IdOrdenDestino = Consumos.IdOrdenDestino
		AND Consumos.IdTipoOperacion = 3 --CONSUMOS

	)AS  OpCTE
	INNER JOIN [OPE].[tTipoOperacion] TipoOperacion ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
	LEFT JOIN [MAT].[vLote] vLote ON vLote.LotID = OpCTE.IdLote
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] Orden ON (Orden.pom_order_id = IdOrdenOrigen AND OpCTE.IdTipoOperacion = 4) OR (Orden.pom_order_id = IdOrdenDestino AND OpCTE.IdTipoOperacion = 3)
	LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE] AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
	LEFT JOIN [MAT].[vMateriales] Materiales ON Materiales.IdMaterial = VlOTE.Defid
	LEFT  JOIN [UBI].[tUbicacion] Ubicacion ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	WHERE 
		OpCTE.IdLote <> @IdLote
	--where 
	--OpCTE.FechaFin is not null
	GROUP BY 
		--OpCTE.IdOperacion,
		TipoOperacion.Descripcion,
		OpCTE.IdLote, 
		OpCTE.IdOrdenOrigen, 
		OpCTE.IdOrdenDestino,  
		Tipo.id,
		vLote.InitQuantity,
		vLote.Quantity,
		Materiales.Clase,
		Materiales.IdMaterial,
		Materiales.Descripcion,
		Ubicacion.IdUbicacionLinkMes
END
GO
