USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spUpdateLotLock]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:                  F.J Page - IDOM
-- Fecha creacion: 29012019
-- Desccripcion:    Procedimiento que bloqueará o desbloqueará un lote perteneciente a los almacenes automáticos
-- Parametros de entrada
       --     @SSCC--> Id lote
	   --	  @Bloqueado --> Bloquear  
--  =============================================

CREATE procedure [OPE].[spUpdateLotLock]  	 
	 @SSCC nvarchar(60),
	 @Bloqueado bit 
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
	
	Declare @linkedServer nvarchar(50)
	Declare @name nvarchar(3)
	Declare @schema nvarchar(50)
	Declare @table nvarchar(100)
	Declare @tableStock nvarchar(100)
	Declare @operation nvarchar(max)
	Declare @count integer
	Declare @date datetime
	Declare @valido as int 

BEGIN TRY

	Declare c cursor for
		select SubString(name,0,4) [schema],name [bbdd],(SELECT [Tabla] FROM [OPE].[tLinkedServerAutomaticWareHouse] Where Tabla like '%'+name+'%'),
		(SELECT [TablaStock] FROM [OPE].[tLinkedServerAutomaticWareHouse] Where Tabla like '%'+name+'%') 
		from sys.servers 
		where is_linked=1 AND name in (SELECT [Descripcion] FROM [OPE].[tLinkedServerAutomaticWareHouse])

	OPEN c
	Fetch next from c into @schema,@name,@table,@tableStock

	while @@FETCH_STATUS = 0
	BEGIN
		
		set @operation = 'SELECT @cont = Count(SSCC) FROM '+@tableStock+' WHERE SSCC = '''+@Sscc+''''	    
		EXEC SP_EXECUTESQL @operation,N'@cont int OUTPUT',@count OUTPUT 

		if @count <> 0
		begin
			set @date = GETDATE()
			set @operation =@schema+'.[spInsertBloqueoMaterial] '''+Convert(nvarchar(max),@date,120)+''','+@SSCC+','+Convert(nvarchar(20),@Bloqueado)+',0'			
			execute (@operation)
		end

		Fetch next from c into @schema,@name,@table,@tableStock
	END

	CLOSE c
	DEALLOCATE c

	set @valido = 0
	select  @valido as    Valido
END TRY
BEGIN CATCH
	CLOSE c
	DEALLOCATE c
	--SELECT ERROR_MESSAGE() msg, ERROR_LINE() line
	set @valido = -1
	select  @valido as    Valido
END CATCH
END
GO
