USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[sp_tOperaciones_DEL]    Script Date: 25/02/2022 13:00:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Borra una linea de la tabla operariones
-- Parametros de entrada
	--  @IdOperacion-> id para borrar
	--	@Fechainicio--> Fecha inicio
	--	@Fechafin --> Fecha fin
--============================================
--exec [OPE].[sp_tOperaciones_DEL] 306,'2018-02-23','2018-02-23'
CREATE procedure [OPE].[sp_tOperaciones_DEL]
(
		@IdOperacion as int, 
		@Fechainicio nvarchar(256),
		@Fechafin  nvarchar(256)
)
AS 
BEGIN

	SET NOCOUNT ON;

	--------------------------
	-- Declaracion de variables 
	--------------------------
	DECLARE @return AS NVARCHAR(256)
	DECLARE @id  AS int
	--------------------------
	-- Init
	--------------------------
	set @return ='-1'
	set @id  =0

	BEGIN TRY

	SELECT @id =COUNT(1) FROM [OPE].[tOperacion] (NOLOCK)
	WHERE   IdOperacion = @IdOperacion

	if (@id =0)
	BEGIN 
		set @return ='-2'

		SELECT @return as Valor
		Return

	END 





	BEGIN TRAN

	
	
	
	
	DELETE	FROM [OPE].[tOperacion]
	WHERE   IdOperacion = @IdOperacion

	COMMIT TRAN

	set @return ='0'

	SELECT @return as Valor


END TRY

-- The previous GO breaks the script into two batches,
-- generating syntax errors. The script runs if this GO
-- is removed.
BEGIN CATCH
    SELECT ERROR_NUMBER() AS ErrorNumber;
	ROLLBACK TRAN
	set @return = '-1'
	SELECT @return as Valor
END CATCH;



	


END 


GO
