USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [OPE].[spGetMMPPPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [OPE].[spGetMMPPPorLote]
  
	 @IdLote nvarchar (255),
	 @IdOrdenDestino nvarchar(60)
AS
BEGIN
--WITH OpCTE (IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino, FechaEntrada,LoteProveedor,IdUbicacionOrigen,IdTipoOperacion)
--	AS
--	(
--		   SELECT IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino,FechaEntrada,LoteProveedor,
--		   IdUbicacionOrigen,IdTipoOperacion
--				 FROM [OPE].[tOperacion] (NOLOCK)
--				 WHERE  
--				 (IdTipoOperacion IN (1,2,3)) 
--						AND (
--							(IdLote = @IdLote AND @IdOrdenDestino IS NULL) 
--							OR
--							(IdOrdenDestino = @IdOrdenDestino AND @IDLOTE IS NULL)
--							)

--						--AND (IdOrdenOrigen IS NOT NULL OR @IdOrdenDestino IS NULL)
--						--AND (IdOrdenOrigen <> '' OR @IdOrdenDestino IS NULL)
--						--AND IdOrdenOrigen <> IdOrdenDestino
						
--		   UNION ALL
--	--RECURSIVIDAD
--		   SELECT Op.IdOperacion,Op.IdLote, Op.FechaInicio, Op.FechaFin, Op.IdOrdenOrigen, Op.IdOrdenDestino,op.FechaEntrada,Op.LoteProveedor,
--		   Op.IdUbicacionOrigen,Op.IdTipoOperacion
--				 FROM [OPE].[tOperacion]  AS Op  (NOLOCK) JOIN OpCTE    AS m
--						ON 
--						Op.IdOrdenDestino = m.IdOrdenOrigen
--						AND m.IdLote <> Op.IdLote
--						 AND (op.FechaEntrada <= m.FechaEntrada OR @IdOrdenDestino IS NULL)
		
--	) 
--	SELECT DISTINCT
--	Materiales.Clase,
--	Materiales.IdMaterial,
--	Materiales.Descripcion,
--	OpCTE.IdLote,
--	COALESCE(LoteProveedorOperacion.LoteProveedor,'') LoteProveedor,
--	MIN(vLote.InitQuantity) CantidadInicial,
--	--IIF(MAX(vLote.Quantity) = 0,MIN(vLote.InitQuantity),MAX(vLote.Quantity)) CantidadActual,
--	'' IdUbicacionLinkMes
--	,IIF(LoteProveedorOperacion.LoteProveedor IS NULL OR OpCTE.IdLote <> @IdLote,Operacion.Cantidad,MIN(vLote.InitQuantity)) as CantidadTransferida
--	,Operacion.IdOrdenDestino
--	,MAX(OpCTE.FechaEntrada) FechaEntrada
--	FROM OpCTE
--	LEFT JOIN [MAT].[vLote] vLote ON vLote.LotID = OpCTE.IdLote
--	LEFT JOIN [MAT].[vMateriales] Materiales ON Materiales.IdMaterial = vLote.Defid
--	LEFT  JOIN [UBI].[tUbicacion] Ubicacion ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
--	INNER JOIN [OPE].[tOperacion] Operacion ON Operacion.IdLote = OpCTE.IdLote AND Operacion.IdTipoOperacion = 3
--	LEFT JOIN [OPE].[tOperacion] LoteProveedorOperacion ON LoteProveedorOperacion.IdLote = OpCTE.IdLote AND LoteProveedorOperacion.IdTipoOperacion = 1
--	--LEFT JOIN [MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicionLote] AlbaranPosicion ON AlbaranPosicion.IdLote = OpCTE.IdLote
--	WHERE
--		Materiales.Clase NOT LIKE 'DummyMaterial%'
--		--AND (Operacion.IdOrdenDestino = OpCTE.IdOrdenDestino AND OpCTE.IdTipoOperacion = 3)
--		AND Operacion.IdOrdenDestino = OpCTE.IdOrdenDestino
--		--AND vLote.Quantity <> 0
--	GROUP BY 
--	Materiales.Clase,
--	Materiales.IdMaterial,
--	Materiales.Descripcion,
--	OpCTE.IdLote
--	,Operacion.Cantidad
--	,Operacion.IdOrdenDestino
--	,LoteProveedorOperacion.LoteProveedor
--	,LoteProveedorOperacion.IdOrdenDestino
--	--OpCTE.LoteProveedor
--	ORDER BY MAX(OpCTE.FechaEntrada) 
--	OPTION (MAXRECURSION 32767)


    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    
	 DECLARE @fechaCreacion as datetime 
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;


	SELECT @fechaCreacion = Createdon
	FROM  [MAT].[vLote] (NOLOCK)
	WHERE LOTID  =@Idlote;


	SELECT Consumos.IdOperacion,Consumos.IdLote, Consumos.FechaInicio, Consumos.FechaFin, Consumos.IdOrdenOrigen, Consumos.IdOrdenDestino, Consumos.FechaEntrada,Consumos.LoteProveedor,Consumos.IdUbicacionOrigen
	into #temp_data
	FROM (
		SELECT 
			MIN(FechaInicio) FechaInicio,
			IdOrdenDestino
		FROM [OPE].[tOperacion] (NOLOCK)
		WHERE IdLote = @IdLote AND (IdTipoOperacion = 4)--PRODUCCIONES
		GROUP BY IdOrdenDestino
		) AS Producciones,
		[OPE].[tOperacion] Consumos (NOLOCK)

		WHERE Producciones.FechaInicio < Consumos.FechaInicio
		AND Producciones.IdOrdenDestino = Consumos.IdOrdenDestino
		AND Consumos.IdTipoOperacion = 3 --CONSUMOS
		and not exists 
				(


					SELECT  1 
					FROM [MAT].[vLote] 
					WHERE LotID =  consumos.IdLote
					and DEFID ='BAGAZO GENERADO'

				)
	union all 
	
	SELECT IdOperacion,IdLote, FechaInicio, FechaFin, IdOrdenOrigen, IdOrdenDestino,FechaEntrada,LoteProveedor,
	IdUbicacionOrigen
			FROM [OPE].[tOperacion] PR (NOLOCK)
			WHERE  (fechaInicio >=@fechaCreacion OR @fechaCreacion IS NULL )
				 and EXISTS 
					(
						SELECT 1 
						FROM [OPE].[tTipoOperacion] OP
						WHERE OP.[IdTipoOperacion] = PR.IdTipoOperacion
						AND OP.IdTipoOperacion IN (1,2,3)




					)
						AND (
							(IdLote = @IDLOTE AND @IdOrdenDestino IS NULL) 
							OR
							(IdOrdenDestino = @IdOrdenDestino AND @IDLOTE IS NULL)
							)


	SELECT DISTINCT
	Materiales.Clase,
	Materiales.IdMaterial,
	Materiales.Descripcion,
	OpCTE.IdLote,
	COALESCE(LoteProveedorOperacion.LoteProveedor,'') LoteProveedor,
	MIN(vLote.InitQuantity) CantidadInicial,
	IIF(LoteProveedorOperacion.LoteProveedor IS NULL OR OpCTE.IdLote <> @IdLote,Operacion.Cantidad,MAX(vLote.InitQuantity)) as CantidadTransferida,
	--MAX(vLote.Quantity) CantidadTransferida,
	'' IdUbicacionLinkMes,
	OpCTE.IdOrdenDestino
	FROM #temp_data OpCTE
	inner JOIN [MAT].[vLote] vLote (NOLOCK) ON vLote.LotID = OpCTE.IdLote
	LEFT JOIN [MAT].[vMateriales] Materiales (NOLOCK) ON Materiales.IdMaterial = vLote.Defid
	LEFT  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
	INNER JOIN [OPE].[tOperacion] Operacion ON Operacion.IdLote = OpCTE.IdLote AND Operacion.IdTipoOperacion = 3
	LEFT JOIN [OPE].[tOperacion] LoteProveedorOperacion ON LoteProveedorOperacion.IdLote = OpCTE.IdLote AND LoteProveedorOperacion.IdTipoOperacion = 1
	WHERE
		Materiales.Clase NOT LIKE 'DummyMaterial%'
		AND
		Materiales.Clase NOT LIKE 'Default%'
		AND Operacion.IdOrdenDestino = OpCTE.IdOrdenDestino
	GROUP BY 
	Materiales.Clase,
	Materiales.IdMaterial,
	Materiales.Descripcion,
	OpCTE.IdLote,
	OpCTE.IdOrdenDestino,
	Operacion.Cantidad,
	LoteProveedorOperacion.LoteProveedor
	--OpCTE.LoteProveedor
	ORDER BY Materiales.Descripcion DESC


	drop table #temp_data
END
GO
