USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [PRD].[sp_tConsumo_By_Lot]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 29062018
-- Desccripcion:	Obtiene el listado de lotes de una etiqueta
--						
-- Parametros de entrada
	--  @IdLote-> Listado de id de produccion 
--============================================
--exec [PRD].[sp_tConsumo_By_Lot]  'LLE-02-LAT-0206806-REC-20190212175011-950345294560000671'
CREATE PROCEDURE  [PRD].[sp_tConsumo_By_Lot]
(

		@IdLote AS NVARCHAR(256)


		
)
AS
BEGIN
		
SET NOCOUNT ON;
	
--------------------------------------
-- Declaracion de variables
--------------------------------------
DECLARE @Idinserted bigint 
DECLARE @return AS int
DECLARE @Count AS int
DECLARE @IdProducto AS NVARCHAR(250)
DECLARE @ParticionWO AS nvarchar(101)
DECLARE @IdProduccion AS BIGINT
declare @buffer bit
	declare @tag nvarchar(max)
	declare @cantidadLote decimal
	declare @counterLimited integer
	declare @counterValue integer
	declare @equipmentName nvarchar(max)
	declare @date datetime
	declare @endDate datetime
	declare @RowUpdated  datetime

--------------------------------------
-- Init
--------------------------------------
set @return = 0
set @Count = 0
----------------------------------
-- Tablas temporales
------------------------------------
	create table #temp_operacion
	(
			IdOperacion int,
			idlOTE nvarchar(256),
			FechaInicio datetime,
			FechaFin  datetime ,
			Cantidad numeric(18,3),
			idUbicacion int,
			DesUbicacion nvarchar(256),
			refMaterial nvarchar(256),
			IdOrdenDestino nvarchar(256),
			LoteProveedor nvarchar(256)
	)
	--------------------------------------------------
	-- 1.- Buscamos el producto para la paleta seleccionada
	--------------------------------------------------
	SELECT @IdProduccion =IdProduccion, @IdProducto =referencia, @ParticionWO = ParticionWO
	FROM   tra.tProduccion  PRD
	WHERE  PRD.idLotMes = @IdLote
    ----------------------------------------------
	-- 2.-Obtenemos los lotes que se esten consumiendo para esa orden de envasado.
	-----------------------------------------------
	insert into #temp_operacion
	(
			IdOperacion,
			idlOTE,
			FechaInicio,
			FechaFin,			
			idUbicacion, 						
			IdOrdenDestino
			
			
	)
	SELECT	IdOperacion,
			ope.idlOTE,
			FechaInicio,
           FechaFin,
			ope.IdUbicacionDestino,
			ope.IdOrdenDestino
	FROM	OPE.toperacion  ope (NOLOCK)			
	WHERE	IdTipoOperacion  = 3
	and		ope.IdOrdenDestino =@ParticionWO

	SELECT @buffer=Buffer,@tag=Tag,@cantidadLote=Cantidad_Lote_Buffer,@equipmentName=Nombre,@date=ope.FechaInicio  
	FROM [UBI].[tUbicacion] ubi (NOLOCK), 
	#temp_operacion ope 
	WHERE ubi.IdUbicacion=ope.idUbicacion

	if @buffer = 1 
	begin
		-----------------------------
		-- Se obtiene el límite del contador	
		-----------------------------
		SELECT distinct @counterLimited=[counter].[MaxValue]
		FROM [PPA].[dbo].[Equipment] eq
		left join [PPA].[dbo].[Equipment_Extension_Link] eqLink on eq.EquipmentId=eqLink.EqID
		left join [dbo].[COUNTER_LINK] [counter] on [counter].EquipmentId = eqLink.PPAObjectId
		WHERE eq.EquipmentName = @equipmentName
		--Se obtiene el valor del contador en el momento que empieza el consumo
	    SELECT @counterValue = value ,@RowUpdated =  rowUpdated
		FROM (SELECT  top 1 value,rowUpdated
			  FROM [PPA].[dbo].[View_Read_INTArchive] [int] (NOLOCK)
			  LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[int].TagID		
			  where Tag.TagName=@tag AND rowUpdated >= @date 
			  order by rowUpdated asc
			  UNION ALL
			  SELECT top 1 value,rowUpdated
			  FROM [PPA].[dbo].[View_Read_FLOATArchive] [float](NOLOCK)
			  LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[float].TagID
			  where Tag.TagName=@tag AND rowUpdated >= @date
			   order by rowUpdated asc
				) aux
		
	     set @counterValue = @counterValue + @cantidadLote
		 --Se le resta uno al límite, porque para configurar el oee hay que añadir más uno
		 --Los contadores cuyo límite sea cero, serán inifnitos y no hará falta comprobar el límite
		 if @counterLimited <> 0 AND (@counterValue > (@counterLimited -1))
		 begin
			set @counterValue = @counterValue - (@counterLimited -1)
		 end

		 
		 --Se obtiene la fecha del nuevo valor
		 SELECT @endDate = rowUpdated 
		 FROM (SELECT top 1 rowUpdated
			   FROM [PPA].[dbo].[View_Read_INTArchive] [int] (NOLOCK)
			   LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[int].TagID		 
			   where rowUpdated >= @date and Tag.TagName=@tag AND [Value] = @counterValue  
			   order by rowUpdated desc
			   UNION ALL
			   SELECT top 1 rowUpdated
			   FROM [PPA].[dbo].[View_Read_FLOATArchive] [float] (NOLOCK)
			   LEFT JOIN [PPA].[dbo].[TAG] Tag  (NOLOCK) on Tag.TagID=[float].TagID 
			   where rowUpdated >= @date and Tag.TagName=@tag AND [Value] = @counterValue
			   order by rowUpdated desc ) aux

			   
			   
			   
			   
		
		--Para evitar inconsistencias, sino se encuentra fecha de fin, no se debe actualizar
		if @endDate <> null
		begin
			UPDATE #temp_operacion
			SET FechaFin = @endDate
			WHERE FechaInicio = @date
		end

	end
		
	---------------------------------------------------------------------
	--3.- Realizamos el calculo en base las ubicacioines de consumo.
	--------------------------------------------------------------------------
	--[FECHA_CREACION_PALET] – [OFFSET_ESTIMADO]. Para calcular el OFFSET estimado se deberá multiplicar [OFFSET_TEORICO_UBICA] * ([VEL_NOM_LINEA_REF] / [VEL_NOM_OFFSET_TEORICO]) * rendimientowo

	  SELECT distinct			
			--CASE WHEN  ISNULL(ff.VelocidadNominalReferencia,0) = 0 THEN

			--		--dateadd(mi,ISNULL(-(ff.offset * (convert(float,VelocidadNominalProducto))) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt) 
			--		dateadd(mi,ISNULL(-(ff.offset  * ff.RendimientoWO),0),prd.EtiquetaCreatedAt) 
			--ELSE
			 
			--		dateadd(mi,ISNULL(-(ff.offset * (ff.VelocidadNominalReferencia/convert(float,VelocidadNominalProducto))) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt) 
			--END as FechaRes,
			case when ff.RendimientoWO >0 then 
			dateadd(mi,ISNULL(-(ff.offset  * ff.RendimientoWO),0),prd.EtiquetaCreatedAt)
			
			else
			 dateadd(mi,ISNULL(-(ff.offset),0),prd.EtiquetaCreatedAt)
			end 
			  as FechaRes,
			ope2.IdLote			
	  INTO	#resultado_prev		 
      FROM	tra.tProduccion  PRD (NOLOCK)
	  	left join  tra.tProduccionOffsets ff (NOLOCK)
			ON ff.idProduccion = PRD.idProduccion
			inner  join #temp_operacion ope2 ON ope2.IdOrdenDestino = PRD.ParticionWO
			--and ope2.idUbicacion=ff.idUbicacion
			 left JOIN  MES_MSM.[dbo].lINEAS LL (NOLOCK) 
				ON LL.NumeroLinea =prd.Linea
				 left JOIN  ubi.tUbicacion ub (NOLOCK)
				 ON	ub.idUbicacion =ff.idUbicacion
				 and ub.[IdLinea] = ll.Nombre
		WHERE PRD.IdProduccion =@IdProduccion 
          
		--------------------------------------------------
		-- 4.-Solo intertamos los lotes dentro de la fecha 
		--------------------------------------------------
		SELECT 	DISTINCT MAX(IdOperacion) AS IdOperacion,a.idlote
		INTO	#TEMP_LOTE_FIN 
		FROM	#temp_operacion a , #resultado_prev rs 
		Where	--rs.FechaRes between FechaInicio and  FechaFin		
			a.idlote = rs.idlote
		GROUP BY  a.idlote
		--------------------------------------------------
		-- 5.-Devolvemos los datos
		--------------------------------------------------
			SELECT DISTINCT
		OpCTE.IdOperacion,
		TipoOperacion.Descripcion,
		OpCTE.IdLote, 
		OpCTE.FechaInicio, 
		OpCTE.FechaFin, 
		IIF(OpCTE.IdOrdenOrigen IS NULL ,OpCTE.IdOrdenDestino,OpCTE.IdOrdenOrigen) AS IdOrdenOrigen, 
		OpCTE.IdOrdenDestino, 
		OpCTE.FechaEntrada , 
		Tipo.id TipoOrden,
		isnull(vLote.InitQuantity,0)  CantidadInicial,
		isnull(vLote.Quantity,0) CantidadActual,
		isnull(Materiales.Clase,'') Clase,
		isnull(Materiales.IdMaterial,'') IdMaterial,
		isnull(Materiales.Descripcion,'') DescripcionMaterial,
		isnull(Ubicacion.IdUbicacionLinkMes,'') as IdUbicacionLinkMes,
		isnull(vLote.CreatedOn,OpCTE.Creado) as  FechaCreacion
		FROM   [OPE].[tOperacion] OpCTE  (NOLOCK)	
		INNER JOIN [OPE].[tTipoOperacion] TipoOperacion   (NOLOCK)	 ON TipoOperacion.IdTipoOperacion = OpCTE.IdTipoOperacion
		LEFT JOIN [MAT].[vLote] vLote   (NOLOCK)	 ON vLote.LotID = OpCTE.IdLote
		LEFT JOIN [SITMesDB].[dbo].[POM_ORDER] Orden  (NOLOCK)	 ON (Orden.pom_order_id = IdOrdenOrigen AND OpCTE.IdTipoOperacion = 4) OR (Orden.pom_order_id = IdOrdenDestino AND OpCTE.IdTipoOperacion = 3)
		LEFT JOIN [SITMesDB].[dbo].[POM_ORDER_TYPE]   (NOLOCK)	 AS Tipo ON Orden.pom_order_type_pk = Tipo.pom_order_type_pk
		LEFT JOIN [MAT].[vMateriales] Materiales   (NOLOCK)	 ON Materiales.IdMaterial = VlOTE.Defid
		LEFT  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK)	 ON  Ubicacion.IdUbicacion = OpCTE.IdUbicacionOrigen
		WHERE EXISTS
			(
			SELECT 1 
			FROM #TEMP_LOTE_FIN SR
			WHERE SR.IdOperacion = OpCTE.IdOperacion
			) 
		ORDER BY OpCTE.FechaEntrada
		--------------------------------------------------
		-- Drop temp table
		--------------------------------------------------
		DROP TABLE #temp_operacion
		DROP TABLE #resultado_prev		
		DROP TABLE #TEMP_LOTE_FIN

END
GO
