USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [PRD].[spFechaFinCalculadaPorOffsetDesdePrellenado]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de etiquetas para el lote MES
--						
-- Parametros de entrada
	--  @IdLote-> Listado de id de produccion 
--============================================
--exec [PRD].[sp_tProduccion_By_Lot]  'LLE-02-LAT-0206806-REC-20190212175011-950345294560000671'
CREATE  procedure [PRD].[spFechaFinCalculadaPorOffsetDesdePrellenado]
(
		@IdLote AS NVARCHAR(256)		
)
AS 
BEGIN

		SET NOCOUNT ON;
-----------------------------
-- Create temp table
------------------------------
	create table #lotes
	(
		IDLOTE  NVARCHAR(100),
		LoteProveedor  NVARCHAR(100)
	)
-----------------------------
-- Inicio proceso
-----------------------------
		insert into #lotes
		(
			IDLOTE,
			LoteProveedor
		)
		select  LotID, serial_number
		From	[MAT].[vLote] (NOLOCK)
		Where	LotID = @IdLote		
		AND		ROWDELETED = 0

	-----------------------------
	-- Buscamos los consumos en la tabla
	-- operaciones 
	-----------------------------
	Select	FechaInicio, 
			FechaFin, 
			IdOrdenDestino,
			op2.IdLote,
			ll.LoteProveedor,
			op2.IdUbicacionDestino
	INTO    #TEMP_OPE
	From	[OPE].[tOperacion] op2 (NOLOCK)	,
			#lotes ll
	Where	idTipoOperacion = 3
	And		ll.IDLOTE =op2.IdLote 	
	
	-----------------------------
	-- Se busca si el equipo tiene un buffer de lotes	
	-----------------------------
	declare @buffer bit
	declare @tag nvarchar(max)
	declare @cantidadLote decimal
	declare @counterLimited integer
	declare @counterValue integer
	declare @equipmentName nvarchar(max)
	declare @date datetime
	declare @endDate datetime
	declare @RowUpdated  datetime

	SELECT @buffer=Buffer,@tag=Tag,@cantidadLote=Cantidad_Lote_Buffer,@equipmentName=Nombre,@date=ope.FechaInicio  
	FROM [UBI].[tUbicacion] ubi (NOLOCK), 
	#TEMP_OPE ope 
	WHERE ubi.IdUbicacion=ope.IdUbicacionDestino


	SET @cantidadLote = 1


	---------------------------------------------------------------------
	--En base a las fechas de consumo indicamos en que ubicacion se encuentran.
	--------------------------------------------------------------------------
	--[FECHA_CREACION_PALET] – [OFFSET_ESTIMADO]. Para calcular el OFFSET estimado se deberá multiplicar [OFFSET_TEORICO_UBICA] * ([VEL_NOM_LINEA_REF] / [VEL_NOM_OFFSET_TEORICO])

	SELECT	distinct
			prd.IdProduccion,
				ope2.FechaInicio,
				CASE 
				WHEN  ff.RendimientoWO =0  THEN 

					dateadd(mi,ff.offset,ope2.FechaInicio)
				ELSE

						dateadd(mi,	round(isnull((ff.offset * ff.RendimientoWO),0),0),
				ope2.FechaInicio)  				
				END as FechaRes,
				ope2.FechaFin,	
				 CASE WHEN ff.RendimientoWO =0  THEN 

					dateadd(mi,ff.offset,ope2.FechaFin)
				
				ELSE	
				
				dateadd(mi,	round(isnull((ff.offset * ff.RendimientoWO),0),0)									
				,
				ope2.FechaFin) END  as FechaResFin,
				ope2.IdOrdenDestino,
				
				
				round(isnull((ff.offset * (ff.VelocidadNominalReferencia/VelocidadNominalProducto))
				* 
				ff.RendimientoWO,0),0) as cal,
				SSCC,
				VelocidadNominalProducto,
				ff.VelocidadNominalReferencia,
				ff.RendimientoWO,
				ff.offset			 
      FROM	tra.tProduccion  PRD (NOLOCK)
	  		LEFT JOIN  tra.tProduccionOffsets ff (NOLOCK)
				ON ff.idProduccion = PRD.idProduccion
				INNER JOIN  #TEMP_OPE ope2 ON ope2.IdOrdenDestino = PRD.ParticionWO	
				and ope2.IdUbicacionDestino =  ff.idUbicacion
				 INNER JOIN  MES_MSM.[dbo].lINEAS LL (NOLOCK) 
					ON LL.NumeroLinea =prd.Linea
					 LEFT JOIN   ubi.tUbicacion ub (NOLOCK)
					 ON	ub.idUbicacion =ff.idUbicacion
					 and ope2.IdUbicacionDestino =  ub.idUbicacion
					 and ub.[IdLinea] = ll.Nombre
	




	------------------------------
	-- Drop table lotes
	------------------------------
	DROP TABLE #lotes
	DROP TABLE #TEMP_OPE
END
GO
