USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [SCH].[spCreateForeignKeyConstraints]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [SCH].[spCreateForeignKeyConstraints]
AS
BEGIN

    DECLARE X CURSOR
    FOR
    SELECT DISTINCT
        ForeignSchemaName + '.[' + ForeignTableName + ']'
      , ForeignColumnName
      , 'FK_' + SUBSTRING(UniqueName, 1, LEN(UniqueName) - 2)
      , PrimarySchemaName + '.[' + PrimaryTableName + '] ('
        + PrimaryColumnName + ')'
    FROM
        SCH.vMetaForeignKey;

    DECLARE @TableName NVARCHAR(128);
    DECLARE @ColumnName NVARCHAR(128);
    DECLARE @ConstraintName NVARCHAR(128);
    DECLARE @PK NVARCHAR(128);

    OPEN X;
    FETCH NEXT FROM X INTO @TableName, @ColumnName, @ConstraintName, @PK;

    WHILE @@FETCH_STATUS = 0
        BEGIN

            DECLARE @SqlStatement NVARCHAR(MAX) = 'ALTER TABLE ' + @TableName
                + ' ADD CONSTRAINT ' + @ConstraintName + ' FOREIGN KEY ('
                + @ColumnName + ') REFERENCES ' + @PK;
                
            PRINT @SqlStatement;
            EXEC sp_executesql @SqlStatement;

            FETCH NEXT FROM X INTO @TableName, @ColumnName, @ConstraintName,
                @PK;
        END;

    CLOSE X;
    DEALLOCATE X;

END;





GO
