USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [SCH].[spDropForeignKeyConstraints]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [SCH].[spDropForeignKeyConstraints]
AS
BEGIN

    DECLARE X CURSOR
    FOR
    SELECT
        ForeignSchemaName + '.[' + ForeignTableName + ']'
      , ConstraintName
    FROM
        SCH.vMetaForeignKeyConstraint;

    DECLARE @TableName NVARCHAR(128);
    DECLARE @ConstraintName NVARCHAR(MAX);

    OPEN X;
    FETCH NEXT FROM X INTO @TableName, @ConstraintName;

    WHILE @@FETCH_STATUS = 0
        BEGIN

            DECLARE @SqlStatement NVARCHAR(MAX) = 'ALTER TABLE ' + @TableName
                + ' DROP CONSTRAINT ' + @ConstraintName;
            EXEC sp_executesql @SqlStatement;

            FETCH NEXT FROM X INTO @TableName, @ConstraintName;
        END;

    CLOSE X;
    DEALLOCATE X;

END;





GO
