USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tProduccion_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de producciones.
--						
-- Parametros de entrada
	--  @id-> Listado de id de produccion 
--============================================
--exec [TRA].[sp_tProduccion_SEL] 'OM-BUR-18-00016.1'  --OM-BUR-18-00010.1

--exec [TRA].[sp_tProduccion_SEL] 'OM-BUR-18-00024.1'
CREATE procedure [TRA].[sp_tProduccion_SEL]
(

		@id as nvarchar(256)
		
)
AS
BEGIN

	SET NOCOUNT ON;


	
---------------------------------------
-- Declaracion de variables
--------------------------------------
DECLARE @Idinserted bigint 
DECLARE @return AS int
DECLARE @Count AS int
--------------------------------------
-- Init
--------------------------------------
set @return = 0
set @Count = 0

----------------------------------
-- Tablas temporales
------------------------------------
	create table #temp_operacion
	(
			IdOperacion int,
			idlOTE nvarchar(256),
			FechaInicio datetime,
			FechaFin  datetime ,
			Cantidad numeric(18,3),
			idUbicacion int,
			DesUbicacion nvarchar(256),
			refMaterial nvarchar(256),
			idOrdenOrigen nvarchar(256),
			LoteProveer nvarchar(256)
	)


	CREATE TABLE [#temp_traza](
		[Referencia] [nvarchar](256) NULL,
		[DesReferencia] [nvarchar](256) NULL,
		[InicioConsumo] [datetime] NULL,
		[FinConsumo] [datetime] NULL,
		[LoteMES] [nvarchar](256) NULL,
		[LoteProveedor] [nvarchar](256) NULL,
		[idUbicacion] [int] NULL,
		[descUbicacion] [nvarchar](256) NULL,
		[Cantidad] [numeric](18, 6) NULL,
		[IdOperacion] [int] NULL,
		[DefID] [nvarchar](256) NULL,
		[id] [nvarchar](101) NULL,
		[UomID] [nvarchar](50) NULL,
		Calculo int default(0)
	) 

	

    ----------------------------------------------
	-- Obtenemos los lotes que se esten consumiendo
	-----------------------------------------------
	insert into #temp_operacion
	(
			IdOperacion,
			idlOTE,
			FechaInicio,
			FechaFin,
			Cantidad,
			idUbicacion, 
			DesUbicacion,
			refMaterial,
			idOrdenOrigen,
			LoteProveer			
			
	)
	SELECT	IdOperacion,
			ope.idlOTE,
			OPE_CONSUMO.FechaMinInicio,
			NULLIF(COALESCE(OPE_CONSUMO.[FechaFin],OPE_CONSUMO.[FechaInicio]),'')	 FechaFin,
			--lot_data.Quantity,
			ope.Cantidad,
			sl.idUbicacion,
			sl.Nombre,
			isnull(lot_data.defID, ope.ReferenciaMaterial),
			IdOrdenDestino as idOrdenOrigen,
			isnull(ope.LoteProveedor,'')		
FROM   OPE.toperacion  ope (NOLOCK)
		INNER JOIN 
		(
		SELECT 
						Operacion.FechaInicio,
						Operacion.FechaFin,
						Operacion.IdLote,
						FechaMaxConsum.FechaMinInicio
				  FROM 
						[OPE].[tOperacion] Operacion INNER JOIN 
						(SELECT MIN(FechaInicio) FechaMinInicio,MAX(FechaInicio) FechaMaxInicio, IdLote FROM [OPE].[tOperacion] WHERE [IdTipoOperacion] = 3 GROUP BY IdLote) AS FechaMaxConsum 
						ON FechaMaxConsum.IdLote =  Operacion.IdLote AND FechaMaxConsum.FechaMaxInicio = Operacion.FechaInicio
				  WHERE 
						Operacion.[IdTipoOperacion] = 3 AND  rtrim(ltrim(IdOrdenDestino))  like @id + '%'	
		) AS OPE_CONSUMO ON ope.[IdLote] = OPE_CONSUMO.[IdLote] 
			left JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] sl (NOLOCK)
				on sl.idubicacion  =ope.IdUbicacionDestino
					left join  [MAT].[vLote] lot_data (NOLOCK)
					on  lot_data.LotId = OPE.IdLote
					left join [TRA].[tAlbaranPosicionLote]  ss (NOLOCK) 
					on ss.IdLote = lot_data.LotId
					left join [TRA].[tAlbaranPosicion]  pos (NOLOCK) 
					on pos.IdAlbaranPosicion = ss.IdAlbaranPosicion
					left join [TRA].[tAlbaran]  alb (NOLOCK) 
					on alb.IdAlbaran = pos.IdAlbaran
					and alb.IdTipoAlbaran =1
	WHERE	IdTipoOperacion  = 3
	and rtrim(ltrim(IdOrdenDestino))  like @id + '%'		
--	AND		[IdTipoUbicacion] = 4


	
	---------------------------
	-- Reset tabla destino
	---------------------------
	--TRUNCATE TABLE temp_traza
	---------------------------
	-- insertamos en la tabla temporal
	---------------------------
	


	
	
	INSERT INTO #temp_traza
	(
		DefID,		
		Referencia,
		DesReferencia,
		LoteProveedor,
		InicioConsumo,
		FinConsumo,
		LoteMES,		
		Cantidad,
		idUbicacion,
		descUbicacion,
		IdOperacion,
		id,
		UomID

	)
	SELECT 
	  
	   DISTINCT 	
	   MMMateriales.IDMaterial,
	   MMMateriales.NomMaterial AS NomMaterial,
       MMMateriales.DescMaterial AS DescMaterial,
	   ope.LoteProveer,
	   CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                     ope.FechaInicio), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) 
	  ,
	  CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                     ope.FechaFin), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) ,	   
	   ope.idlOTE,
	   ope.Cantidad ,
	   ope.idUbicacion,
	   ope.DesUbicacion,
	   ope.IdOperacion,
	   ope.idOrdenOrigen,
	   MMMateriales.UomID
      
	FROM
		(
				SELECT
				D.DefID AS IDMaterial,
				D.DefPK,
				D.DefName AS NomMaterial,
				D.Descript AS DescMaterial,
				UM1.UomID
			FROM 
				[SITMesDB].[dbo].MMDefVers AS DV
				INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
				INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
				INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
				INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
				INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE	
				--(T.TypeID = '02') 
				 DS.IsApproved = 1 AND DS.IsObsolete = 0
				 ) AS MMMateriales  
			inner JOIN  #temp_operacion ope on ope.refMaterial  =  MMMateriales.IDMaterial
					--AND ds.LotID  = ope.
		--------------------------------------------------
		-- Insertamos los datos de la ubicacion y del consumo
		--------------------------------------------------
		SELECT  * 
		FROM	#temp_traza
		--Where	id =@id
		--------------------------------------------------
		-- Drop temp tables
		--------------------------------------------------
		drop table #temp_operacion
		drop table #temp_traza






END
GO
