USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_MaterialesBOM_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de productos del bom por id producto.
--						
-- Parametros de entrada
	--  @idproducto-> Id producto a filtrar 
--============================================
--exec  [TRA].[sp_MaterialesBOM_SEL] '858'
CREATE procedure [TRA].[sp_MaterialesBOM_SEL]
(

		@idproducto as nvarchar(256) 
		
)
AS
BEGIN

	SET NOCOUNT ON;
	-------------------------------------
	-- Declaracion de variables
	--------------------------------------
	declare @DefID as nvarchar(256) 
	--------------------------------------
	-- Inicio proceso
	--------------------------------------
	-- Obtenemos la cerveza a envasar para ese producto
	--------------------------------------
	SELECT   @DefID = substring([CZAEnv],0,charindex('-',[CZAEnv]) ) 
	FROM	[MES_MSM].[dbo].[REL_PackingWo_HighBeer]
	WHERE	[PackingArticleID] =  @idproducto
	---------------------------------------
	-- Obtenemos los datos
	---------------------------------------
		SELECT 	IDMaterial,
				idproducto,
				MMMateriales.DescMaterial,
				MMMateriales.UomID
				
		FROM 
		(	SELECT
			D.DefID AS IDProducto
			,D.DefPK
			,D.Descript AS DescProducto
			,Dv.DefVerPK
			,UM1.UomID
			
		FROM 
			[SITMesDB].[dbo].MMDefVers AS DV
			INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
			INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
			INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
			INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
			INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE 
			(T.TypeID = '03') AND DS.IsApproved = 1 AND DS.IsObsolete = 0 AND (UM1.UomID = 'MD' OR UM1.UomID = 'PL')
			) AS MMProductos --Sólo Producto Terminado, Aprobados y No Obsoletos
	--	INNER  JOIN  [SITMesDB].[dbo].MMlots ds on ds.DefVerPK =MMProductos.DefVerPK
		--inner join #temp_operacion ope on ope.refMaterial = MMProductos.IDProducto
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBoms AS MMBoms ON MMProductos.DefPK = MMBoms.DefPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomAlts AS MMBAlts ON MMBoms.BomPK = MMBAlts.BomPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomItemAlts AS MMBIAlts ON MMBAlts.BomAltPK = MMBIAlts.BomAltPK
		LEFT OUTER JOIN
			(
			SELECT
				D.DefID AS IDMaterial,
				D.DefPK,
				D.DefName AS NomMaterial,
				D.Descript AS DescMaterial,
				UM1.UomID
			FROM 
				[SITMesDB].[dbo].MMDefVers AS DV
				INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
				INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
				INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
				INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
				INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE	
				(T.TypeID = '02') AND DS.IsApproved = 1 AND DS.IsObsolete = 0) 
				AS MMMateriales --Sólo Envases y Embalajes, Aprobados y No Obsoletos
			ON MMBIAlts.DefPK = MMMateriales.DefPK	
			where idproducto =@idproducto 
			union  all
			----------------------------
			-- Se le añade la cerveza a envasar
			----------------------------
			select @DefID,@idproducto,D.Descript AS DescProducto,UM1.UomID
			from [SITMesDB].[dbo].MMDefVers AS DV
			INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
			INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
			INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
			INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
			INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			where defid = @DefID
			
END
GO
