USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_sendTriggerMaterial]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 16022018
-- Desccripcion:	PProcedimiento que realiza  insercion en la tablas [tAlbaranPosicionCalidad] a traves del procedimiento de calidad
--					
-- Parametros de entrada
	--	@idalbaran--> Id albaran a insetar,
	---@idPDV pubto de verificacion,	 
	--@clase clase 
	--@referencia referencia,
	--@newDescript descripcion
--  =============================================

--exec [TRA].[sendTriggerMaterial]  1041,88,'0100012'
CREATE procedure [TRA].[sp_sendTriggerMaterial] 
	@Idalbaran int,
	@idPDV int,
	@referencia varchar(200)

AS
BEGIN
		
	SET NOCOUNT ON;
	
	set @idPDV = 88
	--set  @referencia ='0100012'
	
	-----------------------------------------
	-- Declaracion de variables 
	-----------------------------------------
	DECLARE @valor as nvarchar(10)
	DECLARE @return as nvarchar(10) 
	DECLARE @referencia_temp varchar(200)
	DECLARE @CLASSID AS NVARCHAR(64)
	DECLARE @matricula as nvarchar(10)
	DECLARE @newDescript as nvarchar(40)
	------------------------------
	-- Init
	------------------------------
	set @valor = 0
	------------------------------
	-- obtenemos la clase en base a la referencia
	------------------------------
	SELECT  @CLASSID=mc.ClassID 
	FROM    [SITMesDB].[dbo].[MMvDefinitions] def_data  (NOLOCK),
			[SITMesDB].[dbo].[MMClasses] mc  (NOLOCK)
	WHERE	defid = @referencia
	AND		def_data.ClassPK = mc.ClassPK

	SELECT	@matricula=mt.MatriculaTractora
	FROM	[TRA].[tAlbaran] alb (NOLOCK), 
			[TRA].[tTransporte] tra (NOLOCK),
			[TRA].[tMatriculaTractora] mt (NOLOCK)
	WHERE	 alb.idalbaran = @idalbaran
	AND		alb.[IdTransporte] = tra.[IdTransporte]
	AND 	tra.[IdMatriculaTractoraRemolque] = mt.IdMatriculaTractora


	SET @newDescript  = 'MATRICULA:' + @matricula + 'ALBARAN:' + CONVERT(VARCHAR,@Idalbaran)

	set @CLASSID='BOV'	
	
set @referencia_temp= '0203014'
	----------------------------------
	-- Truncate tabla temporal
	---------------------------------	
	truncate table  dbo.temp_formid	
	------------------------------------------
	 -- Insertamos los datos del formulario.
	 -----------------------------------------
	insert into dbo.temp_formid
	exec [MES_MSM_ALT].[dbo].[sendTriggerMaterial] @idPDV,@CLASSID,@referencia_temp,@newDescript
	
	-----------------------------------------
	 -- Insertamos los datos
	 -----------------------------------------		
	INSERT INTO [TRA].[tAlbaranPosicionCalidad]
           ([IdAlbaranPosicion]
           ,[ID]
           ,[name]
           ,[statusID])
	SELECT pos.[IdAlbaranPosicion],
			a.id,
			a.name,
			ms.statusID
	FROM	 [MES_MSM_ALT].[dbo].[Forms] a, 
			dbo.temp_formid bd,
			tra.tAlbaranPosicion pos,
			tra.tAlbaranPosicionCalidad_Status ms
	where	a.id = bd.id
	and		pos.idalbaran = @Idalbaran
	and		pos.[IdMaterial] =@referencia
	and     ms.statusDesc  =a.statusID
	and not exists	(

				select 1
				from	[TRA].[tAlbaranPosicionCalidad] vs 
				where vs.[IdAlbaranPosicion] = pos.[IdAlbaranPosicion]
				and		pos.idalbaran = @Idalbaran
				and		pos.[IdMaterial] =@referencia
				and vs.name = a.name
			)

	
		set @return = 'true'
	--select 0 as Valor

	--drop table #formid

		SELECT @return as Valor
	
	
END



GO
