USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_LoteInfo_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 19042018
-- Desccripcion:	Obtiene la información del lote.--						
-- Parametros de entrada
	--  @IDLOTE-> ID lote	
--============================================
--EXEC [TRA].[sp_LoteInfo_SEL] 'BUR-71-CZA-F52871-PRE-20180628180250-0001'

--exec [TRA].[sp_LoteInfo_SEL] 'TES-02-BOV-0203014-REC-20180705180121-2792'

CREATE procedure [TRA].[sp_LoteInfo_SEL]
(

		 @IdLote AS NVARCHAR(256)	
	
		
)
AS
BEGIN

	

	SET NOCOUNT ON;

	CREATE TABLE #temp_result 
	(
		[IdMaterial] [nvarchar](64) NULL,
		[Descripcion] [nvarchar](4000) NULL,
		[Idlote] [nvarchar](256) NULL,
		[LoteProveedor] [nvarchar](256) NULL,
		[Cantidad] [numeric](18, 6) NULL,
		[UomID] [nvarchar](32) NULL,
		[Ubicacion] [nvarchar](256) NULL,		
		[IdUbicacion]  int,
		Fecha_Bloqueo datetime NULL,
		Fecha_Cuarentena datetime NULL,
		Defectuoso datetime NULL,
		IdTipoUbicacion int,
		FechaCreacion datetime NULL,
	) 
	
	----------------------------------------------------
	----------------------------------------------------
	INSERT INTO  #temp_result
			(
				[IdMaterial],
				[Descripcion],
				[Idlote],
				[LoteProveedor],
				[Cantidad],
				[UomID],				
				[Ubicacion],
				[idUbicacion],
				Fecha_Bloqueo,
				Fecha_Cuarentena,
				Defectuoso,
				IdTipoUbicacion,
				FechaCreacion
			)
	SELECT
		LOTE.[IdMaterial],
		MATERIAL.Descripcion,
		LOTE.[IdLoteMES],
		LOTE.LoteProveedor,
		LOTE.[CantidadActual],
		LOTE.[Unidad],
		UBICACION.Nombre,
		LOTE.IdUbicacion,
		LOTE.FechaBloqueo,
		LOTE.FechaCuarentena,
		LOTE.FechaDefectuoso,
		UBICACION.IdTipoUbicacion,
		LOTE.[Creado]
	FROM
		[MES_MSM_Trazabilidad].[LOT].[tLoteMateriaPrima] LOTE
		INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] UBICACION ON LOTE.IdUbicacion = UBICACION.IdUbicacion
		INNER JOIN [MES_MSM_Trazabilidad].[MAT].[vMateriales] MATERIAL ON MATERIAL.IdMaterial = LOTE.IdMaterial
	WHERE 
		LOTE.IdLoteMES = @IdLote
		OR LOTE.SSCC = @IdLote
	UNION
	SELECT
		LOTE.[IdMaterial],
		MATERIAL.Descripcion,
		LOTE.[IdLoteMES],
		LOTE.LoteProveedor,
		LOTE.[CantidadActual],
		LOTE.[Unidad],
		UBICACION.Nombre,
		LOTE.IdUbicacion,
		LOTE.FechaBloqueo,
		LOTE.FechaCuarentena,
		LOTE.FechaDefectuoso,
		UBICACION.IdTipoUbicacion,
		LOTE.[Creado]
	FROM
		[MES_MSM_Trazabilidad].[LOT].[tLoteMateriaPrimaFabricacion] LOTE
		INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] UBICACION ON LOTE.IdUbicacion = UBICACION.IdUbicacion
		INNER JOIN [MES_MSM_Trazabilidad].[MAT].[vMateriales] MATERIAL ON MATERIAL.IdMaterial = LOTE.IdMaterial
	WHERE 
		LOTE.IdLoteMES = @IdLote
		OR LOTE.SSCC = @IdLote

	select * from  #temp_result

END
GO
