USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_LoteExtendedInfo_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 02052018
-- Desccripcion:	Obtiene la información de las propiedades extendidas del						
-- Parametros de entrada
	--  @IDLOTE-> ID lote	
--============================================

CREATE procedure [TRA].[sp_LoteExtendedInfo_SEL]
(

		 @IdLote AS NVARCHAR(256)	
	
		
)
AS 
BEGIN

	

	SET NOCOUNT ON;
	
	SELECT  lotid,
					Propertyid, 
					CASE 
					WHEN isnull ([PropValChar],'')<> '' then  [PropValChar]
					WHEN    PropValDate  IS not NULL   then  convert(varchar,PropValDate,121)
					WHEN [PropValDec]  is not null  then  convert(varchar,[PropValDec])
					END AS PropertyValue
		
	FROM  [MAT].[vAllPropExtendbyLot] (NOLOCK)
	WHERE lotID  = @IdLote



END 


GO
