USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tProduccion_By_Lot_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de etiquetas para el lote MEs, Lote provedor dado.
--						
-- Parametros de entrada
	--  @IdLote-> Listado de id de produccion 
--============================================
--exec [TRA].[sp_tProduccion_By_Lot_SEL]  'TES-01-LUP-0100012-REC-20180222160715-123325' 'OM-BUR-18-00010.1'  --OM-BUR-18-00010.1
CREATE procedure [TRA].[sp_tProduccion_By_Lot_SEL]
(

		@IdLote AS NVARCHAR(100),
		@Paletas  INT = 5

		
)
AS 
BEGIN

	SET NOCOUNT ON;
	

	--IF(@Paletas =0)
	--BEGIN

	--	SET @Paletas = 5

	--END




DECLARE @SQL as NVARCHAR(MAX)
-----------------------------
-- Create temp table
------------------------------
	create table #lotes
	(

		IDLOTE  NVARCHAR(100),
		LoteProveedor  NVARCHAR(100)
	)
-----------------------------
-- Inicio proceso
-----------------------------
	--- Comprobamos el dato que nos ha proporcionado
	IF(SUBSTRING(@idlote,4,1) ='-')
	begin

		insert into #lotes
		(
			IDLOTE,
			LoteProveedor

		)
		select  idlote, LoteProveedor
		From	[TRA].[tAlbaranPosicionLote] (NOLOCK)
		Where	idlote = @IdLote
	END 
	ELSE
	begin
		insert into #lotes
		(
			IDLOTE,
			LoteProveedor

		)
		select  idlote, LoteProveedor
		From	[TRA].[tAlbaranPosicionLote] (NOLOCK)
		Where	LoteProveedor = @IdLote
		
		

	END 

	-----------------------------
	-- Buscamos los consumos en la tabla
	-- operaciones 
	-----------------------------
	Select	FechaInicio, 
			FechaFin, 
			IdOrdenDestino,
			Cantidad ,
			op2.IdLote,
			ll.LoteProveedor,
			op2.IdUbicacionDestino
	INTO    #TEMP_OPE
	From	[OPE].[tOperacion] op2 (NOLOCK)	,
			#lotes ll
	Where	idTipoOperacion = 3
	And		ll.IDLOTE =op2.IdLote 	
	---------------------------------------------------------------------
	--En base a las fechas de consumo indicamos en que ubicacion se encuentran.
	--------------------------------------------------------------------------
	--[FECHA_CREACION_PALET] – [OFFSET_ESTIMADO]. Para calcular el OFFSET estimado se deberá multiplicar [OFFSET_TEORICO_UBICA] * ([VEL_NOM_LINEA_REF] / [VEL_NOM_OFFSET_TEORICO])

	SELECT	distinct
			prd.IdProduccion,
			dateadd(mm,(ff.offset * (ff.VelocidadNominalReferencia/VelocidadNominalProducto)) *  ff.RendimientoWO,ope2.FechaFin) as FechaRes,
			ope2.IdLote,
			ope2.LoteProveedor,
			prd.Linea,
			ll.Nombre,
			ub.idUbicacion,
			ope2.IdOrdenDestino,
			ope2.FechaFin
	  into #resultado_prev		 
      FROM	tra.tProduccion  PRD (NOLOCK)
	  	left join  tra.tProduccionOffsets ff (NOLOCK)
			ON ff.idProduccion = PRD.idProduccion
			inner join #TEMP_OPE ope2 ON ope2.IdOrdenDestino = PRD.ParticionWO	
			 INNER JOIN  MES_MSM.[dbo].lINEAS LL (NOLOCK) 
				ON LL.NumeroLinea =prd.Linea
				 left JOIN  ubi.tUbicacion ub (NOLOCK)
				 ON	ub.idUbicacion =ff.idUbicacion
				 and ub.[IdLinea] = ll.Nombre
		
	---------------------
	-- Creamos una tabla temporal para el resultado
	---------------------
	SELECT TOP 0 * 
	INTO #TEMP_VPROD
	FROM  [TRA].[vProduccion] VP

	IF(@Paletas > 0)
	BEGIN
	
	INSERT INTO  #TEMP_VPROD
	select  VP.*
	FROM  [TRA].[vProduccion] VP (NOLOCK),
				#resultado_prev Sr
    where  [EtiquetaCreatedAt] <FechaRes
	and sr.IdOrdenDestino = VP.ParticionWO
	and sr.IdProduccion= vp. IdProduccion
	UNION
	select  VP.*
	FROM  [TRA].[vProduccion] VP (NOLOCK),
				#resultado_prev Sr
    where  [EtiquetaCreatedAt] > FechaRes
	and sr.IdOrdenDestino = VP.ParticionWO
	and sr.IdProduccion= vp. IdProduccion
	order by [EtiquetaCreatedAt] desc
	

	END
	ELSE
	BEGIN

	INSERT INTO  #TEMP_VPROD
	select  VP.*
	FROM  [TRA].[vProduccion] VP (NOLOCK),
				#resultado_prev Sr
    where  [EtiquetaCreatedAt] <FechaRes
	and sr.IdOrdenDestino = VP.ParticionWO
	and sr.IdProduccion= vp. IdProduccion
	UNION
	select  VP.*
	FROM  [TRA].[vProduccion] VP (NOLOCK),
				#resultado_prev Sr
    where  [EtiquetaCreatedAt] > FechaRes
	and sr.IdOrdenDestino = VP.ParticionWO
	and sr.IdProduccion= vp. IdProduccion
	order by [EtiquetaCreatedAt] ASC



	END  
	
	SET @SQL ='	SELECT  top '  + CONVERT(varchar,ABS(@Paletas)) + ' * 
	FROM  #TEMP_VPROD
	UNION  ALL
	select  VP.*
	FROM  [TRA].[vProduccion] VP (NOLOCK),
				#resultado_prev Sr
    where  [EtiquetaCreatedAt] <FechaRes
	and sr.IdOrdenDestino = VP.ParticionWO
	and sr.IdProduccion= vp. IdProduccion
	and   FechaFin >=  FechaRes 
	and EtiquetaCreatedAt < FechaFin
	ORDER BY EtiquetaCreatedAt ASC'

	
	EXECUTE  sp_executesql  @SQL
	 

	------------------------------
	-- Drop table lotes
	------------------------------
	DROP TABLE #lotes
	DROP TABLE #TEMP_OPE
	DROP TABLE #resultado_prev
	DROP TABLE #TEMP_VPROD



END 


GO
