USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_Lotes_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [TRA].[sp_Lotes_SEL]
(

		 @IDreferenca AS varchar(20)
		
		
)
AS
BEGIN

	SET NOCOUNT ON;


	SELECT LOT.Lotid 
	FROM  [SITMesDB].[dbo].MMlots  LOT (NOLOCK)
		INNER JOIN [SITMesDB].[dbo].MMDefVers AS DV (NOLOCK)
		ON DV.DefVerPK =LOT.DefVerPK
		INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
		left JOIN  ubi.[tUbicacionLote] ll  (NOLOCK)
				on LOT.Lotid =ll.IdLote
	Where lot.RowDeleted=0
	aND  d.defid=@IDreferenca
	and  LOT.Quantity >  0
	order by 1 desc


	





END
GO
