USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tParticiones_By_Id_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de producciones.
--						
-- Parametros de entrada
	--  @id-> Listado de id de produccion 
--============================================
--exec tra.[sp_tParticiones_By_Id_SEL] '2016-06-14 01:57:50.000' 
CREATE procedure [TRA].[sp_tParticiones_By_Id_SEL]
(
		@IdProducto as nvarchar(256),
		@Linea as int,
		@FecIniEstimada as datetime
		
)
AS 
BEGIN

	SET NOCOUNT ON;
	


	SELECT	ll.id,L2.NumeroLinea,IdProducto,ll.FecIniEstimada
	FROM	[TRA].[vParticiones]  LL(NOLOCK),	
			MES_MSM.DBO.LINEAS L2 (NOLOCK)
	where	L2.nombre = ll.Linea
	and		ll.FecIniEstimada between dateadd(D,-14,@FecIniEstimada) and dateadd(D,14,@FecIniEstimada)
	and		IdProducto = @IdProducto
	And		NumeroLinea = @Linea
	ORDER  BY ll.FecIniEstimada Desc 

End




GO
