USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetOperacionesPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [TRA].[spGetOperacionesPorLote]
(
		 @IdLote AS varchar(64)
)
AS 
BEGIN

	SET NOCOUNT ON;

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	

	SELECT
		Operacion.FechaInicio AS FECHA_INICIO,
		TipoOperacion.Descripcion AS TIPO_OPERACION,
		Operacion.IdLote AS ID_LOTE,
		Operacion.Cantidad AS CANTIDAD,
		UbicacionOrigen.Nombre AS UBICACION_ORIGEN,
		UbicacionDestino.Nombre AS UBICACION_DESTINO,
		Operacion.IdOrdenOrigen AS ID_ORDEN_ORIGEN,
		Operacion.IdOrdenDestino AS ID_ORDEN_DESTINO
	FROM
		OPE.tOperacion AS Operacion
		INNER JOIN [OPE].[tTipoOperacion] AS TipoOperacion ON TipoOperacion.IdTipoOperacion = Operacion.IdTipoOperacion
		LEFT JOIN [UBI].[tUbicacion] AS UbicacionOrigen ON UbicacionOrigen.IdUbicacion = Operacion.IdUbicacionOrigen
		LEFT JOIN [UBI].[tUbicacion] AS UbicacionDestino ON UbicacionDestino.IdUbicacion = Operacion.IdUbicacionDestino
    WHERE 
		(Operacion.IdLote = @IdLote OR @IdLote IS NULL)
		AND (Operacion.Puente = 0 OR Operacion.Puente IS NULL)
		AND Operacion.IdTipoOperacion <> 24 -- TRANSFORMACION
	ORDER BY Operacion.FechaInicio
END 
GO
