USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetDocumentosTransportePorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [TRA].[spGetDocumentosTransportePorLote]
(

		 @IdLote AS varchar(64),
		 @IdTipoAlbaran AS INT
		
)
AS 
BEGIN

	SET NOCOUNT ON;

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	

	SELECT DISTINCT
		Documento.IdDocumento AS ID_DOCUMENTO,
		Documento.NombreFichero AS NOMBRE_FICHERO,
		TipoDocumento.Descripcion AS TIPO_DOCUMENTO,
		Documento.Descripcion AS DESCRIPCION
	FROM
		[TRA].[tAlbaranPosicionLote] AS AlbaranPosicionLote
		INNER JOIN [TRA].[tAlbaranPosicion] AS AlbaranPosicion ON AlbaranPosicionLote.IdAlbaranPosicion = AlbaranPosicion.IdAlbaranPosicion
		INNER JOIN [TRA].[tAlbaran] AS Albaran ON AlbaranPosicion.IdAlbaran = Albaran.IdAlbaran
		INNER JOIN [TRA].[tTransporte] AS Transporte ON Albaran.IdTransporte = Transporte.IdTransporte
		INNER JOIN [TRA].[tDocumento] Documento ON Documento.IdTransporte = Transporte.IdTransporte
		INNER JOIN  [TRA].[tTipoDocumento] TipoDocumento ON TipoDocumento.IdTipoDocumento = Documento.IdTipoDocumento

    WHERE 
		(AlbaranPosicionLote.IdLote = @IdLote OR @IdLote IS NULL)
		AND 
		Albaran.IdTipoAlbaran = @IdTipoAlbaran
	





END 



GO
