USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tConsumProduccion_SEL_ByLocation]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de producciones.
--						
-- Parametros de entrada
	--  @id-> Listado de id de produccion 
--============================================
--r
--exec  [TRA].[sp_tConsumProduccion_SEL_ByLocation] 281975,2661
CREATE procedure [TRA].[sp_tConsumProduccion_SEL_ByLocation]
(

		@id int,  
		@idubicacion as int =0
		
)
AS 
BEGIN

	SET NOCOUNT ON;
	
SET NOCOUNT ON;
	
--------------------------------------
-- Declaracion de variables
--------------------------------------
DECLARE @Idinserted bigint 
DECLARE @return AS int
DECLARE @Count AS int

DECLARE @DIFF INT

SET @DIFF = DATEDIFF(HOUR,GETUTCDATE(),GETDATE())
--------------------------------------
-- Init
--------------------------------------
set @return = 0
set @Count = 0
--set  @id ='OM-BUR-18-00010.1'
--set  @id ='2'
--set @idubicacion =2074
----------------------------------
-- Tablas temporales
------------------------------------
	create table #temp_operacion
	(
			IdOperacion int,
			idlOTE nvarchar(256),
			FechaInicio datetime,
			FechaFin  datetime ,
			Cantidad numeric(18,3),
			idUbicacion int,
			DesUbicacion nvarchar(256),
			refMaterial nvarchar(256),
			IdOrdenDestino nvarchar(256),
			LoteProveedor nvarchar(256)
	)
    ----------------------------------------------
	-- Obtenemos los lotes que se esten consumiendo
	-----------------------------------------------
	insert into #temp_operacion
	(
			IdOperacion,
			idlOTE,
			FechaInicio,
			FechaFin,
			Cantidad,
			idUbicacion, 
			DesUbicacion,
			refMaterial,
			IdOrdenDestino,
			LoteProveedor
			
	)
	SELECT	IdOperacion,
			ope.idlOTE,
			FechaInicio,
			FechaFin,
			Cantidad,
			--case when LL.idUbicacion =  2084 then 2074 else LL.idUbicacion end,
			ope.IdUbicacionDestino,
			sl.Nombre,
			ope.ReferenciaMaterial,
			--'OM-BUR-18-00009.1' as IdOrdenOrigen,
			ope.IdOrdenDestino,
			ms.LoteProveedor
	FROM   OPE.toperacion  ope (NOLOCK)
			LEFT JOIN  ubi.[tUbicacionLote] ll  (NOLOCK)
			on ope.IdLote =ll.IdLote
				inner JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] sl (NOLOCK)
				on sl.idubicacion  =ll.idUbicacion
				--and sl.idubicacion = ope.IdUbicacionDestino
				left join [TRA].[tAlbaranPosicionLote] ms (NOLOCK)
				on ms.IdLote = ope.IdLote
				and  ms.IdLote = ll.IdLote
	WHERE	IdTipoOperacion  = 3
	
	
	
		---------------------------------------------------------------------
	--En base a las fechas de consumo indicamos en que ubicacion se encuentran.
	--------------------------------------------------------------------------
	--[FECHA_CREACION_PALET] – [OFFSET_ESTIMADO]. Para calcular el OFFSET estimado se deberá multiplicar [OFFSET_TEORICO_UBICA] * ([VEL_NOM_LINEA_REF] / [VEL_NOM_OFFSET_TEORICO]) * rendimientowo

	SELECT	distinct
			prd.IdProduccion,

			CASE WHEN  ISNULL(ff.VelocidadNominalReferencia,0) = 0 THEN 
				
				--dateadd(mi,round(-(ff.offset * (convert(float,VelocidadNominalProducto))) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt) 
				dateadd(mi,round(-(ff.offset *  ff.RendimientoWO),0),prd.EtiquetaCreatedAt) 
			ELSE

				dateadd(mi,round(-(ff.offset * (ff.VelocidadNominalReferencia/convert(float,VelocidadNominalProducto))) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt) 
			END as FechaRes,
			ope2.IdLote,
			ope2.LoteProveedor,
			prd.Linea,
			ll.Nombre,
			ub.idUbicacion,
			--ope2.IdOrdenOrigen 
			--'OM-BUR-18-00009.1' as IdOrdenOrigen ,
			ope2.IdOrdenDestino,
			prd.EtiquetaCreatedAt,
			ff.offset,
			ff.VelocidadNominalReferencia,
			VelocidadNominalProducto,
			ff.VelocidadNominalReferencia/convert(float,VelocidadNominalProducto) as VeloNominalDividida,
			ff.RendimientoWO,
			convert(varchar(20),ABS((ff.offset * (ff.VelocidadNominalReferencia/convert(float,VelocidadNominalProducto))) * ff.RendimientoWO)) as calculo
	  into #resultado_prev		 
      FROM	tra.tProduccion  PRD (NOLOCK)
	  	left join  tra.tProduccionOffsets ff (NOLOCK)
			ON ff.idProduccion = PRD.idProduccion
			inner  join #temp_operacion ope2 ON ope2.IdOrdenDestino = PRD.ParticionWO
			and ope2.idUbicacion=ff.idUbicacion
			 INNER JOIN  MES_MSM.[dbo].lINEAS LL (NOLOCK) 
				ON LL.NumeroLinea =prd.Linea
				 INNER JOIN  ubi.tUbicacion ub (NOLOCK)
				 ON	ub.idUbicacion =ff.idUbicacion
				 and ub.[IdLinea] = ll.Nombre
     where prd.IdProduccion = @id	


	 	 
	 

	---------------------------
	-- Reset tabla destino
	---------------------------
	TRUNCATE TABLE temp_traza
	---------------------------
	-- insertamos en la tabla temporal
	---------------------------	
	
	INSERT INTO temp_traza
	(
		DefID,		
		Referencia,
		DesReferencia,
		LoteProveedor,
		InicioConsumo,
		FinConsumo,
		LoteMES,		
		Cantidad,
		IdUbicacion,
		DescUbicacion,
		IdOperacion,
		id,
		UomID

	)
	SELECT 
	  
	   DISTINCT 	
	   MMMateriales.IDMaterial,
	   MMMateriales.NomMaterial AS NomMaterial,
       MMMateriales.DescMaterial AS DescMaterial,
	   LoteProveedor,
	   ope.FechaInicio,
	    ope.FechaFin,
	   ope.idlOTE,
	   ope.Cantidad ,
	   ope.idUbicacion,
	   ope.DesUbicacion,
	   ope.IdOperacion,
	   ope.IdOrdenDestino,
	   MMMateriales.UomID
      
	FROM
		(
			SELECT
			D.DefID AS IDProducto
			,D.DefPK
			,D.Descript AS DescProducto
			,Dv.DefVerPK
			,UM1.UomID
			
		FROM 
			[SITMesDB].[dbo].MMDefVers AS DV
			INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
			INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
			INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
			INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
			INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE 
			--(T.TypeID = '03') 
			 DS.IsApproved = 1 AND DS.IsObsolete = 0 --AND (UM1.UomID = 'MD' OR UM1.UomID = 'PL')
			) AS MMProductos --Sólo Producto Terminado, Aprobados y No Obsoletos
		--LEFT  JOIN  [SITMesDB].[dbo].MMlots ds on ds.DefVerPK =MMProductos.DefVerPK
		--inner join #temp_operacion ope on ope.refMaterial = MMProductos.IDProducto
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBoms AS MMBoms ON MMProductos.DefPK = MMBoms.DefPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomAlts AS MMBAlts ON MMBoms.BomPK = MMBAlts.BomPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomItemAlts AS MMBIAlts ON MMBAlts.BomAltPK = MMBIAlts.BomAltPK
		LEFT OUTER JOIN
			(
			SELECT
				D.DefID AS IDMaterial,
				D.DefPK,
				D.DefName AS NomMaterial,
				D.Descript AS DescMaterial,
				UM1.UomID
			FROM 
				[SITMesDB].[dbo].MMDefVers AS DV
				INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
				INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
				INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
				INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
				INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE	
				--(T.TypeID = '02') 
				 DS.IsApproved = 1 AND DS.IsObsolete = 0) AS MMMateriales --Sólo Envases y Embalajes, Aprobados y No Obsoletos
			ON MMBIAlts.DefPK = MMMateriales.DefPK	

			inner  JOIN  #temp_operacion ope on ope.refMaterial  =  MMMateriales.IDMaterial

		--	AND ds.LotID  = ope.IDlote
          
		--------------------------------------------------
		-- Insertamos los datos de la ubicacion y del consumo
		--------------------------------------------------
		SELECT 		Referencia
					,DesReferencia
					,DATEADD(HOUR,@DIFF,InicioConsumo) AS InicioConsumo
					 ,DATEADD(HOUR,@DIFF,FinConsumo) AS FinConsumo										
					,LoteMES
					,A.LoteProveedor
					,A.IdUbicacion
					,DescUbicacion
					,Cantidad
					,IdOperacion
					,DefID
					,Id
				    ,UomID	
			,rs.FechaRes, rs.EtiquetaCreatedAt, rs.Offset,
		
			rs.VelocidadNominalReferencia,
			rs.VelocidadNominalProducto,
			rs.RendimientoWO,
			rs.VeloNominalDividida,
			convert(varchar(20),rs.calculo) as Calculo
		FROM	temp_traza a , #resultado_prev rs 
		Where	rs.idUbicacion =@idubicacion
		and  InicioConsumo between rs.FechaRes  and  FinConsumo
		--and		rs.FechaRes between InicioConsumo and FinConsumo
		and		a.LoteMES = rs.idlote
		--------------------------------------------------
		-- Drop temp tablesr
		--------------------------------------------------
		drop table #temp_operacion
		drop table #resultado_prev


END
GO
