USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetLotesByIdUbicacion]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE procedure [TRA].[spGetLotesByIdUbicacion]
    -- Add the parameters for the stored procedure here
	@IdUbicacion int 

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

   SELECT distinct     row_number() over (order by FechaOrden ASC) as  Posicion, * 
   from  [TRA].[vLotesByIdUbicacion]
	WHERE  ([TRA].[vLotesByIdUbicacion].IdUbicacionInterna =  @IdUbicacion)

END







GO
