USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetCurrentLocation]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 06072018
-- Description:	Obtiene el id de la ubicaicon.
--  =============================================
CREATE  PROCEDURE  [TRA].[spGetCurrentLocation](
@idloTE AS nvarchar(256)
)

AS
BEGIN 

	SET NOCOUNT ON;

	-- Declaracion de variables
	----------------------------------------
	DECLARE @Loc AS nvarchar(256)
    DECLARE @IdUbicacion AS int

	----------------------------------------
	-- Init
	----------------------------------------
	set  @IdUbicacion = 0
	
	declare  @Ubicacion TABLE (Ubicacion  nvarchar(256))
	
	

	

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	Select   @IdUbicacion= UbicacionLote.idUbicacion
	from    [UBI].[tUbicacionLote] UbicacionLote  (NOLOCK) 			
			INNER  JOIN [UBI].[tUbicacion] Ubicacion  (NOLOCK) 	
			 ON  Ubicacion.IdUbicacion = UbicacionLote.IdUbicacion
	where  UbicacionLote.IdLote = @idloTE
	-- Si la ubicacion no esta en el sistema buscammo por link mes
	if(@IdUbicacion =0)
	BEGIN

		Select	@Loc =ll.LocPath	
		From [SITMESDB].[dbo].[MMLots] Lots
			inner   JOIN [SITMesdb].[dbo].[MMLocations] LL
			ON LL.LocPk = Lots.LocPk
		and lots.rowdeleted = 0
		And  LotID =  @idloTE

		Select   @IdUbicacion= idUbicacion
		from    [UBI].[tUbicacion] Ubicacion  (NOLOCK) 				
		where  Ubicacion.IdUbicacionLinkMes = @Loc
	
	END

	INSERT INTO @Ubicacion
	VALUES (@IdUbicacion)

	SELECT  *
	FROM @Ubicacion

end
GO
