USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetDataCargaPorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [TRA].[spGetDataCargaPorLote]
(

		 @IdLote AS varchar(64)
		
		
)
AS 
BEGIN

	SET NOCOUNT ON;

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	

	SELECT
		Transporte.FechaSalida AS FECHA_CARGA,
		IIF(Transporte.IsGranel = 1 AND Lote.InitQuantity > Lote.Quantity,Lote.InitQuantity - Lote.Quantity,Lote.Quantity) AS CANTIDAD_CARGADA,
		AlbaranPosicionLote.LoteProveedor AS LOTE_PROVEEDOR,
		Operacion.EAN + ' - '+Operacion.Proveedor AS REFERENCIA_PROVEEDOR,
		AlbaranPosicionLote.IdLote AS ID_LOTE,
		Materiales.IdMaterial + ' - '+ Materiales.Descripcion AS REFERENCIA_MES,
		Operacion.SSCC AS SSCC
	FROM
		[TRA].[tAlbaranPosicionLote] AS AlbaranPosicionLote
		INNER JOIN [TRA].[tAlbaranPosicion] AS AlbaranPosicion ON AlbaranPosicionLote.IdAlbaranPosicion = AlbaranPosicion.IdAlbaranPosicion
		INNER JOIN [TRA].[tAlbaran] AS Albaran ON AlbaranPosicion.IdAlbaran = Albaran.IdAlbaran
		INNER JOIN [TRA].[tTransporte] AS Transporte ON Albaran.IdTransporte = Transporte.IdTransporte
		LEFT JOIN MAT.vMateriales AS Materiales ON  AlbaranPosicion.IdMaterial = Materiales.IdMaterial
		INNER JOIN OPE.tOperacion AS Operacion ON Operacion.IdLote = AlbaranPosicionLote.IdLote AND Operacion.IdTipoOperacion = 1
		INNER JOIN [MAT].[vLote] Lote ON Lote.LotID = AlbaranPosicionLote.IdLote
    WHERE 
		(AlbaranPosicionLote.IdLote = @IdLote OR @IdLote IS NULL)

	





END 





GO
