USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[spGetDataTransportePorLote]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [TRA].[spGetDataTransportePorLote]
(

		 @IdLote AS varchar(64)
		
		
)
AS 
BEGIN

	SET NOCOUNT ON;

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	

	SELECT DISTINCT
		Transporte.FechaEntrada AS FECHA_ENTRADA,
		Transporte.FechaSalida AS FECHA_SALIDA,
		MatriculaTractora.MatriculaTractora AS MATRICULA_TRACTORA,
		MatriculaRemolque.MatriculaRemolque AS MATRICULA_REMOLQUE,
		OrigenMercancia.Descripcion AS ORIGEN_MERCANCIA,
		Operador.Nombre AS OPERADOR,
		Ubicacion.Nombre AS UBICACION_DESCARGA,
		Transporte.Observaciones AS OBSERVACIONES
	FROM
		[TRA].[tAlbaranPosicionLote] AS AlbaranPosicionLote
		INNER JOIN [TRA].[tAlbaranPosicion] AS AlbaranPosicion ON AlbaranPosicionLote.IdAlbaranPosicion = AlbaranPosicion.IdAlbaranPosicion
		INNER JOIN [TRA].[tAlbaran] AS Albaran ON AlbaranPosicion.IdAlbaran = Albaran.IdAlbaran
		INNER JOIN [TRA].[tTransporte] AS Transporte ON Albaran.IdTransporte = Transporte.IdTransporte
		LEFT JOIN [TRA].[tMatriculaTractoraRemolque] MatriculaTractoraRemolque ON MatriculaTractoraRemolque.IdMatriculaTractoraRemolque = Transporte.IdMatriculaTractoraRemolque
		LEFT JOIN [TRA].[tMatriculaTractora] MatriculaTractora ON MatriculaTractora.IdMatriculaTractora = MatriculaTractoraRemolque.IdMatriculaTractora
		LEFT JOIN [TRA].[tMatriculaRemolque] MatriculaRemolque ON MatriculaRemolque.IdMatriculaRemolque = MatriculaTractoraRemolque.IdMatriculaRemolque
		LEFT JOIN UBI.tOrigenMercancia OrigenMercancia ON OrigenMercancia.IdOrigenMercancia = Transporte.IdOrigenMercancia
		LEFT JOIN TRA.tOperador Operador ON Operador.IdOperador = Transporte.IdOperador
		INNER JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Transporte.IdUbicacionInterna

    WHERE 
		(AlbaranPosicionLote.IdLote = @IdLote OR @IdLote IS NULL)

	





END 



GO
