USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_MoverLote_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Comprueba que se puede realizar el movimiento.
--Modificado: 2021-07-29 por Alexis Anselmi se acomoda la fecha de creacion de los lotes					
-- Parametros de entrada
	--  @IDLOTE-> ID lote	
	-- @ContadorLotesEscaneados -> Desde el terminal, si existen lotes escaneados pasará la cantidad de 
	-- lotes que ya tiene escaneados y devolverá el lote correspondiente
--============================================

--exec [TRA].[sp_MoverLote_SEL] 'TES-02-PAL-110-REC-20180524102324-740596431211580581/2825'
CREATE procedure [TRA].[sp_MoverLote_SEL]
(

		 @IDLOTE AS NVARCHAR(256),
		 @ContadorLotesEscaneados AS INT
	
		
)
AS
BEGIN

	SET NOCOUNT ON;
	



	
	-------------------------------
-- DECLARACION DE VARIBBLES
-------------------------------
DECLARE @IdPoliticaVaciado AS INT
DECLARE @fechaMOD AS DATETIME
DECLARE @IdLotePropuesto AS NVARCHAR(256)
DECLARE @NombreUbicacion AS  NVARCHAR(256)
DECLARE @IdMaterial AS NVARCHAR (4000)
DECLARE @DescripcionMaterial AS NVARCHAR (4000)
DECLARE @Cantidad AS DECIMAL(18,6)

---1. Si el Lote es un SSCC obtenemos el IdLote
	IF(LEN(@IDLOTE) <= 14)
	BEGIN
			-- Buscamos el id lote en la tabla
			SELECT @IDLOTE = IdLotemes
			FROM 
				[LOT].tLoteMateriaPrima
			WHERE 
				SSCC = @IDLOTE
	END 
--2. Obtenemos el Id Material y la Politica de Vaciado del lote
SELECT
	@IdMaterial = LOTE.IdMaterial,
	@IdPoliticaVaciado = UBICACION.IdPoliticaVaciado,
	@fechaMOD = IIF(UBICACION.[IdPoliticaVaciado] = 1 OR UBICACION.[IdPoliticaVaciado] = 2,LOTE.FechaEntradaUbicacion,LOTE.FechaCaducidad),
	@DescripcionMaterial = MATERIAL.Descripcion ,
	@Cantidad = LOTE.CantidadActual
FROM
	[LOT].tLoteMateriaPrima LOTE 
	INNER JOIN [UBI].[tUbicacion] UBICACION ON UBICACION.IdUbicacion = LOTE.IdUbicacion
	INNER JOIN [MAT].[vMateriales] MATERIAL ON MATERIAL.IdMaterial = LOTE.IdMaterial
WHERE
	LOTE.IdLoteMES = @IDLOTE

-- 3. Obtenemos todos los lotes segun el Material 
	DECLARE @LOTES_FECHAENTRADA TABLE(
		FechaEntrada DATETIME,
		FechaCaducidad DATETIME,
		IdLote NVARCHAR(255),
		IdUbicacion INT,
		NombreUbicacion NVARCHAR(100),
		IdMaterial NVARCHAR (4000),
		DescripcionMaterial NVARCHAR (4000),
		Prioridad INT,
		CantidadActual DECIMAL(18,6)
	)

	INSERT INTO @LOTES_FECHAENTRADA
	 SELECT 
		FechaEntrada,
		FechaCaducidad,
		IdLote,
		IdUbicacion,
		NombreUbicacion,
		IdMaterial,
		DescripcionMaterial,
		Prioridad,
		CantidadActual
	FROM
		(SELECT 
			MAX(LOTE.FechaEntradaUbicacion) FechaEntrada,
			MAX(LOTE.FechaCaducidad) FechaCaducidad,
			LOTE.IdLoteMES AS IdLote,
			LOTE.IdUbicacion,
			UBICACION.Nombre NombreUbicacion,
			LOTE.IdMaterial,
			MATERIAL.Descripcion AS DescripcionMaterial,
			LOTE.Prioridad,
			LOTE.CantidadActual
		FROM 
			[LOT].tLoteMateriaPrima LOTE 
			INNER JOIN [UBI].[tUbicacion] UBICACION ON UBICACION.IdUbicacion = LOTE.IdUbicacion
			INNER JOIN [MAT].[vMateriales] MATERIAL ON MATERIAL.IdMaterial = LOTE.IdMaterial
		WHERE 
			CantidadActual > 0
			AND UBICACION.UmbralStockCero < LOTE.CantidadActual
			AND LOTE.IdMaterial = @IdMaterial
		GROUP BY 
			LOTE.IdLoteMES,
			LOTE.IdUbicacion,
			UBICACION.Nombre,
			LOTE.IdMaterial,
			MATERIAL.Descripcion,
			LOTE.Prioridad,
			CantidadActual
		) FECHA_ENTRADA_LOTE
	-----------------------------------
	-- init tabla resultado
	-----------------------------------

--4. Validamos la politica de Vaciado


IF @IDPOLITICAVACIADO =1 -- FIFO
			BEGIN 
				
				 SELECT
				     @IdLotePropuesto = LOTE.IdLote, 
					 @NombreUbicacion = LOTE.NombreUbicacion,
					  @Cantidad = LOTE.CantidadActual
				 FROM
					(SELECT  
					    ROW_NUMBER() OVER(ORDER BY FECHA_ENTRADA_LOTE.FechaEntrada ASC) AS RowNumber,
						FECHA_ENTRADA_LOTE.IdLote, 
						FECHA_ENTRADA_LOTE.NombreUbicacion,
						FECHA_ENTRADA_LOTE.CantidadActual
					FROM	
						@LOTES_FECHAENTRADA FECHA_ENTRADA_LOTE
					WHERE 
						 FECHA_ENTRADA_LOTE.FechaEntrada < @fechaMOD
					)  LOTE
					WHERE LOTE.RowNumber =  @ContadorLotesEscaneados + 1
		
			END 
			ELSE IF @IDPOLITICAVACIADO =2 -- LIFO
			BEGIN


					SELECT
				     @IdLotePropuesto = LOTE.IdLote, 
					 @NombreUbicacion = LOTE.NombreUbicacion,
					  @Cantidad = LOTE.CantidadActual
					FROM
					(SELECT  
					    ROW_NUMBER() OVER(ORDER BY FECHA_ENTRADA_LOTE.FechaEntrada DESC) AS RowNumber,
						FECHA_ENTRADA_LOTE.IdLote, 
						FECHA_ENTRADA_LOTE.NombreUbicacion,
						FECHA_ENTRADA_LOTE.CantidadActual
					FROM	
						@LOTES_FECHAENTRADA FECHA_ENTRADA_LOTE
					WHERE 
						 FECHA_ENTRADA_LOTE.FechaEntrada > @fechaMOD
					) LOTE
					WHERE LOTE.RowNumber =  @ContadorLotesEscaneados + 1

					
			END  
			ELSE IF @IDPOLITICAVACIADO =3 -- FEFO ( Fecha de caducidad).
			BEGIN

			        SELECT
				     @IdLotePropuesto = LOTE.IdLote, 
					 @NombreUbicacion = LOTE.NombreUbicacion,
					  @Cantidad = LOTE.CantidadActual
					FROM
					(SELECT  
					    ROW_NUMBER() OVER(ORDER BY LOTE.FechaCaducidad ASC) AS RowNumber,
						LOTE.IdLote, 
						LOTE.NombreUbicacion,
						LOTE.CantidadActual
					FROM	
						@LOTES_FECHAENTRADA LOTE
					WHERE 
						 LOTE.FechaCaducidad < @fechaMOD
					) LOTE
					WHERE LOTE.RowNumber =  @ContadorLotesEscaneados + 1


			END  


			SELECT
					@IDLOTE idlote ,
					@IdLotePropuesto idlotePropuesto,
					@NombreUbicacion Ubicacion,
					@Cantidad Cantidad,
					@IdMaterial IdMaterial,
					@DescripcionMaterial DESCRIPCION
			


	



END
GO
