USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tProduccion_UPD]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Procedimiento que realiza  la actualizacion de  la tablas [tProduccion]  en base
--					al tipo, se actualizara 0 cuarentena, 1 bloqueo, 2 estado etiquetas--					
-- Parametros de entrada
	--  @id-> Listado de id,
	---@@Motivo Motivo	 
	--@@Fecha fecha modificacion 
	--@Tipo--> 0 cuaentena, 1 bloqueo 2 etiqueta
--  =============================================
--exec [TRA].[sp_tProduccion_UPD] 2,'Pruebabbbb','2018-03-15',2

--commit
CREATE procedure [TRA].[sp_tProduccion_UPD]
(

		@id as nvarchar(max),
		@Motivo as nvarchar(max),
		@Fecha as nvarchar(max),
		@Tipo as int =0
)

AS 
BEGIN

	SET NOCOUNT ON;


---------------------------------------
-- Declaracion de variables
--------------------------------------
DECLARE @Idinserted bigint 
DECLARE @return AS int
DECLARE @Count AS int
--------------------------------------
-- Init
--------------------------------------
set @return = 0
set @Count = 0

----------------------------------
-- Tablas temporales
------------------------------------
	CREATE TABLE #temp_id
	(

		id_dat int  not null,
		data int not null

	)

	BEGIN TRY
	
	INSERT INTO #temp_id
	(

		id_dat, data

	)
	SELECT	*
	FROM 	[dbo].[Split](@id,',')

		SELECT @Count =COUNT(1)
		FROM	[TRA].[tProduccion] PD, #temp_id SS
			Where	PD.idProduccion = SS.data



	if(@Count =0)
	BEGIN
			SELECT @return as Valor
			RETURN;		

	END 

	BEGIN TRANSACTION

--------------------------------
-- Inicio proceso
----------------------------------
	-- dependiendo del tipo realizamos un tipo u otro
	IF (@Tipo = 0)
	BEGIN

		--- insertamos el motivo de la cuarentena.
		INSERT INTO [TRA].[tProduccionMotivoCuarentena]
           ([Motivo])
		SELECT @Motivo
		
		SET @Idinserted = @@IDENTITY
     
	 

	END 
	ELSE IF ( @Tipo  = 1)
	BEGIN

		--- insertamos el motivo del bloqueo.
			INSERT INTO [TRA].tProduccionMotivoBloqueo
           ([Motivo])
		SELECT @Motivo
		
		SET @Idinserted = @@IDENTITY


	END 


	
	---------------------------------------
	-- En base al tipo actualizamos la tabla de prouccion
	---------------------------------------
	IF ( @Tipo  = 0)
	BEGIN
			UPDATE  [TRA].[tProduccion]
			SET		CuarentenaAt =@Fecha,
					IdMotivoCuarentena =@Idinserted,
				     --LastModifiedBY = CURRENT_USER,
					 Actualizado =GETUTCDATE(),
					 LastModifiedMes = 	CASE  
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =0 	THEN 'Modificado' 
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =1 	THEN 'Borrado' 					
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =0 	THEN 'Modificado' 										
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =1	THEN 'Borrado' 										
					  END,										 
					 LastModifiedMesAt =GETUTCDATE()
			FROM	[TRA].[tProduccion] PD, #temp_id SS
			Where	PD.idProduccion = SS.data


			

	END
	ELSE
	IF ( @Tipo  = 1)
	BEGIN
			UPDATE  [TRA].[tProduccion]
			SET		BloqueoAt =@Fecha,
					IdMotivoBloqueo =@Idinserted,
					--LastModifiedBY = CURRENT_USER,
					Actualizado =GETUTCDATE(),
					 LastModifiedMes = 	CASE  
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =0 	THEN 'Modificado' 
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =1 	THEN 'Borrado' 					
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =0 	THEN 'Modificado' 										
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =1	THEN 'Borrado' 										
					  END						,
					 LastModifiedMesAt =GETUTCDATE()
			FROM	[TRA].[tProduccion] PD, #temp_id SS
			Where	PD.idProduccion = SS.data
	END
		IF (@Tipo  = 2)
	BEGIN
			UPDATE  [TRA].[tProduccion]
			SET		IdStatus =@Motivo,
					--LastModifiedBY = CURRENT_USER,
					Actualizado =GETUTCDATE(),
					  LastModifiedMes = 	CASE  
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =0 	THEN 'Modificado' 
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =1 	THEN 'Borrado' 					
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =0 	THEN 'Modificado' 										
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =1	THEN 'Borrado' 										
					  END,						
					 LastModifiedMesAt =GETUTCDATE()					
			FROM	[TRA].[tProduccion] PD, #temp_id SS
			Where	PD.idProduccion = SS.data
	END
		IF (@Tipo  = 3)
	BEGIN
			UPDATE  [TRA].[tProduccion]
			SET		BloqueoAt =null,
					--LastModifiedBY = CURRENT_USER,
					Actualizado =GETUTCDATE(),
					  LastModifiedMes = 	CASE  
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =0 	THEN 'Modificado' 
						WHEN pd.LastModifiedMes ='Creado'  AND pd.Procesaod =1 	THEN 'Borrado' 					
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =0 	THEN 'Modificado' 										
						WHEN pd.LastModifiedMes ='Modificado'  AND pd.Procesaod =1	THEN 'Borrado' 										
					  END,	
					 LastModifiedMesAt =GETUTCDATE()					
			FROM	[TRA].[tProduccion] PD, #temp_id SS
			Where	PD.idProduccion = SS.data
	END


	

	COMMIT TRAN
	
	SELECT @return as Valor


	END TRY

	-- The previous GO breaks the script into two batches,
	-- generating syntax errors. The script runs if this GO
	-- is removed.
	BEGIN CATCH
		SELECT ERROR_NUMBER() AS ErrorNumber;
		ROLLBACK TRAN
		set @return = ERROR_NUMBER()
		SELECT @return as Valor
	END CATCH;



END
GO
