USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [TRA].[sp_tProduccion_SEL_ByLocation]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 13032018
-- Desccripcion:	Obtiene el listado de producciones.
--						
-- Parametros de entrada
	--  @id-> Listado de id de produccion 
--============================================
--exec [TRA].[sp_tProduccion_SEL] 'OM-BUR-18-00010.1'  --OM-BUR-18-00010.1
--exec [TRA].[sp_tProduccion_SEL_ByLocation] '2',26

CREATE procedure [TRA].[sp_tProduccion_SEL_ByLocation]
(

		@id as nvarchar(256),
		@idubicacion as int
		
)
AS 
BEGIN

	SET NOCOUNT ON;
	
--------------------------------------
-- Declaracion de variables
--------------------------------------
DECLARE @Idinserted bigint 
DECLARE @return AS int
DECLARE @Count AS int
declare @buffer bit
	declare @tag nvarchar(max)
	declare @cantidadLote decimal
	declare @counterLimited integer
	declare @counterValue integer
	declare @equipmentName nvarchar(max)
	declare @date datetime
	declare @endDate datetime
	declare @RowUpdated  datetime

--------------------------------------
-- Init
--------------------------------------
set @return = 0
set @Count = 0
--set  @id ='OM-BUR-18-00010.1'
--set  @id ='2'
--set @idubicacion =2074
----------------------------------
-- Tablas temporales
------------------------------------
	create table #temp_operacion
	(
			IdOperacion int,
			idlOTE nvarchar(256),
			FechaInicio datetime,
			FechaFin  datetime ,
			Cantidad numeric(18,3),
			idUbicacion int,
			DesUbicacion nvarchar(256),
			refMaterial nvarchar(256),
			idOrdenDestino nvarchar(256),
			LoteProveedor nvarchar(256)
	)
    ----------------------------------------------
	-- Obtenemos los lotes que se esten consumiendo
	-----------------------------------------------
	insert into #temp_operacion
	(
			IdOperacion,
			idlOTE,
			FechaInicio,
			FechaFin,
			Cantidad,
			idUbicacion, 
			DesUbicacion,
			refMaterial,
			idOrdenDestino,
			LoteProveedor
			
	)
	SELECT	IdOperacion,
			ope.idlOTE,
			FechaInicio,
			FechaFin,
			Cantidad,
			case when LL.idUbicacion =  2084 then 2074 else LL.idUbicacion end,
			sl.Nombre,
			ope.ReferenciaMaterial,
			--'OM-BUR-18-00009.1' as IdOrdenOrigen,
			ope.IdOrdenDestino,
			ope.LoteProveedor
	FROM   OPE.toperacion  ope (NOLOCK)
			INNER JOIN  ubi.[tUbicacionLote] ll  (NOLOCK)
			on ope.IdLote =ll.IdLote
				INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] sl (NOLOCK)
				on sl.idubicacion  =ll.idUbicacion
				and sl.idubicacion = ope.IdUbicacionOrigen
				inner join [TRA].[tAlbaranPosicionLote] ms (NOLOCK)
				on ms.IdLote = ope.IdLote
				and  ms.IdLote = ll.IdLote
	WHERE	IdTipoOperacion  = 3
	
	
	SELECT @buffer=Buffer,@tag=Tag,@cantidadLote=Cantidad_Lote_Buffer,@equipmentName=Nombre,@date=ope.FechaInicio  
	FROM [UBI].[tUbicacion] ubi (NOLOCK), 
	#temp_operacion ope 
	WHERE ubi.IdUbicacion=ope.idUbicacion

	if @buffer = 1 
	begin
		-----------------------------
		-- Se obtiene el límite del contador	
		-----------------------------
		SELECT distinct @counterLimited=[counter].[MaxValue]
		FROM [PPA].[dbo].[Equipment] eq
		left join [PPA].[dbo].[Equipment_Extension_Link] eqLink on eq.EquipmentId=eqLink.EqID
		left join [dbo].[COUNTER_LINK] [counter] on [counter].EquipmentId = eqLink.PPAObjectId
		WHERE eq.EquipmentName = @equipmentName
		--Se obtiene el valor del contador en el momento que empieza el consumo
	    SELECT @counterValue = value ,@RowUpdated =  rowUpdated
		FROM (SELECT  top 1 value,rowUpdated
			  FROM [PPA].[dbo].[View_Read_INTArchive] [int] (NOLOCK)
			  LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[int].TagID		
			  where Tag.TagName=@tag AND rowUpdated >= @date 
			  order by rowUpdated asc
			  UNION ALL
			  SELECT top 1 value,rowUpdated
			  FROM [PPA].[dbo].[View_Read_FLOATArchive] [float](NOLOCK)
			  LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[float].TagID
			  where Tag.TagName=@tag AND rowUpdated >= @date
			   order by rowUpdated asc
				) aux
		
	     set @counterValue = @counterValue + @cantidadLote
		 --Se le resta uno al límite, porque para configurar el oee hay que añadir más uno
		 --Los contadores cuyo límite sea cero, serán inifnitos y no hará falta comprobar el límite
		 if @counterLimited <> 0 AND (@counterValue > (@counterLimited -1))
		 begin
			set @counterValue = @counterValue - (@counterLimited -1)
		 end

		 
		 --Se obtiene la fecha del nuevo valor
		 SELECT @endDate = rowUpdated 
		 FROM (SELECT top 1 rowUpdated
			   FROM [PPA].[dbo].[View_Read_INTArchive] [int] (NOLOCK)
			   LEFT JOIN [PPA].[dbo].[TAG] Tag (NOLOCK) on Tag.TagID=[int].TagID		 
			   where rowUpdated >= @date and Tag.TagName=@tag AND [Value] = @counterValue  
			   order by rowUpdated desc
			   UNION ALL
			   SELECT top 1 rowUpdated
			   FROM [PPA].[dbo].[View_Read_FLOATArchive] [float] (NOLOCK)
			   LEFT JOIN [PPA].[dbo].[TAG] Tag  (NOLOCK) on Tag.TagID=[float].TagID 
			   where rowUpdated >= @date and Tag.TagName=@tag AND [Value] = @counterValue
			   order by rowUpdated desc ) aux

			   
			   
			   
			   
		
		--Para evitar inconsistencias, sino se encuentra fecha de fin, no se debe actualizar
		if @endDate <> null
		begin
			UPDATE #temp_operacion
			SET FechaFin = @endDate
			WHERE FechaInicio = @date
		end

	end
	
		---------------------------------------------------------------------
	--En base a las fechas de consumo indicamos en que ubicacion se encuentran.
	--------------------------------------------------------------------------
	--[FECHA_CREACION_PALET] – [OFFSET_ESTIMADO]. Para calcular el OFFSET estimado se deberá multiplicar [OFFSET_TEORICO_UBICA] * ([VEL_NOM_LINEA_REF] / [VEL_NOM_OFFSET_TEORICO]) * rendimientowo

	SELECT	distinct
			prd.IdProduccion,
				case when ff.RendimientoWO >0 then 
			dateadd(mi,ISNULL(-(ff.offset  * ff.RendimientoWO),0),prd.EtiquetaCreatedAt)
			
			else
			 dateadd(mi,ISNULL(-(ff.offset),0),prd.EtiquetaCreatedAt)
			end 
			--CASE WHEN ISNULL(ff.VelocidadNominalReferencia,0) = 0 THEN

			--	---dateadd(mi,round(-(ff.offset * (VelocidadNominalProducto)) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt)
			--	dateadd(mi,round(-(ff.offset * ff.RendimientoWO),0),prd.EtiquetaCreatedAt)

			--ELSE

			--	dateadd(mi,round(-(ff.offset * (ff.VelocidadNominalReferencia/VelocidadNominalProducto)) * ff.RendimientoWO,0),prd.EtiquetaCreatedAt)
			
			--END
			 as FechaRes,
			ope2.IdLote,
			ope2.LoteProveedor,
			prd.Linea,
			ll.Nombre,
			ub.IdUbicacion,
			ope2.idOrdenDestino
	  into #resultado_prev		 
      FROM	tra.tProduccion  PRD (NOLOCK)
	  	inner join  tra.tProduccionOffsets ff (NOLOCK)
			ON ff.idProduccion = PRD.idProduccion
			inner  join #temp_operacion ope2 ON ope2.IdOrdenDestino = PRD.ParticionWO
			and ope2.idUbicacion=ff.idUbicacion
			 INNER JOIN  MES_MSM.[dbo].lINEAS LL (NOLOCK) 
				ON LL.NumeroLinea =prd.Linea
				 INNER JOIN  ubi.tUbicacion ub (NOLOCK)
				 ON	ub.idUbicacion =ff.idUbicacion
				 and ub.[IdLinea] = ll.Nombre
     where prd.IdProduccion = @id		 

	---------------------------
	-- Reset tabla destino
	---------------------------
	TRUNCATE TABLE temp_traza
	---------------------------
	-- insertamos en la tabla temporal
	---------------------------	
	
	INSERT INTO temp_traza
	(
		DefID,		
		Referencia,
		DesReferencia,
		LoteProveedor,
		InicioConsumo,
		FinConsumo,
		LoteMES,		
		Cantidad,
		IdUbicacion,
		DescUbicacion,
		IdOperacion,
		id,
		UomID

	)
	SELECT 
	  
	   DISTINCT 	
	   MMMateriales.IDMaterial,
	   MMMateriales.NomMaterial AS NomMaterial,
       MMMateriales.DescMaterial AS DescMaterial,
	   LoteProveedor,
	   CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                     ope.FechaInicio), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) 
	  ,
	  CONVERT(datetime, 
               SWITCHOFFSET(CONVERT(datetimeoffset, 
                                     ope.FechaFin), 
                            DATENAME(TzOffset, SYSDATETIMEOFFSET()))) ,	   
	   ope.idlOTE,
	   ope.Cantidad ,
	   ope.IdUbicacion,
	   ope.DesUbicacion,
	   ope.IdOperacion,
	   ope.idOrdenDestino,
	   MMMateriales.UomID
      
	FROM
		(
			SELECT
			D.DefID AS IDProducto
			,D.DefPK
			,D.Descript AS DescProducto
			,Dv.DefVerPK
			,UM1.UomID
			
		FROM 
			[SITMesDB].[dbo].MMDefVers AS DV
			INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
			INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
			INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
			INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
			INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE 
			--(T.TypeID = '03') 
			 DS.IsApproved = 1 AND DS.IsObsolete = 0 --AND (UM1.UomID = 'MD' OR UM1.UomID = 'PL')
			) AS MMProductos --Sólo Producto Terminado, Aprobados y No Obsoletos
		--LEFT  JOIN  [SITMesDB].[dbo].MMlots ds on ds.DefVerPK =MMProductos.DefVerPK
		--inner join #temp_operacion ope on ope.refMaterial = MMProductos.IDProducto
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBoms AS MMBoms ON MMProductos.DefPK = MMBoms.DefPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomAlts AS MMBAlts ON MMBoms.BomPK = MMBAlts.BomPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomItemAlts AS MMBIAlts ON MMBAlts.BomAltPK = MMBIAlts.BomAltPK
		LEFT OUTER JOIN
			(
			SELECT
				D.DefID AS IDMaterial,
				D.DefPK,
				D.DefName AS NomMaterial,
				D.Descript AS DescMaterial,
				UM1.UomID
			FROM 
				[SITMesDB].[dbo].MMDefVers AS DV
				INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
				INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
				INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
				INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
				INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE	
				--(T.TypeID = '02') 
				 DS.IsApproved = 1 AND DS.IsObsolete = 0) AS MMMateriales --Sólo Envases y Embalajes, Aprobados y No Obsoletos
			ON MMBIAlts.DefPK = MMMateriales.DefPK	

			inner  JOIN  #temp_operacion ope on ope.refMaterial  =  MMMateriales.IDMaterial

		--	AND ds.LotID  = ope.IDlote
          
		--------------------------------------------------
		-- Insertamos los datos de la ubicacion y del consumo
		--------------------------------------------------
		SELECT  a.* 
		FROM	temp_traza a , #resultado_prev rs 
		Where	rs.idUbicacion =@idubicacion
		and		rs.FechaRes between InicioConsumo and FinConsumo
		and		a.LoteMES = rs.idlote
		--------------------------------------------------
		-- Drop temp tables
		--------------------------------------------------
		drop table #temp_operacion
		drop table #resultado_prev


END
GO
