USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [UBI].[spGetUbicacionesDescarga]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [UBI].[spGetUbicacionesDescarga]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

   SELECT * from [UBI].[vUbicacionesDescarga]

END





GO
