USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [UBI].[spGetUbicacionResumenEstadoOrdenes]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [UBI].[spGetUbicacionResumenEstadoOrdenes]
@IdUbicacion AS int
AS 
BEGIN
	SELECT	IdUbicacion, IdPlanta, IdAlmacen, IdZona, IdTipoUbicacion, IdEstado, Activo, 
			IdUbicacionLinkMes, Nombre, IdLinea, IdZonaAsociada,
			SUM(CASE WHEN EstadoAct.Estado = 'Producción' THEN 1 ELSE 0 END) Produccion,
			SUM(CASE WHEN EstadoAct.Estado = 'Iniciando' THEN 1 ELSE 0 END) Iniciando,
			SUM(CASE WHEN EstadoAct.Estado = 'Pausada' THEN 1 ELSE 0 END) Pausada,
			SUM(CASE WHEN EstadoAct.Estado = 'Planificada' THEN 1 ELSE 0 END) Planificada,
			SUM(CASE WHEN EstadoAct.Estado = 'Finalizando' THEN 1 ELSE 0 END) Finalizando
	FROM	[MES_MSM_Trazabilidad].[UBI].[tUbicacion] Ubicacion
			LEFT OUTER JOIN MES_MSM.[dbo].Particiones ON Ubicacion.IdLinea = Particiones.Linea
			LEFT JOIN MES_MSM.[dbo].EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
	WHERE (Ubicacion.IdUbicacion =  @IdUbicacion OR @IdUbicacion = 0)
	GROUP BY IdUbicacion, IdPlanta, IdAlmacen, IdZona, IdTipoUbicacion, IdEstado, Activo, IdUbicacionLinkMes, Nombre,
			IdLinea, IdZonaAsociada
END

GO
