USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [UBI].[sp_tUbicacionesLinea_SEL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [UBI].[sp_tUbicacionesLinea_SEL]
(

		 @IDLinea AS int
		
		
)
AS 
BEGIN

	SET NOCOUNT ON;


			
-------------------------------
-- DECLARACION DE VARIBBLES
-------------------------------
DECLARE @NOMBRE NVARCHAR (256)
-------------------------------
-- Obtenemos el nombre de la linea
-------------------------------
	SELECT  @NOMBRE=Nombre 
	From	MES_MSM.DBO.LINEAS 
	Where	NumeroLinea =@IDLinea
	------------------------
	-- Obtenemos para la linea las ubicaciones que corresponde
	-------------------------
	
	SELECT  [IdUbicacion], [Nombre]
	FROM	[UBI].[tUbicacion]
	WHERE	[IdLinea]= @NOMBRE



END 


GO
