USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [UBI].[sp_StorePolicy_VAL]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 31032018
-- Desccripcion:	Valida si el lote esta acorde a la politica de almacenamiento indicada.--					
-- Parametros de entrada
	-- @IdLOTE--> Id lote a validad
	---@IdUbicacion id ubicacion destino	
--  =============================================
CREATE procedure [UBI].[sp_StorePolicy_VAL] 
		 @IdLOTE AS NVARCHAR(256),
		 @IdUbicacion AS INT

AS
BEGIN
		
	SET NOCOUNT ON;
	
------------------------
-- DECLARACION DE VARUABLES 
------------------------
DECLARE @DEFID AS NVARCHAR(10)
DECLARE @PoliticaAlmacenamiento AS  INT
DECLARE @RefMaterial   nvarchar(20)
DECLARE @IdClaseMaterial   nvarchar(64)
DECLARE @IdTipoMaterial   nvarchar(64)
DECLARE @IdClase   nvarchar(64)
DECLARE @TIPO   nvarchar(32)

DECLARE @return  AS  nvarchar(10)
DECLARE @CountUbicacion AS  INT
------------------------
-- INIT 
------------------------
SET @return = 'true'
SET @PoliticaAlmacenamiento =0
------------------------
-- inicio proceso
------------------------
	-- Para la ubicacion obtenere sl tipo de policica y la informacion de la 
	-- ubicación, para posteriormete validarlo.
	SELECT  @PoliticaAlmacenamiento  = isnull(iDPoliticaAlmacenamiento,4),
			@RefMaterial  = RefMaterial, 
			@IdClaseMaterial = IdClaseMaterial,
			@IdTipoMaterial  = IdTipoMaterial
	FROM	[UBI].[tUbicacion] (NOLOCK)
	WHERE   IdUbicacion =@IdUbicacion	
	-------------------------
	-- Np hay politica, error
	-------------------------
	IF(@PoliticaAlmacenamiento =0)
	BEGIN 
		SET @return = 'false'
		SELECT @return as Valor
		RETURN 
	END 
	/*
	los tipos de politicas definidos son
	IdPoliticaAlmacenamiento	Descripcion
	1	Referencia
	2	Clase
	3	Tipo
	4	Caótica
	*/
	ELSE IF(@PoliticaAlmacenamiento =4)
	BEGIN 
		SET @return = 'true'
		SELECT @return as Valor
		RETURN 
	END 
	-- Obtenemos la referncia para el lote indicado
		----------------------
	-- Obtenemos la referencia de material	
	SELECT  TOP 1 @DEFID = DefID
	FROM	[MAT].[vAllPropExtendbyLot] LL (NOLOCK)
	WHERE   ll.LotID = @IdLOTE
	-----------------------------------
	-- Obtenemos la definicion para este material
	SELECT	@IdClase = IdClase,
			@TIPO =TIPO
	FROM	[MAT].[vMateriales] (NOLOCK)
	WHERE	idmaterial = @DEFID
	--1	Referencia
	IF(@PoliticaAlmacenamiento =1)
	BEGIN 		
		IF(@DEFID =@RefMaterial)
		BEGIN
			SET @return = 'true'
			SELECT @return as Valor
			RETURN
		END
		ELSE
		BEGIN
			SET @return = 'false'
			SELECT @return as Valor
			RETURN
		END		
		 
	END 
	--2	Clase
	ELSE  IF(@PoliticaAlmacenamiento =2)
	BEGIN 		
		IF(@IdClase =@IdClaseMaterial)
		BEGIN
			SET @return = 'true'
			SELECT @return as Valor
			RETURN
		END
		ELSE
		BEGIN
			SET @return = 'false'
			SELECT @return as Valor
			RETURN
		END		
		 
	END 
	--3	Tipo
	ELSE  IF(@PoliticaAlmacenamiento =3)
	BEGIN 		
		IF(@TIPO =@IdTipoMaterial)
		BEGIN
			SET @return = 'true'
			SELECT @return as Valor
			RETURN
		END
		ELSE
		BEGIN
			SET @return = 'false'
			SELECT @return as Valor
			RETURN
		END
	END 	
END



GO
