USE [MES_MSM_Trazabilidad]
GO
/****** Object:  StoredProcedure [UBI].[spGetOrdenesPorIdLinea]    Script Date: 25/02/2022 13:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--=============================================
-- Autor:			ALEXIS ANSELMI - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	Devuelte la ubicaciones para una linea asociada.
--						
-- Parametros de entrada
	--  @IDLinea-> ID LINEA
--============================================

CREATE procedure [UBI].[spGetOrdenesPorIdLinea]
(
		 @IDLinea AS NVARCHAR(250)
)
AS 
BEGIN

	SET NOCOUNT ON;

	-----------------------
	-- Obtenemos los lotes disponibles
	-------------------------
	
	SELECT DISTINCT
	--Ubicacion.IdUbicacion,
	Productos.IdProducto as IdProducto,
	convert(nvarchar(256),Particiones.IdOrdenPadre)  + '/' + Productos.IdProducto AS  Descripcion,
	--COB_MSM_ZONAS.ZONA As Zona, 
	Particiones.Descripcion as IdOrden,
	EstadoAct,
	FecIniEstimada,
	FecFinEstimada,
	FecIniReal,
	FecFinReal,
	CantidadPlanificada,
	CantidadProducida
	FROM 
    MES_MSM.[dbo].Particiones
	LEFT JOIN MES_MSM.[dbo].EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
	LEFT JOIN MES_MSM.[dbo].EstadosOrden AS EstadoAnt ON EstadoAnt.Id = Particiones.IdEstadoAnt
	LEFT JOIN MES_MSM.[dbo].Productos ON Productos.IdProducto = Particiones.IdProducto
	--INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] Ubicacion ON Ubicacion.IdLinea = Particiones.Linea
	--LEFT JOIN SitMesDB.dbo.BPM_EQUIPMENT_PROPERTY Zonas ON Ubicacion.IdZonaAsociada = Zonas.equip_prpty_value
	--INNER JOIN  MES_MSM.dbo.COB_MSM_ZONAS ON COB_MSM_ZONAS.ID_ZONA = Zonas.equip_prpty_value
	WHERE 
		EstadoAct.Estado IN('Planificada','Pausada','Iniciando','Finalizando','Producción')
	--	AND Particiones.Descripcion IS NOT NULL
		AND
		Particiones.Linea =  @IDLinea
	ORDER BY Descripcion




END
GO
