USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [dbo].[tJDE_TEST]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tJDE_TEST](
	[FECHAHORA] [datetime] NULL,
	[ETLITM] [nvarchar](25) NULL,
	[ETQSSC] [nvarchar](18) NULL,
	[ETQPRO] [nvarchar](19) NULL,
	[ETQWO] [nvarchar](50) NULL,
	[ETAITM] [nvarchar](25) NULL,
	[ETZLTE] [nvarchar](13) NULL,
	[ETQLIN] [nchar](10) NULL
) ON [PRIMARY]
GO
