USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [dbo].[temp_traza]    Script Date: 01/03/2021 12:22:46 ******/
DROP TABLE [dbo].[temp_traza]
GO
/****** Object:  Table [dbo].[temp_traza]    Script Date: 01/03/2021 12:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_traza](
	[Referencia] [nvarchar](256) NULL,
	[DesReferencia] [nvarchar](256) NULL,
	[InicioConsumo] [datetime] NULL,
	[FinConsumo] [datetime] NULL,
	[LoteMES] [nvarchar](256) NULL,
	[LoteProveedor] [nvarchar](256) NULL,
	[IdUbicacion] [int] NULL,
	[DescUbicacion] [nvarchar](256) NULL,
	[Cantidad] [numeric](18, 6) NULL,
	[IdOperacion] [int] NULL,
	[DefID] [nvarchar](256) NULL,
	[Id] [nvarchar](101) NULL,
	[UomID] [nvarchar](50) NULL
) ON [PRIMARY]

GO
