USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [dbo].[temp_result]    Script Date: 01/03/2021 12:22:46 ******/
DROP TABLE [dbo].[temp_result]
GO
/****** Object:  Table [dbo].[temp_result]    Script Date: 01/03/2021 12:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_result](
	[Idlote] [nvarchar](256) NULL,
	[IdlotePropuesto] [nvarchar](256) NULL,
	[Ubicacion] [nvarchar](256) NULL,
	[IdMaterial] [nvarchar](64) NULL,
	[Descripcion] [nvarchar](4000) NULL,
	[Cantidad] [numeric](18, 6) NULL
) ON [PRIMARY]

GO
