USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [dbo].[temp_formid]    Script Date: 01/03/2021 12:22:46 ******/
DROP TABLE [dbo].[temp_formid]
GO
/****** Object:  Table [dbo].[temp_formid]    Script Date: 01/03/2021 12:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_formid](
	[id] [int] NULL
) ON [PRIMARY]

GO
