USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [LIM].[tOrdenesMuestras]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LIM].[tOrdenesMuestras](
	[IdOrdenMuestra] [int] IDENTITY(1,1) NOT NULL,
	[IdWO] [nvarchar](4000) NULL,
	[IdMuestraLims] [nvarchar](4000) NULL,
	[Activo] [bit] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tOrdenesMuestras] PRIMARY KEY CLUSTERED 
(
	[IdOrdenMuestra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
