USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [LOT].[tTransferencias]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOT].[tTransferencias](
	[IdTransferencia] [int] IDENTITY(1,1) NOT NULL,
	[LoteSAI] [nvarchar](255) NOT NULL,
	[MaterialSAI] [nvarchar](50) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NOT NULL,
	[UbicacionOrigen] [nvarchar](50) NOT NULL,
	[UbicacionDestino] [nvarchar](50) NOT NULL,
	[Cantidad] [decimal](18, 6) NOT NULL,
	[Unidad] [nvarchar](10) NULL,
	[Procesado] [int] NOT NULL,
	[FechaActualizado] [datetime] NULL,
 CONSTRAINT [PK_Transferencias] PRIMARY KEY CLUSTERED 
(
	[IdTransferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [LOT].[tTransferencias] ADD  CONSTRAINT [DF_Transferencias_Procesado]  DEFAULT ((0)) FOR [Procesado]
GO
