USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [LOT].[tMovimientosLote]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOT].[tMovimientosLote](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdTransferencia] [int] NULL,
	[IdLoteMateriaPrimaOrigen] [int] NULL,
	[IdLoteMESOrigen] [int] NULL,
	[IdLoteMESDestino] [int] NULL,
	[Cantidad] [decimal](18, 4) NULL,
	[IdLoteMateriaPrimaDestino] [int] NULL,
 CONSTRAINT [PK_tMovimientoLote] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
