USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [LOT].[tLoteSemielaborado]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOT].[tLoteSemielaborado](
	[IdLoteSemielaborado] [int] IDENTITY(1,1) NOT NULL,
	[LoteMES] [nvarchar](255) NULL,
	[IdMaterial] [nvarchar](64) NULL,
	[IdUbicacion] [int] NULL,
	[CantidadInicial] [decimal](18, 6) NULL,
	[CantidadActual] [decimal](18, 6) NULL,
	[Unidad] [nvarchar](10) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaConsumo] [datetime] NULL,
	[FechaActualizado] [datetime] NULL,
 CONSTRAINT [PK_tLoteSemielaborado] PRIMARY KEY CLUSTERED 
(
	[IdLoteSemielaborado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [LOT].[tLoteSemielaborado]  WITH CHECK ADD  CONSTRAINT [FK_tLoteSemielaborado_tUbicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [UBI].[tUbicacion] ([IdUbicacion])
GO
ALTER TABLE [LOT].[tLoteSemielaborado] CHECK CONSTRAINT [FK_tLoteSemielaborado_tUbicacion]
GO
