USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [LOT].[tLoteMateriaPrimaFabricacionConsumido]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOT].[tLoteMateriaPrimaFabricacionConsumido](
	[IdLoteMateriaPrima] [int] IDENTITY(1,1) NOT NULL,
	[IdLoteMES] [nvarchar](64) NOT NULL,
	[SSCC] [nvarchar](250) NULL,
	[IdMaterial] [nvarchar](4000) NULL,
	[IdUbicacion] [int] NULL,
	[IdProveedor] [int] NULL,
	[LoteProveedor] [nvarchar](64) NULL,
	[CantidadInicial] [decimal](18, 6) NULL,
	[CantidadActual] [decimal](18, 6) NULL,
	[Unidad] [nvarchar](32) NULL,
	[Prioridad] [int] NULL,
	[FechaEntradaPlanta] [datetime] NULL,
	[FechaEntradaUbicacion] [datetime] NULL,
	[FechaInicioConsumo] [datetime] NULL,
	[FechaFinConsumo] [datetime] NULL,
	[FechaCaducidad] [datetime] NULL,
	[FechaCuarentena] [datetime] NULL,
	[MotivoCuarentena] [nvarchar](255) NULL,
	[FechaBloqueo] [datetime] NULL,
	[MotivoBloqueo] [nvarchar](255) NULL,
	[FechaDefectuoso] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[FechaInicioConsumoEtiqPalet] [datetime] NULL,
	[FechaFinConsumoEtiqPalet] [datetime] NULL,
	[FechaInicioConsumoCodificador] [datetime] NULL,
	[FechaFinConsumoCodificador] [datetime] NULL,
 CONSTRAINT [PK_tLoteMateriaPrimaFabricacionConsumido] PRIMARY KEY CLUSTERED 
(
	[IdLoteMateriaPrima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [LOT].[tLoteMateriaPrimaFabricacionConsumido]  WITH CHECK ADD  CONSTRAINT [FK_tLoteMateriaPrimaFabricacionConsumido_tUbicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [UBI].[tUbicacion] ([IdUbicacion])
GO
ALTER TABLE [LOT].[tLoteMateriaPrimaFabricacionConsumido] CHECK CONSTRAINT [FK_tLoteMateriaPrimaFabricacionConsumido_tUbicacion]
GO
