USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tDeltaVInfo]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tDeltaVInfo](
	[IdtDeltaVInfo] [nvarchar](50) NOT NULL,
	[PesoBascula] [decimal](18, 2) NULL,
	[Descripcion] [nvarchar](128) NULL
) ON [PRIMARY]
GO
