USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tProveedorEAN]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tProveedorEAN](
	[IdProveedor] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Creado] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProveedorEAN] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
