USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tOrdenAprovisionamiento]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tOrdenAprovisionamiento](
	[IdOrdenAprovisionamiento] [nvarchar](50) NOT NULL,
	[IdTipoOrden] [int] NOT NULL,
	[Descripcion] [nvarchar](128) NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tOrdenAprovisionamiento] PRIMARY KEY CLUSTERED 
(
	[IdOrdenAprovisionamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [MAT].[tOrdenAprovisionamiento]  WITH CHECK ADD  CONSTRAINT [FK_tOrdenAprovisionamiento_tTipoOrdenAprovisionamiento] FOREIGN KEY([IdTipoOrden])
REFERENCES [MAT].[tTipoOrdenAprovisionamiento] ([IdTipoOrdenAprovisionamiento])
GO
ALTER TABLE [MAT].[tOrdenAprovisionamiento] CHECK CONSTRAINT [FK_tOrdenAprovisionamiento_tTipoOrdenAprovisionamiento]
GO
