USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tEANJDE]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tEANJDE](
	[IdEanValido] [nvarchar](50) NOT NULL,
	[CodigoMahou] [nvarchar](15) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Proveedor] [nvarchar](20) NOT NULL,
	[InActividad] [nvarchar](1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[CodProveedor] [int] NULL,
	[CampoLibre1] [nvarchar](20) NULL,
	[CampoLibre2] [nvarchar](1) NULL,
	[CampoLibre3] [nvarchar](20) NULL,
	[CampoLibre4] [nvarchar](1) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_eansvalidos] PRIMARY KEY CLUSTERED 
(
	[IdEanValido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [MAT].[tEANJDE] ADD  CONSTRAINT [DF_EansValidos_CodigoMahou]  DEFAULT (' ') FOR [CodigoMahou]
GO
ALTER TABLE [MAT].[tEANJDE] ADD  DEFAULT (newid()) FOR [rowguid]
GO
