USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tEANManual]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tEANManual](
	[IdEAN] [int] IDENTITY(1,1) NOT NULL,
	[EAN] [nvarchar](64) NOT NULL,
	[IdMaterial] [nvarchar](64) NOT NULL,
	[IdProveedor] [int] NULL,
	[UoM] [nvarchar](50) NULL,
	[Cantidad] [float] NULL,
	[Creado] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Material] [nvarchar](100) NULL,
 CONSTRAINT [PK_MAT.tMaestroEAN] PRIMARY KEY CLUSTERED 
(
	[IdEAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
