USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tTipoOrdenAprovisionamiento]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tTipoOrdenAprovisionamiento](
	[IdTipoOrdenAprovisionamiento] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](128) NULL,
 CONSTRAINT [PK_tTipoOrdenAprovisionamiento] PRIMARY KEY CLUSTERED 
(
	[IdTipoOrdenAprovisionamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
