USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [MAT].[tEanAecoc]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAT].[tEanAecoc](
	[IdEanAecoc] [int] IDENTITY(1,1) NOT NULL,
	[IdEan] [nvarchar](128) NULL,
	[IdAecoc] [nvarchar](128) NULL,
	[Provedor] [nvarchar](256) NULL,
 CONSTRAINT [PK_tEanAecoc] PRIMARY KEY CLUSTERED 
(
	[IdEanAecoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
