USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tOperacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tOperacion](
	[IdOperacion] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[FechaEntrada] [datetime] NULL,
	[IdTipoOperacion] [int] NULL,
	[IdLote] [nvarchar](255) NULL,
	[IdSublote] [nvarchar](255) NULL,
	[IdOrdenOrigen] [nvarchar](50) NULL,
	[IdOrdenDestino] [nvarchar](50) NULL,
	[IdUbicacionOrigen] [int] NULL,
	[IdUbicacionDestino] [int] NULL,
	[Cantidad] [decimal](18, 3) NULL,
	[UnidadesMedida] [nvarchar](10) NULL,
	[OperadorSistema] [nvarchar](50) NULL,
	[Proveedor] [nvarchar](512) NULL,
	[EAN] [nvarchar](512) NULL,
	[AECOC] [nvarchar](512) NULL,
	[LoteProveedor] [nvarchar](512) NULL,
	[SSCC] [nvarchar](512) NULL,
	[IdAlbaran] [nvarchar](512) NULL,
	[PropiedadesExtendidas] [nvarchar](max) NULL,
	[ControlGestion01] [nvarchar](255) NULL,
	[ControlGestion02] [nvarchar](255) NULL,
	[ControlGestion03] [nvarchar](255) NULL,
	[ReferenciaMaterial] [nvarchar](255) NULL,
	[CantidadRestante] [nvarchar](255) NULL,
	[IdLoteNuevo] [nvarchar](255) NULL,
	[CantidadPrevia] [nvarchar](255) NULL,
	[MotivoBloqueo] [nvarchar](255) NULL,
	[FechaBloqueo] [datetime] NULL,
	[IdMuestraLims] [nvarchar](255) NULL,
	[FechaCaducidad] [datetime] NULL,
	[FechaCuarentena] [datetime] NULL,
	[MotivoCuarentena] [nvarchar](255) NULL,
	[Prioridad] [int] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[Puente] [bit] NULL,
	[IdLoteTransformado] [nvarchar](255) NULL,
	[Defectuoso] [datetime] NULL,
 CONSTRAINT [PK_tOperacion] PRIMARY KEY NONCLUSTERED 
(
	[IdOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
