USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tSSCC]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tSSCC](
	[SSCC] [int] NOT NULL
) ON [PRIMARY]
GO
