USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tTransferenciaProcesada]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tTransferenciaProcesada](
	[IdLote] [nvarchar](100) NOT NULL,
	[System] [nvarchar](100) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tTransferenciaProcesada] PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC,
	[System] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
