USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tLinkedServerAutomaticWareHouse]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tLinkedServerAutomaticWareHouse](
	[IdLinked] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Tabla] [nvarchar](max) NULL,
	[TablaStock] [nvarchar](max) NOT NULL,
	[TablaEntrada] [nvarchar](250) NULL,
	[ProcedimientoActualizacion] [nvarchar](250) NULL,
	[UbicacionDestino] [nvarchar](250) NOT NULL,
	[UbicacionSalida] [nvarchar](250) NOT NULL,
	[TablaSalida] [nvarchar](250) NOT NULL,
	[ProcedimientoActualizacionSalida] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLinked] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [OPE].[tLinkedServerAutomaticWareHouse] ADD  DEFAULT ('') FOR [TablaStock]
GO
ALTER TABLE [OPE].[tLinkedServerAutomaticWareHouse] ADD  DEFAULT ('-1') FOR [UbicacionDestino]
GO
ALTER TABLE [OPE].[tLinkedServerAutomaticWareHouse] ADD  DEFAULT ('---') FOR [UbicacionSalida]
GO
ALTER TABLE [OPE].[tLinkedServerAutomaticWareHouse] ADD  DEFAULT ('---') FOR [TablaSalida]
GO
ALTER TABLE [OPE].[tLinkedServerAutomaticWareHouse] ADD  DEFAULT ('---') FOR [ProcedimientoActualizacionSalida]
GO
