USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[Tmp_tOperacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[Tmp_tOperacion](
	[IdOperacion] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[FechaEntrada] [datetime] NOT NULL,
	[IdTipoOperacion] [int] NULL,
	[IdLote] [nvarchar](255) NULL,
	[IdSublote] [nvarchar](255) NULL,
	[IdOrdenOrigen] [nvarchar](50) NULL,
	[IdOrdenDestino] [nvarchar](50) NULL,
	[IdUbicacionOrigen] [int] NULL,
	[IdUbicacionDestino] [int] NULL,
	[Cantidad] [decimal](18, 3) NULL,
	[UnidadesMedida] [nvarchar](10) NULL,
	[OperadorSistema] [nvarchar](50) NULL,
	[Parametro01] [nvarchar](255) NULL,
	[Parametro02] [nvarchar](255) NULL,
	[Parametro03] [nvarchar](255) NULL,
	[Parametro04] [nvarchar](255) NULL,
	[Parametro05] [nvarchar](255) NULL,
	[ControlGestion01] [nvarchar](255) NULL,
	[ControlGestion02] [nvarchar](255) NULL,
	[ControlGestion03] [nvarchar](255) NULL,
	[ControlGestion04] [nvarchar](255) NULL,
	[ControlGestion05] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[LastModifiedBy] [nvarchar](100) NULL,
	[LastModifiedAt] [datetime] NULL
) ON [PRIMARY]
GO
