USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tOperacionAux]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tOperacionAux](
	[IdOperacion] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[FechaEntrada] [datetime] NULL,
	[IdTipoOperacion] [int] NULL,
	[IdLote] [nvarchar](255) NULL,
	[IdSublote] [nvarchar](255) NULL,
	[IdOrdenOrigen] [nvarchar](50) NULL,
	[IdOrdenDestino] [nvarchar](50) NULL,
	[IdUbicacionOrigen] [int] NULL,
	[IdUbicacionDestino] [int] NULL,
	[Cantidad] [decimal](18, 3) NULL,
	[UnidadesMedida] [nvarchar](10) NULL,
	[OperadorSistema] [nvarchar](50) NULL,
	[Proveedor] [nvarchar](255) NULL,
	[LoteProveedor] [nvarchar](255) NULL,
	[ReferenciaMesMaterial] [nvarchar](255) NULL,
	[CantidadRestanteLotePadre] [decimal](18, 3) NULL,
	[IdLoteNuevo] [nvarchar](255) NULL,
	[CantidadPreviaAlAjuste] [decimal](18, 3) NULL,
	[MotivoBloqueo] [nvarchar](255) NULL,
	[IdMuestraLims] [int] NULL,
	[EanAecoc] [nvarchar](255) NULL,
	[SsccPaleta] [nvarchar](255) NULL,
	[IdAlbaran] [int] NULL,
	[ControlGestion01] [nvarchar](255) NULL,
	[ControlGestion02] [nvarchar](255) NULL,
	[ControlGestion03] [nvarchar](255) NULL,
	[ControlGestion04] [nvarchar](255) NULL,
	[ControlGestion05] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[LastModifiedBy] [nvarchar](100) NULL,
	[LastModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_tOperacionesAux] PRIMARY KEY CLUSTERED 
(
	[IdOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
