USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [OPE].[tTipoOperacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPE].[tTipoOperacion](
	[IdTipoOperacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Enum_Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_tTipoOperacion] PRIMARY KEY CLUSTERED 
(
	[IdTipoOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
