USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tAlbaranPosicionLote]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tAlbaranPosicionLote](
	[IdAlbaranPosicion] [int] NOT NULL,
	[IdLote] [nvarchar](64) NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[UltimoCamion] [bit] NOT NULL,
	[LoteProveedor] [nvarchar](255) NULL,
	[FechaSalidaLote] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tAlbaranPosicionLote] PRIMARY KEY CLUSTERED 
(
	[IdAlbaranPosicion] ASC,
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tAlbaranPosicionLote] ADD  CONSTRAINT [DF_tAlbaranPosicionLote_UltimoCamion]  DEFAULT ((0)) FOR [UltimoCamion]
GO
ALTER TABLE [TRA].[tAlbaranPosicionLote]  WITH CHECK ADD  CONSTRAINT [FK_tAlbaranPosicionLote_tAlbaranPosicion] FOREIGN KEY([IdAlbaranPosicion])
REFERENCES [TRA].[tAlbaranPosicion] ([IdAlbaranPosicion])
GO
ALTER TABLE [TRA].[tAlbaranPosicionLote] CHECK CONSTRAINT [FK_tAlbaranPosicionLote_tAlbaranPosicion]
GO
