USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tTransporte]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tTransporte](
	[IdTransporte] [int] IDENTITY(1,1) NOT NULL,
	[FechaEntrada] [datetime] NULL,
	[FechaSalida] [datetime] NULL,
	[IdTransportista] [int] NOT NULL,
	[IdProveedor] [int] NULL,
	[IdOperador] [int] NULL,
	[IdProducto] [int] NULL,
	[IdOrigenMercancia] [int] NOT NULL,
	[IdUbicacionInterna] [int] NULL,
	[IdDestinatario] [int] NULL,
	[IdMatriculaTractoraRemolque] [int] NULL,
	[IdCalidad] [int] NULL,
	[IsGranel] [bit] NOT NULL,
	[PesoEntrada] [decimal](18, 0) NULL,
	[PesoSalida] [decimal](18, 0) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[ObservacionesProducto] [nvarchar](255) NULL,
	[Activo] [bit] NOT NULL,
	[HasDocuments] [bit] NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[UltimoCamion] [bit] NOT NULL,
	[FechaDescarga] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tTrasnporte] PRIMARY KEY CLUSTERED 
(
	[IdTransporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tTransporte] ADD  CONSTRAINT [DF_tTransporte_IsGranel]  DEFAULT ((0)) FOR [IsGranel]
GO
ALTER TABLE [TRA].[tTransporte] ADD  CONSTRAINT [DF_tTransporte_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [TRA].[tTransporte] ADD  CONSTRAINT [DF_tTransporte_HasDocuments]  DEFAULT ((0)) FOR [HasDocuments]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tDestinatario] FOREIGN KEY([IdDestinatario])
REFERENCES [TRA].[tDestinatario] ([IdDestinatario])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tDestinatario]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tMatriculaTractoraRemolque] FOREIGN KEY([IdMatriculaTractoraRemolque])
REFERENCES [TRA].[tMatriculaTractoraRemolque] ([IdMatriculaTractoraRemolque])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tMatriculaTractoraRemolque]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tOperador] FOREIGN KEY([IdOperador])
REFERENCES [TRA].[tOperador] ([IdOperador])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tOperador]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tOrigenMercancia] FOREIGN KEY([IdOrigenMercancia])
REFERENCES [UBI].[tOrigenMercancia] ([IdOrigenMercancia])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tOrigenMercancia]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tProducto] FOREIGN KEY([IdProducto])
REFERENCES [MAT].[tProducto] ([IdProducto])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tProducto]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tProveedor] FOREIGN KEY([IdProveedor])
REFERENCES [MAT].[tProveedor] ([IdProveedor])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tProveedor]
GO
ALTER TABLE [TRA].[tTransporte]  WITH CHECK ADD  CONSTRAINT [FK_tTransporte_tUbicacion] FOREIGN KEY([IdUbicacionInterna])
REFERENCES [UBI].[tUbicacion] ([IdUbicacion])
GO
ALTER TABLE [TRA].[tTransporte] CHECK CONSTRAINT [FK_tTransporte_tUbicacion]
GO
