USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tDocumento]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tDocumento](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[IdTransporte] [int] NOT NULL,
	[IdTipoDocumento] [int] NULL,
	[Descripcion] [nvarchar](255) NULL,
	[NombreFichero] [nvarchar](50) NULL,
	[Fichero] [varbinary](max) NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tDocumento] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC,
	[IdTransporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [TRA].[tDocumento]  WITH CHECK ADD  CONSTRAINT [FK_tDocumento_tTipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [TRA].[tTipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [TRA].[tDocumento] CHECK CONSTRAINT [FK_tDocumento_tTipoDocumento]
GO
ALTER TABLE [TRA].[tDocumento]  WITH CHECK ADD  CONSTRAINT [FK_tDocumento_tTransporte] FOREIGN KEY([IdTransporte])
REFERENCES [TRA].[tTransporte] ([IdTransporte])
GO
ALTER TABLE [TRA].[tDocumento] CHECK CONSTRAINT [FK_tDocumento_tTransporte]
GO
