USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tHistoricoPaletsProducidos]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tHistoricoPaletsProducidos](
	[IdProduccion] [bigint] NOT NULL,
	[idEtiqueta] [int] NULL,
	[Linea] [nvarchar](100) NULL,
	[Referencia] [nvarchar](100) NULL,
	[EtiquetaCreatedAt] [datetime] NOT NULL,
	[ParticionWO] [nvarchar](101) NULL,
	[SSCC] [nvarchar](50) NOT NULL,
	[idLotMes] [nvarchar](64) NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[LastModifiedMesAt] [datetime] NULL,
	[LastModifiedMes] [nvarchar](50) NULL,
	[EntradaAlmacenAt] [datetime] NULL,
	[IdMotivoCuarentena] [bigint] NULL,
	[IdMotivoBloqueo] [bigint] NULL,
	[Picos] [int] NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[DescripCliente] [nvarchar](200) NULL,
	[SalidaAlmacenAt] [datetime] NULL,
	[Consolidado] [int] NULL,
	[LastModifiedSgaAt] [datetime] NULL,
	[LastModifiedSga] [nvarchar](50) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[VelocidadNominalProducto] [int] NULL,
	[CuarentenaAt] [datetime] NULL,
	[BloqueoAt] [datetime] NULL,
	[Procesado] [int] NULL,
	[LineaProduccionJDE] [nvarchar](50) NULL,
	[CodigoCaja] [nvarchar](100) NULL,
 CONSTRAINT [PK_tHistoricoPaletsProducidos] PRIMARY KEY CLUSTERED 
(
	[IdProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tHistoricoPaletsProducidos] ADD  CONSTRAINT [DF_tHistoricoPaletsProducidos_IdStatus]  DEFAULT ((1)) FOR [IdStatus]
GO
