USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tProduccionMotivoCuarentena]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tProduccionMotivoCuarentena](
	[idMotivo] [bigint] IDENTITY(1,1) NOT NULL,
	[Motivo] [varchar](255) NOT NULL,
 CONSTRAINT [PK_tProduccionesMotivoCuarentena] PRIMARY KEY CLUSTERED 
(
	[idMotivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
