USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tAlbaran]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tAlbaran](
	[IdAlbaran] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoAlbaran] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdTransporte] [int] NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tAlbaranEntrada] PRIMARY KEY CLUSTERED 
(
	[IdAlbaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tAlbaran] ADD  CONSTRAINT [DF_tAlbaran_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [TRA].[tAlbaran] ADD  CONSTRAINT [DF_tAlbaran_IdTransporte]  DEFAULT ((1)) FOR [IdTransporte]
GO
ALTER TABLE [TRA].[tAlbaran]  WITH CHECK ADD  CONSTRAINT [FK_tAlbaran_tTipoAlbaran] FOREIGN KEY([IdTipoAlbaran])
REFERENCES [TRA].[tTipoAlbaran] ([IdTipoAlbaran])
GO
ALTER TABLE [TRA].[tAlbaran] CHECK CONSTRAINT [FK_tAlbaran_tTipoAlbaran]
GO
ALTER TABLE [TRA].[tAlbaran]  WITH CHECK ADD  CONSTRAINT [FK_tAlbaran_tTransporte] FOREIGN KEY([IdTransporte])
REFERENCES [TRA].[tTransporte] ([IdTransporte])
GO
ALTER TABLE [TRA].[tAlbaran] CHECK CONSTRAINT [FK_tAlbaran_tTransporte]
GO
