USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[temp_result]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[temp_result](
	[idlote] [nvarchar](256) NULL,
	[idlotePropuesto] [nvarchar](256) NULL,
	[Ubicacion] [nvarchar](256) NULL
) ON [PRIMARY]
GO
