USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tTransportista]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tTransportista](
	[IdTransportista] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[NIF] [nvarchar](11) NULL,
	[Direccion] [nvarchar](30) NULL,
	[Poblacion] [nvarchar](30) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Observaciones] [nvarchar](256) NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tTransportista] PRIMARY KEY CLUSTERED 
(
	[IdTransportista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
