USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tMatriculaRemolque]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tMatriculaRemolque](
	[IdMatriculaRemolque] [int] IDENTITY(1,1) NOT NULL,
	[MatriculaRemolque] [nvarchar](10) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tMatriculaRemolque] PRIMARY KEY CLUSTERED 
(
	[IdMatriculaRemolque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
