USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tTransporteIndicador]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tTransporteIndicador](
	[IdTransporteIndicador] [int] IDENTITY(1,1) NOT NULL,
	[IdTransporte] [int] NOT NULL,
	[IdIndicador] [int] NOT NULL,
	[IdSemaforo] [int] NOT NULL,
 CONSTRAINT [PK_tTransporteIndicador] PRIMARY KEY CLUSTERED 
(
	[IdTransporte] ASC,
	[IdIndicador] ASC,
	[IdSemaforo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tTransporteIndicador]  WITH CHECK ADD  CONSTRAINT [FK_tTransporteIndicador_tIndicador1] FOREIGN KEY([IdIndicador])
REFERENCES [TRA].[tIndicador] ([IdIndicador])
GO
ALTER TABLE [TRA].[tTransporteIndicador] CHECK CONSTRAINT [FK_tTransporteIndicador_tIndicador1]
GO
ALTER TABLE [TRA].[tTransporteIndicador]  WITH CHECK ADD  CONSTRAINT [FK_tTransporteIndicador_tSemaforo1] FOREIGN KEY([IdSemaforo])
REFERENCES [TRA].[tSemaforo] ([IdSemaforo])
GO
ALTER TABLE [TRA].[tTransporteIndicador] CHECK CONSTRAINT [FK_tTransporteIndicador_tSemaforo1]
GO
ALTER TABLE [TRA].[tTransporteIndicador]  WITH CHECK ADD  CONSTRAINT [FK_tTransporteIndicador_tTransporte1] FOREIGN KEY([IdTransporte])
REFERENCES [TRA].[tTransporte] ([IdTransporte])
GO
ALTER TABLE [TRA].[tTransporteIndicador] CHECK CONSTRAINT [FK_tTransporteIndicador_tTransporte1]
GO
