USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tAlbaranPosicionCalidad]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tAlbaranPosicionCalidad](
	[IdAlbaranPosicionCalidad] [int] IDENTITY(1,1) NOT NULL,
	[IdAlbaranPosicion] [int] NOT NULL,
	[ID] [int] NULL,
	[name] [nvarchar](50) NULL,
	[statusID] [int] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_IdAlbaranPosicionCalidad_1] PRIMARY KEY CLUSTERED 
(
	[IdAlbaranPosicion] ASC,
	[IdAlbaranPosicionCalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
