USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tProduccionOffsets]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tProduccionOffsets](
	[IdProduccion] [bigint] NOT NULL,
	[IdUbicacion] [int] NOT NULL,
	[VelocidadNominalReferencia] [int] NOT NULL,
	[Offset] [float] NOT NULL,
	[RendimientoWO] [float] NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tProduccionOffsets] PRIMARY KEY CLUSTERED 
(
	[IdProduccion] ASC,
	[IdUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tProduccionOffsets]  WITH CHECK ADD  CONSTRAINT [FK_tProduccionOffsets_tProduccion] FOREIGN KEY([IdProduccion])
REFERENCES [TRA].[tProduccion] ([IdProduccion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TRA].[tProduccionOffsets] CHECK CONSTRAINT [FK_tProduccionOffsets_tProduccion]
GO
