USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tAlbaranPosicionCalidad_Status]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tAlbaranPosicionCalidad_Status](
	[statusID] [int] NOT NULL,
	[statusDesc] [nvarchar](50) NULL,
 CONSTRAINT [PK_tAlbaranPosicionCalidad_Status_1] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
