USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tJDEPropiedadRecepcion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tJDEPropiedadRecepcion](
	[CodigoPropiedad] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRecepcion] [int] NOT NULL,
	[NombrePropiedad] [nvarchar](100) NULL,
	[Valor] [nvarchar](50) NULL,
	[Unidad] [nvarchar](5) NULL,
 CONSTRAINT [PK_tJDEPropiedadRecepcion] PRIMARY KEY CLUSTERED 
(
	[CodigoPropiedad] ASC,
	[CodigoRecepcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tJDEPropiedadRecepcion]  WITH CHECK ADD  CONSTRAINT [FK_tJDEPropiedadRecepcion_tJDERecepcionMaterial] FOREIGN KEY([CodigoRecepcion])
REFERENCES [TRA].[tJDERecepcionMaterial] ([CodigoRecepcion])
GO
ALTER TABLE [TRA].[tJDEPropiedadRecepcion] CHECK CONSTRAINT [FK_tJDEPropiedadRecepcion_tJDERecepcionMaterial]
GO
