USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tMatriculaTractoraRemolque]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tMatriculaTractoraRemolque](
	[IdMatriculaTractoraRemolque] [int] IDENTITY(1,1) NOT NULL,
	[IdMatriculaTractora] [int] NOT NULL,
	[IdMatriculaRemolque] [int] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tMatriculaTractoraRemolque_1] PRIMARY KEY CLUSTERED 
(
	[IdMatriculaTractoraRemolque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tMatriculaTractoraRemolque]  WITH CHECK ADD  CONSTRAINT [FK_tMatriculaTractoraRemolque_tMatriculaRemolque] FOREIGN KEY([IdMatriculaRemolque])
REFERENCES [TRA].[tMatriculaRemolque] ([IdMatriculaRemolque])
GO
ALTER TABLE [TRA].[tMatriculaTractoraRemolque] CHECK CONSTRAINT [FK_tMatriculaTractoraRemolque_tMatriculaRemolque]
GO
ALTER TABLE [TRA].[tMatriculaTractoraRemolque]  WITH CHECK ADD  CONSTRAINT [FK_tMatriculaTractoraRemolque_tMatriculaTractora] FOREIGN KEY([IdMatriculaTractora])
REFERENCES [TRA].[tMatriculaTractora] ([IdMatriculaTractora])
GO
ALTER TABLE [TRA].[tMatriculaTractoraRemolque] CHECK CONSTRAINT [FK_tMatriculaTractoraRemolque_tMatriculaTractora]
GO
