USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tAlbaranPosicion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tAlbaranPosicion](
	[IdAlbaranPosicion] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[IdOrden] [nvarchar](50) NULL,
	[IdTipoOrden] [int] NOT NULL,
	[IdAlbaran] [int] NOT NULL,
	[IdMaterial] [nvarchar](64) NOT NULL,
	[IdLote] [nvarchar](64) NULL,
	[Activo] [bit] NOT NULL,
	[SourceUoMID] [nvarchar](32) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tAlbaranPosicion_1] PRIMARY KEY CLUSTERED 
(
	[IdAlbaranPosicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [TRA].[tAlbaranPosicion] ADD  CONSTRAINT [DF_tAlbaranPosicion_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [TRA].[tAlbaranPosicion]  WITH CHECK ADD  CONSTRAINT [FK_tAlbaranPosicion_tAlbaran] FOREIGN KEY([IdAlbaran])
REFERENCES [TRA].[tAlbaran] ([IdAlbaran])
GO
ALTER TABLE [TRA].[tAlbaranPosicion] CHECK CONSTRAINT [FK_tAlbaranPosicion_tAlbaran]
GO
ALTER TABLE [TRA].[tAlbaranPosicion]  WITH CHECK ADD  CONSTRAINT [FK_tAlbaranPosicion_tTipoOrdenAprovisionamiento] FOREIGN KEY([IdTipoOrden])
REFERENCES [MAT].[tTipoOrdenAprovisionamiento] ([IdTipoOrdenAprovisionamiento])
GO
ALTER TABLE [TRA].[tAlbaranPosicion] CHECK CONSTRAINT [FK_tAlbaranPosicion_tTipoOrdenAprovisionamiento]
GO
