USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tJDERecepcionMaterial]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tJDERecepcionMaterial](
	[CodigoRecepcion] [int] IDENTITY(1,1) NOT NULL,
	[FechaRecepcion] [datetime] NULL,
	[CodigoPlanta] [int] NULL,
	[CodigoMaterial] [nvarchar](20) NULL,
	[DescripcionMaterial] [nvarchar](255) NULL,
	[CodigoProveedor] [nvarchar](20) NULL,
	[DescripcionProveedor] [nvarchar](255) NULL,
	[LoteProveedor] [nvarchar](50) NULL,
	[Albaran] [nvarchar](50) NULL,
	[PosicionAlbaran] [int] NULL,
	[Cantidad] [decimal](18, 0) NULL,
	[Unidad] [nvarchar](5) NULL,
	[LoteMes] [nvarchar](100) NULL,
	[MatriculaCamion] [nvarchar](100) NULL,
	[TipoDocumento] [nvarchar](5) NULL,
	[NumPedidoMSM] [nvarchar](200) NULL,
	[LineaPedido] [int] NULL,
	[UltimaAccionMes] [nvarchar](20) NULL,
	[FechaHoraModificacion] [datetime] NULL,
	[ProcesadaJDE] [int] NULL,
 CONSTRAINT [PK_tJDERecepcionMaterial] PRIMARY KEY CLUSTERED 
(
	[CodigoRecepcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
