USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TRA].[tProduccionesStatus]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRA].[tProduccionesStatus](
	[IdStatus] [int] NOT NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_tProduccionesStatus] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
