USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TSK].[tDetallePlantilla]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSK].[tDetallePlantilla](
	[IdDetallePlantilla] [int] IDENTITY(1,1) NOT NULL,
	[IdPlantilla] [int] NULL,
	[IdMaterial] [nvarchar](100) NULL,
	[Cantidad] [float] NULL,
	[Unidades] [nvarchar](100) NULL,
	[NotasSupervisor] [nvarchar](4000) NULL,
	[NotasOficial] [nvarchar](4000) NULL,
	[IdLote] [nvarchar](512) NULL,
	[Activo] [bit] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tDetallePlantilla] PRIMARY KEY CLUSTERED 
(
	[IdDetallePlantilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
