USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TSK].[tTipoPlantilla]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSK].[tTipoPlantilla](
	[IdTipoPlantilla] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL
) ON [PRIMARY]
GO
