USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [TSK].[tPlantilla]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TSK].[tPlantilla](
	[IdPlantilla] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdTipoPlantilla] [int] NULL,
	[IdUbicacion] [int] NULL,
	[VolumenFinal] [float] NULL,
	[Unidades] [nvarchar](100) NULL,
	[IdOrden] [nvarchar](255) NULL,
	[Activo] [bit] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tPlantilla] PRIMARY KEY CLUSTERED 
(
	[IdPlantilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
