USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tPlanta]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tPlanta](
	[IdPlanta] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdEmpresa] [int] NULL,
 CONSTRAINT [PK_tPlanta] PRIMARY KEY CLUSTERED 
(
	[IdPlanta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tPlanta]  WITH CHECK ADD  CONSTRAINT [FK_tPlanta_tEmpresa] FOREIGN KEY([IdEmpresa])
REFERENCES [UBI].[tEmpresa] ([IdEmpresa])
GO
ALTER TABLE [UBI].[tPlanta] CHECK CONSTRAINT [FK_tPlanta_tEmpresa]
GO
