USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tUbicacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tUbicacion](
	[IdUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdPlanta] [int] NULL,
	[IdAlmacen] [int] NOT NULL,
	[IdTipoUbicacion] [int] NULL,
	[IdPoliticaAlmacenamiento] [int] NULL,
	[IdPoliticaLlenado] [int] NULL,
	[IdPoliticaVaciado] [int] NULL,
	[CooRelativas] [nvarchar](10) NULL,
	[CooAlbsolutas] [nvarchar](10) NULL,
	[RefMaterial] [nvarchar](20) NULL,
	[IdClaseMaterial] [nvarchar](64) NULL,
	[IdTipoMaterial] [nvarchar](32) NULL,
	[CapacidadMax] [int] NULL,
	[IdEstado] [int] NULL,
	[StockActual] [decimal](18, 3) NULL,
	[StockMinimo] [decimal](18, 3) NULL,
	[StockCampo] [decimal](18, 3) NULL,
	[UmbralStockCero] [decimal](18, 3) NULL,
	[UmbralLoteCero] [decimal](18, 3) NULL,
	[IdUbicacionLinkMes] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Version] [int] NULL,
	[Activo] [bit] NOT NULL,
	[IdUnidadMedida] [nvarchar](10) NULL,
	[IdLinea] [nvarchar](255) NULL,
	[IdZonaAsociada] [nvarchar](255) NULL,
	[Offset] [decimal](18, 0) NULL,
	[VelocidadNominalReferencia] [decimal](18, 0) NULL,
	[IdPDV] [int] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
	[IdPDVSEO] [int] NULL,
	[IdProducto] [nvarchar](255) NULL,
	[Buffer] [bit] NULL,
	[Tag] [nvarchar](250) NULL,
	[Cantidad_Lote_Buffer] [numeric](18, 0) NULL,
 CONSTRAINT [PK_tUbicacion] PRIMARY KEY CLUSTERED 
(
	[IdUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tAlmacen] FOREIGN KEY([IdAlmacen])
REFERENCES [UBI].[tAlmacen] ([IdAlmacen])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tAlmacen]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tEstadoUbicacion] FOREIGN KEY([IdEstado])
REFERENCES [UBI].[tEstadoUbicacion] ([IdEstadoUbicacion])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tEstadoUbicacion]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tPlanta] FOREIGN KEY([IdPlanta])
REFERENCES [UBI].[tPlanta] ([IdPlanta])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tPlanta]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tPoliticaAlmacenamiento] FOREIGN KEY([IdPoliticaAlmacenamiento])
REFERENCES [UBI].[tPoliticaAlmacenamiento] ([IdPoliticaAlmacenamiento])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tPoliticaAlmacenamiento]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tPoliticaLlenado] FOREIGN KEY([IdPoliticaLlenado])
REFERENCES [UBI].[tPoliticaLlenado] ([IdPoliticaLlenado])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tPoliticaLlenado]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tPoliticaVaciado] FOREIGN KEY([IdPoliticaVaciado])
REFERENCES [UBI].[tPoliticaVaciado] ([IdPoliticaVaciado])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tPoliticaVaciado]
GO
ALTER TABLE [UBI].[tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacion_tTipoUbicacion] FOREIGN KEY([IdTipoUbicacion])
REFERENCES [UBI].[tTipoUbicacion] ([IdTipoUbicacion])
GO
ALTER TABLE [UBI].[tUbicacion] CHECK CONSTRAINT [FK_tUbicacion_tTipoUbicacion]
GO
