USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tZona_tUbicacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tZona_tUbicacion](
	[IdZonaUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[IdZona] [int] NOT NULL,
	[IdUbicacion] [int] NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tZona_tUbicacion] PRIMARY KEY CLUSTERED 
(
	[IdZonaUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tZona_tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tZona_tUbicacion_tUbicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [UBI].[tUbicacion] ([IdUbicacion])
GO
ALTER TABLE [UBI].[tZona_tUbicacion] CHECK CONSTRAINT [FK_tZona_tUbicacion_tUbicacion]
GO
ALTER TABLE [UBI].[tZona_tUbicacion]  WITH CHECK ADD  CONSTRAINT [FK_tZona_tUbicacion_tZona] FOREIGN KEY([IdZona])
REFERENCES [UBI].[tZona] ([IdZona])
GO
ALTER TABLE [UBI].[tZona_tUbicacion] CHECK CONSTRAINT [FK_tZona_tUbicacion_tZona]
GO
