USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tZona]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tZona](
	[IdZona] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdTipoZona] [int] NULL,
	[IdAlmacen] [int] NULL,
	[Activo] [bit] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tZona] PRIMARY KEY CLUSTERED 
(
	[IdZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tZona] ADD  CONSTRAINT [DF_tZona_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [UBI].[tZona]  WITH CHECK ADD  CONSTRAINT [FK_tZona_tAlmacen] FOREIGN KEY([IdAlmacen])
REFERENCES [UBI].[tAlmacen] ([IdAlmacen])
GO
ALTER TABLE [UBI].[tZona] CHECK CONSTRAINT [FK_tZona_tAlmacen]
GO
ALTER TABLE [UBI].[tZona]  WITH CHECK ADD  CONSTRAINT [FK_tZona_tTipoZona] FOREIGN KEY([IdTipoZona])
REFERENCES [UBI].[tTipoZona] ([IdTipoZona])
GO
ALTER TABLE [UBI].[tZona] CHECK CONSTRAINT [FK_tZona_tTipoZona]
GO
