USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tPoliticaVaciado]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tPoliticaVaciado](
	[IdPoliticaVaciado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Enum_Descripcion] [nvarchar](255) NULL,
	[Funcionalidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_tPoliticaVaciado] PRIMARY KEY CLUSTERED 
(
	[IdPoliticaVaciado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
