USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tTipoUbicacion]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tTipoUbicacion](
	[IdTipoUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Enum_Descripcion] [nvarchar](255) NULL,
	[UbicacionLinkMes] [nvarchar](255) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_tTipoUbicacion] PRIMARY KEY CLUSTERED 
(
	[IdTipoUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tTipoUbicacion] ADD  CONSTRAINT [DF_tTipoUbicacion_Activo]  DEFAULT ((1)) FOR [Activo]
GO
