USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tAlmacen]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tAlmacen](
	[IdAlmacen] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdTipoAlmacen] [int] NULL,
	[IdPlanta] [int] NULL,
	[Activo] [bit] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tAlmacen] PRIMARY KEY CLUSTERED 
(
	[IdAlmacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tAlmacen] ADD  CONSTRAINT [DF_tAlmacen_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [UBI].[tAlmacen]  WITH CHECK ADD  CONSTRAINT [FK_tAlmacen_tPlanta] FOREIGN KEY([IdPlanta])
REFERENCES [UBI].[tPlanta] ([IdPlanta])
GO
ALTER TABLE [UBI].[tAlmacen] CHECK CONSTRAINT [FK_tAlmacen_tPlanta]
GO
ALTER TABLE [UBI].[tAlmacen]  WITH CHECK ADD  CONSTRAINT [FK_tAlmacen_tTipoAlmacen] FOREIGN KEY([IdTipoAlmacen])
REFERENCES [UBI].[tTipoAlmacen] ([IdTipoAlmacen])
GO
ALTER TABLE [UBI].[tAlmacen] CHECK CONSTRAINT [FK_tAlmacen_tTipoAlmacen]
GO
