USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tUbicacionLote]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tUbicacionLote](
	[IdUbicacionLote] [int] IDENTITY(1,1) NOT NULL,
	[IdUbicacion] [int] NOT NULL,
	[IdLote] [nvarchar](255) NOT NULL,
	[DefID] [nvarchar](50) NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Creado] [datetime] NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[Actualizado] [datetime] NULL,
 CONSTRAINT [PK_tUbicacionLote] PRIMARY KEY CLUSTERED 
(
	[IdUbicacionLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UBI].[tUbicacionLote]  WITH CHECK ADD  CONSTRAINT [FK_tUbicacionLote_tUbicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [UBI].[tUbicacion] ([IdUbicacion])
GO
ALTER TABLE [UBI].[tUbicacionLote] CHECK CONSTRAINT [FK_tUbicacionLote_tUbicacion]
GO
