USE [MES_MSM_Trazabilidad]
GO
/****** Object:  Table [UBI].[tPlanta_TIPO]    Script Date: 25/02/2022 13:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UBI].[tPlanta_TIPO](
	[IdPlanta] [int] NOT NULL,
	[Codigo_corto_platna] [nvarchar](12) NULL,
	[Codigo_planta] [nvarchar](256) NULL
) ON [PRIMARY]
GO
