<!-- CABECERA -->
<div id="divCabeceraVista" class="divCabeceraVista">
    <img src="img/tituloCabecera.png" height="20" style="margin-left: 5px;" />
    <label class="lblCabeceraVista"> <% print(window.app.idioma.t('CAPTURA_KOPS_LIMS')) %></label>
</div>

<!-- Filtros Cambios -->
<div id="divFiltrosHeader" class="k-header" style="height: 32px; width: 100%; padding-top: 5px;">
    <div style="float: right; margin-right: 10px;">
        <button id="btnAnadir" class="k-button k-button-icontext" style="margin-left: 5px;">
            <span class='k-icon k-add'></span><% print(window.app.idioma.t('ANADIR')) %>
        </button>
        <button id="btnEditar" class="k-button k-button-icontext" style="margin-left: 5px;">
            <span class='k-icon k-edit'></span><% print(window.app.idioma.t('EDITAR')) %>
        </button>
        <button id="btnEliminar" class="k-button k-button-icontext" style="margin-left: 5px;">
            <span class='k-icon k-delete'></span><% print(window.app.idioma.t('ELIMINAR')) %>
        </button>
        <button id="btnLimpiarFiltros" class="k-button k-button-icontext k-i-delete" style="margin-left: 5px;">
            <span class='k-icon k-i-funnel-clear'></span><% print(window.app.idioma.t('QUITAR_FILTROS')) %>
        </button>
    </div>
</div>

<div id="gridKopsLims"></div>