<style>
    .rTable {
        display: table;
    }

    .rTableRow {
        display: table-row;
    }

    .rTableCell {
        display: table-cell;
        padding: 10px;
        vertical-align: middle;
    }

    span.k-tooltip-validation {
        display: run-in;
        position: absolute;
    }
</style>
<div>
        <div style="width: 100%;">

            <div style="float: left; background-color: Transparent; border: 0;" class="rTable">

                <div class="rTableRow" style="float: left; border: 0;">
                    <div class="rTableCell">
                        <label id="lblMateriasPrimas" style="width: 100%; text-align: right;"></label>
                    </div>                                      
                </div>
                <div id="divWO" style="overflow: hidden; width: 100%;">
                    <div id="gridCrearMatPrima"></div>
                </div>
                <div id="div1" style="text-align: center; width: 100%; float: left;padding: 10px;">
                     <button id="btnAceptarAnadirMateriaPrima" value="AceptarAMP"><% print(window.app.idioma.t("ACEPTAR")) %></button>
                     <button id="btnCancelarAnadirMateriaPrima" value="CancelarAMP"><% print(window.app.idioma.t("CANCELAR")) %></button>
                </div>
            </div>
        </div>       
</div>
