<style>
    .rTable {
        display: table;
    }

    .rTableRow {
        display: table-row;
    }

    .rTableCell {
        display: table-cell;
        padding: 10px;
        vertical-align: top;
    }

    span.k-tooltip-validation {
        display: run-in;
        position: absolute;
    }
</style>
<div id="CrearNoConformidad" style="margin-left: 10px;">
    <div style="width: 100%;">

        <div style="float: left; background-color: Transparent; border: 0;" class="rTable">

            <div class="rTableRow" style="float: left; border: 0;">
                <div class="rTableCell">
                    <label id="lblClase" style="width: 110px; text-align: right; margin-top: 5px;"></label>
                </div>
                <div class="rTableCell">
                    <input type="text" class="k-textbox k-state-disabled"style="width: 220px" id="txtClase" />
                </div>
            </div>
            <div class="rTableRow" style="float: left; border: 0;">
                <div class="rTableCell">
                    <label id="lblMaterial" style="width: 110px; text-align: right; margin-top: 5px;"></label>

                </div>
                <div class="rTableCell">
                    <input type="text" class="k-textbox k-state-disabled" style="width: 280px" id="txtMaterial" />

                </div>
            </div>
            <div class="rTableRow" style="float: left; border: 0;">
                <div class="rTableCell">
                    <label id="lblDescripcion" style="width: 110px; text-align: right; margin-top: 5px;"></label>

                </div>
                <div class="rTableCell">
                    <input type="text" class="k-textbox k-state-disabled" style="width: 280px" id="txtDescripcion" />

                </div>
            </div>
            <div class="rTableRow" style="float: left; border: 0;">
                <div class="rTableCell">
                    <label id="lblCantidad" style="width: 110px; text-align: right; margin-top: 5px;"></label>

                </div>
                <div class="rTableCell">
                    <input style="width: 280px;" id="txtCantidad" />

                </div>
            </div>           
            <div id="divAceptar" style="text-align: center; width: 100%; float: left">
                <button id="btnAceptarEditarMateriasPrimas" value="Insertar"><% print(window.app.idioma.t("ACEPTAR")) %></button>
                <button id="btnCancelarEditarMateriasPrimas" value="Cancelar"><% print(window.app.idioma.t("CANCELAR")) %></button>
            </div>
        </div>
    </div>
</div>
