

<div id="gridLIMS"></div>

<script id="lanzarMuestraTemplate" type="text/x-kendo-template">
    <div style="padding:18px;display: flex;flex-direction: column;align-items: flex-start;">
        <div style="width:100%;display: flex;flex-direction: row;align-items: center;
        justify-content: space-between;margin-bottom:12px;">
            <strong style="margin-right:18px; width:100px;"><label class="mbi"><% print(window.app.idioma.t('ID_LOTE')) %></label>:</strong>
            <label class="mbi">#=IdLoteMES#</label>
        </div>
        <div style="width:100%;display: flex;flex-direction: row;align-items: center;
        justify-content: space-between;margin-bottom:12px;">
            <strong style="margin-right:18px; width:100px;"><label class="mbi" for="inpt_flujo"><% print(window.app.idioma.t('FLUJO')) %></label>:</strong>
            <select id="inpt_flujo" name="inpt_flujo" style="flex:1"
                                data-role="dropdownlist"
                                data-value-field="Id"
                                data-text-field="Descripcion">
            </select>
        </div >
        <div style="width:100%;display: flex;flex-direction: column;align-items: flex-start;margin-bottom:12px;">
            <strong><label for="inpt_comentarios">#:window.app.idioma.t("COMENTARIOS")#</label>:</strong>
            <textarea id="inpt_comentarios" style="width:98%;max-width:98%;padding:1%;height:50px"></textarea>
        </div>
        <span style="align-self: end;">
                <input type="button" data-role="button" style="margin-right:6px" id="btnAceptarLIMS" value="#:window.app.idioma.t("ACEPTAR")#"/>
                <input type="button" data-role="button" id="btnCancelarLIMS" value="#:window.app.idioma.t("CANCELAR")#"/>
       </span>
    </div>
</script>
