USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetRendimientoParticion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		IDOM, DSG
-- Create date: <Create Date, ,>
-- Last modification date: 01/12/2020
-- Description:	Calcula el rendimiento de la particion.
-- El 01/12/2020 se modifica para obtener los envases teóricos como la suma del campo VELOCIDAD_NOMINAL de paletizadora
-- =============================================
CREATE FUNCTION [dbo].[MES_GetRendimientoParticion]
(
	-- Add the parameters for the function here
	@id_wo nvarchar(101)
)
RETURNS FLOAT
AS
BEGIN

	DECLARE @producto nvarchar(50);
    DECLARE @numLinea int;
	DECLARE @CLASE AS NVARCHAR(20) = 'PALETIZADORA'
	DECLARE @EnvasesTeoricos as FLOAT;
	DECLARE @Picos as INT;
	DECLARE @CantidadPaletsProducidos as INT;
	DECLARE @NumPaletsdePicos AS INT;
	DECLARE @RENDIMIENTO as FLOAT;
	
	SELECT @producto = o.IdProducto, @numLinea = l.NumeroLinea
	FROM dbo.Particiones o 
	INNER JOIN Lineas l ON o.Linea = l.Id
	WHERE o.Id = @id_wo

	SELECT 

		@CantidadPaletsProducidos = COALESCE(SUM(Consolidacion.CONTADOR_PRODUCCION), 0)
		,@EnvasesTeoricos = COALESCE(SUM(Consolidacion.[VELOCIDAD_NOMINAL]), 0) 

	FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
	LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
	WHERE Consolidacion.ID_PARTICION = @id_wo AND ML.Clase = @CLASE
	AND SHC_WORK_SCHED_DAY_PK > 0
	GROUP BY ID_PARTICION
			
	SELECT @Picos = COALESCE(SUM(Cantidad),0)
	FROM dbo.Picos
	WHERE IdParticion = @id_wo

	IF(@Picos > 0) --Si hay picos le quitamos el número de palets de picos que se han dado de alta (cada registro de picos que se introduce es un palet de pico)
	BEGIN
		SELECT @NumPaletsdePicos = COUNT(IdParticion)
		FROM dbo.Picos
		WHERE IdParticion = @id_wo
		IF (@NumPaletsdePicos > @CantidadPaletsProducidos)
		BEGIN
			SET @CantidadPaletsProducidos = 0
		END
		ELSE
		BEGIN
			SET @CantidadPaletsProducidos = @CantidadPaletsProducidos - @NumPaletsdePicos;
		END
	END

	SELECT @RENDIMIENTO = COALESCE(((@CantidadPaletsProducidos * o.EnvasesPorPalet) + (@Picos * COALESCE(o.EnvasesPorPalet/NULLIF(o.CajasPorPalet,0),0))) / NULLIF(@EnvasesTeoricos,0), 0)
	FROM dbo.Particiones o
	WHERE o.Id = @id_wo 	
	

	RETURN @RENDIMIENTO
END
GO
