USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetPaletsParticion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetPaletsParticion]
(
	@idParticion NVARCHAR(101)
)
RETURNS REAL
AS
BEGIN
	DECLARE @CLASE AS NVARCHAR(20) = 'PALETIZADORA'
	DECLARE @PALETS as INT;


	SELECT 
		@PALETS = CONVERT(REAL,COALESCE(SUM(Consolidacion.CONTADOR_PRODUCCION), 0))
	FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
	LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
	WHERE Consolidacion.ID_PARTICION = @idParticion AND ML.Clase = @CLASE

	RETURN @PALETS;
END
GO
