USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[JDE_ObtenerNuevoCodigo2]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[JDE_ObtenerNuevoCodigo2]
(
	@planta as nvarchar(50)
)
RETURNS 
@datos TABLE 
(
	-- Add the column definitions for the TABLE variable here
	codPlanta int, 
	codOrden int
)
AS
BEGIN
	-- Fill the table variable with the rows for your result set
	DECLARE @codPlanta as int;
	DECLARE @codSiguiente as int;
	DECLARE @inicioCodigos as int;
	DECLARE @finCodigos as int;

	--select  @codPlanta =  equip_prpty_value
	--FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	--where [equip_prpty_id] = 'ID_PLANTA_JDE';

	--select  @inicioCodigos =  equip_prpty_value
	--FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	--where [equip_prpty_id] = 'RANGO_MIN_WO_JDE';

	--select  @finCodigos =  equip_prpty_value
	--FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	--where [equip_prpty_id] = 'RANGO_MAX_WO_JDE';

	SELECT 
		@codPlanta = bep.equip_prpty_value,  
		@inicioCodigos = RangoMin.equip_prpty_value, 
		@finCodigos = RangoMax.equip_prpty_value
	FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY] bep
	INNER JOIN SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY] RangoMin ON RangoMin.equip_pk = bep.equip_pk
	INNER JOIN SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY] RangoMax ON RangoMax.equip_pk = bep.equip_pk
	WHERE bep.[equip_prpty_value] = @planta AND bep.[equip_prpty_id] = 'ID_PLANTA_JDE' AND RangoMin.[equip_prpty_id] = 'RANGO_MIN_WO_JDE' AND RangoMax.[equip_prpty_id] = 'RANGO_MAX_WO_JDE'
	
	--SELECT  
	--	@codSiguiente = isnull(MAX(CAST(Parametros.VAL as int))+1,@inicioCodigos)  
	--FROM SITMesDB.dbo.pomv_ordr Ordenes
	--LEFT JOIN SITMesDB.dbo.POMV_ORDR_PRP Parametros ON Ordenes.pom_order_id = Parametros.pom_order_id and Parametros.pom_custom_fld_name = 'CODIGO_JDE'
	--WHERE Parametros.VAL > @inicioCodigos;

	SELECT 
		@codSiguiente = ISNULL(MAX(CAST(NUM_WO_JDE AS INT))+1,@inicioCodigos)
	FROM [dbo].[COB_MSM_WO_JDE]
	WHERE NUM_WO_JDE >= @inicioCodigos AND PLANTA = @codPlanta;


	IF @codSiguiente < @finCodigos 
		INSERT INTO @datos(codPlanta,CodOrden) VALUES(@codPlanta,@codSiguiente);
	ELSE
		INSERT INTO @datos(codPlanta,CodOrden) VALUES(@codPlanta,-1);
	RETURN 
END
GO
