USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getDespuesTurnoFin]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDespuesTurnoFin] 
(
	@fecha bigint,
	@tipoturno int
)
RETURNS DateTime
AS
BEGIN
DECLARE @VALUE AS DateTime
IF EXISTS (SELECT FinTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno)
SELECT distinct @VALUE =FinTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturnO
ELSE
BEGIN
SELECT  TOP 1 @VALUE = FinTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) > @fecha order by Fecha, IdTipoTurno asc
END
	RETURN @VALUE
END
GO
