USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPackingArticleFromJDE]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function[dbo].[GetPackingArticleFromJDE](@CodArticle nvarchar(max))
returns nvarchar(max)
as
BEGIN
		Declare @article nvarchar(max)
	Declare @description nvarchar(max) 
	Declare @envasada nvarchar(max)
	Declare @Cont int
	Declare @aux nvarchar(max)

	Declare c cursor for
		SELECT Distinct Bom.ComponentPartNo,article.Description,
		CASE WHEN (select distinct 1 
		   from [SITMesDB].[dbo].[MMProperties] Prop 
		   LEFT JOIN [SITMesDB].[dbo].[MMwDefVerPrpVals] propV on propV.PropertyPK=Prop.PropertyPK 
		   LEFT JOIN [SITMesDB].dbo.[MTMV2_B_DEF] mat on mat.DefID=propV.DefID 
		   Where mat.DefID=article.PartNo collate SQL_Latin1_General_CP1_CS_AS and propV.PValue = 'CZA' collate SQL_Latin1_General_CP1_CS_AS and Prop.PropertyID = 'Subclase_codigo' collate SQL_Latin1_General_CP1_CS_AS) > 0 THEN 'True' ELSE 'False' END Envasado
		FROM (SELECT distinct opBom.PartNo,opBom.ComponentPartNo
			  FROM [INTERSPEC].[MSMIS].[INTERSPC].[ItBomItem] opBom 
			  WHERE opBom.PartNo = @CodArticle
			  Collate SQL_Latin1_General_CP1_CS_AS ) Bom
		LEFT JOIN [INTERSPEC].[MSMIS].[INTERSPC].ItSh article on article.PartNo=Bom.ComponentPartNo
		collate SQL_Latin1_General_CP1_CS_AS 
	open c
	fetch from c into  @article,@description,@envasada 
	WHILE @@FETCH_STATUS = 0 
	begin
		IF (SELECT distinct count(opBom.PartNo) 
			FROM [INTERSPEC].[MSMIS].[INTERSPC].[ItBomItem] opBom 
			WHERE opBom.PartNo = @article
			Collate SQL_Latin1_General_CP1_CS_AS) = 0
		BEGIN
			fetch from c into  @article,@description,@envasada
			Continue
		END

		IF @envasada NOT LIKE 'True'
		BEGIN
			return [dbo].[GetPackingArticleFromJDE](@article)			
		END
		ELSE
		BEGIN			
			Break
		END

		fetch from c into  @article,@description,@envasada		
	end
	close c
	deallocate c	
	return @article +'-'+ @description +'-'+@CodArticle
END
GO
