USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_KPI_OEE_WO_TABLE]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_KPI_OEE_WO_TABLE] 
(
	-- Add the parameters for the function here
	@Linea varchar(100),
	@fini datetime,
	@ffin datetime
)
RETURNS @TABLA TABLE(
  ID_LINEA VARCHAR(100),
  OEE numeric(18,2)
)
AS
BEGIN
	DECLARE @OEE_WO numeric(18,2)
	DECLARE @TEMP_TABLE TABLE(ID int);
	DECLARE @TABLE TABLE(ID_LINEA VARCHAR(100), OEE numeric(18,2))

	
	INSERT INTO @TEMP_TABLE
    SELECT DISTINCT ID
	FROM Turnos
	WHERE ([Linea] = @linea or @Linea = '') AND  @fini <= InicioTurno 
		AND @ffin >= FinTurno 
		AND LOWER(Turno) <> 'nowork'
	-- Add the T-SQL statements to compute the return value here
	
	INSERT INTO @TABLE
	SELECT TABLA.ID_LINEA, TABLA.OEE_WO AS OEE 
	FROM (SELECT 
			CONVERT(numeric(18,2),
				CASE WHEN SUM(TABLA_OEE_WO.CantitadRegistros) = 0 THEN 0 
				ELSE 
					SUM(TABLA_OEE_WO.OEE * (TABLA_OEE_WO.CantidadProducida/TABLA_OEE_WO.SUMA))
					/
					SUM(TABLA_OEE_WO.CantitadRegistros) END) AS OEE_WO,
					TABLA_OEE_WO.ID_LINEA
				FROM 
				(				
				SELECT OPROD.ID AS ID_LINEA, CASE WHEN  SUM(O.CantidadProducida) = 0 THEN 1 ELSE SUM(O.CantidadProducida) END  AS SUMA,
				case when [dbo].[MES_GetOEEParticion](O.Id) > 100 THEN 100 ELSE [dbo].[MES_GetOEEParticion](O.Id) END as OEE,O.CantidadProducida, COUNT(O.CantidadProducida)	AS CantitadRegistros
				  FROM [MES_MSM].[dbo].[Particiones] AS O
				  INNER JOIN (
				SELECT DISTINCT(ID_ORDEN),L.NumeroLinea ID
				FROM COB_MSM_PROD_LLENADORA_HORA LL
					INNER JOIN MAQUINAS M ON M.ID = LL.ID_MAQUINA
					INNER JOIN LINEAS L	ON M.Linea = L.Id AND (L.ID = @Linea or @Linea = '') 
					INNER JOIN @TEMP_TABLE T ON T.ID =  LL.SHC_WORK_SCHED_DAY_PK 
				) AS OPROD ON OPROD.ID_ORDEN = O.IdOrdenPadre
				 GROUP BY O.Id,O.CantidadProducida,OPROD.ID ) AS TABLA_OEE_WO GROUP BY TABLA_OEE_WO.ID_LINEA) AS TABLA
  
     INSERT INTO @TABLA
	 SELECT T.ID_LINEA, T.OEE FROM @TABLE AS T
	-- Return the result of the function
	RETURN 

END

GO
