USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[JulianoToGregorianoDatetime]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[JulianoToGregorianoDatetime] 
(
	-- Add the parameters for the function here
	-- INFORMACIÓN: a partir del día Juliano en formato JDE devuelva la fecha en formato inglés.
	@Juliano as int -- 6 dígitos
)
RETURNS datetime
AS
BEGIN
	
	declare @Año int, @DiasEnAño int, @Gregoriano datetime 
	select @Año = (@Juliano / 1000) + 1900 
	select @DiasEnAño = @Juliano - ((@Juliano / 1000) * 1000) 
	select @Gregoriano = convert(datetime, str(@Año) + '0101') 
	select @Gregoriano = DateAdd (d, @DiasenAño, @Gregoriano) 
	
	RETURN  @Gregoriano - 1

END
GO
