USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerNombreDescripcionPlanta]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_ObtenerNombreDescripcionPlanta]
(
	-- Add the parameters for the function here
	@equip_name varchar(200)
)
RETURNS varchar(255)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @equip_label varchar(255);

	SELECT @equip_label = equip_label  
	FROM SITMesDB.dbo.BPM_EQUIPMENT
	WHERE equip_name = @equip_name


	RETURN @equip_label

END
GO
