USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_KPI_OEE_WO]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_KPI_OEE_WO] 
(
	-- Add the parameters for the function here
@Linea varchar(100),
	@fini datetime,
	@ffin datetime
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @OEE_WO numeric(18,2)
	DECLARE @TEMP_TABLE TABLE(ID int);


	
	INSERT INTO @TEMP_TABLE
    SELECT  ID
	FROM Turnos
	WHERE ([Linea] = @linea or @Linea = '') AND  @fini <= InicioTurno 
		AND @ffin >= FinTurno 
		AND LOWER(Turno) <> 'nowork'
	-- Add the T-SQL statements to compute the return value here
	SELECT @OEE_WO = TABLA.OEE_WO 
	FROM (SELECT 
			CONVERT(numeric(18,2),
				CASE WHEN SUM(TABLA_OEE_WO.CantitadRegistros) = 0 THEN 0 
				ELSE 
					SUM(TABLA_OEE_WO.OEE * (TABLA_OEE_WO.CantidadProducida/TABLA_OEE_WO.SUMA))
					/
					SUM(TABLA_OEE_WO.CantitadRegistros) END) AS OEE_WO
				FROM 
				(SELECT CASE WHEN  SUM(O.CantidadProducida) = 0 THEN 1 ELSE SUM(O.CantidadProducida) END  AS SUMA,[dbo].[MES_GetOEEParticion](O.Id) as OEE,O.CantidadProducida, COUNT(O.CantidadProducida)	AS CantitadRegistros
				  FROM [MES_MSM].[dbo].[Particiones] AS O
				  INNER JOIN (
				SELECT DISTINCT(ID_ORDEN)
				FROM COB_MSM_PROD_LLENADORA_HORA LL
					INNER JOIN MAQUINAS M ON M.ID = LL.ID_MAQUINA
					INNER JOIN LINEAS L	ON M.Linea = L.Id AND (L.ID = @Linea or @Linea = '') 
					INNER JOIN @TEMP_TABLE T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id
				) AS OPROD ON OPROD.ID_ORDEN = O.IdOrdenPadre
				 GROUP BY O.Id,O.CantidadProducida) AS TABLA_OEE_WO) AS TABLA

	-- Return the result of the function
	RETURN @OEE_WO

END
GO
