USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetNumerPicosOrdenTurno]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetNumerPicosOrdenTurno]
(
	@idTurno INT, @idOrden NVARCHAR(101)
)
RETURNS INT
AS
BEGIN
	DECLARE @CantidadPicos INT;
	SELECT
	@CantidadPicos = ISNULL(SUM(Cantidad), 0)
	FROM Picos
	WHERE IdTurno = @idTurno AND IdOrden = @idOrden

	RETURN @CantidadPicos;
END
GO
