USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getTurnoByHourv2]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getTurnoByHourv2]
(
	-- Add the parameters for the function here
	@fechaRegistro as datetime,
	@iniM as integer,
	@iniT as integer,
	@iniN as integer
)
RETURNS int
AS
BEGIN
	declare @horaLoc int
	set @horaLoc = datepart(hour, dbo.CLR_DATETIME_ConvertUTCtoLocal(@fechaRegistro))
	if(@horaLoc >= @iniM and @horaLoc < @iniT) 
		return 1
	if(@horaLoc >= @iniT and @horaLoc < @iniN) 
		return 2
	return 3
	
END
GO
