USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetICParticion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_GetICParticion]
(
	-- Add the parameters for the function here
	@id_wo nvarchar(101)
)
RETURNS FLOAT
AS
BEGIN

	DECLARE @CLASE AS NVARCHAR(20) = 'PALETIZADORA'
	DECLARE @CANTIDAD_PICOS_CAJAS as INT;
	DECLARE @CANTIDAD_PALETS_PALETIZADORA as INT;
	DECLARE @CANTIDAD_ENVASES_LLENADORA AS INT;
	DECLARE @CANTIDAD_ENVASES_NO_CONFORMIDAD as INT;
	DECLARE @NumPaletsdePicos AS INT;
	DECLARE @ICWO as FLOAT;
	DECLARE @ENVASES_PALETIZADORA_WO as INT;
	DECLARE @EnvasesPorPalet AS INT;
	DECLARE @CajasPorPalet AS INT;
	DECLARE @ENVASES_PICOS_WO AS INT;
	DECLARE @ESTADO_WO AS NVARCHAR(50);
	
	SELECT @EnvasesPorPalet = o.EnvasesPorPalet, @CajasPorPalet = o.CajasPorPalet, @ESTADO_WO = o.EstadoAct
	FROM dbo.Particiones o
	WHERE o.Id = @id_wo 

	IF (@ESTADO_WO IN ('Iniciando', 'Producción','Finalizando'))
	BEGIN
	 SET @ICWO = 1
	END
	ELSE
	BEGIN
		SELECT 
			@CANTIDAD_PALETS_PALETIZADORA = COALESCE(SUM(Consolidacion.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
		LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
		WHERE Consolidacion.ID_PARTICION = @id_wo AND ML.Clase = @CLASE
		AND SHC_WORK_SCHED_DAY_PK > 0
		GROUP BY ID_PARTICION

		SELECT 
			@CANTIDAD_ENVASES_LLENADORA = COALESCE(SUM(COBLLE.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_LLENADORA_HORA AS COBLLE
		WHERE COBLLE.ID_PARTICION = @id_wo
		AND SHC_WORK_SCHED_DAY_PK > 0
		GROUP BY ID_PARTICION
	
		SELECT @CANTIDAD_PICOS_CAJAS = COALESCE(SUM(Cantidad),0), @NumPaletsdePicos = COUNT(IdParticion)
		FROM dbo.Picos
		WHERE IdParticion = @id_wo
	
		SELECT @CANTIDAD_ENVASES_NO_CONFORMIDAD = COALESCE(SUM(CANTIDAD_ENVASES),0)
		FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
		WHERE SHC_WORK_SCHED_DAY_PK > 0
		AND ID_PARTICION = @id_wo

		SET @ENVASES_PALETIZADORA_WO = (@CANTIDAD_PALETS_PALETIZADORA - @NumPaletsdePicos) * @EnvasesPorPalet;
	
		SET @ENVASES_PICOS_WO = @CANTIDAD_PICOS_CAJAS * COALESCE(@EnvasesPorPalet/NULLIF(@CajasPorPalet,0),0);
	
		SET @ICWO = COALESCE((@ENVASES_PALETIZADORA_WO + @ENVASES_PICOS_WO - @CANTIDAD_ENVASES_NO_CONFORMIDAD) /CONVERT(FLOAT,NULLIF(@CANTIDAD_ENVASES_LLENADORA,0)),0);
	END
	RETURN @ICWO
END
GO
