USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_EtiquetasMESJDE_ObtenerParticionLinea]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Tomás Hidalgo
-- Create date: 04/04/2018
-- Description:	Función para obtener la partición a la que corresponde una etiqueta 
-- =============================================
CREATE FUNCTION [dbo].[MES_EtiquetasMESJDE_ObtenerParticionLinea] 
(
	-- Add the parameters for the function here
	@FechaEtiqueta DATETIME = '1900-01-01 00:00:00',
	@Producto NVARCHAR(50),
	@Linea NVARCHAR(50)
)
RETURNS NVARCHAR(100)
AS
BEGIN

	-- Declare the return variable here
	DECLARE @Particion AS NVARCHAR(100) = ''

	-- Add the T-SQL statements to compute the return value here
	
	-- Obtenemos la partición activa para la fecha, producto y etiquetadora
	SET @Particion = (
	
	SELECT TOP 1 ID_PARTICION FROM [dbo].[COB_MSM_PROD_RESTO_MAQ_HORA] P
	INNER JOIN [dbo].[MaquinasLineas] M ON P.ID_MAQUINA = M.Id
	INNER JOIN [dbo].[COB_MSM_LINEAS] L ON M.NumLinea = L.ID_LINEA
	INNER JOIN [dbo].[Ordenes] O ON P.ID_ORDEN = O.Id
	WHERE M.Clase = 'ETIQUETADORA_PALETS'
	AND L.NUM_LINEA = @Linea
	AND O.IdProducto = @Producto
	AND P.FECHA_INICIO >= DATEADD(day, -1,@FechaEtiqueta)
	AND P.FECHA_FIN <= DATEADD(hour,1,@FechaEtiqueta) 
	ORDER BY FECHA_INICIO DESC
	
	)

	-- Return the result of the function
	RETURN ISNULL(@Particion,'')

END
GO
