USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetHistoricKopDate]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MES_GetHistoricKopDate] 
(	
	@tag varchar(max),
	@value float
)
RETURNS datetime
AS
BEGIN
	declare @date as datetime;

	SELECT Distinct @date=Min(RowUpdated)
	FROM
	(SELECT [TagID],[Value],RowUpdated
	 FROM [PPA].[dbo].[RPT_MGR_REALTIMEINTArchive] 
	 WHERE [TagID] in (SELECT [TagID] FROM [PPA].[dbo].[TAG]
					 WHERE [TagName] like '%'+@tag) AND Value between @value - 5 AND  @value + 5																													
	 UNION ALL					
	 SELECT [TagID],[Value],RowUpdated
	 FROM [PPA].[dbo].[RPT_MGR_REALTIMEFLOATArchive] 
	 WHERE [TagID] in (SELECT [TagID] FROM [PPA].[dbo].[TAG]
					 WHERE [TagName] like '%'+@tag) AND Value between @value - 5 AND  @value + 5)aux

return @date
END
GO
