USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getFechaTurno]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- 
CREATE FUNCTION [dbo].[getFechaTurno]
(
	-- Add the parameters for the function here
	@Fecha date,
	@Linea varchar(100),
	@Tipo varchar(3),
	@Turno varchar(20)
)
RETURNS datetime
AS
BEGIN
	declare @idTipoTurno int
	declare @FechaInicio datetime
	declare @FechaFin datetime

	declare @FechaDevolver datetime

	SELECT @idTipoTurno = ISNULL(Id,0)
	FROM [MES_MSM].[dbo].[TiposTurno]
	WHERE Nombre = @Turno



Select @FechaInicio = [InicioTurno], @Fechafin = [FinTurno]
From Turnos
Where Linea = @Linea and idTipoTurno = @IdTipoTurno and convert(date, Fecha)=@Fecha

IF @Tipo ='Ini'
BEGIN
set @FechaDevolver =  @FechaInicio
END
ELSE
BEGIN
set @FechaDevolver = @Fechafin
END

return @FechaDevolver
END
GO
