USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetItemsInActiveFiltrationMaxId]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetItemsInActiveFiltrationMaxId]()
RETURNS Bigint
AS
BEGIN
	declare @value as bigint
	SELECT @value=Coalesce(max(id),0) FROM ItemsInActiveFiltration
	RETURN @value
END
GO
