USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFieldsCOB]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[GetFieldsCOB](@tempCompleteName nvarchar(max))
returns nvarchar(max)
begin
	declare @fields nvarchar(max)
	set @fields = ''''

	SELECT @fields = @fields + 'REPLACE(REPLACE('+COLUMN_NAME+',CHAR(10),''''''''),CHAR(13),'''''''') as '+ COLUMN_NAME + ','
	FROM SITMesDb.INFORMATION_SCHEMA.COLUMNS SIT			
	WHERE TABLE_CATALOG = 'sitMesDb' and TABLE_NAME = @tempCompleteName and COLUMN_NAME NOT LIKE '$%'

	set @fields = SubString(@fields,0,Len(@fields));
	return @fields
end
GO
