USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[JDE_ObtenerNuevoCodigo3]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[JDE_ObtenerNuevoCodigo3]
(
	-- Add the parameters for the function here
	@codBase varchar(50)
)
RETURNS varchar
AS
BEGIN
	-- Declare the return variable here
	DECLARE @codigo varchar;

	SELECT @codigo = (SELECT TOP 1 REPLACE(pom_order_id,@codBase,'') FROM SITMesDB.dbo.POM_ORDER 
	WHERE pom_order_id like @codBase + '%' and  pom_order_id not like @codBase + '%.%'
	ORDER BY cast(REPLACE(pom_order_id,@codBase,'')as int) desc);


	RETURN @codigo + 1

END

GO
