USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GregorianoToJuliano]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GregorianoToJuliano] 
(
	-- Add the parameters for the function here
	-- INFORMACIÓN: a partir del día Gregoriano devuelva el día Juliano
	@Gregoriano as datetime
)
RETURNS int
AS
BEGIN
	
	RETURN CONVERT(VARCHAR, datepart(yy,@Gregoriano)-1900) + CASE WHEN datepart(dy,@Gregoriano) < 10 THEN CONVERT(VARCHAR , 0) + CONVERT(VARCHAR , 0) + CONVERT(VARCHAR , datepart(dy,@Gregoriano)) WHEN datepart(dy,@Gregoriano) < 100 and datepart(dy,@Gregoriano) > 9 THEN CONVERT(VARCHAR , 0) + CONVERT(VARCHAR , datepart(dy,@Gregoriano)) ELSE CONVERT(VARCHAR , datepart(dy,@Gregoriano)) END

END
GO
