USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ValidarKOPSConstantesPorOrdenSinRellenar]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ValidarKOPSConstantesPorOrdenSinRellenar]
(
	@OrderId AS NVARCHAR(100)
)
RETURNS INT
BEGIN
	
	DECLARE @result AS BIT = 0;
	
   -- 1. Se guarda en una tabla Custom los valores de los KOPS 
	DECLARE @CantFueraDeRango INT;

	SELECT 
		@CantFueraDeRango = Count(*)
   FROM 
		SITmesDB.dbo.POMV_ETRY_PCS_PARM KOPS
		LEFT JOIN SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL VALUESKOPS ON VALUESKOPS.PARM_PK = KOPS.pom_process_segment_parameter_pk
	WHERE 
		(VALUESKOPS.[ACTL_VAL] = '' OR VALUESKOPS.[ACTL_VAL] IS NULL)
		AND 
		(KOPS.[NAME] NOT LIKE '#%')
		AND (KOPS.GRP NOT IN ('HISTORICO', 'MULTIVALOR'))
		AND KOPS.pom_order_id = @OrderId

	IF(@CantFueraDeRango > 0)
		SET @result = 1

	RETURN @result;

END
GO
