USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetHectolitrosProducto]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetHectolitrosProducto]
(
	-- Add the parameters for the function here
	@producto nvarchar(20)
)
RETURNS numeric(16,6)
AS
BEGIN
	DECLARE @HL as numeric(16,6);

	WITH ItemMaterials (PartNo,ComponentPartNo, UomName, Quantity)
	AS
	(
		SELECT PartNo,ComponentPartNo, UomName, Quantity
		FROM INTERSPEC.[MSMIS].[INTERSPC].[ItBomItem]
		WHERE PartNo = @producto AND Revision = dbo.f_get_att_rev(PartNo,null)
		UNION ALL
		SELECT itb.PartNo, itb.ComponentPartNo, itb.UomName, itb.Quantity
		FROM INTERSPEC.[MSMIS].[INTERSPC].[ItBomItem] itb
		INNER JOIN ItemMaterials p on p.ComponentPartNo = itb.PartNo
		WHERE Revision = dbo.f_get_att_rev(itb.PartNo,null)
	)

	select @HL = COALESCE(Quantity, 0) from ItemMaterials
	where LOWER(UomName) = 'hl'
	
	RETURN @HL
END
GO
