USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerSiWOEstaHaciendoConsolidados]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ObtenerSiWOEstaHaciendoConsolidados]
(
	@woId AS varchar(200)
)
RETURNS INT
BEGIN
	--RETURN 1 SI esta bloqueada / 0 SI No tiene ningun consolidado
	DECLARE @result AS INT = 0;
	--Miramos si tiene el campo WO_STATUS_CHANGE_ONGOING esta a 0 y su fecha  WO_STATUS_CHANGE_ONGOING_FECHA hace menos de 5 minutos
	--ponemos la seguridad de 5 minutos por si se ha quedado bloqueada la regla así puede registrar
	select @result = count(p1.POM_CUSTOM_FLD_NAME)   
	from SITMesDB.[dbo].[POMV_ORDR_PRP] p1 inner join SITMesDB.[dbo].[POMV_ORDR_PRP] p2 on p1.pom_order_id = p2.pom_order_id
	WHERE p1.pom_order_id = @woId 
	and p1.pom_custom_fld_name = 'WO_STATUS_CHANGE_ONGOING'  and p2.pom_custom_fld_name = 'WO_STATUS_CHANGE_ONGOING_FECHA'  
	and DATEDIFF(minute, cast(p2.val as datetime), getutcdate()) < 5
	and p1.VAL = 1

	RETURN @Result;

END
GO
