USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPFueraDeRango]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPFueraDeRango]
(
	@OrderId AS INT,
	@KopId AS INT
)
RETURNS INT
BEGIN
	
	DECLARE @result AS BIT = 0;
	DECLARE @KOPS TABLE(
						CodKOP INT,
						ValorActualNumerico NUMERIC(10, 2),
						ValorMinimoNumerico NUMERIC(10, 2),
						ValorMaximoNumerico NUMERIC(10, 2),
						ValorActualFecha DATETIME NULL,
						ValorMinimoFecha DATETIME NULL,
						ValorMaximoFecha DATETIME NULL,
						Tipo NVARCHAR(10)
					)

   -- 1. Se guarda en una tabla Custom los valores de los KOPS 
	INSERT INTO @KOPS
	SELECT 
		KOP_CFG.IdObj,
		CASE WHEN ISNUMERIC(KOP_VAL.Valor) = 1     AND LOWER(KOP_DEF.DataType) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),KOP_VAL.Valor) ELSE NULL END, 
		CASE WHEN ISNUMERIC(KOP_CFG.Min_Value) = 1 AND LOWER(KOP_DEF.DataType) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),KOP_CFG.Min_Value) ELSE NULL END, 
		CASE WHEN ISNUMERIC(KOP_CFG.Max_Value) = 1 AND LOWER(KOP_DEF.DataType) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),KOP_CFG.Max_Value) ELSE NULL END, 
		CASE WHEN ISDATE(KOP_VAL.Valor) = 1     AND LOWER(KOP_DEF.DataType) IN ('datetime','fecha') THEN CAST(KOP_VAL.Valor AS DATETIME) ELSE NULL END, 
		CASE WHEN ISDATE(KOP_CFG.Min_Value) = 1 AND LOWER(KOP_DEF.DataType) IN ('datetime','fecha') THEN CAST(KOP_CFG.Min_Value AS DATETIME) ELSE NULL END, 
		CASE WHEN ISDATE(KOP_CFG.Max_Value) = 1 AND LOWER(KOP_DEF.DataType) IN ('datetime','fecha') THEN CAST(KOP_CFG.Max_Value AS DATETIME) ELSE NULL END, 
		KOP_DEF.DataType
   FROM 
		dbo.[COB_MSM_CURVAS_KOP_VAL] KOP_VAL
	INNER JOIN dbo.[COB_MSM_CURVAS_KOP_CFG] KOP_CFG  ON KOP_CFG.OrderID = KOP_VAL.OrderID AND KOP_CFG.KopID = KOP_VAL.KopID
	INNER JOIN dbo.[COB_MSM_CURVAS_KOP_DEF] KOP_DEF ON KOP_CFG.OrderID = KOP_DEF.OrderID AND KOP_DEF.KopID = KOP_CFG.KopID
	WHERE 
		KOP_DEF.KopID		= KOP_CFG.KopID
		AND KOP_VAL.[Index] = KOP_CFG.[Index]
		AND KOP_VAL.KopID	= KOP_CFG.KopID
		AND KOP_VAL.Valor <> '' 
		AND KOP_VAL.Valor IS NOT NULL
		AND KOP_VAL.OrderID = @OrderId
		AND KOP_VAL.KopID = @KopId
    
	DECLARE @CantFueraDeRango INT;
	SET @CantFueraDeRango = 0

	-- 2.  Se valida si los valores estan fuera del rango
    SELECT 
		@CantFueraDeRango = COUNT(*)
	FROM
		@KOPS KOPS
	WHERE 
		((KOPS.ValorActualNumerico <	KOPS.ValorMinimoNumerico OR KOPS.ValorActualNumerico >	KOPS.ValorMaximoNumerico) AND LOWER(KOPS.Tipo) IN ('número','numero','float','number'))
		OR
		((KOPS.ValorActualFecha < ValorMinimoFecha OR KOPS.ValorActualFecha > ValorMaximoFecha) AND LOWER(KOPS.Tipo) IN ('datetime','fecha'))

	IF(@CantFueraDeRango > 0)
		SET @Result = 1


	RETURN @Result;

END
GO
