USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getAntesTurnoInicio]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getAntesTurnoInicio] 
(
	@fecha bigint,
	@tipoturno int
)
RETURNS DateTime
AS
BEGIN
DECLARE @VALUE AS DateTime
IF EXISTS (SELECT InicioTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno)
SELECT @VALUE = InicioTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno
ELSE
BEGIN
SELECT  TOP 1 @VALUE = InicioTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) < @fecha order by InicioTurno  desc
END
	RETURN @VALUE
END
GO
