USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerSiEsArranqueOCambio]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[MES_ObtenerSiEsArranqueOCambio]
(
	@lineaPath AS varchar(200)
)
RETURNS INT
BEGIN
	--RETURN 1 SI CAMBIO / 0 SI ARRANQUE
	DECLARE @HORAS_ARRAQUE AS FLOAT
	DECLARE @FECHAINICIO AS DATETIME
	DECLARE @FECHAFIN AS DATETIME
	DECLARE @NUM_WO AS INT
	DECLARE @NUM_TURNO AS INT
	SET @FECHAFIN = GETUTCDATE()
	SET @HORAS_ARRAQUE = 3
	SELECT @HORAS_ARRAQUE = [VALOR_FLOAT]
	FROM [MES_MSM].[dbo].[ParametrosPlanta_Admin] p inner join dbo.Lineas l on p.IdLinea = l.NumeroLinea and l.Id = @lineaPath
	where IdParametro = 15

	-- LA FECHA DE INICIO A REVISAR SERÁ LA ACTUAL MENOS EL PARÁMETRO DE LÍNEA.
	SELECT @FECHAINICIO = DATEADD(MINUTE, -CAST(@HORAS_ARRAQUE*60 AS INT), @FECHAFIN)
	
	--Comprobamos que no tegamos ninguna WO en las ultimas horas en los consolidados O no tengamos ningun registro planificado.
	select @NUM_WO = COUNT(id_orden)   
	from COB_MSM_PROD_LLENADORA_HORA 
	WHERE ID_MAQUINA LIKE @lineaPath + '%'
	AND ((@FECHAINICIO <= FECHA_INICIO AND FECHA_FIN <= GETUTCDATE())
	OR (FECHA_INICIO < @FECHAINICIO AND FECHA_FIN >= @FECHAINICIO ))
	AND (ID_ORDEN <> '' and CONTADOR_PRODUCCION > 0)
	
	IF @NUM_WO > 0	
		RETURN 1
	--como los consolidados horarios de llenadora no revisa si hubiera alguna orden actualmente que cuando llegue a llenadora va a provocar un arranque
	--revisamos las ordenes acticas en las zonas si alguna va a generar un arranque
	declare @numLinea int
	select @numLinea = l.NumeroLinea from dbo.Lineas l where l.id = @lineaPath
	
	select @NUM_WO = count( VAL) from
		SITMesDB.[dbo].[POMV_ORDR_PRP]
	WHERE 
	pom_custom_fld_name = 'CAMBIO_ARRANQ_TIPO' and val = '0' 
	and pom_order_id in (select ORDER_ID  from dbo.COB_MSM_ZONAS z where z.FK_LINEAS_ID = @numLinea and z.PERMITE_PRODUCCION = 0) -- revisamos sólo en las zonas distintas a la paletizadora
	and pom_order_id not in (select ORDER_ID  from dbo.COB_MSM_ZONAS z where z.FK_LINEAS_ID = @numLinea and z.PERMITE_PRODUCCION = 1) 
	IF @NUM_WO > 0	
		RETURN 1
	--------------------------

	

	RETURN 0;

END
GO
