USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[quotestring]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[quotestring](@str nvarchar(MAX)) RETURNS nvarchar(MAX) AS
BEGIN
	-- Referencia: http://www.sommarskog.se/share_data.html#OUTPUT
	DECLARE @ret nvarchar(MAX),
           @sq  char(1)
	SELECT @sq = ''''
	SELECT @ret = replace(@str, @sq, @sq + @sq)
	RETURN(@sq + @ret + @sq)
END
GO
