USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerLocationPathUbicacion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_ObtenerLocationPathUbicacion]
(
	@idUbicacion INT
)
RETURNS nvarchar(255)
AS
BEGIN
	DECLARE @Loc AS NVARCHAR(MAX);

	SELECT @Loc = IdUbicacionLinkMes
	FROM [MES_MSM_Trazabilidad].[UBI].[tUbicacion]
	WHERE IdUbicacion = @idUbicacion

	RETURN @Loc;
END
GO
