USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[JulianoToGregoriano]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[JulianoToGregoriano] 
(
	-- Add the parameters for the function here
	@Juliano as int
)
RETURNS datetime
AS
BEGIN
	RETURN  DateAdd (d, @Juliano - ((@Juliano / 1000) * 1000), convert(datetime, str((@Juliano / 1000) + 1900 ) + '0101')) - 1 
END
GO
