USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerEquipoOrdenFabricacion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_ObtenerEquipoOrdenFabricacion]
(
	@ordenId nvarchar(20), 
	@tipo nvarchar(10)
)
RETURNS nvarchar(200)
AS
BEGIN
	DECLARE @Equipo NVARCHAR(200);
	
	SELECT
		@Equipo = PomEntry.equip_long_name
	FROM
		SitMesDb.dbo.POMV_ETRY PomEntry
	WHERE 
		(CAST(PomEntry.pom_order_pk as nvarchar(20)) = @ordenId AND @tipo IN ('FE','GU','PR','WP','FL') AND PomEntry.BATCH_ID IS NULL AND LBL NOT LIKE 'Aux%')
		OR
		(PomEntry.pom_order_id = @ordenId AND @tipo IN ('TR') AND PomEntry.[sequence] = 2)
	RETURN @Equipo;									   
END
GO
