USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPackingArticleFromJDE_inter]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE function[dbo].[GetPackingArticleFromJDE_inter](@CodArticle nvarchar(max))
returns nvarchar(max)
as
BEGIN
	
	declare  @cod_art as nvarchar(max)
	select   @cod_art =  Cerveza_Envasar + '-' + article.Description + '-' + id_TipoFormato
			from  [INTERSPEC].[MSMIS].[dbo].[VISUnidadExpedicion] BOM (NOLOCK)
				inner  JOIN [INTERSPEC].[MSMIS].[INTERSPC].ItSh article (NOLOCK)
				ON    article.PartNo=Bom.Cerveza_Envasar
			where CodigoExpedicion = @CodArticle
			 and Status = 4
			
	return @cod_art
END
GO
