USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerNombrePlanta]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
create FUNCTION [dbo].[MES_ObtenerNombrePlanta]
(
)
RETURNS NVARCHAR(200)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Planta NVARCHAR(200);

	SELECT TOP  1 @Planta = EQUIP_NAME FROM [SITMesDB].[dbo].[BPM_EQUIPMENT] E
	INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_CLASS] C
	ON E.[equip_class_lvl_pk] = C.[equip_class_lvl_pk]
	WHERE EQUIP_CLASS_NAME = 'SITE' 



	RETURN @Planta

END
GO
