USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getDespuesTurnoID]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDespuesTurnoID] 
(
	@fecha bigint,
	@tipoturno int,
	@linea varchar(100)
)
RETURNS INT
AS
BEGIN
DECLARE @VALUE AS INT
IF EXISTS (SELECT ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno and Linea = @linea)
SELECT @VALUE =ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno and Linea = @linea
ELSE
BEGIN
SELECT  TOP 1 @VALUE = ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) > @fecha and Linea = @linea order by Fecha, IdTipoTurno asc
END
	RETURN @VALUE
END
GO
