USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetTiempoCambioMedioPreactor]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetTiempoCambioMedioPreactor]
(
	@numLinea INT, @idProductoEntrante NVARCHAR(100), @idProductoSaliente NVARCHAR(100)
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @IdParamCambio INT = 2;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 2 => 'Número de cambios para el cálculo de los tiempos medios'
	DECLARE @ParamCambio INT;
	DECLARE @TiempoCambioObjetivo INT;
	DECLARE @PorcentajeInferiorId INT = 9;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 9 => 'Porcentaje inferior tiempo cambio Preactor'
	DECLARE @PorcentajeInferior FLOAT;
	DECLARE @PorcentajeSuperiorId INT = 8;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 8 => 'Porcentaje superior tiempo cambio Preactor'
	DECLARE @PorcentajeSuperior FLOAT;
	DECLARE @TiempoCambioObjetivoMedio INT;

	-- Add the T-SQL statements to compute the return value here
	SELECT @ParamCambio = VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamCambio AND FK_LINEA_ID = @numLinea

	-- CAMBIO EN EL TIEMPO OBJETIVO A TIEMPO PREACTOR
	SELECT @TiempoCambioObjetivo = TIEMPO_PREACTOR * 60
	FROM COB_MSM_TIEMPOS_CAMBIOS
	WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND 
		ID_PRODUCTO_SALIENTE = @idProductoSaliente AND INHABILITAR_CALCULO = 0

	SELECT @PorcentajeInferior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeInferiorId AND FK_LINEA_ID = @numLinea

	SELECT @PorcentajeSuperior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeSuperiorId AND FK_LINEA_ID = @numLinea

	SET @PorcentajeSuperior = (@PorcentajeSuperior * @TiempoCambioObjetivo) / 100
	SET @PorcentajeInferior = (@PorcentajeInferior * @TiempoCambioObjetivo) / 100

	SELECT @TiempoCambioObjetivoMedio = COALESCE(CONVERT(INT,AVG(TIEMPO_CAMBIO_2)/60),0)
	--SELECT @TiempoCambioObjetivoMedio = CONVERT(INT,AVG(TIEMPO_CAMBIO_2)/60)
	FROM
	(SELECT TOP (@ParamCambio)  
		CONVERT(FLOAT,TIEMPO_CAMBIO_2) AS TIEMPO_CAMBIO_2 
		--CONVERT(FLOAT,COALESCE(TIEMPO_CAMBIO_2, 0)) AS TIEMPO_CAMBIO_2 
	--,Ordenes.pom_order_id, Ordenes.actual_start_time AS FecIniReal,Ordenes.actual_end_time AS FecFinReal, OrdenPadre.Orden as OrdenEntrante
	FROM  SITMesDB.dbo.POMV_ORDR AS Ordenes 
	INNER JOIN dbo.COB_MSM_LINEAS AS Lineas ON Lineas.LINEA = Ordenes.equip_long_name 
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_1,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				WHERE pom_custom_fld_name = 'TIEMPO_1' AND pom_order_id like '%OC%') AS Tiempo1 ON Tiempo1.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_2,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				WHERE pom_custom_fld_name = 'TIEMPO_2' AND pom_order_id like '%OC%') AS Tiempo2 ON Tiempo2.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN (SELECT VAL as Orden,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
	--			WHERE pom_custom_fld_name = 'CMB_WO_1') AS OrdenArr ON OrdenArr.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN (SELECT VAL as Orden,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
	--			WHERE pom_custom_fld_name = 'WO_ID_MASTER') AS OrdenPadre ON OrdenArr.Orden = OrdenPadre.pom_order_id
	LEFT JOIN (SELECT p.Nombre,p.IdProducto,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				INNER JOIN dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP.VAL
				WHERE pom_custom_fld_name = 'CMB_MATERIAL_1') AS ProdSal ON ProdSal.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT p.Nombre,p.IdProducto,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP 
				INNER JOIN dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP.VAL
				WHERE pom_custom_fld_name = 'CMB_MATERIAL_2') AS ProdEnt ON ProdEnt.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN SITMesDB.dbo.POMV_ORDR OrdenesPadres on OrdenPadre.Orden =  OrdenesPadres.pom_order_id
	WHERE 
		Ordenes.pom_order_type_id IN ('WO_ENV_CMB','WO_ENVASADO_CAMBIO') 
		AND ProdEnt.IdProducto = @idProductoEntrante 
		AND ProdSal.IdProducto = @idProductoSaliente 
		AND Ordenes.pom_order_status_id IN ('Cerrada') 
		AND Lineas.ID_LINEA = @numLinea 
		AND CONVERT(FLOAT,TIEMPO_CAMBIO_2) BETWEEN (@TiempoCambioObjetivo - @PorcentajeInferior) AND (@TiempoCambioObjetivo + @PorcentajeSuperior)
	ORDER BY Ordenes.actual_start_time desc) AS TiemposCambio

	RETURN @TiempoCambioObjetivoMedio;
END
GO
