USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getTurnoID]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getTurnoID] 
(
	@fecha bigint,
	@tipoturno int
)
RETURNS INT
AS
BEGIN
DECLARE @VALUE AS INT
IF EXISTS (SELECT ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno)
SELECT @VALUE =ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) = @fecha  AND IdTipoTurno= @tipoturno
ELSE
BEGIN
SELECT  TOP 1 @VALUE = ID_Ordenado_Turno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',CONVERT(DATE,Fecha)) > @fecha order by Fecha, IdTipoTurno asc
END
	RETURN @VALUE
END
GO
