USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetTiempoVaciadoLinea]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MES_GetTiempoVaciadoLinea] 
(
	@idTurno AS INT,
	@numLinea AS INT
)
RETURNS INT
AS
BEGIN
	DECLARE @IdParamtTiempoVaciadoTren INT = 14;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 4 => 'Tiempo para considerar vaciado tren'
	DECLARE @ParamtTiempoVaciadoTren INT;
	DECLARE @TIEMPO_VACIADO_TREN AS INT = NULL;

	SELECT @ParamtTiempoVaciadoTren = VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamtTiempoVaciadoTren AND FK_LINEA_ID = @numLinea

	IF(@idTurno = 0)
	BEGIN
		SET @TIEMPO_VACIADO_TREN = @ParamtTiempoVaciadoTren;
	END
	ELSE
		BEGIN
		SELECT @TIEMPO_VACIADO_TREN = TiempoVaciadoTren 
		FROM dbo.ConsolidadoTurnos
		WHERE SHC_WORK_SCHED_DAY_PK = @idTurno
		ORDER BY FechaModifRecalculoIC
	
		IF(@TIEMPO_VACIADO_TREN IS NULL)
		BEGIN
			SET @TIEMPO_VACIADO_TREN = @ParamtTiempoVaciadoTren;
		END	
	END

	RETURN @TIEMPO_VACIADO_TREN
END
GO
