USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetMostoFromEnvasado]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function[dbo].[GetMostoFromEnvasado](@CodArticle nvarchar(max),@Condition nvarchar(max),@Condition2 nvarchar(max))
returns nvarchar(max)
as
BEGIN
	Declare @article nvarchar(max)
	Declare @description nvarchar(max) 
	Declare @envasada nvarchar(max)
	Declare @Cont int
	Declare @aux nvarchar(max)

	set @aux = ''
	Declare c cursor for
		SELECT Distinct Bom.DefID,article.Descript,
		CASE WHEN (Cast(propV.PValue as nvarchar(max)) = @Condition) OR (Cast(propV.PValue as nvarchar(max)) = @Condition2)  THEN 'True' ELSE 'False' END Envasado
		FROM (SELECT distinct opBom.BomAltDefID,opBom.DefID
			  FROM [SITMesDB].dbo.[MTMV2_BOM_ITM_ALT] opBom 
			  WHERE opBom.BomAltDefID = @CodArticle) Bom
		LEFT JOIN [SITMesDB].dbo.[MTMV2_B_DEF] article on article.DefID=Bom.DefID
		LEFT JOIN [SITMesDB].[dbo].[MMProperties] Prop on Prop.PropertyID = 'Subclase_codigo'
		LEFT JOIN  [SITMesDB].[dbo].[MMwDefVerPrpVals] propV on propV.DefID=article.DefID and propV.PropertyPK=Prop.PropertyPK
		WHERE ClassID in ('MOS','CZA')
	open c
	fetch from c into  @article,@description,@envasada 
	WHILE @@FETCH_STATUS = 0 
	begin
		IF (SELECT distinct count(opBom.BomAltDefID)
			FROM [SITMesDB].dbo.[MTMV2_BOM_ITM_ALT] opBom 
			WHERE opBom.BomAltDefID = @article) = 0
		BEGIN
			fetch from c into  @article,@description,@envasada
			Continue
		END

		IF @envasada NOT LIKE 'True'
		BEGIN			
			select @aux = [dbo].[GetMostoFromEnvasado](@article,@Condition,@Condition2)
			if @aux <> '' 
			begin
				return @aux
			end
		END
		ELSE
		BEGIN
			set @aux = @article +'-'+@description
			Break			
		END
		fetch from c into  @article,@description,@envasada		
	end
	close c
	deallocate c	
	return @aux	
END
GO
