USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerCodigoNuevaWOPreparacion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ObtenerCodigoNuevaWOPreparacion]
(
	@TipoOrdenPrep AS INT
)
RETURNS NVARCHAR(16)
BEGIN
	DECLARE @Tipo AS NVARCHAR(1);
	DECLARE @Id AS NVARCHAR(16);
	DECLARE @NumbOrders AS INT;

	SELECT @Tipo = LEFT(NOMBRE,1) FROM [dbo].[COB_MSM_TIPO_ORDEN_PREP]
	where ID_TIPO_ORDEN = @TipoOrdenPrep

	SET @Id = 'O'+@Tipo+'-PREP-'+ right(year(getdate()),2) + '-'

	SELECT @NumbOrders = COUNT(ID_ORDEN)
	FROM [dbo].[COB_MSM_ORDEN_PREPARACION] 
	WHERE ID_ORDEN LIKE @Id + '%'
		
	SET @NumbOrders = @NumbOrders + 1;
	RETURN @Id + RIGHT(REPLICATE('0', 5) + CAST(@NumbOrders AS NVARCHAR(10)), 5)
END
GO
