USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerContadorProduccionWO]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 14-05-2020
-- Description:	Se obtiene de la maquina solicitada la suma del contador de producción desde el inicio de la WO 
-- =============================================
CREATE FUNCTION [dbo].[MES_ObtenerContadorProduccionWO]
(
	@idMaquina nvarchar(255)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @contador int

	IF @idMaquina LIKE '%-LLE%'
	BEGIN
		SELECT @contador = COALESCE(SUM(L.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_LLENADORA_HORA L
		LEFT JOIN Maquinas M ON M.Id = L.ID_MAQUINA
		LEFT JOIN MaquinasOrdenes O ON O.PkEquipo = M.PkEquipo
		WHERE ID_MAQUINA = @idMaquina AND L.ID_PARTICION = O.Orden AND L.SHC_WORK_SCHED_DAY_PK != 0
	END
	ELSE
	BEGIN
		SELECT @contador = COALESCE(SUM(R.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_RESTO_MAQ_HORA R
		LEFT JOIN Maquinas M ON M.Id = R.ID_MAQUINA
		LEFT JOIN MaquinasOrdenes O ON O.PkEquipo = M.PkEquipo
		WHERE ID_MAQUINA = @idMaquina AND R.ID_PARTICION = O.Orden AND R.SHC_WORK_SCHED_DAY_PK != 0
	END

	-- Return the result of the function
	RETURN @contador

END
GO
