USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetOEEParticion]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_GetOEEParticion]
(
	-- Add the parameters for the function here
	@id_wo nvarchar(101)
)
RETURNS FLOAT
AS
BEGIN

	DECLARE @OEE as FLOAT;	
	DECLARE @IC AS FLOAT;
	DECLARE @idLinea NVARCHAR(50);
	DECLARE @grupo NVARCHAR(10);

	SET @IC = [dbo].[MES_GetICParticion](@id_wo)
	SELECT @idLinea = Linea FROM dbo.Particiones WHERE Id = @id_wo
	SELECT @grupo = Grupo FROM dbo.Lineas WHERE Id = @idLinea

	IF (@IC > 1 AND @grupo IS NULL)
	BEGIN
	  SET @IC = 1
	END

	SET @OEE = ( [dbo].[MES_GetRendimientoParticion](@id_wo) * @IC ) * 100

	RETURN @OEE
END
GO
