USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetTiempoArranqueMedioPreactor]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetTiempoArranqueMedioPreactor]
(
	@numLinea INT, @idProductoEntrante NVARCHAR(100), @TipoArranque INT
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @IdParamArranque INT = 3;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 3 => 'Número de arranques para el cálculo de los tiempos medios'
	DECLARE @ParamArranque INT;
	DECLARE @TiempoArranqueObjetivo INT;
	DECLARE @PorcentajeInferiorId INT = 11;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 11 => 'Porcentaje inferior tiempo arranque Preactor'
	DECLARE @PorcentajeInferior FLOAT;
	DECLARE @PorcentajeSuperiorId INT = 10;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 10 => 'Porcentaje superior tiempo arranque Preactor'
	DECLARE @PorcentajeSuperior FLOAT;
	DECLARE @TiempoArranqueObjetivoMedio INT;

	-- Add the T-SQL statements to compute the return value here
	SELECT @ParamArranque = VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamArranque AND FK_LINEA_ID = @numLinea

	-- CAMBIO EN EL TIEMPO OBJETIVO A TIEMPO PREACTOR
	SELECT @TiempoArranqueObjetivo = TIEMPO_PREACTOR * 60
	FROM COB_MSM_TIEMPOS_ARRANQUES 
	WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND 
		FK_ARRANQUES_ID = @TipoArranque AND INHABILITAR_CALCULO = 0

	SELECT @PorcentajeInferior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeInferiorId AND FK_LINEA_ID = @numLinea

	SELECT @PorcentajeSuperior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeSuperiorId AND FK_LINEA_ID = @numLinea

	SET @PorcentajeSuperior = (@PorcentajeSuperior * @TiempoArranqueObjetivo) / 100
	SET @PorcentajeInferior = (@PorcentajeInferior * @TiempoArranqueObjetivo) / 100

	SELECT @TiempoArranqueObjetivoMedio = COALESCE(CONVERT(INT,AVG(TIEMPO_CAMBIO_2)/60), 0)
	--SELECT @TiempoArranqueObjetivoMedio = CONVERT(INT,AVG(TIEMPO_CAMBIO_2)/60)
	FROM
	(SELECT TOP (@ParamArranque) 
		CONVERT(FLOAT,TIEMPO_CAMBIO_2) AS TIEMPO_CAMBIO_2 
		--CONVERT(FLOAT,COALESCE(TIEMPO_CAMBIO_2, 0)) AS TIEMPO_CAMBIO_2 
	--,Ordenes.pom_order_id, Ordenes.actual_start_time AS FecIniReal,Ordenes.actual_end_time AS FecFinReal, OrdenPadre.Orden as OrdenEntrante
	FROM  SITMesDB.dbo.POMV_ORDR AS Ordenes 
	INNER JOIN dbo.COB_MSM_LINEAS AS Lineas ON Lineas.LINEA = Ordenes.equip_long_name 
	INNER JOIN ( SELECT VAL AS TipoArranque, pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP 
				WHERE pom_custom_fld_name = 'ARRANQUE_ID') TB ON TB.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT p.Nombre,p.IdProducto,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				INNER JOIN dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP.VAL
				WHERE pom_custom_fld_name = 'CMB_MATERIAL_1') AS ProdEnt ON ProdEnt.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_1,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				WHERE pom_custom_fld_name = 'TIEMPO_1' AND pom_order_id like '%OA%') AS Tiempo1 ON Tiempo1.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_2,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP 
				WHERE pom_custom_fld_name = 'TIEMPO_2' AND pom_order_id like '%OA%') AS Tiempo2 ON Tiempo2.pom_order_id = Ordenes.pom_order_id	
	WHERE 
		ProdEnt.IdProducto = @idProductoEntrante 
		AND Ordenes.pom_order_status_id IN ('Cerrada') 
		AND Lineas.ID_LINEA = @numLinea 
		AND CONVERT(INT,TB.TipoArranque) = @TipoArranque 
		AND CONVERT(FLOAT,TIEMPO_CAMBIO_2) BETWEEN (@TiempoArranqueObjetivo - @PorcentajeInferior) AND (@TiempoArranqueObjetivo + @PorcentajeSuperior)
	ORDER BY Ordenes.actual_start_time desc) AS TiemposArranque
		
	RETURN @TiempoArranqueObjetivoMedio;
END
GO
