USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetFechaArranqueLlenadora]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetFechaArranqueLlenadora]
(
	@id_wo NVARCHAR(101)
)
RETURNS DateTime
AS
BEGIN
	DECLARE @Fecha AS DateTime;
	DECLARE @Linea as int;

	SELECT @Linea = L.NumeroLinea FROM Particiones p
	INNER JOIN Lineas L ON L.Id = p.Linea
	WHERE p.Id = @id_wo


	select TOP 1  @Fecha = OrderProperty.RowUpdated
	from SitMesDB.dbo.BPM_EQUIPMENT_PROPERTY as Zonas
	INNER JOIN  COB_MSM_ZONAS on COB_MSM_ZONAS.ID_ZONA = Zonas.equip_prpty_value
	inner join SitMesDB.dbo.BPM_EQUIPMENT_PROPERTY as OrderProperty on Zonas.equip_pk = OrderProperty.equip_pk
	inner join SitMesDB.dbo.BPM_EQUIPMENT as Equipos on Equipos.equip_pk = Zonas.equip_pk
	inner join MaquinasLineas as m on m.Nombre = Equipos.equip_name
	where Zonas.equip_prpty_id = 'ZONA_ID' 
	and OrderProperty.equip_prpty_id = 'ORDER_ID' and Equipos.equip_in_plant = 1 and FK_LINEAS_ID = @Linea and m.Clase = 'LLENADORA'
	

	RETURN @Fecha;
END
GO
