USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetOEEMedio]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetOEEMedio]
(
	@numLinea INT, @IdProducto NVARCHAR(100)
)
RETURNS FLOAT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @IdParamOEEMedio INT = 1;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 1 => 'Número de WO para el cálculo del OEE Medio'
	DECLARE @ParamOEEMedio INT;
	DECLARE @OEEMedio as FLOAT;

	-- Add the T-SQL statements to compute the return value here
	SELECT @ParamOEEMedio = VALOR_INT
	FROM COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamOEEMedio AND FK_LINEA_ID = @numLinea

	-- Se ponen 5 digitos en la parte entera porque no debería haber ningun oee tan grande. 
	-- Si da error al convertir a varchar es porque en algún caso hay más de 5 digitos en la parte entera.
	SELECT @OEEMedio = STR(COALESCE(AVG(OEE), 0), 5, 2)
	FROM
	(SELECT TOP (@ParamOEEMedio) o.OEE 
	FROM dbo.Ordenes o
	INNER JOIN dbo.Lineas l ON l.Id = o.Linea
	WHERE o.IdProducto = @IdProducto AND l.NumeroLinea = @numLinea AND o.EstadoAct IN ('Cerrada') --o.FecIniReal IS NOT NULL --¿FecFinReal IS NOT NULL?
	ORDER BY o.FecIniReal desc) AS tbOEE

	-- Return the result of the function
	RETURN @OEEMedio

END
GO
