USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerCodigoPlanta]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_ObtenerCodigoPlanta]
(
)
RETURNS NVARCHAR(4)
AS
BEGIN
	DECLARE @Planta NVARCHAR(200);
	DECLARE @CodigoPlanta NVARCHAR(10);

	SELECT @Planta = [dbo].[MES_ObtenerNombrePlanta] ();
	
	SELECT @CodigoPlanta = CASE @Planta
								WHEN 'BURGOS' THEN '8030'
								WHEN 'CORDOBA' THEN '8110'
								WHEN 'GRANADA' THEN '8210'
								WHEN 'LLEIDA' THEN '8010'
								WHEN 'MALAGA' THEN '8020'
								WHEN 'SOLAN' THEN '6005'
								WHEN 'ALOVERA' THEN '8201'
							END

	RETURN @CodigoPlanta;
END
GO
