USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[CLR_DATETIME_ConvertStringToDate]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[CLR_DATETIME_ConvertStringToDate](@DateString [nvarchar](40))
RETURNS [datetime] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [DateCLR].[DateCLR.DateCLR].[ConvertStringToDate]
GO
