USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ValidarKOPSConstantesPorOrdenFueraDeRango]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ValidarKOPSConstantesPorOrdenFueraDeRango]
(
	@OrderId AS NVARCHAR(100)
)
RETURNS INT
BEGIN
	
	DECLARE @result AS BIT = 0;


	DECLARE @KOPS TABLE(
						ValorActualNumerico NUMERIC(10, 2),
						ValorMinimoNumerico NUMERIC(10, 2),
						ValorMaximoNumerico NUMERIC(10, 2),
						ValorActualFecha DATETIME NULL,
						ValorMinimoFecha DATETIME NULL,
						ValorMaximoFecha DATETIME NULL,
						Tipo NVARCHAR(10)
					)

   -- 1. Se guarda en una tabla Custom los valores de los KOPS 
	INSERT INTO @KOPS
	SELECT 
		CASE WHEN ISNUMERIC(VALUESKOPS.[ACTL_VAL]) = 1 AND LOWER(KOPS.[type]) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),VALUESKOPS.[ACTL_VAL]) ELSE NULL END, 
		CASE WHEN ISNUMERIC(KOPS.[min_val]) = 1 AND LOWER(KOPS.[type]) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),[min_val]) ELSE NULL END, 
		CASE WHEN ISNUMERIC(KOPS.[max_val]) = 1 AND LOWER(KOPS.[type]) IN ('número','numero','float','number') THEN TRY_CONVERT(NUMERIC(10, 2),KOPS.[max_val]) ELSE NULL END, 
		CASE WHEN ISDATE(VALUESKOPS.[ACTL_VAL]) = 1 AND LOWER(KOPS.[type]) IN ('datetime','fecha') THEN CAST(VALUESKOPS.[ACTL_VAL] AS DATETIME) ELSE NULL END, 
		CASE WHEN ISDATE(KOPS.[min_val]) = 1 AND LOWER(KOPS.[type]) IN ('datetime','fecha') THEN CAST(KOPS.[min_val] AS DATETIME) ELSE NULL END, 
		CASE WHEN ISDATE(KOPS.[max_val]) = 1 AND LOWER(KOPS.[type]) IN ('datetime','fecha') THEN CAST(KOPS.[max_val] AS DATETIME) ELSE NULL END ,
	 	KOPS.[type]
   FROM 
		 SITmesDB.dbo.POMV_ETRY_PCS_PARM KOPS
		 LEFT JOIN SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL VALUESKOPS ON VALUESKOPS.PARM_PK = KOPS.pom_process_segment_parameter_pk
	WHERE 
		(VALUESKOPS.[ACTL_VAL] <> '' )
		AND (KOPS.[NAME] NOT LIKE '#%')
		AND (KOPS.GRP NOT IN ('HISTORICO', 'MULTIVALOR'))
		AND KOPS.pom_order_id = @OrderId

    
	DECLARE @CantFueraDeRango INT;
	SET @CantFueraDeRango = 0

	-- 2.  Se valida si los valores estan fuera del rango
    SELECT 
		@CantFueraDeRango = COUNT(*)
	FROM
		@KOPS KOPS
	WHERE 
		((KOPS.ValorActualNumerico <	KOPS.ValorMinimoNumerico OR KOPS.ValorActualNumerico >	KOPS.ValorMaximoNumerico) AND LOWER(KOPS.Tipo) IN ('número','numero','float','number'))
		OR
		((KOPS.ValorActualFecha < ValorMinimoFecha OR KOPS.ValorActualFecha > ValorMaximoFecha) AND LOWER(KOPS.Tipo) IN ('datetime','fecha'))

	IF(@CantFueraDeRango > 0)
		SET @Result = 1


	RETURN @Result;

END
GO
