USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNameBeer]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetNameBeer](@material as nvarchar(max))
returns nvarchar(max)
begin
Declare @result as nvarchar(max)
	IF PATINDEX('%DENS.%',@material) = 0 	
	BEGIN 
		IF CHARINDEX(' ',SubString(@material,PATINDEX('%D.%',@material)+3,Len(@material))) <> 0 
		BEGIN
			set @result = SubString(SubString(@material,PATINDEX('%D.%',@material)+3,Len(@material)),0,CHARINDEX(' ',SubString(@material,PATINDEX('%D.%',@material)+3,Len(@material)))) 
		END
		ELSE
		BEGIN
			set @result = SubString(@material,PATINDEX('%D.%',@material)+3,Len(@material))
		END
	END
	ELSE
	BEGIN 
		IF CHARINDEX(' ',SubString(@material,PATINDEX('%DENS.%',@material)+6,Len(@material))) <> 0 
		BEGIN
			set @result = SubString(SubString(@material,PATINDEX('%DENS.%',@material)+6,Len(@material)),0,CHARINDEX(' ',SubString(@material,PATINDEX('%DENS.%',@material)+6,Len(@material)))) 			
		END
		ELSE
		BEGIN
			set @result = SubString(@material,PATINDEX('%DENS.%',@material)+6,Len(@material))
		END
	 END

return @result
end


GO
