USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getJdeQuery]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getJdeQuery]
(
	@fechaInicial DATETIME,
	@fechaFinal DATETIME
)
RETURNS NVARCHAR(2000)
AS
BEGIN
	--DECLARE @fechaInicial DATETIME = '2018-09-01'
	--DECLARE @fechaFinal DATETIME = '2018-10-01'

	DECLARE @WAMMCU FLOAT		= CONVERT(FLOAT, [dbo].[MES_ObtenerCodigoPlanta]());
	DECLARE @WADRQJ_min FLOAT	= dbo.GregorianoToJuliano(@fechaInicial);
	DECLARE @WADRQJ_max FLOAT	= dbo.GregorianoToJuliano(@fechaFinal);
	DECLARE @TABLENAME NVARCHAR(100) = (CASE WHEN @@SERVERNAME = 'VMSITTEST' THEN 'JDE.PRODDTA.F4801' ELSE 'S4405712.PRODDTA.F4801' END);
	
	DECLARE @jde_query NVARCHAR(2000)
	SET @jde_query =
		'SELECT WALITM, WATRT, WADRQJ, WAUORG ' +
		' FROM ' + @TABLENAME +
		' WHERE ' +
			' WADCTO = ''WO''' +
			' AND WAMMCU = ''' + CONVERT(NVARCHAR(50), @WAMMCU) + '''' +
			' AND WADRQJ BETWEEN ' + CONVERT(NVARCHAR(50), @WADRQJ_min) + ' AND ' + CONVERT(NVARCHAR(50), @WADRQJ_max) + 
			' AND WASRST = 10 ' +
			' AND WAUOM IN (''PL'', ''MD'')';

	RETURN @jde_query
END
GO
