USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetTiempoPaletera]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina - Alexis Anselmi
-- Create date: 2019-11-28
-- Description:	Se obtiene el tiempo real desde que inicia hasta que finaliza en paletizadora, tanto para las
-- órdenes como para las particiones
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetTiempoPaletera]
(
	@idOrdenParticion NVARCHAR(101)
)
RETURNS REAL
AS
BEGIN
	DECLARE @CLASE AS NVARCHAR(20) = 'PALETIZADORA'
	DECLARE @Tiempo as FLOAT;

	-- SI CONTIENE UN . EL ID DE LA ORDEN PARTICION ES UNA PARTICIÓN SINO ES UNA ORDEN
	IF CHARINDEX('.',@idOrdenParticion) > 0
		begin
			SELECT 
				@Tiempo = CONVERT(REAL,COALESCE(SUM(Consolidacion.[TIEMPO_PLANIFICADO]), 0))
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
			WHERE Consolidacion.ID_PARTICION = @idOrdenParticion AND ML.Clase = @CLASE
		end
	ELSE
		BEGIN
			SELECT 
				@Tiempo = CONVERT(REAL,COALESCE(SUM(Consolidacion.[TIEMPO_PLANIFICADO]), 0))
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
			WHERE Consolidacion.ID_ORDEN = @idOrdenParticion AND ML.Clase = @CLASE
		END
	RETURN @Tiempo;
END
GO
