USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetTiempoCambioMedio]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetTiempoCambioMedio]
(
	@numLinea INT, @idProductoEntrante NVARCHAR(100), @idProductoSaliente NVARCHAR(100)
)
RETURNS @tiemposMedios TABLE 
(
    -- Columns returned by the function
    TiempoMedio_1 INT NULL,
    TiempoMedio_2 INT NULL
)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @IdParamCambio INT = 2; -- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 2 => 'Número de cambios para el cálculo de los tiempos medios'
	DECLARE @ParamCambio INT;

	-- Add the T-SQL statements to compute the return value here
	SELECT @ParamCambio = VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamCambio AND FK_LINEA_ID = @numLinea

	INSERT @tiemposMedios
	SELECT ISNULL(CONVERT(INT,AVG(TIEMPO_CAMBIO_1)/60),0) AS TiempoCambioMedio_1, ISNULL(CONVERT(INT,AVG(TIEMPO_CAMBIO_2)/60),0) AS TiempoCambioMedio_2
	FROM
	(SELECT TOP (@ParamCambio) 
		CONVERT(FLOAT,COALESCE(TIEMPO_CAMBIO_1,0)) AS TIEMPO_CAMBIO_1, 
		CONVERT(FLOAT,COALESCE(TIEMPO_CAMBIO_2, 0)) AS TIEMPO_CAMBIO_2 
	--,Ordenes.pom_order_id, Ordenes.actual_start_time AS FecIniReal,Ordenes.actual_end_time AS FecFinReal, OrdenPadre.Orden as OrdenEntrante
	FROM  SITMesDB.dbo.POMV_ORDR AS Ordenes 
	INNER JOIN dbo.COB_MSM_LINEAS AS Lineas ON Lineas.LINEA = Ordenes.equip_long_name 
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_1,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				WHERE pom_custom_fld_name = 'TIEMPO_1' AND pom_order_id like '%OC%') AS Tiempo1 ON Tiempo1.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT VAL as TIEMPO_CAMBIO_2,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				WHERE pom_custom_fld_name = 'TIEMPO_2' AND pom_order_id like '%OC%') AS Tiempo2 ON Tiempo2.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN (SELECT VAL as Orden,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
	--			WHERE pom_custom_fld_name = 'CMB_WO_1') AS OrdenArr ON OrdenArr.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN (SELECT VAL as Orden,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
	--			WHERE pom_custom_fld_name = 'WO_ID_MASTER') AS OrdenPadre ON OrdenArr.Orden = OrdenPadre.pom_order_id
	LEFT JOIN (SELECT p.Nombre,p.IdProducto,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP
				INNER JOIN dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP.VAL
				WHERE pom_custom_fld_name = 'CMB_MATERIAL_1') AS ProdSal ON ProdSal.pom_order_id = Ordenes.pom_order_id
	LEFT JOIN (SELECT p.Nombre,p.IdProducto,pom_order_id FROM SITMesDB.dbo.POMV_ORDR_PRP 
				INNER JOIN dbo.Productos AS p ON p.IdProducto = POMV_ORDR_PRP.VAL
				WHERE pom_custom_fld_name = 'CMB_MATERIAL_2') AS ProdEnt ON ProdEnt.pom_order_id = Ordenes.pom_order_id
	--LEFT JOIN SITMesDB.dbo.POMV_ORDR OrdenesPadres on OrdenPadre.Orden =  OrdenesPadres.pom_order_id
	WHERE Ordenes.pom_order_type_id = 'WO_ENVASADO_CAMBIO' AND ProdEnt.IdProducto = @idProductoEntrante AND ProdSal.IdProducto = @idProductoSaliente AND Ordenes.pom_order_status_id IN ('Cerrada') AND Lineas.ID_LINEA = @numLinea
	ORDER BY Ordenes.actual_start_time desc) AS TiemposCambio

	RETURN;
END
GO
