USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getIdTipoTurno]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getIdTipoTurno]
(
	-- Add the parameters for the function here
	@Turno varchar(20)
)
RETURNS int
AS
BEGIN
	declare @idTipoTurno int

	SELECT @idTipoTurno = ISNULL(Id,0)
	FROM [MES_MSM].[dbo].[TiposTurno]
	WHERE Nombre = @Turno

	return @idTipoTurno

END
GO
