USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[CLR_DATETIME_ConvertLocalToUtc]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[CLR_DATETIME_ConvertLocalToUtc](@LocalDate [datetime])
RETURNS [datetime] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [DateCLR].[DateCLR.DateCLR].[ConvertLocalToUtc]
GO
