USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPSinRellenar]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPSinRellenar]
(
	@OrderId AS INT,
	@KopId AS INT
)
RETURNS INT
BEGIN
	
	DECLARE @result AS BIT = 0;
	

   -- 1. Se guarda en una tabla Custom los valores de los KOPS 
	DECLARE @CantFueraDeRango INT;

	SELECT 
		@CantFueraDeRango = COUNT(*)
   FROM 
		dbo.[COB_MSM_CURVAS_KOP_VAL] KOP_VAL
		INNER JOIN dbo.[COB_MSM_CURVAS_KOP_CFG] KOP_CFG  ON KOP_CFG.OrderID = KOP_VAL.OrderID AND KOP_CFG.KopID = KOP_VAL.KopID
		INNER JOIN dbo.[COB_MSM_CURVAS_KOP_DEF] KOP_DEF ON KOP_CFG.OrderID = KOP_DEF.OrderID AND KOP_DEF.KopID = KOP_CFG.KopID
	WHERE 
		KOP_DEF.KopID		= KOP_CFG.KopID
		AND KOP_VAL.[Index] = KOP_CFG.[Index]
		AND KOP_VAL.KopID	= KOP_CFG.KopID
		AND (KOP_VAL.Valor = '' 
		OR KOP_VAL.Valor IS NULL)
		AND KOP_VAL.OrderID = @OrderId
		AND KOP_VAL.KopID = @KopId

	IF(@CantFueraDeRango > 0)
		SET @Result = 1


	RETURN @Result;

END
GO
