USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ObtenerOEEObjetivoOrden]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_ObtenerOEEObjetivoOrden]
(
	@idProducto NVARCHAR(4000), @numLinea INT
)
RETURNS REAL
AS
BEGIN
	-- Declare the return variable here
	DECLARE @OEEObjetivo REAL;
	-- Add the T-SQL statements to compute the return value here
	SELECT @OEEObjetivo = OEE_OBJETIVO
	from COB_MSM_PARAMETROS_LINEA_PRODUCTO
	WHERE ID_PRODUCTO = @idProducto AND FK_LINEAS_ID = @numLinea
	
	RETURN @OEEObjetivo;
END
GO
