USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[JDE_ObtenerNuevoCodigo]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[JDE_ObtenerNuevoCodigo]
(
	-- Add the parameters for the function here
	@codPlanta int
)
RETURNS int
AS
BEGIN
	

	DECLARE @pkEquipoPlanta as int;
	DECLARE @codSiguiente as int;
	DECLARE @inicioCodigos as int;
	DECLARE @finCodigos as int;

	select  @pkEquipoPlanta =  equip_pk
	FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	where [equip_prpty_id] = 'ID_PLANTA_JDE' and [equip_prpty_value] = @codPlanta;

	select  @inicioCodigos =  equip_prpty_value
	FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	where [equip_prpty_id] = 'RANGO_MIN_WO_JDE' and equip_pk = @pkEquipoPlanta;

	select  @finCodigos =  equip_prpty_value
	FROM SitMesDB.dbo.[BPM_EQUIPMENT_PROPERTY]
	where [equip_prpty_id] = 'RANGO_MAX_WO_JDE' and equip_pk = @pkEquipoPlanta;

	select  @codSiguiente = isnull(MAX(CAST(Parametros.VAL as int))+1,@inicioCodigos)  FROM SITMesDB.dbo.pomv_ordr Ordenes
	left join SITMesDB.dbo.POMV_ORDR_PRP Parametros 
	on Ordenes.pom_order_id = Parametros.pom_order_id and Parametros.pom_custom_fld_name = 'CODIGO_JDE'
	WHERE Parametros.VAL > @inicioCodigos and Parametros.VAL > @finCodigos;

	return isnull(@codSiguiente,-1);

END

GO
