USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[ParosPerdidasHorasTurnoMaquina]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ParosPerdidasHorasTurnoMaquina] (
@IDTURNO int, 
@MAQUINA varchar(100),
@TIPOPARO int
)
returns @HorasTurno TABLE (inicio datetime, fin datetime, segundos int)
as BEGIN


--DECLARE @IDTURNO AS INT = 175
--DECLARE @MAQUINA AS VARCHAR(100) = 'B309-EQ-LLE-01'
--DECLARE @TIPOPARO AS INT = 0

DECLARE @INICIOTURNO AS DATETIME
DECLARE @FINTURNO AS DATETIME



SELECT @INICIOTURNO=InicioTurno, @FINTURNO=FinTurno FROM TURNOS WHERE ID=@IDTURNO

--DECLARE @HorasTurno TABLE (inicio datetime, fin datetime, segundos int)
	
	DECLARE @d datetime
	DECLARE @h datetime

	SET @d = @INICIOTURNO
	SET @h = dateadd(hour,1, @d)

	--BEGIN TRANSACTION
		
		WHILE @h <= @FINTURNO
		  BEGIN
			INSERT  INTO @HorasTurno (inicio, fin, segundos)
			VALUES  (@d,@h,0)
			SET @d = @h
			SET @h = dateadd(hour,1, @d)
			
		  END		
	--COMMIT TRANSACTION

IF (@TIPOPARO = 0)
	DECLARE POINT CURSOR FOR SELECT DATEPART(HOUR, Inicio), Duracion, DATEPART(MINUTE, Inicio) * 60 + DATEPART(SECOND, Inicio) FROM PAROSPERDIDAS WHERE IdTipoParoPerdida=1 AND TURNO=@IDTURNO AND EquipoNombre=@MAQUINA
ELSE
	IF (@TIPOPARO = 1)
		DECLARE POINT CURSOR FOR SELECT DATEPART(HOUR, Inicio), Duracion, DATEPART(MINUTE, Inicio) * 60 + DATEPART(SECOND, Inicio) FROM PAROSPERDIDAS WHERE IdTipoParoPerdida=2 AND TURNO=@IDTURNO AND EquipoNombre=@MAQUINA
	ELSE
		IF (@TIPOPARO = 2)
			DECLARE POINT CURSOR FOR SELECT DATEPART(HOUR, Inicio), DuracionParosMenores, DATEPART(MINUTE, Inicio) * 60 + DATEPART(SECOND, Inicio) FROM PAROSPERDIDAS WHERE IdTipoParoPerdida=2 AND TURNO=@IDTURNO AND EquipoNombre=@MAQUINA
		ELSE
			DECLARE POINT CURSOR FOR SELECT DATEPART(HOUR, Inicio), DuracionBajaVelocidad, DATEPART(MINUTE, Inicio) * 60 + DATEPART(SECOND, Inicio) FROM PAROSPERDIDAS WHERE IdTipoParoPerdida=2 AND TURNO=@IDTURNO AND EquipoNombre=@MAQUINA


DECLARE @HORA AS INT
DECLARE @TIEMPO AS INT
DECLARE @MINUTOS AS INT
DECLARE @RESTO AS INT
DECLARE @MINUTOSRESTO AS INT

OPEN POINT

FETCH NEXT FROM POINT INTO @HORA, @TIEMPO, @MINUTOS

WHILE @@FETCH_STATUS=0
BEGIN
--PRINT('***********************************************************')
--PRIMERA HORA
SET @MINUTOSRESTO = 3600 - @MINUTOS
--PRINT('PRIMERA HORA: ' + CONVERT(VARCHAR(100),@HORA) + ' -T ' + CONVERT(VARCHAR(100),@TIEMPO) +' -M ' +CONVERT(VARCHAR(100),@MINUTOS))
IF (@TIEMPO > @MINUTOSRESTO)
BEGIN
--PRINT('HAY MAS TIEMPO QUE MINUTOS, TIEMPO: ' + CONVERT(VARCHAR(100),@TIEMPO) + ' MINUTOS: ' + CONVERT(VARCHAR(100),@MINUTOSRESTO))
UPDATE @HorasTurno
SET segundos += @MINUTOSRESTO
WHERE DATEPART(HOUR, INICIO) = @HORA

--PRINT('ACTUALIZADA HORA: ' + CONVERT(VARCHAR(100),@HORA) + ' CON ' + CONVERT(VARCHAR(100),@MINUTOSRESTO) + ' MINUTOS')
SET @TIEMPO -= @MINUTOSRESTO
END
ELSE
BEGIN
--PRINT('HAY MAS MINUTOS QUE TIEMPO')
UPDATE @HorasTurno
SET segundos += @TIEMPO
WHERE DATEPART(HOUR, INICIO) = @HORA
--PRINT('ACTUALIZADA HORA: ' + CONVERT(VARCHAR(100),@HORA) + ' CON ' + CONVERT(VARCHAR(100),@TIEMPO) + ' MINUTOS')

SET @TIEMPO = 0
END

WHILE @TIEMPO > 0
BEGIN
SET @HORA +=1
--PRINT('AUMENTAMOS HORA A ' + CONVERT(VARCHAR(100),@HORA))
IF (@TIEMPO>3600)
BEGIN
--PRINT('HAY MAS DE 60 MINUTOS EN TIEMPO')
SET @TIEMPO -= 3600
UPDATE @HorasTurno
SET segundos += 3600
WHERE DATEPART(HOUR, INICIO) = @HORA
--PRINT('ACTUALIZADA HORA: ' + CONVERT(VARCHAR(100),@HORA) + ' CON 60 MINUTOS')

END
ELSE
BEGIN
--PRINT('NO HAY MAS DE 60 MINUTOS EN TIEMPO')
UPDATE @HorasTurno
SET segundos += @TIEMPO
WHERE DATEPART(HOUR, INICIO) = @HORA
--PRINT('ACTUALIZADA HORA: ' + CONVERT(VARCHAR(100),@HORA) + ' CON ' + CONVERT(VARCHAR(100),@TIEMPO) + ' MINUTOS')
SET @TIEMPO=0
END

END

FETCH NEXT FROM POINT INTO @HORA, @TIEMPO, @MINUTOS
END

CLOSE POINT

DEALLOCATE POINT

--DROP TABLE @HorasTurno
--RETURN @HorasTurno
RETURN

END
GO
