USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getDiaTurnoByDateV2]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDiaTurnoByDateV2]
(
	-- Add the parameters for the function here
	@fechaUTC as datetime,
	@iniM as integer
)
RETURNS date
AS
BEGIN
	
	declare @horaLocal as int
	declare @fechaLocal datetime 
	set @fechaLocal= dbo.CLR_DATETIME_ConvertUTCtoLocal(@fechaUTC)
	select @horaLocal = DATEPART(hour, @fechaLocal)

	if(@horaLocal >= 0  and @horaLocal < @iniM) 
		return cast(dateadd(day, -1, @fechaLocal) as date)
	return cast(@fechaUTC as date)
	
END
GO
