USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNumParticionesOrden]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetNumParticionesOrden]
(
	-- Add the parameters for the function here
	@id_wo nvarchar(101)
)
RETURNS INT
AS
BEGIN
	DECLARE @NumPart as INT;

	SELECT @NumPart = COUNT(IdOrdenPadre)
	FROM [MES_MSM].[dbo].Particiones 
	WHERE IdOrdenPadre = @id_wo
		
	RETURN @NumPart
END
GO
