USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_PorcentajeEnvasesNoProducidos_Table]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[MES_PorcentajeEnvasesNoProducidos_Table] 
(	
	-- Add the parameters for the function here
	@linea varchar(100),
	@fini datetime,
	@ffin datetime
)
RETURNS @TABLA TABLE(
  ID_LINEA int,
  PORCENTAJE float
) 
AS
BEGIN
	-- Declare the return variable here
	DECLARE @ENP as int;
	DECLARE @TEMP_TABLE TABLE(ID int);
	DECLARE @TABLE TABLE(ID_LINEA INT, PORCENTAJE FLOAT)
	
	INSERT INTO @TEMP_TABLE
    SELECT  ID
	FROM Turnos
	WHERE ([Linea] = @linea or @linea = '') AND  @fini <= InicioTurno 
		AND @ffin >= FinTurno 
		AND LOWER(Turno) <> 'nowork'

INSERT INTO @TABLE
SELECT OEE_COMPENSADO.ID_LINEA, CONVERT(float,AVG(OEE_COMPENSADO.CANTIDAD_NO_PRODUCIDA_PORCENTUAL)) as PORCENTAJE
FROM
(
SELECT TABLA_REAL.Id_Turno,
	   TABLA_REAL.ID_LINEA,
	   TABLA_REAL.VELOCIDAD_NOMINAL,
	   TABLA_REAL.TIEMPO_PLANIFICADO, 
	   TABLA_REAL.CONTADOR,
	   (TABLA_REAL.VELOCIDAD_NOMINAL*TABLA_REAL.TIEMPO_PLANIFICADO) AS CANTIDAD_PLANIFICADA,
	   TABLA_REAL.CONTADOR AS CANTIDAD_NO_PRODUCIDA,
	   CASE WHEN TIEMPO_PLANIFICADO = 0 OR VELOCIDAD_NOMINAL = 0 THEN 0 ELSE CONVERT(float,((TABLA_REAL.CONTADOR)*100)/CONVERT(float,(TABLA_REAL.VELOCIDAD_NOMINAL*TABLA_REAL.TIEMPO_PLANIFICADO))) END AS CANTIDAD_NO_PRODUCIDA_PORCENTUAL
FROM 
	(SELECT TABLA.Id_Turno,
			--MIN(TABLA.MIN_FECHA_INI_REAL) FECHA_REAL,
			TABLA.VELOCIDAD_NOMINAL,
			DATEDIFF(HOUR,T.InicioTurno,T.FinTurno) AS TIEMPO_PLANIFICADO, 
			SUM(TABLA.LL_CONTADOR_PRODUCCION) CONTADOR,
			TABLA.ID_LINEA
	 FROM(
	       
			SELECT * FROM (SELECT  
				   OPROD.Id_Turno, 
				   --MIN(P.FecIniReal) MIN_FECHA_INI_REAL, 
				   VELOCIDAD_NOMINAL,
				   SUM(OPROD.CONTADOR_PRODUCCION) AS CONTADOR,
				   OPROD.ID_LINEA AS Num_Linea
			FROM [MES_MSM].[dbo].[Particiones] AS P
		    INNER JOIN (
					SELECT ID_ORDEN, 
						   LL.SHC_WORK_SCHED_DAY_PK  Id_Turno,
						   SUM(LL.CONTADOR_PRODUCCION) CONTADOR_PRODUCCION,
						   L.NumeroLinea AS ID_LINEA
					FROM COB_MSM_PROD_LLENADORA_HORA LL
					INNER JOIN MAQUINAS M ON M.ID = LL.ID_MAQUINA
					INNER JOIN LINEAS L	ON M.Linea = L.Id  
					INNER JOIN @TEMP_TABLE T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id
					WHERE (L.ID = @linea or @linea = '')
					GROUP BY ID_ORDEN,  LL.SHC_WORK_SCHED_DAY_PK,L.NumeroLinea
			) AS OPROD ON OPROD.ID_ORDEN = P.IdOrdenPadre
		INNER JOIN COB_MSM_PARAMETROS_LINEA_PRODUCTO LP ON LP.ID_PRODUCTO = P.IdProducto  
		GROUP BY  OPROD.Id_Turno,VELOCIDAD_NOMINAL,OPROD.ID_LINEA
		) AS TABLA_CONTADOR
		INNER JOIN (
		SELECT ID_ORDEN AS LL_ORDEN, 
		       L.NumeroLinea as ID_LINEA ,
						   LL.SHC_WORK_SCHED_DAY_PK  LL_Id_Turno,
						   SUM(LL.CONTADOR_PRODUCCION) LL_CONTADOR_PRODUCCION
					FROM COB_MSM_PROD_LLENADORA_HORA LL
					INNER JOIN MAQUINAS M ON M.ID = LL.ID_MAQUINA
					INNER JOIN LINEAS L	ON M.Linea = L.Id   
					INNER JOIN @TEMP_TABLE T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id
				    WHERE (L.ID = @linea or @linea = '')
					GROUP BY ID_ORDEN,  LL.SHC_WORK_SCHED_DAY_PK,L.NumeroLinea 
		) AS  TJ ON TJ.LL_Id_Turno = TABLA_CONTADOR.Id_Turno AND TABLA_CONTADOR.Num_Linea = TJ.ID_LINEA
		WHERE LL_ORDEN = '' OR LL_ORDEN IS NULL

		
		
	) AS TABLA
	  INNER JOIN Turnos T ON T.Id = TABLA.Id_Turno
	GROUP BY TABLA.Id_Turno,TABLA.VELOCIDAD_NOMINAL,T.FinTurno,T.InicioTurno,TABLA.ID_LINEA
   ) AS TABLA_REAL
   ) AS OEE_COMPENSADO GROUP BY OEE_COMPENSADO.ID_LINEA

   INSERT INTO @TABLA 
   SELECT ID_LINEA, PORCENTAJE FROM @TABLE

   RETURN 
END
GO
