USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[f_get_att_rev]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[f_get_att_rev]
(
   -- Input parameters
   @asPartNo nvarchar(20),
   @anRevision numeric(8)
)
RETURNS numeric(8) -- Returned value
   ---------------------------------------------------------------------------
   -- $Workfile: F_GET_ATT_REV.sql [F_GET_ATT_REV] $
   --     Type:  Function script
   ----------------------------------------------------------------------------
   --   $Author: evoline $
   -- $Revision: 1 $
   --  $Modtime: 19.04.2010 $
   --   Project: speCX development
   ----------------------------------------------------------------------------
   --  Abstract: Returns the current revision of a given specification if the
   --            revision was 0. Else the function returns the revision.
   ----------------------------------------------------------------------------
   --  Elements: asPartNo (IN) a string which defines the part
   --            anRevision (IN) a number which defines the revision
   ----------------------------------------------------------------------------
   --    Return: a number containing the revision
   ----------------------------------------------------------------------------
 BEGIN
    DECLARE @lnRevision NUMERIC (8,0)
    
	--SELECT @lnRevision = MAX(Revision) FROM INTERSPEC.MSMIS.INTERSPC.ItSh where PartNo = @asPartNo 
	--SELECT @lnRevision = MAX(Revision) FROM INTERSPEC.MSMIS.INTERSPC.ItSpProperty where PartNo = @asPartNo
    IF @anRevision = 0 OR @anRevision IS NULL 
       BEGIN
          SELECT @lnRevision  = MAX(sh.Revision)
           FROM INTERSPEC.MSMIS.INTERSPC.ItSh sh INNER JOIN INTERSPEC.MSMIS.INTERSPC.ItSs s 
           ON s.Status = sh.Status
           WHERE sh.PartNo = @asPartNo
             AND s.StatusType = 'CURRENT'

          IF @lnRevision = 0 OR @lnRevision IS NULL
             SELECT @lnRevision = MAX(Revision) 
             FROM INTERSPEC.MSMIS.INTERSPC.ItSh
             WHERE PartNo = @asPartNo 

          RETURN @lnRevision
       END
    ELSE
       RETURN @lnRevision
       
   RETURN 0       
END



GO
