USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetOEEMedioPreactor]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Creada por IDOM y modificada por MSM
-- Update date: 02/07/2019
-- Description:	Función para calcular el OEE de Preactor por producto
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetOEEMedioPreactor]
(
	@numLinea INT, @IdProducto NVARCHAR(100)
)
RETURNS FLOAT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @IdParamOEEMedio INT = 1;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 1 => 'Número de WO para el cálculo del OEE Medio'
	DECLARE @ParamOEEMedio INT;
	DECLARE @OEEMedio FLOAT;
	DECLARE @PorcentajeInferiorId INT = 7;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 7 => 'Porcentaje inferior OEE Preactor'
	DECLARE @PorcentajeInferior FLOAT;
	DECLARE @PorcentajeSuperiorId INT = 6;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 6 => 'Porcentaje superior OEE Preactor'
	DECLARE @PorcentajeSuperior FLOAT;
	DECLARE @OEEPreactor FLOAT;

	-- Add the T-SQL statements to compute the return value here
	SELECT @ParamOEEMedio = VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @IdParamOEEMedio AND FK_LINEA_ID = @numLinea

	SELECT @PorcentajeInferior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeInferiorId AND FK_LINEA_ID = @numLinea

	SELECT @PorcentajeSuperior = VALOR_FLOAT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_PARAMETRO_ID = @PorcentajeSuperiorId AND FK_LINEA_ID = @numLinea

	SELECT @OEEPreactor = pl.OEEPreactor
	from dbo.ParametrosLinea pl
	INNER JOIN dbo.Lineas l ON l.Id = pl.IdLinea
	WHERE l.NumeroLinea = @numLinea AND pl.Producto = @IdProducto AND pl.InhabilitarCalculo = 0

	--AJUSTE EN PORCENTAJES -- 16/10/2019
	SET @PorcentajeInferior = (@PorcentajeInferior * @OEEPreactor)/100
	SET @PorcentajeSuperior = (@PorcentajeSuperior * @OEEPreactor)/100

	SELECT @OEEMedio = STR(COALESCE(AVG(OEE), 0), 5, 2)
	FROM
	(SELECT TOP (@ParamOEEMedio) o.OEE 
	FROM dbo.Ordenes o
	INNER JOIN dbo.Lineas l ON l.Id = o.Linea
	WHERE 
		o.IdProducto = @IdProducto 
		AND l.NumeroLinea = @numLinea 
		AND o.EstadoAct IN ('Cerrada') 
		AND o.OEE BETWEEN (@OEEPreactor - @PorcentajeInferior) 
		AND (@OEEPreactor + @PorcentajeSuperior)
	ORDER BY o.FecIniReal desc) AS tbOEE

	-- Return the result of the function
	RETURN @OEEMedio

END
GO
