USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[BrewingPlanningPreparation]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[BrewingPlanningPreparation]()
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [DatabaseMSM].[UserDefinedFunctions].[BrewingPlanningPreparation]
GO
