USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFatherFromChild]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[GetFatherFromChild](@childID varchar(100),@condition varchar(100))
returns varchar(100)
as
begin

	declare @fatherID as varchar(100)
	
	SELECT @fatherID = article.DefID
	FROM [SITMesDB].dbo.[MTMV2_BOM_ITM_ALT] Bom
	LEFT JOIN [SITMesDB].dbo.[MTMV2_B_DEF] article on article.DefID=Bom.BomAltDefID		
	LEFT JOIN [SITMesDB].[dbo].[MMProperties] Prop on Prop.PropertyID = 'Subclase_codigo'
	LEFT JOIN [SITMesDB].[dbo].[MMwDefVerPrpVals] propV on propV.DefID=article.DefID and propV.PropertyPK=Prop.PropertyPK		
	where Bom.DefID = @childID and propV.PValue = @condition

	return @fatherID
end
GO
