USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[ExistsItemInFiltrationPO]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ExistsItemInFiltrationPO]
(@POId nvarchar(max),@item nvarchar(max))
RETURNS nvarchar(max)
AS
BEGIN
	declare @value nvarchar(max)

	 if (SELECT ItemId FROM ItemsInActiveFiltration WHERE FiltrationId=@POId AND ItemId=@item) Is Null
	 Begin
		set @value='false'
	 End
	 else
	 Begin
		set @value='true'
	 end

	RETURN @value
END
GO
