USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetProductionLine]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_GetProductionLine]
(
	@LineJDE varchar(3)
)
RETURNS NVARCHAR(4)
AS
BEGIN
	DECLARE @Planta NVARCHAR(200);
	DECLARE @NumLineaMES INT;

	SELECT @Planta = [dbo].[MES_ObtenerNombrePlanta] ();
	
	SELECT @NumLineaMES = CASE @Planta
								WHEN 'BURGOS' THEN 
									CASE @LineJDE
										WHEN 'L1' THEN 1
										WHEN 'L2' THEN 2
										WHEN 'LAT' THEN 3
										WHEN 'BAR' THEN 4
									END
								WHEN 'CORDOBA' THEN 
									CASE @LineJDE
										WHEN 'CLA' THEN 1
										WHEN 'CBA' THEN 2
									END
								WHEN 'GRANADA' THEN  
									CASE @LineJDE
										WHEN 'GMU' THEN 1
									END
								WHEN 'LLEIDA' THEN  
									CASE @LineJDE
										WHEN 'BAE' THEN 1
										WHEN 'HER' THEN 2
										WHEN 'LAT' THEN 3
										WHEN 'BAR' THEN 4
									END
								WHEN 'MALAGA' THEN  
									CASE @LineJDE
										WHEN 'L1' THEN 1
										WHEN 'L1B' THEN 2
										WHEN 'L2' THEN 3
										WHEN 'LAT' THEN 4
										WHEN 'BAR' THEN 5
									END
								WHEN 'SOLAN' THEN  
									CASE @LineJDE
										WHEN 'SL1' THEN 1
										WHEN 'SL2' THEN 2
										WHEN 'SL3' THEN 3
										WHEN 'SL4' THEN 4
										WHEN 'SL6' THEN 6
									END
								WHEN 'ALOVERA' THEN  
									CASE @LineJDE
										WHEN 'T01' THEN 1
										WHEN 'T02' THEN 2
										WHEN 'T03' THEN 3
										WHEN 'T04' THEN 4
										WHEN 'T05' THEN 5
										WHEN 'T06' THEN 6
										WHEN 'T07' THEN 7
										WHEN 'T8B' THEN 8
										WHEN 'T09' THEN 9
										WHEN 'T10' THEN 10
										WHEN 'T11' THEN 11
										WHEN 'T13' THEN 13
									END
							END

	RETURN @NumLineaMES;
END
GO
