USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[getFinTurno]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getFinTurno] 
(
	@fecha bigint,
	@tipoturno int
)
RETURNS datetime
AS
BEGIN
DECLARE @VALUE AS datetime

SELECT @VALUE = FinTurno FROM Turnos WHERE DATEDIFF(SECOND,'19700101',dbo.ToLocalDateTime(CONVERT(DATE,Fecha))) = @fecha  AND IdTipoTurno= @tipoturno

RETURN @VALUE

END
GO
