USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_ParticionActivaEnTurno]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION  [dbo].[MES_ParticionActivaEnTurno]
(
	@ordenId nvarchar(20), @IdTurno INT
)
RETURNS BIT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Estado NVARCHAR(50);
	DECLARE @ACTIVA BIT;
	DECLARE @FECHA_CAMBIO DATETIME;
	DECLARE @ENPRODUCCION BIT = 1;
	
	SELECT @Estado = EstadoAct
	FROM [dbo].[Particiones]
	WHERE Id = @ordenId
	

	IF(@Estado IN ('Iniciando','Producción','Finalizando'))
	BEGIN
		--PRINT 'Esta Iniciando , Producción o Finalizando'
		SET @ACTIVA = 1
	END
	ELSE
	BEGIN
		--PRINT 'NO Esta Iniciando , Producción o Finalizando'
		DECLARE @tmpFechasProduccion TABLE (FECHA_INICIO DATETIME, FECHA_FIN DATETIME)

		DECLARE cHistoricoOrden CURSOR FOR
		SELECT ho.FECHA_CAMBIO, e.Estado
		FROM [dbo].[COB_MSM_HISTORICO_ORDENES] ho
		inner join [dbo].[EstadosOrden] e ON e.Id= ho.ESTADO
		WHERE ho.ORDER_ID = @ordenId
		ORDER BY ho.FECHA_CAMBIO

		OPEN cHistoricoOrden

		FETCH cHistoricoOrden INTO @FECHA_CAMBIO, @Estado

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			--SELECT @Estado AS Estado , @ENPRODUCCION as EnProduccion
			IF(@ENPRODUCCION = 1)
			BEGIN
				IF(@Estado IN ('Iniciando','Producción','Finalizando'))
				BEGIN
					INSERT INTO @tmpFechasProduccion VALUES (@FECHA_CAMBIO, NULL)
					SET @ENPRODUCCION = 0;
					--SELECT * FROM @tmpFechasProduccion
				END
			END
			ELSE
			BEGIN
				IF(@Estado NOT IN ('Iniciando','Producción','Finalizando'))
				BEGIN
					UPDATE @tmpFechasProduccion
					SET FECHA_FIN = @FECHA_CAMBIO
					WHERE FECHA_FIN IS NULL
					--SELECT * FROM @tmpFechasProduccion
					SET @ENPRODUCCION = 1;
				END
			END
			
			-- Lectura de la siguiente fila del cursor
			FETCH cHistoricoOrden INTO @FECHA_CAMBIO, @Estado

		END

		CLOSE cHistoricoOrden

		DEALLOCATE cHistoricoOrden

		DECLARE @FECHA_TURNO_INICIO DATETIME;
		DECLARE @FECHA_TURNO_FIN DATETIME;
		DECLARE @NUMREG_EN_TURNO INT;

		SELECT @FECHA_TURNO_INICIO = InicioTurno, @FECHA_TURNO_FIN = FinTurno
		FROM [dbo].[Turnos]
		WHERE Id = @IdTurno

		-----BORRAR------------------------------------------------------------------------
		--PRINT 'FIniTurno: ' + CONVERT(nvarchar(50), @FECHA_TURNO_INICIO, 103) + ' | FFinTurno: ' + CONVERT(nvarchar(50),@FECHA_TURNO_FIN, 103)
		--DECLARE @FECHA_PRINT_INICIO DATETIME;
		--DECLARE @FECHA_PRINT_FIN DATETIME;
		--DECLARE cPrint CURSOR FOR
		--SELECT FECHA_INICIO, FECHA_FIN
		--FROM @tmpFechasProduccion

		--OPEN cPrint

		--FETCH cPrint INTO @FECHA_PRINT_INICIO, @FECHA_PRINT_FIN

		--WHILE (@@FETCH_STATUS = 0 )
		--BEGIN
		--	PRINT 'FIni: ' + CONVERT(nvarchar(50), @FECHA_PRINT_INICIO, 103) + ' | FFin: ' + CONVERT(nvarchar(50),@FECHA_PRINT_FIN, 103)
			
		--	FETCH cPrint INTO @FECHA_PRINT_INICIO, @FECHA_PRINT_FIN
		--END
		--CLOSE cPrint
		--DEALLOCATE cPrint
		-----BORRAR------------------------------------------------------------------------
		

		SELECT @NUMREG_EN_TURNO = COUNT(1)
		FROM @tmpFechasProduccion
		where ((@FECHA_TURNO_INICIO BETWEEN FECHA_INICIO AND FECHA_FIN) OR (@FECHA_TURNO_FIN BETWEEN FECHA_INICIO AND FECHA_FIN))
		OR ((FECHA_INICIO BETWEEN @FECHA_TURNO_INICIO AND @FECHA_TURNO_FIN) OR (FECHA_FIN BETWEEN @FECHA_TURNO_INICIO AND @FECHA_TURNO_FIN))

		
		IF (@NUMREG_EN_TURNO > 0)
		BEGIN			
			SET @ACTIVA = 1
			--SELECT @NUMREG_EN_TURNO AS NUMREG_EN_TURNO, @ACTIVA AS ACTIVA
		END
		ELSE
		BEGIN			
			SET @ACTIVA = 0
			--SELECT @NUMREG_EN_TURNO AS NUMREG_EN_TURNO, @ACTIVA AS ACTIVA
		END
	END
	RETURN @ACTIVA;
END
GO
