USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[convertUnits]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[convertUnits] 
(
	@UnitsName NVARCHAR(32)
)
RETURNS INT
AS
BEGIN
	DECLARE @Value INT;
	IF(@UnitsName = 'MI')
	BEGIN
		 SET @Value = 1000
	END
	ELSE
	BEGIN
		SET @Value = 1
	END

	RETURN @VALUE
END
GO
