USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFormatoHoraMinutosSegundos]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetFormatoHoraMinutosSegundos] 
(
	-- Add the parameters for the function here
	@Numero decimal
)
RETURNS VARCHAR(30)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Hora VARCHAR(30)
	DECLARE @NumInt int 

	SET @NumInt = CONVERT(int,@Numero)
	

	SELECT @Hora = RIGHT('0' + CAST(@NumInt / 3600 AS VARCHAR),2) + ':' +
					  RIGHT('0' + CAST((@NumInt / 60) % 60 AS VARCHAR),2) + ':' +
					  RIGHT('0' + CAST(@NumInt % 60 AS VARCHAR),2) 

	RETURN @Hora
END
GO
