USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetICTurnos]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MES_GetICTurnos]
(
	-- Add the parameters for the function here
	@linea as NVARCHAR(200),
	@fIni as DATETIME,
	@fFin as DATETIME
)
RETURNS FLOAT
AS
BEGIN

	DECLARE @CLASE AS NVARCHAR(20) = 'ETIQUETADORA_PALETS'
	DECLARE @NUM_TURNOS_CONTIGUOS as INT;
	DECLARE @NUM_TURNOS_CON_ORDEN as INT;
	DECLARE @ICTurno as FLOAT = NULL;
	DECLARE @NumLinea as SMALLINT; 
	
	DECLARE @tmpDatosTurnosOrden TABLE (FECHA DATETIME, SHC_WORK_SCHED_DAY_PK int, TIPOTURNO INT, ID_ORDEN nvarchar(101), CANTIDAD_PALETS_PALETIZADORA INT, CANTIDAD_ENVASES_LLENADORA INT, CANTIDAD_PICOS_CAJAS INT, NumPaletsdePicos INT, CANTIDAD_ENVASES_NO_CONFORMIDAD INT, EnvasesPorPalet INT, CajasPorPalet INT)
	DECLARE @lstTurnos TABLE (SHC_WORK_SCHED_DAY_PK INT, FECHA DATETIME, FECHA_INICIO DATETIME, FECHA_FIN DATETIME, TIPOTURNO INT)

	SELECT @NumLinea = NumeroLinea FROM Lineas WHERE Id = @linea

	--INSERT INTO @lstTurnos
	--SELECT Id 
	--FROM cob 
	--WHERE Linea = @linea AND ((InicioTurno >= @fIni and FinTurno <=@fFin) or (@fIni BETWEEN InicioTurno AND FinTurno) or (@fFin BETWEEN InicioTurno AND FinTurno))

	INSERT INTO @lstTurnos
	SELECT SHC_WORK_SCHED_DAY_PK, FechaTurno, InicioTurno, FinTurno, IdTipoTurno
	FROM ConsolidadoTurnos 
	WHERE IdLinea = @linea AND (
		(InicioTurno >= @fIni AND FinTurno <= @fFin)
		OR
		( @fIni > InicioTurno AND @fIni < FinTurno)
		OR
		(@fFin > InicioTurno AND @fFin < FinTurno)
	)

	--SELECT * FROM @lstTurnos order by FECHA_INICIO

	------------------------OBTENCION CANTIDAD_PALETS_PALETIZADORA---------------------------------------------------------------------------------
	MERGE @tmpDatosTurnosOrden AS T
	USING (SELECT CT.FechaTurno, Consolidacion.SHC_WORK_SCHED_DAY_PK,ID_ORDEN, COALESCE(SUM(Consolidacion.CONTADOR_PRODUCCION), 0), CT.IdTipoTurno
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			INNER JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
			INNER JOIN Lineas AS L ON ML.NumLinea = L.NumeroLinea
			LEFT JOIN ConsolidadoTurnos CT ON L.Id = CT.IdLinea AND Consolidacion.FECHA_INICIO BETWEEN CT.InicioTurno AND CT.FinTurno AND Consolidacion.FECHA_FIN BETWEEN CT.InicioTurno AND CT.FinTurno
			WHERE (Consolidacion.FECHA_INICIO >= @fIni AND Consolidacion.FECHA_FIN <= @fFin) AND ML.Clase = @CLASE AND ISNULL(ID_ORDEN,'') != '' AND ML.NumLinea = @NumLinea 
			AND Consolidacion.SHC_WORK_SCHED_DAY_PK >0
			GROUP BY ID_ORDEN, Consolidacion.SHC_WORK_SCHED_DAY_PK, CT.FechaTurno, CT.IdTipoTurno) AS U (Fecha, IdTurno, IdOrden, CANTIDAD_PALETS_PALETIZADORA, TIPOTURNO)
		ON U.IdOrden = T.ID_ORDEN AND U.IdTurno = T.SHC_WORK_SCHED_DAY_PK AND U.TIPOTURNO = T.TIPOTURNO AND U.Fecha = T.FECHA
	WHEN MATCHED THEN 
		UPDATE SET T.CANTIDAD_PALETS_PALETIZADORA = U.CANTIDAD_PALETS_PALETIZADORA,
				   T.ID_ORDEN = U.IdOrden
	WHEN NOT MATCHED THEN
		INSERT (FECHA, SHC_WORK_SCHED_DAY_PK, TIPOTURNO,  ID_ORDEN, CANTIDAD_PALETS_PALETIZADORA) 
		VALUES (U.Fecha, U.IdTurno, U.TIPOTURNO, U.IdOrden, U.CANTIDAD_PALETS_PALETIZADORA);

	------------------------OBTENCION CANTIDAD_ENVASES_LLENADORA---------------------------------------------------------------------------------
	MERGE @tmpDatosTurnosOrden AS T
	USING (SELECT CT.FechaTurno, COBLLE.SHC_WORK_SCHED_DAY_PK, ID_ORDEN, COALESCE(SUM(COBLLE.CONTADOR_PRODUCCION), 0), CT.IdTipoTurno
			FROM COB_MSM_PROD_LLENADORA_HORA AS COBLLE
			INNER JOIN MaquinasLineas AS ML on ML.Id = COBLLE.ID_MAQUINA
			INNER JOIN Lineas AS L ON ML.NumLinea = L.NumeroLinea
			LEFT JOIN ConsolidadoTurnos CT ON L.Id = CT.IdLinea AND COBLLE.FECHA_INICIO BETWEEN CT.InicioTurno AND CT.FinTurno AND COBLLE.FECHA_FIN BETWEEN CT.InicioTurno AND CT.FinTurno
			WHERE (COBLLE.FECHA_INICIO >= @fIni AND COBLLE.FECHA_FIN <= @fFin) AND ISNULL(ID_ORDEN,'') != '' AND ML.NumLinea = @NumLinea
			AND COBLLE.SHC_WORK_SCHED_DAY_PK >0
			GROUP BY COBLLE.ID_ORDEN, COBLLE.SHC_WORK_SCHED_DAY_PK, CT.FechaTurno, CT.IdTipoTurno) AS U (Fecha,IdTurno, IdOrden, CANTIDAD_ENVASES_LLENADORA, TIPOTURNO)
		ON U.IdOrden = T.ID_ORDEN AND U.IdTurno = T.SHC_WORK_SCHED_DAY_PK AND U.TIPOTURNO = T.TIPOTURNO AND U.Fecha = T.FECHA
	WHEN MATCHED THEN 
		UPDATE SET T.CANTIDAD_ENVASES_LLENADORA = U.CANTIDAD_ENVASES_LLENADORA,
				   T.ID_ORDEN = U.IdOrden
	WHEN NOT MATCHED THEN
		INSERT (FECHA, SHC_WORK_SCHED_DAY_PK, TIPOTURNO,  ID_ORDEN, CANTIDAD_ENVASES_LLENADORA) 
		VALUES (U.Fecha, U.IdTurno, U.TIPOTURNO, U.IdOrden, U.CANTIDAD_ENVASES_LLENADORA);
		
	------------------------OBTENCION CANTIDAD_PICOS_CAJAS, NumPaletsdePicos PARA CADA WO---------------------------------------------------------------------------------

	
	MERGE @tmpDatosTurnosOrden AS T
	USING (SELECT IdTurno, IdOrden, COALESCE(SUM(Cantidad),0), COUNT(IdOrden)
			FROM dbo.Picos
			WHERE IdTurno IN (SELECT SHC_WORK_SCHED_DAY_PK FROM @lstTurnos)
			GROUP BY IdOrden, IdTurno) AS U (IdTurno, IdOrden, CANTIDAD_PICOS_CAJAS, NumPaletsdePicos)
			ON U.IdOrden = T.ID_ORDEN AND U.IdTurno = T.SHC_WORK_SCHED_DAY_PK
	WHEN MATCHED THEN 
		UPDATE SET T.CANTIDAD_PICOS_CAJAS = U.CANTIDAD_PICOS_CAJAS, T.NumPaletsdePicos = U.NumPaletsdePicos;
	
	------------------------OBTENCION CANTIDAD_ENVASES_NO_CONFORMIDAD---------------------------------------------------------------------------------

	MERGE @tmpDatosTurnosOrden AS T
	USING (SELECT  SHC_WORK_SCHED_DAY_PK, ID_ORDEN, COALESCE(SUM(CANTIDAD_ENVASES),0)
			FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
			---COMPROBAR QUE FECHA_PROD_PALET POR BREAD SE PONE A NULL
			WHERE (FECHA_PROD_PALET IS NULL AND SHC_WORK_SCHED_DAY_PK IN (SELECT SHC_WORK_SCHED_DAY_PK FROM @lstTurnos)) or (FECHA_PROD_PALET BETWEEN @fIni AND @fFin) 
			GROUP BY ID_ORDEN, SHC_WORK_SCHED_DAY_PK) AS U (IdTurno, IdOrden, CANTIDAD_ENVASES_NO_CONFORMIDAD)
			ON U.IdOrden = T.ID_ORDEN AND U.IdTurno = T.SHC_WORK_SCHED_DAY_PK
	WHEN MATCHED THEN 
		UPDATE SET T.CANTIDAD_ENVASES_NO_CONFORMIDAD = U.CANTIDAD_ENVASES_NO_CONFORMIDAD;

	------------------------OBTENCION CONVERSIONES PARA CADA WO---------------------------------------------------------------------------------
	
	UPDATE
		Tdto
	SET
		Tdto.EnvasesPorPalet = o.EnvasesPorPalet,
		Tdto.CajasPorPalet = o.CajasPorPalet
	FROM
		@tmpDatosTurnosOrden AS Tdto
		INNER JOIN Ordenes AS o
			ON Tdto.ID_ORDEN = o.Id			

	--SELECT * FROM @tmpDatosTurnosOrden order by SHC_WORK_SCHED_DAY_PK

	SELECT @NUM_TURNOS_CONTIGUOS = COUNT(C.SHC_WORK_SCHED_DAY_PK)
	FROM
	(SELECT SHC_WORK_SCHED_DAY_PK
	FROM @lstTurnos
	GROUP BY SHC_WORK_SCHED_DAY_PK, FECHA) AS C

	SELECT @NUM_TURNOS_CON_ORDEN = COUNT(C.SHC_WORK_SCHED_DAY_PK)
	FROM
	(SELECT 1 AS SHC_WORK_SCHED_DAY_PK
	FROM @tmpDatosTurnosOrden TMP
	INNER JOIN @lstTurnos LST ON LST.SHC_WORK_SCHED_DAY_PK = TMP.SHC_WORK_SCHED_DAY_PK OR (TMP.FECHA = LST.FECHA AND TMP.TIPOTURNO = LST.TIPOTURNO)
	GROUP BY TMP.TIPOTURNO, TMP.FECHA) AS C
	--SELECT @NUM_TURNOS_CONTIGUOS AS '@NUM_TURNOS_CONTIGUOS', @NUM_TURNOS_CON_ORDEN AS '@NUM_TURNOS_CON_ORDEN'
	IF(@NUM_TURNOS_CONTIGUOS = @NUM_TURNOS_CON_ORDEN)
	BEGIN
		SELECT @ICTurno = ISNULL( (SUM(COALESCE((T.CANTIDAD_PALETS_PALETIZADORA - COALESCE(T.NumPaletsdePicos,0)) * T.EnvasesPorPalet,0)) + SUM(COALESCE( T.CANTIDAD_PICOS_CAJAS *T.EnvasesPorPalet/NULLIF(T.CajasPorPalet,0),0)) - SUM(COALESCE(T.CANTIDAD_ENVASES_NO_CONFORMIDAD,0)))/(SUM(CONVERT(FLOAT,NULLIF(T.CANTIDAD_ENVASES_LLENADORA,0))) ),0)
		FROM
		(	 SELECT ID_ORDEN, SUM(CANTIDAD_PALETS_PALETIZADORA) as CANTIDAD_PALETS_PALETIZADORA, SUM(CANTIDAD_ENVASES_LLENADORA) as CANTIDAD_ENVASES_LLENADORA, SUM(CANTIDAD_PICOS_CAJAS) as CANTIDAD_PICOS_CAJAS, SUM(NumPaletsdePicos) as NumPaletsdePicos, SUM(CANTIDAD_ENVASES_NO_CONFORMIDAD) as CANTIDAD_ENVASES_NO_CONFORMIDAD, EnvasesPorPalet, CajasPorPalet
			 FROM @tmpDatosTurnosOrden
			 GROUP BY ID_ORDEN, EnvasesPorPalet, CajasPorPalet 
		)T

		--SET @ICTurno = CONVERT(DECIMAL(10,5),ROUND (@ICTurno, 5, 1))
	END

	RETURN @ICTurno
END
GO
