USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[ConversionesInterspec]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConversionesInterspec]
(              
                --Add the parameters for the function here
                @producto as nvarchar(50)
)
RETURNS TABLE 
AS
RETURN 
(
 
                
             
                               Select * from Openquery(INTERSPEC,
'SELECT    ItSpProperty.PartNo as IdProducto,
   ItSpProperty.Numeric1 as ContenedoresPalet
  FROM INTERSPC.ItSpProperty as ItSpProperty
    INNER JOIN INTERSPC.ItSc as ItSc on ItSpProperty.SectionId = ItSc.SectionId
    INNER JOIN INTERSPC.ItPropertyGroup as ItPropertyGroup on ItSpProperty.PropertyGroupId = ItPropertyGroup.PropertyGroupId
    INNER JOIN INTERSPC.ItProperty as ItProperty  on ItSpProperty.PropertyId = ItProperty.PropertyId
  where
      ItSpProperty.Revision = INTERSPC.f_get_att_rev(ItSpProperty.PartNo, NULL)
     and ItSc.Description=''Esquema de Paletización''
     and ItPropertyGroup.Description = ''Esquema de Paletización''
                and ItSpProperty.PropertyId = 700046
     and ItProperty.Description in (''Posición Fleje'',''Contenedores por Embalaje'',''Embalajes por Manto'',''Contenedores por Palet'',''Pack por Palet'',''Mantos por Palet'')'
)



)
GO
