USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[MES_GetICWO]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		IDOM, DSG
-- Create date: Desconocida
-- Last modification date: 14/01/2021
-- Description:	Calcula el rendimiento de la WO
-- El 13/01/2021 se modifica que para que si la orden está en estado "Producción" o "Iniciando" el resultado siempre sea 1
-- =============================================
CREATE FUNCTION [dbo].[MES_GetICWO]
(
	-- Add the parameters for the function here
	@id_wo nvarchar(101)
)
RETURNS FLOAT
AS
BEGIN

	DECLARE @CLASE AS NVARCHAR(20) = 'PALETIZADORA'
	DECLARE @CANTIDAD_PICOS_CAJAS as INT;
	DECLARE @CANTIDAD_PALETS_PALETIZADORA as INT;
	DECLARE @CANTIDAD_ENVASES_LLENADORA AS INT;
	DECLARE @CANTIDAD_ENVASES_NO_CONFORMIDAD as INT;
	DECLARE @NumPaletsdePicos AS INT;
	DECLARE @ICWO as FLOAT;
	DECLARE @ENVASES_PALETIZADORA_WO as INT;
	DECLARE @EnvasesPorPalet AS INT;
	DECLARE @CajasPorPalet AS INT;
	DECLARE @ENVASES_PICOS_WO AS INT;
	DECLARE @ESTADO_WO AS NVARCHAR(50);
	
	SELECT @EnvasesPorPalet = o.EnvasesPorPalet, @CajasPorPalet = o.CajasPorPalet, @ESTADO_WO = o.EstadoAct
	FROM dbo.Ordenes o
	WHERE o.Id = @id_wo 

	IF (@ESTADO_WO IN ('Cancelada','Producción','Iniciando'))
	BEGIN
	 SET @ICWO = 1
	END
	ELSE
	BEGIN
		SELECT 
			@CANTIDAD_PALETS_PALETIZADORA = COALESCE(SUM(Consolidacion.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
		LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
		WHERE Consolidacion.ID_ORDEN = @id_wo AND ML.Clase = @CLASE
		AND SHC_WORK_SCHED_DAY_PK > 0
		GROUP BY ID_ORDEN

		SELECT 
			@CANTIDAD_ENVASES_LLENADORA = COALESCE(SUM(COBLLE.CONTADOR_PRODUCCION), 0)
		FROM COB_MSM_PROD_LLENADORA_HORA AS COBLLE
		WHERE COBLLE.ID_ORDEN = @id_wo
		AND SHC_WORK_SCHED_DAY_PK > 0
		GROUP BY ID_ORDEN
	
		SELECT @CANTIDAD_PICOS_CAJAS = COALESCE(SUM(Cantidad),0), @NumPaletsdePicos = COUNT(IdParticion)
		FROM dbo.Picos
		WHERE IdOrden = @id_wo
	
		SELECT @CANTIDAD_ENVASES_NO_CONFORMIDAD = COALESCE(SUM(CANTIDAD_ENVASES),0)
		FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
		WHERE SHC_WORK_SCHED_DAY_PK > 0
		AND ID_ORDEN = @id_wo

		SET @ENVASES_PALETIZADORA_WO = (@CANTIDAD_PALETS_PALETIZADORA - @NumPaletsdePicos) * @EnvasesPorPalet;
	
		SET @ENVASES_PICOS_WO = @CANTIDAD_PICOS_CAJAS * COALESCE(@EnvasesPorPalet/NULLIF(@CajasPorPalet,0),0);
	
		SET @ICWO = COALESCE((@ENVASES_PALETIZADORA_WO + @ENVASES_PICOS_WO - @CANTIDAD_ENVASES_NO_CONFORMIDAD) /CONVERT(FLOAT,NULLIF(@CANTIDAD_ENVASES_LLENADORA,0)),0);
	END
	--RETURN CONVERT(DECIMAL(10,5),ROUND (@ICWO, 5, 1))7
	RETURN @ICWO
END
GO
