USE [MES_MSM]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPkParametroMaterial]    Script Date: 25/02/2022 12:56:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetPkParametroMaterial]
(
	-- Add the parameters for the function here
	@nomParam nvarchar(20)
)
RETURNS int
AS
BEGIN
	DECLARE @pk as int = -1;

	SELECT @pk = PropertyPK
		FROM [SITMesDB].[dbo].[MMProperties]
		WHERE PropertyID = @nomParam
	--IF @nomParam  = 'Gama' 
	--	SET @pk = 12
	--ELSE IF @nomParam  = 'Marca' 
	--	SET @pk = 8
	--ELSE IF @nomParam  = 'Tipo_Envase' 
	--	SET @pk = 10

	--SELECT DISTINCT @pk = DefVerPK FROM SITMesDB.dbo.MMvDefVerPrpVals
	--WHERE PropertyID = @nomParam
	RETURN @pk

END
GO
