USE [SSISDeltaV]
GO
/****** Object:  View [dbo].[OLTP_ModuloView]    Script Date: 01/03/2021 12:24:39 ******/
DROP VIEW [dbo].[OLTP_ModuloView]
GO
/****** Object:  View [dbo].[OLTP_ModuloView]    Script Date: 01/03/2021 12:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[OLTP_ModuloView]
AS
	SELECT *
	FROM
	(SELECT M.Cod_Modulo,M.Des_Modulo,M.Segmento,PS.PK Cod_Procedimiento,PS.PS_PPR,
	case when 
		PS_PPR like '%.FILTRACION.%' 
	then 
		case when Substring(M.Des_Modulo,PATINDEX('%[1-9]%',M.Des_Modulo),len(M.Des_Modulo)-PATINDEX('%[1-9]%',M.Des_Modulo)+1) = Substring(PS.PS_PPR,PATINDEX('%[1-9]%',PS.PS_PPR),len(PS.PS_PPR)-PATINDEX('%[1-9]%',PS.PS_PPR)+1) 
		then
			eq.ExecEquipList_ExecEquipLongName		
		else 		
			NULL
		end
	else
		eq.ExecEquipList_ExecEquipLongName 
	end ExecEquipList_ExecEquipLongName,
	bpm.equip_pk Cod_Equipo
	FROM SITMesDB.dbo.PDefM_PS PS
	INNER JOIN OLTP_Fabrica f on ps.PS_PPR like f.Des_Fabrica+'%' COLLATE DataBase_Default
	INNER JOIN [SSISDeltaV].[dbo].[OLTP_Modulo] M on M.Segmento=PS.PS COLLATE DataBase_Default
	INNER JOIN SITMesDB.dbo.PDefM_PS_ExecEquipList eq on eq.fk=PS.pk
	LEFT JOIN [SITMesDB].[dbo].BPMV_EQPT bpm on bpm.equip_id=eq.ExecEquipList_ExecEquipLongName
	WHERE PS <> 'AuxEntry') aux
	WHERE ExecEquipList_ExecEquipLongName is not null


GO
