USE [SSISDeltaV]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OLTP_KOP'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OLTP_KOP'

GO
/****** Object:  View [dbo].[OLTP_KOP]    Script Date: 01/03/2021 12:24:39 ******/
DROP VIEW [dbo].[OLTP_KOP]
GO
/****** Object:  View [dbo].[OLTP_KOP]    Script Date: 01/03/2021 12:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[OLTP_KOP]
AS

SELECT
	KOP.VAL_LNK AS Cod_KOP
	,CONVERT(VARCHAR(255), KOP.DSC) AS Des_KOP
	,CONVERT(VARCHAR(255), KOP.NAME) AS Literal_KOP
	,OT.pom_order_type_pk AS Cod_Batch
	,PPR.PPR
	,REPLACE(CONVERT(VARCHAR(255), KOP.NAME), '_', ' ') AS Lit_KOP
	,KOP.PRDCT_SEG AS Segmento
	,PS.PK AS Cod_Procedimiento
	,KOP.GRP
FROM SITMesDB.dbo.MDSPDEFM_PRDCT_SEG_PARM AS KOP
INNER JOIN SITMesDB.dbo.MDSPDEFM_PPR AS PPR ON PPR.PPR = KOP.PPR
INNER JOIN SITMesDB.dbo.POMV_ORDR_TPY AS OT ON PPR.TYP = OT.id
INNER JOIN SITMesDB.dbo.PDefM_PS AS PS ON PS.PS_PPR = PPR.PPR AND KOP.PRDCT_SEG = PS.PS_LabelName
WHERE (KOP.GRP <> 'MULTIVALOR' AND KOP.GRP <> 'HISTORICO' AND KOP.NAME not like '#%' AND KOP.GRP <> 'MANUAL' AND KOP.GRP <> 'CONSTANTE') and TRG_ORDR_LC='OM' and STAT='ED'
UNION ALL
SELECT  Distinct KopID,Name,Cast(KopID as varchar(255)),-1,Phase,Cast(KopID as varchar(255)),Proccess,-1,'MULTIVALOR' 
FROM CURVAS_KOP_DEF

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "KOP"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 168
               Right = 252
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PPR"
            Begin Extent = 
               Top = 7
               Left = 300
               Bottom = 168
               Right = 606
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OT"
            Begin Extent = 
               Top = 7
               Left = 654
               Bottom = 168
               Right = 879
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OLTP_KOP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OLTP_KOP'
GO
