USE [SSISDeltaV]
GO
/****** Object:  View [dbo].[OLTP_Material]    Script Date: 01/03/2021 12:24:39 ******/
DROP VIEW [dbo].[OLTP_Material]
GO
/****** Object:  View [dbo].[OLTP_Material]    Script Date: 01/03/2021 12:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE VIEW [dbo].[OLTP_Material]
AS
SELECT DISTINCT  	
	 CONVERT(VARCHAR(255),DEF.DEFID) AS ID_Material
	,CONVERT(VARCHAR(255),DEF.Descript) AS Des_Material,
	case when CONVERT(VARCHAR(255),propV.PValue) = '' then '---' else CONVERT(VARCHAR(255),propV.PValue) end SubClass	
	FROM SITMesDB.dbo.[MMvDefinitions] DEF  
LEFT JOIN [SITMesDB].[dbo].[MMProperties] Prop on Prop.PropertyID = 'Subclase_codigo'
LEFT JOIN [SITMesDB].[dbo].[MMwDefVerPrpVals] propV on propV.DefID=DEF.DefID and propV.PropertyPK=Prop.PropertyPK
INNER JOIN [SITMesDb].[dbo].[MMDefVers] VS on vs.DefPK=DEF.DefPK
INNER JOIN [SITMesDb].[dbo].[MMDefStatuses] st on st.[DefStatusPK]=vs.[DefStatusPK]
WHERE st.[DefStatusID] = 'APPROVED'

GO
