USE [SSISDeltaV]
GO
/****** Object:  View [dbo].[OLTP_Equipos]    Script Date: 01/03/2021 12:24:39 ******/
DROP VIEW [dbo].[OLTP_Equipos]
GO
/****** Object:  View [dbo].[OLTP_Equipos]    Script Date: 01/03/2021 12:24:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE VIEW [dbo].[OLTP_Equipos]
AS
SELECT
	eq.equip_pk AS Cod_Equipo
	,CONVERT(VARCHAR(255),eq.equip_id) AS ID_Equipo
	,CONVERT(VARCHAR(255),eq.equip_name) AS ID_Abrev_Equipo
	,CONVERT(VARCHAR(255),eqpropertyLang.equip_prpty_value) as [Des_Equipo]
	,eq.equip_prnt_pk AS [Cod_Celda]
FROM [SITMesDB].[dbo].BPMV_EQPT as eq
INNER JOIN [SITMesDB].[dbo].BPMV_EQPT_CLS eqcls ON (eq.equip_class_pk = eqcls.equip_class_pk)
INNER JOIN [SITMesDB].[dbo].BPM_MODULE module ON (eqcls.module_pk = module.module_pk)
LEFT JOIN  [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqproperty  ON (eq.equip_pk = eqproperty.equip_pk) 
--AND eqproperty.equip_prpty_id = N'C_External-ID'
LEFT JOIN [SITMesDB].[dbo].BPM_EQUIPMENT_PROPERTY eqpropertyLang ON (eq.equip_pk = eqpropertyLang.equip_pk) AND eqpropertyLang.equip_prpty_id = N'L0'
WHERE eq.equip_in_plant = 'true' AND eq.equip_class_lvl_id <> 'Logical-Cell'
AND eq.equip_class_lvl_id <> 'Logical-Unit'
AND eq.equip_id NOT LIKE '%-interface'
AND eqcls.equip_class_lvl_id  = 'Unit' 
AND ( eqproperty.equip_prpty_id = 'TIPO_UBICACION' AND eqproperty.equip_prpty_value = 'PRODUCCION')








GO
