/****** Script for SelectTopNRows command from SSMS  ******/

USE PPA
DECLARE @CONST_TABLE_TYPE nvarchar(15) = 'BASE TABLE';
DECLARE @OEESTTDetail nvarchar(MAX);
SELECT @OEESTTDetail = TABLE_NAME
FROM    INFORMATION_SCHEMA.TABLES 
WHERE   TABLE_NAME LIKE '%OEESTTDetail%' AND TABLE_TYPE = @CONST_TABLE_TYPE

EXECUTE('
SELECT 
CASE 
     WHEN rawValue = 1000 THEN ''Parada''
     WHEN rawValue =  2000 THEN ''Produciendo''
  END AS ''Estado RTDS''     
      ,[Level0] as ''Estados Web.config''
  FROM [dbo].[' + @OEESTTDetail + ']
  WHERE rawValue IN (''1000'', ''2000'')')