USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[checkMonthlyTriggerAttr]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[checkMonthlyTriggerAttr]
(
	-- Add the parameters for the function here
	@date datetime,
	@attrPlannedMonthNumDay int,
	@attrPlannedMonthDayWeek nvarchar(10)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
 	declare @dia int

	select @dia = 
		CASE @attrPlannedMonthDayWeek  
			 WHEN 'D'  then 1
			 WHEN 'L'  then 2
			 WHEN 'M'  then 3
			 WHEN 'X'  then 4
			 WHEN 'J' then 5
			 WHEN 'V' then 6
			 WHEN 'S' then 7        
		END 

	declare @DateStart datetime
	declare @DateEnd datetime
	declare @date2check date

	
	set @dateEnd = DATEADD(month, ((YEAR(@date) - 1900) * 12) + MONTH(@date), -1)
	-- en caso que tengamos que buscar el ultimo.
	
	if(@attrPlannedMonthNumDay=0) --el dia ha buscar es el ultimo, preparamos los parametros en caso que tengamos que buscar el ultimo
		begin
			set @DateStart = dateadd(day, -6, @dateEnd) -- si hay que buscar el ultimo miraremos en la ultima semaNa con la posicion 1
			
			select @date2check = 
				CASE @attrPlannedMonthDayWeek  
						 WHEN 'DIA'  then @DateEnd
						 WHEN 'FIN'  then dbo.getLastDayWeekendOfMonth(@date)
						 WHEN 'SEM'  then dbo.getLastDayMidWeekOfMonth(@date)
						 else dbo.getDayWeekOfMonth(1, @dia, @DateStart, @DateEnd)		 
				END 
		end
	else
		--No hay que buscar el ultimo
		begin
			set @datestart = DATEADD(month, DATEDIFF(month, 0, @date), 0) --firs day of month

			select @date2check = 
				CASE @attrPlannedMonthDayWeek  
						 WHEN 'DIA'  then DATEADD(DAY, @attrPlannedMonthNumDay-1, @DateStart)
						 WHEN 'FIN'  then dbo.getDayWeekendOfMonth(@attrPlannedMonthNumDay,  @DateStart, @DateEnd)
						 WHEN 'SEM'  then dbo.getDayMidWeekOfMonth(@attrPlannedMonthNumDay,  @DateStart, @DateEnd)
						 else dbo.getDayWeekOfMonth(@attrPlannedMonthNumDay, @dia, @DateStart, @DateEnd)		 
				END 
		end
	
	

	if(@date2check = convert (date, @date))
		return 1
	return 0
END
GO
