USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getLastDayWeekendOfMonth]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
create FUNCTION [dbo].[getLastDayWeekendOfMonth]
(
	@date datetime
)
RETURNS date
AS
BEGIN
	declare @dateEnd date
	set @dateEnd = DATEADD(month, ((YEAR(@date) - 1900) * 12) + MONTH(@date), -1)
	declare @dwEnd int
	set @dwEnd = datepart(dw, @dateEnd)

	if( @dwEnd in (1,7)) 
	begin
		return @dateEnd
	end
	return dateadd(day, 1-@dwEnd,@dateEnd)
	
END
GO
