USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[TurnoActivoPorId]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[TurnoActivoPorId]
(
	@IdLocation int,
	@fecha datetime

)
RETURNS  int
AS
BEGIN
	DECLARE @result INT

	SELECT @result= (CASE WHEN count(shc.id)>=1 THEN 1 ELSE 0 END) 
	FROM dbo.SIT_SHC_Turnos shc INNER JOIN
	 dbo.SIT_locations_PDVs relpdv ON relpdv.IdUbicacionLinkMes like shc.Linea +'%'
	WHERE 
		relpdv.id = @IdLocation 
		AND shc.IdTipoTurno <> 0 
		AND @fecha BETWEEN shc.InicioTurnoUTC AND shc.FinTurnoUTC

	RETURN @result

END
GO
