USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[OrdenActivaPorId]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[OrdenActivaPorId]
(
	@IdOrden NVARCHAR(250)

)
RETURNS  int
AS
BEGIN
	DECLARE @result INT

	SELECT @result = (CASE WHEN count(relpdv.id)>=1 THEN 1 ELSE 0 END) 
	FROM  dbo.SIT_locations_PDVs relpdv 
	WHERE 
		relpdv.id = @IdOrden 
		AND  
		relpdv.IdUbicacionLinkMes IN (SELECT eo.equip_id 
										   FROM dbo.SIT_Equipment_orders eo 
										   WHERE eo.equip_prpty_value <> ''
											)

	RETURN @result

END
GO
