USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getTurnoID]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getTurnoID]
(
	@hora int
)
RETURNS  int
AS
BEGIN
	-- Manana
	if @hora >=6 and @hora < 14
	begin
		return 1
	end
	-- tarde
	if @hora >=14 and @hora < 22
	begin
		return 2
	end
	-- noche
	if @hora >=0 and @hora < 6
	begin
		return 3
	end
	if @hora >=22 and @hora <= 24
	begin
		return 3
	end
	-- Return the result of the function
	RETURN 0

END
GO
