USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getLastDayMidWeekOfMonth]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getLastDayMidWeekOfMonth]
(
	@date datetime
)
RETURNS date
AS
BEGIN
	declare @dateEnd date
	
	set @dateEnd = DATEADD(month, ((YEAR(@date) - 1900) * 12) + MONTH(@date), -1)
	
	
	declare @dwEnd int
	set @dwEnd = datepart(dw, @dateEnd)

	if( @dwEnd = 1) --si es domingo el ultimo dia restamos dos
	begin
		return dateadd(day, -2,@dateEnd)
	end
	if( @dwEnd = 7) --si es sabado restamos 1
	begin
		return dateadd(day, -1,@dateEnd)
	end
	
	return @dateEnd
	
END
GO
