USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getDayWeekendOfMonth]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDayWeekendOfMonth]
(
	@position int,
	@DateStart datetime,
	@DateEnd datetime
)
RETURNS date
AS
BEGIN

	--declare @firstSaturday datetime
	--declare @firstSunday datetime

	--set @firstSaturday = dbo.getDayWeekOfMonth(@position, 7, @date)
	--set @firstSunday =dbo.getDayWeekOfMonth(@position, 1, @date)
	
	--if(@firstSunday < @firstSaturday)
	--begin
	--	return @firstSunday
	--end
	
	--return @firstSaturday
	
	declare @result datetime

	--si buscamos la primera posicion y cae el dia 1 en domingo devolvemos este sino buscaremos el primer sabado del mes dentro de la posicion indicada
	if(@position = 1 and datepart(dw, @datestart) = 1)
	begin
		return @datestart
	end
	if(@position > 1 and datepart(dw, @datestart) = 1) --si el domingo cae en 1 hay que restar uno a la poscion para que coja el sabado anterior
	begin
		set @position = @position -1
	end
	;with CTE as
	(
	select @DateStart as dt,datepart(Weekday,@DateStart) as Dw
	union all
	select dt+ 1,datepart(Weekday,dt+1)
	from CTE
	where dt< @DateEnd
	)
	,
	CTE2 as (
	select dt,Dw,ROW_NUMBER() over (partition by datepart(mm,dt),Dw order by dt) as rn from CTE)
	 select @result= min(dt) from CTE2 C2 where C2.Dw = 7 and rn=@position 
	option (maxrecursion 0)

	return @result
END
GO
