USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getDayWeekOfMonth]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDayWeekOfMonth]
(
	@position int,
	@day int, 
	 @DateStart datetime,
	 @DateEnd datetime
)
RETURNS date
AS
BEGIN

	
	declare @result datetime

	;with CTE as
	(
	select @DateStart as dt,datepart(Weekday,@DateStart) as Dw
	union all
	select dt+ 1,datepart(Weekday,dt+1)
	from CTE
	where dt< @DateEnd
	)
	,
	CTE2 as (
	select dt,Dw,ROW_NUMBER() over (partition by datepart(mm,dt),Dw order by dt) as rn from CTE)
	 select @result= dt from CTE2 C2 where C2.Dw=@day and rn=@position
	option (maxrecursion 0)

	return @result
END
GO
