USE [MES_MSM_ALT]
GO
/****** Object:  UserDefinedFunction [dbo].[getDayMidWeekOfMonth]    Script Date: 25/02/2022 12:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getDayMidWeekOfMonth]
(
	@position int,
	@dateStart datetime,
	@dateEnd datetime

)
RETURNS date
AS
BEGIN
	
	declare @firstdayOfMidWeek datetime
	declare @result datetime

	;with CTE as
	(
	select @DateStart as dt,datepart(Weekday,@DateStart) as Dw
	union all
	select dt+ 1,datepart(Weekday,dt+1)
	from CTE
	where dt< @DateEnd
	)
	,
	CTE2 as (
	select dt,Dw,ROW_NUMBER() over (partition by datepart(mm,dt),Dw order by dt) as rn from CTE)
	 select @firstdayOfMidWeek= min(dt) from CTE2 C2 where C2.Dw in (2,3,4,5,6) and rn=1
	option (maxrecursion 0)
	--con el primer dia de entre semana del mes le sumamos la posición que queremos primer, segundo, tercero o cuarto dia.
	set @result = dateadd(day, @position -1, @firstdayOfMidWeek)

	--si el resultado ha caido en fin de semana deberemos sumarle dos mas
	if(datepart(dw, @result) in (0,7))
	begin
		set @result = dateadd(day, 2, @result)
	end
	return @result
END
GO
