USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[deleteNotLinkedFiles]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[deleteNotLinkedFiles] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    delete
	from dbo.StorageFiles 
	where 
	id not in (select idFile from dbo.TemplatesFormsFiles) and
	id not in (select idFiles from dbo.FormsFilesV2) and
	DATEDIFF(hour, uploadOn, getutcdate()) > 24


END
GO
