USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[createFormFileRelation]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[createFormFileRelation]
	-- Add the parameters for the stored procedure here
	@idForm int, 
	@idFile int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into dbo.FormsFilesV2(idFiles, idForm) values (@idFile, @idForm)
END
GO
