USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerOrders]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerOrders]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	declare @date datetime	
	declare @hora integer
	set @date = GETUTCDATE()	
	select @hora = datepart(hour, @date)
	--insert
	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02, orderId, orderStatus, orderStatusAnt, location, turnoId, orderTypeId)
	select tri.id,@date, tri.name, tri.typeID, tri.attr01, tri.attr02,  ord.Id, ord.EstadoAct, ord.EstadoAnt, ord.equipoOrden, dbo.getturnoid(@hora),  tri.attr01
	from dbo.TemplatesTriggers tri inner join dbo.SIT_Orders ord on ord.typeID = tri.attr01 and ord.EstadoAct = tri.attr02 and ( tri.locID is null or equipoOrden like tri.locID + '%')
	where tri.typeID = 'ORDEN' and tri.deleted = 0 and tri.status = 1
	and ord.FecHorAct between dateadd(hour, -4, @date) and @date --solo hacemos las ordenes que han cambiado de estado las ultimas 4 horas
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select ibox.orderId from dbo.inboxTrigger ibox where ibox.orderStatus = ord.EstadoAct and isnull(ibox.orderStatusAnt,'') = isnull(ord.EstadoAnt,'')  and ibox.orderId = ord.id) --miramos que ese transición de estados no se haya hecho ya, añadimos 
	--
	RETURN @@ROWCOUNT;
END
GO
