USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerPlan]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerPlan]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

	declare @date datetime
	declare @dia integer
	declare @hora integer
	declare @minutos integer
	declare @diaStr varchar(50)
	
	set @date = GETDATE()
	select @dia = datepart(dw,@date) -- consigue el día de la semana
	select @hora = datepart(hour, @date)
	select @minutos = datepart(minute, @date)


	select @diaStr = 
		CASE @dia  
			 WHEN 1 THEN '"value":"D"'  
			 WHEN 2 THEN '"value":"L"'  
			 WHEN 3 THEN '"value":"M"'  
			 WHEN 4 THEN '"value":"X"'  
			 WHEN 5 THEN '"value":"J"'
			 WHEN 6 THEN '"value":"V"'
			 WHEN 7 THEN '"value":"S"'
        
		END 


	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02, location, turnoId)
	select tri.id, GETUTCDATE(), tri.name, tri.typeID, tri.attr01, tri.attr02, tri.locID,  dbo.getturnoid(@hora)
	from dbo.TemplatesTriggers tri 
	where tri.typeID = 'PLANIFICADO' AND tri.deleted = 0 
	and tri.status = 1
	and tri.attr01 like '%' + @diaStr + '%'
	and datepart(hour,convert(datetime, tri.attr02)) = @hora
	and datepart(minute,convert(datetime, tri.attr02)) = @minutos
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select i.idTrigger from dbo.inboxTrigger i where i.idTrigger = tri.ID and cast(GETUTCDATE() as date) = cast(i.createdOnUTC as date))
	
	RETURN @@ROWCOUNT;
END
GO
