USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerPlanOnce]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerPlanOnce]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

	declare @date datetime
	set @date = GETUTCDATE()


	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrPlannedOnce) 
		select tri.id, GETUTCDATE(), tri.name, tri.typeID, attrPlannedOrderActive, attrPlannedShiftActive, tri.attrPlannedOnce 
	from dbo.TemplatesTriggers tri 
	where tri.typeID = 'PLANIFICADOV2' and tri.attrplannedtype = 1 AND tri.deleted = 0 and tri.status = 1
	and tri.attrPlannedOnce between dateadd(hour, -1, tri.attrPlannedOnce) and @date --La fechade disparo esta entre la fecha actual y hace una hora, Lo lanzaremos sino lo hemos lanzado antes para esta fecha atributo
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select i.idTrigger from dbo.inboxTrigger i where i.idTrigger = tri.ID and i.attrPlannedOnce = tri.attrPlannedOnce) 
	
	RETURN @@ROWCOUNT;
END
GO
