USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerPlanDailyCycle]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerPlanDailyCycle]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

	declare @date datetime	
	declare @dateLocal datetime
	declare @hora integer
	declare @minutos integer 
	
	set @date = GETUTCDATE()
	set @dateLocal = getdate()
	select @hora = datepart(hour, @dateLocal)
	select @minutos = datepart(minute, @dateLocal)
	
	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrFrecuencyIsCycle,  attrPlannedDays, attrFrecuencyQuantity, attrFrecuencyUnits, attrFrecuencyFrom, attrFrecuencyTo)
								select tri.id, @date, tri.name, tri.typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrFrecuencyIsCycle, attrPlannedDays, attrFrecuencyQuantity, attrFrecuencyUnits, attrFrecuencyFrom, attrFrecuencyTo
	from dbo.TemplatesTriggers tri
	where tri.typeID = 'PLANIFICADOV2' and tri.attrplannedtype = 2 AND tri.attrFrecuencyIsCycle = 1 and tri.deleted = 0 and tri.status = 1
	and @date >= tri.attrValidFrom and (tri.attrValidHasUntil = 0 or tri.attrValidUntil> @date) -- comprobar validez
	and datediff(day, tri.attrValidFrom, @date) % tri.attrPlannedDays = 0 -- cada X dias se tiene que ejecutar
	and DATEDIFF(minute, tri.attrFrecuencyFrom, convert(time(5),@dateLocal)) % (tri.attrFrecuencyQuantity * tri.attrFrecuencyUnits) = 0 -- ciclicamente, (en caso que sean horas se pasa a minutos por eso se multipkica Quantity * Units)
	-- ACTUALIZADO 02-03-2021 Roberto / Se modifica la fecha final de la frecuencia, agregandole 50 segundos para que pueda entrar la última hora
	and convert(time(5),@dateLocal) >=  tri.attrFrecuencyFrom and  convert(time(5), @dateLocal) <= DATEADD(SECOND, 50, tri.attrFrecuencyTo) -- la hora tiene que estar entre el Desde y Hasta configurado en la frecuencia
	-- End Update
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select i.idTrigger from dbo.inboxTrigger i where i.idTrigger = tri.ID and   CONVERT(VARCHAR(16),@date,120) =  convert(VARCHAR(16), i.createdOnUTC,120) ) -- no existe ningun disparo de ese tipo para el mismo día y misma hora
	
	
	RETURN @@ROWCOUNT;
END
GO
