USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerTurno]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerTurno]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	declare @date datetime
	declare @dataUTC datetime
	declare @hora integer
	declare @minutos integer
	set @dataUTC = GETUTCDATE()	
	set @date = GETDATE()	
	select @hora = datepart(hour, @date)
	select @minutos = datepart(minute, @date)
	-- revisamos todos los triggers que tenemos configurados en Templates Triggers que cruzan con los turnos y están configurados para lanzarse
	-- comprobamos el no exists que no se haya lanzado este trigger antes
	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02, location, shcID, turnoId)
	SELECT DISTINCT
		tri.id, 
		@dataUTC, 
		tri.name, 
		tri.typeID, 
		tri.attr01, 
		tri.attr02, 
		OrdEquip.equip_superior,  
		shc.Id, 
		shc.IdTipoTurno
	FROM 
		SIT_SHC_Turnos shc, 
		TemplatesTriggers tri,
		[MES_MSM_ALT].[dbo].[SIT_Locations_PDVs] LocationPDV,
		[MES_MSM_ALT].[dbo].[TemplatesLocFormTri] TempLocFormTri
		,dbo.SIT_Orders ord 
		,dbo.SIT_Equipment_orders OrdEquip
    WHERE 
		 LocationPDV.ID = TempLocFormTri.idLoc
		AND tri.ID = TempLocFormTri.idTrigger
		AND ord.EquipoOrden like shc.linea +'%'
		and OrdEquip.equip_id =  LocationPDV.IdUbicacionLinkMes
		AND LocationPDV.IdUbicacionLinkMes like shc.linea +'%'
		AND tri.typeID = 'TURNO'
		AND tri.deleted = 0
		AND tri.status = 1
		AND tri.attr01 like '%value":"' + shc.IdTipoTurno + '%'	
		-- Cambio Alexis Anselmi 20-11-2019 Se comenta la comparación de línea porque no se guarda la línea al crear un nuevo evento de Turno
		--and (shc.linea like tri.locID + '%') 
		AND ( tri.locID is null or shc.linea like tri.locID + '%')
		AND cast(shc.InicioTurno as date) = cast(@date as date) 
		-- que el inicio coincida con el de la hora y minutos actuales
		AND datepart(hour, shc.InicioTurno) = @hora
		AND datepart(minute, shc.InicioTurno)= @minutos
		AND not exists (SELECT 
							i.id 
						FROM 
							inboxTrigger i 
						WHERE 
							i.idTrigger = tri.id AND 
							cast(i.createdOnUTC as date) = cast(@dataUTC as date) AND 
							i.shcID = shc.id
						)

	RETURN @@ROWCOUNT;
END
GO
