USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[sendTriggerMaterial_TRA]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sendTriggerMaterial_TRA]
	@idPDV int,	 
	@clase varchar(200),
	@referencia varchar(200),
	@newDescript varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	declare @date datetime	
	declare @hora integer
	set @date = GETUTCDATE()	
	select @hora = datepart(hour, @date)
	DECLARE @insertedInbox01 TABLE (newPk INT)
	DECLARE @insertedInbox02 TABLE (newPk INT)
	--insert
	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02,  turnoId, materialId, soloLocationID, newDescript)
	output INSERTED.ID into @insertedInbox01
	select tri.id,@date, tri.name, tri.typeID, tri.attr01, tri.attr02,  dbo.getturnoid(@hora),  @referencia, @idPDV, @newDescript
	from dbo.TemplatesTriggers tri
	where tri.typeID = 'MATERIAL' and tri.deleted = 0 and tri.status = 1	
	and tri.attr01 = @clase and tri.attr02 = @referencia --primero vemos si existe un trigger con clase y referencia igual
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	
	--IF @@ROWCOUNT = 0 
	--begin
		--buscamos también si existe alguno generico que lanzar
		insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02,  turnoId, materialId, soloLocationID, newDescript)
		output INSERTED.ID into @insertedInbox02
		select tri.id,@date, tri.name, tri.typeID, tri.attr01, tri.attr02,  dbo.getturnoid(@hora),  @referencia, @idPDV, @newDescript
		from dbo.TemplatesTriggers tri
		where tri.typeID = 'MATERIAL' and tri.deleted = 0 and tri.status = 1	
		and tri.attr01 = @clase and tri.attr02 = ''--primero vemos si existe un trigger con clase y referencia igual
		and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	
	--end
	--Una vez insertado en inboxTrigger será el trigger de esta tabla el responsable de instanciar todos los formularios en el PDV indicado
	--Devolvemos todos los formularios creados que tienen el idInbox
	
	
	
	select f.ID 
				from dbo.Forms f, 
					@insertedInbox01 inbox , 
					dbo.inboxTrigger  SD 
	
				where  sd.id = inbox.newPk
				and		f.idTrigger = sd.idTrigger
	union
	select f.ID from dbo.Forms f, 
					@insertedInbox02 inbox , 
					dbo.inboxTrigger  SD 
	
				where  sd.id = inbox.newPk
				and		f.idTrigger = sd.idTrigger
END

GO
