USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDatosO2Llenadoras]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 13-09-2021
-- Description:	Se extraen los datos de O2 y CO2 de llenadoras de unos ficheros XML
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerDatosO2Llenadoras]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ficheros TABLE (Fichero nvarchar(60))
	DECLARE @listaFicheros TABLE (IdFila bigint, Fichero nvarchar(50)) 
	DECLARE @campos TABLE (Producto nvarchar(50), IdMuestra nvarchar(20), Fecha datetime, Comentario nvarchar(200), 
		TPO decimal(6,2), UnidadTPO nvarchar(10), HSO decimal(6,2), UnidadHSO nvarchar(10), 
		DO decimal(6,2), UnidadDO nvarchar(10), CO2 decimal(4,2), UnidadCO2 nvarchar(10), CO2_Ts decimal(4,2), 
		UnidadCO2_Ts nvarchar(10), HSV decimal(4,2), UnidadHSV nvarchar(10), Presion decimal(4,2), 
		UnidadPresion nvarchar(10), Temperatura decimal(4,2), UnidadTemperatura nvarchar(10), 
		Temperatura_Ts decimal(4,2), UnidadTemperatura_Ts nvarchar(10), Fichero nvarchar(50))

	DECLARE @listaCampos TABLE (Producto nvarchar(50), IdMuestra nvarchar(20), Fecha datetime, 
		Comentario nvarchar(200), TPO decimal(6,2), UnidadTPO nvarchar(10), HSO decimal(6,2), UnidadHSO nvarchar(10), 
		DO decimal(6,2), UnidadDO nvarchar(10), CO2 decimal(4,2), UnidadCO2 nvarchar(10), CO2_Ts decimal(4,2), 
		UnidadCO2_Ts nvarchar(10), HSV decimal(4,2), UnidadHSV nvarchar(10), Presion decimal(4,2), 
		UnidadPresion nvarchar(10), Temperatura decimal(4,2), UnidadTemperatura nvarchar(10), 
		Temperatura_Ts decimal(4,2), UnidadTemperatura_Ts nvarchar(10), Fichero nvarchar(50), Error nvarchar(200))

	DECLARE @resultado TABLE (Linea nvarchar(50), VolumenEnvase int, Llenadora tinyint, IdMuestra nvarchar(20), 
		Fecha datetime, Comentario nvarchar(200), TCP smallint, O2_TCP decimal(4,2), CO2_TCP decimal(4,2), 
		TipoMuestra nvarchar(10), NumGrifo tinyint, TPO decimal(6,2), UnidadTPO nvarchar(10), HSO decimal(6,2), 
		UnidadHSO nvarchar(10), DO decimal(6,2), UnidadDO nvarchar(10), CO2 decimal(4,2), UnidadCO2 nvarchar(10), 
		CO2_Ts decimal(4,2), UnidadCO2_Ts nvarchar(10), HSV decimal(4,2), UnidadHSV nvarchar(10), Presion decimal(4,2), 
		UnidadPresion nvarchar(10), Temperatura decimal(4,2), UnidadTemperatura nvarchar(10), Temperatura_Ts decimal(4,2), 
		UnidadTemperatura_Ts nvarchar(10), Fichero nvarchar(50))

	-- Guardamos los nombres de los ficheros que vamos a tratar de la ruta especificada
	INSERT INTO @ficheros
	--EXEC xp_cmdshell 'dir /B "C:\Ficheros_Interfases_MES\O2_Llenadoras"';
	EXEC xp_cmdshell 'forfiles /P "C:\Ficheros_Interfases_MES\O2_Llenadoras" /M *.xml /D 0 /C "cmd /C echo @file"';
	
	--select * from @ficheros
	DELETE FROM @ficheros WHERE Fichero IS NULL

	-- Si no encuentra ningún fichero da error, así que terminamos la ejecución
	IF EXISTS(SELECT Fichero FROM @ficheros WHERE Fichero LIKE '%ERROR%') RETURN

	INSERT INTO @listaFicheros
	SELECT ROW_NUMBER() OVER (ORDER BY Fichero), REPLACE(Fichero, '"', '')
	FROM @ficheros

	--select * from @listaFicheros

	DECLARE @contFilas int, @filas int, @idFila bigint, @fichero nvarchar(50), @path nvarchar(100), 
		@errorXML int, @consulta VARCHAR(MAX), @producto nvarchar(50), @comentario nvarchar(200), 
		@error nvarchar(200), @auxComentario nvarchar(200), @numeroPuntosComas int, 
		@sinComentario nvarchar(50), @TCP nvarchar(10), @sinTCP nvarchar(10), @O2TCP nvarchar(10), 
		@sinO2TCP nvarchar(10), @CO2TCP nvarchar(10), @ultimoCampo nvarchar(10), @grifo nvarchar(10)

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @listaFicheros)
	SET @idFila = (SELECT MIN(IdFila) FROM @listaFicheros)

	-- Recorremos cada uno de los ficheros XML para obtener la información que necesitamos
	WHILE @contFilas <= @filas
	BEGIN
		SET @fichero = (SELECT Fichero FROM @listaFicheros WHERE IdFila = @idFila)
		SET @path = 'C:\Ficheros_Interfases_MES\O2_Llenadoras\' + @fichero
		SET @errorXML = 0

		SET @consulta = 
			'SELECT 
				MY_XML.datos.query(''Product'').value(''.'', ''VARCHAR(50)''),
				MY_XML.datos.query(''Id'').value(''.'', ''VARCHAR(20)''),
				MY_XML.datos.query(''RetrievalDate'').value(''.'', ''DATETIME''),
				MY_XML.datos.query(''Comment'').value(''.'', ''VARCHAR(200)''),
				MY_XML.datos.query(''Tpo'').value(''.'', ''DECIMAL(6,2)''),
				MY_XML.datos.query(''TpoUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Hso'').value(''.'', ''DECIMAL(6,2)''),
				MY_XML.datos.query(''HsoUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Do'').value(''.'', ''DECIMAL(6,2)''),
				MY_XML.datos.query(''DoUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Co2'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''Co2Unit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Co2TemperatureStandard'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''Co2TemperatureStandardUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Hsv'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''HsvUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Pressure'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''PressureUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''Temperature'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''TemperatureUnit'').value(''.'', ''VARCHAR(10)''),
				MY_XML.datos.query(''TemperatureStandard'').value(''.'', ''DECIMAL(4,2)''),
				MY_XML.datos.query(''TemperatureStandardUnit'').value(''.'', ''VARCHAR(10)''),
				''' + @fichero + '''
			
			FROM (SELECT CAST(MY_XML AS xml)
			FROM OPENROWSET(BULK ''' + @path + ''', SINGLE_BLOB) AS T(MY_XML)) AS T(MY_XML)
			CROSS APPLY MY_XML.nodes(''PackageAnalyzerMeasurement'') AS MY_XML (datos)'
	
		BEGIN TRY
			INSERT INTO @campos
			EXEC (@consulta)
		END TRY
		BEGIN CATCH
			SET @errorXML = 1
		END CATCH

		IF @errorXML = 1 
		BEGIN
			DELETE FROM @campos

			SET @idFila = @idFila + 1
			SET @contFilas = @contFilas + 1;
			CONTINUE
		END
		
		INSERT INTO @listaCampos
		SELECT Producto, IdMuestra, Fecha, Comentario, TPO, UnidadTPO, 
			HSO, UnidadHSO, DO, UnidadDO, CO2, UnidadCO2, CO2_Ts, UnidadCO2_Ts, HSV, UnidadHSV, Presion, 
			UnidadPresion, Temperatura, UnidadTemperatura, Temperatura_Ts, UnidadTemperatura_Ts, Fichero, ''
		FROM @campos

		SELECT
			@producto = Producto,
			@comentario = Comentario,
			@error = Error
		FROM @listaCampos

		SET @auxComentario = @comentario
		SET @numeroPuntosComas = LEN(@auxComentario) - LEN(REPLACE(@auxComentario, ';', ''))

		IF @comentario = '' OR @numeroPuntosComas <= 3
		BEGIN
			DELETE FROM @campos
			DELETE FROM @listaCampos

			SET @idFila = @idFila + 1
			SET @contFilas = @contFilas + 1;
			CONTINUE
		END

		-- Si el formato del campo Producto no es correcto
		IF CHARINDEX('-', @producto) = 0 OR RIGHT(@producto, 1) != '0' OR LEN(@producto) > 14 OR LEN(@producto) < 10
		BEGIN
			SET @error = 'Error al importar en el campo Product: ' + @producto + ' ' 
			SET @producto = ''

			UPDATE @listaCampos
			SET Producto = @producto, 
				Comentario = REPLACE(Comentario, '.', ','),
				Error = @error
		END
		
		-- Si el formato del campo Comentario no es correcto
		SET @auxComentario = @comentario
		SET @numeroPuntosComas = LEN(@auxComentario) - LEN(REPLACE(@auxComentario, ';', ''))
		SET @sinComentario = RIGHT(@comentario, LEN(@comentario) - CHARINDEX(';', @comentario))
		SET @TCP = SUBSTRING(@sinComentario, 0, CHARINDEX(';', @sinComentario, 0))
		IF @TCP = '' SET @TCP = 0
		SET @sinTCP = RIGHT(@sinComentario, LEN(@sinComentario) - CHARINDEX(';', @sinComentario))
		SET @O2TCP = SUBSTRING(@sinTCP, 0, CHARINDEX(';', @sinTCP, 0))
		IF @O2TCP = '' SET @O2TCP = 0
		SET @sinO2TCP = RIGHT(@sinTCP, LEN(@sinTCP) - CHARINDEX(';', @sinTCP))
		SET @CO2TCP = SUBSTRING(@sinO2TCP, 0, CHARINDEX(';', @sinO2TCP, 0))
		IF @CO2TCP = '' SET @CO2TCP = 0
		SET @ultimoCampo = RIGHT(@comentario, CHARINDEX(';', REVERSE(@comentario), -1))
		SET @grifo = RIGHT(@ultimoCampo, LEN(@ultimoCampo) - CHARINDEX(';', @ultimoCampo)) 
		IF @grifo = '' SET @grifo = 0

		IF @numeroPuntosComas != 5 OR ISNUMERIC(@TCP) = 0 OR ISNUMERIC(@O2TCP) = 0 OR ISNUMERIC(@CO2TCP) = 0 OR 
			ISNUMERIC(@grifo) = 0 OR CHARINDEX(',', @O2TCP) > 0 OR CHARINDEX(',', @CO2TCP) > 0 
			OR CAST(@TCP AS int) > 255
		BEGIN
			IF @producto = ''
			BEGIN
				UPDATE @listaCampos
				SET Error = Error + 'Error al importar en el campo Comment: ' + @comentario + ' ' 
			END
			ELSE
			BEGIN
				SET @error = 'Error al importar en el campo Comment: ' + @comentario + ' '

				UPDATE @listaCampos
				SET Producto = RIGHT(REPLACE(@producto, ' ', ''), LEN(REPLACE(@producto, ' ', '')) - 4),
					Comentario = REPLACE(Comentario, '.', ','),
					Error = @error
			END
		END

		-- Si son correctos los campos
		IF @producto != '' AND CHARINDEX('Error', @error) <= 0
		BEGIN
			UPDATE @listaCampos
			SET Producto = RIGHT(REPLACE(@producto, ' ', ''), LEN(REPLACE(@producto, ' ', '')) - 4),
				Comentario = REPLACE(Comentario, '.', ',')
		END

		-- Realizamos operaciones de transformación de los datos para conseguir exactamente lo que queremos
		INSERT INTO @resultado
		SELECT DISTINCT
			CASE WHEN Producto = '' THEN ''
			WHEN ISNUMERIC(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0))) = 1 THEN 
				'Línea ' + SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0)) + ' - ' + 
				(SELECT Descripcion FROM MES_MSM.dbo.LINEAS 
					WHERE NumeroLinea = CONVERT(int, SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0))))
			ELSE 'Línea ' + LEFT(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0)), LEN(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0))) - 1)  + ' - ' + 
				(SELECT Descripcion FROM MES_MSM.dbo.LINEAS 
					WHERE NumeroLinea = CONVERT(int, LEFT(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0)), LEN(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0))) - 1))) 
			END AS Linea,
			CASE WHEN Producto = '' THEN '' ELSE CONVERT(int, SUBSTRING(Producto, CHARINDEX('-', Producto) + 1, LEN(Producto))) END AS VolumenEnvase,
			CASE WHEN Producto = '' THEN ''
			WHEN ISNUMERIC(RIGHT(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0)), 1)) = 1 THEN 1
			ELSE CONVERT(tinyint, CHAR(ASCII(RIGHT(SUBSTRING(Producto, 0, CHARINDEX('-', Producto, 0)), 1)) - 16))
			END AS Llenadora,
			IdMuestra, 
			Fecha,
			CASE WHEN CHARINDEX('Error', C.Error) > 0 THEN C.Error 
			ELSE A.ComentarioXML.value('/M[1]', 'varchar(200)') END AS Comentario,
			CASE WHEN CHARINDEX('Comment', C.Error) > 0 THEN 0 
			ELSE CONVERT(smallint, A.ComentarioXML.value('/M[2]', 'varchar(20)')) END AS TCP,
			CASE WHEN CHARINDEX('Comment', C.Error) > 0 THEN 0
			ELSE CONVERT(decimal(4,2), IIF(REPLACE(A.ComentarioXML.value('/M[3]', 'varchar(20)'), ',', '.') = '', '0', REPLACE(A.ComentarioXML.value('/M[3]', 'varchar(20)'), ',', '.'))) END AS O2_TCP,
			CASE WHEN CHARINDEX('Comment', C.Error) > 0 THEN 0
			ELSE CONVERT(decimal(4,2), IIF(REPLACE(A.ComentarioXML.value('/M[4]', 'varchar(20)'), ',', '.') = '', '0', REPLACE(A.ComentarioXML.value('/M[4]', 'varchar(20)'), ',', '.'))) END AS CO2_TCP,
			CASE WHEN CHARINDEX('Comment', C.Error) > 0 THEN ''
			ELSE A.ComentarioXML.value('/M[5]', 'varchar(10)') END AS TipoMuestra,
			CASE WHEN CHARINDEX('Comment', C.Error) > 0 THEN 0
			ELSE CONVERT(tinyint, A.ComentarioXML.value('/M[6]', 'varchar(20)')) END AS NumGrifo,
			TPO, 
			CASE WHEN UnidadTPO = 'Ppb' THEN 'ppb' ELSE UnidadTPO END, 
			HSO, 
			CASE WHEN UnidadHSO = 'Ppb' THEN 'ppb' ELSE UnidadHSO END, 
			DO, 
			CASE WHEN UnidadDO = 'Ppb' THEN 'ppb' ELSE UnidadDO END,  
			CO2, 
			CASE WHEN UnidadCO2 = 'GramPerLit' THEN 'g/l' ELSE UnidadCO2 END, 
			CO2_Ts, 
			CASE WHEN UnidadCO2_Ts = 'GramPerLit' THEN 'g/l' ELSE UnidadCO2_Ts END,  
			HSV, 
			CASE WHEN UnidadHSV = 'MilliLiter' THEN 'ml' ELSE UnidadHSV END, 
			Presion, 
			CASE WHEN UnidadPresion = 'Bar' THEN 'bar' ELSE UnidadPresion END,
			Temperatura, 
			CASE WHEN UnidadTemperatura = 'Celsius' THEN 'ºC' ELSE UnidadTemperatura END,
			Temperatura_Ts, 
			CASE WHEN UnidadTemperatura_Ts = 'Celsius' THEN 'ºC' ELSE UnidadTemperatura_Ts END,
			Fichero
		FROM @listaCampos C
		LEFT JOIN
			(SELECT Comentario, CAST('<M>' + REPLACE(Comentario, ';', '</M><M>') + '</M>' AS XML) AS ComentarioXML
				FROM @listaCampos  --) A
				WHERE CHARINDEX('Comment', Error) <= 0) A
				ON C.Comentario = A.Comentario

		SELECT 
			@fichero = Fichero
		FROM @resultado
	
		IF NOT EXISTS(SELECT 1 FROM O2_Llenadoras WHERE Fichero = @fichero)
		BEGIN
			INSERT INTO dbo.O2_Llenadoras
			SELECT 
				Linea, VolumenEnvase, Llenadora, IdMuestra, Fecha, Comentario, TCP, O2_TCP, CO2_TCP,
				TipoMuestra, NumGrifo, TPO, UnidadTPO, HSO, UnidadHSO, DO, UnidadDO, CO2, UnidadCO2, CO2_Ts, 
				UnidadCO2_Ts, HSV, UnidadHSV, Presion, UnidadPresion, Temperatura, UnidadTemperatura, 
				Temperatura_Ts, UnidadTemperatura_Ts, 0, 'bar', 0, 'bar', Fichero
			FROM @resultado
		END
		ELSE
		BEGIN
			UPDATE O
			SET O.Linea = R.Linea, 
				O.VolumenEnvase = R.VolumenEnvase, 
				O.Llenadora = R.Llenadora,  
				O.IdMuestra = R.IdMuestra,  
				O.Fecha = R.Fecha, 
				O.Comentario = R.Comentario, 
				O.TCP = R.TCP, 
				O.O2_TCP = R.O2_TCP, 
				O.CO2_TCP = R.CO2_TCP, 
				O.TipoMuestra = R.TipoMuestra, 
				O.NumGrifo = R.NumGrifo,  
				O.TPO = R.TPO, 
				O.UnidadTPO = R.UnidadTPO,  
				O.HSO = R.HSO, 
				O.UnidadHSO = R.UnidadHSO, 
				O.DO = R.DO, 
				O.UnidadDO = R.UnidadDO, 
				O.CO2 = R.CO2,  
				O.UnidadCO2 = R.UnidadCO2, 
				O.CO2_Ts = R.CO2_Ts,  
				O.UnidadCO2_Ts = R.UnidadCO2_Ts, 
				O.HSV = R.HSV, 
				O.UnidadHSV = R.UnidadHSV,  
				O.Presion = R.Presion,  
				O.UnidadPresion = R.UnidadPresion, 
				O.Temperatura = R.Temperatura, 
				O.UnidadTemperatura = R.UnidadTemperatura, 
				O.Temperatura_Ts = R.Temperatura_Ts,  
				O.UnidadTemperatura_Ts = R.UnidadTemperatura_Ts
			FROM dbo.O2_Llenadoras O
			INNER JOIN @resultado AS R ON O.Fichero = R.Fichero
			WHERE O.Fichero = @fichero
		END

		DELETE FROM @campos
		DELETE FROM @listaCampos
		DELETE FROM @resultado

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
