USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerPlanWeekly]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerPlanWeekly]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	declare @dateLocal datetime
	declare @date datetime
	declare @dia integer
	declare @hora integer
	declare @minutos integer
	declare @diaStr varchar(50)

	set @date = GETUTCDATE()
	set @dateLocal = getdate()
	select @dia = datepart(dw,@dateLocal) -- consigue el día de la semana
	select @hora = datepart(hour, @dateLocal)
	select @minutos = datepart(minute, @dateLocal)

	select @diaStr = 
		CASE @dia  
			 WHEN 1 THEN 'D'  
			 WHEN 2 THEN 'L'  
			 WHEN 3 THEN 'M'  
			 WHEN 4 THEN 'X'  
			 WHEN 5 THEN 'J'
			 WHEN 6 THEN 'V'
			 WHEN 7 THEN 'S'
        
		END 


	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrPlannedWeeks, attrPlannedWeekDays, attrFrecuencyIsCycle, attrFrecuencyHour)
					select tri.id, GETUTCDATE(), tri.name, tri.typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrPlannedWeeks, attrPlannedWeekDays, attrFrecuencyIsCycle, attrFrecuencyHour
	from dbo.TemplatesTriggers tri
	where tri.typeID = 'PLANIFICADOV2' and tri.attrplannedtype = 3 AND tri.attrFrecuencyIsCycle = 0 and tri.deleted = 0 and tri.status = 1
	and @date >= tri.attrValidFrom and (tri.attrValidHasUntil = 0 or tri.attrValidUntil> @date) -- comprobar validez
	and datediff(week, tri.attrValidFrom, @date) % tri.attrPlannedWeeks = 0 -- cada X semanas se tiene que ejecutar
	and tri.attrPlannedWeekDays like '%' + @diaStr + '%' --el día de hoy esta entre los días de la semana escogidos
	and  datepart(hour,convert(datetime, tri.attrFrecuencyHour)) = @hora and datepart(minute,convert(datetime, tri.attrFrecuencyHour)) = @minutos -- la hora coincide con la de disparo
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select i.idTrigger from dbo.inboxTrigger i where i.idTrigger = tri.ID and  convert(date,@date) = convert(date, i.createdOnUTC) and i.attrFrecuencyHour = tri.attrFrecuencyHour) -- no existe ningun disparo de ese tipo para el mismo día y misma configuración de hora
	
	RETURN @@ROWCOUNT;
END
GO
