USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[sendTriggerMaterial_old]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sendTriggerMaterial_old]
	@idPDV int,
	@matricula varchar(50),
	@idAlbaran varchar(200),
	@clase varchar(200),
	@referencia varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	declare @date datetime	
	set @date = GETUTCDATE()	
	declare @descript varchar(100)
	set @descript = ''
	IF @matricula != '' or @idAlbaran != ''
	begin
		set @descript = 'MATRICULA: ' + @matricula + '; ALBARÁN: ' +  @idAlbaran
	end
	DECLARE @insertedPk01 TABLE (newPk INT)
	DECLARE @insertedPk02 TABLE (newPk INT)
	--buscamos si hay trigger materiales específicos con esta clase referencia
	--creamos las instancias
	insert into dbo.Forms(idFormTemplate, idInbox, idLocation, idTrigger,  idSITinfo, isValid, statusID, FormTemplate, FormTemplateXml, triggerName, name, descript, createdOnUTC)
	OUTPUT INSERTED.ID INTO @insertedPk01
	select f.ID, NULL, lft.idLoc,  lft.idTrigger, null, 0, 'PENDIENTE', f.jsonTemplate,f.xmlTemplate, 'MATERIAL' , f.name, CASE WHEN @descript = '' THEN f.descript ELSE @descript END, getUTCdate()
	from  TemplatesLocFormTri lft, TemplatesForms f, TemplatesLocations l, TemplatesTriggers tri
	
	where 	
	l.ID = @idPDV
	AND tri.attr01 = @clase and  tri.attr02 = @referencia
	and  tri.typeID = 'MATERIAL' and tri.deleted = 0 and tri.status = 1
	and tri.ID = lft.idTrigger  and lft.idTemForm = f.ID and  lft.idLoc = l.ID and f.deleted = 0 and l.deleted = 0;

	select newpk As primerins from @insertedpk01
	--IF @@ROWCOUNT = 0 
	--begin
	--comprobamos los triggers genericos
		insert into dbo.Forms(idFormTemplate, idInbox, idLocation, idTrigger,  idSITinfo, isValid, statusID, FormTemplate, FormTemplateXml, triggerName, name, descript, createdOnUTC)
		OUTPUT INSERTED.ID INTO @insertedPk02
		select f.ID, NULL, lft.idLoc,  lft.idTrigger, null, 0, 'PENDIENTE', f.jsonTemplate,f.xmlTemplate, 'MATERIAL' , f.name, CASE WHEN @descript = '' THEN f.descript ELSE @descript END, getUTCdate()
		from  TemplatesLocFormTri lft, TemplatesForms f, TemplatesLocations l, TemplatesTriggers tri
		where 	
		l.ID = @idPDV
		AND tri.attr01 = @clase and  tri.attr02 = '' --el attr02 que es la referencia tiene queser vacío para que sea un trigger generico
		and  tri.typeID = 'MATERIAL' and tri.deleted = 0 and tri.status = 1
		and tri.ID = lft.idTrigger  and lft.idTemForm = f.ID and  lft.idLoc = l.ID and f.deleted = 0 and l.deleted = 0;
		
	--end
	select newpk As primeri2 from @insertedpk02
	insert into dbo.[FormsMESData] ([idForm]      
      ,[materialId]
       )
	(select newPk, @referencia from @insertedPk01
	union
	 select newPk, @referencia from @insertedPk02)
	 --devoldemos los insertados
	(select newPk from @insertedPk01
	union
	select newPk from @insertedPk02)
END

GO
