USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[copyTemplateForm]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[copyTemplateForm]
	-- Add the parameters for the stored procedure here
	@idTemplateForm integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert dbo.TemplatesForms (name, descript, createdOnUTC, lastModifyUTC, typeID, jsonTemplate, deleted, idDepartmentType )
	select name + ' (2)', descript, getUTCdate(), null, typeID, jsonTemplate, 0, idDepartmentType from dbo.TemplatesForms where ID = @idTemplateForm
END
GO
