USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerCiclico]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkTriggerCiclico]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

	declare @date datetime	
	declare @hora integer
	declare @minutos integer
	
	set @date = GETUTCDATE()	
	select @hora = datepart(hour, @date)
	select @minutos = datepart(minute, @date)
	--CICLICLOS
 
	--consigue minuto del día le aplicamos el módulo para saber si hay que aplicarlo
	--revisamos de todos los triggers cual de ellos hacer su modulo es 0, que quiere decir que el ciclo si tiene que lanzar

	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attr01, attr02, location, turnoId)
	select tri.id, @date, tri.name, tri.typeID, tri.attr01, tri.attr02, tri.locID,  dbo.getturnoid(@hora)
	from dbo.TemplatesTriggers tri where tri.typeID = 'CICLICO' and (@hora *60 + @minutos) % CAST(tri.attr01 AS integer)  = 0
	and tri.deleted = 0
	and tri.status = 1
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID)
	and not exists (--comprobamos que no se haya lanzado ya este trigger
	select i.id from inboxTrigger i where i.idTrigger = tri.ID 
	and CAST(I.createdonUTC as date) = CAST(@date as date) 
	and datepart(hour, i.createdOnUTC) = @hora and datepart(minute, i.createdonUTC) = @minutos)
   
	RETURN @@ROWCOUNT;
END
GO
