USE [MES_MSM_ALT]
GO
/****** Object:  StoredProcedure [dbo].[checkTriggerPlanWeeklyCycle]    Script Date: 25/02/2022 12:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[checkTriggerPlanWeeklyCycle]
as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	sET NOCOUNT off;
	declare @dateLocal datetime
	declare @date datetime
	declare @dia integer
	declare @hora integer
	declare @minutos integer
	declare @diaStr varchar(50)

	set @date = GETUTCDATE()
	set @dateLocal = getdate()
	select @dia = datepart(dw,@dateLocal) -- consigue el día de la semana
	select @hora = datepart(hour, @dateLocal)
	select @minutos = datepart(minute, @dateLocal)

	select @diaStr = 
		CASE @dia  
			 WHEN 1 THEN 'D'  
			 WHEN 2 THEN 'L'  
			 WHEN 3 THEN 'M'  
			 WHEN 4 THEN 'X'  
			 WHEN 5 THEN 'J'
			 WHEN 6 THEN 'V'
			 WHEN 7 THEN 'S'
        
		END 
	--DECLARE @OutputTbl TABLE (ID INT)

	insert into dbo.inboxTrigger  (idTrigger, createdOnUTC, name , typeID, attrPlannedOrderActive, attrPlannedShiftActive, attrPlannedWeeks, attrPlannedWeekDays, attrFrecuencyIsCycle,  attrFrecuencyQuantity, attrFrecuencyUnits, attrFrecuencyFrom, attrFrecuencyTo)
	--output INSERTED.ID INTO @OutputTbl(ID)
							select tri.id, @date, tri.name, tri.typeID, attrPlannedOrderActive, attrPlannedShiftActive, tri.attrPlannedWeeks, tri.attrPlannedWeekDays,  attrFrecuencyIsCycle,  attrFrecuencyQuantity, attrFrecuencyUnits, attrFrecuencyFrom, attrFrecuencyTo
	from dbo.TemplatesTriggers tri
	where tri.typeID = 'PLANIFICADOV2' and tri.attrplannedtype = 3 AND tri.attrFrecuencyIsCycle = 1 and tri.deleted = 0 and tri.status = 1
	and @date >= tri.attrValidFrom and (tri.attrValidHasUntil = 0 or tri.attrValidUntil> @date) -- comprobar validez
	and datediff(week, tri.attrValidFrom, @date) % tri.attrPlannedWeeks = 0 -- cada X semanas se tiene que ejecutar
	and tri.attrPlannedWeekDays like '%' + @diaStr + '%' --el día de hoy esta entre los días de la semana escogidos
	and DATEDIFF(minute, tri.attrFrecuencyFrom, convert(time(5),@dateLocal)) % (tri.attrFrecuencyQuantity * tri.attrFrecuencyUnits) = 0 -- ciclicamente, (en caso que sean horas se pasa a minutos por eso se multipkica Quantity * Units)
	and convert(time(5),@dateLocal) >=  tri.attrFrecuencyFrom and  convert(time(5),@dateLocal) <= tri.attrFrecuencyTo  -- la hora tiene que estar entre el Desde y Hasta configurado en la frecuencia
	and exists( select rel.idTrigger from TemplatesLocFormTri rel where rel.idTrigger = tri.ID) --existe en alguna relacion con formularios
	and not exists (select i.idTrigger from dbo.inboxTrigger i where i.idTrigger = tri.ID and   CONVERT(VARCHAR(16),@date,120) =  convert(VARCHAR(16), i.createdOnUTC,120) ); -- no existe ningun disparo de ese tipo para el mismo día y misma hora
	
	--declare @result int
	--select @result = count(id) from Forms f where f.idInbox in (select ID from @OutputTbl);
	RETURN @@ROWCOUNT;
END
GO
