USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[O2_Llenadoras]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O2_Llenadoras](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Linea] [nvarchar](50) NOT NULL,
	[VolumenEnvase] [int] NOT NULL,
	[Llenadora] [tinyint] NOT NULL,
	[IdMuestra] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Comentario] [nvarchar](200) NOT NULL,
	[TCP] [smallint] NOT NULL,
	[O2_TCP] [decimal](4, 2) NOT NULL,
	[CO2_TCP] [decimal](4, 2) NOT NULL,
	[TipoMuestra] [nvarchar](10) NOT NULL,
	[NumGrifo] [tinyint] NOT NULL,
	[TPO] [decimal](6, 2) NOT NULL,
	[UnidadTPO] [nvarchar](10) NOT NULL,
	[HSO] [decimal](6, 2) NOT NULL,
	[UnidadHSO] [nvarchar](10) NOT NULL,
	[DO] [decimal](6, 2) NOT NULL,
	[UnidadDO] [nvarchar](10) NOT NULL,
	[CO2] [decimal](4, 2) NOT NULL,
	[UnidadCO2] [nvarchar](10) NOT NULL,
	[CO2_Ts] [decimal](4, 2) NOT NULL,
	[UnidadCO2_Ts] [nvarchar](10) NOT NULL,
	[HSV] [decimal](4, 2) NOT NULL,
	[UnidadHSV] [nvarchar](10) NOT NULL,
	[Presion] [decimal](4, 2) NOT NULL,
	[UnidadPresion] [nvarchar](10) NOT NULL,
	[Temperatura] [decimal](4, 2) NOT NULL,
	[UnidadTemperatura] [nvarchar](10) NOT NULL,
	[Temperatura_Ts] [decimal](4, 2) NOT NULL,
	[UnidadTemperatura_Ts] [nvarchar](10) NOT NULL,
	[PresionVacio] [decimal](6, 4) NOT NULL,
	[UnidadPresionVacio] [nvarchar](10) NOT NULL,
	[PresionEspumado] [decimal](4, 2) NOT NULL,
	[UnidadPresionEspumado] [nvarchar](10) NOT NULL,
	[Fichero] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_O2_Llenadoras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[O2_Llenadoras] ADD  CONSTRAINT [DF_O2_Llenadoras_PresionVacio]  DEFAULT ((0)) FOR [PresionVacio]
GO
ALTER TABLE [dbo].[O2_Llenadoras] ADD  CONSTRAINT [DF_O2_Llenadoras_UnidadPresionVacio]  DEFAULT (N'bar') FOR [UnidadPresionVacio]
GO
ALTER TABLE [dbo].[O2_Llenadoras] ADD  CONSTRAINT [DF_O2_Llenadoras_PresionEspumado]  DEFAULT ((0)) FOR [PresionEspumado]
GO
ALTER TABLE [dbo].[O2_Llenadoras] ADD  CONSTRAINT [DF_O2_Llenadoras_UnidadPresionEspumado]  DEFAULT (N'bar') FOR [UnidadPresionEspumado]
GO
