USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idLocation] [int] NOT NULL,
	[idTrigger] [int] NULL,
	[idSITinfo] [int] NULL,
	[triggerName] [nvarchar](50) NULL,
	[name] [nvarchar](50) NOT NULL,
	[descript] [nvarchar](200) NULL,
	[statusID] [nvarchar](20) NOT NULL,
	[createdOnUTC] [datetime] NULL,
	[lastModifyUTC] [datetime] NULL,
	[delete] [bit] NOT NULL,
	[idInbox] [int] NULL,
	[isValid] [int] NOT NULL,
	[errors] [nvarchar](max) NULL,
	[idFormTemplate] [int] NULL,
	[FormTemplate] [nvarchar](max) NULL,
	[FormTemplateXML] [xml] NULL,
	[FormValues] [nvarchar](max) NULL,
	[FormValuesXML] [xml] NULL,
	[path] [nvarchar](200) NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_statusID]  DEFAULT (N'PENDIENTE') FOR [statusID]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_isDelete]  DEFAULT ((0)) FOR [delete]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_isValid]  DEFAULT ((0)) FOR [isValid]
GO
ALTER TABLE [dbo].[Forms] ADD  CONSTRAINT [DF_Forms_error]  DEFAULT ('') FOR [errors]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_inboxTrigger] FOREIGN KEY([idInbox])
REFERENCES [dbo].[inboxTrigger] ([ID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_inboxTrigger]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Status] FOREIGN KEY([statusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Status]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_TemplatesLocations] FOREIGN KEY([idLocation])
REFERENCES [dbo].[TemplatesLocations] ([ID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_TemplatesLocations]
GO
