USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesForms]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesForms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idDepartmentType] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[descript] [nvarchar](200) NULL,
	[createdOnUTC] [datetime] NULL,
	[lastModifyUTC] [datetime] NULL,
	[typeID] [nvarchar](20) NOT NULL,
	[jsonTemplate] [nvarchar](max) NULL,
	[xmlTemplate] [xml] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_TemplatesForms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesForms] ADD  CONSTRAINT [DF_TemplatesForms_idDepartmentType]  DEFAULT ((0)) FOR [idDepartmentType]
GO
ALTER TABLE [dbo].[TemplatesForms] ADD  CONSTRAINT [DF_TemplatesForms_lastModify]  DEFAULT (getdate()) FOR [lastModifyUTC]
GO
ALTER TABLE [dbo].[TemplatesForms] ADD  CONSTRAINT [DF_TemplatesForms_typeID]  DEFAULT (N'ALT') FOR [typeID]
GO
ALTER TABLE [dbo].[TemplatesForms] ADD  CONSTRAINT [DF_TemplatesForms_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[TemplatesForms]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesForms_DepartmentTypes] FOREIGN KEY([idDepartmentType])
REFERENCES [dbo].[DepartmentTypes] ([ID])
GO
ALTER TABLE [dbo].[TemplatesForms] CHECK CONSTRAINT [FK_TemplatesForms_DepartmentTypes]
GO
ALTER TABLE [dbo].[TemplatesForms]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesForms_TemplatesFormsTypes] FOREIGN KEY([typeID])
REFERENCES [dbo].[TemplatesFormsTypes] ([typeID])
GO
ALTER TABLE [dbo].[TemplatesForms] CHECK CONSTRAINT [FK_TemplatesForms_TemplatesFormsTypes]
GO
