USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[O2_Llenadoras_Tolerancias]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O2_Llenadoras_Tolerancias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Linea] [nvarchar](50) NOT NULL,
	[LimiteIncremento] [decimal](5, 1) NOT NULL,
	[ToleranciaIncremento] [decimal](5, 1) NOT NULL,
 CONSTRAINT [PK_O2_Llenadoras_Tolerancias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
