USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesLocFormTri]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesLocFormTri](
	[idLoc] [int] NOT NULL,
	[idTemForm] [int] NOT NULL,
	[idTrigger] [int] NOT NULL,
 CONSTRAINT [PK_LocationsFormsTriggers] PRIMARY KEY CLUSTERED 
(
	[idLoc] ASC,
	[idTemForm] ASC,
	[idTrigger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesLocFormTri]  WITH CHECK ADD  CONSTRAINT [FK_LocationsFormsTriggers_LocationsForms] FOREIGN KEY([idLoc], [idTemForm])
REFERENCES [dbo].[TemplatesLocForms] ([idLoc], [idTemForm])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesLocFormTri] CHECK CONSTRAINT [FK_LocationsFormsTriggers_LocationsForms]
GO
ALTER TABLE [dbo].[TemplatesLocFormTri]  WITH CHECK ADD  CONSTRAINT [FK_LocationsFormsTriggers_TemplatesTriggers] FOREIGN KEY([idTrigger])
REFERENCES [dbo].[TemplatesTriggers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesLocFormTri] CHECK CONSTRAINT [FK_LocationsFormsTriggers_TemplatesTriggers]
GO
