USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesLocForms]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesLocForms](
	[idLoc] [int] NOT NULL,
	[idTemForm] [int] NOT NULL,
	[path] [nvarchar](200) NULL,
 CONSTRAINT [PK_LocationsForms] PRIMARY KEY CLUSTERED 
(
	[idLoc] ASC,
	[idTemForm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesLocForms]  WITH CHECK ADD  CONSTRAINT [FK_LocationsForms_TemplatesForms] FOREIGN KEY([idTemForm])
REFERENCES [dbo].[TemplatesForms] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesLocForms] CHECK CONSTRAINT [FK_LocationsForms_TemplatesForms]
GO
ALTER TABLE [dbo].[TemplatesLocForms]  WITH CHECK ADD  CONSTRAINT [FK_LocationsForms_TemplatesLocations] FOREIGN KEY([idLoc])
REFERENCES [dbo].[TemplatesLocations] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesLocForms] CHECK CONSTRAINT [FK_LocationsForms_TemplatesLocations]
GO
