USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesFormsFiles]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesFormsFiles](
	[idTemForm] [int] NOT NULL,
	[idFile] [int] NOT NULL,
 CONSTRAINT [PK_TemplatesFormsFiles_1] PRIMARY KEY CLUSTERED 
(
	[idTemForm] ASC,
	[idFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesFormsFiles]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesFormsFiles_Files] FOREIGN KEY([idFile])
REFERENCES [dbo].[StorageFiles] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesFormsFiles] CHECK CONSTRAINT [FK_TemplatesFormsFiles_Files]
GO
ALTER TABLE [dbo].[TemplatesFormsFiles]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesFormsFiles_TemplatesForms] FOREIGN KEY([idTemForm])
REFERENCES [dbo].[TemplatesForms] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplatesFormsFiles] CHECK CONSTRAINT [FK_TemplatesFormsFiles_TemplatesForms]
GO
