USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[FormsFilesV2]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsFilesV2](
	[idForm] [int] NOT NULL,
	[idFiles] [int] NOT NULL,
 CONSTRAINT [PK_FormsFilesV2] PRIMARY KEY CLUSTERED 
(
	[idForm] ASC,
	[idFiles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormsFilesV2]  WITH CHECK ADD  CONSTRAINT [FK_FormsFilesV2_Forms] FOREIGN KEY([idForm])
REFERENCES [dbo].[Forms] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormsFilesV2] CHECK CONSTRAINT [FK_FormsFilesV2_Forms]
GO
ALTER TABLE [dbo].[FormsFilesV2]  WITH CHECK ADD  CONSTRAINT [FK_FormsFilesV2_StorageFiles] FOREIGN KEY([idFiles])
REFERENCES [dbo].[StorageFiles] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormsFilesV2] CHECK CONSTRAINT [FK_FormsFilesV2_StorageFiles]
GO
