USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[FormsLog]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idForm] [int] NOT NULL,
	[createdOn] [datetime] NOT NULL,
	[type] [varchar](100) NULL,
	[traza] [varchar](max) NULL,
	[usuario] [varchar](100) NULL,
 CONSTRAINT [PK_FormsLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormsLog] ADD  CONSTRAINT [DF_FormsLog_createdOn]  DEFAULT (getdate()) FOR [createdOn]
GO
ALTER TABLE [dbo].[FormsLog]  WITH CHECK ADD  CONSTRAINT [FK_FormsLog_Forms] FOREIGN KEY([idForm])
REFERENCES [dbo].[Forms] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormsLog] CHECK CONSTRAINT [FK_FormsLog_Forms]
GO
