USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[FormsMESData]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormsMESData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idForm] [int] NOT NULL,
	[orderId] [nvarchar](101) NULL,
	[orderTypeId] [nvarchar](101) NULL,
	[turnoId] [nvarchar](50) NULL,
	[shcId] [nvarchar](50) NULL,
	[lotId] [nvarchar](64) NULL,
	[materialId] [nvarchar](64) NULL,
	[location] [nvarchar](255) NULL,
 CONSTRAINT [PK_FormsMESData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_FormsMESData] UNIQUE NONCLUSTERED 
(
	[idForm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormsMESData]  WITH CHECK ADD  CONSTRAINT [FK_FormsMESData_Forms] FOREIGN KEY([idForm])
REFERENCES [dbo].[Forms] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormsMESData] CHECK CONSTRAINT [FK_FormsMESData_Forms]
GO
