USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[inboxTrigger]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inboxTrigger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idTrigger] [int] NULL,
	[createdOnUTC] [datetime] NULL,
	[name] [nvarchar](50) NULL,
	[typeID] [nvarchar](20) NULL,
	[attr01] [nvarchar](500) NULL,
	[attr02] [nvarchar](200) NULL,
	[location] [nvarchar](255) NULL,
	[orderId] [nvarchar](101) NULL,
	[orderTypeId] [nvarchar](101) NULL,
	[orderStatus] [nvarchar](50) NULL,
	[orderStatusAnt] [nvarchar](50) NULL,
	[turnoId] [nvarchar](50) NULL,
	[shcId] [nvarchar](50) NULL,
	[lotId] [nvarchar](64) NULL,
	[materialId] [nvarchar](64) NULL,
	[soloLocationID] [int] NULL,
	[newDescript] [nvarchar](200) NULL,
	[attrPlannedShiftActive] [int] NULL,
	[attrPlannedOrderActive] [int] NULL,
	[attrPlannedType] [int] NULL,
	[attrPlannedOnce] [datetime] NULL,
	[attrPlannedDays] [int] NULL,
	[attrPlannedWeeks] [int] NULL,
	[attrPlannedWeekDays] [nvarchar](500) NULL,
	[attrPlannedMonthIsHourly] [int] NULL,
	[attrPlannedMonthDay] [int] NULL,
	[attrPlannedMonthFrec] [int] NULL,
	[attrPlannedMonthNumDay] [int] NULL,
	[attrPlannedMonthDayWeek] [nvarchar](10) NULL,
	[attrFrecuencyIsCycle] [int] NULL,
	[attrFrecuencyHour] [time](0) NULL,
	[attrFrecuencyQuantity] [int] NULL,
	[attrFrecuencyUnits] [int] NULL,
	[attrFrecuencyFrom] [time](0) NULL,
	[attrFrecuencyTo] [time](0) NULL,
 CONSTRAINT [PK_inboxTrigger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
