USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesLocations]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesLocations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idDepartmentType] [int] NOT NULL,
	[shortName] [nvarchar](10) NULL,
	[name] [nvarchar](50) NOT NULL,
	[descript] [nvarchar](200) NULL,
	[idParent] [int] NULL,
	[idSITInherit] [bit] NULL,
	[idSITLoc] [nvarchar](50) NULL,
	[deleted] [bit] NULL,
	[createdOnUTC] [datetime] NULL,
	[lastUpdatedUTC] [datetime] NULL,
 CONSTRAINT [PK_TemplatesLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesLocations] ADD  CONSTRAINT [DF_TemplatesLocations_idDepartmentType]  DEFAULT ((0)) FOR [idDepartmentType]
GO
ALTER TABLE [dbo].[TemplatesLocations] ADD  CONSTRAINT [DF_TemplatesLocations_idSITInherit]  DEFAULT ((1)) FOR [idSITInherit]
GO
ALTER TABLE [dbo].[TemplatesLocations] ADD  CONSTRAINT [DF_TemplatesLocations_idSITLoc]  DEFAULT ('') FOR [idSITLoc]
GO
ALTER TABLE [dbo].[TemplatesLocations] ADD  CONSTRAINT [DF_TemplatesLocations_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[TemplatesLocations]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesLocations_DepartmentTypes] FOREIGN KEY([idDepartmentType])
REFERENCES [dbo].[DepartmentTypes] ([ID])
GO
ALTER TABLE [dbo].[TemplatesLocations] CHECK CONSTRAINT [FK_TemplatesLocations_DepartmentTypes]
GO
ALTER TABLE [dbo].[TemplatesLocations]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesLocations_TemplatesLocations] FOREIGN KEY([idParent])
REFERENCES [dbo].[TemplatesLocations] ([ID])
GO
ALTER TABLE [dbo].[TemplatesLocations] CHECK CONSTRAINT [FK_TemplatesLocations_TemplatesLocations]
GO
