USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[StorageFiles]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageFiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fieldName] [varchar](50) NOT NULL,
	[name] [varchar](500) NOT NULL,
	[uploadOn] [datetime] NOT NULL,
	[size] [int] NULL,
	[extension] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[documento] [varbinary](max) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StorageFiles] ADD  CONSTRAINT [DF_Files_uploadOn]  DEFAULT (getdate()) FOR [uploadOn]
GO
