USE [MES_MSM_ALT]
GO
/****** Object:  Table [dbo].[TemplatesTriggers]    Script Date: 25/02/2022 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplatesTriggers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idDepartmentType] [int] NOT NULL,
	[status] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[descript] [nvarchar](200) NULL,
	[createdOnUTC] [datetime] NULL,
	[lastModifyUTC] [datetime] NULL,
	[typeID] [nvarchar](20) NOT NULL,
	[locID] [nvarchar](255) NULL,
	[attr01] [nvarchar](500) NULL,
	[attr02] [nvarchar](200) NULL,
	[attrPlannedShiftActive] [int] NULL,
	[attrPlannedOrderActive] [int] NULL,
	[attrPlannedType] [int] NULL,
	[attrPlannedOnce] [datetime] NULL,
	[attrPlannedDays] [int] NULL,
	[attrPlannedWeeks] [int] NULL,
	[attrPlannedWeekDays] [nvarchar](500) NULL,
	[attrPlannedMonthIsHourly] [int] NULL,
	[attrPlannedMonthDay] [int] NULL,
	[attrPlannedMonthFrec] [int] NULL,
	[attrPlannedMonthNumDay] [int] NULL,
	[attrPlannedMonthDayWeek] [nvarchar](10) NULL,
	[attrFrecuencyIsCycle] [int] NULL,
	[attrFrecuencyHour] [time](0) NULL,
	[attrFrecuencyQuantity] [int] NULL,
	[attrFrecuencyUnits] [int] NULL,
	[attrFrecuencyFrom] [time](0) NULL,
	[attrFrecuencyTo] [time](0) NULL,
	[attrValidHasUntil] [int] NULL,
	[attrValidFrom] [datetime] NULL,
	[attrValidUntil] [datetime] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_TemplatesTriggers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplatesTriggers] ADD  CONSTRAINT [DF_TemplatesTriggers_idDepartmentType]  DEFAULT ((0)) FOR [idDepartmentType]
GO
ALTER TABLE [dbo].[TemplatesTriggers] ADD  CONSTRAINT [DF_TemplatesTriggers_activated]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[TemplatesTriggers] ADD  CONSTRAINT [DF_TemplatesTriggers_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[TemplatesTriggers]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesTriggers_attrPlannedMonthNumDayTypes] FOREIGN KEY([attrPlannedMonthNumDay])
REFERENCES [dbo].[TemplatesTriggersPlannedMonthNumDayTypes] ([ID])
GO
ALTER TABLE [dbo].[TemplatesTriggers] CHECK CONSTRAINT [FK_TemplatesTriggers_attrPlannedMonthNumDayTypes]
GO
ALTER TABLE [dbo].[TemplatesTriggers]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesTriggers_DepartmentTypes] FOREIGN KEY([idDepartmentType])
REFERENCES [dbo].[DepartmentTypes] ([ID])
GO
ALTER TABLE [dbo].[TemplatesTriggers] CHECK CONSTRAINT [FK_TemplatesTriggers_DepartmentTypes]
GO
ALTER TABLE [dbo].[TemplatesTriggers]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesTriggers_TemplatesTriggersPlannedTypes] FOREIGN KEY([attrPlannedType])
REFERENCES [dbo].[TemplatesTriggersPlannedTypes] ([ID])
GO
ALTER TABLE [dbo].[TemplatesTriggers] CHECK CONSTRAINT [FK_TemplatesTriggers_TemplatesTriggersPlannedTypes]
GO
ALTER TABLE [dbo].[TemplatesTriggers]  WITH CHECK ADD  CONSTRAINT [FK_TemplatesTriggers_TemplatesTriggersTypes] FOREIGN KEY([typeID])
REFERENCES [dbo].[TemplatesTriggersTypes] ([typeID])
GO
ALTER TABLE [dbo].[TemplatesTriggers] CHECK CONSTRAINT [FK_TemplatesTriggers_TemplatesTriggersTypes]
GO
