<style>
    .w100 {
        width: 100%
    }

    .w50 {
        width: 50%;
    }

    .mb12 {
        margin-bottom: 12px;
    }

    .mb8 {
        margin-bottom: 8px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .mbi {
        margin-bottom: initial;
    }

    .mra {
        margin-right: auto;
    }

    .mr6 {
        margin-right: 6px;
    }

    .ml6 {
        margin-left: 6px;
    }

    .ml8 {
        margin-left: 8px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .flex-columnas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .flex-filas {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .flex-aic {
        align-items: center;
    }

    .flex-g1 {
        flex-grow: 1;
    }

    .error {
        color: red;
    }

    .tac {
        text-align: center;
    }

    .terminal .boton {
        width: 150px;
        height: 65px;
    }

    .terminal .k-i-calendar,.terminal .k-i-clock {
        margin-top: 20% !important;
    }

    .terminal input, .terminal strong {
        font-size: 20px !important;
    }
    
</style>

<div class="terminal" style="padding:6px;">
    <form id="ValidacionArranqueOTForm" class="mb12" style="padding:8px;border:1px solid #eee;border-radius:3px;overflow:auto;width:50rem">
        <div class="flex-filas w100 mb20 mt20">
            <div class="flex-filas w100 flex-aic">
                <strong style="width:40%;"><label class="mbi" for="inpt_fecha_validacion"><% print(window.app.idioma.t('FECHA_VALIDACION')) %></label>:</strong>
                <input id="inpt_fecha_validacion" name="inpt_fecha_validacion" style="width:60%;" required />
            </div>
        </div>
        <div class="flex-filas w100 mb20">
            <div class="flex-filas w100 flex-aic">
                <strong style="width:40%;"><label class="mbi" for="inpt_responsable_produccion"><% print(window.app.idioma.t('RESPONSABLE_PRODUCCION')) %></label>:</strong>
                <input class="k-textbox keyboardOn" id="inpt_responsable_produccion" type="text" name="inpt_responsable_produccion" style="width:60%;" required autocomplete="off"/>
            </div>
        </div>
        <div class="flex-filas w100 mb20">
            <div class="flex-filas w100 flex-aic">
                <strong style="width:40%;"><label class="mbi" for="inpt_responsable_mantenimiento"><% print(window.app.idioma.t('RESPONSABLE_MANTENIMIENTO')) %></label>:</strong>
                <input class="k-textbox keyboardOn" id="inpt_responsable_mantenimiento" type="text" name="inpt_responsable_mantenimiento" style="width:60%;" required autocomplete="off"/>
            </div>
        </div>
    </form>
    <div class="flex-filas w100" style="justify-content: center;">
        <span>
            <input type="button" data-role="button" class="boton mr6" id="btnGestionAceptar" value="<% print(window.app.idioma.t('ACEPTAR')) %>" />
            <input type="button" data-role="button" class="boton" id="btnGestionCancelar" value="<% print(window.app.idioma.t('CANCELAR')) %>" />
        </span>
    </div>
    <div id="trError" class="error tac mt20" style="display:none;" colspan="2"></div>
</div>