USE [MES_MSM_Trazabilidad]
GO
/****** Object:  UserDefinedFunction [dbo].[ToLocalDateTime]    Script Date: 25/02/2022 13:00:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[ToLocalDateTime](@date [datetime])
RETURNS [datetime] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [DatabaseMSM].[UserDefinedFunctions].[ToLocalDateTime]
GO
