USE [MES_MSM_Trazabilidad]
GO
/****** Object:  UserDefinedFunction [TRA].[vMaterialData]    Script Date: 25/02/2022 13:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 26022018
-- Description:	Obtiene la informacion de los lotes de calidad.
--  =============================================
CREATE  FUNCTION  [TRA].[vMaterialData]()
RETURNS   @TABLE TABLE (  
  [IdMaterial] [NVARCHAR] (128) COLLATE DATABASE_DEFAULT NULL,
  [Descripcion][NVARCHAR] (MAX) COLLATE DATABASE_DEFAULT NULL,
  UdMedida [NVARCHAR] (64) COLLATE DATABASE_DEFAULT NULL,
  PK_Material INT  
  UNIQUE NONCLUSTERED ([IdMaterial]) 
  ) 						
AS
BEGIN




	INSERT INTO  @TABLE
  	SELECT IdMaterial,Descripcion,UdMedida,PK_Material
	FROM [MAT].[vMateriales] MT (NOLOCK)


	
	RETURN
END














GO
