USE [MES_MSM_Trazabilidad]
GO
/****** Object:  UserDefinedFunction [TRA].[vTransporTemp]    Script Date: 25/02/2022 13:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















--select  * from [TRA].[vTransporTemp]()

--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 26022018
-- Description:	Obtiene la informacion de los lotes de calidad.
--  =============================================
CREATE  FUNCTION  [TRA].[vTransporTemp]()
RETURNS  @TransporTable TABLE (IdTransporte int, IdSemaforoTransporte int)
						
AS
BEGIN

DECLARE @TransporTable_TEMP TABLE (IdTransporte int,   IdSemaforoTransporte int, idSemaforoOA INT, smeaforofin int )

	DECLARE @TransporTable_TEMP2 TABLE (IdTransporte int,   IdSemaforoTransporte int, idSemaforoOA INT, smeaforofin int )
	DECLARE @TransporTable_TEMPAGG TABLE (IdTransporte int,   IdSemaforoTransporte int, idSemaforoOA INT)
	insert into  @TransporTable_TEMP
	(
		IdTransporte,
		IdSemaforoTransporte
	)
	Select  IdTransporte,1 --> si tiene transporte esta relleno
	From	tra.tTransporte
	where activo =1
	--AND IDtRANSPORTE = 2165
	group by IdTransporte


	
	
							
	Update 	@TransporTable_TEMP
	Set 	IdSemaforoTransporte = 	case when isnull(ms.IdAlbaran,'') =''  then 3 else 1 end
	From	@TransporTable_TEMP f 
			LEFT JOIN [TRA].[tAlbaran]  ms
			ON  f.IdTransporte = ms.IdTransporte 		

	INSERT INTO @TransporTable_TEMP2
	(
		IdTransporte,
		IdSemaforoTransporte,
		idSemaforoOA

	)
	SELECT F.IdTransporte, 
	 CASE							--when ms.IdTipoAlbaran = 2 
									--and  isnull(RR.idLote,'') = '' then 2 
									--when ms.IdTipoAlbaran = 2 
									--and  isnull(RR.idLote,'') != '' then 1
									when   alt.IdAlbaranPosicion	 is null then 2 
									when     alt.IdAlbaranPosicion	 is not null then 1 									
									END ,
			idSemaforoOA = case 
									when ms.IdTipoAlbaran = 1 
									and    len(rtrim (ltrim(idorden))) =0 then 2
									when ms.IdTipoAlbaran = 1 
									and   len(rtrim (ltrim(idorden))) > 0  then 1
									when ms.IdTipoAlbaran = 2 then 1 end 
									--when ms.IdTipoAlbaran = 1  and  RR.idTipoorden <> 1 then 1 end
	From	@TransporTable_TEMP f 
			LEFT JOIN [TRA].[tAlbaran]  ms
			ON  f.IdTransporte = ms.IdTransporte 
			INNER JOIN  [TRA].[tAlbaranPosicion] RR
			ON RR.IdAlbaran = ms.IdAlbaran
			left JOIN  [TRA].tAlbaranPosicionLote alT
			ON RR.IdAlbaranPosicion = alt.IdAlbaranPosicion
			LEFT JOIN [TRA].[vIdAlbaranPosicionCalidad] CC
			ON RR.IdAlbaranPosicion = cc.IdAlbaranPosicion	
	GROUP BY F.IdTransporte,RR.idLote,ms.IdTipoAlbaran, alt.IdAlbaranPosicion,ms.IdTipoAlbaran,RR.idTipoorden,idorden

	INSERT INTO @TransporTable_TEMPAGG
	SELECT  IdTransporte,
			MAX(IdSemaforoTransporte),
			MAX(idSemaforoOA)
	 FROM @TransporTable_TEMP2
	 GROUP BY IdTransporte
	 
	
	
	

	UPDATE @TransporTable_TEMP
	SET IdSemaforoTransporte = FF.IdSemaforoTransporte,
		idSemaforoOA =  FF.idSemaforoOA
	FROM  @TransporTable_TEMPAGG FF,@TransporTable_TEMP MF
	WHERE  FF.IdTransporte = MF.IdTransporte

	

	

		update @TransporTable_TEMP 
		set smeaforofin = IdSemaforoTransporte
		where IdSemaforoTransporte = idSemaforoOA
	

	update @TransporTable_TEMP 
	set smeaforofin = 2
	where IdSemaforoTransporte <> idSemaforoOA
	And smeaforofin <> 3

	update @TransporTable_TEMP 
	set smeaforofin =IdSemaforoTransporte
	where idSemaforoOA is null

	update @TransporTable_TEMP 
		set smeaforofin = IdSemaforoTransporte
		where IdSemaforoTransporte > idSemaforoOA


		update @TransporTable_TEMP 
		set smeaforofin = idSemaforoOA
		where idSemaforoOA > IdSemaforoTransporte

	
	insert into @TransporTable
	SELECT  IdTransporte, MAX(smeaforofin)
	FROM	@TransporTable_TEMP
	GROUP	BY IdTransporte

	
	RETURN
END












GO
