USE [MES_MSM_Trazabilidad]
GO
/****** Object:  UserDefinedFunction [TRA].[vLotReclassifyData]    Script Date: 25/02/2022 13:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 26022018
-- Description:	Obtiene la informacion si el lote ha sido reclasificado.
--  =============================================
create  FUNCTION  [TRA].[vLotReclassifyData]()
RETURNS TABLE
AS 
RETURN 
(
select Lotid, case when count(op.Lotpk)  > 0 then 1 else 0 end as Reclasificado
	From [SITMesDb].[dbo].[MMLots]  lot (NOLOCK)
left join [SITMesDb].[dbo].[MMLotOperations] op (NOLOCK)
on op.LotPK = lot.LotPK and
op.[LotOpeTypePK] = 12
group  by Lotid

)













GO
