USE [MES_MSM]
GO
/****** Object:  Table [dbo].[FUNCIONES]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES](
	[ID_FUNCION] [int] NOT NULL,
	[CODIGO] [nvarchar](250) NULL,
	[DESCRIPCION] [nvarchar](500) NULL,
	[ID_AREA] [int] NULL,
	[IdEstructura] [int] NULL,
 CONSTRAINT [PK_FUNCION] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_AREAS] FOREIGN KEY([ID_AREA])
REFERENCES [dbo].[AREAS_GESTION] ([ID_AREA])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONES_AREAS]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_ESTRUCTURA] FOREIGN KEY([IdEstructura])
REFERENCES [dbo].[EstructuraPermisos] ([IdEstructura])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONES_ESTRUCTURA]
GO
