USE [MES_MSM]
GO
/****** Object:  Table [dbo].[ConfiguracionCalculoKOP]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionCalculoKOP](
	[IdConfigCalculoKOP] [int] IDENTITY(1,1) NOT NULL,
	[KOP] [varchar](255) NOT NULL,
	[VariableKOP] [varchar](255) NOT NULL,
	[VariableFormula] [varchar](10) NOT NULL,
	[IdFormula] [int] NOT NULL,
 CONSTRAINT [PK_ConfiguracionCalculoKOP] PRIMARY KEY CLUSTERED 
(
	[IdConfigCalculoKOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
