USE [MES_MSM]
GO
/****** Object:  Table [dbo].[ANALISIS_SPI]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALISIS_SPI](
	[LINEA] [nvarchar](50) NOT NULL,
	[ANYO] [int] NOT NULL,
	[SEMANA] [smallint] NOT NULL,
	[TIPO_ANALISIS] [nvarchar](50) NOT NULL,
	[COMENTARIOS] [text] NULL,
 CONSTRAINT [PK_ANALISIS_SPI] PRIMARY KEY CLUSTERED 
(
	[ANYO] ASC,
	[SEMANA] ASC,
	[TIPO_ANALISIS] ASC,
	[LINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
