USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AdherenciaImagenesPlanificacion]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdherenciaImagenesPlanificacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoImagen] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Semana] [int] NOT NULL,
	[Linea] [nvarchar](100) NOT NULL,
	[WO] [nvarchar](50) NOT NULL,
	[FecIniEstimada] [datetime] NULL,
	[FecFinEstimada] [datetime] NULL,
	[FecIniReal] [datetime] NULL,
	[FecFinReal] [datetime] NULL,
	[FecModif] [datetime] NOT NULL,
	[Formato] [nvarchar](100) NOT NULL,
	[IdPaleta] [nvarchar](50) NOT NULL,
	[IdItem] [nvarchar](50) NOT NULL,
	[DescripProducto] [nvarchar](255) NOT NULL,
	[CantidadPlanificada] [float] NOT NULL,
	[CantidadProducida] [float] NOT NULL,
	[Unidad] [nvarchar](10) NOT NULL,
	[ConversionCPB] [int] NOT NULL,
	[ConversionHL] [float] NOT NULL,
	[Procesado] [int] NOT NULL,
 CONSTRAINT [PK_AdherenciaImagenesPlanificacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
