USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DeslizanteDatosInstantaneas]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeslizanteDatosInstantaneas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idIns] [int] NOT NULL,
	[linea] [nvarchar](50) NULL,
	[formato] [nvarchar](50) NULL,
	[idPaleta] [nvarchar](50) NULL,
	[idItem] [nvarchar](50) NULL,
	[idCzaEnv] [nvarchar](50) NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[anio] [int] NOT NULL,
	[semana] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[vista] [int] NOT NULL,
 CONSTRAINT [PK_DeslizanteDatosInstantaneas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeslizanteDatosInstantaneas]  WITH CHECK ADD  CONSTRAINT [FK_DeslizanteDatosInstantaneas_DeslizanteInstantaneas_Cascade] FOREIGN KEY([idIns])
REFERENCES [dbo].[DeslizanteInstantaneas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeslizanteDatosInstantaneas] CHECK CONSTRAINT [FK_DeslizanteDatosInstantaneas_DeslizanteInstantaneas_Cascade]
GO
