USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MovimientosVacio]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosVacio](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdMovimiento] [nvarchar](50) NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[IdCaja] [nvarchar](64) NOT NULL,
	[IdOrden] [nvarchar](50) NOT NULL,
	[LineaOrden] [int] NOT NULL,
	[StockInicial] [int] NOT NULL,
	[CantidadMovimiento] [int] NOT NULL,
	[StockFinal] [int] NOT NULL,
 CONSTRAINT [PK_MovimientosVacio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
