USE [MES_MSM]
GO
/****** Object:  Table [dbo].[INCIDENCIAS_FECHA_ENVIO]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIAS_FECHA_ENVIO](
	[FECHA_CREACION] [datetime] NULL
) ON [PRIMARY]
GO
