USE [MES_MSM]
GO
/****** Object:  Table [dbo].[ConfiguracionEmpaquetadoras]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionEmpaquetadoras](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Linea] [nvarchar](100) NOT NULL,
	[Producto] [nvarchar](64) NOT NULL,
	[Empaquetadora] [nvarchar](100) NOT NULL,
	[Suma] [bit] NOT NULL,
 CONSTRAINT [PK_ConfiguracionEmpaquetadoras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
