USE [MES_MSM]
GO
/****** Object:  Table [dbo].[INCIDENCIAS_ENVIADAS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIAS_ENVIADAS](
	[ID_INCIDENCIA] [int] NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PANTALLA] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](2000) NOT NULL,
	[APLICACION] [varchar](1) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[EMAIL] [varchar](2000) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INCIDENCIAS_ENVIADAS] ADD  DEFAULT ('P') FOR [APLICACION]
GO
