USE [MES_MSM]
GO
/****** Object:  Table [dbo].[REL_PackingWo_HighBeer]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REL_PackingWo_HighBeer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PackingArticleID] [nvarchar](max) NOT NULL,
	[Czh] [nvarchar](max) NOT NULL,
	[PPR] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CZAEnv] [nvarchar](max) NULL,
	[Mosto] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
