USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DeslizanteProductos]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeslizanteProductos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFormato] [int] NOT NULL,
	[DefId] [nvarchar](20) NOT NULL,
	[Paleta] [nvarchar](20) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DeslizanteProductos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
