USE [MES_MSM]
GO
/****** Object:  Table [dbo].[FormatoCode]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormatoCode](
	[Código] [nvarchar](255) NULL,
	[Descripción] [nvarchar](255) NULL
) ON [PRIMARY]
GO
