USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DeslizanteInstantaneas]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeslizanteInstantaneas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[fechaInicial] [datetime] NOT NULL,
	[numAnyoInicial] [int] NOT NULL,
	[numSemanaInicial] [int] NOT NULL,
	[fechaFinal] [datetime] NOT NULL,
	[numAnyoFinal] [int] NOT NULL,
	[numSemanaFinal] [int] NOT NULL,
	[tipo] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DeslizanteInstantaneas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
