USE [MES_MSM]
GO
/****** Object:  Table [dbo].[ProductosCajas]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosCajas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdProducto] [nvarchar](64) NOT NULL,
	[DescripcionProducto] [nvarchar](100) NOT NULL,
	[IdCaja] [nvarchar](64) NOT NULL,
	[DescripcionCaja] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductosCajas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
