USE [MES_MSM]
GO
/****** Object:  Table [dbo].[FormulaCalculosKOP]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormulaCalculosKOP](
	[IdFormula] [int] IDENTITY(1,1) NOT NULL,
	[Formula] [varchar](1000) NULL,
	[Descripcion] [varchar](255) NULL,
 CONSTRAINT [PK_FormulaCalculosKOP] PRIMARY KEY CLUSTERED 
(
	[IdFormula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
