USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DescripcionMovimientosVacio]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DescripcionMovimientosVacio](
	[IdMovimiento] [nvarchar](50) NOT NULL,
	[DescripcionMovimiento] [nvarchar](100) NOT NULL,
	[Tipo] [int] NOT NULL,
	[DescripcionTipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DescripcionMovimientosVacio] PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
