USE [MES_MSM]
GO
/****** Object:  Table [dbo].[INCIDENCIAS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIAS](
	[ID_INCIDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PANTALLA] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](2000) NOT NULL,
	[APLICACION] [varchar](1) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[EMAIL] [varchar](2000) NULL,
 CONSTRAINT [PK_INCIDENCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_INCIDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INCIDENCIAS] ADD  DEFAULT ('P') FOR [APLICACION]
GO
