USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MailConfiguration]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailConfiguration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IPServer] [nvarchar](50) NOT NULL,
	[MailAddress] [nvarchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[SSL] [bit] NOT NULL,
	[AuthenticationSMTP] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_ServerMailConfiguration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MailConfiguration] ADD  CONSTRAINT [DF_MailConfiguration_SSL]  DEFAULT ((0)) FOR [SSL]
GO
ALTER TABLE [dbo].[MailConfiguration] ADD  CONSTRAINT [DF_MailConfiguration_AuthenticationSMTP]  DEFAULT (N'Anonima') FOR [AuthenticationSMTP]
GO
