USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DeslizanteGeneral]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeslizanteGeneral](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Semanas] [int] NOT NULL,
	[IdDia] [int] NOT NULL,
	[Hora] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DeslizanteGeneral] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
