USE [MES_MSM]
GO
/****** Object:  Table [dbo].[INCIDENCIAS_DIRECCION_ENVIO]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENCIAS_DIRECCION_ENVIO](
	[email] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
