USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MMLocations_BACK]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MMLocations_BACK](
	[LocPK] [int] IDENTITY(0,1) NOT NULL,
	[LocID] [nvarchar](64) NOT NULL,
	[LocTypePK] [int] NOT NULL,
	[LocAlias] [nvarchar](64) NULL,
	[Descript] [nvarchar](255) NULL,
	[ParentLocPK] [int] NULL,
	[CommonLocPK] [int] NULL,
	[CommonLocGuid] [nvarchar](150) NULL,
	[LocPath] [nvarchar](450) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUser] [int] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[LocalInfo] [binary](32) NOT NULL,
	[ContextID] [nvarchar](32) NULL,
	[RowGuid] [uniqueidentifier] NOT NULL,
	[RowVer] [timestamp] NOT NULL,
	[RowDeleted] [bit] NOT NULL,
	[RowUpdated] [datetime] NOT NULL
) ON [PRIMARY]
GO
