USE [MES_MSM]
GO
/****** Object:  Table [dbo].[GraficaProduccionTeoricaVSReal]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraficaProduccionTeoricaVSReal](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Linea] [nvarchar](50) NOT NULL,
	[Turno] [int] NOT NULL,
	[IdProducto] [nvarchar](10) NOT NULL,
	[VelocidadNominal] [int] NOT NULL,
	[VelocidadNominalMaqLimitante] [int] NOT NULL,
	[RendimientoObjetivo] [decimal](5, 2) NOT NULL,
	[ProduccionVelocidadNominal] [int] NOT NULL,
	[ProduccionVelocidadNominalRndObjetivo] [int] NOT NULL,
	[ProduccionVelocidadNominalMaqLimitante] [int] NOT NULL,
	[ProduccionReal] [int] NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_GraficaProduccionTeoricaVSReal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
