USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DeslizanteLineas]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeslizanteLineas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numLinea] [int] NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[orden] [int] NOT NULL,
	[codigoJDE] [nvarchar](3) NULL,
	[aplicacion] [nvarchar](50) NULL,
	[nombreLinea] [nvarchar](50) NULL,
 CONSTRAINT [PK_DeslizanteLineas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
