USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MENUS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUS](
	[ID_MENU] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[NIVEL] [int] NOT NULL,
	[ORDEN] [int] NOT NULL,
	[APLICACION] [varchar](1) NOT NULL,
	[ID_MENU_PADRE] [int] NULL,
	[ID_VISTA] [int] NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MENUS] ADD  DEFAULT ((0)) FOR [NIVEL]
GO
ALTER TABLE [dbo].[MENUS] ADD  DEFAULT ((0)) FOR [ORDEN]
GO
ALTER TABLE [dbo].[MENUS] ADD  DEFAULT ('P') FOR [APLICACION]
GO
ALTER TABLE [dbo].[MENUS]  WITH CHECK ADD  CONSTRAINT [FK_MENU_MENUPADRE] FOREIGN KEY([ID_MENU_PADRE])
REFERENCES [dbo].[MENUS] ([ID_MENU])
GO
ALTER TABLE [dbo].[MENUS] CHECK CONSTRAINT [FK_MENU_MENUPADRE]
GO
