USE [MES_MSM]
GO
/****** Object:  Table [dbo].[PackingFromManugistics]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingFromManugistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](max) NULL,
	[descript] [nvarchar](max) NULL,
	[quantity] [float] NULL,
	[Czh] [nvarchar](max) NULL,
 CONSTRAINT [PK_PackingFromManugistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
