USE [MES_MSM]
GO
/****** Object:  Table [dbo].[QUERIES]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUERIES](
	[ID_QUERY] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](250) NULL,
	[TEXTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_QUERYS] PRIMARY KEY CLUSTERED 
(
	[ID_QUERY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
