USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AlertasBasadasLogConfiguracion]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertasBasadasLogConfiguracion](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaUltimaConsulta] [datetime] NOT NULL,
	[FechaUltimoRegistro] [datetime] NOT NULL,
	[BBDD] [nvarchar](100) NOT NULL,
	[Tabla] [nvarchar](100) NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[Condicion] [nvarchar](max) NOT NULL,
	[CampoFecha] [nvarchar](100) NOT NULL,
	[Asunto] [nvarchar](100) NOT NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[Destinatarios] [nvarchar](max) NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_AlertasBasadasLogConfiguracion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
