USE [MES_MSM]
GO
/****** Object:  Table [dbo].[VISTAS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISTAS](
	[ID_VISTA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CODIGO] [nvarchar](50) NULL,
	[RUTA] [nvarchar](50) NULL,
	[FUNCION] [nvarchar](50) NULL,
	[PARAMETROS] [nvarchar](1000) NULL,
	[CONTENEDOR] [nvarchar](50) NULL,
	[ACCIONES] [nvarchar](2000) NULL,
	[SECCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_VISTAS_1] PRIMARY KEY CLUSTERED 
(
	[ID_VISTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
