USE [MES_MSM]
GO
/****** Object:  Table [dbo].[PackingPO]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingPO](
	[Index] [bigint] IDENTITY(1,1) NOT NULL,
	[ENVASADO] [nvarchar](max) NULL,
	[TOTAL] [int] NULL,
	[MOSTO] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
