USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MailNotification]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserAddress] [nvarchar](max) NULL,
	[StoppageTime] [int] NOT NULL,
	[SendedOn] [datetime] NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[BodyMessage] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_MailNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MailNotification] ADD  CONSTRAINT [DF_MailNotification_Resend]  DEFAULT (NULL) FOR [SendedOn]
GO
ALTER TABLE [dbo].[MailNotification] ADD  CONSTRAINT [DF_MailNotification_Active]  DEFAULT ((1)) FOR [Active]
GO
