USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MaquinasEnvasado]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaquinasEnvasado](
	[LineaAsociada] [varchar](255) NOT NULL,
	[CodigoMaquina] [char](12) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[NumeroJustificaciones] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaUltimaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_MaquinasEnvasado] PRIMARY KEY CLUSTERED 
(
	[LineaAsociada] ASC,
	[CodigoMaquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaquinasEnvasado] ADD  CONSTRAINT [DF_MaquinasEnvasado_NumeroJustificaciones]  DEFAULT ((0)) FOR [NumeroJustificaciones]
GO
