USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MaestroEnvasado]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaestroEnvasado](
	[ACCION] [nvarchar](255) NULL,
	[COD_CORTO] [float] NULL,
	[CODIGO] [nvarchar](255) NULL,
	[DESCRIP1] [nvarchar](255) NULL,
	[DESCRIP2] [nvarchar](255) NULL,
	[MARCA] [nvarchar](255) NULL,
	[GAMA] [nvarchar](255) NULL,
	[FORMATO] [nvarchar](255) NULL,
	[TIPO_ENV] [nvarchar](255) NULL,
	[TIPO_PRO] [nvarchar](255) NULL,
	[FAMILIA] [nvarchar](255) NULL,
	[SUBFAMILIA] [nvarchar](255) NULL,
	[UNIDAD_MED] [nvarchar](255) NULL,
	[UNIDAD_SEC] [nvarchar](255) NULL,
	[ESTADO] [nvarchar](255) NULL,
	[PROCESADO] [nvarchar](255) NULL,
	[ALMACEN] [nvarchar](255) NULL
) ON [PRIMARY]
GO
