USE [MES_MSM]
GO
/****** Object:  Table [dbo].[QUERIESGRAFICOS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUERIESGRAFICOS](
	[ID_QUERY] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[TEXTO] [nvarchar](max) NULL,
	[TIPO] [varchar](10) NULL,
	[SERIESNAME] [varchar](100) NULL,
	[MAXVALOR] [varchar](100) NULL,
	[COLORES] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
