USE [MES_MSM]
GO
/****** Object:  Table [dbo].[LogBookWeb]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBookWeb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Bias] [int] NULL,
	[ApplicationId] [nvarchar](50) NULL,
	[Section] [int] NULL,
	[Level] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ObjectId] [nvarchar](250) NULL,
	[ProcessName] [nvarchar](250) NULL,
	[UserName] [nvarchar](50) NULL,
	[ComputerName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LogBookWeb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
