USE [MES_MSM]
GO
/****** Object:  Table [dbo].[JustificacionParosMotivosArbol]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JustificacionParosMotivosArbol](
	[IdArbolMotivo] [smallint] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_JustificacionParosMotivosArbol] PRIMARY KEY CLUSTERED 
(
	[IdArbolMotivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
