USE [MES_MSM]
GO
/****** Object:  Table [dbo].[RelacionETQMESLineaJDE]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelacionETQMESLineaJDE](
	[Linea] [nvarchar](100) NULL,
	[Maquina] [nvarchar](50) NULL,
	[LineaProducionJDE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
