USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MailEquipmentNotification]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailEquipmentNotification](
	[IdMailNotification] [int] NOT NULL,
	[IdMailEquipment] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MailEquipmentNotification] PRIMARY KEY CLUSTERED 
(
	[IdMailNotification] ASC,
	[IdMailEquipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
