USE [MES_MSM]
GO
/****** Object:  Table [dbo].[ParosPerdidasPPAMaquina]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParosPerdidasPPAMaquina](
	[NumLinea] [int] NULL,
	[Linea] [nchar](150) NULL,
	[CodMaquina] [int] NULL,
	[idMaquina] [int] NULL,
	[DescripcionMaquina] [nvarchar](max) NULL,
	[ParoMayorMenor] [int] NULL,
	[Inicio] [datetime] NULL,
	[Fin] [datetime] NULL,
	[Duracion] [int] NULL,
	[InicioTurno] [datetime] NULL,
	[FinTurno] [datetime] NULL,
	[idTurno] [int] NULL,
	[idTipoTurno] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
