USE [MES_MSM]
GO
/****** Object:  Table [dbo].[JustificacionParosMotivos]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JustificacionParosMotivos](
	[IdMotivo] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[IdArbolMotivo] [smallint] NOT NULL,
	[CodigoMotivo] [nvarchar](50) NOT NULL,
	[MaquinaObligatoria] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JustificacionParosMotivos] PRIMARY KEY CLUSTERED 
(
	[IdMotivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
