USE [MES_MSM]
GO
/****** Object:  Table [dbo].[FUNCIONES_MENUS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES_MENUS](
	[ID_FUNCION_MENU] [int] NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
	[ID_MENU] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONES_MENUS] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCION_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FUNCIONES_MENUS]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_MENUS_FUNCIONES] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[FUNCIONES_MENUS] CHECK CONSTRAINT [FK_FUNCIONES_MENUS_FUNCIONES]
GO
ALTER TABLE [dbo].[FUNCIONES_MENUS]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONES_MENUS_MENUS] FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[MENUS] ([ID_MENU])
GO
ALTER TABLE [dbo].[FUNCIONES_MENUS] CHECK CONSTRAINT [FK_FUNCIONES_MENUS_MENUS]
GO
