USE [MES_MSM]
GO
/****** Object:  Table [dbo].[IDIOMA_INFORME]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA_INFORME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LITERAL] [varchar](500) NULL,
	[LITERAL_ES] [varchar](500) NULL,
	[LITERAL_EN] [varchar](500) NULL,
	[INFORME] [varchar](100) NULL,
 CONSTRAINT [PK_IDIOMA_INFORME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
