USE [MES_MSM]
GO
/****** Object:  Table [dbo].[CocPlanning]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocPlanning](
	[Index] [bigint] IDENTITY(1,1) NOT NULL,
	[CodArticle] [nvarchar](max) NULL,
	[Article] [nvarchar](max) NULL,
	[ExistenciasTCP] [nvarchar](max) NULL,
	[Necesidad] [nvarchar](max) NULL,
	[Cocciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
