USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AdherenciaMotivos]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdherenciaMotivos](
	[IdMotivo] [nvarchar](10) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[Origen] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AdherenciaMotivos] PRIMARY KEY CLUSTERED 
(
	[IdMotivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
