USE [MES_MSM]
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[ID_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [nvarchar](128) NOT NULL,
	[ID_FUNCION] [int] NOT NULL,
 CONSTRAINT [PK_PERMISOS] PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_PERMISOS_AspNetRoles] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[PERMISOS] CHECK CONSTRAINT [FK_PERMISOS_AspNetRoles]
GO
ALTER TABLE [dbo].[PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_PERMISOS_FUNCIONES] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[FUNCIONES] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[PERMISOS] CHECK CONSTRAINT [FK_PERMISOS_FUNCIONES]
GO
