USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AlertasBasadasLogMails]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertasBasadasLogMails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdConfiguracion] [bigint] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaEnvio] [datetime] NULL,
	[Asunto] [nvarchar](100) NOT NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[Destinatarios] [nvarchar](max) NOT NULL,
	[Consulta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AlertasBasadasLogMails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

