USE [MES_MSM]
GO
/****** Object:  Table [dbo].[SEMANAS]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMANAS](
	[AÑO] [int] NULL,
	[SEMANA] [int] NULL,
	[INICIO] [datetime] NULL,
	[FIN] [datetime] NULL
) ON [PRIMARY]
GO
