USE [MES_MSM]
GO
/****** Object:  Table [dbo].[EquiposConstructivosEnvasado]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquiposConstructivosEnvasado](
	[CodigoMaquina] [char](12) NOT NULL,
	[CodigoEquipo] [char](12) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[NumeroJustificaciones] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaUltimaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_EquiposConstructivosEnvasado] PRIMARY KEY CLUSTERED 
(
	[CodigoEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EquiposConstructivosEnvasado] ADD  CONSTRAINT [DF_EquiposConstructivosEnvasado_NumeroJustificaciones]  DEFAULT ((0)) FOR [NumeroJustificaciones]
GO
