USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DiasSemanaDeslizante]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiasSemanaDeslizante](
	[id] [int] NOT NULL,
	[dia] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
