USE [MES_MSM]
GO
/****** Object:  Table [dbo].[VideowallConfiguracion]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideowallConfiguracion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPantalla] [int] NOT NULL,
	[Pagina] [nvarchar](100) NOT NULL,
	[Visible] [bit] NOT NULL,
	[Duracion] [int] NOT NULL,
 CONSTRAINT [PK_VideowallConfiguracion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
