USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AdherenciaDesviacionVolumen]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdherenciaDesviacionVolumen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoComparacion] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Semana] [int] NOT NULL,
	[Linea] [nvarchar](100) NULL,
	[FecModif] [datetime] NOT NULL,
	[Formato] [nvarchar](100) NOT NULL,
	[IdPaleta] [nvarchar](50) NOT NULL,
	[ItemMD] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[CPBPlanificados] [int] NOT NULL,
	[CPBReales] [int] NOT NULL,
	[HLPlanificados] [float] NOT NULL,
	[HLReales] [float] NOT NULL,
	[Desviacion] [float] NOT NULL,
	[DesviacionObjetivoPlanPlan] [float] NOT NULL,
	[DesviacionObjetivoPlanReal] [float] NOT NULL,
	[IdMotivo] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_AdherenciaDesviacionVolumen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdherenciaDesviacionVolumen] ADD  CONSTRAINT [DF_AdherenciaDesviacionVolumen_IdPaleta]  DEFAULT ('') FOR [IdPaleta]
GO
