USE [MES_MSM]
GO
/****** Object:  Table [dbo].[DescripcionAverias]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DescripcionAverias](
	[IdDescripcionAveria] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEquipo] [char](12) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[NumeroJustificaciones] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaUltimaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_DescripcionAverias] PRIMARY KEY CLUSTERED 
(
	[IdDescripcionAveria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DescripcionAverias] ADD  CONSTRAINT [DF_DescripcionAverias_NumeroJustificaciones]  DEFAULT ((0)) FOR [NumeroJustificaciones]
GO
ALTER TABLE [dbo].[DescripcionAverias]  WITH CHECK ADD  CONSTRAINT [FK_DescripcionAverias_EquiposConstructivosEnvasado] FOREIGN KEY([CodigoEquipo])
REFERENCES [dbo].[EquiposConstructivosEnvasado] ([CodigoEquipo])
GO
ALTER TABLE [dbo].[DescripcionAverias] CHECK CONSTRAINT [FK_DescripcionAverias_EquiposConstructivosEnvasado]
GO
