USE [MES_MSM]
GO
/****** Object:  Table [dbo].[JustificacionParosCategorias]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JustificacionParosCategorias](
	[IdCategoria] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[IdArbolMotivo] [smallint] NOT NULL,
 CONSTRAINT [PK_JustificacionParosCategorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
