USE [MES_MSM]
GO
/****** Object:  Table [dbo].[MailGroupNotification]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailGroupNotification](
	[IdMailNotification] [int] NOT NULL,
	[IdMailGroup] [int] NOT NULL,
 CONSTRAINT [PK_MailGroupNotification] PRIMARY KEY CLUSTERED 
(
	[IdMailNotification] ASC,
	[IdMailGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MailGroupNotification]  WITH CHECK ADD  CONSTRAINT [PK_FK_MailGroup] FOREIGN KEY([IdMailGroup])
REFERENCES [dbo].[MailGroup] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MailGroupNotification] CHECK CONSTRAINT [PK_FK_MailGroup]
GO
ALTER TABLE [dbo].[MailGroupNotification]  WITH CHECK ADD  CONSTRAINT [PK_FK_MailNotification] FOREIGN KEY([IdMailNotification])
REFERENCES [dbo].[MailNotification] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MailGroupNotification] CHECK CONSTRAINT [PK_FK_MailNotification]
GO
