USE [MES_MSM]
GO
/****** Object:  Table [dbo].[TEMP_KOPTipo]    Script Date: 01/03/2021 12:20:42 ******/
DROP TABLE [dbo].[TEMP_KOPTipo]
GO
/****** Object:  Table [dbo].[TEMP_KOPTipo]    Script Date: 01/03/2021 12:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_KOPTipo](
	[KOP] [nvarchar](50) NULL,
	[Tipo] [nvarchar](50) NULL
) ON [PRIMARY]

GO
