USE [MES_MSM]
GO
/****** Object:  Table [dbo].[VideowallPantallasLineas]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideowallPantallasLineas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLinea] [int] NOT NULL,
	[IdPantalla] [int] NOT NULL,
 CONSTRAINT [PK_VideowallPantallasLineas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
