USE [MES_MSM]
GO
/****** Object:  Table [dbo].[OrdenPlanificado]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenPlanificado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Material] [nvarchar](max) NULL,
	[Cantidad] [float] NULL,
	[Origen] [nvarchar](max) NULL,
	[Destino] [nvarchar](max) NULL,
	[InicioPlanificado] [datetime] NULL,
	[FinPlanificado] [datetime] NULL,
	[Arrancado] [bit] NULL,
	[CodigoOrden] [nvarchar](max) NULL,
	[Nota] [nvarchar](max) NULL,
	[TipoOrden] [nvarchar](100) NULL,
 CONSTRAINT [PK_OrdenPlanificado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
