USE [MES_MSM]
GO
/****** Object:  Table [dbo].[TotalesSemanaCuadroMando]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalesSemanaCuadroMando](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Linea] [nvarchar](100) NOT NULL,
	[PaletsTurno] [int] NOT NULL,
	[EnvasesTurno] [int] NOT NULL,
	[OEETurno] [real] NOT NULL,
	[PaletsWO] [int] NOT NULL,
	[CPBWO] [int] NOT NULL,
	[EnvasesWO] [int] NOT NULL,
	[OEEWO] [real] NOT NULL,
 CONSTRAINT [PK_TotalesSemanaCuadroMando] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
