USE [MES_MSM]
GO
/****** Object:  Table [dbo].[AREAS_GESTION]    Script Date: 25/02/2022 12:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS_GESTION](
	[ID_AREA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [nvarchar](5) NOT NULL,
	[DESCRIPCION] [nvarchar](500) NULL,
 CONSTRAINT [PK_AREA] PRIMARY KEY CLUSTERED 
(
	[ID_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
