<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<sectionGroup name="Envasado">
			<section name="EstadosMaquina" type="MSM.Utilidades.MSMSection" />
			<section name="EstadosOrden" type="MSM.Utilidades.MSMSection" />
			<section name="Pausa" type="MSM.Utilidades.MSMSection" />
			<section name="ArranqueLinea" type="MSM.Utilidades.MSMSection" />
		</sectionGroup>
		<sectionGroup name="Fabricacion">
			<section name="AreaFabricacion" type="MSM.Utilidades.MSMSection" />
			<section name="CeldaFabricacion" type="MSM.Utilidades.MSMSection" />
			<section name="TanqueMalta" type="MSM.Utilidades.MSMSection" />
			<section name="NombreEspecificacionMaterial" type="MSM.Utilidades.MSMSection" />
			<section name="TipoEstadosOrden" type="MSM.Utilidades.MSMSection" />
			<section name="EstadoProcedimientos" type="MSM.Utilidades.MSMSection" />
		</sectionGroup>
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1212">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<Envasado>
		<!-- Tipos de estado de máquina-->
		<EstadosMaquina>
			<add key="NoConectada" value="342" />
			<add key="Produccion" value="351" />
			<add key="Parada" value="343" />
		</EstadosMaquina>
		<!-- Tipos de estado de orden-->
		<EstadosOrden>
			<add key="Creada" keyReglaSIT="Creada" value="1002" color="BDBDBD" cambios="Cancelada" activa="false" pendiente="true" />
			<add key="Planificada" keyReglaSIT="Planificada" value="1007" cambios="Cancelada" color="00BFFF" activa="false" pendiente="true" />
			<add key="Cancelada" keyReglaSIT="Cancelada" value="1000" color="FF4000" activa="false" pendiente="false" />
			<add key="Iniciando" keyReglaSIT="Iniciando" value="1005" cambios="Pausada" color="E1F5A9" activa="true" pendiente="false" />
			<add key="Iniciar" value="1005" color="E1F5A9" />
			<add key="Pausada" keyReglaSIT="Pausada" value="1006" cambios="Finalizada" color="F7FE2E" activa="false" pendiente="true" />
			<add key="Cerrada" keyReglaSIT="Cerrada" value="1001" color="D0A9F5" activa="false" pendiente="false" />
			<add key="Finalizada" keyReglaSIT="Finalizada" value="1003" cambios="Cerrada" color="FAAC58" activa="false" pendiente="true" />
			<add key="Producción" keyReglaSIT="Producción" value="1009" cambios="Pausada" color="00FF00" activa="true" pendiente="false" />
		</EstadosOrden>
		<Pausa>
			<add key="Fin" value="FIN_PRODUCCION" keyReglaSIT="FIN_PRODUCCION"></add>
			<add key="Cambio" value="CAMBIO_PRODUCTO" keyReglaSIT="CAMBIO"></add>
			<add key="PausadaCambio" value="PAUSADA#CAMBIO" keyReglaSIT="PAUSADA#CAMBIO"></add>
			<add key="FinalizadaCambio" value="FINALIZADA#CAMBIO" keyReglaSIT="FINALIZADA#CAMBIO"></add>
			<add key="PausadaFinproduccion" value="PAUSADA#FIN_PRODUCCION" keyReglaSIT="PAUSADA#FIN_PRODUCCION"></add>
			<add key="FinalizadaFinproduccion" value="FINALIZADA#FIN_PRODUCCION" keyReglaSIT="FINALIZADA#FIN_PRODUCCION"></add>
		</Pausa>
		<!--Tipos arranque linea-->
		<ArranqueLinea>
			<add key="FinProduccion" value="FIN_PRODUCCION"></add>
			<add key="InicioProduccion" value="INICIO_PRODUCCION"></add>
		</ArranqueLinea>
	</Envasado>
	<Fabricacion>
		<AreaFabricacion>
			<add key="Recepcion" value="RECEPCION"></add>
			<add key="Coccion" value="COCCION"></add>
			<add key="Fermentacion" value="FERMENTACION-GUARDA"></add>
			<add key="Filtracion" value="FILTRACION"></add>
			<add key="Prellenado" value="PRELLENADO"></add>
			<add key="Recuperados" value="RECUPERADOS"></add>
		</AreaFabricacion>
		<CeldaFabricacion>
			<add key="Malta" value="MALTA"></add>
		</CeldaFabricacion>
		<TanqueMalta>
			<add key="MALTA_COLOR" value="Color"></add>
			<add key="MALTA_MOLIDA" value="Molida"></add>
		</TanqueMalta>
		<!-- Tipos de estado de orden POMV_ORDR_STAT-->
		<TipoEstadosOrden>
			<add key="Ready" value="1012" cambios="Planificada" color="A" />
			<add key="Processed" value="1011" cambios="Consolidando datos" color="Z" />

			<add key="InProgress" value="1014" cambios="Producción" color="V" />
			<add key="Terminated" value="1013" cambios="Cerrada" color="Z" />
		</TipoEstadosOrden>
		<!-- Tipos de estado de procedimiento POMV_ETRY_STAT-->
		<EstadoProcedimientos>
			<add key="Processed" value="1012" cambios="Procesada" color="N" />
			<add key="Ready" value="1010" cambios="Preparada" color="A" />
			<add key="Running" value="1011" cambios="Producción" color="P" />
		</EstadoProcedimientos>
		<NombreEspecificacionMaterial>
			<add key="Consumido" value="CONSUMED"></add>
			<add key="Producido" value="PRODUCED"></add>
			<add key="Reelaborado" value="REWORKED"></add>
		</NombreEspecificacionMaterial>
	</Fabricacion>
	<appSettings>
		<!-- Máximo de solicitudes en espera por CPU -->
		<add key="aspnet:MaxConcurrentRequestsPerCPU" value="2" />
		<!-- Máximo de hilos de trabajo por CPU -->
		<add key="aspnet:MaxConcurrentThreadsPerCPU" value="4" />
		<add key="AVISO_CIERRE" value="false" />
		<add key="TRAZAS" value="true" />
		<add key="DATOS_PROD_SIT" value="false" />
		<add key="IP_SIMATIC" value="10.233.2.51" />
		<add key="PUERTO_SIMATIC" value="1111" />
		<add key="PlantaID" value="MSM.BURGOS.ENVASADO" />
		<add key="PlantaCod" value="8030" />
		<add key="PlantaIDFAB" value="MSM.BURGOS" />
		<add key="PlantaNombre" value="BURGOS" />
		<add key="PrefWoManual" value="OM-BUR-" />
		<add key="PrefWoPlanificador" value="OP-BUR-" />
		<add key="ANYO_IMPLANTACION" value="2016" />
		<add key="LOGO" value="MSM" />
		<add key="CAMBIOS_ESTADO_ORDENES" value="true" />
		<add key="CAMBIOS_ESTADO_MAQUINAS" value="true" />
		<add key="CAMBIOS_TURNO_ACTUAL" value="true" />
		<add key="ACT_DATOS_PRODUCCION" value="true" />
		<add key="ACT_DATOS_PRODUCCION_FINALIZADAS_PAUSADAS" value="true" />
		<add key="ACT_ALT" value="true" />
		<add key="ACT_VIDEOWALL" value="true" />
		<add key="ACT_NOTIFICATION_MAIL" value="true" />
		<add key="ACT_PRODUCCION_REAL_ENVASES_LLENADORA" value="true" />
		<add key="ACT_FECHA_ESTIMADA_FIN_WO" value="true" />
		<add key="ACT_DUOTANK" value="true" />
		<add key="T_ACT_VIDEOWALL" value="0 0/30 * * * ?" />
		<add key="T_ACT_ALT" value="300" />
		<add key="T_CAMBIOS_ESTADO_ORDENES" value="0/10 * * * * ?" />
		<add key="T_CAMBIOS_ESTADO_MAQUINAS" value="0/10 * * * * ?" />
		<add key="T_CAMBIOS_TURNO_ACTUAL" value="0 0/30 * * * ?" />
		<add key="T_ACT_DATOS_PRODUCCION" value="0 0/1 * * * ?" />
		<add key="T_ACT_DATOS_PRODUCCION_FINALIZADAS_PAUSADAS" value="0 15,45 * * * ?" />
		<add key="T_ACT_NOTIFICATION_MAIL" value="30" />
		<add key="T_ACT_PRODUCCION_REAL_ENVASES_LLENADORA" value="0 0/10 * * * ?" />
		<add key="T_ACT_FECHA_ESTIMADA_FIN_WO" value="300" />
		<add key="T_ACT_DUOTANK" value="300" />
		<add key="WP_Consumos" value="'01'" />
		<add key="FE_Consumos" value="MPA,CZA,SUB" />
		<add key="GU_Consumos" value="'MPA'" />
		<add key="FL_Consumos" value="'MPA'" />
		<add key="PR_Consumos" value="'MPA'" />
		<add key="TR_Consumos" value="'MPA'" />
		<add key="WP_Producciones" value="BAGAZO GENERADO" />
		<add key="FE_Producciones" value="LEVADURA MUERTA,LEVADURA COLECCION" />
		<add key="TR_Producciones" value="LEVADURA MUERTA" />
		<add key="FE_ClaseEquipo" value="UNIDAD-TANQUE-FERMENTACION;UNIDAD-TANQUE-FERGU" />
		<add key="GU_ClaseEquipo" value="UNIDAD-TANQUE-FERGU;UNIDAD-TANQUE-GUARDA" />
		<add key="descripcionTanquePrellenado" value="MSM-EQUIPAMIENTO-FABRICACION.UNIDAD-TANQUE-PRELLENADO" />
		<add key="descripcionLineasFil" value="MSM-EQUIPAMIENTO-FABRICACION.CELDA-FILTRACION" />
		<add key="pwdSa" value="Msm2014!" />
		<add key="ServerIP" value="10.233.2.51" />
		<add key="UserSa" value="sa" />
		<add key="SsisDb" value="SSISDeltaV" />
		<add key="idBagazo" value="BAGAZO GENERADO" />
		<add key="idLevaduraColeccion" value="LEVADURA COLECCION" />
		<add key="idLevaduraMuerta" value="LEVADURA MUERTA" />
		<add key="destinoBagazo" value="B104PRCTQ-01" />
		<add key="destinoLevaduraColeccion" value="B129PRCTQ-01,B129PRCTQ-02" />
		<add key="destinoLevaduraMuerta" value="B131PRCTQ-01" />
		<add key="EquiposProduccionFAB" value="SC1,SC2,FE1,FE2,GU1,FL1,FL2,FL3,FL4,TR1,PR,Recuperados" />
		<add key="TankDestProduceAllowedStatusWP" value="Filling" />
		<add key="Planta" value="MSM.Burgos" />
		<add key="User" value="SAIBURGOS\SVCSITMES" />
		<add key="PW" value="Svc2017" />
		<add key="Dominio" value="0" />
		<add key="OrigenBagazo" value="B104PRCTQ-01" />
		<add key="OrigenEquitment" value="" />
		<add key="Bascule" value="" />
		<add key="PDV" value="88" />
		<!-- Ruta del sevidor de reporting services-->
		<add key="servidorReportingMES" value="http://10.233.2.51/ReportServer" />
		<add key="servidorReportingInterspec" value="https://madw19s199/ReportServer" />
		<add key="userReportingInterspec" value="AdminMESMSM" />
		<add key="userPwdReportingInterspec" value="Msm2014!" />
		<add key="userDomainReportingInterspec" value="Mahou" />
		<add key="HostApiTrazabilidad" value="http://10.233.2.51:2017/TrazabilidadApi/" />
		<!--<add key="HostApiFabricacion" value="http://localhost:2017/"/>-->
		<add key="HostApiFabricacion" value="http://10.233.2.51:2017/FabricacionApi/"/>
		<add key="HostApiEnvasado" value="http://localhost:2017/" />
		<!--<add key="HostApiEnvasado" value="http://10.233.2.51:2017/EnvasadoApi/" />-->
		<add key="HostApiCalidad" value="http://10.233.2.51:2017/CalidadApi/" />
		<add key="HostApiInterspec" value="http://10.233.2.51:2017/InterspecApi/" />
		<add key="HostApiSIT" value="http://10.233.2.51:2017/SiemensDataApi/" />
		<add key="HostApiJDE" value="http://10.233.2.51:2017/JDEApi/" />
		<add key="HostApiLIMS" value="http://10.233.2.51:2019/LimsApi/" />
		<!--<add key="HostApiLIMS" value="http://10.233.2.51:2017/LimsApi/" />-->
		<add key="HostApiSiemensBrewingData" value="http://10.233.2.51:2017/SiemensBrewingData/api/" />
		<add key="faviconPlanta" value="img/favicon.ico" />
		<add key="Test" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="NotificadorEventos" connectionString="Server=10.233.2.51;database=MSM_Notificador;User Id=sa;Password=Msm2014!;" providerName="System.Data.SqlClient" />
		<add name="sqlMES" connectionString="Server=10.233.2.51;database=MES_MSM;User Id=sa;Password=Msm2014!;" providerName="System.Data.SqlClient" />
		<add name="sqlMESFab" connectionString="Server=10.233.2.51;database=MES_MSM_Fabricacion;User Id=uMESMSM;Password=uM35M5Msql;" providerName="System.Data.SqlClient" />
		<!--<add name="sqlMESFab" connectionString="Server=10.234.2.132;database=MES_MSM_Fabricacion;User Id=uMESMSM;Password=uM35M5Msql;"
		  providerName="System.Data.SqlClient" />-->
		<add name="sqlINTERSPC" connectionString="Server=10.233.2.51;database=MES_MSM;User Id=sa;Password=Msm2014!;" providerName="System.Data.SqlClient" />
		<add name="sqlMESsa" connectionString="Server=10.233.2.51;database=MES_MSM;User Id=sa;Password=Msm2014!;" providerName="System.Data.SqlClient" />
		<add name="MESEntities" connectionString="metadata=res://*/BBDD.Model.MESModel.csdl|res://*/BBDD.Model.MESModel.ssdl|res://*/BBDD.Model.MESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.233.2.51;initial catalog=MES_MSM;User Id=sa;Password=Msm2014!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="FormsDBEnt" connectionString="metadata=res://*/BBDD.Alt.formALTModel.csdl|res://*/BBDD.Alt.formALTModel.ssdl|res://*/BBDD.Alt.formALTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.233.2.51;initial catalog=MES_MSM_ALT;User Id=sa;Password=Msm2014!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="MESFabEntities" connectionString="metadata=res://*/BBDD.Model.MESFabModel.csdl|res://*/BBDD.Model.MESFabModel.ssdl|res://*/BBDD.Model.MESFabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.233.2.51;initial catalog=MES_MSM_Fabricacion;user id=uMESMSM;password=uM35M5Msql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="MESFabEntities" connectionString="metadata=res://*/BBDD.Model.MESFabModel.csdl|res://*/BBDD.Model.MESFabModel.ssdl|res://*/BBDD.Model.MESFabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.234.2.132;initial catalog=MES_MSM_Fabricacion;user id=uMESMSM;password=uM35M5Msql;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="60" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="Encryption">
			<providers>
				<clear />
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="sqlMESsa" applicationName="MyApplication" />
			</providers>
		</roleManager>
		<authentication mode="Forms">
			<!--Si no se especifica lo contrario por defecto slidingExpiration="true", así indicamos que la fecha de expiración de la cookie de autenticación y del ticket de autenticación
      es variable, si se realiza un solicitud al servidor y ha trascurrido más de la mitad del timeout establecido se reestablece la hora de expiración/> -->
			<forms loginUrl="~/home/login" defaultUrl="~/home/index" timeout="120" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="SignalRFormsAuthenticationCleanerModule" type="MSM.SignalRFormsAuthenticationCleanerModule, MSM" />
		</modules>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>

		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>
	</system.webServer>

	<location path="Portal/index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="-1" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="Terminal/index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="-1" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="Videowall/index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="-1" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="PantallaAlmacen/index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="-1" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
