<style>
    #msgDialogo {
        width: auto;
        font-size: 20px;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: center;
    }

    #imgProcesando {
        margin: 15px;
        display: none;
    }

    #botones button {
        width: 120px;
        height: 40px;
        padding-top: 4px;
        margin: 8px;
        margin-left:35%;
        float: left;
    }



    #botones .k-button .k-image {
        height: 24px;
        float: none;
        text-align:center;
        margin-left: 4px;
    }
</style>

<div id="msgDialogo">
    <%= msg %>
</div>
<div id="imgProcesando">
    <img src="img/ajax-loader.gif" />
</div>
<div id="botones">
    <div>
        <button id="btnAceptar"><% print(window.app.idioma.t('ACEPTAR')) %></button></div>
    <!--<div>
        <button id="btnCancelar"><% print(window.app.idioma.t('CANCELAR')) %></button></div>-->
</div>
