<div id="divJuliano">
    <div class="tableVW juliano">
        <div class="rowTableVW">
            <div class="tituloBig cellTableVW" style="text-align:left"><% print(window.app.idioma.t('DÍA_JULIANO')) %></div>
            <div class="valorBig cellTableVW verde"><%=dia%></div>
        </div>
        <div class="rowTableVW">
            <div class="tituloBig cellTableVW" style="text-align:left"><% print(window.app.idioma.t('SEMANA')) %></div>
            <div class="valorBig cellTableVW verde"><%=semana%></div>
        </div>
    </div>
</div>
