USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerComentarios]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_5_ObtenerComentarios]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Tipo nvarchar(50),
	 @Anyo int,
	 @Semana smallint,
	 @RangoSemanas smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
SELECT [LINEA]
      ,[ANYO]
      ,[SEMANA]
      ,[TIPO_ANALISIS]
      ,[COMENTARIOS]
  FROM [dbo].[ANALISIS_SPI]
  INNER JOIN Lineas L ON L.NumeroLinea = LINEA
  where L.Id=@Linea and TIPO_ANALISIS = @Tipo and Anyo = @Anyo and Semana = @Semana 


END
GO
