USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[CargarFormulaKOP]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		IDOM
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[CargarFormulaKOP] (@KOP AS VARCHAR(200), @VariablesKOP AS VARCHAR(4000),@IdFormula AS INTEGER = NULL, @Formula AS VARCHAR (255), @DescFormula AS varchar(255))
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @VariableKOP VARCHAR(200),
			@VariableFormula VARCHAR(4) ='`'

	IF(@IdFormula IS NULL)
	BEGIN
		INSERT INTO [FormulaCalculosKOP]
		VALUES (@Formula,@DescFormula)
		SET @IdFormula = (SELECT TOP(1) IdFormula FROM [FormulaCalculosKOP]ORDER BY IdFormula DESC)
	END
	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
	SELECT VALUE from [dbo].[Split](@VariablesKOP,',')

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		SET @VariableFormula = (SELECT CHAR(ASCII(@VariableFormula) +1))
		INSERT INTO 
			[ConfiguracionCalculoKOP]
		VALUES
		(@KOP,@VariableKOP,'{'+	@VariableFormula +'}',@IdFormula)

		FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
END


	
GO
