USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProduccionConsolidadaPorHora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerProduccionConsolidadaPorHora]
	-- Add the parameters for the stored procedure here
	@idTurno as int,
	@NumLinea as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		SELECT 
		[HORA] as Hora
		,min([FECHA_INICIO]) as Inicio
		,max([FECHA_FIN]) as Fin
		,sum([TIEMPO_NETO])  as tNeto
		,sum([TIEMPO_OPERATIVO]) as tOperativo
		,sum([TIEMPO_BRUTO]) as tBruto
		,sum([TIEMPO_PLANIFICADO]) as tPlanificado
		,sum([VELOCIDAD_NOMINAL]) as velNominal
		,sum([CONTADOR_PRODUCCION]) as TotalEnvasesLlenadora
		FROM COB_MSM_PROD_LLENADORA_HORA as Consolidacion
		INNER JOIN Turnos on Consolidacion.[SHC_WORK_SCHED_DAY_PK] = Turnos.Id
		INNER JOIN Lineas l ON l.Id = Turnos.Linea 
		WHERE [SHC_WORK_SCHED_DAY_PK] = @idTurno and l.NumeroLinea = @NumLinea
		GROUP BY [HORA]
		ORDER BY [HORA] 
	
	COMMIT TRANSACTION; 
END
GO
