USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPicosOrdenParticion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 24-04-2020
-- Description:	Obtener los picos de una orden/particion
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPicosOrdenParticion]
	@idOrdenParticion NVARCHAR(101)
AS
BEGIN
	SET NOCOUNT ON;

	IF CHARINDEX('.', @idOrdenParticion) > 0
	BEGIN
		SELECT *
		FROM Picos
		WHERE IdParticion = @idOrdenParticion 
		ORDER BY IdPico
	END
	ELSE
	BEGIN
		SELECT *
		FROM Picos
		WHERE IdOrden = @idOrdenParticion 
		ORDER BY IdPico
	END
END
GO
