USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarConfiguracionEmpaquetadoras]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 18-09-2020
-- Description:	Se guardan los datos necesarios para la configuración de las empaquetadoras
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarConfiguracionEmpaquetadoras]
AS
BEGIN
	SET NOCOUNT ON;

	-- Tabla temporal donde se va a guardar el resultado
	DECLARE @resultado TABLE (IdFila bigint, Linea nvarchar(100), Producto nvarchar(64), Empaquetadora nvarchar(100), Suma bit)

	INSERT INTO @resultado
	SELECT
		ROW_NUMBER() OVER (ORDER BY PL.idLinea, PL.Producto) IdFila,
		PL.idLinea,
		PL.Producto,
		MA.Nombre,
		1
	FROM ParametrosLinea PL
	INNER JOIN Maquinas MA ON PL.idLinea = MA.Linea
	INNER JOIN Materiales M ON PL.Producto = M.IdMaterial
	WHERE MA.Clase = 'EMPAQUETADORA' AND M.Tipo = '03' AND M.UdMedida IN ('MD', 'PL') AND M.Status = 'APPROVED' 
	ORDER BY PL.idLinea

	DECLARE @rowCount INT, @idFila BIGINT, @Linea nvarchar(100), @Producto nvarchar(64), @Empaquetadora nvarchar(100)
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(IdFila) FROM @resultado)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @idFila = (SELECT MAX(IdFila) FROM @resultado)

	WHILE (@rowCount > 0)
	BEGIN
		SELECT 
			@Linea = Linea,
			@Producto = Producto,
			@Empaquetadora = Empaquetadora
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.ConfiguracionEmpaquetadoras WHERE Linea = @Linea AND Producto = @Producto AND Empaquetadora = @Empaquetadora)
		BEGIN
			INSERT INTO dbo.ConfiguracionEmpaquetadoras
			SELECT Linea, Producto, Empaquetadora, Suma  FROM @resultado WHERE IdFila = @idFila
		END

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @idFila = IdFila FROM @resultado WHERE IdFila < @idFila ORDER BY IdFila DESC
		
		SET @rowCount = @rowCount - 1
	END
END
GO
