USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionParticion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionParticion]
	@ordenId nvarchar(20)--,
	--@ordenIdPadre nvarchar(20),
	--@subordenId nvarchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.	
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.	
	BEGIN TRANSACTION;	
		DECLARE @woId nvarchar(20)
		DECLARE @Id NVARCHAR(101)
		DECLARE @Linea NVARCHAR(101)

		SET @woId = @ordenId 

		SELECT *
		into #Particiones_temp
		FROM Particiones 
		WHERE Id = @woId

		set @id = @@ROWCOUNT

		IF(@Id > 0)
		BEGIN
			DECLARE @ID_CLASE_PALETIZADORA AS INT;
			DECLARE @ID_CLASE_ENCAJONADORA AS INT;
			DECLARE @ID_CLASE_EMPAQUETADORA AS INT;
			DECLARE @ID_CLASE_ETIQUETADORA AS INT;
			DECLARE @RechazoslLle INT;
			DECLARE @RechazosInspectorSalidaLlenadora INT;
			DECLARE @RechazosInspectorBotellasVacias INT;
			DECLARE @RechazosClasificadores INT;
			DECLARE @RechazosProductoTerminado INT;
			DECLARE @Picos as INT;
			DECLARE @PicosPalets as INT;

			
			select  idclase, Clase
			into #temp_clase
			FROM Maquinas (NOLOCk)
			WHERE Clase  in ('PALETIZADORA','ENCAJONADORA','EMPAQUETADORA','ETIQUETADORA_PALETS')
			group by  idclase, Clase

			select @Linea = Linea
			from #Particiones_temp


			SELECT top 1 @ID_CLASE_PALETIZADORA = IdClase
			FROM #temp_clase (NOLOCk)
			WHERE Clase = 'PALETIZADORA'
			

			SELECT top 1 @ID_CLASE_ENCAJONADORA = IdClase
			FROM #temp_clase (NOLOCk)
			WHERE Clase = 'ENCAJONADORA'

			SELECT top 1 @ID_CLASE_EMPAQUETADORA = IdClase
			FROM #temp_clase (NOLOCk)
			WHERE Clase = 'EMPAQUETADORA'

			SELECT top 1  @ID_CLASE_ETIQUETADORA = IdClase
			FROM #temp_clase (NOLOCk)
			WHERE Clase = 'ETIQUETADORA_PALETS'

			---------------------------------------
			-- Cremos dos tablas temporales de COB_MSM_PROD_LLENADORA_HORA
			-- COB_MSM_PROD_RESTO_MAQ_HORA
			---------------------------------------
			SELECT *
			INTO #TEMP_LLE
			FROM  COB_MSM_PROD_LLENADORA_HORA
			WHERE ID_PARTICION = @woId
			and SHC_WORK_SCHED_DAY_PK > 0

			SELECT *
			INTO #TEMP_RES
			FROM  COB_MSM_PROD_RESTO_MAQ_HORA
			WHERE ID_PARTICION = @woId
			and SHC_WORK_SCHED_DAY_PK > 0



			SELECT @RechazoslLle = SUM(CONTADOR_RECHAZOS)
			FROM #TEMP_LLE
			WHERE ID_PARTICION = @woId and SHC_WORK_SCHED_DAY_PK > 0



			SELECT m.Clase, SUM(cob.CONTADOR_RECHAZOS)  AS CONTADOR_RECHAZOS
			into #rechazos
			FROM #TEMP_RES  cob
			INNER JOIN Maquinas m (NOLOCK) ON    m.Id = cob.ID_MAQUINA
			where   ID_PARTICION = @woId --AND m.Clase = 'CLASIFICADOR' and SHC_WORK_SCHED_DAY_PK > 0
			group by m.Clase
	
			SELECT @RechazosClasificadores = cob.CONTADOR_RECHAZOS
			FROM #rechazos  cob
			where  Clase = 'CLASIFICADOR' 


			SELECT @RechazosInspectorBotellasVacias = cob.CONTADOR_RECHAZOS
			FROM #rechazos  cob
			where  Clase = 'INSPECTOR_BOTELLAS_VACIAS' 


			SELECT @RechazosInspectorSalidaLlenadora = cob.CONTADOR_RECHAZOS
			FROM #rechazos  cob
			where  Clase = 'INSPECTOR_SALIDA_LLENADORA' 

			

			SELECT @RechazosProductoTerminado = SUM(cob.CONTADOR_RECHAZOS)
			FROM #rechazos  cob
			where  Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA')

			

		



				SELECT 
						ID_PARTICION as IdParticion
						,COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as EnvasesProducidos
						,COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) as TiempoPlanificadoLlenadora
						,MAX(FECHA_FIN) AS HoraFinEnvases
				into #temp_group
				FROM #TEMP_LLE  
				WHERE ID_PARTICION = @woId and SHC_WORK_SCHED_DAY_PK > 0
				GROUP BY ID_PARTICION

				SELECT ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as CajasProducidas
						,MAX(FECHA_FIN) AS HoraFinCajas
				INTO #eNNC
				FROM #TEMP_RES AS Consolidacion
				LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
				WHERE Consolidacion.ID_PARTICION = @woId AND ML.IdClase IN (@ID_CLASE_ENCAJONADORA, @ID_CLASE_EMPAQUETADORA) and SHC_WORK_SCHED_DAY_PK > 0
				GROUP BY ID_PARTICION


				SELECT ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsProducidos,
						COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) as TiempoPlanificadoPaletera
						,MAX(FECHA_FIN) AS HoraFinPalets,
						 ML.IdClase
				INTO #Group_clase
				FROM #TEMP_RES AS Consolidacion
				LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
				WHERE Consolidacion.ID_PARTICION = @woId 
				AND ML.IdClase = @ID_CLASE_PALETIZADORA 
				and SHC_WORK_SCHED_DAY_PK > 0
				GROUP BY ID_PARTICION,IdClase


				SELECT ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsETQProducidos
				INTO #TEMP_GROUP2
				FROM #TEMP_RES AS Consolidacion
				LEFT JOIN MaquinasLineas AS ML (NOLOCK) on ML.Id = Consolidacion.ID_MAQUINA
				WHERE Consolidacion.ID_PARTICION = @woId AND ML.IdClase = @ID_CLASE_ETIQUETADORA and SHC_WORK_SCHED_DAY_PK > 0
				GROUP BY ID_PARTICION


					
				
			SELECT @Picos = COALESCE(SUM(Cantidad),0), @PicosPalets = COUNT(IdParticion)
			FROM dbo.Picos
			WHERE IdParticion = @woId 

			DECLARE @IC as FLOAT;
			DECLARE @Rendimiento as FLOAT;
			DECLARE @OEE as FLOAT;
			SET @IC = dbo.MES_GetICParticion(@woId);
			SET @Rendimiento = dbo.MES_GetRendimientoParticion(@woId);
			SET @OEE = dbo.MES_GetOEEParticion(@woId);

			DECLARE @NOCONFORMIDAD AS INT;
			DECLARE @NOCONFORMIDADPALETS AS INT;
			SELECT @NOCONFORMIDAD = SUM(CANTIDAD_ENVASES), @NOCONFORMIDADPALETS = COUNT(ID_PARTICION)
			FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
			WHERE ID_PARTICION = @woId 

			SELECT  COALESCE(ConsolidacionEtiquetadoraPalets.PaletsETQProducidos,0) AS PaletsETQProducidos,
					Particion.FecFinReal AS FechaFin
					,COALESCE(ConsolidacionPalet.PaletsProducidos,0) AS PaletsProducidos			
					,COALESCE(EnvasesProducidos,0) AS EnvasesProducidos
					,COALESCE(@RechazosInspectorSalidaLlenadora,0) AS RechazosLlenadora
					--,COALESCE(@RechazoslLle + @RechazosInspectorSalidaLlenadora,0) AS RechazosLlenadora
					,COALESCE(@RechazosClasificadores,0) AS RechazosClasificadores
					,COALESCE(@RechazosProductoTerminado,0) AS RechazosProductoTerminado
					,COALESCE(@RechazosInspectorBotellasVacias,0) AS RechazosInspectorBotellasVacias
					,COALESCE(@OEE, 0)  as OEE
					--,COALESCE(TotalEnvases/NULLIF(TiempoPaletera,0) , 0) as VelocidadRealMedia
					,COALESCE(Particion.VelocidadNominal, 0) AS VelocidadNominal
					,COALESCE(ConsolidacionPalet.TiempoPlanificadoPaletera, 0) AS TiempoPlanificadoPaletera
					,COALESCE(ConsolidacionLle.TiempoPlanificadoLlenadora, 0) AS TiempoPlanificadoLlenadora
					,COALESCE(ConsolidacionEncajonadora.CajasProducidas, 0) CajasProducidas
					,COALESCE(@Picos,0) AS PicosCajas
					,Particion.CausaPausa
					,ConsolidacionLle.HoraFinEnvases
					,ConsolidacionPalet.HoraFinPalets
					,ConsolidacionEncajonadora.HoraFinCajas
					,COALESCE(@IC,0) as IC
					,COALESCE(@PicosPalets,0) as PicosPalets
					,COALESCE(@NOCONFORMIDAD,0) AS EnvNoConformidad
					,COALESCE(@Rendimiento * 100,0)  as Rendimiento
					,COALESCE(@NOCONFORMIDADPALETS,0) AS EnvNoConformidadPalets
			FROM #Particiones_temp AS Particion  (NOLOCK)
							LEFT JOIN #temp_group AS ConsolidacionLle 
							ON ConsolidacionLle.IdParticion = Particion.Id
							LEFT JOIN #Group_clase 	 AS ConsolidacionPalet 
							ON ConsolidacionPalet.IdParticion = Particion.Id
								--AND  ConsolidacionPalet.IdClase = @ID_CLASE_PALETIZADORA
								LEFT JOIN #eNNC AS ConsolidacionEncajonadora 
									ON ConsolidacionEncajonadora.IdParticion = Particion.Id									
										LEFT JOIN #TEMP_GROUP2  AS ConsolidacionEtiquetadoraPalets
											ON ConsolidacionEtiquetadoraPalets.IdParticion = Particion.Id
			WHERE Particion.Id = @woId

			DROP TABLE #TEMP_LLE
			DROP TABLE #TEMP_RES
			DROP TABLE #TEMP_GROUP2
			DROP TABLE #temp_group
			DROP TABLE #Group_clase
			DROP TABLE #eNNC
			DROP TABLE #temp_clase
			DROP table  #Particiones_temp
			DROP table  #rechazos
		END

	COMMIT TRANSACTION; 	
END
GO
