USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaPropiedadEquipo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizaPropiedadEquipo]
	-- Add the parameters for the stored procedure here
	@equipo varchar(200),
	@prop varchar(200),
	@idOrden varchar(200),
	@tipo varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @EQUIPPK INT = (SELECT [equip_pk] FROM [SITMesDb].[dbo].[BPM_EQUIPMENT] WHERE [equip_id]= @equipo)

	PRINT('EQUIPO: '+@equipo + ' ID: '+ CONVERT(VARCHAR(100),@EQUIPPK))
	PRINT('PROP: '  + @prop)
	PRINT('ID_ORDEN: ' +@idOrden)

	IF @TIPO = 'Inicio'
	BEGIN

	PRINT('INICIO')
		UPDATE [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY]
		SET [equip_prpty_value] = @idOrden
		WHERE [equip_prpty_id] = @prop AND [equip_pk] = @EQUIPPK
	END
	ELSE
	BEGIN
	PRINT('FIN')
		IF EXISTS (SELECT * FROM [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY] WHERE [equip_prpty_id] = @prop AND [equip_pk] = @EQUIPPK AND [equip_prpty_value] = @idOrden )
		BEGIN
		PRINT('EXISTE, ACTUALIZO')
		UPDATE [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY]
		SET [equip_prpty_value] = ''
		WHERE [equip_prpty_id] = @prop AND [equip_pk] = @EQUIPPK AND [equip_prpty_value] = @idOrden 

		END
	END

END
GO
