USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerLogBookIntervalo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[APP_ObtenerLogBookIntervalo]	
	@startDate as datetime,
	@endDate as datetime 
AS
BEGIN

	 SELECT top 30000 * FROM dbo.vLogBook 
	 WHERE (ApplicationId NOT LIKE '%__LOG_%') and ((CONVERT(DATE,dbo.ToLocalDateTime([TimeStamp]))) Between (CONVERT(DATE,@startDate)) and (CONVERT(DATE,@endDate)))
	 ORDER BY TimeStamp desc 
	 
	 SET NOCOUNT ON
END
GO
