USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarContadorEmpaquetadoras]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 28-09-2020
-- Description:	Se actualiza el contador de producción a cero para las empaquetadoras 
-- que no se tienen que tener en cuenta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizarContadorEmpaquetadoras]
	@fecha datetime
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @maquinas TABLE (IdFila bigint, Maquina nvarchar(100), IdOrden nvarchar(100))

	INSERT INTO @maquinas
	SELECT 
		ROW_NUMBER() OVER (ORDER BY C.Linea + '.' + C.Empaquetadora, O.Id) IdFila,
		C.Linea + '.' + C.Empaquetadora, 
		O.Id
	FROM ConfiguracionEmpaquetadoras C
	INNER JOIN Ordenes O ON C.Linea = O.Linea AND C.Producto = O.IdProducto
	WHERE C.Suma = 0 AND O.FecIniReal >= DATEADD(month, -1, @fecha)

	DECLARE @rowCount INT, @idFila BIGINT, @Maquina nvarchar(100), @IdOrden nvarchar(100)
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(IdFila) FROM @maquinas)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @idFila = (SELECT MAX(IdFila) FROM @maquinas)

	WHILE (@rowCount > 0)
	BEGIN
		SELECT 
			@Maquina = Maquina,
			@IdOrden = IdOrden
		FROM @maquinas
		WHERE IdFila = @idFila

		UPDATE COB_MSM_PROD_RESTO_MAQ_HORA
		SET CONTADOR_PRODUCCION = 0
		WHERE FECHA_FIN >= @fecha AND ID_MAQUINA = @Maquina AND ID_ORDEN = @IdOrden

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @idFila = IdFila FROM @maquinas WHERE IdFila < @idFila ORDER BY IdFila DESC
		
		SET @rowCount = @rowCount - 1
	END
END
GO
