USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetTableInJSON]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTableInJSON](@fields nvarchar(max),@tempCompleteName nvarchar(max))
--returns nvarchar(max)
as
begin
	Declare @Query nvarchar(max)	
	Declare @result nvarchar(max)
	Declare @table table(json nvarchar(max))

	set @Query = 'declare @json xml 					

					set @json = (SELECT ' + @fields + ' FROM '  + @tempCompleteName + ' FOR XML PATH, ROOT)
			
					SELECT Stuff(
								(SELECT * from
									(SELECT '',
									{''+
									Stuff((SELECT '',"''+coalesce(b.c.value(''local-name(.)'', ''NVARCHAR(MAX)''),'''')+''":"''+
									b.c.value(''text()[1]'',''NVARCHAR(MAX)'') +''"''
									from x.a.nodes(''*'') b(c)
									for xml path(''''),TYPE).value(''(./text())[1]'',''NVARCHAR(MAX)'')
									,1,1,'''')+''}''
									from @json.nodes(''/root/*'') x(a)
									) JSON(theLine)
								for xml path(''''),TYPE).value(''.'',''NVARCHAR(MAX)'' )
								,1,1,'''')'	

	INSERT INTO @table exec sp_executesql @Query;		
	Select json from @table  	
end
GO
