USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaCreaValorKOP_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizaCreaValorKOP_FAB] 
	@kop INT,
	@proc int,
	@ord int,
	@val varchar(100),
	@fec date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   IF EXISTS(
		SELECT ACTL_VAL FROM SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL ACTVAL
		INNER JOIN SITmesDB.DBO.[POMV_ETRY] PR ON PR.pom_entry_id = ACTVAL.pom_entry_id 
			AND PR.pom_order_pk = @ord AND PR.pom_entry_PK = @proc
		WHERE PARM_PK = @kop)
		BEGIN
			--EXISTE, SOLO HAY QUE ACTUALIZAR
			SELECT 1
		END
		ELSE
		BEGIN
			--NO EXISTE, HAY QUE CREARLO
			SELECT 1
		END
		END
GO
