USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerProduccionHorasPaletizadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerProduccionHorasPaletizadora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		DECLARE @turno int
		DECLARE @d DATETIME
		DECLARE @h DATETIME
		DECLARE @ID_CLASE_PALETIZADORA AS INT
		DECLARE @ID_CLASE_ETIQUETADORA_PALETS AS INT
		DECLARE @ID_CLASE_PALETIZADORA_ETIQUETADORA_PALETS AS INT

		SET @d = DATEADD(s, @desde, '19700101')
		SET @h = DATEADD(s, @hasta, '19700101')

		SELECT
			@turno = Id
		FROM Turnos
		WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
		ORDER BY InicioTurno


		SELECT DISTINCT
			@ID_CLASE_PALETIZADORA = IdClase
		FROM Maquinas
		WHERE Clase IN ('PALETIZADORA')

		
		SELECT DISTINCT
			@ID_CLASE_ETIQUETADORA_PALETS = IdClase
		FROM Maquinas
		WHERE Clase IN ('ETIQUETADORA_PALETS')

	

		
	

		SELECT
			m.Id
			,m.Descripcion AS NOMBRE
			,CASE WHEN m.IdClase = @ID_CLASE_PALETIZADORA THEN SUM(Produccion.CONTADOR_PRODUCCION) ELSE 0 END AS ENVASES_LLENADORA
			,CASE WHEN m.IdClase = @ID_CLASE_ETIQUETADORA_PALETS THEN SUM(Produccion.CONTADOR_PRODUCCION) ELSE 0 END AS ETIQUETADORA_PALETS
		FROM COB_MSM_PROD_RESTO_MAQ_HORA Produccion
		INNER JOIN Maquinas m
			ON Produccion.ID_MAQUINA = m.Id
			AND M.Linea = @LINEA
		WHERE m.IdClase IN (@ID_CLASE_PALETIZADORA, @ID_CLASE_ETIQUETADORA_PALETS)
		AND Produccion.SHC_WORK_SCHED_DAY_PK = @turno --AND ISNULL(Produccion.ID_ORDEN,'') != ''
		GROUP BY M.ID,M.Descripcion,m.IdClase

	COMMIT TRANSACTION

END
GO
