USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerZonasLineaFlagConsolidados]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_ObtenerZonasLineaFlagConsolidados]
	@lineaId nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	declare @numLinea integer
	select @numLinea = NumeroLinea
	from dbo.lineas l where l.id = @lineaid

	DECLARE @T TABLE
	(
		ID_ZONA varchar(50) NOT NULL
	)

	update COB_MSM_ZONAS set FLAG_CHECK_CONSOLIDADOS = 0 
	output inserted.ID_ZONA INTO @T
	where FLAG_CHECK_CONSOLIDADOS = 1 and FK_LINEAS_ID = @numLinea
	
	select  ID_ZONA
	from @T



end
GO
