USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerContingencias]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerContingencias]
	-- Add the parameters for the stored procedure here
    @fini bigint,
	@ffin bigint,
	@linea varchar(100)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT
		ROW_NUMBER() OVER (ORDER BY PTC.Fecha) AS ID
		,CONVERT(DATE, PTC.Fecha) AS Fecha
		,ISNULL(TT.Nombre, 'Desconocido') AS 'Turno'
		,ISNULL(SUM(ENVASES_LLENADORA), 0) AS envLlenadora
		,ISNULL(SUM(ENVASES_PALETIZADORA), 0) AS palPaletizadora
		,ISNULL(SUM(ENVASES_VACIOS_RECHAZADOS), 0) AS ENVASES_VACIOS_RECHAZADOS
		,ISNULL(SUM(ENVASES_LLENOS_RECHAZADOS), 0) AS ENVASES_LLENOS_RECHAZADOS
	FROM [dbo].[ProduccionTurnosConsolidada] PTC
	INNER JOIN [dbo].[Turnos] T
		ON PTC.TURNO = T.ID
	LEFT JOIN [dbo].TiposTurno TT
		ON TT.Id = T.IdTipoTurno
	WHERE PTC.Turno <> 0
	AND @fini <= DATEDIFF(s, '1970-1-1', PTC.Inicio)
	AND @ffin >= DATEDIFF(s, '1970-1-1', PTC.Inicio)
	AND PTC.Linea LIKE '%' + @linea + '%'
	GROUP BY	PTC.Fecha
				,T.IdTipoTurno
				,TT.Nombre
COMMIT TRANSACTION; 

END
GO
