USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarDeslizanteEnvasado]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 26-02-2020
-- Description:	Se obtienen los datos del deslizante de envasado
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarDeslizanteEnvasado]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ubicacion nvarchar(50);
	
	SELECT @ubicacion = UbicacionManugistics 
	FROM dbo.DeslizanteConversionUbicaciones 
	WHERE UbicacionMES = dbo.MES_ObtenerNombrePlanta()

	DELETE FROM dbo.DeslizanteEnvasado;
	-- Para resetear el Id
	DBCC CHECKIDENT ('DeslizanteEnvasado', RESEED, 0);

	INSERT INTO dbo.DeslizanteEnvasado(Linea, Formato, Item, Paleta, Descripcion, Anio, Semana, Cantidad)
	SELECT tren,
		ISNULL((
			SELECT TOP 1 f.Descripcion
			FROM dbo.DeslizanteProductos p
			INNER JOIN dbo.DeslizanteFormatos f ON f.IdFormato = p.IdFormato
			WHERE p.Paleta = e.codigo_paleta
		), '---') AS formato,
		item, codigo_paleta, descr, YEAR(scheddate), DATEPART(ISOWK, scheddate), qty
	FROM [JDA_Manugistics]..[SCPOMGR].[EXP_PROD_PLANIF_SEM_MES] e
	WHERE Loc = @ubicacion
	ORDER BY tren, item, YEAR(scheddate), DATEPART(ISOWK, scheddate)
    
END
GO
