USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_LINEA]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_LINEA]
	-- Add the parameters for the stored procedure here
   @Linea varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	SELECT 'Línea ' + NumeroLineaDescripcion + ' - ' + Descripcion as Linea
	FROM Lineas
	Where ID=@Linea
	COMMIT TRANSACTION
END
GO
