USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerSalasCoccion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		
-- Create date: 
-- Description:	Obtiene salas de cocción
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerSalasCoccion]
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @parentpk int = (select locpk from sitmesdb.dbo.mmlocations where locid = 'COCCION')

	select locpk, localias, locpath
	from mes_msm.dbo.mmlocations_fab
	where parentlocpk = @parentpk and locid like '%SC%'
END
GO
