USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerSemanasTurnosFabrica]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerSemanasTurnosFabrica]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@anyo as int,
	@semana as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	CREATE TABLE #SemanasAno(idLinea VARCHAR(200),NumeroLineaDescripcion VARCHAR(10),Descripcion VARCHAR(250), year INT, NumeroSemana INT, PrimerDiaSemana DATETIME, Inicio DATETIME, Fin DATETIME)

	INSERT INTO #SemanasAno (idLinea,NumeroLineaDescripcion,Descripcion, [year], NumeroSemana, PrimerDiaSemana, Inicio, Fin)
		(SELECT
			L.Id AS IdLinea
			,L.NumeroLineaDescripcion
			,L.Descripcion
			,@anyo AS [year]
			,S.SEMANA
			,S.INICIO AS PrimerDiaSemana
			,S.INICIO AS Inicio
			,S.FIN AS Fin

		FROM dbo.SEMANAS S
		 ,Lineas L
		WHERE S.AÑO = @anyo
		AND (L.Id = @idLinea OR @idLinea = '')
		GROUP BY	S.SEMANA
					,S.INICIO
					,S.FIN
					,L.Id
					,L.NumeroLineaDescripcion
					,L.Descripcion)

	SELECT
		IdLinea
		,NumeroLineaDescripcion
		,Descripcion
		,[year]
		,NumeroSemana
		,PrimerDiaSemana
		,Inicio
		,Fin
		,'<ColeccionTurnos><turnos>'
		-- period_id=''' + (SELECT
		--		ISNULL((SELECT TOP 1
		--				ISNULL(P.[Plantilla], '')
		--			FROM SITMesDB.dbo.SHC_WORK_SCHED_DAY AS turnos
		--			INNER JOIN SITMesDB.dbo.SHC_WORK_SCHED AS L
		--				ON turnos.shc_work_sched_pk = L.shc_work_sched_pk
		--			INNER JOIN [dbo].[PlantillasTurnosFabrica] P
		--				ON P.[WDTemplate] = turnos.shc_working_day_id
		--			WHERE sa.idLinea = L.id
		--			AND turnos.work_date BETWEEN sa.Inicio AND sa.Fin)
		--		, ''))
		--+ '''>' +
		+ (SELECT
				turno.shc_working_day_id
				,turno.shc_work_sched_day_pk
				,turno.work_date
				,turno.work_start
				,turno.work_end
				,turno.shc_working_time_id
				,turno.shc_day_type_id
				,(SELECT
						holiday_work
					FROM SITMesDB.dbo.SHC_HOLIDAY
					WHERE turno.work_date = holiday_date)
				AS holiday_work
				,
				--datediff(hour,turno.work_start,turno.work_end) as horas,
				CONVERT(DECIMAL(10, 1), DATEDIFF(MINUTE, turno.work_start, turno.work_end) / 60.0) AS horas
				,DATEPART(WEEKDAY, turno.work_date) AS diaSemana
				,DATEADD(MINUTE, -tipoTurno.work_start_bias, CAST(CAST(turno.work_start AS DATE) AS datetime) + ' '+ CAST(CAST(tipoTurno.work_start AS TIME) AS datetime)) as working_time_start
				,DATEADD(MINUTE, -tipoTurno.work_start_bias, CAST(CAST(turno.work_end AS DATE) AS datetime) + ' '+ CAST(CAST(tipoTurno.work_end AS TIME) AS datetime)) as working_time_end
				,workBreak.shc_work_sched_break_pk
				,workBreak.break_start
				,workBreak.break_end
			FROM SITMesDB.dbo.SHC_WORK_SCHED_DAY AS turno
			INNER JOIN SITMesDB.dbo.SHC_WORK_SCHED AS L
				ON turno.shc_work_sched_pk = L.shc_work_sched_pk
			LEFT JOIN SITMesDB.dbo.SHC_WORK_SCHED_BREAK AS workBreak ON workBreak.shc_work_sched_day_pk = turno.shc_work_sched_day_pk
			INNER JOIN SITMesDB.dbo.SHC_WORKING_TIME as tipoTurno on tipoTurno.id = turno.shc_working_time_id
			--INNER JOIN SEMANAS S
			--	ON S.[AÑO]= DATEPART(YEAR, turno.work_date) 
			--		AND S.[SEMANA]=DATEPART(iso_week, turno.work_date) --week
			--INNER JOIN #SemanasAno sa on sa.idLinea = L.id

			WHERE 
			(sa.idLinea = L.id or sa.idLinea = '')
			AND turno.work_date BETWEEN sa.Inicio AND sa.Fin
			--and S.[Semana] =[SemanasAño].[NumeroSemana]							
			--and S.[AÑO]=[SemanasAño].[year]
			----and turno.shc_working_time_id!=0
			ORDER BY turno.work_date, turno.shc_working_time_id
			FOR XML AUTO)
		+ '</turnos></ColeccionTurnos>' AS Turnos
		,'<Template>' + (SELECT
				turno.[Plantilla]
				,turno.[IdTipoTurno]
				,turno.[TipoTurno]
				,turno.[PropTurno]
				,turno.[WDTemplate]
				,turno.[HorasTurno]
				,turno.[diaSemana]
			FROM [dbo].[PlantillasTurnosFabrica] turno
			WHERE turno.Plantilla IN (SELECT TOP 1
					turno.[Plantilla]
				FROM SITMesDB.dbo.SHC_WORK_SCHED_DAY AS turnos
				INNER JOIN SITMesDB.dbo.SHC_WORK_SCHED AS L
					ON turnos.shc_work_sched_pk = L.shc_work_sched_pk
				INNER JOIN [dbo].[PlantillasTurnosFabrica] turno
					ON turno.[WDTemplate] = turnos.shc_working_day_id
				WHERE (sa.idLinea = L.id or sa.idLinea = '')
				AND turnos.work_date BETWEEN sa.Inicio AND sa.Fin
				ORDER BY turno.[diaSemana])
			FOR XML AUTO)
		+ '</Template>' AS Plantilla
	FROM #SemanasAno sa
	WHERE 
		sa.NumeroSemana = @semana OR @semana = 0
	ORDER BY NumeroSemana


	DROP TABLE #SemanasAno
COMMIT TRANSACTION;
END
GO
