USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerLogUsuarios]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==================================================
-- Author:		Leandro
-- Create date: 09/12/2015
-- Description:	Obtiene los materiales de una planta
-- ==================================================
CREATE PROCEDURE [dbo].[APP_ObtenerLogUsuarios]
	@startDate as datetime,
	@endDate as datetime 
AS
BEGIN
		SELECT
			[Id]
      ,[FechaHora]
      ,[Funcion]
      ,[Tipo]
      ,[Evento]
      ,[Usuario]
	FROM LOG
	WHERE 
		CONVERT(DATE,CASE WHEN [FechaHora] IS NOT NULL THEN dbo.ToLocalDateTime([FechaHora]) ELSE '' END) Between (CONVERT(DATE,@startDate)) and (CONVERT(DATE,@endDate))
	ORDER BY Id desc;

	SET NOCOUNT ON;

END
GO
