USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[InsertarNecesidadMosto]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarNecesidadMosto]
	-- Add the parameters for the stored procedure here
	@codigo as nvarchar(max),
	@desc as nvarchar(max),
	@cantidad as float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	INSERT INTO dbo.TempNecesidadMosto
	VALUES (@codigo, @desc, @cantidad)
END
GO
