USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerAccionesMejora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerAccionesMejora]
	@fechaInicio datetime,
	@fechaFin datetime,
	@tipo int
AS
BEGIN
	SET NOCOUNT ON;

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		IF @tipo = 0 --Sintesis de Paros
		BEGIN
			SELECT DISTINCT 
				A.ID_ACCION_MEJORA,		  
				A.DESCRIPCION_PROBLEMA,
				A.CAUSA,
				A.ACCION_PROPUESTA,
				A.OBSERVACIONES,
				A.USUARIO,
				convert(date, A.FECHA_ALTA) as FECHA_ALTA,
				convert(date, A.FECHA_FINALIZADA) as FECHA_FINALIZADA,
				A.TIPO,
				A.ID_LINEA,
				L.NumeroLinea,
				L.Descripcion as NombreLinea,
				A.ID_MAQUINA,
				M.Descripcion as NombreMaquina,
				A.ID_EQUIPO_CONSTRUCTIVO,
				E.Descripcion as NombreEquipoConstructivo,
				L.NumeroLineaDescripcion,
				PP.FechaTurno,
				PP.IdTipoTurno,
				PP.NombreTipoTurno
			FROM dbo.ACCION_MEJORA A
			LEFT JOIN dbo.ACCION_MEJORA_PAROS_MAYORES AP on A.ID_ACCION_MEJORA = AP.ID_ACCION_MEJORA
			LEFT JOIN dbo.ParosPerdidas PP on AP.ID_PARO_MAYOR = PP.Id
			LEFT JOIN dbo.Lineas L on A.ID_LINEA = L.Id collate Latin1_General_CI_AS
			LEFT JOIN dbo.MaquinasEnvasado M on A.ID_LINEA = M.LineaAsociada AND A.ID_MAQUINA = m.CodigoMaquina
			LEFT JOIN dbo.EquiposConstructivosEnvasado E on A.ID_EQUIPO_CONSTRUCTIVO = E.CodigoEquipo
			WHERE CONVERT(DATE, A.FECHA_ALTA) BETWEEN @fechaInicio AND @fechaFin AND A.TIPO = @tipo
		END
		ELSE IF @tipo = 1 --Sintesis de Cambios
		BEGIN
			SELECT DISTINCT 
				A.ID_ACCION_MEJORA,		  
				A.DESCRIPCION_PROBLEMA,
				A.CAUSA,
				A.ACCION_PROPUESTA,
				A.OBSERVACIONES,
				A.USUARIO,
				convert(date, A.FECHA_ALTA) as FECHA_ALTA,
				convert(date, A.FECHA_FINALIZADA) as FECHA_FINALIZADA,
				A.TIPO,
				A.ID_LINEA,
				L.NumeroLinea,
				L.Descripcion as NombreLinea,
				A.ID_MAQUINA,
				M.Descripcion as NombreMaquina,
				A.ID_EQUIPO_CONSTRUCTIVO,
				E.Descripcion as NombreEquipoConstructivo,
				L.NumeroLineaDescripcion,
				O.FechaTurno,
				O.TipoTurnoId as IdTipoTurno,
				(SELECT Nombre FROM dbo.TiposTurno T WHERE T.Id = O.TipoTurnoId) as NombreTipoTurno
			FROM dbo.ACCION_MEJORA A
			LEFT JOIN dbo.ACCION_MEJORA_CAMBIOS AC on A.ID_ACCION_MEJORA = AC.FK_ACCION_MEJORA_ID
			LEFT JOIN dbo.OrdenesCambio O on AC.ID_CAMBIO = O.Id
			LEFT JOIN dbo.Lineas L on A.ID_LINEA = L.Id collate Latin1_General_CI_AS
			LEFT JOIN dbo.MaquinasEnvasado M on A.ID_LINEA = M.LineaAsociada AND A.ID_MAQUINA = m.CodigoMaquina
			LEFT JOIN dbo.EquiposConstructivosEnvasado E on A.ID_EQUIPO_CONSTRUCTIVO = E.CodigoEquipo
			WHERE CONVERT(DATE, A.FECHA_ALTA) BETWEEN @fechaInicio AND @fechaFin AND A.TIPO = @tipo
		END
		ELSE --Sintesis de Arranque
		BEGIN
			SELECT DISTINCT 
				A.ID_ACCION_MEJORA,		  
				A.DESCRIPCION_PROBLEMA,
				A.CAUSA,
				A.ACCION_PROPUESTA,
				A.OBSERVACIONES,
				A.USUARIO,
				convert(date, A.FECHA_ALTA) as FECHA_ALTA,
				convert(date, A.FECHA_FINALIZADA) as FECHA_FINALIZADA,
				A.TIPO,
				A.ID_LINEA,
				L.NumeroLinea,
				L.Descripcion as NombreLinea,
				A.ID_MAQUINA,
				M.Descripcion as NombreMaquina,
				A.ID_EQUIPO_CONSTRUCTIVO,
				E.Descripcion as NombreEquipoConstructivo,
				L.NumeroLineaDescripcion,
				O.FechaTurno,
				O.TipoTurnoId as IdTipoTurno,
				(SELECT Nombre FROM dbo.TiposTurno T WHERE T.Id = O.TipoTurnoId) as NombreTipoTurno
			FROM dbo.ACCION_MEJORA A
			LEFT JOIN dbo.ACCION_MEJORA_ARRANQUES AA on A.ID_ACCION_MEJORA = AA.FK_ACCION_MEJORA_ID
			LEFT JOIN dbo.OrdenesArranque O on AA.ID_ARRANQUE = O.Id
			LEFT JOIN dbo.Lineas L on A.ID_LINEA = L.Id collate Latin1_General_CI_AS
			LEFT JOIN dbo.MaquinasEnvasado M on A.ID_LINEA = M.LineaAsociada AND A.ID_MAQUINA = m.CodigoMaquina
			LEFT JOIN dbo.EquiposConstructivosEnvasado E on A.ID_EQUIPO_CONSTRUCTIVO = E.CodigoEquipo
			WHERE CONVERT(DATE, A.FECHA_ALTA) BETWEEN @fechaInicio AND @fechaFin AND A.TIPO = @tipo
		END
	COMMIT TRANSACTION; 
END
GO
