USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEquiposLotes_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEquiposLotes_FAB]
	-- Add the parameters for the stored procedure here
	@salaCoccion varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


Select LocPath as ID, ISNULL(E.[Descripcion],'') as Equipo
, CASE WHEN LocPK NOT IN (SELECT DISTINCT LocPK FROM [SITMesDB].[dbo].[MMvLots]) THEN 0 ELSE 1 END AS ConLote
from [SITMesDB].[dbo].[MMvLocations] L
INNER JOIN [dbo].[Equipo_FAB] E ON E.ID = L.LocPath
WHERE --LocPK NOT IN (SELECT DISTINCT LocPK FROM [SITMesDB].[dbo].[MMvLots])
--AND 
ParentLocPK = (SELECT TOP 1 LocPK FROM [SITMesDB].[dbo].[MMvLocations] WHERE LOCID = @salaCoccion)

END
GO
