USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_3_ObtenerParosMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_3_ObtenerParosMaquina]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint,
	 @Maquina nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
SELECT [dbo].[ToLocalDateTime](Inicio) as InicioLocal,
	 M.Descripcion AS EquipoNombre,
	   [FinLocal],
	   [MotivoNombre], 
	   [CausaNombre], 
	   [EquipoConstructivoNombre] as [EquipoConstructivoId], 
	   --EC.ID_EQUIPO_CONSTRUCTIVO AS CodEC,
	   isnull(P.DuracionParoMayor,0) + isnull(P.DuracionParosMenores,0)+ isnull(P.DuracionBajaVelocidad,0) as Duracion,
	   Observaciones,
	   TipoParoPerdida,
	   P.Descripcion
	   From [dbo].[ParosPerdidas] P
	   INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	   --LEFT JOIN EQUIPO_CONSTRUCTIVO EC ON P.EquipoConstructivoId = EC.IdObj
	   LEFT JOIN Maquinas M ON M.Id  = P.EquipoId
	   
	 Where L.Nombre = @Linea 
	 and @FechaInicio <= datediff(s, '1970-1-1' ,Inicio) 
	 and @FechaFin > datediff(s, '1970-1-1' ,Inicio)
	 and MaquinaCausaNombre = @Maquina

END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerParosMaquina]    Script Date: 01/06/2016 12:13:42 ******/
SET ANSI_NULLS ON
GO
