USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarDesviacionVolumenAdherencia]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 25-10-2019
-- Description:	Se obtienen las desviaciones en volumen de Adherencia
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarDesviacionVolumenAdherencia] 
	@tipoComparacion NVARCHAR(50),
	@semana INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @fecha date
	DECLARE @anio INT
	SET @fecha = DATEADD(day, -7, GETDATE())
	
	IF @semana >= 52 AND MONTH(@fecha) = 1
	BEGIN
		SET @anio = YEAR(@fecha) - 1;
	END
	ELSE IF @semana = 1 AND MONTH(@fecha) = 12
	BEGIN
		SET @anio = YEAR(@fecha) + 1;
	END
	ELSE
	BEGIN
		SET @anio = YEAR(@fecha)
	END

	DECLARE @Data TABLE (Id int, TipoImagen nvarchar(50), Anio int, Semana int, Linea nvarchar(100), WO nvarchar(50), FecIniEstimada datetime,
				     FecFinEstimada datetime, FecIniReal datetime, FecFinReal datetime, FecModif datetime, Formato nvarchar(100),
				     IdPaleta nvarchar(50), IdItem nvarchar(50), DescripProducto nvarchar(255), CantidadPlanificada float, 
				     CantidadProducida float, Unidad nvarchar(10), ConversionCPB int, ConversionHL float, Procesado bit)

	IF @tipoComparacion = 'PLAN'
	BEGIN
	
		INSERT INTO @Data
		SELECT * 
		FROM AdherenciaImagenesPlanificacion 
		WHERE (TipoImagen = 'PLAN_INI' OR TipoImagen = 'PLAN_FIN') AND Anio = @anio AND Semana = @semana AND Procesado = 0

		INSERT INTO dbo.AdherenciaDesviacionVolumen(TipoComparacion, Anio, Semana, FecModif, Formato, IdPaleta, ItemMD, Descripcion, CPBPlanificados, 
			CPBReales, HLPlanificados, HLReales, Desviacion, DesviacionObjetivoPlanPlan, DesviacionObjetivoPlanReal, IdMotivo)
		SELECT 
			@tipoComparacion,
			ISNULL(PlanIni.Anio, PlanFin.Anio),
			ISNULL(PlanIni.Semana, PlanFin.Semana),
			GETDATE(),
			ISNULL(PlanIni.Formato, PlanFin.Formato),
			ISNULL(PlanIni.IdPaleta, PlanFin.IdPaleta),
			ISNULL(PlanIni.IdItem, PlanFin.IdItem),
			ISNULL(PlanIni.DescripProducto, PlanFin.DescripProducto),
			ISNULL(PlanIni.CPBPlanificados, 0),
			ISNULL(PlanFin.CPBReales, 0),
			ISNULL(PlanIni.HLPlanificados, 0),
			ISNULL(PlanFin.HLReales, 0),
			CASE WHEN PlanIni.CPBPlanificados = 0 THEN 100
				WHEN (((ISNULL(PlanFin.CPBReales, 0) - ISNULL(PlanIni.CPBPlanificados, 0)) / ISNULL(PlanIni.CPBPlanificados, 1)) * 100) > 100 THEN 100 
				ELSE ((ISNULL(PlanFin.CPBReales, 0) - ISNULL(PlanIni.CPBPlanificados, 0)) / ISNULL(PlanIni.CPBPlanificados, 1)) * 100 END,
			(SELECT Valor FROM dbo.AdherenciaParametros WHERE Id = 1),
			(SELECT Valor FROM dbo.AdherenciaParametros WHERE Id = 2),
			'ZZ'
		FROM
		(SELECT
			Anio,
			Semana,
			Formato,
			IdPaleta,
			IdItem,
			DescripProducto,
			(SUM(CantidadPlanificada) * ConversionCPB) AS CPBPlanificados, 
			(SUM(CantidadPlanificada) * ConversionHL) AS HLPlanificados
		FROM @Data
		WHERE TipoImagen = 'PLAN_INI' --AND Semana >= @semanaIni AND Semana <= @semanaFin AND Procesado = 0
		GROUP BY Anio, Semana, IdPaleta, IdItem, Formato, DescripProducto, ConversionCPB, ConversionHL) AS PlanIni
		FULL OUTER JOIN 
		(SELECT
			Anio,
			Semana,
			Formato,
			IdPaleta,
			IdItem,
			DescripProducto,
			(SUM(CantidadPlanificada) * ConversionCPB) AS CPBReales,
			(SUM(CantidadPlanificada) * ConversionHL) AS HLReales
		FROM @Data 
		WHERE tipoImagen = 'PLAN_FIN' --AND Semana >= @semanaIni AND Semana <= @semanaFin AND Procesado = 0
		GROUP BY Anio, Semana, IdPaleta, IdItem, Formato, DescripProducto, ConversionCPB, ConversionHL) AS PlanFin
		ON PlanIni.Semana = PlanFin.Semana AND PlanIni.IdPaleta = PlanFin.IdPaleta

		UPDATE AdherenciaImagenesPlanificacion
		SET Procesado = 1
		WHERE Id IN (SELECT Id FROM @Data)
	END
	ELSE
	BEGIN
	
		INSERT INTO @Data
		SELECT * 
		FROM AdherenciaImagenesPlanificacion 
		WHERE (TipoImagen = 'PLAN_FIN' OR TipoImagen = 'REAL') AND Anio = @anio AND Semana = @semana AND (Procesado = 0 OR Procesado = 1)

		INSERT INTO dbo.AdherenciaDesviacionVolumen(TipoComparacion, Anio, Semana, Linea, FecModif, Formato, IdPaleta, ItemMD, Descripcion, CPBPlanificados, 
			CPBReales, HLPlanificados, HLReales, Desviacion, DesviacionObjetivoPlanPlan, DesviacionObjetivoPlanReal, IdMotivo)
		SELECT 
			@tipoComparacion,
			ISNULL(PlanFin.Anio, Real.Anio),
			ISNULL(PlanFin.Semana, Real.Semana),
			ISNULL(PlanFin.Linea, Real.Linea),
			GETDATE(),
			ISNULL(PlanFin.Formato, Real.Formato),
			ISNULL(PlanFin.IdPaleta, Real.IdPaleta),
			ISNULL(PlanFin.IdItem, Real.IdItem),
			ISNULL(PlanFin.DescripProducto, Real.DescripProducto),
			ISNULL(PlanFin.CPBPlanificados, 0),
			ISNULL(Real.CPBReales, 0),
			ISNULL(PlanFin.HLPlanificados, 0),
			ISNULL(Real.HLReales, 0),
			CASE WHEN PlanFin.CPBPlanificados = 0 THEN 100
				WHEN (((ISNULL(Real.CPBReales, 0) - ISNULL(PlanFin.CPBPlanificados, 0)) / ISNULL(PlanFin.CPBPlanificados, 1)) * 100) > 100 THEN 100
				ELSE ((ISNULL(Real.CPBReales, 0) - ISNULL(PlanFin.CPBPlanificados, 0)) / ISNULL(PlanFin.CPBPlanificados, 1)) * 100 END,
			(SELECT Valor FROM dbo.AdherenciaParametros WHERE Id = 1),
			(SELECT Valor FROM dbo.AdherenciaParametros WHERE Id = 2),
			'ZZ'
		FROM
		(SELECT
			Anio,
			Semana,
			Linea,
			Formato,
			IdPaleta,
			IdItem,
			DescripProducto,
			(SUM(CantidadPlanificada) * ConversionCPB) AS CPBPlanificados, 
			(SUM(CantidadPlanificada) * ConversionHL) AS HLPlanificados
		FROM @Data
		WHERE TipoImagen = 'PLAN_FIN' --AND Semana >= @semanaIni AND Semana <= @semanaFin AND Procesado = 0
		GROUP BY Anio, Semana, Linea, IdPaleta, IdItem, Formato, DescripProducto, ConversionCPB, ConversionHL) AS PlanFin
		FULL OUTER JOIN 
		(SELECT
			Anio,
			Semana,
			Linea,
			Formato,
			IdPaleta,
			IdItem, 
			DescripProducto,
			--(SUM(CantidadPlanificada) * ConversionCPB) AS CPBPlanificados, 
			--(SUM(CantidadPlanificada) * ConversionHL) AS HLPlanificados,
			(SUM(CantidadProducida) * ConversionCPB) AS CPBReales,
			(SUM(CantidadProducida) * ConversionHL) AS HLReales
		FROM @Data 
		WHERE tipoImagen = 'REAL' --AND Semana >= @semanaIni AND Semana <= @semanaFin AND Procesado = 0
		GROUP BY Anio, Semana, Linea, IdPaleta, IdItem, Formato, DescripProducto, ConversionCPB, ConversionHL) AS Real
		ON PlanFin.Semana = Real.Semana AND PlanFin.Linea = Real.Linea AND PlanFin.IdPaleta = Real.IdPaleta

		UPDATE AdherenciaImagenesPlanificacion
		SET Procesado = 2
		WHERE Id IN (SELECT Id FROM @Data)
	END
END
GO
