USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerQuery]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerQuery]
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		SELECT [ID_QUERY]      ,[NOMBRE]      ,[TEXTO]  FROM [dbo].[QUERIES]
		where [ID_QUERY]=@id
	COMMIT TRANSACTION; 
END
GO
