USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiemposCambioOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTiemposCambioOrden]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@idProductoEntrante as varchar(200)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		--ObjName: "COB_MSM_TIEMPOS_CAMBIOS",
        --Filter: "ID_PRODUCTO_ENTRANTE = [THE-ROOT.STR_ID_PRODUCTO_ENTRANTE-0]  AND ID_PRODUCTO_SALIENTE = [THE-ROOT.STR_ID_PRODUCTO_SALIENTE-0] AND FK_LINEAS_ID = [THE-ROOT.INT_FK_LINEAS_ID-0] "
	declare @idProductoSaliente as varchar(200)
	declare @descProductoSaliente as varchar(1000)
	declare @idOrdenSaliente as varchar (200)
	declare @fechaDesasignacionLlenadora as sql_variant
	declare @fechaDesasignacionPaletizadora as sql_variant
	----
	select top 1
		@idOrdenSaliente = z.ORDER_ID_ANTERIOR,
		@idProductoSaliente = prod.idProducto, 
		@descProductoSaliente  = prod.Descripcion,
		@fechaDesasignacionLlenadora = prp1.VAL,
		@fechaDesasignacionPaletizadora = prp2.VAL
	from COB_MSM_ZONAS z 
		inner join dbo.Lineas l on l.NumeroLinea = z.FK_LINEAS_ID
		inner join dbo.Ordenes_ENV ord on ord.ID_Orden = z.ORDER_ID_ANTERIOR
		inner join dbo.productos prod on prod.IdProducto = ord.Cod_Material
		left outer join SITMESDB.dbo.POMV_ORDR_PRP prp1 on prp1.pom_order_pk = ord.Cod_Orden  and prp1.pom_custom_fld_name = 'CAMBIO_ARRANQ_FECHA_LLENADORA_DESASIG'
		left outer join SITMESDB.dbo.POMV_ORDR_PRP prp2 on prp2.pom_order_pk = ord.Cod_Orden  and prp2.pom_custom_fld_name = 'CAMBIO_ARRANQ_FECHA_PALETIZADORA_DESASIG'
	where PERMITE_PRODUCCION = 1
		and L.Id = @idLinea
		
		

	SELECT 	
		@idOrdenSaliente as ordenSal,	
		@idProductoSaliente as idProductoSal,
		@descProductoSaliente as productoSal,
		@fechaDesasignacionLlenadora as fechaDesasignacionLlenadora,
		@fechaDesasignacionPaletizadora as fechaDesasignacionPaletizadora,
		Tobj1,
		Tobj2,
		Tm,
		ISNULL([TIEMPO_CALCULADO_2],0) AS [TIEMPO_CALCULADO_2],
		ISNULL([TIEMPO_PREACTOR],0) AS [TIEMPO_PREACTOR]
	FROM TiemposCambio
	where TiemposCambio.LINEA = @idLinea and TiemposCambio.IdProductoEntrante = @idProductoEntrante and TiemposCambio.idProductoSaliente = @idProductoSaliente
	
	
	
	COMMIT TRANSACTION;
END
GO
