USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesPreparacionActivas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		Alexis Anselmi
-- Create date: 30/07/2018
-- Description:	Obtiene las ordenes planificadas de una linea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesPreparacionActivas]
	--@orden as nvarchar(50)
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT DISTINCT
		TipoOrden.NOMBRE AS Tipo,
		OrdenPreparacion.DESCRIPCION AS Descripcion,
		EstadoOrden.ID_ESTADO AS IdEstado,
		EstadoOrden.NOMBRE_ESTADO AS NombreEstado,
		OrdenPreparacion.ID_ORDEN AS IdOrden,
		OrdenPreparacion.VOLUMEN_INICIAL AS VolumenInicial,
		OrdenPreparacion.VOLUMEN_REAL AS VolumenReal,
		Ubicacion.IdUbicacion AS IdUbicacion,
		Ubicacion.Nombre AS Ubicacion,
		OrdenPreparacion.FECHA_CREACION AS FechaCreacion,
		OrdenPreparacion.FECHA_INICIO AS FechaInicio,
		OrdenPreparacion.FECHA_FIN AS FechaFin,
		STUFF((SELECT ';' + CONVERT(varchar(250),Transicion.ID_ESTADO_SIGUIENTE)+'-'+ Estado.NOMBRE_ESTADO
				FROM COB_MSM_TRANSICION_ORDEN_PREP AS Transicion 
				INNER JOIN COB_MSM_ESTADO_ORDEN_PREP AS Estado ON Transicion.ID_ESTADO_SIGUIENTE = Estado.ID_ESTADO
				WHERE OrdenPreparacion.ID_ESTADO = Transicion.ID_ESTADO_ACTUAL  
				FOR XML PATH('')), 1, 1, '') EstadoSiguiente,
		OrdenPreparacion.UNIDADES AS UnidadMedida
	FROM 
		[dbo].[COB_MSM_ORDEN_PREPARACION] AS OrdenPreparacion
		LEFT JOIN [dbo].[COB_MSM_MATERIA_PRIMA_ORDEN_PREP] AS MateriaPrima ON MateriaPrima.ID_ORDEN = OrdenPreparacion.ID_ORDEN
		LEFT JOIN [dbo].[COB_MSM_TIPO_ORDEN_PREP] AS TipoOrden ON OrdenPreparacion.TIPO_ORDEN = TipoOrden.ID_TIPO_ORDEN
		LEFT JOIN [dbo].[COB_MSM_ESTADO_ORDEN_PREP] AS EstadoOrden ON EstadoOrden.ID_ESTADO = OrdenPreparacion.ID_ESTADO
		LEFT JOIN MES_MSM_Trazabilidad.[UBI].[tUbicacion]AS Ubicacion ON Ubicacion.IdUbicacion = OrdenPreparacion.ID_UBICACION
	WHERE 
		EstadoOrden.ID_ESTADO IN (1,2,3) -- CREADA, INICIADA Y CANCELADA
COMMIT TRANSACTION; 
END
GO
