USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionTurnoOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Sergio V.
-- Create date: 22/09/2017
-- Description:	IMPORTANTE! Se podría mejorar si directamente hacemos en la tabla #consolidados el where con el @turnoID y @fechaTurno, no se hace de esta forma
--			para homogenizar con el nivel agregado superior y en un futuro poner los consolidados en una vista.
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionTurnoOrden]
	@numLinea int,
	@fechaTurno DATE,
	@tipoTurno int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	--obtenemos horas de inicios turnos
	declare @iniM as integer
	declare @iniT as integer
	declare @iniN as integer

	select @iniM =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 1;
	select @iniT =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 2;
	select @iniN =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 3;
	

	SELECT *
	into #Consolidados		
	FROM (
		SELECT dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) as DIA_TURNO, dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) AS TIPO_TURNO, ML.NumLinea, PLL.ID_MAQUINA, 
		'PROD_' + CLASE AS PROD_CLASE, 		
		'RECH_' + CLASE AS RECH_CLASE, PLL.FECHA_INICIO, PLL.FECHA_FIN, PLL.HORA, PLL.ID_ORDEN, PLL.ID_PARTICION, PLL.SHC_WORK_SCHED_DAY_PK, PLL.CONTADOR_PRODUCCION, PLL.CONTADOR_RECHAZOS, TIEMPO_PLANIFICADO, VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA PLL LEFT JOIN MaquinasLineasPlanConti AS ML
					ON ML.Id = PLL.ID_MAQUINA
		WHERE 
		NumLinea = @numLinea AND SHC_WORK_SCHED_DAY_PK > 0
		AND dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) = @fechaTurno
		AND dbo.getTurnoByHourV2(FECHA_INICIO, @iniM, @iniT,@iniN) = @tipoTurno
		---
		union
		--- TIEMPO PLANIFICADO Y VEL. NOMINAL LOS PONEMOS A 0 PARA QUE CALCULEN ENVASES TEORICOS
		SELECT dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) as DIA_TURNO, dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) AS TIPO_TURNO, ML.NumLinea, ID_MAQUINA, 
		'PROD_' + CLASE AS PROD_CLASE, 		
		'RECH_' + CLASE AS RECH_CLASE, FECHA_INICIO, FECHA_FIN, HORA, ID_ORDEN, ID_PARTICION, SHC_WORK_SCHED_DAY_PK, CONTADOR_PRODUCCION, CONTADOR_RECHAZOS,   0 AS TIEMPO_PLANIFICADO, 0 AS VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA RM LEFT JOIN MaquinasLineasPlanConti AS ML
					ON ML.Id = RM.ID_MAQUINA
		WHERE 
		NumLinea = @numLinea AND SHC_WORK_SCHED_DAY_PK > 0
		AND dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) = @fechaTurno
		AND dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) = @tipoTurno
		
	) AS MAQUINAS
	--Obtenemos todos los registros de todas las maquinas y pivotamos para tener los contadores en columnas
	PIVOT(
	 SUM(CONTADOR_PRODUCCION)
	 FOR PROD_CLASE IN ([PROD_DESPALETIZADORA], [PROD_LLENADORA], [PROD_EMPAQUETADORA],
	  -- Miguel Angel Suero - 28/12/2017 inclusion de la encajonadora como empaquetadora
	 [PROD_ENCAJONADORA],
	 -- Fin Cambiio	 
	 [PROD_PALETIZADORA],[PROD_ETIQUETADORA_PALETS]) ) AS TABLAPIVOTE --CONSEGUIMOS CONTADORES PRODUCIDOS COMO COLUMNA MAQUINA/CONTADOR
	PIVOT(
	 SUM(CONTADOR_RECHAZOS)
	 FOR RECH_CLASE IN ([RECH_CLASIFICADOR], [RECH_INSPECTOR_BOTELLAS_VACIAS], [RECH_LLENADORA], [RECH_INSPECTOR_SALIDA_LLENADORA], [RECH_INSPECTOR_BOTELLAS_LLENAS], [RECH_BASCULA]) ) AS TABLAPIVOTE2 --CONSEGUIMOS CONTADORES PRODUCIDOS COMO COLUMNA MAQUINA/RECHAZOS
	
	order by DIA_TURNO desc

	------ QUERY PARA AGREGADOS NIVEL 2 TURNO / ORDEN----
	select DIA_TURNO, TIPO_TURNO, ID_ORDEN, MIN(ORD.IdProducto) AS ID_PRODUCTO, MAX(PROD.Descripcion) AS DESCRIP_PROD, 
	--INICIO , FIN, NÚM CAMBIOS ORDEN, 
		MIN(FECHA_INICIO) AS FECHA_INICIO, MAX(FECHA_FIN) AS FECHA_FIN,
	--SHC
		MAX(SHC_WORK_SCHED_DAY_PK) SHC_MAX, MIN(SHC_WORK_SCHED_DAY_PK) SHC_MIN,
	--CONTADORES PROD
		SUM([PROD_DESPALETIZADORA]) [PROD_DESPALETIZADORA], SUM([PROD_LLENADORA]) [PROD_LLENADORA],
		 -- Miguel Angel Suero - 28/12/2017 inclusion de la encajonadora como empaquetadora
		SUM([PROD_ENCAJONADORA]) [PROD_ENCAJONADORA],		
		-- Fin camnbio
		 SUM([PROD_EMPAQUETADORA]) [PROD_EMPAQUETADORA],SUM([PROD_PALETIZADORA]) [PROD_PALETIZADORA],SUM([PROD_ETIQUETADORA_PALETS]) [PROD_ETIQUETADORA_PALETS],
	--RECHAZOS
		SUM([RECH_CLASIFICADOR]) [RECH_CLASIFICADOR], SUM([RECH_INSPECTOR_BOTELLAS_VACIAS]) [RECH_INSPECTOR_BOTELLAS_VACIAS], SUM([RECH_LLENADORA]) [RECH_LLENADORA], SUM([RECH_INSPECTOR_SALIDA_LLENADORA]) [RECH_INSPECTOR_SALIDA_LLENADORA], SUM([RECH_INSPECTOR_BOTELLAS_LLENAS]) [RECH_INSPECTOR_BOTELLAS_LLENAS], SUM([RECH_BASCULA]) [RECH_BASCULA],
	
	--ENVASES TEORICOS
		SUM(VELOCIDAD_NOMINAL) AS ENVASES_TEORICOS	

		
	from #Consolidados LEFT JOIN dbo.ordenes AS ORD ON ID_ORDEN = ORD.Id LEFT JOIN dbo.productos as PROD on ord.IdProducto = PROD.IdProducto 
	group by DIA_TURNO, TIPO_TURNO, ID_ORDEN
	having SUM(isnull([PROD_DESPALETIZADORA],0) +isnull([PROD_LLENADORA],0) + isnull([PROD_EMPAQUETADORA],0) + isnull([PROD_PALETIZADORA],0) + isnull([PROD_ETIQUETADORA_PALETS],0)  
	-- Miguel Angel Suero - 28/12/2017 inclusion de la encajonadora como empaquetadora
	+ isnull([PROD_ENCAJONADORA],0) + 
	-- Fin cambio
	+isnull([RECH_CLASIFICADOR],0)+isnull([RECH_INSPECTOR_BOTELLAS_VACIAS],0) + isnull([RECH_LLENADORA],0) + isnull([RECH_INSPECTOR_SALIDA_LLENADORA],0) + isnull([RECH_INSPECTOR_BOTELLAS_LLENAS],0) + isnull([RECH_BASCULA],0) + isnull(VELOCIDAD_NOMINAL,0) ) > 0

	DROP TABLE #Consolidados
	COMMIT TRANSACTION;
END
GO
