USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarDatos_Orden_Procesada_FAB]    Script Date: 01/03/2021 12:21:58 ******/
DROP PROCEDURE [dbo].[MES_ActualizarDatos_Orden_Procesada_FAB]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarDatos_Orden_Procesada_FAB]    Script Date: 01/03/2021 12:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ActualizarDatos_Orden_Procesada_FAB]
	@IdOrden as NVARCHAR(100),
	@TipoOrden AS NVARCHAR(10) = NULL
AS
BEGIN


--1. Preguntamos si el parámetro IdOrden tiene valor
IF(@IdOrden IS NOT NULL)
BEGIN
	--2. Preguntamos si el id de la orden no se encuentra en nuestra tabla de Orden_Procesada_FAB y lo insertamos
	IF NOT EXISTS(SELECT Id FROM Orden_Procesada_FAB WHERE Id = @IdOrden )
	BEGIN
		INSERT INTO Orden_Procesada_FAB (Pk,
												Id,
												Descripcion,
												IdEstado,
												Estado,
												CodMaterial,
												FechaInicioEstimadoLocal,
												FechaInicioEstimadoUTC,
												FechaFinEstimadoLocal,
												FechaFinEstimadoUTC,
												FechaInicioRealLocal,
												FechaInicioRealUTC,
												FechaFinRealLocal,
												FechaFinRealUTC,
												CantidadMaterial,
												CantidadProducida,
												UoMMaterial,
												Tipo
												)
		SELECT 
		Orden.Cod_Orden					AS Pk,
		Orden.ID_Orden					AS Id,
		COALESCE(Orden.Des_Orden,'')	AS Descripcion,
		Orden.IdEstado					AS IdEstado,
		Orden.Estado					AS Estado,
		Orden.Cod_Material				AS CodMaterial,
		Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
		Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
		Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
		Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
		Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
		Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
		Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
		Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
		Orden.Cantidad_Material			AS CantidadMaterial,
		Orden.CantidadProducida			AS CantidadProducida,
		Orden.UOM_Material				AS UoMMaterial,
		Orden.TipoOrden					AS TipoOrden
		FROM 
		Ordenes_FAB Orden
		WHERE 
			Orden.ID_Orden = @IdOrden
	END
	--4. Actualizamos los valores de todas las ordenes o de la orden que se parametrizó
	UPDATE Orden_Procesada_FAB
	SET
		Pk			= DatosOrdenes.PK,
		Descripcion = DatosOrdenes.Descripcion,
		IdEstado	= DatosOrdenes.IdEstado,
		Estado		= DatosOrdenes.Estado,
		CodMaterial = DatosOrdenes.CodMaterial,
		DesMaterial = DatosOrdenes.DesMaterial,
		FechaInicioEstimadoLocal = DatosOrdenes.FechaInicioEstimadoLocal,
		FechaInicioEstimadoUTC = DatosOrdenes.FechaInicioEstimadoUTC,
		FechaFinEstimadoLocal = DatosOrdenes.FechaFinEstimadoLocal,
		FechaFinEstimadoUTC = DatosOrdenes.FechaFinEstimadoUTC,
		FechaInicioRealLocal = DatosOrdenes.FechaInicioRealLocal,
		FechaInicioRealUTC = DatosOrdenes.FechaInicioRealUTC,
		FechaFinRealLocal = DatosOrdenes.FechaFinRealLocal,
		FechaFinRealUTC = DatosOrdenes.FechaFinRealUTC,
		CantidadMaterial = DatosOrdenes.CantidadMaterial,
		UoMMaterial = DatosOrdenes.UoMMaterial,
		Tipo = DatosOrdenes.TipoOrden,
		Equipo = DatosOrdenes.Equipo,
		KopsMultivalorSinRellenar = DatosOrdenes.KopsMultivalorSinRellenar,
		KopsMultivalorFueraRango = DatosOrdenes.KopsMultivalorFueraRango,
		KopsConstanteFueraRango = DatosOrdenes.KopsConstanteFueraRango,
		KopsConstanteSinRellenar = DatosOrdenes.KopsConstanteSinRellenar
	FROM
	(SELECT DISTINCT
			Orden.Cod_Orden					AS Pk,
			Orden.ID_Orden					AS Id,
			COALESCE(Orden.Des_Orden,'')	AS Descripcion,
			Orden.IdEstado					AS IdEstado,
			Orden.Estado					AS Estado,
			Orden.Cod_Material				AS CodMaterial,
			Materiales.Descripcion			AS DesMaterial,
			Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
			Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
			Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
			Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
			Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
			Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
			Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
			Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
			Orden.Cantidad_Material			AS CantidadMaterial,
			Orden.UOM_Material				AS UoMMaterial,
			Orden.TipoOrden					AS TipoOrden,
			IIF(Orden.TipoOrden IN ('FE','GU','PR','WP','FL')
				,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.Cod_Orden,Orden.TipoOrden)
				,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.ID_Orden,Orden.TipoOrden)
				)							AS Equipo,
			[dbo].MES_ValidarKOPSMultivalorPorOrdenSinRellenar(Orden.Cod_Orden)    AS KopsMultivalorSinRellenar,
			[dbo].MES_ValidarKOPSMultivalorPorOrdenFueraDeRango(Orden.Cod_Orden)	 AS KopsMultivalorFueraRango,
			[dbo].[MES_ValidarKOPSConstantesPorOrdenFueraDeRango](Orden.ID_Orden) AS KopsConstanteFueraRango,
			[dbo].[MES_ValidarKOPSConstantesPorOrdenSinRellenar](Orden.ID_Orden)  AS KopsConstanteSinRellenar
		 FROM Ordenes_FAB Orden
				LEFT JOIN Materiales	ON Materiales.IdMaterial	= Orden.Cod_Material
		 WHERE 
			(Orden.ID_Orden = @IdOrden)
			AND
			(@TipoOrden IS NULL OR @TipoOrden = Orden.TipoOrden)
		) DatosOrdenes
		WHERE Orden_Procesada_FAB.Id = DatosOrdenes.Id
END
ELSE
	BEGIN
	--3. Si el valor del IdOrden es null insertamos todas las órdenes que existen en Ordenes_FAB que no existen en Orden_Procesada_FAB
		INSERT INTO Orden_Procesada_FAB (Pk,
												Id,
												Descripcion,
												IdEstado,
												Estado,
												CodMaterial,
												FechaInicioEstimadoLocal,
												FechaInicioEstimadoUTC,
												FechaFinEstimadoLocal,
												FechaFinEstimadoUTC,
												FechaInicioRealLocal,
												FechaInicioRealUTC,
												FechaFinRealLocal,
												FechaFinRealUTC,
												CantidadMaterial,
												CantidadProducida,
												UoMMaterial,
												Tipo
												)
		SELECT 
		Orden.Cod_Orden					AS Pk,
		Orden.ID_Orden					AS Id,
		COALESCE(Orden.Des_Orden,'')	AS Descripcion,
		Orden.IdEstado					AS IdEstado,
		Orden.Estado					AS Estado,
		Orden.Cod_Material				AS CodMaterial,
		Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
		Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
		Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
		Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
		Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
		Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
		Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
		Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
		Orden.Cantidad_Material			AS CantidadMaterial,
		Orden.CantidadProducida			AS CantidadProducida,
		Orden.UOM_Material				AS UoMMaterial,
		Orden.TipoOrden					AS TipoOrden
		FROM 
		Ordenes_FAB Orden
		LEFT JOIN Orden_Procesada_FAB Orden_Procesada ON Orden.ID_Orden = Orden_Procesada.Id
		WHERE 
			Orden_Procesada.Id IS NULL

			--4. Actualizamos los valores de todas las ordenes o de la orden que se parametrizó
		UPDATE Orden_Procesada_FAB
		SET
			Pk			= DatosOrdenes.PK,
			Descripcion = DatosOrdenes.Descripcion,
			IdEstado	= DatosOrdenes.IdEstado,
			Estado		= DatosOrdenes.Estado,
			CodMaterial = DatosOrdenes.CodMaterial,
			DesMaterial = DatosOrdenes.DesMaterial,
			FechaInicioEstimadoLocal = DatosOrdenes.FechaInicioEstimadoLocal,
			FechaInicioEstimadoUTC = DatosOrdenes.FechaInicioEstimadoUTC,
			FechaFinEstimadoLocal = DatosOrdenes.FechaFinEstimadoLocal,
			FechaFinEstimadoUTC = DatosOrdenes.FechaFinEstimadoUTC,
			FechaInicioRealLocal = DatosOrdenes.FechaInicioRealLocal,
			FechaInicioRealUTC = DatosOrdenes.FechaInicioRealUTC,
			FechaFinRealLocal = DatosOrdenes.FechaFinRealLocal,
			FechaFinRealUTC = DatosOrdenes.FechaFinRealUTC,
			CantidadMaterial = DatosOrdenes.CantidadMaterial,
			UoMMaterial = DatosOrdenes.UoMMaterial,
			Tipo = DatosOrdenes.TipoOrden,
			Equipo = DatosOrdenes.Equipo,
			KopsMultivalorSinRellenar = DatosOrdenes.KopsMultivalorSinRellenar,
			KopsMultivalorFueraRango = DatosOrdenes.KopsMultivalorFueraRango,
			KopsConstanteFueraRango = DatosOrdenes.KopsConstanteFueraRango,
			KopsConstanteSinRellenar = DatosOrdenes.KopsConstanteSinRellenar
		FROM
		(SELECT DISTINCT
				Orden.Cod_Orden					AS Pk,
				Orden.ID_Orden					AS Id,
				COALESCE(Orden.Des_Orden,'')	AS Descripcion,
				Orden.IdEstado					AS IdEstado,
				Orden.Estado					AS Estado,
				Orden.Cod_Material				AS CodMaterial,
				Materiales.Descripcion			AS DesMaterial,
				Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
				Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
				Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
				Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
				Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
				Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
				Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
				Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
				Orden.Cantidad_Material			AS CantidadMaterial,
				Orden.UOM_Material				AS UoMMaterial,
				Orden.TipoOrden					AS TipoOrden,
				IIF(Orden.TipoOrden IN ('FE','GU','PR','WP','FL')
					,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.Cod_Orden,Orden.TipoOrden)
					,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.ID_Orden,Orden.TipoOrden)
					)							AS Equipo,
				[dbo].MES_ValidarKOPSMultivalorPorOrdenSinRellenar(Orden.Cod_Orden)    AS KopsMultivalorSinRellenar,
				[dbo].MES_ValidarKOPSMultivalorPorOrdenFueraDeRango(Orden.Cod_Orden)	 AS KopsMultivalorFueraRango,
				[dbo].[MES_ValidarKOPSConstantesPorOrdenFueraDeRango](Orden.ID_Orden) AS KopsConstanteFueraRango,
				[dbo].[MES_ValidarKOPSConstantesPorOrdenSinRellenar](Orden.ID_Orden)  AS KopsConstanteSinRellenar
			 FROM Ordenes_FAB Orden
					LEFT JOIN Materiales	ON Materiales.IdMaterial	= Orden.Cod_Material
			 WHERE (@TipoOrden IS NULL OR @TipoOrden = Orden.TipoOrden)
			 AND (Orden.Estado = 'In Progress' OR (tiempo_fin_Real >=  DATEADD(DAY, -60, GETDATE())))
			) DatosOrdenes
			WHERE Orden_Procesada_FAB.Id = DatosOrdenes.Id
	END
	UPDATE Ordenes_FAB
SET    Ordenes_FAB.Cantidad_Material = KOPs_Fab.Valor_Actual
FROM   Ordenes_FAB
       INNER JOIN KOPs_Fab
         ON Ordenes_FAB.ID_Orden = KOPs_Fab.ID_Orden AND KOPs_Fab.Des_KOP like 'COC002%'
WHERE  Ordenes_FAB.Cantidad_Material = 1
AND Ordenes_FAB.TipoOrden = 'WP'
END

GO
