USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CURVAS_KOP_CFG]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[MES_CURVAS_KOP_CFG](@pkKop INT, @material  NVARCHAR(200) ,@area NVARCHAR(10))
AS
BEGIN

	SET NOCOUNT ON;
	SELECT DISTINCT 
		Label,
		Min_Value,
		Max_Value,
		UOM,
		KopID,
		OrderID,
		[Index],
		Phase,
		Area,
		Proccess,
		Material


	FROM [MES_MSM].[dbo].[COB_MSM_CURVAS_KOP_CFG]
	WHERE KopID = @pkKop
	AND Material = @material
	AND Area = @area
	AND OrderID = -1
	ORDER BY [Index]
END
GO
