USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDetalleHistoricoOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ObtenerDetalleHistoricoOrden]	
	@idOrden as varchar(200)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @ID_CLASE_ETIQUETADORA AS INT;

		SELECT DISTINCT @ID_CLASE_ETIQUETADORA = IdClase
		FROM Maquinas 
		WHERE Clase = 'ETIQUETADORA_PALETS'

		DECLARE @PicosPalets as INT;
		SELECT @PicosPalets = COUNT(IdOrden)
		FROM dbo.Picos
		WHERE IdOrden = @idOrden

		DECLARE @NOCONFORMIDAD AS INT;
		DECLARE @NOCONFORMIDADPALETS AS INT;
		SELECT @NOCONFORMIDAD = SUM(CANTIDAD_ENVASES), @NOCONFORMIDADPALETS = COUNT(ID_PARTICION)
		FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
		WHERE ID_ORDEN = @idOrden 

		DECLARE @Rendimiento as FLOAT;
		SET @Rendimiento = dbo.MES_GetRendimientoWO(@idOrden);

		SELECT
			Ordenes.Linea
			,Ordenes.Id
			,COALESCE(IIF(Ordenes.Descripcion IS NULL, Particiones.Descripcion,''),'') AS Descripcion
			,IdEstadoAct
			,EstadoAct
			,EstadoAct.color AS ColorAct
			,IdEstadoAnt
			,EstadoAnt
			,EstadoAnt.color AS ColorAnt
			,FecIniEstimada
			,FecFinEstimada
			,FecIniReal
			,FecFinReal
			,Productos.IdProducto
			,Productos.Descripcion AS Producto
			,Productos.IdClase AS IdTipoProducto
			,Productos.Clase + ' ' + CAST(Productos.Gama AS VARCHAR) + ' ' + CAST(Productos.Marca AS VARCHAR) AS TipoProducto
			,Ordenes.CantidadPlanificada
			--,Ordenes.CantidadProducida
			,COALESCE(ConsolidacionEtiquetadoraPalets.PaletsETQProducidos, 0) as PaletsETQProducidos
			,Productos.udMedida
			,Ordenes.VelocidadNominal
			,Ordenes.OEEObjetivo
			,Ordenes.OEECritico
			,Ordenes.codigoJDE
			,Ordenes.Rechazos
			,Ordenes.OEE
			,Ordenes.Disponibilidad
			,Ordenes.Eficiencia
			,Ordenes.RendMecanico
			,Ordenes.Calidad
			,Ordenes.FecHorAct AS RowUpdated
			,Ordenes.EnvasesPorPalet
			,Ordenes.CajasPorPalet
			,Ordenes.HectolitrosProducto
			,Ordenes.CausaPausa
			,po.PaletsProducidos
			,po.CajasProducidas
			,po.EnvasesProducidos
			,po.RechazosAClasificador AS rechazosClasificadorAutomatico
			,po.RechazosAVacios AS rechazosVaciosAutomatico
			,po.RechazosALlenadora AS rechazosSalidaLlenadoraAutomatico
			,po.RechazosAProductoTerminado AS rechazosProductoTerminadoAutomatico
			,Ordenes.PicosCajas
			,@PicosPalets as PicosPalets
			,COALESCE(@NOCONFORMIDAD,0) AS EnvNoConformidad
			,COALESCE(@NOCONFORMIDADPALETS,0) AS EnvNoConformidadPalets
			,COALESCE(@Rendimiento * 100,0)  as Rendimiento
			,Ordenes.OEEPreactor
		FROM Ordenes
		INNER JOIN ParametrosOrdenes po
			ON po.IdOrden = Ordenes.Id
		LEFT JOIN EstadosOrden AS EstadoAct
			ON EstadoAct.Id = Ordenes.IdEstadoAct
		LEFT JOIN EstadosOrden AS EstadoAnt
			ON EstadoAnt.Id = Ordenes.IdEstadoAnt
		LEFT JOIN Productos
			ON Productos.IdProducto = Ordenes.IdProducto
		LEFT JOIN Maquinas
			ON Maquinas.Orden = Ordenes.Id
		LEFT JOIN (SELECT
				ID_ORDEN AS IdOrden
				,COALESCE(SUM([CONTADOR_PRODUCCION]), 0) AS PaletsETQProducidos
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			LEFT JOIN MaquinasLineas AS ML
				ON ML.Id = Consolidacion.ID_MAQUINA
			WHERE Consolidacion.ID_ORDEN = @idOrden
			AND ML.IdClase = @ID_CLASE_ETIQUETADORA
			GROUP BY ID_ORDEN) AS ConsolidacionEtiquetadoraPalets
			ON ConsolidacionEtiquetadoraPalets.IdOrden = Ordenes.Id
		LEFT JOIN (
					 SELECT 
					   Ordenes.Id AS IdOrden,
					   STUFF((SELECT ', ' + Particiones.Descripcion 
							  FROM Particiones 
							  WHERE 
								Particiones.IdOrdenPadre = @idOrden
							  FOR XML PATH('')), 1, 1, '') Descripcion
					FROM Ordenes  
					WHERE Ordenes.Id = @idOrden
					GROUP BY Ordenes.Id, Ordenes.Descripcion
		) AS Particiones 
		ON Particiones.IdOrden = Ordenes.Id 
		WHERE Ordenes.Id = @idOrden
	COMMIT TRANSACTION;
END
GO
