USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_UpdateIdPlantillaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_UpdateIdPlantillaTurno]
	@idPlantilla AS nvarchar(max),
	@IdTurno AS INT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
	   SET [shc_working_day_id] = @idPlantilla
	 WHERE shc_work_sched_day_pk = @IdTurno

	COMMIT TRANSACTION; 
END
GO
