USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosGeneralesParticion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosGeneralesParticion]
	@ordenId nvarchar(200)--,
	--@ordenIdPadre nvarchar(20),
	--@subordenId nvarchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.	
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;	
		BEGIN
			DECLARE @ID_CLASE_PALETIZADORA AS INT;
			DECLARE @ID_CLASE_ENCAJONADORA AS INT;
			DECLARE @ID_CLASE_EMPAQUETADORA AS INT;
			DECLARE @ID_CLASE_ETIQUETADORA AS INT;
			DECLARE @RechazoslLle INT;
			DECLARE @RechazosInspectorSalidaLlenadora INT;
			DECLARE @RechazosInspectorBotellasVacias INT;
			DECLARE @RechazosClasificadores INT;
			DECLARE @RechazosProductoTerminado INT;
			DECLARE @Picos as INT;
			DECLARE @PicosPalets as INT;

			CREATE TABLE #Maquinas (
									Id NVARCHAR(200), 
									IdClase INT, 
									Clase NVARCHAR(100),
									PRIMARY KEY (Id,IdClase),
									UNIQUE(Id)
									)
			CREATE TABLE #RestoMaquinas (
											ID_PARTICION NVARCHAR(4000), 
											CONTADOR_RECHAZOS INT, 
											CLASE NVARCHAR(100),
											CONTADOR_PRODUCCION INT,
											TIEMPO_PLANIFICADO REAL, 
											ID_CLASE INT,
											FECHA_FIN DATETIME
										)
			CREATE TABLE #ProduccionLlenadora (
												ID_PARTICION NVARCHAR(4000), 
												TIEMPO_PLANIFICADO REAL, 
												CONTADOR_PRODUCCION INT,
												CONTADOR_RECHAZOS INT,
												FECHA_FIN DATETIME
											)

			----------------------------------TABLA TEMPORAL MÁQUINA--------------------------------------------------------------------------
			INSERT INTO #Maquinas (IdClase,Id,Clase)
			SELECT IdClase, Id, Clase FROM Maquinas

			-----------------------------------TABLA TEMPORAL COB RESTO DE MÁQUINAS-----------------------------------------------------------
			INSERT INTO #RestoMaquinas (CONTADOR_RECHAZOS,CLASE,CONTADOR_PRODUCCION,TIEMPO_PLANIFICADO,ID_CLASE,ID_PARTICION,FECHA_FIN)
			SELECT CONTADOR_RECHAZOS, m.Clase,cob.CONTADOR_PRODUCCION,cob.TIEMPO_PLANIFICADO,m.IdClase, cob.ID_PARTICION,cob.FECHA_FIN
			FROM COB_MSM_PROD_RESTO_MAQ_HORA  cob
			INNER JOIN #Maquinas m ON m.Id = cob.ID_MAQUINA 
			where cob.ID_PARTICION = @ordenId and SHC_WORK_SCHED_DAY_PK > 0

			------------------------------------TABLA TEMPORAL COB LLENADORA HORA-------------------------------------------------------------
			INSERT INTO #ProduccionLlenadora (ID_PARTICION, TIEMPO_PLANIFICADO, CONTADOR_PRODUCCION,CONTADOR_RECHAZOS,FECHA_FIN)
			SELECT ID_PARTICION,TIEMPO_PLANIFICADO,CONTADOR_PRODUCCION, CONTADOR_RECHAZOS,FECHA_FIN
			FROM COB_MSM_PROD_LLENADORA_HORA  
			WHERE ID_PARTICION =  @ordenId and SHC_WORK_SCHED_DAY_PK > 0

			----------------------------------------------------------------------------------------------------------------------------------
			SELECT DISTINCT @ID_CLASE_PALETIZADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'PALETIZADORA'

			SELECT DISTINCT @ID_CLASE_ENCAJONADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'ENCAJONADORA'

			SELECT DISTINCT @ID_CLASE_EMPAQUETADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'EMPAQUETADORA'

			SELECT DISTINCT @ID_CLASE_ETIQUETADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'ETIQUETADORA_PALETS'

			SELECT @RechazoslLle = SUM(CONTADOR_RECHAZOS)
			FROM #ProduccionLlenadora
	
			SELECT @RechazosClasificadores = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('CLASIFICADOR')

			SELECT @RechazosInspectorBotellasVacias = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_BOTELLAS_VACIAS') 

			SELECT @RechazosInspectorSalidaLlenadora = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_SALIDA_LLENADORA')

			SELECT @RechazosProductoTerminado = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA') 
				
			SELECT @Picos = COALESCE(SUM(Cantidad),0), @PicosPalets = COUNT(IdParticion)
			FROM dbo.Picos
			WHERE IdOrden = @ordenId

			DECLARE @IC as FLOAT;
			DECLARE @Rendimiento as FLOAT;
			DECLARE @OEE as FLOAT;
			SET @IC = dbo.MES_GetICParticion(@ordenId);
			SET @Rendimiento = dbo.MES_GetRendimientoParticion(@ordenId);
			SET @OEE = dbo.MES_GetOEEParticion(@ordenId);

			DECLARE @NOCONFORMIDAD AS INT;
			DECLARE @NOCONFORMIDADPALETS AS INT;
			SELECT @NOCONFORMIDAD = SUM(CANTIDAD_ENVASES), @NOCONFORMIDADPALETS = COUNT(ID_PARTICION)
			FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
			WHERE ID_PARTICION = @ordenId 

			SELECT 
				   Particion.[Id]
				  ,Particion.[IdOrdenPadre]
				  ,Particion.[IdSubOrden]
				  ,Particion.[FecIniEstimada]
				  ,Particion.[FecFinEstimada]
				  ,Particion.[FecIniReal]
				  ,Particion.[FecFinReal]
				  ,Particion.[IdProducto]
				  ,Particion.[CantidadPlanificada]
				  ,Particion.[CantidadProducida]
				  ,Particion.[EstadoAct]
				  ,Particion.[IdEstadoAct]
				  ,Particion.[EstadoAnt]
				  ,Particion.[IdEstadoAnt]
				  ,Particion.[Linea]
				  ,Particion.[Descripcion]
				  ,Particion.[FecHorAct]
				  ,COALESCE(Particion.VelocidadNominal, 0) as VelocidadNominal
				  ,Particion.[OEEObjetivo]
				  ,Particion.[OEECritico]
				  ,Particion.[CodigoJDE]
				  ,Particion.[PPR]
				  ,Particion.[Rechazos]
				  ,COALESCE(@OEE, 0)  as OEE
				  ,Particion.[Disponibilidad]
				  ,Particion.[Eficiencia]
				  ,COALESCE(@IC,0) as Calidad
				  ,Particion.[RendMecanico]
				  ,Particion.[EnvasesPorPalet]
				  ,Particion.[CajasPorPalet]
				  ,Particion.[HectolitrosProducto]
				  ,Particion.[CausaPausa]
				  ,Particion.[PicosCajas]
				  ,Productos.IdProducto
				  ,Productos.Descripcion AS Producto
			 	  ,Productos.IdClase AS IdTipoProducto
				  ,Productos.Clase + ' ' + CAST(Productos.Gama AS VARCHAR) + ' ' + CAST(Productos.Marca AS VARCHAR) AS TipoProducto
				  ,Productos.udMedida
				  ,COALESCE(ConsolidacionEtiquetadoraPalets.PaletsETQProducidos, 0) as PaletsETQProducidos
				  ,COALESCE(PaletsProducidos,0) AS PaletsProducidos						
				  ,COALESCE(ConsolidacionEncajonadora.CajasProducidas, 0) CajasProducidas
				  ,COALESCE(EnvasesProducidos,0) AS EnvasesProducidos
				  ,COALESCE(@Picos,0) AS PicosCajas
				  ,COALESCE(@PicosPalets,0) as PicosPalets
				  ,COALESCE(@NOCONFORMIDAD,0) AS EnvNoConformidad
				  ,COALESCE(@NOCONFORMIDADPALETS,0) AS EnvNoConformidadPalets
				  ,COALESCE(@RechazoslLle + @RechazosInspectorSalidaLlenadora,0) AS rechazosSalidaLlenadoraAutomatico			
				  ,COALESCE(@RechazosClasificadores,0) AS rechazosClasificadorAutomatico
				  ,COALESCE(@RechazosInspectorBotellasVacias,0) AS rechazosVaciosAutomatico
				  ,COALESCE(@RechazosProductoTerminado,0) AS rechazosProductoTerminadoAutomatico
				  ,COALESCE(@Rendimiento * 100,0) as Rendimiento
				  ,Particion.OEEPreactor
			FROM 
				[MES_MSM].[dbo].[Particiones] AS Particion 
				LEFT JOIN Productos ON Productos.IdProducto = Particion.IdProducto
				LEFT JOIN (SELECT 
									ID_PARTICION as IdParticion
									,COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as EnvasesProducidos
									,COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) as TiempoPlanificadoLlenadora
									,MAX(FECHA_FIN) AS HoraFinEnvases
							FROM #ProduccionLlenadora  
							GROUP BY ID_PARTICION
							) 
							AS ConsolidacionLle ON ConsolidacionLle.IdParticion = Particion.Id
				LEFT JOIN 
				(SELECT 
						ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsProducidos,
						COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) as TiempoPlanificadoPaletera
						,MAX(FECHA_FIN) AS HoraFinPalets
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE = @ID_CLASE_PALETIZADORA 
				GROUP BY ID_PARTICION
				) AS ConsolidacionPalet 
			ON ConsolidacionPalet.IdParticion = Particion.Id
			LEFT JOIN
				(SELECT ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as CajasProducidas
						,MAX(FECHA_FIN) AS HoraFinCajas
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE IN (@ID_CLASE_ENCAJONADORA, @ID_CLASE_EMPAQUETADORA)
				GROUP BY ID_PARTICION
				) AS ConsolidacionEncajonadora 
			ON ConsolidacionEncajonadora.IdParticion = Particion.Id
			LEFT JOIN
				(SELECT ID_PARTICION as IdParticion,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsETQProducidos
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE = @ID_CLASE_ETIQUETADORA
				GROUP BY ID_PARTICION
				) AS ConsolidacionEtiquetadoraPalets
			ON ConsolidacionEtiquetadoraPalets.IdParticion = Particion.Id
			WHERE Particion.Id = @ordenId
		END
			DROP TABLE #Maquinas
			DROP TABLE #RestoMaquinas
			DROP TABLE #ProduccionLlenadora
	COMMIT TRANSACTION; 	
END
GO
