USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_JobDeslizante]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Author:		
-- Create date: 
-- Description:	Gestor de Jobs pantalla deslizante
-- ================================================
CREATE PROCEDURE [dbo].[MES_JobDeslizante]
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY
		DECLARE @ReturnCode INT;

		--Parámetros estáticos no configurables
		DECLARE @jobname NVARCHAR(50) = 'DeslizanteInstantaneas';
		DECLARE @step NVARCHAR(50) = 'Manugistics';
		DECLARE @schedule NVARCHAR(50) = 'Semanal';	
		DECLARE @tableTemp TABLE(idx smallint Primary Key IDENTITY(1,1),idDia INT,horaStr NVARCHAR(100));
		DECLARE @i int;
		DECLARE @numrows int;
		DECLARE @idDia int;
		DECLARE @hora INT;
		DECLARE @msg NVARCHAR(2048);
	
		INSERT INTO @tableTemp 
		SELECT IdDia, Hora
		FROM dbo.DeslizanteGeneral;

		DECLARE @jobident uniqueidentifier = (SELECT job_id FROM msdb.dbo.sysjobs WHERE name = @jobname);
		DECLARE @fechaInicio INT = CONVERT(INT, (SELECT CONVERT(NVARCHAR(50), GETDATE(), 112)));
		--DECLARE @hora INT = CONVERT(INT, REPLACE(@horaStr, ':', ''));
	
		--Eliminamos el job anterior
		IF (@jobident IS NOT NULL)
		BEGIN
			EXEC msdb.dbo.sp_delete_job @job_id = @jobident;
		END

		-- Creamos el job con los nuevos parámetros
		IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name = N'[Uncategorized (Local)]' AND category_class = 1)
		BEGIN
			EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
			IF (@@ERROR <> 0 OR @ReturnCode <> 0)
			BEGIN
				SET @msg = N'No se pudo añadir la categoria. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
				THROW 50001, @msg, 1;--GOTO QuitWithRollback
			END
		END

		DECLARE @jobId uniqueidentifier
		EXEC @ReturnCode = msdb.dbo.sp_add_job 
			@job_name=@jobname,
			@enabled=1, 
			@notify_level_eventlog=2,
			@notify_level_email=0,
			@notify_level_netsend=0,
			@notify_level_page=0,
			@delete_level=0,
			@description=N'No description available.',
			@category_name=N'[Uncategorized (Local)]',
			--@owner_login_name=N'sa', 
			@job_id = @jobId OUTPUT
		IF (@@ERROR <> 0 OR @ReturnCode <> 0)
		BEGIN
			SET @msg = N'No se pudo crear el job. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
			THROW 50002, @msg, 1;--GOTO QuitWithRollback
		END

		/****** Object:  Step [Manugistics]    Script Date: 26/04/2018 11:20:55 ******/
		DECLARE @command NVARCHAR(1000) = N'exec ' + QUOTENAME(DB_NAME()) + '.dbo.MES_DeslizanteTomarInstantanea @tipo=''AUTO''';
		EXEC @ReturnCode = msdb.dbo.sp_add_jobstep
			@job_id=@jobId,
			@step_name=@step,
			@step_id=1,
			@cmdexec_success_code=0,
			@on_success_action=1,
			@on_success_step_id=0,
			@on_fail_action=2,
			@on_fail_step_id=0,
			@retry_attempts=0,
			@retry_interval=0,
			@os_run_priority=0,
			@subsystem=N'TSQL',
			@command=@command, 
			@database_name=N'master', 
			@flags=0;
		IF (@@ERROR <> 0 OR @ReturnCode <> 0)
		BEGIN
			SET @msg = N'No se pudo añadir un step al job ''' + CONVERT(NVARCHAR(200), @jobId) + '''. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
			THROW 50003, @msg, 1;--GOTO QuitWithRollback
		END

		EXEC @ReturnCode = msdb.dbo.sp_update_job
			@job_id = @jobId, 
			@start_step_id = 1;
		IF (@@ERROR <> 0 OR @ReturnCode <> 0)
		BEGIN
			SET @msg = N'No se pudo cambiar un step inicial al job ''' + CONVERT(NVARCHAR(200), @jobId) + '''. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
			THROW 50004, @msg, 1;--GOTO QuitWithRollback
		END

		SET @i = 1
		SET @numrows = (SELECT COUNT(*) FROM @tableTemp)
		IF @numrows > 0
		WHILE (@i <= (SELECT MAX(idx) FROM @tableTemp))
		BEGIN
			SET @idDia = (SELECT idDia FROM @tableTemp WHERE idx = @i)
			SET @hora = (SELECT CONVERT(INT, REPLACE(horaStr, ':', ''))  FROM @tableTemp WHERE idx = @i)
			EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule 
			@job_id=@jobId, 
			@name=@schedule,
			@enabled=1, 
			@freq_type=8, --Semanal -> No configurable			
			@freq_interval=@idDia, --Dia -> Parámetro configurable. Dia especificado
			@freq_subday_type=1, --Hora -> Parámetro configurable. Hora completa especificada
			@freq_subday_interval=0, 
			@freq_relative_interval=0, 
			@freq_recurrence_factor=1, 
			@active_start_date=@fechaInicio, --Fecha de inicio -> Parámetro configurable. Fecha actual
			@active_end_date=99991231, --Fecha de fin -> Sin fecha final
			@active_start_time=@hora, --Hora -> Parámetro configurable. Hora especificada
			@active_end_time=235959 --Tiempo de fin -> Sin Tiempo
			--@schedule_uid=N'f95af0d8-4611-438e-9078-759be03ea780'
				IF (@@ERROR <> 0 OR @ReturnCode <> 0)
				BEGIN
					SET @msg = N'No se pudo programar el job ''' + CONVERT(NVARCHAR(200), @jobId) + '''. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
					THROW 50004, @msg, 1;--GOTO QuitWithRollback
				END
			SET @i = @i + 1
		END

		EXEC @ReturnCode = msdb.dbo.sp_add_jobserver 
			@job_id = @jobId, 
			@server_name = N'(local)'
		IF (@@ERROR <> 0 OR @ReturnCode <> 0)
		BEGIN
			SET @msg = N'No añadir el job ''' + CONVERT(NVARCHAR(200), @jobId) + ''' al jobserver. ERROR=' + CONVERT(NVARCHAR(100), @@ERROR) + ', ReturnCode=' + CONVERT(NVARCHAR(100), @ReturnCode);
			THROW 50005, @msg, 1;--GOTO QuitWithRollback
		END
	END TRY
	BEGIN CATCH
		SELECT
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		THROW;
	END CATCH;

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;

	RETURN 0;
END
GO
