USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerVistasAplicacion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[APP_ObtenerVistasAplicacion]
	-- Add the parameters for the stored procedure here
	@aplicacion as nvarchar(1),
	@usuario nvarchar(100)

AS
BEGIN
	SET NOCOUNT ON;
	SELECT  DISTINCT
	VISTAS.[ID_VISTA]
	,VISTAS.[NOMBRE]
	,[CODIGO]
	,[RUTA]
	,[FUNCION]
	,[PARAMETROS]
	,[CONTENEDOR]
	,[ACCIONES]
	,[SECCION]
	FROM VISTAS
	INNER JOIN MENUS M ON VISTAS.ID_VISTA = M.ID_VISTA
	INNER JOIN [dbo].[FUNCIONES_MENUS] F ON M.ID_MENU = F.ID_MENU
	INNER JOIN DBO.PERMISOS P ON P.ID_FUNCION = F.ID_FUNCION
	INNER JOIN [dbo].[AspNetUserRoles] R ON P.ID_ROL = R.RoleId
	INNER JOIN [dbo].[AspNetUsers] A ON R.UserId = A.Id AND A.UserName = @usuario 
	WHERE M.APLICACION = @aplicacion OR M.APLICACION = 'A'
	ORDER BY VISTAS.[ID_VISTA] DESC
END

GO
