USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiempoVaciadoTrenLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTiempoVaciadoTrenLinea]
	-- Add the parameters for the stored procedure here
	@linea NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdParamtTiempoVaciadoTren INT = 14;-- COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 4 => 'Tiempo para considerar vaciado tren'
	DECLARE @ParamtTiempoVaciadoTren INT;

	SELECT VALOR_INT
	from COB_MSM_PARAMETROS_LINEA_ADMIN
	INNER JOIN Lineas l ON l.NumeroLinea = FK_LINEA_ID
	WHERE FK_PARAMETRO_ID = @IdParamtTiempoVaciadoTren AND l.Id = @linea
END
GO
