USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerPerdidaDisponibilidadCausaMotivo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Informe_ANA_7_ObtenerPerdidaDisponibilidadCausaMotivo]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint,
	 --@Causa int,
	 @Motivo int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		Id
	INTO #Turnos
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h --AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT
		ROW_NUMBER() OVER (ORDER BY TABLA.FechaTurno) as ID,
		TABLA.FechaTurno,
		SUM(TABLA.PerdidaDisponibilidad) AS PerdidaDisponibilidad,
		TABLA.Fecha,
		TABLA.IdTipoTurno
		,CONVERT(DECIMAL(38, 10),NULL) as Trend
	INTO #Temp_Regression
	FROM
	(SELECT
		CASE
			WHEN T.IdTipoTurno = 1 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' M'
			WHEN T.IdTipoTurno = 2 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' T'
			ELSE CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' N'
		END AS FechaTurno
		,0 AS PerdidaDisponibilidad
		,T.Fecha
		,T.IdTipoTurno
	FROM Turnos T
	INNER JOIN #Turnos TQ ON TQ.Id = t.Id
	WHERE T.Linea = @Linea
	--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', t.InicioTurno)
	--AND @FechaFin > DATEDIFF(s, '1970-1-1', T.InicioTurno) 
	UNION ALL 
	SELECT
		CASE
			WHEN T.idtipoturno = 1 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' M'
			WHEN T.idtipoturno = 2 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' T'
			ELSE CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' N'
		END AS FechaTurno
		,
		--convert(numeric(18,2),convert(float,sum(DuracionParoMayor))/convert(float,DATEDIFF(s,T.InicioTurno,T.FinTurno)*count(*))*100) as PerdidaDisponibilidad
		CONVERT(NUMERIC(18, 2), CONVERT(FLOAT, SUM(DuracionParoMayor)) / CONVERT(FLOAT, DATEDIFF(s, T.InicioTurno, T.FinTurno) * COUNT(*)) * 100) AS PerdidaDisponibilidad
		,T.Fecha
		,T.IdTipoTurno
	FROM [dbo].[ParosPerdidas] PP
	INNER JOIN #Turnos TQ ON TQ.Id = PP.Turno
	INNER JOIN [dbo].[Turnos] T ON T.Id = TQ.Id
	INNER JOIN DBO.Lineas L ON PP.IdLinea = L.NumeroLinea
	--INNER JOIN [dbo].[Turnos] T ON PP.Turno = T.Id
	WHERE MotivoId = @Motivo AND L.Nombre = @Linea
	--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', Inicio)
	--AND @FechaFin > DATEDIFF(s, '1970-1-1', Inicio)
	GROUP BY	CONVERT(DATE, T.Fecha)
				,T.idtipoturno
				,L.Nombre
				,DATEDIFF(s, T.InicioTurno, T.FinTurno)
				,T.fecha
	) AS TABLA
	GROUP BY TABLA.FechaTurno, TABLA.Fecha, TABLA.IdTipoTurno
	ORDER BY TABLA.Fecha, TABLA.IdTipoTurno ASC

	DECLARE @sample_size INT; 
	DECLARE @intercept  DECIMAL(38, 10);
	DECLARE @slope   DECIMAL(38, 10);
	DECLARE @sumX   DECIMAL(38, 10);
	DECLARE @sumY   DECIMAL(38, 10);
	DECLARE @sumXX   DECIMAL(38, 10);
	DECLARE @sumYY   DECIMAL(38, 10);
	DECLARE @sumXY   DECIMAL(38, 10);

	-- calculate sample size and the different sums
	SELECT
	  @sample_size = COUNT(*)
	 ,@sumX   = SUM(ID)
	 ,@sumY   = SUM([PerdidaDisponibilidad])
	 ,@sumXX   = SUM(ID*ID)
	 ,@sumYY   = SUM([PerdidaDisponibilidad]*[PerdidaDisponibilidad])
	 ,@sumXY   = SUM(ID*[PerdidaDisponibilidad])
	FROM #Temp_Regression;

	 -- calculate the slope and intercept
	SET @slope = CASE WHEN @sample_size = 1
		THEN 0 -- avoid divide by zero error
		ELSE (@sample_size * @sumXY - @sumX * @sumY) / (@sample_size * @sumXX - POWER(@sumX,2))
		END;
	SET @intercept = (@sumY - (@slope*@sumX)) / @sample_size;

	-- calculate trend line
	UPDATE #Temp_Regression
	SET Trend = (@slope*ID) + @intercept;

	-- output results
	SELECT FechaTurno, PerdidaDisponibilidad, Fecha, IdTipoTurno, FORMAT(Trend, 'N2') AS 'Tendencia OEE'
	FROM #Temp_Regression
	DROP TABLE #Temp_Regression

	DROP TABLE #Turnos
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerPerdidasTurnoSubInforme]    Script Date: 01/06/2016 12:26:37 ******/
SET ANSI_NULLS ON
GO
