USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerResumenTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerResumenTurno]
	@idLinea as nvarchar(200),
	@idTurno as integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @totalParosNojustificados int,
			@totalPerdidasNojustificadas int,
			@milisegundosParosNojustificados bigint,
			@milisegundosPerdidasNojustificadas bigint,
			@IdTipoParoMayor int,
			@IdTipoParoMenor int,
			@inicioTurno datetime,
			@finTurno datetime 

		SELECT
			@inicioTurno = InicioTurno,
			@finTurno = Finturno
		FROM dbo.Turnos
		WHERE Id = @idTurno

		SELECT
			@IdTipoParoMenor = ID_PARO
		FROM COB_MSM_PAROS
		WHERE DESC_PARO = 'Pérdida de producción'

		SELECT
			@IdTipoParoMayor = ID_PARO
		FROM COB_MSM_PAROS
		WHERE DESC_PARO = 'Paro Mayor'

		--COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 4 => 'Límite de no justificación de pérdidas de producción (s)' 
		DECLARE @TIEMPO AS INT = (select VALOR_INT from COB_MSM_PARAMETROS_LINEA_ADMIN PL
					INNER JOIN COB_MSM_TIPOS_PARAMETRO P ON P.PARAMETRO_ID = PL.FK_PARAMETRO_ID
					WHERE P.PARAMETRO_ID=4 AND PL.FK_LINEA_ID = @idLinea)

		set @totalParosNojustificados = (SELECT count(*)  FROM [dbo].[ParosPerdidas] 
							where IdLinea = @idLinea 
									--and Turno = @idTurno
									AND [Inicio] >= @inicioTurno
									AND [fin] <= @finTurno
									and [Justificado]=0
									and IdTipoParoPerdida = @IdTipoParoMayor)

		set @milisegundosParosNojustificados = (SELECT sum(DATEDIFF(s,inicio,fin))  FROM [dbo].[ParosPerdidas] 
							where IdLinea = @idLinea 
									--and Turno = @idTurno
									AND [Inicio] >= @inicioTurno
									AND [fin] <= @finTurno
									and [Justificado]=0
									and IdTipoParoPerdida = @IdTipoParoMayor)

		set @totalPerdidasNojustificadas = (SELECT count(*)  FROM [dbo].[ParosPerdidas] 
								where IdLinea = @idLinea 
									--and Turno = @idTurno
									AND [Inicio] >= @inicioTurno
									AND [fin] <= @finTurno
									and [Justificado]= 0
									and IdTipoParoPerdida = @IdTipoParoMenor
									and DuracionBajaVelocidad + DuracionParosMenores >= @TIEMPO)

		set @milisegundosPerdidasNojustificadas = (SELECT sum(isnull(DuracionParosMenores,0)+isnull(DuracionBajaVelocidad,0))  FROM [dbo].[ParosPerdidas] 
								where IdLinea = @idLinea 
									--and Turno = @idTurno
									AND [Inicio] >= @inicioTurno
									AND [fin] <= @finTurno
									and [Justificado]= 0
									and IdTipoParoPerdida = @IdTipoParoMenor
									and DuracionBajaVelocidad + DuracionParosMenores >= @TIEMPO)

	  select @totalParosNojustificados as TotalParosNojustificados,
			 isnull(@milisegundosParosNojustificados,0) as MilisegundosParosNojustificados,
			 @totalPerdidasNojustificadas as TotalPerdidasNojustificadas,
			 isnull(@milisegundosPerdidasNojustificadas,0) as MilisegundosPerdidasNojustificadas
	COMMIT TRANSACTION; 

END
GO
