USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerHistoricoOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[MES_ObtenerHistoricoOrden]
	@idOrden as varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	  SELECT 
	  ID_CAMBIO as IdCambio,
	  ID_ORDEN as IdOrden,
	  FECHA_CAMBIO as FechaCambio,
	  EstadosOrden.Id as IdEstado,
	  EstadosOrden.Estado,
	  EstadosOrden.color as Color
	  FROM HistoricoOrdenes
	  inner join EstadosOrden on HistoricoOrdenes.ESTADO = EstadosOrden.Id
	  where ID_ORDEN=@idOrden
	  order by FECHA_CAMBIO desc, HistoricoOrdenes.ESTADO
  
	COMMIT TRANSACTION;
END
GO
