USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CalculoOEEWOMedio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 20-11-2019
-- Description:	Se calcula el OEE WO Medio. Se le llama semanalmente mediante el job Calculo OEE_Tiempos Preactor
-- =============================================
CREATE PROCEDURE [dbo].[MES_CalculoOEEWOMedio]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;
		DECLARE @numLinea SMALLINT;
		DECLARE @IdProducto NVARCHAR(100);
		DECLARE @OEEWOMedio FLOAT;

		DECLARE cProductosLinea CURSOR FOR
		SELECT DISTINCT l.NumeroLinea, Ordenes.IdProducto
		FROM Ordenes
		INNER JOIN [dbo].[Lineas] l on l.Id = Ordenes.Linea
		WHERE Ordenes.EstadoAct IN ('Cerrada')

		OPEN cProductosLinea

		FETCH cProductosLinea INTO @numLinea, @IdProducto

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			IF(@numLinea IS NOT NULL AND @IdProducto IS NOT NULL) 
			BEGIN
				SELECT @OEEWOMedio = [dbo].[MES_GetOEEMedio] (@numLinea, @IdProducto)
		
				IF (@OEEWOMedio IS NOT NULL)
				BEGIN
					UPDATE dbo.COB_MSM_PARAMETROS_LINEA_PRODUCTO
					SET [OEE_CALCULADO] = @OEEWOMedio
					WHERE [FK_LINEAS_ID] = @numLinea AND [ID_PRODUCTO] = @IdProducto
				END			
			END
			-- Lectura de la siguiente fila del cursor
			FETCH cProductosLinea INTO @numLinea, @IdProducto
		END

		CLOSE cProductosLinea

		DEALLOCATE cProductosLinea
	COMMIT TRANSACTION;
END
GO
