USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ReprocesarMensajesMovimientoMaterial]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Alexis Anselmi
-- ALTER date: 01-02-2020 
-- Description:	Este método se encarga de reprocesar mensajes que no hayan sido cargados en simatic
-- principalmente se creó para los mensajes de Molienda, ya que llegan antes de los mensajes de Crudos y esto 
-- ha traido problemas al tener que ser reprocesados, el sistema era incapaz de reprocesarlos efectivamente.
-- =============================================
CREATE PROCEDURE [dbo].[MES_ReprocesarMensajesMovimientoMaterial] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

     
  --1. Obtenemos todos los módulos que se van a reprocesar
	  DECLARE @ProcesosReprocesar TABLE(
							Proceso NVARCHAR(200)
						)
  

	  INSERT INTO @ProcesosReprocesar
	  SELECT OLTP_Modulo.Segmento
	  FROM 
	  SSISDeltaV.dbo.ModuloReprocesar
	  INNER JOIN SSISDeltaV.dbo.OLTP_Modulo ON ModuloReprocesar.Modulo = OLTP_Modulo.Des_Modulo
  
  -- 2. Obtenemos todos los registros que no se han guardado como Default_*
	  DECLARE @Ordenes TABLE(
							IdOrder NVARCHAR(200)
						)
	INSERT INTO @Ordenes
	  SELECT
		DISTINCT MATERIAL.pom_order_id
	  FROM
	  (SELECT DISTINCT POM_Order.pom_order_id IdOrder,POM_Order.pom_order_pk
		FROM 
		 SITMesDB.dbo.POM_ORDER POM_Order 
		 LEFT JOIN SITMesDB.dbo.POMV_MATL_SPEC_ITM MATERIAL ON POM_Order.pom_order_id = MATERIAL.pom_order_id AND MATERIAL.Def_id = 'Default_MALTA'
		WHERE 
			MATERIAL.Def_id IS NULL
	  ) AS ORDENES_SIN_DEFAULT_MALTA 
	  INNER JOIN SITMesDB.dbo.POMV_MATL_SPEC_ITM MATERIAL ON ORDENES_SIN_DEFAULT_MALTA.IdOrder = MATERIAL.pom_order_id
	  INNER JOIN [SITMesDB].[dbo].[POM_ENTRY] ETRY ON ETRY.pom_order_pk = ORDENES_SIN_DEFAULT_MALTA.pom_order_pk
	  INNER JOIN @ProcesosReprocesar Procesos ON ETRY.ps_name = Procesos.Proceso
  
  -- 3. Se cambia el estado Procesado a 0 para que se vuelvan a reprocesar
	  UPDATE 
	  XML_Final
	  SET
	  XML_Final.Procesado = 0
	  FROM
	  SSISDeltaV.dbo.XML_Final XML_Final
	  INNER JOIN @Ordenes AS Ordenes ON Ordenes.IdOrder = XML_Final.Batch
	  INNER JOIN @ProcesosReprocesar Procesos ON XML_Final.ProcedureName = Procesos.Proceso
	  WHERE Cod_TipoXML = 4 


END
GO
