USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerFuncionesUsuario]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[APP_ObtenerFuncionesUsuario]
	-- Add the parameters for the stored procedure here
	@userName varchar(256)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT [ID_FUNCION]
      ,[CODIGO]
      ,[DESCRIPCION]
  FROM [dbo].[FUNCIONES]
  where [ID_FUNCION] in (SELECT [ID_FUNCION]
							  FROM [dbo].[PERMISOS]
							  where id_rol in (SELECT [RoleId]
													FROM [dbo].[AspNetUserRoles]
														where userId in (SELECT [Id]  
																			FROM [dbo].[AspNetUsers] 
																				where UserName=@userName)))


	
END
GO
