USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDiasFestivos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerDiasFestivos]
	--@anyo as varchar(4)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT f.*
		FROM [DiasFestivos] f
		INNER JOIN [SITMesDB].[dbo].[md_lang_code] LC ON LC.md_lang_code_pk = f.idioma
		where LC.code = 'ESP'
		order by fecha asc;
	COMMIT TRANSACTION; 
END
GO
