USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnosMayoresFechaLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnosMayoresFechaLinea] 
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@fecha as DateTime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		SELECT t.Id
		  ,Linea
		  ,Fecha
		  ,InicioTurno
		  ,FinTurno
		  ,IdTipoTurno
		  ,Turno
		FROM Turnos t
		INNER JOIN Lineas l ON l.Id = t.Linea
		where l.NumeroLinea=@idLinea and  InicioTurno >= @fecha
		order by InicioTurno
	COMMIT TRANSACTION; 
END

GO
