USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerKOPsSegunSC]    Script Date: 01/03/2021 12:21:58 ******/
DROP PROCEDURE [dbo].[MES_ObtenerKOPsSegunSC]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerKOPsSegunSC]    Script Date: 01/03/2021 12:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerKOPsSegunSC]
@salaCoccion varchar(100),
@codKOP int
AS
BEGIN
	SELECT K.KOP_ID AS Cod_KOP, K.kop_name as Des_KOP, K.KOP_UOM AS UOM_KOP, 
ISNULL(V.KOP_MIN_VALUE, K.KOP_MIN_VALUE) AS Valor_Minimo,
ISNULL(V.KOP_MAX_VALUE, K.KOP_MAX_VALUE) AS Valor_Maximo,
ISNULL(V.KOP_VALUE, K.KOP_DEFAULT_VALUE) AS Valor_Actual,
K.KOP_DATATYPE as Tipo_KOP,
ISNULL(V.KOP_Equipment,'') as Des_equipo,
M.PK_Material as Cod_Material,
M.Descripcion as Des_Material,
CASE WHEN V.KOP_ValueTS IS NULL THEN NULL
	ELSE [dbo].[ToLocalDateTime](V.KOP_ValueTS) END AS Fecha,
V.KOP_ValueTS as FechaUTC,
CASE wHEN CONVERT(FLOAT,ISNULL(V.KOP_VALUE, K.KOP_DEFAULT_VALUE))<= CONVERt(FLOAT,ISNULL(V.KOP_MAX_VALUE, K.KOP_MAX_VALUE)) AND
				CONVERT(FLOAT,ISNULL(V.KOP_VALUE, K.KOP_DEFAULT_VALUE))>= CONVERt(FLOAT,ISNULL(V.KOP_MIN_VALUE, K.KOP_MIN_VALUE))
then 'Verde' else 'Rojo' end as Semaforo,
M.IdMaterial as IdMaterial
FROM DBO.COB_MSM_GLOBAL_KOPS K
CROSS JOIN Materiales_FAB M
LEFT JOIN DBO.COB_MSM_GLOBAL_KOPS_VALUES V ON V.KOP_ID=K.KOP_ID AND M.PK_Material = V.KOP_MATERIAL AND V.[KOP_EQUIPMENT] = @salaCoccion
where M.IdClase= 'MOS' and K.KOP_ID = @codKOP and M.Descripcion like 'M.F.  A. DENS%'

END

GO
