USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_IDIOMA]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_IDIOMA]
	-- Add the parameters for the stored procedure here
   @IdReport int,
   @Idioma varchar(10)
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @like as varchar(1000)
	set @like = '%' + convert(varchar(1),@IdReport) + '%'
	select Literal,
case @Idioma
when 'en-GB' then Literal_EN
else Literal_ES
end as Traduccion
FRom [dbo].[IDIOMA_INFORME] 
where informe like @like or informe='0'
commit TRANSACTION

END
GO
