USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ReplanificarWO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 09/02/2021
-- Description:	Replanificar las ordenes creadas 
-- =============================================

CREATE PROCEDURE [dbo].[MES_ReplanificarWO] 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Id AS INT,
			@fechaInicio AS DATETIME,
			@fechaFin AS DATETIME,
			@fechaComparativa AS DATETIME = NULL,
			@TiempoArranque AS INT,
			@SalaC AS INT,
			@SalaComparativa AS INT,
			@TipoOrden AS NVARCHAR(5),
			@TOComparativa AS NVARCHAR(5)

	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
	SELECT 
		[Id],
		[InicioPlanificado],
		[FinPlanificado],
		[Origen],
		[TipoOrden]
	FROM [OrdenPlanificado]
	WHERE Arrancado = 0
	ORDER BY [Origen],[TipoOrden], [InicioPlanificado]

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @Id, @fechaInicio, @FechaFin, @SalaC, @TipoOrden
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		IF(@fechaComparativa IS NULL OR (@Salac <> @SalaComparativa) OR (@TipoOrden <> @TOComparativa))
		BEGIN
			SET @SalaComparativa = @Salac
			SET @fechaComparativa = @fechaInicio
			SET @TOComparativa = @TipoOrden
		END
		ELSE
		BEGIN
		
			SET @TiempoArranque = (SELECT 
										(CAST(ParamValues_Value AS DECIMAL(10, 4)) *60) * 60 
									FROM [OrdenPlanificado] AS OPlanificada		
									INNER JOIN [SITMesDb].[dbo].[PDefM_PS_Param] KOP
										ON KOP.Param_PPR LIKE '%' +OPlanificada.Material+'%'
									INNER JOIN [SITMesDb].[dbo].[PDefM_PS_ParamValues] VAL
										ON KOP.[Param_ValuesLink] = VAL.[ParamValues_Num]
									WHERE KOP.Param_Desc  LIKE 'COC208%'
									AND OPlanificada.Id = @Id)
			IF(DATEADD(SECOND,@TiempoArranque,@fechaComparativa) >= @fechaInicio)
			BEGIN
				
				UPDATE [OrdenPlanificado] 
				SET 
					[InicioPlanificado] = DATEADD(SECOND,@TiempoArranque,@fechaComparativa),
					[FinPlanificado] = DATEADD(HOUR,CAST(ParamValues_Value AS DECIMAL) ,DATEADD(SECOND,@TiempoArranque,@fechaComparativa))
				FROM [OrdenPlanificado] AS OPlanificada		
				INNER JOIN [SITMesDb].[dbo].[PDefM_PS_Param] KOP
					ON KOP.Param_PPR LIKE '%' +OPlanificada.Material+'%'
				INNER JOIN [SITMesDb].[dbo].[PDefM_PS_ParamValues] VAL
					ON KOP.[Param_ValuesLink] = VAL.[ParamValues_Num]
				WHERE KOP.Param_Desc  LIKE 'COC003%'
				AND OPlanificada.Id = @Id
				SET @TOComparativa = @TipoOrden
				SET @SalaComparativa = @Salac
				SET @fechaComparativa = DATEADD(SECOND,@TiempoArranque,@fechaComparativa)
			END
			ELSE
			BEGIN
				SET @TOComparativa = @TipoOrden
				SET @SalaComparativa = @Salac
				SET @fechaComparativa = @fechaInicio
			END
		END
		FETCH NEXT FROM MY_CURSOR INTO  @Id, @fechaInicio, @FechaFin, @SalaC,@TipoOrden
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
END
GO
