USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerReasonTree]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerReasonTree]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT [IdCategoria]
		  ,[Categoria]
		  ,[IdNivel1]
		  ,[Nivel1]
		  ,[IdNivel2]
		  ,[Nivel2]
	  FROM [ReasonTree]
	  order by idCategoria,idNivel1,idNivel2
	COMMIT TRANSACTION; 
END
GO
