USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerNecesidadTCP]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		
-- Create date: 
-- Description:	Obtiene necesidades de TCPs FIL
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerNecesidadTCP]
	
AS
BEGIN
	SET NOCOUNT ON;

	select LineaEnvasado, SUM(TotalNecesidadTCP) AS TotalNecesidadTCP
	from dbo.COB_MSM_ArticlesParametersForPackingLineFIL
	group by LineaEnvasado 

END
GO
