USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnoCercano]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnoCercano]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@fechaTurno as datetime,
	@tipoTurno as int,
	@mayorMenor as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		-- Insert statements for procedure here
		IF Exists (SELECT Id,Linea,Fecha,InicioTurno,FinTurno,IdTipoTurno,Turno
				FROM Turnos
				where [Linea]=@idLinea and  Fecha=@fechaTurno and idTipoTurno=@tipoTurno)
		BEGIN
				SELECT Id,Linea,Fecha,InicioTurno as InicioTurno,FinTurno as FinTurno,IdTipoTurno,Turno
				FROM Turnos
				where [Linea]=@idLinea and  Fecha=@fechaTurno and idTipoTurno=@tipoTurno
				order by InicioTurno
		END
		ELSE
			BEGIN
			IF @mayorMenor=0
			BEGIN
					SELECT top 1 Id,Linea,Fecha,InicioTurno as InicioTurno,FinTurno as FinTurno,IdTipoTurno,Turno
					FROM Turnos
					where FinTurno <= @fechaTurno and IdTipoTurno>0 and [Linea]=@idLinea
					order by Convert(datetime,FinTurno) desc
			END
			ELSE
			BEGIN
					SELECT top 1 Id,Linea,Fecha,InicioTurno as InicioTurno,FinTurno as FinTurno,IdTipoTurno,Turno
					FROM Turnos
					where InicioTurno >= @fechaTurno and IdTipoTurno>0 and [Linea]=@idLinea
					order by Convert(datetime,FinTurno) asc
			END

		END
	COMMIT TRANSACTION; 
END
GO
