USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnosOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Description:	Obtiene los turnos que abarca una wo
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnosOrden]
	@linea as nvarchar(200),
	@desde datetime,
	@hasta datetime
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	declare	@desdeOrig datetime= @desde;
	declare	@hastaOrig datetime= @hasta;
	DECLARE @InicioTurno datetime;
	declare @FinTurno datetime;
	DECLARE @TurnoSup BIT = 1;

	--Buscamos la primera fecha de Inicio del turno en el que @desde este comprendida, incrementamos en 1h @desde hasta que no haya más reg o sea > que @hasta
	WHILE ((@InicioTurno IS NULL) OR (LEN(@InicioTurno) = 0)) AND (@TurnoSup = 1)
	BEGIN
		select	@InicioTurno = InicioTurno
		from Turnos
		where [Linea]=@linea and @desde BETWEEN InicioTurno and FinTurno

		SET @desde = DATEADD(hh, +1, @desde);

		DECLARE @Turnos INT;
		select @Turnos = COUNT(Id) 
		FROM Turnos
		where [Linea]=@linea and InicioTurno >= @desde
	
		IF (@Turnos = 0)
			SET @TurnoSup = 0; 
		IF(@desde > @hastaOrig) BREAK;
	END
	-- Si no hemos encontrado @InicioTurno, probamos si hay alguno en el que @hasta este comprendida
	IF((@InicioTurno IS NULL) OR (LEN(@InicioTurno) = 0))
	BEGIN
		select	@InicioTurno = InicioTurno
		from Turnos
		where [Linea]=@linea and @hastaOrig BETWEEN InicioTurno and FinTurno
	END

	--Si hay Turnos superiores (que su Inicio sea superior a @desde)
	IF (@TurnoSup = 1)
	BEGIN
		--Buscamos la primera fecha de Fin en el que @hasta este comprendida, decrementamos 1h hasta que @hasta sea menos que @desde
		WHILE(@FinTurno IS NULL) OR (LEN(@FinTurno) = 0)
		BEGIN
			select	@FinTurno = FinTurno
			from Turnos
			where [Linea]=@linea and @hasta BETWEEN InicioTurno and FinTurno
			SET @hasta = DATEADD(hh, -1, @hasta);

			IF(@hasta < @desdeOrig) BREAK;

		END

		-- Si no hemos encontrado @FinTurno, probamos si hay alguno en el que @desde este comprendida
		IF(@FinTurno IS NULL) OR (LEN(@FinTurno) = 0)
		BEGIN
			select	@FinTurno = FinTurno
			from Turnos
			where [Linea]=@linea and @desdeOrig BETWEEN InicioTurno and FinTurno
		END

		SELECT Id
			  ,Linea
			  ,Fecha
			  ,InicioTurno
			  ,FinTurno
			  ,IdTipoTurno
			  ,Turno
			FROM Turnos
			where [Linea]=@linea and InicioTurno >= @InicioTurno and FinTurno <= @FinTurno and IdTipoTurno <> 0
			order by InicioTurno
	END
COMMIT TRANSACTION; 

END
GO
