USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[API_ActualizarKOPSCalculados]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 15/06/2020
-- Description:	
-- =============================================
--CalcularKOPPorIDOrden
CREATE PROCEDURE [dbo].[API_ActualizarKOPSCalculados] (@IdOrden as nvarchar(200))
AS
BEGIN
	SET NOCOUNT ON;
	--variable que contendra el IdKOP
	DECLARE @IdKOP nvarchar(200)

	--aqui se recorera cada uno de los KOPS de la orden pasada
	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
	-- se busca cada uno de los KOP que se deban calcular por esta id orden
	SELECT ID_KOP from [MES_MSM].[dbo].[KOPS_fab]
	WHERE ID_Orden = @IdOrden
	AND TipoKOP LIKE 'CALCULADO%'

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @IdKOP
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		--en este metodo se calculara y guardara los calculos de los KOPS
		EXECUTE [API_calcularFormula] @IdKOP, @IdOrden
		FETCH NEXT FROM MY_CURSOR INTO @IdKOP
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
END
GO
