USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerOEEsPorHora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerOEEsPorHora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
	
	DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	DECLARE @desde datetime
	DECLARE @hasta datetime 
	DECLARE @fechaTurno datetime 

	
	SELECT @desde= InicioTurno , @hasta = FinTurno , @fechaTurno = Fecha
	FROM Turnos 
	WHERE Id = @Turno


	
	
	DECLARE @desdeH datetime
	DECLARE @hastaH datetime

	SET @desdeH = @desde
	SET @hastaH = dateadd(hour,1, @desdeH)

	BEGIN TRANSACTION
		
		WHILE @hastaH <=  @hasta
		  BEGIN
			INSERT  INTO @HorasTurno
			VALUES  (@desdeH,@hastaH)
			SET @desdeH = @hastaH
			SET @hastaH = dateadd(hour,1, @desdeH)
			
		  END		
	COMMIT TRANSACTION
	

	



	SELECT TABLA.Nombre,		
		TABLA.Hora,
		SUM(TABLA.TiempoPlanificado) AS TiempoPlanificado,
		SUM(TABLA.TiempoOperativo) AS TiempoOperativo,
		SUM(TABLA.TiempoBruto) AS TiempoBruto,
		SUM(TABLA.TiempoNeto) AS TiempoNeto,
		SUM(TABLA.VelocidadNominal) AS VelocidadNominal,
		SUM(TABLA.EnvasesProducidos) AS EnvasesProducidos,
		SUM(TABLA.ContadorRechazos) AS ContadorRechazos,
		case 
			--PCV2 when Sum(TABLA.TiempoOperativo) = 0 OR Sum(TABLA.TiempoPlanificado)=0 then 0
			--PCV2 else ((Sum(TABLA.TiempoOperativo)/Sum(TABLA.TiempoPlanificado)) * (Sum(TABLA.TiempoNeto)/Sum(TABLA.TiempoOperativo)) *100)
			when Sum(TABLA.VelocidadNominal) = 0 then 0
			else ((Sum(TABLA.EnvasesProducidos)/Sum(TABLA.VelocidadNominal)) *100)			
			end as totalOee,
		MAX(TABLA.Fecha_Inicio) as Fecha_Inicio
			FROM (

   (SELECT m.Descripcion as Nombre, 
			DATEPART(HOUR,[dbo].[ToLocalDateTime](inicio)) as Hora, 
			0 AS TiempoPlanificado,
			0 AS TiempoOperativo,
			0 AS TiempoBruto,
			0 AS TiempoNeto,
			0 AS VelocidadNominal,
			0 AS EnvasesProducidos,
			0 AS ContadorRechazos,
			[dbo].[ToLocalDateTime](inicio) AS Fecha_Inicio
   FROM @HorasTurno
   CROSS JOIN
   COB_MSM_PROD_LLENADORA_HORA AS LL
   INNER JOIN Maquinas M ON M.Id = LL.ID_MAQUINA --AND ISNULL(LL.ID_ORDEN,'') != ''
   WHERE M.Linea = @Linea 
   )
   UNION
(SELECT
			m.Descripcion as Nombre,
		
			DATEPART(HOUR,[dbo].[ToLocalDateTime](h.FECHA_INICIO)) as Hora
			,COALESCE(SUM(h.[TIEMPO_PLANIFICADO]), 0) AS TiempoPlanificado
			,COALESCE(SUM(h.[TIEMPO_OPERATIVO]), 0) AS TiempoOperativo
			,COALESCE(SUM(h.[TIEMPO_BRUTO]), 0) AS TiempoBruto
			,COALESCE(SUM(h.[TIEMPO_NETO]), 0) AS TiempoNeto
			,COALESCE(SUM(h.[VELOCIDAD_NOMINAL]), 0) AS VelocidadNominal
			,COALESCE(SUM(h.[CONTADOR_PRODUCCION]), 0) AS EnvasesProducidos
			,COALESCE(SUM(h.[CONTADOR_RECHAZOS]), 0) AS ContadorRechazos,			
			h.FECHA_INICIO as Fecha_Inicio
		FROM COB_MSM_PROD_LLENADORA_HORA h
		INNER JOIN Maquinas m ON m.Id = h.ID_MAQUINA
		INNER JOIN Turnos t
			ON t.Id = h.SHC_WORK_SCHED_DAY_PK
		WHERE h.SHC_WORK_SCHED_DAY_PK = @turno --AND ISNULL(h.ID_ORDEN,'') != ''
		GROUP BY DATEPART(HOUR,[dbo].[ToLocalDateTime](h.FECHA_INICIO)),m.Descripcion,h.Fecha_Inicio
		

)) AS TABLA 
GROUP BY TABLA.Nombre,TABLA.Hora
ORDER BY MAX(TABLA.Fecha_Inicio) Asc
END
GO
