USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerQueriesGraficos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerQueriesGraficos]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		SELECT [ID_QUERY]      ,[NOMBRE]      ,[TEXTO], TIPO, SERIESNAME, MAXVALOR ,COLORES FROM [dbo].[QUERIESGRAFICOS]
		--where ID_QUERY in (1,3,1002,1003,1005)
	COMMIT TRANSACTION; 
END
GO
