USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_2_ObtenerParosAgrupados]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_2_ObtenerParosAgrupados]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		Id
	INTO #HorasTurno
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT
		'L' + CONVERT(VARCHAR(10), L.NumeroLinea) + ' - ' + L.Descripcion AS Linea
		,P.CausaNombre
		,P.MotivoNombre
		,P.MaquinaCausaNombre
		,EC.ID_EQUIPO_CONSTRUCTIVO
		,EC.NOMBRE AS ECNOMBRE
		,SUM(P.Duracion) AS DURACION
	FROM dbo.ParosPerdidas P
	--INNER JOIN Turnos t ON t.Id = P.Turno
	INNER JOIN #HorasTurno HT on HT.Id = P.Turno
	INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	LEFT JOIN EQUIPO_CONSTRUCTIVO EC ON P.EquipoConstructivoId = EC.IdObj
	WHERE L.Nombre = @Linea-- AND t.id = @turno
	--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', Inicio)
	--AND @FechaFin > DATEDIFF(s, '1970-1-1', Inicio)
	GROUP BY	L.NumeroLinea
				,L.Descripcion
				,P.CausaNombre
				,P.MotivoNombre
				,P.MaquinaCausaNombre
				,EC.ID_EQUIPO_CONSTRUCTIVO
				,EC.NOMBRE
	ORDER BY P.MaquinaCausaNombre,duracion DESC
	DROP TABLE #HorasTurno
END
GO
