USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerInicioTurnoPorHora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerInicioTurnoPorHora]
	@fechaActual as datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
	SELECT
		Inicio
		,Fin
	FROM TiposTurno
	WHERE (
	CAST(DATEADD(MINUTE, Bias, @fechaActual) AS TIME) BETWEEN CAST(Inicio AS TIME) AND CAST(Fin AS TIME)
	OR (Nombre = 'Noche'
	AND CAST(DATEADD(MINUTE, Bias, @fechaActual) AS TIME) >= CAST(Inicio AS TIME))
	OR (Nombre = 'Noche'
	AND CAST(DATEADD(MINUTE, Bias, @fechaActual) AS TIME) <= CAST(Fin AS TIME))
	)
	AND (Nombre IN ('Mañana', 'Tarde', 'Noche'))
	COMMIT TRANSACTION; 
END

GO
