USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEansValidos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 31-01-2020
-- Description:	Se obtienen los Eans válidos de un material
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEansValidos]
	@idMaterial nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		EAN AS IdEan,
		Nombre AS NombreEan,
		IdProveedor AS CodProveedor,
		Proveedor
	FROM [MES_MSM_Trazabilidad].[MAT].[vMaestroEAN]
	WHERE IdJDE = @idMaterial
END
GO
