USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerProduccionHorasLlenadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_4_ObtenerProduccionHorasLlenadora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	--OEE LLENADORA

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
--set @linea = 'MSM.BURGOS.ENVASADO.B447'
--set @desde = convert(datetime,'2015-11-25T05:00:00',126)
--set @hasta = convert(datetime,'2015-11-25T13:00:00',126)

DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	
	DECLARE @d datetime
	DECLARE @h datetime

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = dateadd(hour,1, @d)

	BEGIN TRANSACTION
		
		WHILE @h <= DATEADD(s, @hasta, '19700101')
		  BEGIN
			INSERT  INTO @HorasTurno
			VALUES  (@d,@h)
			SET @d = @h
			SET @h = dateadd(hour,1, @d)
			
		  END		
	COMMIT TRANSACTION


	
	Select m.Id, m.Descripcion AS NOMBRE,-- convert(varchar(2),DATEPART(HOUR, [dbo].[ToLocalDateTime](FECHA_INICIO))) + ':00' as Hora,
	case 
when sum([TIEMPO_PLANIFICADO]) = 0 then 0
else CONVERT(NUMERIC(18,2),((sum([TIEMPO_OPERATIVO])/sum([TIEMPO_PLANIFICADO])) * 100)  )
end as Disponibilidad,
case 
when sum(TIEMPO_OPERATIVO) = 0 then 0
else CONVERT(NUMERIC(18,2),((sum(TIEMPO_NETO)/sum(TIEMPO_OPERATIVO)) * 100)  )
end as Eficiencia,
case 
--PCV2 when sum(TIEMPO_OPERATIVO) = 0 OR sum([TIEMPO_PLANIFICADO])=0 then 0
--PCV2 else CONVERT(NUMERIC(18,2),((sum([TIEMPO_OPERATIVO])/sum([TIEMPO_PLANIFICADO])) * (sum([TIEMPO_NETO])/sum([TIEMPO_OPERATIVO])) * 1.0)*100.0)
when sum(VELOCIDAD_NOMINAL) = 0 then 0
else CONVERT(NUMERIC(18,2),ISNULL((SUM(CONTADOR_PRODUCCION)/SUM(VELOCIDAD_NOMINAL))*100.0,0))
end as OEE
, CONVERT(NUMERIC(18,0),SUM(TIEMPO_PLANIFICADO)/60) AS TIEMPO_PLANIFICADO
, CONVERT(NUMERIC(18,0),SUM(TIEMPO_OPERATIVO)/60) AS TIEMPO_OPERATIVO
, CONVERT(NUMERIC(18,0),SUM(TIEMPO_NETO)/60) AS TIEMPO_NETO
,case when SUM(VELOCIDAD_NOMINAL) = 0 then 0 
 else CONVERT(NUMERIC(18,2),ISNULL((SUM(CONTADOR_PRODUCCION)/SUM(VELOCIDAD_NOMINAL))*100.0,0)) end 
 AS RENDIMIENTO

	From COB_MSM_PROD_LLENADORA_HORA Produccion
	INNER JOIN @HorasTurno Hora on Produccion.Hora = DatePart(Hour,HORA.inicio) and Convert(Date,Fecha_INICIO) = Convert(Date, Hora.inicio)
	INNER JOIN Maquinas m on Produccion.ID_MAQUINA = m.Id and M.Linea = @LINEA
	--WHERE ISNULL(Produccion.ID_ORDEN,'') != ''
	GROUP BY M.ID, M.Descripcion--, FECHA_INICIO

commit TRANSACTION
END
GO
