USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPerdidas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPerdidas]
	@idLinea as int,
	@idTurno as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	DECLARE @inicioTurno datetime,
		@finTurno datetime,
		@IdTipoParoMenor int

	SELECT
		@inicioTurno = InicioTurno,
		@finTurno = Finturno
	FROM dbo.Turnos
	WHERE Id = @idTurno

	SELECT
		@IdTipoParoMenor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Pérdida de producción'

	--COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 4 => 'Límite de no justificación de pérdidas de producción (s)' 
	DECLARE @TIEMPO AS INT = (SELECT VALOR_INT
							  FROM COB_MSM_PARAMETROS_LINEA_ADMIN PL
							  INNER JOIN COB_MSM_TIPOS_PARAMETRO P ON P.PARAMETRO_ID = PL.FK_PARAMETRO_ID
							  WHERE P.PARAMETRO_ID = 4 AND PL.FK_LINEA_ID = @idLinea)

	SELECT
		Id
		,[IdTipoParoPerdida]
		,[TipoParoPerdida]
		,[inicio]
		,[Fin]
		,[EquipoId]
		,[EquipoNombre]
		,EquipoDescripcion
		,[Justificado]
		,[MotivoId]
		,[MotivoNombre]
		,[CausaId]
		,[CausaNombre]
		,[Observaciones]
		,[MaquinaCausaId] AS [MaquinaCausaId]
		,[MaquinaCausaNombre] AS [MaquinaCausaNombre]
		,[EquipoConstructivoId]
		,[EquipoConstructivoNombre]
		,[Descripcion]
		,NumeroParosMenores
		,DuracionParosMenores
		,DuracionBajaVelocidad AS DuracionBajaVelocidad
	FROM [dbo].ParosPerdidas
	WHERE IdLinea = @idLinea
	AND [Inicio] >= @inicioTurno
	AND [fin] <= @finTurno
	AND [IdTipoParoPerdida] = @IdTipoParoMenor
	AND DuracionBajaVelocidad + DuracionParosMenores >= @TIEMPO
	ORDER BY inicio DESC
COMMIT TRANSACTION; 
END
GO
