USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerHorasContingencias]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerHorasContingencias]
	-- Add the parameters for the stored procedure here
    @fecha bigint,
	@turno tinyint,
	@linea varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		declare @horamin as int
		declare @horamax as int

		SELECT Top 1 @horamin=DATEPART(Hour,InicioTurno), @horamax=DATEPART(Hour,FinTurno)-1
		  FROM [dbo].[Turnos]
		  where datediff(s, '1970-1-1' ,convert(date, Fecha)) =@fecha+3600 and 
		  IdTipoTurno=@turno and linea like '%' + @linea +'%'

		  print @horamin
		  print @horamax

		  Select Hora as ID, Hora as Hora,
		  ISNULL(ENVASES_LLENADORA,0) as 'eLlenadora',
		  ISNULL(ENVASES_PALETIZADORA,0) as 'pPaletizadora',
		  ISNULL(ENVASES_RECHAZADOS,0) AS 'rLlenadora',
		  0 AS rPaletizadora,
		  idturno as Turno,
		  FECHA as Fecha
		  from [dbo].[ProduccionHoras]
		  where hora between @horamin and @horamax and datediff(s, '1970-1-1' ,convert(date, Fecha))=@fecha+3600
		  and Linea like '%' + @linea + '%' 
	COMMIT TRANSACTION; 
END
GO
