USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerAccionMejoraArranques]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerAccionMejoraArranques]
	-- Add the parameters for the stored procedure here
	@idMejora as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;


		SELECT [Id]
			  ,[Linea]
			  ,[DescripcionLinea]
			  ,[InicioReal]
			  ,[TipoTurnoId]
			  ,[TipoTurno]
			  ,[FechaTurno]
			  ,[IDProductoEntrante]
			  ,[ProductoEntrante]
			  ,[MinutosFinal1]
			  ,[MinutosFinal2]
			  ,[MinutosObjetivo1]
			  ,[MinutosObjetivo2]
			  ,[TipoArranque]
			  ,NumLineaDescripcion
		  FROM [dbo].[OrdenesArranque]
			WHERE [Id] in (SELECT [ID_ARRANQUE]  collate Latin1_General_CI_AS
							FROM [ACCION_MEJORA_ARRANQUES] where FK_ACCION_MEJORA_ID = @idMejora)	
			ORDER BY [Linea],[TipoArranque],[InicioReal],[TipoTurno] DESC
	COMMIT TRANSACTION; 									

END
GO
