USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerRechazosTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Informe_ANA_4_ObtenerRechazosTurno]
	-- Add the parameters for the stored procedure here
	@Linea nvarchar(255),
	@desde bigint,
	@hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @idTurno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = DATEADD(s, @hasta, '19700101')

	SELECT
		@idTurno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	DECLARE @RechazosInspectorSalidaLlenadora INT;
	DECLARE @RechazosInspectorBotellasVacias INT;
	DECLARE @RechazosClasificadores INT;
	DECLARE @RechazosProductoTerminado INT;
	
	SELECT   ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Clasificador' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'CLASIFICADOR'
	
	UNION ALL

	SELECT  ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Vacíos' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'INSPECTOR_BOTELLAS_VACIAS'

	UNION ALL

	SELECT  ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Subtotal vacíos' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND (m.Clase = 'INSPECTOR_BOTELLAS_VACIAS' or m.Clase = 'CLASIFICADOR')

	UNION ALL

	SELECT   ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Llenadora' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'INSPECTOR_SALIDA_LLENADORA'

	UNION ALL

	SELECT   ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Producto_Terminado' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA')

	UNION ALL

	SELECT   ISNULL(SUM(CMH.CONTADOR_RECHAZOS),0) as Total,'Subtotal llenos' as Nombre,'Automatico' AS Tipo
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA','INSPECTOR_SALIDA_LLENADORA')	  	 
END
GO
