USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEquiposSinLote_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEquiposSinLote_FAB]
	-- Add the parameters for the stored procedure here
	@salaCoccion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @PATH AS VARCHAR(200) = (SELECT [equip_id] FROM [SITMesDb].[dbo].[BPMV_EQPT] WHERE [equip_pk] = @salaCoccion)


Select L.LocPK as ID, ISNULL(E.[Descripcion],'') + ' - ' + L.LocID as Equipo from [SITMesDB].[dbo].[MMvLocations] L
INNER JOIN [dbo].[Equipo_FAB] E ON E.ID = L.LocPath
WHERE --LocPK NOT IN (SELECT DISTINCT LocPK FROM [SITMesDB].[dbo].[MMvLots])
--AND 
ParentLocPK = (SELECT TOP 1 LocPK FROM [SITMesDB].[dbo].[MMvLocations] WHERE LOCPATH = @PATH)
AND E.Tipo_Ubicacion IN ('ALMACENAMIENTO_Y_CONSUMO','PREPARACION','ALMACENAMIENTO')
order by ISNULL(E.[Descripcion],'') asc

END
GO
