USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerSintesisCambios]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerSintesisCambios]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted


 Select [dbo].[ToLocalDateTime](AM.FECHA_ALTA) as FECHA_ALTA, [dbo].[ToLocalDateTime](OA.InicioReal) as Inicio, MinutosFinal1, MinutosFinal2, MinutosObjetivo1, MinutosObjetivo2, 
  AM.[DESCRIPCION_PROBLEMA], AM.[CAUSA], AM.[OBSERVACIONES], AM.USUARIO, am.ACCION_PROPUESTA, oa.ProductoEntrante, OA.ProductoSaliente, oa.IDProductoEntrante, oa.IDProductoSaliente,
  t.turno, CONVERT(VARCHAR(10), t.Fecha,103) as FECHA_TURNO, L.NumeroLinea NUMERO_LINEA, L.Descripcion DESCRIPCION_LINEA
  from [dbo].OrdenesCambio OA
  INNER JOIN Lineas L ON OA.IdLinea = L.Id
  INNER JOIN [dbo].[ACCION_MEJORA_CAMBIOS] AMA ON AMA.ID_CAMBIO = OA.Id
  INNER JOIN [dbo].[ACCION_MEJORA] AM ON AMA.FK_ACCION_MEJORA_ID = AM.ID_ACCION_MEJORA
  INNER JOIN DBO.Turnos T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId AND T.ID=@TURNO AND CONVERT(DATE,T.Fecha) = convert(Date,DATEADD(s, @FECHA, '19700101'))
  WHERE OA.IdLinea=@Linea


END


GO
