USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ENVIOINCIDENCIAS]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[MES_ENVIOINCIDENCIAS]
CREATE PROCEDURE [dbo].[MES_ENVIOINCIDENCIAS]
AS
BEGIN
-------------------------
-- Declaracion de variables
-------------------------
DECLARE @FechaUltimoEnvio as DateTime
DECLARE @CountFecha as int 
DECLARE @CountRec as int 
-------------------------
-- Init
-------------------------
set  @CountFecha = 0
set @CountRec = 0
--------------------------
-- Inicio
--------------------------
-- Comprobamos si hay registros en la tabla 
--------------------------


	SELECT  @CountFecha = count(1)
	FROM    [dbo].[INCIDENCIAS_FECHA_ENVIO] (NOLOCK)

	--------------------------
	-- si no hay registros insertamos la fecha
	--------------------------
	IF(@CountFecha =0)
	BEGIN
			INSERT INTO [dbo].[INCIDENCIAS_FECHA_ENVIO]
			SELECT	MAX (FECHA_CREACION)
			FROM	dbo.INCIDENCIAS(NOLOCK)
	END 
	---------------------------------------
	-- Comprobamos cual es la ultima fecha
	SELECT  @FechaUltimoEnvio = FECHA_CREACION
	FROM    [dbo].[INCIDENCIAS_FECHA_ENVIO] (NOLOCK)

	truncate table [dbo].[INCIDENCIAS_ENVIADAS]
	
	INSERT INTO  [dbo].[INCIDENCIAS_ENVIADAS]
	(
			 ID_INCIDENCIA
			,[USUARIO]
           ,[PANTALLA]
           ,[DESCRIPCION]
           ,[APLICACION]
           ,[FECHA_CREACION]
		   ,[EMAIL]
	)
	SELECT	 ID_INCIDENCIA
			,[USUARIO]
           ,[PANTALLA]
           ,[DESCRIPCION]
           ,[APLICACION]
           ,[FECHA_CREACION]
		   ,[EMAIL]
	FROM	dbo.INCIDENCIAS  (NOLOCK) LM
	WHERE  FECHA_CREACION > @FechaUltimoEnvio
	AND		NOT EXISTS
			(
				SELECT 1 
				FROM   [dbo].[INCIDENCIAS_ENVIADAS] LS
				WHERE LS.ID_INCIDENCIA = LM.  ID_INCIDENCIA

			)
			


	set  @CountRec = @@ROWCOUNT
	-- Si se han insertado registros actualizamos la feccha
	IF(@CountRec >0)
	BEGIN 

		SELECT  @FechaUltimoEnvio = FECHA_CREACION
		FROM   [dbo].[INCIDENCIAS_ENVIADAS] (NOLOCK)


		UPDATE [dbo].[INCIDENCIAS_FECHA_ENVIO]
		SET  FECHA_CREACION = @FechaUltimoEnvio

	END 

END
GO
