USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConsolidadoEtiquetadoraPalets]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConsolidadoEtiquetadoraPalets]
	-- Add the parameters for the stored procedure here
	@idTurno as int
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
BEGIN TRANSACTION;
		SELECT 
			h.ID_MAQUINA
			,COALESCE(SUM(CONTADOR_PRODUCCION),0) AS TotalPalets
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA h
		INNER JOIN maquinas m ON  m.Id = h.ID_MAQUINA
		INNER JOIN Turnos t on t.Id = h.SHC_WORK_SCHED_DAY_PK
		WHERE t.Id = @idTurno AND CLASE = 'ETIQUETADORA_PALETS' -- AND ISNULL(h.ID_ORDEN,'') != ''
		GROUP BY ID_MAQUINA
	COMMIT TRANSACTION; 
END
GO
