USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPicos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==================================================
-- Author:		Andrés
-- Create date: 29/07/2015
-- Description:	Obtiene los materiales de una planta
-- ==================================================
CREATE PROCEDURE [dbo].[MES_ObtenerPicos]
@turno as int
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	SELECT
	[IdPico]
	,[IdParticion]
	,[IdOrden]
	,[Cantidad]
	,[FechaTurno]
	,[TipoTurno]
	,Particiones.IdProducto AS [IdProducto]
	,Productos.Descripcion AS [Descripcion]
	FROM Picos
	INNER JOIN Particiones ON Particiones.Id = Picos.IdParticion
	INNER JOIN Productos ON Particiones.IdProducto = Productos.IdProducto
	WHERE IdTurno = @turno 
	ORDER BY [IdPico]

COMMIT TRANSACTION; 	


END
GO
