USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerSintesisArranques]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerSintesisArranques]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted


 Select  [dbo].[ToLocalDateTime](AM.FECHA_ALTA) as FECHA_ALTA, L.NumeroLinea AS NUMERO_LINEA, L.Descripcion DESCRIPCION_LINEA,[dbo].[ToLocalDateTime](OA.InicioReal) as Inicio,TA.DESC_ARRANQUE, MinutosFinal1, MinutosFinal2, MinutosObjetivo1, MinutosObjetivo2, 
  AM.[DESCRIPCION_PROBLEMA], AM.[CAUSA], AM.[OBSERVACIONES], AM.USUARIO,CONVERT(VARCHAR(10), t.Fecha,103) FECHA_TURNO, T.InicioTurno FECHA_INICIO_TURNO,OA.ProductoEntrante,OA.IDProductoEntrante,
  T.Turno
  from [dbo].[OrdenesArranque] OA
  INNER JOIN Lineas L ON OA.IdLinea = L.Id
  INNER JOIN TIPOS_ARRANQUE TA ON OA.TipoArranque = TA.ID_ARRANQUE
  INNER JOIN [dbo].[ACCION_MEJORA_ARRANQUES] AMA ON AMA.ID_ARRANQUE = OA.Id
  INNER JOIN [dbo].[ACCION_MEJORA] AM ON AMA.FK_ACCION_MEJORA_ID = AM.ID_ACCION_MEJORA
  INNER JOIN DBO.Turnos T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId AND T.ID=@TURNO AND CONVERT(DATE,T.Fecha) = convert(Date,DATEADD(s, @FECHA, '19700101'))
  WHERE OA.IdLinea=@Linea


END
GO
