USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiemposArranque]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTiemposArranque]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		SELECT 
			IdTiempoArranque,
			l.NumeroLinea as idLinea,
			l.Descripcion as DescLinea,
			IdProductoEntrante,
			ProductoEntrante,
			TipoArranque,
			Tobj1,
			Tobj2,
			Tm,
			-- TIEMPO_CALCULADO_2, -- agomezn 030816: modificado para 117 del Excel de incidencias
			ISNULL([TIEMPO_CALCULADO_2],0) AS [TIEMPO_CALCULADO_2],
			-- TIEMPO_PREACTOR, -- agomezn 030816: modificado para 117 del Excel de incidencias
			ISNULL([TIEMPO_PREACTOR],0) AS [TIEMPO_PREACTOR],
			DescArranque,
			l.NumeroLineaDescripcion,
			FormatoComunEntranteCodigo.PValue AS CodigoFormatoComunEntrante,
			FormatoComunEntranteDescripcion.PValue AS DescripcionFormatoComunEntrante,
			t.InhabilitarCalculo
		FROM TiemposArranque t
		INNER JOIN Lineas l on l.Nombre = t.LINEA
		INNER JOIN Materiales m ON t.IdProductoEntrante = m.IdMaterial
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunEntranteCodigo
			ON FormatoComunEntranteCodigo.DefVerPK = m.DefVerPK
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunEntranteDescripcion
			ON FormatoComunEntranteDescripcion.DefVerPK = m.DefVerPK
	COMMIT TRANSACTION; 
END
GO
