USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquina]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		@turno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT --substring(EquipoID,charindex('-EQ-',EquipoId)+4,6)
		MaquinaCausaNombre AS EquipoId
		,EquipoConstructivoNombre
		,P.Descripcion
		,CausaNombre
		,MotivoNombre
		,SUM(P.DuracionParoMayor) + SUM(P.DuracionParosMenores) + SUM(DuracionBajaVelocidad) AS duracion
		,C.ID_EQUIPO_CONSTRUCTIVO AS CodEC
	FROM ParosPerdidas P
	INNER JOIN Turnos t ON t.Id = P.Turno
	INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	LEFT JOIN EQUIPO_CONSTRUCTIVO C ON P.EquipoConstructivoId = C.IdObj
	WHERE L.Nombre = @Linea AND t.id = @turno
	--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', Inicio)
	--AND @FechaFin > DATEDIFF(s, '1970-1-1', Inicio)
	GROUP BY DescLinea
				,MaquinaCausaNombre
				,EquipoConstructivoNombre
				,CausaNombre
				,MotivoNombre
				,P.descripcion
				,C.ID_EQUIPO_CONSTRUCTIVO
	ORDER BY MaquinaCausaNombre ASC, duracion DESC
commit TRANSACTION
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquinaCausa]    Script Date: 01/06/2016 12:11:01 ******/
SET ANSI_NULLS ON
GO
