USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDetalleCurvaPorOrdenKOP_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis Anselmi
-- ALTER date: 2020-04-14
-- Description:	Se extrae el codigo de la web a procedimiento almacenado
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDetalleCurvaPorOrdenKOP_FAB]
	-- Add the parameters for the stored procedure here
	@OrderId int,
	@KopId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT DISTINCT
	KOP_CFG.IdObj AS PK,
	KOP_CFG.Label AS Label,
	KOP_CFG.Max_Value AS MaxValue,
	KOP_CFG.Min_Value AS MinValue,
	KOP_VAL.Valor AS Value,
	KOP_CFG.UOM AS UoM,
	KOP_CFG.[Index] AS IndexValue,
	KOP_DEF.DataType AS DataType,
	KOP_VAL.OrderID,
	KOP_VAL.KopID,
	KOP_CFG.Proccess,
	CAST(COALESCE([dbo].MES_ValidarKOPSMultivalorPorOrdenIdKOPSinRellenar(KOP_VAL.OrderID,KOP_VAL.KopID),1) AS BIT) AS KopsMultivalorSinRellenar,
	CAST(COALESCE([dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPFueraDeRango](KOP_VAL.OrderID,KOP_VAL.KopID),1) AS BIT)AS KopsMultivalorFueraRango

FROM
	 dbo.[COB_MSM_CURVAS_KOP_VAL] KOP_VAL
	INNER JOIN dbo.[COB_MSM_CURVAS_KOP_CFG] KOP_CFG  ON KOP_CFG.OrderID = KOP_VAL.OrderID AND KOP_CFG.KopID = KOP_VAL.KopID
	INNER JOIN dbo.[COB_MSM_CURVAS_KOP_DEF] KOP_DEF ON KOP_CFG.OrderID = KOP_DEF.OrderID AND KOP_DEF.KopID = KOP_CFG.KopID
	
WHERE 
	KOP_DEF.KopID		= KOP_CFG.KopID
	AND KOP_VAL.[Index] = KOP_CFG.[Index]
	AND KOP_VAL.KopID	= KOP_CFG.KopID
	AND KOP_VAL.OrderID = @OrderId
	AND KOP_VAL.KopID = @KopId
END
GO
