USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMaquinasZona]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ObtenerMaquinasZona]
	@linea as nvarchar(200),
	@zona as nvarchar(200)
AS
BEGIN
	--SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT 
			Maquinas.Id, 
			Maquinas.Nombre, 
			Maquinas.Descripcion,
			Maquinas.IdClase,
			Maquinas.Clase,
			Maquinas.Estado,
			Maquinas.Posicion,
			EAM.FecInicio as RowUpdated,
			Maquinas.RechazoManual,
			isnull(prpOrder.equip_prpty_value,'') as OrdenMaquina
		FROM Maquinas
		LEFT JOIN EstadoActualMaquinas EAM ON EAM.IdMaquina = Maquinas.Nombre 
		LEFT OUTER JOIN  [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY] prpOrder on prpOrder.equip_pk = Maquinas.PkEquipo and  prpOrder.[equip_prpty_id] = 'ORDER_ID'
		WHERE Maquinas.Zona = @zona AND Maquinas.Linea = @linea
		ORDER BY Maquinas.Posicion
	COMMIT TRANSACTION; 	
END
GO
