USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionLlenadoraHora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionLlenadoraHora]
	@idTurno as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;	
		SELECT
			m.Id as Nombre
			,h.HORA
			,COALESCE(SUM(h.[TIEMPO_PLANIFICADO]), 0) AS TiempoPlanificado
			,COALESCE(SUM(h.[TIEMPO_OPERATIVO]), 0) AS TiempoOperativo
			,COALESCE(SUM(h.[TIEMPO_BRUTO]), 0) AS TiempoBruto
			,COALESCE(SUM(h.[TIEMPO_NETO]), 0) AS TiempoNeto
			,COALESCE(SUM(h.[VELOCIDAD_NOMINAL]), 0) AS VelocidadNominal
			,COALESCE(SUM(h.[CONTADOR_PRODUCCION]), 0) AS EnvasesProducidos
			,COALESCE(SUM(h.[CONTADOR_RECHAZOS]), 0) AS ContadorRechazos
		FROM COB_MSM_PROD_LLENADORA_HORA h
		INNER JOIN Maquinas m ON m.Id = h.ID_MAQUINA
		INNER JOIN Turnos t
			ON t.Id = h.SHC_WORK_SCHED_DAY_PK
		WHERE h.SHC_WORK_SCHED_DAY_PK = @idTurno --AND ISNULL(h.ID_ORDEN,'') != ''
		GROUP BY h.HORA,m.Id
		ORDER by h.HORA
	COMMIT TRANSACTION; 
END
GO
