USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerCambios]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_5_ObtenerCambios]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Inicio nvarchar(255),
	 @Fin nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	set transaction isolation level read uncommitted


--SELECT convert(varchar(100),S.AÑO) + ' Semana ' + convert(varchar(100),S.SEMANA) as Fecha
--      ,CONVERT(INT,AVG([MinutosFinal1])) as 'Tiempo Real'
--      ,CONVERT(INT,AVG([MinutosObjetivo2])) as 'Tiempo Objetivo'
--  FROM [dbo].[OrdenesCambio] OC
--  LEFT JOIN [dbo].[SEMANAS] S ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO
--  where InicioReal between  convert(datetime,@Inicio) and  convert(datetime,@Fin) and [IdLinea] =@Linea
--  GROUP BY S.AÑO, S.SEMANA

  DECLARE @ini datetime = convert(datetime,@Inicio);
	DECLARE @find datetime = convert(datetime,@Fin);

	SELECT
		CONVERT(VARCHAR(100), S.AÑO) + ' Semana ' + CONVERT(VARCHAR(100), S.SEMANA) AS Fecha
		,ISNULL(CONVERT(INT, SUM([MinutosFinal1])), 0) AS 'Tiempo Final Llenadora'
		,ISNULL(CONVERT(INT, SUM([MinutosFinal2])), 0) AS 'Tiempo Final Paletizadora'
		,ISNULL(CONVERT(INT, SUM([MinutosObjetivo1])), 0) AS 'Tiempo Objetivo Llenadora'
		,ISNULL(CONVERT(INT, SUM([MinutosObjetivo2])), 0) AS 'Tiempo Objetivo Paletizadora'
	FROM [dbo].[SEMANAS] S
	LEFT JOIN [dbo].OrdenesCambio  OC ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO AND oc.IdLinea = @Linea
	WHERE @ini <= S.FIN AND @find >= S.INICIO
	GROUP BY S.AÑO, S.SEMANA
	ORDER BY S.SEMANA ASC
END
GO
