USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerEficienciaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerEficienciaTurno]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
		
	SELECT
		ROW_NUMBER() OVER (ORDER BY c.Fecha, c.IdTipoTurno ASC) AS ID
		,c.Fecha
		,c.FechaTurno
		,c.IdTipoTurno
		,AVG(c.Eficiencia) AS Eficiencia
		,CONVERT(DECIMAL(38, 10), NULL) AS Trend INTO #TempTrend
	FROM (SELECT
			CASE
				WHEN T.IdTipoTurno = 1 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' M'
				WHEN T.IdTipoTurno = 2 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' T'
				ELSE CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' N'
			END AS FechaTurno
			,0 AS Eficiencia
			,T.Fecha
			,T.IdTipoTurno
		FROM Turnos T
		WHERE T.Linea = @Linea
		AND @FechaInicio <= DATEDIFF(s, '1970-1-1', t.InicioTurno)
		AND @FechaFin > DATEDIFF(s, '1970-1-1', T.FinTurno) UNION ALL SELECT
			CASE
				WHEN T.IdTipoTurno = 1 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' M'
				WHEN T.IdTipoTurno = 2 THEN CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' T'
				ELSE CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' N'
			END AS FechaTurno
			,CASE
				WHEN TIEMPO_OPERATIVO = 0 THEN 0
				ELSE CONVERT(NUMERIC(18, 2), ((TIEMPO_NETO / TIEMPO_OPERATIVO) * 100))
			END AS Eficiencia
			,T.Fecha
			,T.IdTipoTurno
		FROM [dbo].COB_MSM_PROD_LLENADORA_HORA POT
		INNER JOIN [dbo].[Ordenes] O
			ON POT.ID_ORDEN = O.Id
		INNER JOIN [dbo].[Turnos] T
			ON T.Id = POT.SHC_WORK_SCHED_DAY_PK
		WHERE O.Linea = @Linea
		AND @FechaInicio <= DATEDIFF(s, '1970-1-1', POT.FECHA_INICIO)
		AND @FechaFin > DATEDIFF(s, '1970-1-1', POT.FECHA_INICIO)) C
	GROUP BY	c.Fecha
				,c.FechaTurno
				,c.IdTipoTurno


	--select * from #Temp_Regression

	DECLARE @sample_size INT;
 
	DECLARE @intercept  DECIMAL(38, 10);
	DECLARE @slope   DECIMAL(38, 10);
	DECLARE @sumX   DECIMAL(38, 10);
	DECLARE @sumY   DECIMAL(38, 10);
	DECLARE @sumXX   DECIMAL(38, 10);
	DECLARE @sumYY   DECIMAL(38, 10);
	DECLARE @sumXY   DECIMAL(38, 10);

	-- calculate sample size and the different sums
	SELECT
		@sample_size = COUNT(*)
		,@sumX = SUM(ID)
		,@sumY = SUM(Eficiencia)
		,@sumXX = SUM(ID * ID)
		,@sumYY = SUM(Eficiencia * Eficiencia)
		,@sumXY = SUM(ID * Eficiencia)
	FROM #TempTrend;

	-- output results
	--SELECT
	--  SampleSize   = @sample_size  
	-- ,SumRID    = @sumX   
	-- ,SumOrderQty   =@sumY   
	-- ,SumXX    = @sumXX   
	-- ,SumYY    = @sumYY   
	-- ,SumXY    = @sumXY;

	-- calculate the slope and intercept
	SET @slope =
				CASE
					WHEN @sample_size = 1 THEN 0 -- avoid divide by zero error
					ELSE (@sample_size * @sumXY - @sumX * @sumY) / (@sample_size * @sumXX - POWER(@sumX, 2))
				END;
	SET @intercept = (@sumY - (@slope * @sumX)) / @sample_size;

	-- calculate trend line
	UPDATE #TempTrend
	SET Trend = (@slope * ID) + @intercept;

	-- output results
	SELECT
		*
	FROM #TempTrend;
	DROP TABLE #TempTrend

--Select case 
--	When T.IdTipoTurno=1 Then convert(varchar(10),convert(date, POT.FECHA)) + ' Mañana'
--	When T.IdTipoTurno=2 Then convert(varchar(10),convert(date, POT.FECHA)) + ' Tarde'
--	Else convert(varchar(10),convert(date, POT.FECHA)) + ' Noche'
--end as FechaTurno, POT.[EFICIENCIA]
--From [dbo].[PRODUCCION_ORDEN_TURNO] POT
--INNER JOIN [dbo].[Ordenes] O ON POT.ORDEN = O.Id
--INNER JOIN [dbo].[Turnos] T on T.Id = POT.IdTurno
--where O.Linea = @Linea and @FechaInicio <= datediff(s, '1970-1-1' ,POT.Inicio) and @FechaFin >= datediff(s, '1970-1-1' ,POT.Inicio)

END
GO
