USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesLineaSemana]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 30-06-2020
-- Description:	Se obtienen las ordenes de una línea en una semana
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesLineaSemana]
	@linea nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @hoySinHora date = GETDATE(),
	@fechaInicio datetime,
	@fechaFin datetime = GETDATE(),
	@inicio time
  
	SET @fechaInicio = DATEADD(dd, 0 - (@@DATEFIRST + 5 + DATEPART(dw, @hoySinHora)) % 7, @hoySinHora)	
	
	SELECT TOP 1 @inicio = CAST(work_start AS time)
	FROM SITMesDB.dbo.SHCV_WORK_SCHED_DAY 
	WHERE work_date >= @fechaInicio AND work_date <= @fechaFin AND shc_working_time_id > 0
	ORDER BY work_start

	SET @fechaInicio = @fechaInicio + CAST(@inicio AS datetime)

	DECLARE @ID_CLASE_PALETIZADORA AS int;

	SELECT DISTINCT @ID_CLASE_PALETIZADORA = IdClase
	FROM Maquinas 
	WHERE Clase = 'PALETIZADORA'

    -- Tabla temporal donde se va a guardar el resultado
	DECLARE @resultado TABLE (PaletsWO int, CPBWO int, EnvasesWO int, OEEWO real)

	INSERT INTO @resultado
	SELECT
		COALESCE(SUM(R.CONTADOR_PRODUCCION), 0),
		COALESCE(SUM(R.CONTADOR_PRODUCCION * O.CajasPorPalet), 0),
		COALESCE(SUM(R.CONTADOR_PRODUCCION * O.EnvasesPorPalet), 0),
		CASE WHEN SUM(R.VELOCIDAD_NOMINAL) = 0 THEN 0 ELSE COALESCE(SUM(R.CONTADOR_PRODUCCION * O.EnvasesPorPalet) / SUM(R.VELOCIDAD_NOMINAL), 0) * 100 END
	FROM COB_MSM_PROD_RESTO_MAQ_HORA R
	LEFT JOIN Ordenes AS O ON O.Id = R.ID_ORDEN  
	LEFT JOIN MaquinasLineas AS ML ON ML.Id = R.ID_MAQUINA 
	WHERE R.ID_MAQUINA LIKE '%' + @linea + '%' AND 
		R.FECHA_INICIO >= @fechaInicio AND R.FECHA_FIN <= @fechaFin AND 
		R.ID_ORDEN IS NOT NULL AND R.ID_ORDEN <> '' AND R.SHC_WORK_SCHED_DAY_PK > 0 AND 
		ML.IdClase = @ID_CLASE_PALETIZADORA

	UPDATE TotalesSemanaCuadroMando
	SET 
		PaletsWO = R.PaletsWO,
		CPBWO = R.CPBWO,
		EnvasesWO = R.EnvasesWO,
		OEEWO = R.OEEWO
	FROM (SELECT PaletsWO, CPBWO, EnvasesWO, OEEWO
		  FROM @resultado) AS R
	WHERE TotalesSemanaCuadroMando.Linea = @linea
END
GO
