USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarInfoMESentProduccion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Daniel Salván
-- Create date: 13/10/2021
-- Description:	Actualiza la información de MES en la tabla tProduccion
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizarInfoMESentProduccion] 
	-- Add the parameters for the stored procedure here
	@FechaInicio DATETIME ='1900-01-01 00:00:00', 
	@FechaFin DATETIME = '9999-12-31 23:59:59'

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Declaración de variables
	DECLARE @Centro CHAR (3);
	DECLARE @CodPalet NVARCHAR (100);
	DECLARE @FecIniReal DATETIME;
	DECLARE @FecFinReal DATETIME;
	DECLARE @HorasMargenWO INT = 24;
	DECLARE @IdLinea NVARCHAR(255);
	DECLARE @IdParticion NVARCHAR(101);
	DECLARE @NumRegistros INT;
	DECLARE @tInformacionMateriales TABLE (DefId NVARCHAR(64), ClassName NVARCHAR(128), CodigoCaja NVARCHAR (10));  
	DECLARE @tInformacionWO TABLE (IdParticion NVARCHAR(101), IdLinea NVARCHAR(255), CodPalet NVARCHAR (100), CodCaja NVARCHAR (100), Clase NVARCHAR(128), FecIniReal DATETIME, FecFinReal DATETIME);
	DECLARE @tProduccionTemp TABLE (IdProduccion bigint, Linea NVARCHAR(100), Referencia NVARCHAR (100), EtiquetaCreatedAt DATETIME, ParticionWO NVARCHAR(101), SSCC NVARCHAR(101), idLotMes NVARCHAR(64), LineaProduccionJDE NVARCHAR(50), CodigoCaja NVARCHAR(100));
	DECLARE @tRelacionETQMESLineaJDE TABLE (Linea NVARCHAR(100), Maquina NVARCHAR(50), LineaJDE NVARCHAR(3), LineaMES NVARCHAR(2));

	-- Actualización de la fecha de inicio y de fin para que coincida con el horizonte de búsqueda de JDE
	SET @FechaInicio = [dbo].[CLR_DATETIME_ConvertLocalToUtc] (CONVERT(NVARCHAR,DATEADD(day,0,@FechaInicio),112));
	SET @FechaFin = [dbo].[CLR_DATETIME_ConvertLocalToUtc] (CONVERT(NVARCHAR,DATEADD(day,1,@FechaFin),112));

	-- Obtención de las etiquetas de la tabla tProduccion en el periodo indicado, inicializando el campo ParticionWO a null
	INSERT INTO @tProduccionTemp (IdProduccion, Linea, Referencia, EtiquetaCreatedAt, ParticionWO, SSCC, idLotMes, LineaProduccionJDE, CodigoCaja)
	SELECT [IdProduccion]
		, [Linea]
		, [Referencia] 
		, [EtiquetaCreatedAt]
		, NULL
		, [SSCC]
		, [idLotMes]
		, [LineaProduccionJDE]
		, [CodigoCaja]
	FROM [MES_MSM_Trazabilidad].[TRA].[tProduccion]
	WHERE IdStatus = 1 AND EtiquetaCreatedAt >= @FechaInicio AND EtiquetaCreatedAt <= @FechaFin 
	SET @NumRegistros = @@ROWCOUNT;

	-- Comprobación que la consulta ha devuelto datos
	IF @NumRegistros <> 0 
	BEGIN

		-- Obtención de los 3 primeros caracteres del SITE
		SET @Centro = (
			SELECT TOP (1) SUBSTRING(EQUIP_NAME,1,3) 
			FROM [SITMesDB].[dbo].[BPM_EQUIPMENT] AS E
			INNER JOIN [SITMesDB].[dbo].[BPM_EQUIPMENT_CLASS] AS C ON E.equip_class_lvl_pk = C.equip_class_lvl_pk
			WHERE EQUIP_CLASS_NAME = 'SITE');

		-- Se inserta en la tabla tInformacionMateriales la clase del material y el código de caja de las referencias que están en tProduccion 
		INSERT INTO @tInformacionMateriales (DefID, ClassName, CodigoCaja) 
		SELECT M.DefID
			,M.ClassName 
			,R.IdTipoFormato -- CodigoCaja
		FROM [SITMesDb].[dbo].[MMwDefinitionsEx] AS M
		INNER JOIN [MES_MSM].[dbo].[RelacionCodArticuloCodCaja] AS R ON M.DefID = R.CodigoExpedicion
		WHERE M.DefID IN (SELECT DISTINCT Referencia FROM @tProduccionTemp WHERE Referencia <> '000'); 

		-- Se inserta en la tabla tRelacionETQMESLineaJDE las conversiones de los códigos de etiquetadoras
		INSERT INTO @tRelacionETQMESLineaJDE (Linea, Maquina, LineaJDE, LineaMES) 
		SELECT R.[Linea]
			,R.[Maquina]
			,R.[LineaProducionJDE]
			,L.[ID_LINEA] 
		FROM [MES_MSM].[dbo].[RelacionETQMESLineaJDE] AS R
		INNER JOIN [dbo].[COB_MSM_LINEAS] AS L ON R.Linea = L.LINEA;

		-- Se inserta en la tabla tInformacionMES las particiones comprendidas entre el periodo indicado más el margen, esto es necesario para poder asignar etiquetas que se hayan generado antes o después de poner la WO en Producción.
		-- Las particiones que están producción la fecha de fin real es la hora de ejecución del procedimiento
		INSERT INTO @tInformacionWO (IdParticion, IdLinea, CodPalet, CodCaja, Clase, FecIniReal, FecFinReal)
		SELECT O.[pom_order_id] -- Id
			,L.ID_LINEA -- IdLinea
			,O.[matl_def_id] -- CodPalet
			,R.IdTipoFormato -- CodCaja
			,M.ClassName -- Clase
			,O.[actual_start_time] -- FecIniReal
			,CASE WHEN O.[pom_order_status_id] <> 'Producción' 
				THEN (O.[actual_end_time]) 
				ELSE (GETUTCDATE())
			END -- FecFinReal 
		FROM [SITMesDb].[dbo].[POMV_ORDR] AS O
		INNER JOIN [SITMesDb].[dbo].[POMV_ORDR_PRP] AS P ON O.pom_order_pk = P.pom_order_pk
		INNER JOIN [SITMesDb].[dbo].[POMV_ETRY] AS E ON O.pom_order_pk = E.pom_order_pk
		INNER JOIN [MES_MSM].[dbo].[COB_MSM_LINEAS] AS L ON E.equip_long_name = L.LINEA
		INNER JOIN [MES_MSM].[dbo].[RelacionCodArticuloCodCaja] AS R ON O.matl_def_id = R.CodigoExpedicion
		INNER JOIN [SITMesDb].[dbo].[MMwDefinitionsEx] AS M ON O.matl_def_id = M.DefId
		WHERE (P.[pom_custom_fld_name] = 'WO_PART_ID' AND ISNULL(CONVERT(INT, P.VAL), - 1) > 0) AND
		(O.pom_order_status_id = 'Producción' OR (O.pom_order_status_id IN ('Pausada', 'Finalizada', 'Cerrada') AND O.[actual_end_time] >= DATEADD (hour,-@HorasMargenWO, @FechaInicio) AND O.[actual_end_time] <= DATEADD (hour, @HorasMargenWO, @FechaFin)));

		-- Actualización del campo linea
		UPDATE @tProduccionTemp  
			SET Linea = 
				( CASE 
					WHEN ((SELECT COUNT (*) FROM @tRelacionETQMESLineaJDE WHERE LineaJDE = LineaProduccionJDE) = 1)
					THEN (SELECT LineaMES FROM @tRelacionETQMESLineaJDE WHERE LineaJDE = LineaProduccionJDE)
					ELSE (
						SELECT TOP 1 R.LineaMES
						FROM [dbo].[HistoricoMaquinas] AS H
						INNER JOIN @tRelacionETQMESLineaJDE AS R ON H.Linea = R.Linea
						WHERE H.Maquina IN (SELECT REPLACE ([Maquina], 'EQP', 'PAL') FROM @tRelacionETQMESLineaJDE WHERE LineaJDE = LineaProduccionJDE) AND FechaCambio < EtiquetaCreatedAt
						ORDER by H.FechaCambio DESC )
					END
				)
			WHERE Linea IS NULL
	
		-- Creación de un cursor para asignar las etiquetas que están comprendidas entre la fecha de inicio y fecha de fin de cada WO
		-- Las WO se recorreran según la fecha de fin empezando por la más antiguas
		DECLARE CursorRecorrerParticiones CURSOR FOR  
		SELECT
			IdParticion
			,IdLinea
			,CodPalet
			,FecIniReal 
			,FecFinReal 
		FROM @tInformacionWO
		-- Es necesario sumar un minuto a la fecha de fin porque puede pasar en ordenes en producción que la FecFinReal sea mayor que el parámetro
		WHERE FecFinReal >= @FechaInicio AND FecFinReal <= DATEADD (MINUTE, 1, @FechaFin) 
		ORDER BY FecFinReal;

		OPEN CursorRecorrerParticiones;  
		FETCH NEXT FROM CursorRecorrerParticiones INTO @IdParticion, @IdLinea, @CodPalet, @FecIniReal, @FecFinReal; 
		WHILE @@FETCH_STATUS = 0  
		   BEGIN  			
				UPDATE @tProduccionTemp
					SET [ParticionWO] = @IdParticion
					WHERE Linea = @IdLinea and Referencia = @CodPalet AND EtiquetaCreatedAt >= @FecIniReal AND EtiquetaCreatedAt <= @FecFinReal AND Referencia <> '000'
			  FETCH NEXT FROM CursorRecorrerParticiones INTO @IdParticion, @IdLinea, @CodPalet, @FecIniReal, @FecFinReal;  
		   END;  
		CLOSE CursorRecorrerParticiones;  
		DEALLOCATE CursorRecorrerParticiones; 

		-- Actualización del campo ParticionWO
		-- Las etiquetas de palets completos que no tienen WO se asignarán a la WO de la misma línea y producto cuya diferencia entre la fecha de generación de la etiqueta y la fecha de finalización de la WO sea menor
		UPDATE @tProduccionTemp
			SET [ParticionWO] = (SELECT TOP (1) IdParticion FROM @tInformacionWO AS W WHERE Referencia = W.CodPalet AND Linea = W.IdLinea AND EtiquetaCreatedAt >= DATEADD (hour,-@HorasMargenWO, W.FecIniReal) AND EtiquetaCreatedAt <= DATEADD (hour, @HorasMargenWO, W.FecFinReal) ORDER BY ABS(DATEDIFF (ss, W.FecFinReal, EtiquetaCreatedAt)))
			WHERE ParticionWO IS NULL AND Referencia <> '000';

		-- Actualización del campo idLotMes y CódigoCaja
		UPDATE @tProduccionTemp  
			SET [idLotMes]  = @Centro + '-03-' + (SELECT ClassName FROM @tInformacionMateriales as M WHERE M.DefId = Referencia)  + '-' + Referencia + '-ENV-' + REPLACE(REPLACE(REPLACE(CAST(CONVERT(VARCHAR(19),[dbo].[CLR_DATETIME_ConvertUtcToLocal] (EtiquetaCreatedAt), 120) AS VARCHAR(20)),'-',''),':',''),' ','') + '-' + SSCC
			, [CodigoCaja] = (SELECT CodigoCaja FROM @tInformacionMateriales as M WHERE M.DefId = Referencia)
			WHERE idLotMes IS NULL AND Referencia <> '000'; 

		-- Obtención del número de registros de palets de picos
		SET @NumRegistros = (SELECT COUNT(*) FROM @tProduccionTemp WHERE Referencia = '000');

		-- Comprobación que hay registros de palets de picos
		IF @NumRegistros <> 0 
		BEGIN
			-- Actualización del campo Particion WO
			-- Las etiquetas de palets de picos se asignarán a la WO de la misma línea y código de caja cuya diferencia entre la fecha de generación de la etiqueta y la fecha de finalización de la WO sea menor
			UPDATE @tProduccionTemp  
				SET [ParticionWO] = (SELECT TOP (1) IdParticion FROM @tInformacionWO as W WHERE CodigoCaja = W.CodCaja AND Linea = W.IdLinea AND EtiquetaCreatedAt >= DATEADD (hour,-@HorasMargenWO, W.FecIniReal) AND EtiquetaCreatedAt <= DATEADD (hour, @HorasMargenWO, W.FecFinReal) ORDER BY ABS(DATEDIFF (ss, W.FecFinReal, EtiquetaCreatedAt)))
				WHERE ParticionWO IS NULL AND Referencia = '000';

			-- Actualización del campo idLotMes
			UPDATE @tProduccionTemp  
				SET [idLotMes]  = (@Centro + '-03-' + (SELECT Clase FROM @tInformacionWO as W WHERE W.IdParticion = ParticionWO) + '-' + (SELECT CodPalet FROM @tInformacionWO as W  WHERE W.IdParticion = ParticionWO) + '-ENV-' + REPLACE(REPLACE(REPLACE(CAST(CONVERT(VARCHAR(19),[dbo].[CLR_DATETIME_ConvertUtcToLocal] (EtiquetaCreatedAt), 120) AS VARCHAR(20)),'-',''),':',''),' ','') + '-' + SSCC)
				WHERE ParticionWO IS NOT NULL AND Referencia = '000';
		END;

		-- Actualización de los registros que se han modificado en la tabla tProduccion
		UPDATE [MES_MSM_Trazabilidad].[TRA].[tProduccion]  
			SET [Linea] = Temporal.Linea 
			, [ParticionWO] = Temporal.ParticionWO
			, [idLotMes] = Temporal.idLotMes
			, [CodigoCaja] = Temporal.CodigoCaja
			, [LastModifiedMesAt] = GETUTCDATE()
			FROM [MES_MSM_Trazabilidad].[TRA].[tProduccion] AS Destino
			INNER JOIN @tProduccionTemp AS Temporal ON Temporal.IdProduccion = Destino.IdProduccion
			WHERE EXISTS (SELECT Temporal.Linea EXCEPT SELECT Destino.Linea)
				OR EXISTS (SELECT Temporal.ParticionWO EXCEPT SELECT Destino.ParticionWO)
				OR EXISTS (SELECT Temporal.idLotMes EXCEPT SELECT Destino.idLotMes);

		PRINT CONCAT ('Número de registros actualizados en tproduccion: ', @@ROWCOUNT);

	END;

END



GO
