USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_InsertarIncidencia]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[APP_InsertarIncidencia]
	-- Add the parameters for the stored procedure here	
	@usuario as varchar(50),
	@pantalla as varchar(100),
	@descripcion as varchar(2000),
	@aplicacion as varchar(1),
	@email as varchar(2000)
AS
BEGIN
	
	INSERT INTO INCIDENCIAS (USUARIO,PANTALLA,DESCRIPCION,APLICACION,FECHA_CREACION,EMAIL)
    VALUES (@usuario,@pantalla,@descripcion,@aplicacion,GetDate(),@email)

	SET NOCOUNT ON;

    
END
GO
