USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ALB_1_Propiedaes_ext_Matricula_SEL]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE  PROCEDURE [dbo].[Informe_ALB_1_Propiedaes_ext_Matricula_SEL]
	-- Add the parameters for the stored procedure here
     @MatriculaTractora nvarchar(10)
	 
AS
BEGIN

	SET NOCOUNT ON;

	----------------------
	-- Declararcion de variabnles
	-----------------------
	DECLARE @idTransporte  INT
	
	select @idTransporte =tra.IdTransporte
	from [MES_MSM_Trazabilidad].[TRA].[tTransporte] tra (NOLOCK)
	left JOIN [MES_MSM_Trazabilidad].[TRA].[tMatriculaTractora] mt (NOLOCK)
      ON tra.[IdMatriculaTractoraRemolque] = mt.IdMatriculaTractora
	    left join [MES_MSM_Trazabilidad].tra.tMatriculaTractoraRemolque mre (NOLOCK)
          on mre.IdMatriculaTractora = mt.IdMatriculaTractora
		   left JOIN [MES_MSM_Trazabilidad].tra.tMatriculaRemolque  mre22 (NOLOCK)
          ON mre22.IdMatriculaRemolque = mre.IdMatriculaRemolque
	 where   @MatriculaTractora =MatriculaTractora


	SELECT		ll.Propertyid,ll.PropValChar,ll.UomID
	FROM		[MES_MSM_Trazabilidad].[TRA].[tAlbaran] alb (NOLOCK),
				[MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicion] pos (NOLOCK),
				[MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicionLote] pos_lote (NOLOCK),
				[MES_MSM_Trazabilidad].[MAT].[vAllPropExtendbyLot]  ll (nolock)								
    WHERE	alb.IdAlbaran = pos.IdAlbaran
	AND		pos.idalbaranposicion = pos_lote.idalbaranposicion
	and		ll.lotid =  pos_lote.IdLote
	and		ll.prpGroupid ='Especial'	
	and     alb.idtransporte =@idTransporte
	


	

END
GO
