USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMaterialesProductoArranque]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerMaterialesProductoArranque]
	@linea as nvarchar(25), -- ID.SPLIT('.')[2]
	@id_prod as nvarchar(64) -- MMDefinitions.DefID
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	set transaction isolation level read uncommitted
	BEGIN TRANSACTION;
		DECLARE @BomName AS NVARCHAR(64);
		DECLARE @vel_nominal AS INT;
		DECLARE @palets AS INT;
		DECLARE @contenedoresPalet AS FLOAT;
		DECLARE @HORAS AS INT = 2;
		DECLARE @CONTENEDORES_PALET AS INT;
		DECLARE @BomPK AS INT

		SELECT  @vel_nominal = (VELOCIDAD_NOMINAL * @HORAS)
		FROM COB_MSM_PARAMETROS_LINEA_PRODUCTO
		where ID_PPR = 'PPR_'+@linea+'_'+@id_prod

		select @CONTENEDORES_PALET = CONVERT(INT,ParameterData) from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Cont_Palet'

		SELECT @contenedoresPalet = itsp.Numeric1
		FROM INTERSPEC.MSMIS.INTERSPC.ItSpProperty itsp
		where PropertyId = @CONTENEDORES_PALET AND itsp.PartNo = @id_prod AND itsp.Revision = dbo.f_get_att_rev(itsp.PartNo, NULL)

		SET @palets = round((@vel_nominal/@contenedoresPalet),0)
	
		SET @BomName = 'BOM_'+@linea+'_'+@id_prod;

		SELECT @BomPK = BomPK
		FROM SITMesDB.DBO.MMBomAlts
		WHERE BomAltName =  @BomName --AND BomPriority = 1 (SÓLO EN LOCAL)

		SELECT DISTINCT @id_prod as 'IdProd',
				MMD.DefID AS 'IdMaterial',
				MMD.Descript AS 'Name',
				CONVERT(INT, ROUND(@palets * ((MMBI.Quantity*dbo.convertUnits(UOM.UomName)) + ((MMBI.Scrap*(MMBI.Quantity*dbo.convertUnits(UOM.UomName)))/100)),0)) AS 'Units'
		FROM [SITMesDB].[dbo].[MMBomAlts] MMB
		INNER JOIN [SITMesDB].[dbo].[MMBomItemAlts] MMBI ON MMB.BomAltPK = MMBI.BomAltPK
		INNER JOIN [SITMesDB].[dbo].[MMDefinitions] MMD ON MMD.DefPK = MMBI.DefPK
		INNER JOIN [SITMesDB].[dbo].[MMvDefVers] DV ON MMD.DefPK = DV.DefPK
		INNER JOIN [SITMesDB].[dbo].[MMDefStatuses] MMDS ON MMDS.DefStatusPK = DV.DefStatusPK
		INNER JOIN [SITMesDB].[dbo].[MESUoMs] UOM ON UOM.UomPK = MMBI.UomPK
		WHERE MMB.BomPK = @BomPK AND MMDS.DefStatusID = 'APPROVED'
	COMMIT TRANSACTION; 
END
GO
