USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetTagValue]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure[dbo].[GetTagValue](@whereClausure nvarchar(max),@scannedText nvarchar(max),@getValues int)
as
BEGIN
	declare @sql as nvarchar(max),
			@aux as nvarchar(max),
			@param as nvarchar(max),
			@value nvarchar(max)

	set @param = '@result as nvarchar(max) OUTPUT'
	set @sql='
	declare @pivotValues as nvarchar(max),
			@item as nvarchar(max),
			@pivotSelect as nvarchar(max),
			@tagNameList as nvarchar(max),
			@tagName as nvarchar(max)

	declare c cursor  for
		SELECT CONCAT(''[''+Cast(Max(TagID) as nvarchar(max))+'']'','''') 
		FROM [PPA].[dbo].[TAG]
		WHere (IsThreshold = 1) and (' +@whereClausure+') GROUP BY TagName

	Open c
	Fetch from c into @item
	set @pivotValues = '''';
	set @pivotSelect = '''';
	set @tagNameList=Concat(LTRIM(RTRIM(Replace(Replace(Replace(Replace('''+@scannedText+''',''[TagName] like'',''''),''%'',''''),'''''''',''''),'' OR '','',''))),'','')
	
	while @@FETCH_STATUS = 0
	begin
		--Preparo la clausura para el Pivot
		set @pivotValues = @pivotValues + @item +'',''
		--Obtengo el nombre de cada tag para preparar el alias correspondiente en el Select
		set @tagName=RTRIM(LTRIM(substring(@tagNameList,0,CharIndex('','',@tagNameList)+1)))
		--Quito el nombre correspondiente de la lista de tags
		set @tagNameList=RTRIM(LTRIM(Replace(@tagNameList,@tagName,'''')))
		
		set @pivotSelect = @pivotSelect + ''Coalesce(Medida.''+@Item+'',0) ''+@tagName 
		Fetch from c into @item
	end

	Close c
	Deallocate c
	
	if '+Cast(@getValues as nvarchar)+' = 1
	begin
		if (@pivotValues <> '''')
		begin
			set @result=Left(@pivotValues,len(@pivotValues)-1)
		end
	end
	else
	begin
		if (@pivotSelect <> '''')
		begin
			set @result=Left(@pivotSelect,len(@pivotSelect)-1)	
		end
		--set @result=@pivotSelect
	end	'
	--print @sql
	exec sp_executesql @sql,@param,@result=@value OUTPUT
	Select @value
END;
GO
