USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPrevisionEstimadaEntradaConcesionario]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 13-05-2021
-- Description:	Se obtienen los datos de previsión estimada Entrada Concesionario (PSO)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPrevisionEstimadaEntradaConcesionario]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @inicial TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	DECLARE @operaciones TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	DECLARE @resultado TABLE (IdFila bigint, Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)

	DECLARE @incluirPrevision bit, 
		@dias int, 
		@fechaIni date, 
		@fechaFin date,
		@contFilas int, 
		@filas int, 
		@idFila bigint, 
		@fecha date, 
		@codigoCaja nvarchar(64), 
		@cantidad int

	-- Vemos si hay que incluir la previsión
	SELECT
		@incluirPrevision = Valor
	FROM dbo.StockVacioParametros
	WHERE Id = 3
	--set @incluirPrevision = 1

	SET @fechaIni = (SELECT GETDATE())
	SET @fechaFin = (SELECT DATEADD(DAY, 30, GETDATE()))

	-- Para todas las fechas y cajas guardamos cantidad 0
	WHILE (@fechaIni <= @fechaFin)
	BEGIN
		INSERT INTO @inicial
		SELECT DISTINCT
			@fechaIni, 
			IdCaja, 
			DescripcionCaja, 
			0
		FROM ProductosCajas
		WHERE IdCaja IN (SELECT DISTINCT IdCaja FROM ProductosCajas)

		SET @fechaIni = DATEADD(DAY, 1, @fechaIni);
	END

	--select * from @inicial

	IF @incluirPrevision = 1
	BEGIN
		-- Se obtiene el número de días para el cálculo de la media de previsión de retorno
		SELECT
			@dias = Valor
		FROM dbo.StockVacioParametros
		WHERE Id = 2

		SET @fechaIni = (SELECT DATEADD(DAY, -@dias, GETDATE()))
		SET @fechaFin = (SELECT GETDATE())
		DECLARE @fechaTemporal date = @fechaIni
		DECLARE @diasWeekend int = 0

		WHILE (@fechaTemporal <= @fechaFin)
		BEGIN
			IF DATENAME(weekday, @fechaTemporal) IN ('Saturday', 'Sunday')
			BEGIN
				SET @diasWeekend = @diasWeekend + 1
			END

			SET @fechaTemporal = DATEADD(DAY, 1, @fechaTemporal);
		END

		-- Se obtienen los datos de los SO para el periodo indicado
		INSERT INTO @operaciones
		SELECT Fecha, CodigoCaja, DescripcionCaja, Cantidad
		FROM dbo.StockVacioPrevision
		WHERE TipoApunte = 'SO' AND Fecha >= @fechaIni AND Fecha <= @fechaFin

		--select * from @operaciones

		DECLARE @cajas TABLE (IdFila bigint, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100))

		INSERT INTO @cajas
		SELECT DISTINCT 
			DENSE_RANK() OVER (ORDER BY P.IdCaja) IdFila,
			IdCaja,
			DescripcionCaja
		FROM ProductosCajas P

		SET @contFilas = 1
		SET @filas = (SELECT COUNT(*) FROM @cajas)
		SET @idFila = (SELECT MIN(IdFila) FROM @cajas)

		-- Se obtiene la media para cada código de caja
		WHILE @contFilas <= @filas
		BEGIN
			SELECT 
				@codigoCaja = CodigoCaja
			FROM @cajas
			WHERE IdFila = @idFila

			SELECT 
				@cantidad = SUM(Cantidad) / (@dias - @diasWeekend)
			FROM @operaciones
			WHERE CodigoCaja = @codigoCaja

			UPDATE @inicial
			SET Cantidad = @cantidad
			WHERE CodigoCaja = @codigoCaja
		
			SET @idFila = @idFila + 1
			SET @contFilas = @contFilas + 1;
		END

		--select * from @inicial
	END

	INSERT INTO @resultado
	SELECT ROW_NUMBER() OVER (ORDER BY Fecha, CodigoCaja), * 
	FROM @inicial

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @resultado)
	SET @idFila = (SELECT MIN(IdFila) FROM @resultado)

	-- Creamos o actualizamos los registros en nuestra tabla destino
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = Fecha,
			@codigoCaja = CodigoCaja,
			@cantidad = Cantidad
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioPrevision WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'PSO')
		BEGIN
			INSERT INTO dbo.StockVacioPrevision
			SELECT Fecha, CodigoCaja, DescripcionCaja, 'PSO', 
				CASE WHEN DATENAME(weekday, Fecha) IN ('Saturday', 'Sunday') THEN 0 ELSE Cantidad END
			FROM @resultado 
			WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			UPDATE dbo.StockVacioPrevision
			SET Cantidad = CASE WHEN DATENAME(weekday, @fecha) IN ('Saturday', 'Sunday') THEN 0 ELSE @cantidad END              
			WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'PSO'
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

	-- Para la fecha actual se guarda como PSO la resta de la cantidad de PSO - SO. 
	-- Si el SO es mayor se guarda 0
	SET @fecha = (SELECT GETDATE())

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @cajas)
	SET @idFila = (SELECT MIN(IdFila) FROM @cajas)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@codigoCaja = CodigoCaja
		FROM @cajas
		WHERE IdFila = @idFila

		SELECT 
			@cantidad = Cantidad
		FROM dbo.StockVacioPrevision
		WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'SO'

		UPDATE dbo.StockVacioPrevision
		SET Cantidad = CASE WHEN DATENAME(weekday, @fecha) IN ('Saturday', 'Sunday') OR @cantidad > Cantidad THEN 0 ELSE (Cantidad - @cantidad) END              
		WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'PSO'
		
		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

END
GO
