USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_2_ObtenerParosLlenadoraMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_2_ObtenerParosLlenadoraMaquina]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
SELECT DISTINCT 
--'Linea ' + convert(varchar(100),L.numeroLinea) + ' - ' + L.Descripcion as Linea,
		P.EquipoDescripcion as Linea,
		[dbo].[ToLocalDateTime](Inicio) as FechaTurno,
		NombreTipoTurno,
	   --case
	   --when [NombreTipoTurno]='Morning' then 'Mañana'
	   --when NombreTipoTurno = 'Afternoon' then 'Tarde'
	   --when NombreTipoTurno = 'Night' then 'Noche'
	   --else 'Turno no productivo' end as NombreTipoTurno,
	   --substring([MaquinaCausaId],charindex('-EQ-',[MaquinaCausaId])+4,6) 
	   MaquinaCausaNombre as [MaquinaCausaId],
	   [MotivoNombre],
	   [CausaNombre],
	   EquipoConstructivoNombre as [EquipoConstructivoId],
	   CASE
	   WHEN IdTipoParoPerdida = 1 THEN isnull(sum(P.DuracionParoMayor),0)
	   WHEN IdTipoParoPerdida = 2 THEN isnull(sum(P.DuracionParosMenores),0) + isnull(sum(P.DuracionBajaVelocidad),0) END AS Duracion,
	   --isnull(sum(P.DuracionParoMayor),0) + isnull(sum(P.DuracionParosMenores),0) + isnull(sum(P.DuracionBajaVelocidad),0) as Duracion,
	   EC.ID_EQUIPO_CONSTRUCTIVO AS CodEC,
	   TipoParoPerdida as TipoParoPerdida,
	   P.Descripcion as Descripcion,
	   Observaciones as Observaciones
	   From [dbo].[ParosPerdidas] P
	   INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	   LEFT JOIN EQUIPO_CONSTRUCTIVO EC ON P.EquipoConstructivoId = EC.IdObj
	 Where L.Nombre = @Linea 
	 and @FechaInicio <= datediff(s, '1970-1-1' ,Inicio) 
	 and @FechaFin >= datediff(s, '1970-1-1' ,Inicio)
	 group by MaquinaCausaNombre, P.EquipoDescripcion, /*L.numeroLinea,L.Descripcion,*/ Inicio, [NombreTipoTurno], [MotivoNombre],
	   [CausaNombre], P.TipoParoPerdida, P.IdTipoParoPerdida,
	   EquipoConstructivoNombre, Ec.ID_EQUIPO_CONSTRUCTIVO,P.Descripcion,Observaciones
	   order by [MaquinaCausaId], FechaTurno asc

END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_2_ObtenerParosTotales]    Script Date: 01/06/2016 12:12:15 ******/
SET ANSI_NULLS ON
GO
