USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[ImportCOBDatas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ImportCOBDatas]
as
begin
	Begin Try
		--Use MES_MSM
		Declare @CompleteName nvarchar(max)
		Declare @tempCompleteName nvarchar(max)
		Declare @SITTable nvarchar(max)
		Declare @SITType nvarchar(max)
		Declare @Query nvarchar(max) = N''
		Declare @columns nvarchar(max)
	
		set @columns = ''
	
		Declare c cursor for
				select 
				TABLE_NAME CompleteName,
				SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1) SITTable,				
					SUBSTRING(SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1),0,CHARINDEX('$',SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1))-1) SITType
				,'temp_' +  SUBSTRING(SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1),0,CHARINDEX('$',SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1))-1)  Temp_Tempname
				from SITMesDb.INFORMATION_SCHEMA.TABLES SIT			
				WHERE TABLE_CATALOG = 'sitMesDb' and TABLE_NAME like '%COB%$'

		Open C

		fetch next from c into @CompleteName,@SITTable,@SITType,@tempCompleteName

		Begin Transaction t
			while @@FETCH_STATUS = 0
			begin
				select @columns = @columns + COLUMN_NAME + ','
				from SITMesDb.INFORMATION_SCHEMA.COLUMNS SIT			
				WHERE TABLE_CATALOG = 'sitMesDb' and TABLE_NAME = @CompleteName and COLUMN_NAME NOT LIKE '$%'

				set @query = 'SELECT '+SubString(@columns,0,LEN(@Columns))+' INTO  ##'  + @tempCompleteName + ' FROM  SITMESDb.dbo.['  +  @CompleteName  + ']'		 
			
				execute sp_executesql @query;

				execute dbo.GetTableInJSON @tempCompleteName
			
				set @columns = ''

				fetch next from c into @CompleteName,@SITTable,@SITType,@tempCompleteName
			end

			close C
			Deallocate C
	END try
	Begin Catch
		Select ERROR_MESSAGE() msg,ERROR_LINE() line
		close C
		Deallocate C
		Rollback transaction t
	End Catch
end
GO
