USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ALB_1_Propiedaes_ext_SEL]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

--exec  [dbo].[Informe_ALB_1_Propiedaes_ext_SEL] 1041
CREATE  PROCEDURE [dbo].[Informe_ALB_1_Propiedaes_ext_SEL]
	-- Add the parameters for the stored procedure here
     @idalbaran int
	 
AS
BEGIN

	SET NOCOUNT ON;


	SELECT		ll.Propertyid,ll.PropValChar,ll.UomID
	FROM		[MES_MSM_Trazabilidad].[TRA].[tAlbaran] alb (NOLOCK),
				[MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicion] pos (NOLOCK),
				[MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicionLote] pos_lote (NOLOCK),
				[MES_MSM_Trazabilidad].[MAT].[vAllPropExtendbyLot]  ll (nolock)
    WHERE	alb.IdAlbaran = pos.IdAlbaran
	AND		pos.idalbaranposicion = pos_lote.idalbaranposicion
	and		ll.lotid =  pos_lote.IdLote
	and		ll.prpGroupid ='Especial'
	and     alb.idalbaran =@idalbaran
	


END
GO
