USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaWOEquiposZona]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[MES_ActualizaWOEquiposZona]
	-- Add the parameters for the stored procedure here
	@idZona varchar(200),
	@idOrden varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY]
	SET [equip_prpty_value] = @idOrden
	WHERE [equip_prpty_id] = 'ORDER_ID' 
	AND [equip_pk] in (SELECT eq.equip_pk FROM [SITMesDb].[dbo].[BPM_EQUIPMENT_PROPERTY] prp inner join SITMesDB.dbo.BPM_EQUIPMENT eq 
							on eq.equip_pk = prp.equip_pk and eq.equip_in_plant = 1 WHERE [equip_prpty_id] = 'ZONA_ID' AND [equip_prpty_value] = @idZona)

END
GO
