USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPlanificacionCocciones]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec [dbo].[MES_ObtenerPlanificacionCocciones]  '2018-10-21', '2018-10-23',''
-- =============================================
-- Author:		
-- Create date: 
-- Description:	Obtener planificación cocciones con consulta a Manugistics
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPlanificacionCocciones]
	-- Add the parameters for the stored procedure here	
	@fIni as nvarchar(max), 
	@fFin as nvarchar(max), 
	@planta as nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @finidat datetime
	declare @ffindat datetime
	--Ejemplo:
	--@fIni = '2018-01-01'
	--@fFin = '2018-12-01'
	--@planta = '8030'


	--set @finidat = @fIni + '00:00:00'

	--set @ffindat = @fFin + '23:59:59'

	declare @fIniJuliano int = dbo.GregorianoToJuliano(@fIni)
	declare @fFinJuliano int = dbo.GregorianoToJuliano(@fFin)

	declare @fIniDatetime datetime = CONVERT(datetime,@fIni,102)
	declare @fFinDatetime datetime = CONVERT(datetime,@fFin,102)

	--select @fIniDatetime,@fFinDatetime

	DECLARE @pr TABLE (PartNo NVARCHAR(20) PRIMARY KEY, Description NVARCHAR(255))

	declare @manu as table(id int, diaJuliano int, codigo NVARCHAR(256), quantity int, tipo nvarchar(max), planta int, Semana int, Fecha datetime)

	declare @Final as table(codigo NVARCHAR(256), descript nvarchar(max), Total float)
	DECLARE @CodigoPlanta AS NVARCHAR(13);
	IF (@@SERVERNAME = 'VMSITTEST')
	BEGIN
		SET @CodigoPlanta = '        8030'
	END
	ELSE
	BEGIN
		SET @CodigoPlanta = [dbo].[MES_ObtenerCodigoPlanta] ()
	END
	
	--declare @manu as table(id int, diaJuliano int, codigo int, quantity int, tipo nvarchar(max), planta int, Semana int, Fecha datetime)
	insert into @manu
	exec [dbo].[PRE_OrdenesPlanificadasManugisticsV2] @CodigoPlanta, @fIniJuliano, @fFinJuliano   --'        8030'


	--select  d.*,v.Cerveza_envasar AS idCzaEnv
	--from @manu d
	--	INNER JOIN [INTERSPEC].[MSMIS].[dbo].[VISUnidadExpedicion] v ON  v.CodigoExpedicion COLLATE DATABASE_DEFAULT = d.codigo ;
	insert into @Final
	select manu.codigo, def.descript, (SUM(manu.quantity/100)) AS total--, rel.Czh
	from @manu manu
		inner join sitmesdb.dbo.mmdefinitions def (NOLOCK) on def.defid = convert(nvarchar(max),manu.codigo)
		inner join sitmesdb.dbo.mmdefvers v  (NOLOCK)  on v.defpk = def.defpk
		--inner join mes_msm.dbo.RelPackingWOHighBeer_COB_ArticlesParametersWP rel ON  rel.DefID = convert(nvarchar(max),manu.codigo)
	group by manu.codigo, def.descript--, rel.Czh


	select f.codigo, f.descript, (f.total) * (pr.EnvasesPorPalet * pr.HectolitrosEnvases)  as Total
	from @Final f, INTERSPEC.MSMIS.dbo.vUE_ProductoHL pr (NOLOCK)
	where pr.partno   =f.codigo  COLLATE modern_spanish_ci_as
	
		
END
GO
