USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[PRE_ObtenerOrdenesPlanificadasManugistics]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[PRE_ObtenerOrdenesPlanificadasManugistics]
	@fechaInicial DATETIME,
	@fechaFinal DATETIME
AS

BEGIN
	SET NOCOUNT ON;
	--SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

--################### INICIO CONSULTA A MANUGISTICS ###################--
		DECLARE @WAMMCU FLOAT		= CONVERT(FLOAT, [dbo].[MES_ObtenerCodigoPlanta]());
		DECLARE @WADRQJ_min FLOAT	= dbo.GregorianoToJuliano(@fechaInicial);
		DECLARE @WADRQJ_max FLOAT	= dbo.GregorianoToJuliano(@fechaFinal);

		DECLARE @MANUGIS NVARCHAR(100) = (CASE WHEN @@SERVERNAME = 'VMSITTEST' THEN 'JDE.PRODDTA.F4801' ELSE 'S4405712.PRODDTA.F4801' END) ;
		DECLARE @F8401 TABLE(WALITM FLOAT, WATRT NVARCHAR(255), WADRQJ FLOAT, WAUORG FLOAT)
		DECLARE @JDE_SQL NVARCHAR(2000) = 'SELECT * FROM OPENQUERY(JDE,
			''SELECT WALITM, WATRT, WADRQJ, WAUORG
				FROM ' + @MANUGIS + '
				WHERE
					WADCTO = ''''WO''''
					AND WAMMCU = ' + CONVERT(NVARCHAR(50), @WAMMCU) + '
					AND WADRQJ BETWEEN ' + CONVERT(NVARCHAR(50), @WADRQJ_min) + ' AND ' + CONVERT(NVARCHAR(50), @WADRQJ_max) + '
					AND WASRST = 10
					AND WAUOM IN (''''PL'''', ''''MD'''')
		'')';
	
		INSERT INTO @F8401
		EXEC (@JDE_SQL);

		WITH DATOS AS (
			SELECT
				CONVERT(NVARCHAR(64), WALITM) AS idPaleta,
				CONVERT(INT, dbo.MES_GetProductionLine(LTRIM(RTRIM(WATRT)))) AS numLinea,
				[dbo].[JulianoToGregorianoDatetime](WADRQJ) AS fecha,
				WAUORG AS cantidad
			FROM @F8401
		), POR_SEMANA AS (
			SELECT
				d.numLinea AS numLinea,
				d.idPaleta AS idPaleta,
				(-- CONVERTIR EN JOIN SI SOLO HAY UN ITEM POR PALETA, SIN EXCEPCIONES
					SELECT TOP 1 v.ID_TipoFormato
					FROM [INTERSPEC].[MSMIS].[dbo].[VISUnidadExpedicion] v
					WHERE v.CodigoExpedicion COLLATE modern_spanish_ci_as = d.idPaleta
					--SELECT TOP 1 item
					--FROM PPR_FAB f
					--WHERE f.DefID = d.idPaleta
					--f.item
				) AS idItem,
				(-- CONVERTIR EN JOIN SI SOLO HAY UN ITEM POR PALETA, SIN EXCEPCIONES
					SELECT 
						(CASE WHEN CHARINDEX('-', hb.CZAEnv) > 1 
							THEN SUBSTRING(hb.CZAEnv, 1, CHARINDEX('-', hb.CZAEnv) - 1)
							ELSE NULL
						END)
					FROM dbo.REL_PackingWo_HighBeer hb
					WHERE hb.PackingArticleID = d.idPaleta
				) AS idCzaEnv,
				s.AÑO AS numAnyo,
				s.SEMANA AS numSemana,
				d.cantidad AS cantidad
			FROM DATOS d
				INNER JOIN dbo.SEMANAS s ON DATEADD(dd, DATEDIFF(dd, 0, d.fecha), 0) BETWEEN s.INICIO AND s.FIN
				--LEFT JOIN PPR_FAB f ON f.DefID = d.idPaleta
		)
		SELECT numLinea, idPaleta, idItem, idCzaEnv, numAnyo, numSemana, SUM(cantidad) AS cantidad
		FROM POR_SEMANA
		GROUP BY numLinea, idPaleta, idItem, idCzaEnv, numAnyo, numSemana;
--################### FINAL CONSULTA A MANUGISTICS ###################--

END
GO
