USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParos] 
	@idLinea as nvarchar(200),
	@idTurno as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	DECLARE @inicioTurno datetime,
		@finTurno datetime, 
		@IdTipoParo int

	SELECT
		@inicioTurno = InicioTurno,
		@finTurno = Finturno
	FROM dbo.Turnos
	WHERE Id = @idTurno

	SELECT
		@IdTipoParo = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Paro Mayor'

	SELECT
		[Id]
		,[IdTipoParoPerdida]
		,[TipoParoPerdida]
		,[Inicio]
		,[Fin]
		,[EquipoId]
		,[EquipoNombre]
		,EquipoDescripcion
		,[MotivoId]
		,[MotivoNombre]
		,[CausaId]
		,[CausaNombre]
		,[Justificado]
		,[Observaciones]
		,[MaquinaCausaId]
		,[MaquinaCausaNombre]
		,[EquipoConstructivoId]
		,[EquipoConstructivoNombre]
		,[Descripcion]
	FROM [ParosPerdidas]
	WHERE IdLinea = @idLinea
	AND [Inicio] >= @inicioTurno
	AND [fin] <= @finTurno
	AND [IdTipoParoPerdida] = @IdTipoParo
	ORDER BY [Inicio] DESC
COMMIT TRANSACTION; 
END
GO
