USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerParosPivotMayor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Informe_ANA_4_ObtenerParosPivotMayor]

--DECLARAMOS VARIABLES
@Linea nvarchar(255),
@desde bigint,
@hasta bigint


as
begin

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	
	DECLARE @d datetime
	DECLARE @h datetime

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = dateadd(hour,1, @d)

	BEGIN TRANSACTION
		
		WHILE @h <= DATEADD(s, @hasta, '19700101')
		  BEGIN
			INSERT  INTO @HorasTurno
			VALUES  (@d,@h)
			SET @d = @h
			SET @h = dateadd(hour,1, @d)
			
		  END		
	COMMIT TRANSACTION

	--select * from @HorasTurno
	--select '1' as fecha, 'a' as EquipoID, 1 as duracion


SELECT dbo.fnFormatDate([dbo].[ToLocalDateTime](H.inicio), 'YYYYMMDDH') as fecha , M.Descripcion as EquipoID,ISNULL((CONVERT(NUMERIC(18,0),(SUM(LL.TIEMPO_PLANIFICADO)-SUM(LL.TIEMPO_OPERATIVO))/60)),0) AS duracion
FROM @HorasTurno H
CROSS JOIN MAQUINAS M
INNER JOIN LINEAS L ON M.Linea = L.ID AND L.ID=@Linea
LEFT JOIN (
SELECT TIEMPO_PLANIFICADO, TIEMPO_OPERATIVO, SHC_WORK_SCHED_DAY_PK, HORA, ID_MAQUINA, FECHA_INICIO  FROM COB_MSM_PROD_LLENADORA_HORA
where SHC_WORK_SCHED_DAY_PK>0
	UNION ALL
	SELECT TIEMPO_PLANIFICADO, TIEMPO_OPERATIVO, SHC_WORK_SCHED_DAY_PK, HORA, ID_MAQUINA, FECHA_INICIO FROM COB_MSM_PROD_RESTO_MAQ_HORA
where SHC_WORK_SCHED_DAY_PK>0
) LL ON LL.ID_MAQUINA = M.Id AND LL.HORA = DATEPART(HOUR, H.inicio) AND CONVERT(DATE,LL.FECHA_INICIO) = CONVERT(DATE, H.inicio) 
GROUP BY dbo.fnFormatDate([dbo].[ToLocalDateTime](H.inicio), 'YYYYMMDDH') , M.Descripcion
--HAVING (SUM(LL.TIEMPO_PLANIFICADO)-SUM(LL.TIEMPO_OPERATIVO))/60 >0
ORDER BY dbo.fnFormatDate([dbo].[ToLocalDateTime](H.inicio), 'YYYYMMDDH') , M.Descripcion ASC
	COMMIT TRANSACTION

end
GO
