USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[NOT_CambiosMaquinas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ==================================================
-- Author:		Leandro
-- Create date: 29/07/2015
-- Description:	Obtiene los cambios de estado en las maquinas
-- ==================================================
CREATE PROCEDURE [dbo].[NOT_CambiosMaquinas]
@lastUpdate AS DATETIME
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	
	BEGIN TRANSACTION;	

		SELECT IdMaquina,Estado,Linea,Zona, FecInicio as FechaAct FROM EstadoActualMaquinas
		WHERE EstadoActualMaquinas.FecInicio > @lastUpdate

		--Maquinas que no aparecen en EstadoActualMaquinas -> Desconectadas	
		SELECT m.[Linea],m.[Zona],m.[Nombre]
		FROM [dbo].[Maquinas] m
		EXCEPT
		SELECT Linea, Zona, IdMaquina
		from EstadoActualMaquinas		
	COMMIT TRANSACTION;
END
GO
