USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_Insertar_Registro_OLTP]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Juan Carlos Gómez Mandujano
-- Create date: 23/02/2021
-- Description:	Obtiene las ordenes planificadas de fabricación (Se consulta desde la web)
-- =============================================
CREATE PROCEDURE [dbo].[MES_Insertar_Registro_OLTP]
	@orderID as int,
	@material as varchar(200),
	@cantidad as nvarchar(40),
	@unidCant as varchar(200),
	@tipoOrden as varchar(2),
	@fecha as datetime,
	@fabrica as nvarchar(400)
AS
BEGIN


IF (@tipoOrden = 'WP')
BEGIN  
		INSERT INTO [SSISDeltaV].[dbo].[OLTP_Coccion]
			   ([Fabrica]
			   ,[Modulo]
			   ,[Lote]
			   ,[Fecha]
			   ,[Dato_Descripcion]
			   ,[Dato_Valor]
			   ,[Dato_Unidad]
			   ,[Procesado]
			   ,[OrderID]
			   ,[Material]
			   ,[Cantidad]
			   ,[Fecha_Lote]
			   ,[Reprocessed]
			   ,[FracSec])
		 VALUES
			   (@fabrica
			   ,'MANUAL'
			   ,'MANUAL-'+ CONVERT(nvarchar(MAX),@fecha,105)
			   ,GETDATE()
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,@unidCant
			   ,1
			   ,@orderID
			   ,@material
			   ,@cantidad
			   ,@fecha
			   ,0
			   ,0)
END
ELSE IF (@tipoOrden = 'FL')
BEGIN
		INSERT INTO [SSISDeltaV].[dbo].[OLTP_Filtracion]
			   ([Fabrica]
			   ,[Modulo]
			   ,[Lote]
			   ,[Fecha]
			   ,[Dato_Descripcion]
			   ,[Dato_Valor]
			   ,[Dato_Unidad]
			   ,[Procesado]
			   ,[OrderID]
			   ,[Material]
			   ,[Cantidad]
			   ,[Fecha_Lote]
			   ,[Reprocessed])
		 VALUES
			   (@fabrica
			   ,'MANUAL'
			   ,'MANUAL-'+ CONVERT(nvarchar(MAX),@fecha)
			   ,@fecha
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,@unidCant
			   ,1
			   ,@orderID
			   ,@material
			   ,@cantidad
			   ,@fecha
			   ,0)
END
ELSE IF (@tipoOrden = 'TR')
BEGIN
		INSERT INTO [SSISDeltaV].[dbo].[OLTP_Transferencias]
			   ([Fabrica]
			   ,[Modulo]
			   ,[Lote]
			   ,[Fecha]
			   ,[Dato_Descripcion]
			   ,[Dato_Valor]
			   ,[Dato_Unidad]
			   ,[Procesado]
			   ,[OrderID]
			   ,[Material]
			   ,[Cantidad]
			   ,[Fecha_Lote]
			   ,[Reprocessed])
		 VALUES
			   (@fabrica
			   ,'MANUAL'
			   ,'MANUAL-'+ CONVERT(nvarchar(MAX),@fecha)
			   ,@fecha
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,'ARRANQUE DE ORDEN MANUAL'
			   ,@unidCant
			   ,1
			   ,@orderID
			   ,@material
			   ,@cantidad
			   ,@fecha
			   ,0)
END


END
GO
