USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesActivas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Obtiene las ordenes planificadas de una linea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesActivas]
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

		SELECT DISTINCT
			Particiones.Id,
			Particiones.Linea
		FROM 
			Particiones
			LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
		WHERE
			EstadoAct in ('Iniciando', 'Producción')
			AND Particiones.Linea IS NOT NULL

COMMIT TRANSACTION; 

END
GO
