USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenes_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis
-- Create date: 23/03/2020
-- Description:	Obtiene las ordenes planificadas de fabricación (Se consulta desde la web)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenes_FAB]
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	SELECT DISTINCT
		Orden.Cod_Orden					AS Pk,
		Orden.ID_Orden					AS Id,
		COALESCE(Orden.Des_Orden,'')	AS Descripcion,
		Orden.IdEstado					AS IdEstado,
		Orden.Cod_Material				AS CodMaterial,
		Materiales.Descripcion			AS DesMaterial,
		Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
		Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
		Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
		Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
		Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
		Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
		Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
		Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
		Orden.Cantidad_Material			AS CantidadMaterial,
		Orden.CantidadProducida			AS CantidadProducida,
		Orden.UOM_Material				AS UoMMaterial,
		Orden.TipoOrden					AS TipoOrden,
		IIF(Orden.TipoOrden IN ('FE','GU','PR','WP','FL')
			,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.Cod_Orden,Orden.TipoOrden)
			,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.ID_Orden,Orden.TipoOrden)
			)							AS Equipo,
		COALESCE(Kops.ACTL_VAL,'')  AS ColorSemaforo
	 FROM Ordenes_FAB Orden
			LEFT JOIN Materiales	ON Materiales.IdMaterial	= Orden.Cod_Material
			LEFT JOIN SITmesDB.DBO.POMV_ETRY Etry ON Etry.pom_order_id = Orden.ID_Orden
			INNER JOIN SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL Kops ON Kops.pom_entry_id = Etry.pom_entry_id AND  Kops.PARM_name like '%#ESTADO_KOPS'  	
	ORDER BY Orden.ID_Orden desc 
COMMIT TRANSACTION; 

END
GO
