USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaLineaArranqueCambio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizaLineaArranqueCambio]
	-- Add the parameters for the stored procedure here
	@orden varchar(200),
	@valor varchar(200)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

declare @pkLinea as int = (SELECT equip_pk FROM SITMesDB.dbo.BPM_EQUIPMENT WHERE [equip_id] = @valor)

UPDATE E
SET e.equip_pk = @pkLinea
FROM SITMesDB.dbo.POM_ENTRY E
INNER JOIN SITMesDB.dbo.POM_ORDER o ON o.pom_order_pk = E.pom_order_pk
where o.pom_order_id=@orden and E.order_extended_data = N'Y'

END
GO
