USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosTipoCambioArranqueOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[MES_ObtenerDatosTipoCambioArranqueOrden]
	@ordenId nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	
	BEGIN TRANSACTION;	
		--MES_ObtenerDatosTipoCambioArranqueOrdenV2

	select [CAMBIO_ARRANQ_TIPO],cast([CAMBIO_ARRANQ_FECHA] as datetime) as [CAMBIO_ARRANQ_FECHA],cast([CAMBIO_ARRANQ_FECHA_LLENADORA] as datetime) as [CAMBIO_ARRANQ_FECHA_LLENADORA],[ARRANQUE_ID]
	from
		(
			select POM_CUSTOM_FLD_NAME , VAL from
			 SITMesDB.[dbo].[POMV_ORDR_PRP]
			WHERE pom_order_id = @ordenId and POM_CUSTOM_FLD_NAME IN 
			('CAMBIO_ARRANQ_TIPO','CAMBIO_ARRANQ_FECHA','CAMBIO_ARRANQ_FECHA_LLENADORA','ARRANQUE_ID')
		) as tableX
	PIVOT  
		( Max(Val)  
		FOR POM_CUSTOM_FLD_NAME IN ([CAMBIO_ARRANQ_TIPO],[CAMBIO_ARRANQ_FECHA],[CAMBIO_ARRANQ_FECHA_LLENADORA],[ARRANQUE_ID])
		) AS PivotTable;  
	
	COMMIT TRANSACTION;	
END
GO
