USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCurvaKOP_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis Anselmi
-- ALTER date: 2020-04-14
-- Description:	Se extrae el codigo de la web a procedimiento almacenado
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerCurvaKOP_FAB]
	-- Add the parameters for the stored procedure here
	@OrderId INT,
	@Phase NVARCHAR(250),
	@Material NVARCHAR(250),
	@Area NVARCHAR(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT DISTINCT
	IdObj, 
	Name, 
	Datatype, 
	Enabled, 
	Phase, 
	KopType, 
	OrderID, 
	Area, 
	Proccess, 
	Material, 
	KopID
FROM 
	dbo.[COB_MSM_CURVAS_KOP_DEF] KOP_DEF 
	
WHERE 
	 KOP_DEF.OrderID = @OrderId
	AND KOP_DEF.Phase = @Phase
	AND KOP_DEF.Material = @Material
	AND KOP_DEF.Area = @Area
END

GO
