USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerWOenTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_4_ObtenerWOenTurno]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	--OEE LLENADORA

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
--set @linea = 'MSM.BURGOS.ENVASADO.B447'
--set @desde = convert(datetime,'2015-11-25T05:00:00',126)
--set @hasta = convert(datetime,'2015-11-25T13:00:00',126)



SELECT O.ID AS WO, O.IdProducto AS CodigoProducto, P.Descripcion as Producto 
  FROM [dbo].[Ordenes] O
  INNER JOIN Productos P on O.IdProducto = P.IdProducto
  WHERE O.Linea = @LINEA AND (
  	(FecIniReal >=  DATEADD(SECOND,@desde,'1970-01-01') and FecIniReal <=  DATEADD(SECOND,@hasta,'1970-01-01'))
		or
	(FecFinReal >=  DATEADD(SECOND,@desde,'1970-01-01') and FecFinReal <=  DATEADD(SECOND,@hasta,'1970-01-01'))
		or	
	(FecIniReal<=  DATEADD(SECOND,@desde,'1970-01-01') and FecFinReal >=  DATEADD(SECOND,@hasta,'1970-01-01'))
  )
  --AND o.FecIniReal <= DATEADD(SECOND,@desde,'1970-01-01') and O.FecFinReal >= DATEADD(SECOND,@hasta,'1970-01-01')
  commit TRANSACTION
END
GO
