USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnoPorFecha]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnoPorFecha]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@fecha as datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		SELECT top(1)
			Id
		  ,Linea
		  ,Fecha
		  ,InicioTurno
		  ,FinTurno
		  ,IdTipoTurno
		  ,Turno AS NombreTipoTurno
		FROM Turnos 
		where [Linea]=@idLinea and @fecha BETWEEN InicioTurno AND FinTurno		
		order by InicioTurno desc
	COMMIT TRANSACTION;
END
GO
