USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDetalleMateriales]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 29-01-2020
-- Description:	Se obtiene el detalle de materiales de un producto
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDetalleMateriales]
	@codigoProducto nvarchar(64)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		pe.ExecEquipList_ExecEquipLongName AS Linea,
		mf.DefID AS IdMaterial,
		bi.ItemAltName AS NombreMaterial,
		bi.Quantity AS Cantidad,
		uo.UomID AS UnidadMedida
	FROM SITMesDb.dbo.MMDefinitions md
	INNER JOIN SITMesDb.dbo.MMvBomsWithAlts ba ON md.DefPK = ba.DefPK
	INNER JOIN SITMesDb.dbo.MMBomItemAlts bi ON ba.BomAltPK = bi.BomAltPK
	INNER JOIN SITMesDb.dbo.MMDefinitions mf ON bi.DefPK = mf.DefPK
	INNER JOIN SITMesDb.dbo.MESUoMs uo ON bi.UomPK = uo.UomPK
	INNER JOIN SITMesDb.dbo.PDefM_PPR pp ON ba.BomAltName = pp.PPR_FinalMaterialBOMId 
	INNER JOIN SITMesDb.dbo.PDefM_PS_ExecEquipList pe ON pp.PPR = pe.ExecEquipList_PPR
	WHERE md.DefID = @codigoProducto
END
GO
