USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerOEEs]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerOEEs]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint,
	 @OEEMin int,
	 @OEEMax int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT  Id
	INTO #TEMP_TURNO
	FROM Turnos
	WHERE [Linea] = @Linea AND  @d <= InicioTurno 
		AND @h >= FinTurno 
		AND LOWER(Turno) <> 'nowork'

SELECT DISTINCT FECHATURNO, CONVERT(NUMERIC(18,2),AVG(OEE)) as OEE, convert(numeric(18,2),avg(OBJETIVO)) AS OEEOBJETIVO, SHC_WORK_SCHED_DAY_PK as Turno, FECHA AS FECHA
FROM 
(Select distinct
case 
	When T.IdTipoTurno=1 Then convert(varchar(10),convert(date, T.FECHA)) + ' Mañana'
	When T.IdTipoTurno=2 Then convert(varchar(10),convert(date, T.FECHA)) + ' Tarde'
	Else convert(varchar(10),convert(date, T.FECHA)) + ' Noche'
end as FechaTurno
, 
case 
--PCV2 when sum(TIEMPO_OPERATIVO) = 0 OR sum([TIEMPO_PLANIFICADO])=0 then 0
--PCV2 else ((sum([TIEMPO_OPERATIVO])/sum([TIEMPO_PLANIFICADO])) * (sum([TIEMPO_NETO])/sum([TIEMPO_OPERATIVO])) * 1.0)*100.0
when sum([VELOCIDAD_NOMINAL]) = 0 then 0
else ((sum([CONTADOR_PRODUCCION])/sum([VELOCIDAD_NOMINAL])) * 1.0)*100.0
end as OEE
, avg(PL.OEEObjetivo) AS OBJETIVO, POT.SHC_WORK_SCHED_DAY_PK, datediff(s, '1970-1-1' ,convert(date, T.FECHA)) as FECHA
From [dbo].COB_MSM_PROD_LLENADORA_HORA POT
INNER JOIN [dbo].[Ordenes] O ON POT.ID_ORDEN = O.Id
LEFT JOIN [dbo].[ParametrosLinea] PL ON PL.PPR = O.PPR
INNER JOIN [dbo].[Turnos] T on T.Id = POT.SHC_WORK_SCHED_DAY_PK
INNER JOIN #TEMP_TURNO TEMP_T ON TEMP_T.Id = POT.SHC_WORK_SCHED_DAY_PK
where O.Linea = @Linea
GROUP BY T.FECHA, T.IdTipoTurno, POT.SHC_WORK_SCHED_DAY_PK) TAB
WHERE TAB.OEE <= @OEEMax and TAB.OEE >= @OEEMin
GROUP BY FechaTurno, FECHA,SHC_WORK_SCHED_DAY_PK
ORDER BY FECHA, SHC_WORK_SCHED_DAY_PK


DROP TABLE #TEMP_TURNO
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerParosSinAgrupar]    Script Date: 01/06/2016 12:20:32 ******/
SET ANSI_NULLS ON
GO
