USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ProductProductionRule]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ProductProductionRule](@area as nvarchar(20))
AS
BEGIN

	SET NOCOUNT ON;
	IF(@area LIKE 'FE')
	BEGIN
		SELECT Materiales.[IdMaterial]
			  ,Materiales.[Nombre]
			  ,Materiales.[Descripcion]
			  ,Materiales.[IdClase]
			  ,Materiales.[Clase]
			  ,Materiales.[Version]
			  ,Materiales.[Status]
			  ,Materiales.[UdMedida]
			  ,Materiales.[F_EfectivoDesde]
			  ,Materiales.[F_EfectivoDesdeUTC]
			  ,Materiales.[F_EfectivoHasta]
			  ,Materiales.[F_EfectivoHastaUTC]
			  ,Materiales.[EnUso]
			  ,Materiales.[Autor]
			  ,Materiales.[FechaCreacion]
			  ,Materiales.[FechaCreacionUTC]
			  ,Materiales.[FechaUltCreacion]
			  ,Materiales.[FechaUltCreacionUTC]
			  ,Materiales.[ModificadoPor]
			  ,Materiales.[InfoAdicional]
			  ,Materiales.[Tipo]
			  ,Materiales.[DescTipo]
			  ,Materiales.[PK_Material]
			  ,Materiales.[BOM] 
			  FROM 
		[MES_MSM].[dbo].[Materiales_FAB] AS Materiales
		INNER JOIN [SITMesDB].[dbo].[PDefM_PPR] AS DefM ON DefM.PPR_FinalMaterialId = Materiales.IdMaterial
		WHERE DefM.PPR like '%'+ @area +'%'
		AND DefM.PPR not like 'Default%' 
		AND DefM.PPR_TargetOrderLifeCycle = 'OM'
		AND (SELECT TOP (1) PropValChar FROM [SITMesDB].[dbo].[MMwDefProperties] DEF
					INNER JOIN [SITMesDB].[dbo].[MMDefVerPrpVals] AS DVPV ON DVPV.DefVerPK = DEF.DefVerPK
					WHERE propertyID = 'Subclase_codigo'
					AND DVPV.PropValChar IS NOT NULL 
					AND Materiales.IdMaterial = DEF.DefID) <> 'MIX' 
	END
	ELSE
	BEGIN
		SELECT 
			   Materiales.[IdMaterial]
			  ,Materiales.[Nombre]
			  ,Materiales.[Descripcion]
			  ,Materiales.[IdClase]
			  ,Materiales.[Clase]
			  ,Materiales.[Version]
			  ,Materiales.[Status]
			  ,Materiales.[UdMedida]
			  ,Materiales.[F_EfectivoDesde]
			  ,Materiales.[F_EfectivoDesdeUTC]
			  ,Materiales.[F_EfectivoHasta]
			  ,Materiales.[F_EfectivoHastaUTC]
			  ,Materiales.[EnUso]
			  ,Materiales.[Autor]
			  ,Materiales.[FechaCreacion]
			  ,Materiales.[FechaCreacionUTC]
			  ,Materiales.[FechaUltCreacion]
			  ,Materiales.[FechaUltCreacionUTC]
			  ,Materiales.[ModificadoPor]
			  ,Materiales.[InfoAdicional]
			  ,Materiales.[Tipo]
			  ,Materiales.[DescTipo]
			  ,Materiales.[PK_Material]
			  ,Materiales.[BOM]
		FROM 
		[MES_MSM].[dbo].[Materiales_FAB] AS Materiales
		INNER JOIN [SITMesDB].[dbo].[PDefM_PPR] AS DefM ON DefM.PPR_FinalMaterialId = Materiales.IdMaterial
		WHERE DefM.PPR like '%'+ @area +'%'
		AND DefM.PPR not like 'Default%' 
		AND DefM.PPR_TargetOrderLifeCycle = 'OM'
	END
END
GO
