USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[NOT_ObtenerMaquinasParadasPorTiempoConfigurado]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ==================================================
-- Author:		Alexis Anselmi
-- Create date: 10/01/2020
-- Description:	Obtiene el listado de las maquinas que pasan el límite de tiempo de paro, segun la configuración
-- de envío de emails.
-- Update: 2020-10-05 10:16 Se añade la validación del tiempo de inicio real de la WO con la máquina parada. Si la máquina está parada y existe fecha de inicio real de la WO 
-- se debe validar la diferencia de tiempo entre la fecha de inicio de la máquina parada y la fecha de inicio real de la WO. Bug 895
-- ==================================================
CREATE PROCEDURE [dbo].[NOT_ObtenerMaquinasParadasPorTiempoConfigurado]
@Estado INT
AS
BEGIN
    SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	
	BEGIN TRANSACTION;
	IF @@TRANCOUNT = 0
	BEGIN
	  SET TRANSACTION ISOLATION LEVEL SNAPSHOT 
	END	

	DECLARE @ordenesActivas TABLE (Id NVARCHAR(200), Linea NVARCHAR(200), FechaInicioReal DATETIME)
	
	-- Se obtienen las ordenes activas con estado Iniciando y Producción/ 
	-- Nota: Solo las órdenes que llegan hasta la última fase se encuentran en estado Producción
	INSERT INTO @ordenesActivas (Id,Linea,FechaInicioReal)
	SELECT 
			Particiones.Id,
			Particiones.Linea,
			Particiones.FecIniReal
	FROM  
			dbo.Particiones
			LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
		WHERE
			EstadoAct in ('Iniciando', 'Producción')
			AND Particiones.Linea IS NOT NULL

-- Se consultan las máquinas que cumplan con las siguientes condiciones:
-- 1. No se haya enviado notificación o si ya se envió que haya transcurrido el tiempo configurado para volverse a enviar.
-- 2. El estado de la máquina tiene que ser "Parada" / Esta info viene del web.config en el apartado Envasado
-- 3. El tiempo que ha estado la máquina parada tiene que ser mayor o igual al tiempo configurado en la web y el 
--    tiempo de la máquina parada tiene que ser mayor o igual al de la ultima actualización de la máquina
-- 4. La opción de envío de correo tiene que estar habilitada

-- NOTA: El campo [FECHA_ULTIMA_ACTUALIZACION] corresponde a la última asignación de estado que se le hizo a la máquina,
--       es decir, si se arranca o se detuviese una orden en Llenadora (o cualquier máquina) se actualizara el campo justo en ese momento que se actualizó la llenadora.
--      Con esto sabremos si ha pasado el tiempo configurado con el estado "Parada" para dicha zona
		SELECT DISTINCT
			MailNoti.Id,
			STUFF((SELECT '; ' + MailGroup.UserAddress
				FROM  [dbo].MailGroup MailGroup
				WHERE MailGroupNoti.IdMailGroup = MailGroup.Id
				
				FOR XML PATH('')
			), 1, 1, '') UserAddress,
			MailNoti.StoppageTime,
			MailNoti.SendedOn,
			MailNoti.[Subject],
			MailNoti.BodyMessage,
			STUFF((SELECT ', ' + MailEquipNoti.IdMailEquipment
				FROM  [dbo].MailEquipmentNotification MailEquipNoti
				WHERE MailNoti.Id = MailEquipNoti.IdMailNotification
				FOR XML PATH('')
			), 1, 1, '') IdMailEquipment,
			Machine.Nombre IdEquipment,
			Machine.Descripcion DescriptionEquipment
		FROM
		   [dbo].MailNotification MailNoti
		   INNER JOIN [dbo].MailGroupNotification MailGroupNoti ON MailNoti.Id = MailGroupNoti.IdMailNotification
		   INNER JOIN [dbo].MailEquipmentNotification MailEquipNoti ON MailNoti.Id = MailEquipNoti.IdMailNotification
		   INNER JOIN [dbo].Turnos Turno ON MailEquipNoti.[IdMailEquipment] like Turno.Linea +'%' 
											AND GETUTCDATE() BETWEEN Turno.InicioTurno AND Turno.FinTurno
           INNER JOIN [dbo].[EstadoActualMaquinas] EstadosMaquinas ON MailEquipNoti.[IdMailEquipment] like '%'+EstadosMaquinas.IdMaquina 
		   INNER JOIN @ordenesActivas OrdenActiva ON Turno.Linea = OrdenActiva.Linea
		   INNER JOIN [dbo].[COB_MSM_ZONAS] ZONAS ON ZONAS.ID_ZONA = EstadosMaquinas.Zona AND OrdenActiva.Id = ZONAS.ORDER_ID
		   INNER JOIN [MES_MSM].[dbo].[Equipos] Machine ON Machine.Nombre = EstadosMaquinas.IdMaquina
	WHERE 
		   --1. Validación si no se ha enviado el correo y si se envió que hayan pasado al menos los minutos de configuración para volverse a enviar
			(MailNoti.SendedOn IS NULL OR DATEDIFF(minute,MailNoti.SendedOn,GETUTCDATE()) >=  MailNoti.StoppageTime)
			AND
			--2. El estado de la máquina en el que queremos que se envíe correo
			EstadosMaquinas.Estado = @Estado
			AND 
			--3. Validación de la máquina parada.
				DATEDIFF(minute,EstadosMaquinas.FecInicio,GETUTCDATE()) >=  MailNoti.StoppageTime 
			AND 
				EstadosMaquinas.FecInicio >= ZONAS.FECHA_ULTIMA_ACTUALIZACION
			--4. Si está activa la notificación de emails para ese grupo
			AND
			MailNoti.Active = 1
	COMMIT TRANSACTION;
END
GO
