USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParticionesOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParticionesOrden]
	@ordenId nvarchar(20)--,
	--@ordenIdPadre nvarchar(20),
	--@subordenId nvarchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.	
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;	
		
	SELECT
		[Id]
		,[IdOrdenPadre]
		,[IdSubOrden]
		,[FecIniReal]
		,[FecFinReal]
	FROM [dbo].[Particiones]
	where IdOrdenPadre = @ordenId
	order by IdSubOrden
	
	COMMIT TRANSACTION; 	
END
GO
