USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPrevisionStock]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 04-05-2021
-- Description:	Se obtienen los datos de previsión de Stock (STK)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPrevisionStock]
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @fechaIni date = (SELECT GETDATE())
	DECLARE @fechaFin date = (SELECT DATEADD(DAY, 15, GETDATE()))

	DECLARE @cajas TABLE (IdFila bigint, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100))
	DECLARE @apunteCantidad TABLE (Idfila bigint, TipoApunte nvarchar(50), Cantidad int)

	DECLARE @fecha date, 
		@contFilasCajas int, 
		@filasCajas int, 
		@idFilaCajas bigint, 
		@codigoCaja nvarchar(64), 
		@descripcionCaja nvarchar(100), 
		@stockFinal int, 
		@contFilasApuntes int, 
		@filasApuntes int, 
		@idFilaApuntes bigint, 
		@tipoApunte nvarchar(50), 
		@cantidad int

	INSERT INTO @cajas
	SELECT DISTINCT 
		DENSE_RANK() OVER (ORDER BY P.IdCaja) IdFila,
		IdCaja,
		DescripcionCaja
	FROM ProductosCajas P

	WHILE @fechaIni <= @fechaFin
	BEGIN
		SET @fecha = @fechaIni
	
		SET @contFilasCajas = 1
		SET @filasCajas = (SELECT COUNT(*) FROM @cajas)
		SET @idFilaCajas = (SELECT MIN(IdFila) FROM @cajas)

		WHILE @contFilasCajas <= @filasCajas
		BEGIN
			SELECT 
				@codigoCaja = CodigoCaja,
				@descripcionCaja = DescripcionCaja
			FROM @cajas
			WHERE IdFila = @idFilaCajas

			SELECT
				@stockFinal = ISNULL(Cantidad, 0)
			FROM dbo.StockVacioPrevision
			WHERE Fecha = DATEADD(DAY, -1, @fecha) AND CodigoCaja = @codigoCaja AND TipoApunte = 'STK'

			INSERT INTO @apunteCantidad
			SELECT 
				DENSE_RANK() OVER (ORDER BY TipoApunte) IdFila,
				TipoApunte, 
				Cantidad
			FROM dbo.StockVacioPrevision
			WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte != 'STK'

			--select * from @apunteCantidad

			SET @contFilasApuntes = 1
			SET @filasApuntes = (SELECT COUNT(*) FROM @apunteCantidad)
			SET @idFilaApuntes = (SELECT MIN(IdFila) FROM @apunteCantidad)

			WHILE @contFilasApuntes <= @filasApuntes
			BEGIN
				SELECT 
					@tipoApunte = TipoApunte,
					@cantidad = Cantidad
				FROM @apunteCantidad
				WHERE IdFila = @idFilaApuntes

				IF @tipoApunte = 'PSO' OR @tipoApunte = 'M7E' OR @tipoApunte = 'SO'
				BEGIN
					SET @stockFinal = @stockFinal + @cantidad
				END
				ELSE
				BEGIN
					SET @stockFinal = @stockFinal - @cantidad
				END

				SET @idFilaApuntes = @idFilaApuntes + 1
				SET @contFilasApuntes = @contFilasApuntes + 1;
			END

			IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioPrevision WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'STK')
			BEGIN
				INSERT INTO dbo.StockVacioPrevision (Fecha, CodigoCaja, DescripcionCaja, TipoApunte, Cantidad)
				VALUES (@fecha, @codigoCaja, @descripcionCaja, 'STK', @stockFinal)
			END
			ELSE
			BEGIN
				UPDATE dbo.StockVacioPrevision
				SET Cantidad = @stockFinal
				WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'STK'
			END

			DELETE FROM @apunteCantidad

			SET @idFilaCajas = @idFilaCajas + 1
			SET @contFilasCajas = @contFilasCajas + 1;
		END

		SET @fechaIni = DATEADD(day, 1, @fechaIni)
	END

END
GO
