USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ALB_1_Mat_tra_SEL]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--=============================================
-- Autor:			Miguel Angel Suero Aviles - IDOM
-- Fecha creacion: 26032018
-- Desccripcion:	obtiene los datos del albaran de salidad
--						
-- Parametros de entrada
	--  @@MatriculaTractora-> Matricula tractora
--============================================
--exec [dbo].[Informe_ALB_1_Mat_tra_SEL] '8769DYJ'
CREATE  PROCEDURE [dbo].[Informe_ALB_1_Mat_tra_SEL]
	-- Add the parameters for the stored procedure here
     
	 @MatriculaTractora nvarchar(10)

	 
AS
BEGIN



	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	Select  top 1
	
	convert(varchar,FechaEntrada,105) + space(1) + substring(convert(varchar,FechaEntrada,114),0,6)  as FechaEntrada,
	convert(varchar,FechaSalida,105) + space(1) + substring(convert(varchar,FechaSalida,114),0,6)  as FechaSalida,
    IdAlbaran,
   pro.Nombre,
   pro.NIF,
   pro.Direccion,
   pro.poblacion,
   mt.PesoMaximo,
   PesoEntrada,
   PesoSalida,
   'CERVEZAS MAHOU SA' AS CARGADOR,
   'ALOVERA' AS POBLACION,
    op.Nombre as NombreOP,
   op.Direccion as DireccionOP,   
   tp.Nombre as NombreTP,
   tp.NIF as NIFTran,
   tp.Direccion as DirTra,
   tp.Poblacion as Potrans,
   '' OrigenMeracia,
   om.Descripcion as OrigenMercancia,
   mt.MatriculaTractora,
   mre22.MatriculaRemolque,
   '' as ObservacionesData,
   'Malta' as MaterialData
 From 		
		[MES_MSM_Trazabilidad].[TRA].[tTransporte] tra (NOLOCK)
		LEFT JOIN  [MES_MSM_Trazabilidad].[MAT].[tProveedor] pro (NOLOCK)
		ON tra.IdProveedor = pro.IdProveedor
			left JOIN [MES_MSM_Trazabilidad].[TRA].[tOperador] OP (NOLOCK)
			ON OP.IdOperador = tra.IdOperador
			inner JOIN [MES_MSM_Trazabilidad].[TRA].[tAlbaran] alb (NOLOCK) 
			ON alb.IdTransporte = tra.IdTransporte
								inner join [MES_MSM_Trazabilidad].tra.tMatriculaTractoraRemolque mre (NOLOCK)
								on  tra.[IdMatriculaTractoraRemolque] =  mre.[IdMatriculaTractoraRemolque]
										inner JOIN [MES_MSM_Trazabilidad].[TRA].[tMatriculaTractora] mt (NOLOCK)
										ON mre.IdMatriculaTractora = mt.IdMatriculaTractora	
											left JOIN [MES_MSM_Trazabilidad].tra.tMatriculaRemolque  mre22 (NOLOCK)
											ON mre22.IdMatriculaRemolque = mre.IdMatriculaRemolque
				INNER JOIN  [MES_MSM_Trazabilidad].[TRA].[tTransportista] TP (NOLOCK)
				ON TP.IdTransportista = TRA.IdTransportista
					INNER JOIN  [MES_MSM_Trazabilidad].[UBI].[tOrigenMercancia] OM  (NOLOCK)
					on OM.IdOrigenMercancia = tra.IdOrigenMercancia          
		where  mt.MatriculaTractora =@MatriculaTractora
END
GO
