USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarOrdenPlanificada]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 18/02/2021
-- Description:	Obtener la primera orden planificada y arrancarla
-- =============================================

CREATE PROCEDURE [dbo].[MES_ActualizarOrdenPlanificada](@IdOrden AS NVARCHAR(100), @Id AS INT)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE 
		OrdenPlanificado
	SET
		Arrancado = 1,
		CodigoOrden = @IdOrden
	WHERE Id = @Id
END
GO
