USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerZonasCompartidas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerZonasCompartidas]
	@IdZona as VARCHAR(8000)
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	SELECT	DISTINCT
		Zonas.ID_ZONA AS Id
		,Zonas.ZONA AS NombreZona
		,Zonas.DESC_ZONA as DescripcionZona
		,Zonas.FK_LINEAS_ID as NumLinea
		,L.NumeroLineaDescripcion
	FROM
	
	(SELECT ID_ZONA
	FROM
	   (SELECT ID_ZONA_1, ID_ZONA_2
	   FROM dbo.COB_MSM_ZONAS_COMPARTIDAS
	   WHERE ID_ZONA_1 = @IdZona OR ID_ZONA_2 = @IdZona) p
	UNPIVOT
	   (ID_ZONA FOR ZONA_ZONA IN
		  (ID_ZONA_1, ID_ZONA_2)
	)AS unpvt
	) AS ZonasComunes
	INNER JOIN dbo.COB_MSM_ZONAS AS Zonas ON Zonas.ID_ZONA = ZonasComunes.ID_ZONA
	INNER JOIN dbo.Lineas AS L ON L.NumeroLinea = Zonas.FK_LINEAS_ID
	WHERE Zonas.ID_ZONA <> @IdZona
COMMIT TRANSACTION; 
END
GO
