USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesZonasV2]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesZonasV2]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT 
		MaestroLineas.LINEA AS Linea,
		--Zonas.equip_prpty_value AS Zona, 
		MaestroZonas.ID_ZONA,
		isnull(MaestroZonas.ORDER_ID, '') AS Orden
		FROM COB_MSM_ZONAS AS MaestroZonas
		INNER JOIN COB_MSM_LINEAS AS MaestroLineas on MaestroZonas.FK_LINEAS_ID = MaestroLineas.ID_LINEA
		
	COMMIT TRANSACTION; 
END
GO
