USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDeslizanteInstantaneas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_ObtenerDeslizanteInstantaneas]
	@fechaIni DATETIME = NULL,
	@fechaFin DATETIME = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	IF @fechaIni IS NOT NULL
		SET @fechaIni = DATEADD(dd, DATEDIFF(dd, 0, @fechaIni), 0);
	IF @fechaFin IS NOT NULL
		SET @fechaFin = DATEADD(dd, DATEDIFF(dd, 0, @fechaFin), 0);

	DECLARE @RES TABLE(id INT, fecha DATETIME, fechaInicial DATETIME, fechaFinal DATETIME, tipo NVARCHAR(10))

	IF @fechaIni IS NULL
	BEGIN
		IF @fechaFin IS NULL
			INSERT INTO @RES(id, fecha, fechaInicial, fechaFinal, tipo)
				SELECT [id], [fecha], [fechaInicial], [fechaFinal], [tipo]
				FROM dbo.[DeslizanteInstantaneas]
		ELSE
			INSERT INTO @RES(id, fecha, fechaInicial, fechaFinal, tipo)
				SELECT [id], [fecha], [fechaInicial], [fechaFinal], [tipo]
				FROM dbo.[DeslizanteInstantaneas]
				WHERE DATEADD(dd, DATEDIFF(dd, 0, [fecha]), 0) <= @fechaFin
	END
	ELSE 
	BEGIN
		IF @fechaFin IS NULL
			INSERT INTO @RES(id, fecha, fechaInicial, fechaFinal, tipo)
				SELECT [id], [fecha], [fechaInicial], [fechaFinal], [tipo]
				FROM dbo.[DeslizanteInstantaneas]
				WHERE DATEADD(dd, DATEDIFF(dd, 0, [fecha]), 0) >= @fechaIni
		ELSE
			INSERT INTO @RES(id, fecha, fechaInicial, fechaFinal, tipo)
				SELECT [id], [fecha], [fechaInicial], [fechaFinal], [tipo]
				FROM dbo.[DeslizanteInstantaneas]
				WHERE DATEADD(dd, DATEDIFF(dd, 0, [fecha]), 0) BETWEEN @fechaIni AND @fechaFin
	END

	SELECT id, fecha,
			sIni.AÑO AS numAnyoInicial,
			sIni.SEMANA AS numSemanaInicial,
			sFin.AÑO AS numAnyoFinal,
			sFin.SEMANA AS numSemanaFinal,
			[tipo]
	FROM @RES
		INNER JOIN dbo.SEMANAS sIni ON DATEADD(dd, DATEDIFF(dd, 0, fechaInicial), 0) BETWEEN sIni.INICIO AND sIni.FIN
		INNER JOIN dbo.SEMANAS sFin ON DATEADD(dd, DATEDIFF(dd, 0, fechaFinal), 0) BETWEEN sFin.INICIO AND sFin.FIN
	ORDER BY fecha DESC, id DESC

END
GO
