USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaMinutosArranqueCambio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizaMinutosArranqueCambio]
	-- Add the parameters for the stored procedure here
	@orden varchar(200),
	@tipo varchar(100),
	@valor varchar(200)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;


UPDATE ecf_rt
SET ecf_rt.VAL = CONVERT(DECIMAL,@VALOR)
FROM [SITMesDB].[dbo].[POM_CUSTOM_FIELD_RT] ecf_rt
JOIN [SITMesDB].dbo.POM_ENTRY e
	ON ecf_rt.pom_entry_pk = e.pom_entry_pk
JOIN [SITMesDB].dbo.POM_ORDER o
	ON o.pom_order_pk = e.pom_order_pk
WHERE pom_custom_fld_name = @TIPO AND o.pom_order_id = @ORDEN



END
GO
