USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_Obtener_TiposPlantillaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_Obtener_TiposPlantillaTurno] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
    -- Insert statements for procedure here

		SELECT [PK]
			  ,[Id]
			  ,[Nombre]
		  FROM [dbo].[TiposPlantillaTurno]
	COMMIT TRANSACTION; 
END
GO
