USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetColorKOPConstantes]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Franyelvis Colmenares
-- Create date: 26/11/2020
-- Description:	obtiene el color de la pestaña de los KOP Constantes
-- =============================================
CREATE PROCEDURE [dbo].[GetColorKOPConstantes] (@Id_ORDEN as nvarchar(200))
AS
BEGIN
	SET NOCOUNT ON;

	SELECT CASE
			WHEN COALESCE(KopsConstanteSinRellenar,2) = 1 THEN 'azul'
			WHEN COALESCE(KopsConstanteFueraRango,2) = 1 THEN 'amarillo'
			WHEN COALESCE(KopsConstanteFueraRango,2) = 0 AND COALESCE(KopsConstanteSinRellenar,2) = 0 THEN 'verde'
			ELSE 'blanco' END AS resultado
		    FROM dbo.Orden_Procesada_FAB WHERE Pk = @Id_Orden

END


	
GO
