USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CalculoTiempoArranqueMedio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 20-11-2019
-- Description:	Se calculan los tiempos medios de arranque. Se le llama semanalmente mediante el job Calculo OEE_Tiempos Preactor
-- =============================================
CREATE PROCEDURE [dbo].[MES_CalculoTiempoArranqueMedio]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		DECLARE @numLinea SMALLINT;
		DECLARE @IdProductoEntrante NVARCHAR(100);
		DECLARE @TipoArranque INT;
		DECLARE @TiempoMedioLlenadora INT;
		DECLARE @TiempoMedioPaletizadora INT;

		DECLARE cOrdenesArranque CURSOR FOR
		SELECT DISTINCT Linea, IDProductoEntrante, TipoArranque
		FROM OrdenesArranque
		WHERE OrdenesArranque.EstadoAct IN ('Cerrada')

		OPEN cOrdenesArranque

		FETCH cOrdenesArranque INTO @numLinea, @idProductoEntrante, @TipoArranque

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			IF(@numLinea IS NOT NULL AND @idProductoEntrante IS NOT NULL AND @TipoArranque IS NOT NULL)
			BEGIN
				SELECT 
					@TiempoMedioLlenadora = TiempoMedio_1,
					@TiempoMedioPaletizadora = TiempoMedio_2
				FROM [dbo].[MES_GetTiempoArranqueMedio] (@numLinea, @idProductoEntrante, @TipoArranque)

				IF (@TiempoMedioLlenadora IS NOT NULL)
				BEGIN
					UPDATE [dbo].[COB_MSM_TIEMPOS_ARRANQUES]
					SET [TIEMPO_CALCULADO_1] = @TiempoMedioLlenadora
					WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND FK_ARRANQUES_ID = @TipoArranque
				END

				IF (@TiempoMedioPaletizadora IS NOT NULL)
				BEGIN
					UPDATE [dbo].[COB_MSM_TIEMPOS_ARRANQUES]
					SET [TIEMPO_CALCULADO_2] = @TiempoMedioPaletizadora
					WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND FK_ARRANQUES_ID = @TipoArranque
				END
			END
			-- Lectura de la siguiente fila del cursor
			FETCH cOrdenesArranque INTO @numLinea, @idProductoEntrante, @TipoArranque
		END

		CLOSE cOrdenesArranque

		DEALLOCATE cOrdenesArranque
	COMMIT TRANSACTION;
END
GO
