USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaPropiedadOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizaPropiedadOrden]
	-- Add the parameters for the stored procedure here
	@orden varchar(200),
	@nombreProp varchar(100),
	@valor varchar(200)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

	UPDATE SITMesDB.[dbo].[POMV_ORDR_PRP]
	   SET [VAL] = @valor
	 WHERE pom_custom_fld_name = @nombreProp AND pom_order_id = @orden

END
GO
