USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CalculoTiempoArranquePreactor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_CalculoTiempoArranquePreactor]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		DECLARE @numLinea SMALLINT;
		DECLARE @IdProductoEntrante NVARCHAR(100);
		DECLARE @TipoArranque INT;
		DECLARE @TiempoPreactor INT;

		DECLARE cOrdenesArranque CURSOR FOR
		SELECT DISTINCT Linea, IDProductoEntrante, TipoArranque
		FROM OrdenesArranque
		WHERE OrdenesArranque.EstadoAct IN ('Cerrada')

		OPEN cOrdenesArranque

		FETCH cOrdenesArranque INTO @numLinea, @idProductoEntrante, @TipoArranque

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			--PRINT 'Linea: ' + CONVERT(nvarchar(2),@numLinea);
			--PRINT 'Cod_producto: ' + CONVERT(nvarchar(100),@idProductoEntrante);
			--PRINT 'Tipo Arranque: ' + CONVERT(nvarchar(50),@TipoArranque);
			IF(@numLinea IS NOT NULL AND @idProductoEntrante IS NOT NULL AND @TipoArranque IS NOT NULL)
			BEGIN
				SELECT @TiempoPreactor = [dbo].[MES_GetTiempoArranqueMedioPreactor] (@numLinea, @idProductoEntrante, @TipoArranque)

  				--PRINT 'TiempoPreactor: ' + CONVERT(NVARCHAR(100), @TiempoPreactor )
				--Actualización: Alexis Anselmi 2019-27-11
				--Descripción: Se cambia la validación del TiempoPreactor para que sea siempre mayor a cero.
				IF (@TiempoPreactor > 0)
				-- Fin Actualización 2019-27-11
				BEGIN
					UPDATE [dbo].[COB_MSM_TIEMPOS_ARRANQUES]
					SET [TIEMPO_PREACTOR] = @TiempoPreactor
					WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND FK_ARRANQUES_ID = @TipoArranque
				END
			--PRINT '----------'
			END
			-- Lectura de la siguiente fila del cursor
			FETCH cOrdenesArranque INTO @numLinea, @idProductoEntrante, @TipoArranque

		END

		CLOSE cOrdenesArranque

		DEALLOCATE cOrdenesArranque
	COMMIT TRANSACTION; 
END
GO
