USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerZonasLineaV2]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Obtiene las zonas de una línea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerZonasLineaV2]
	@linea as int
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT
		MaestroZonas.ID_ZONA AS Id,
		MaestroZonas.Zona AS Nombre,
		MaestroZonas.ORDEN_ZONA AS NumeroZona,
		MaestroZonas.DESC_ZONA AS Descripcion,
		MaestroZonas.Compartida AS Compartida,
		isnull(MaestroZonas.order_id,'') AS Orden,
		MaestroZonas.ARRANQUE AS Arranque,
		MaestroZonas.INICIO_PAUSA AS InicioPausa,
		MaestroZonas.PERMITE_PRODUCCION AS PermiteProduccion,
		MaestroZonas.PRODUCCION_COMPARTIDA AS ProduccionCompartida,
		MaestroZonas.MAQUINAS_COMPARTIDAS AS MaquinasCompartidas
	FROM COB_MSM_ZONAS AS MaestroZonas	
	WHERE MaestroZonas.FK_LINEAS_ID = @linea	
	ORDER BY NumeroZona
COMMIT TRANSACTION;
END
GO
