USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerlistadoParos]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		@turno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

SELECT DISTINCT 'Linea ' + convert(varchar(100),L.numeroLinea) + ' - ' + L.Descripcion as Linea,
	   [dbo].[ToLocalDateTime](Inicio) as InicioLocal,
	   [NombreTipoTurno],
	   ISNULL(MaquinaCausaNombre,'Sin maquina definida') as MaquinaCausaId,
	   [MotivoNombre],
	   [CausaNombre],
	   EquipoConstructivoNombre as Equipo,
	   case 
	   when IdTipoParoPerdida = 1 then isnull(P.DuracionParoMayor,0)
	   when IdTipoParoPerdida = 2 then isnull(P.DuracionParosMenores,0) + isnull(P.DuracionBajaVelocidad,0)
	   end as Duracion,
	   [DuracionBajaVelocidad] as DuracionBajaVelocidad,
	   Observaciones,
	   ISNULL(MaquinaCausaNombre,'Sin maquina definida') as MaquinaCausa,
	   --substring(MaquinaCausaId,charindex('-EQ-',MaquinaCausaId)+4,6) as MaquinaCausa,
	   case 
	   when [Justificado]=0 then 'No'
	   Else 'Si'
	   End as Justificado,
	   P.[Descripcion],
	   0 as EstadoLinea,
	   ISNULL(m.Descripcion,'Sin maquina definida') as Maquina,
	   TipoParoPerdida AS TipoParoPerdida
	   --substring(EquipoID,charindex('-EQ-',EquipoId)+4,6) as Maquina
	   From [dbo].[ParosPerdidas] P
	   INNER JOIN Turnos t ON t.Id = P.Turno
	   INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
		LEFT JOIN MAQUINAS M ON P.EquipoId = M.ID
		--LEFT JOIN MAQUINAS M1 ON P.MaquinaCausaId = M1.ID
	 Where L.Nombre = @Linea  AND t.id = @turno
	 --and @FechaInicio <= datediff(s, '1970-1-1' ,Inicio) 
	 --and @FechaFin > datediff(s, '1970-1-1' ,Inicio)
	 
	-- union all
	-- Select  
	-- DISTINCT 'Linea ' + convert(varchar(100),L.numeroLinea) + ' - ' + L.Descripcion as Linea,
	-- [dbo].[ToLocalDateTime](FECHA_INICIO) AS InicioLocal,
	-- T.Turno AS [NombreTipoTurno],
	-- 'Sin maquina definida' as MaquinaCausaId,
	-- '' as MotivoNombre,
	--  '' as [CausaNombre],
	-- '' as Equipo,
	-- convert(numeric(18,2),CMH.TIEMPO_PLANIFICADO-CMH.TIEMPO_OPERATIVO) as Duracion,
	--   0 as DuracionBajaVelocidad,
	--   '' as Observaciones,
	--   'Sin maquina definida' as MaquinaCausa,
	--   'No' as Justificado,
	--   '' as [Descripcion],
	--   0 as EstadoLinea,
	--   ISNULL(M.Descripcion,'Sin maquina definida') as Maquina	 
	--FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA CMH
	--INNER JOIN Maquinas M ON M.Id = CMH.ID_MAQUINA
	--INNER JOIN TURNOS T ON CMH.SHC_WORK_SCHED_DAY_PK  = T.ID
	--INNER JOIN LINEAS L ON L.Id = M.Linea
	--Where L.Nombre = @Linea and CMH.TIEMPO_PLANIFICADO-CMH.TIEMPO_OPERATIVO >0
	--and @FechaInicio <= datediff(s, '1970-1-1' ,FECHA_INICIO) 
	--and @FechaFin >= datediff(s, '1970-1-1' ,Fecha_Fin)
	order by [dbo].[ToLocalDateTime](Inicio)  asc
	commit TRANSACTION
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquina]    Script Date: 01/06/2016 12:10:14 ******/
SET ANSI_NULLS ON
GO
