USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerListaMateriales]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 28-01-2020
-- Description:	Se obtienen los datos de los materiales del tipo Producto Terminado
-- y cuya unidad de medida sea palets, medio display, cajas y barriles
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerListaMateriales]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		IdMaterial AS IdProducto, 
		Nombre, 
		Descripcion,
		UdMedida,
		Gama,
		Marca,
		TipoEnvase,
		FormatoComunCodigo.PValue AS CodigoFormatoComun,
		FormatoComunDescripcion.PValue AS DescripcionFormatoComun
	FROM Materiales
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunCodigo
					 ON FormatoComunCodigo.DefVerPK = Materiales.DefVerPK
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunDescripcion
					 ON FormatoComunDescripcion.DefVerPK = Materiales.DefVerPK
	WHERE Tipo = '03' AND UdMedida in ('BR', 'CJ', 'MD', 'PL') AND Status = 'APPROVED' 
END
GO
