USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerGuardarMovimientosVacioMES]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 07-10-2020
-- Description:	Se obtienen los movimientos de vacio de MES y se guardan en la tabla MovimientosVacio
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerGuardarMovimientosVacioMES]
	@fecha datetime
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ordenes TABLE (IdFila bigint, FechaMovimiento datetime, IdCaja nvarchar(64), IdOrden nvarchar(50), 
							CantidadProducida float, CajasPorPalet int, Merma decimal(18,2))

	INSERT INTO @ordenes
	SELECT 
		ROW_NUMBER() OVER (ORDER BY O.FecFinReal) IdFila,
		DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), O.FecFinReal) AS FechaMovimiento, 
		P.IdCaja, 
		O.Id,
		O.CantidadProducida,
		O.CajasPorPalet,
		M.Merma
	FROM Ordenes O
	INNER JOIN ProductosCajas P ON O.IdProducto = P.IdProducto
	INNER JOIN MermasStockVacio M ON O.Linea = M.Linea AND O.IdProducto = M.Producto
	WHERE O.FecFinReal > @fecha AND O.EstadoAct IN ('Finalizada', 'Cerrada') AND O.CantidadProducida > 0
	ORDER BY O.FecFinReal

	DECLARE @contFilas int, @filas int, @idFila bigint, @idOrden nvarchar(50), @cantidad int
	
	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @ordenes)
	SET @idFila = (SELECT MIN(IdFila) FROM @ordenes)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@idOrden = IdOrden
		FROM @ordenes
		WHERE IdFila = @idFila

		IF EXISTS(SELECT 1 FROM MovimientosVacio WHERE IdOrden = @idOrden AND IdMovimiento = 'CO')
		BEGIN
			SELECT @cantidad = SUM(CantidadMovimiento) FROM MovimientosVacio WHERE IdOrden = @idOrden AND IdMovimiento = 'CO'

			INSERT INTO dbo.MovimientosVacio	
			SELECT 
				'FO',
				FechaMovimiento, 
				IdCaja, 
				IdOrden, 
				0,
				0,
				CAST(((CantidadProducida * CajasPorPalet) + ((CantidadProducida * CajasPorPalet) * (Merma / 100))) AS decimal(10,0)) - @cantidad,
				0
			FROM @ordenes
			WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			INSERT INTO dbo.MovimientosVacio	
			SELECT 
				'FO',
				FechaMovimiento, 
				IdCaja, 
				IdOrden, 
				0,
				0,
				CAST(((CantidadProducida * CajasPorPalet) + ((CantidadProducida * CajasPorPalet) * (Merma / 100))) AS decimal(10,0)) AS CantidadMovimiento,
				0
			FROM @ordenes
			WHERE IdFila = @idFila
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
