USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerGuardarStockVacioJDE]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 26-11-2021
-- Description:	Se obtiene el stock de vacio de JDE y se guarda como Ajuste (STK_JDE) en la tabla MovimientosVacio
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerGuardarStockVacioJDE]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @jobActivo nvarchar(100) = (SELECT Valor FROM dbo.StockVacioParametros WHERE Id = 4)
	IF @jobActivo = '0'
	BEGIN
		RETURN;
	END

	DECLARE @codigoPlanta nvarchar(4) = (SELECT dbo.MES_ObtenerCodigoPlanta())

	DECLARE @consulta VARCHAR(8000)
	DECLARE @resultadoJDE TABLE (IdCaja nvarchar(64), Cantidad bigint)
	DECLARE @resultado TABLE (IdFila bigint, IdCaja nvarchar(64), Cantidad bigint)

	--Consulta General
	SET @consulta = 'SELECT * FROM OPENQUERY(JDE,
	''
		SELECT A.IMLITM, SUM(B.LIPQOH)

		FROM PRODDTA.F4101 AS A
		LEFT JOIN PRODDTA.F41021 AS B ON A.IMITM = B.LIITM
		WHERE TRIM(B.LIMCU) = ''''' + @codigoPlanta + '''''
		AND A.IMSRP1 = ''''VAC''''
		GROUP BY A.IMLITM
		ORDER BY A.IMLITM
	'')'
	
	INSERT INTO @resultadoJDE
	EXEC (@consulta)

	--select * from @resultadoJDE

	INSERT INTO @resultado
	SELECT DISTINCT DENSE_RANK() OVER (ORDER BY M.IdCaja) IdFila, M.IdCaja, R.Cantidad
	FROM MovimientosVacio M
	LEFT JOIN @resultadoJDE R ON R.IdCaja = M.IdCaja
	ORDER BY M.IdCaja

	DECLARE @contFilas int, @filas int, @idFila bigint, @idCaja nvarchar(64), @cantidad bigint

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @resultado)
	SET @idFila = (SELECT MIN(IdFila) FROM @resultado)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT
			@idCaja = IdCaja,
			@cantidad = Cantidad
		FROM @resultado
		WHERE IdFila = @idFila
			
		INSERT INTO dbo.MovimientosVacio
		SELECT  
			'STK_JDE',
			GETDATE(),
			@idCaja, 
			'Ajuste Automático desde JDE', 
			0,
			(@cantidad / 100),
			(@cantidad / 100),
			(@cantidad / 100)
		FROM @resultado 
		WHERE IdFila = @idFila
				
		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
