USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerParosAgrupados]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerParosAgrupados]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
Select PP.CausaNombre, sum(DuracionParoMayor) as Duracion, MaquinaCausaNombre, EquipoConstructivoNombre, PP.MotivoNombre, PP.Descripcion, Observaciones
--from dbo.ParosPerdidas PP
--INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
--INNER JOIN DBO.Turnos T ON PP.InicioLocal BETWEEN T.InicioTurno AND T.FinTurno and T.Linea=@Linea
--WHERE IdTipoParoPerdida=1 AND L.Nombre= @Linea AND T.Fecha = convert(Date,DATEADD(s, @Fecha, '19700101')) AND convert(int,t.Id) = @TURNO 
from dbo.ParosPerdidas PP
INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
--INNER JOIN DBO.Turnos T ON PP.Inicio BETWEEN T.InicioTurno AND T.FinTurno and T.Linea = @Linea
WHERE IdTipoParoPerdida=1 AND L.Id= @Linea --AND T.Fecha = convert(Date,DATEADD(s, @Fecha, '19700101')) AND t.Id = @TURNO 
AND PP.Turno = @Turno
Group by PP.CausaNombre, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, Observaciones, PP.MotivoNombre
ORDER BY Duracion DESC
END
GO
