USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCierreTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec [dbo].[MES_ObtenerTurnoPorFechaUnix] 'MSM.ALOVERA.ENVASADO.A809', 1549015199.0
CREATE PROCEDURE [dbo].[MES_ObtenerCierreTurno]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@fechaUnix as varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		----------------------------
		-- Declaracion de variables
		----------------------------
		declare @fecha as datetime
		declare @unixtime as varchar(200)
		declare @idTurnoAct as int
		declare @idTurnoant as int
		declare @Resut as int
		----------------------------
		-- Init
		----------------------------
		set @Resut=0
		----------------------------
		-- Creacion de tablas temporales
		----------------------------
		CREATE TABLE #ResultData
		(
			id int Identity(1,1) ,
			idTurno int,
			idTipoTurno 	int,
			unixDate float
		)

		-----------------------------
		-- Inicio
		-----------------------------
		-- Insertamos los datos del turno actual
		insert into   #ResultData
			( 
			idTurno,
			idTipoTurno,
			unixDate
			)	
		exec  [dbo].[MES_ObtenerTurnoPorFechaUnix_no_tran] @idLinea, @fechaUnix
	
		-- Obtenemos la fecha anterior( el minuto anterior).
		set @fecha =dateadd(minute, -1,DATEADD(second,CONVERT(decimal(25,6),@fechaUnix), CAST('1970-01-01 00:00:00' AS datetime)))
		set  @unixtime =convert(varchar(200),abs(DATEDIFF(second,CAST(@fecha as dateTime),CAST('1970-01-01 00:00:00' AS datetime))))
		-- Insertamos los datos del turno anterior
		insert into   #ResultData
			( 
			idTurno,
			idTipoTurno,
			unixDate
			)		
		exec  [dbo].[MES_ObtenerTurnoPorFechaUnix_no_tran] @idLinea, @unixtime
	
	

		--Obtenmos los valores del turno actual/anterio
		select @idTurnoAct =idturno
		from #ResultData
		where id = 1

		select @idTurnoAnt =idturno
		from #ResultData
		where id = 2

		-------------------------------
		-- Test cases
	
		-------------------------------
		--1.- Mismo turno
		--set @idTurnoAct = @idTurnoAnt
		--2.- No planificado a planificado
		--set  @idTurnoAnt = 1
		--2.- No planificado a no  planificado
		--set  @idTurnoAnt = 1
		--set  @idTurnoAct = 2
		--2.-  planificado a no  planificado
		--set  @idTurnoAnt = 1
	

		if(@idTurnoAct <> @idTurnoAnt)
		begin
			set @Resut=1
		end 
		else
		begin
			set @Resut=0

		end

		--set @Resut=2
		select @Resut as resultado
		------------------------------
		-- Drop temp table 
		------------------------------
		drop  table  #ResultData
	COMMIT TRANSACTION;
END
GO
