USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[INTERSPC_ObtenerRelacionEnvasesCajasPalets]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INTERSPC_ObtenerRelacionEnvasesCajasPalets]
	-- Add the parameters for the stored procedure here
	@idProducto varchar(200)
AS
BEGIN
  DECLARE @SectionId numeric(8,0);
  DECLARE @PropertyGroupId numeric(8,0);

  select @SectionId = CONVERT(numeric(8,0),ParameterData) from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Esq_Palet_Section'
  select @PropertyGroupId = CONVERT(numeric(8,0),ParameterData) from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Esq_Palet_Group'
  
  CREATE TABLE #PropertyTemp ( PropertyId numeric(8,0))

  INSERT INTO #PropertyTemp (PropertyId)
  SELECT CONVERT(numeric(8),ParameterData) 
  from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] 
  where Parameter IN ('Posicion_Fleje','Cont_Embalaje','Emb_Manto','Cont_Palet','Pack_Palet','Mantos_Palet'); 
  
  SELECT    
   itsp.PartNo,
   itsp.PropertyId,
   itp.Description as Property,
   itsp.Numeric1 as Value
   ,itsp.Revision
  FROM INTERSPEC.MSMIS.INTERSPC.ItSpProperty itsp
	INNER JOIN INTERSPEC.MSMIS.INTERSPC.ItSc itsc on itsp.SectionId = itsc.SectionId
	INNER JOIN INTERSPEC.MSMIS.INTERSPC.ItPropertyGroup itpg on itsp.PropertyGroupId = itpg.PropertyGroupId
	INNER JOIN INTERSPEC.MSMIS.INTERSPC.ItProperty itp on itsp.PropertyId = itp.PropertyId
  where 
	itsp.PartNo = @idProducto
	and itsp.Revision = dbo.f_get_att_rev(itsp.PartNo, NULL)
	and itsc.SectionId = @SectionId
	and itpg.PropertyGroupId  = @PropertyGroupId
	and itp.PropertyId IN (select PropertyId FROM #PropertyTemp)

  DROP TABLE #PropertyTemp
	
 SET NOCOUNT ON;

END

GO
