USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParticionesActivas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sergio V.
-- Create date: 28/09/2017
-- Description: Obtienes las particiones activas en una línea durante un periodo de tiempo
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParticionesActivas]
	@numLinea int,
	@iniTurno  datetime,
	@finTurno datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	set @iniTurno = dateadd(day,-15, @iniTurno)
	set @finTurno = dateadd(day, 15, @finTurno)
	
	select p.Id, p.IdOrdenPadre, IdProducto, VelocidadNominal
	from Particiones p left join lineas l on p.Linea = l.id
	where l.NumeroLinea = @numLinea and FecIniReal is not null
	and (
	(@finTurno >=FecIniReal and @finTurno <= FecFinReal)
	or (@iniTurno >= FecIniReal and @finTurno <= FecFinReal)
	or (@iniTurno >= FecIniReal and @iniTurno <= FecFinReal)
	or (@iniTurno <= FecIniReal and @finTurno >= FecIniReal) 
	or (@finTurno >= FecIniReal and FecFinReal is null) )

	COMMIT TRANSACTION;
END
GO
