USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPPR]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPPR]
	-- Add the parameters for the stored procedure here
	@idLinea as nvarchar(255),
	@idProducto  as nvarchar(64)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT [Linea]
		  ,[PPR]
		  ,[Material]
		  ,[Versionado]
	  FROM [ProductosLineas]
	  where Linea=@idLinea and Material =@idProducto
	COMMIT TRANSACTION;
END
GO
