USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_EliminarDeslizanteInstantanea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_EliminarDeslizanteInstantanea]
	@idIns AS INT
AS
BEGIN
	SET NOCOUNT ON;
	--SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	IF @idIns IS NOT NULL
		DELETE FROM dbo.[DeslizanteInstantaneas]
		WHERE id = @idIns
END
GO
