USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnoPorFechaUnix_no_tran]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec [dbo].[MES_ObtenerTurnoPorFechaUnix] 'MSM.ALOVERA.ENVASADO.A809', 1549015199.0
CREATE PROCEDURE [dbo].[MES_ObtenerTurnoPorFechaUnix_no_tran]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@fechaUnix as varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
--	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		declare @idTurno int
		declare @idTipoTurno int
		declare @fecha datetime
		declare @unixDate float
		set @idTurno = 0
		set @idTipoTurno = 0
		set @fecha = DATEADD(second,CONVERT(decimal(25,6),@fechaUnix), CAST('1970-01-01 00:00:00' AS datetime))
		--select @fecha
		SELECT top(1)
			@idTurno = id,
			@idTipoTurno = idTipoTurno,
			@unixDate = ABS(DATEDIFF(second,CAST(InicioTurno as dateTime),CAST('1970-01-01 00:00:00' AS datetime)))
		FROM TurnosConBreak
		where [Linea]=@idLinea and @fecha BETWEEN InicioTurno AND FinTurno
		and (InicioBreak is null or @fecha <= InicioBreak or FinBreak<= @fecha)		
		order by InicioTurno desc

		Select @idTurno as idTurno, @idTipoTurno as idTipoTurno,COALESCE(@unixDate,0) unixDate
	--COMMIT TRANSACTION;
END
GO
