USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMaterialesProducto]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerMaterialesProducto]
	@linea as nvarchar(25), -- ID.SPLIT('.')[2]
	@id_prod as nvarchar(64) -- MMDefinitions.DefID
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @BomPK AS INT
		DECLARE @Version AS INT
		DECLARE @BomName AS NVARCHAR(64);

		SET @BomName = 'BOM_'+@linea+'_'+@id_prod;    
	
		SELECT @BomPK = BomPK, @version=MAX(VMinor)
		FROM SITMesDB.DBO.MMBoms
		WHERE Descript = @BomName
		GROUP BY BomPK

		SELECT DISTINCT @id_prod,
				MMD.DefID AS 'IdMaterial',
				MMD.Descript AS 'Name'
		FROM [SITMesDB].[dbo].[MMBomAlts] MMB
		INNER JOIN [SITMesDB].[dbo].[MMBomItemAlts] MMBI ON MMB.BomAltPK = MMBI.BomAltPK
		INNER JOIN [SITMesDB].[dbo].[MMDefinitions] MMD ON MMD.DefPK = MMBI.DefPK
		INNER JOIN [SITMesDB].[dbo].[MMvDefVers] DV ON MMD.DefPK = DV.DefPK
		INNER JOIN [SITMesDB].[dbo].[MMDefStatuses] MMDS ON MMDS.DefStatusPK = DV.DefStatusPK
		WHERE MMB.BomAltName = @BomName AND MMB.BomPK = @BomPK AND MMDS.DefStatusID = 'APPROVED'
	COMMIT TRANSACTION; 
END
GO
