USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEnvasesLlenosVacios]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEnvasesLlenosVacios] 
	-- Add the parameters for the stored procedure here
	
	@idLinea as int,
	@desde as datetime,
	@hasta as datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT C.MENOR_LLENADORA, SUM(C.Envases) 
		FROM
		(SELECT 
			M.MENOR_LLENADORA,
			SUM(CLLH.CONTADOR_RECHAZOS) as Envases
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA CLLH
		INNER JOIN Maquinas m ON m.Id = CLLH.ID_MAQUINA
		INNER JOIN Lineas l ON l.Id = m.Linea
		WHERE l.NumeroLinea = @idLinea AND CLLH.FECHA_INICIO>=@desde AND CLLH.FECHA_FIN <=@hasta
		GROUP BY M.MENOR_LLENADORA
		UNION
		SELECT 
			M.MENOR_LLENADORA,
			SUM(CMH.CONTADOR_RECHAZOS) as Envases
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA CMH
		INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
		INNER JOIN Lineas l ON l.Id = m.Linea
		WHERE l.NumeroLinea = @idLinea AND CMH.FECHA_INICIO>=@desde AND CMH.FECHA_FIN <=@hasta
		GROUP BY M.MENOR_LLENADORA) AS C
		GROUP BY MENOR_LLENADORA
	COMMIT TRANSACTION;
END
GO
