USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParosPerdidasTurnoLlenadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParosPerdidasTurnoLlenadora] 
	-- Add the parameters for the stored procedure here
	@idTurno as int,
	@llenadora as varchar(100)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;


	SELECT NOMBRE, HORA, SUM(DuracionParoMayor) AS DuracionParoMayor, 0 AS DuracionParosMenores, 0 AS DuracionBajaVelocidad,SUM(DuracionPerdidaProduccion) AS DuracionPerdidaProduccion
	 FROM ( 
	 select @llenadora AS Nombre, DATEPART(HOUR, INICIO) AS HORA, SEGUNDOS AS DuracionParoMayor,  0 AS DuracionParosMenores,
			0 AS DuracionBajaVelocidad, 0 AS DuracionPerdidaProduccion
			from [dbo].[ParosPerdidasHorasTurnoMaquina](@idTurno,@llenadora,0) 
			UNION ALL 
			select @llenadora AS Nombre, DATEPART(HOUR, INICIO) AS HORA, 0 AS DuracionParoMayor,  0 AS DuracionParosMenores,
			0 AS DuracionBajaVelocidad, SEGUNDOS AS DuracionPerdidaProduccion
			from [dbo].[ParosPerdidasHorasTurnoMaquina](@idTurno,@llenadora,1) 
			UNION ALL
			select @llenadora AS Nombre, DATEPART(HOUR, INICIO) AS HORA, 0 AS DuracionParoMayor, SEGUNDOS AS DuracionParosMenores,
			0 AS DuracionBajaVelocidad, 0 AS DuracionPerdidaProduccion
			from [dbo].[ParosPerdidasHorasTurnoMaquina](@idTurno,@llenadora,2) 
	) TB
	GROUP BY NOMBRE, HORA
	ORDER BY Nombre, HORA


COMMIT TRANSACTION;
END
GO
