USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerNuevoEstadoFechasWO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[MES_ObtenerNuevoEstadoFechasWO]
	-- Add the parameters for the stored procedure here
	@ordenPadreID varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @nuevoEstado varchar(50)
	declare @actualEstado varchar(50)
	select top 1 @actualEstado = estado
	from dbo.Ordenes_ENV where ID_Orden = @ordenPadreID

	
	select top 1 @nuevoEstado = EstadoAct
	from dbo.particiones 
	where idOrdenPadre = @ordenPadreID
	Order By Case EstadoAct
		When 'Producción' Then 1
		When 'Iniciando' Then 2
		When 'Pausada' Then 3
		When 'Planificada' Then 4
		When 'Finalizada' Then 5
		When 'Creada' Then 6
		When 'Cerrada' Then 7
		Else 8 End
	
	select @actualEstado as EstadoActual, @nuevoEstado as EstadoNuevo, min(FecIniReal) as nuevaFechaIni, max(FecFinReal) as nuevaFechaFin
	from dbo.particiones 
	where idOrdenPadre =  @ordenPadreID
	
END
GO
