USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Valores_KOP]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Actualizar_Valores_KOP]
@ValuePk    NVARCHAR(10),
@ACTL_VAL   NVARCHAR(1000),
@Change_ACTL_VAL bit,
@TS            datetime,
@Change_TS        bit

AS
SET NOCOUNT ON

UPDATE [SITMesDB].[dbo].[POMT_PCS_PARM_ACTL_VAL] 
SET [ACTL_VAL] = CASE WHEN @Change_ACTL_VAL = 1 THEN @ACTL_VAL ELSE [ACTL_VAL] END,
[TS] = CASE WHEN @Change_TS = 1 THEN @TS ELSE [TS] END
WHERE PK = @ValuePk


GO
