USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTodasOrdenesIntervalo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		RPA
-- Create date: 25/04/2016
-- Description:	Obtiene todas las ordenes
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTodasOrdenesIntervalo]
	@fIni as datetime,
	@fFin as datetime
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

			SELECT DISTINCT
			'L' + CONVERT(VARCHAR(4), L.NumeroLinea) + ' - ' + L.descripcion as Linea,
		Ordenes.Id as CodWO,
		Productos.IdProducto as CodProducto,
		Productos.Descripcion AS Producto,
		FecIniEstimada as IniEst,
		FecFinEstimada as FinEst,
		Ordenes.CantidadProducida as Cantidad,
		Productos.udMedida as UniMedida,
		EstadoAct as Estado	
		FROM Ordenes
		LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Ordenes.IdEstadoAct
		LEFT JOIN Productos ON Productos.IdProducto = Ordenes.IdProducto
		LEFT JOIN Maquinas M ON M.Orden = Ordenes.Id
		INNER JOIN LINEAS L ON Ordenes.[Linea] = L.ID
		Where 
		(FecIniReal >= @fIni and FecIniReal <= @fFin)
			or
		(FecFinReal >= @fIni and FecFinReal <= @fFin)
			or	
		(FecIniReal<= @fIni and FecFinReal >= @fFin)


	COMMIT TRANSACTION;	
	
END
GO
