USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPlantillaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPlantillaTurno]
	@año AS INT,
	@Semana AS INT,
	@IdPlantilla AS INT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @TempDias table (pos int, dia DateTime);

		DECLARE @InicioSemana Datetime;
		declare @FinSemana dateTime;
		declare @Dia datetime;
		DECLARE @pos int = 0;
		SELECT  @InicioSemana = INICIO, @FinSemana = FIN FROM SEMANAS
		WHERE AÑO = @año AND SEMANA = @Semana

		set @Dia = @InicioSemana;

		WHILE( @Dia <= @FinSemana)
		begin
			INSERT INTO @TempDias VALUES(@pos,@Dia);
			set @Dia = DATEADD(DAY,1,@Dia);
			set @pos = @pos + 1;
		END

		SELECT sd.id,
				templateDia.id as idTemplateDia,
				sp.pos,
				wt.label,
				Dias.dia as FechaTurnoReal,
				CASE WHEN TiposTurno.Id = '3'
					THEN CASE WHEN cast(wt.work_start as TIME) < '12:00' 
							THEN DATEADD(DAY,1, Dias.dia)
							ELSE Dias.dia
						END
					ELSE Dias.dia
				END
				 AS FechaTurnoSimatic,
				CASE WHEN TiposTurno.Id = '3'
					THEN CASE WHEN cast(wt.work_start as TIME) < '12:00' 
							THEN DATEADD(MINUTE, -(wt.work_start_bias),DATEADD(DAY,1, CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_start as TIME))))
							ELSE DATEADD(MINUTE, -(wt.work_start_bias),CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_start as TIME)))
						END
					ELSE DATEADD(MINUTE, -(wt.work_start_bias),CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_start as TIME)))
				END
				 AS Inicio,
				 CASE WHEN TiposTurno.Id = '3'
					THEN CASE WHEN cast(wt.work_end as TIME) < '12:00' 
							THEN DATEADD(MINUTE, -(wt.work_end_bias),DATEADD(DAY,1, CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_end as TIME))))
							ELSE DATEADD(MINUTE, -(wt.work_end_bias),CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_end as TIME)))
						END
					ELSE DATEADD(MINUTE, -(wt.work_end_bias),CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(wt.work_end as TIME)))
				END
				 AS Fin, 
				wt.id as TipoTurnoSHC,
				CASE WHEN wt.id = '0'
				 THEN wt.id
				 ELSE TiposTurno.Id
				END AS TipoTurno,
				CASE WHEN TiposTurno.Id = '3'
					THEN CASE WHEN cast(shc_break.break_start as TIME) < '12:00' 
							THEN DATEADD(DAY,1, CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_start as TIME)))
							ELSE CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_start as TIME))
						END
					ELSE CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_start as TIME))
				END
				 AS break_start,
				 CASE WHEN TiposTurno.Id = '3'
					THEN CASE WHEN cast(shc_break.break_end as TIME) < '12:00' 
							THEN DATEADD(DAY,1, CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_end as TIME)))
							ELSE CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_end as TIME))
						END
					ELSE CONVERT(DATETIME,Cast(Dias.dia as date))+CONVERT(DATETIME,cast(shc_break.break_end as TIME))
				END
				 AS break_end
		  FROM [SITMesDB].[dbo].[SHC_PERIOD_WORK_SCHED] sd
		  INNER JOIN [SITMesDB].[dbo].[SHC_PERIOD_WORK_SCHED_DAY] sp on sp.shc_period_work_sched_pk = sd.shc_period_work_sched_pk
		  INNER JOIN [SITMesDB].[dbo].[SHC_PERIOD_WORK_SCHED]  templateDia ON templateDia.shc_period_work_sched_pk = sp.shc_template_pk
		  INNER JOIN (select shc_working_time_pk,work_start, id, label,
					 CASE isdayafter
					WHEN 1 THEN DATEADD(DAY,1, work_end)
					ELSE work_end
					END AS work_end,work_start_bias,work_end_bias
					FROM [SITMesDB].[dbo].[SHC_WORKING_TIME]) wt ON wt.shc_working_time_pk = sp.shc_working_time_pk
		  INNER JOIN (select Id,Inicio,Fin from TiposTurno where id in ('1','2','3')) as TiposTurno on ((wt.work_start >= TiposTurno.Inicio and wt.work_start <= TiposTurno.Fin) AND (wt.work_end >= TiposTurno.Inicio and wt.work_end <= TiposTurno.Fin)) or ((DATEADD(d, 1, wt.work_start) >= TiposTurno.Inicio and DATEADD(d, 1, wt.work_start) <= TiposTurno.Fin) AND (DATEADD(d, 1, wt.work_end) >= TiposTurno.Inicio and DATEADD(d, 1, wt.work_end) <= TiposTurno.Fin) OR (wt.work_start >= TiposTurno.Inicio and wt.work_start <= TiposTurno.Fin) AND (DATEADD(d, 1, wt.work_end) >= TiposTurno.Inicio and DATEADD(d, 1, wt.work_end) <= TiposTurno.Fin))
		  INNER JOIN @TempDias AS Dias ON Dias.pos = sp.pos
		  LEFT JOIN (select shc_working_time_pk, DATEADD(MINUTE, -(break_start_bias), break_start) as break_start, DATEADD(MINUTE, -(break_end_bias), break_end) as break_end from [SITMesDB].[dbo].[SHC_BREAK]) AS shc_break on shc_break.shc_working_time_pk = wt.shc_working_time_pk
		  where sd.shc_period_work_sched_pk = @IdPlantilla
		  order by sp.pos, TiposTurno.Id
  

		delete @TempDias
	COMMIT TRANSACTION; 
END
GO
