USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerFiltracionesTurno_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerFiltracionesTurno_FAB] 
	-- Add the parameters for the stored procedure here
		@turnos INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- =============================================
-- SE OBTIENE LAS HORAS DE DIFERENCIA SEGUN 
-- LA CANTIDAD DE TURNOS RECIBIDOS
-- 
-- =============================================

	DECLARE @DiferenciaHorasTurnos INT
	DECLARE @HorasDiferencia INT
	DECLARE @fechaInicio DATETIME
	DECLARE @fechaFin DATETIME

	SELECT @DiferenciaHorasTurnos = TABLA_AVG.AVG_DIF
	FROM
	(SELECT  AVG(FECHA.DIFERENCIA) AVG_DIF
		FROM 
		(SELECT TOP 3  DATEDIFF(HOUR,Inicio,Fin) DIFERENCIA
			FROM [dbo].[TiposTurno]
		) FECHA
	) TABLA_AVG

	SET @HorasDiferencia = @DiferenciaHorasTurnos * @turnos

	SET @fechaInicio = GETDATE()
	SET @fechaFin = DATEADD(HOUR,@HorasDiferencia,GETDATE())

-- =============================================
	SELECT
	    TABLA_AUX.IdProducto,
		TABLA_AUX.CERVEZA,
		SUM(TABLA_AUX.EXISTENCIA) EXISTENCIA,
		SUM(TABLA_AUX.NECESIDAD) NECESIDAD,
		SUM(TABLA_AUX.FILTRACIONES) FILTRACIONES
	FROM
	(SELECT 
			TABLA_EXISTENCIA.IdProducto,
			Tabla_Unidad.DESC_Marca AS CERVEZA,
			CASE WHEN SUM(TABLA_EXISTENCIA.Existencia) IS NULL 
				THEN  
					CASE WHEN SUM(TABLA_FILTRACION.CantidadPlanificada) IS NULL 
						THEN 
							0 
						ELSE 
							SUM(TABLA_FILTRACION.CantidadPlanificada) END
				ELSE 
					CASE WHEN SUM(TABLA_FILTRACION.CantidadPlanificada) IS NULL 
						THEN 
							CONVERT(FLOAT,SUM(TABLA_EXISTENCIA.Existencia)) 
						ELSE 
							CONVERT(FLOAT,SUM(TABLA_EXISTENCIA.Existencia)) + CONVERT(FLOAT,SUM(TABLA_FILTRACION.CantidadPlanificada)) 
						END 
					END * SUM(TABLA_FILTRACION.HectolitrosProducto) as EXISTENCIA,
			CASE WHEN SUM(TABLA_FILTRACION.Necesidad) IS NULL 
				THEN 
					0 
				ELSE 
					SUM(TABLA_FILTRACION.Necesidad) END NECESIDAD,
			CASE WHEN SUM(TABLA_EXISTENCIA.RENDIMIENTO_LINEA) > 0 
				THEN 
					CASE WHEN SUM(TABLA_FILTRACION.Necesidad) IS NULL 
						THEN 
							0 
						ELSE 
							(SUM(TABLA_FILTRACION.Necesidad) * 100)/SUM(TABLA_EXISTENCIA.RENDIMIENTO_LINEA) END ELSE 0 END AS FILTRACIONES
	FROM (
  -- ============================================= CONSULTA NECESIDAD SEGUN PRODUCTO ==============================================
			SELECT 
				TABLA_Orden.IdProducto,
				SUM(TABLA_Orden.Necesidad) Necesidad ,
				SUM(CantidadPlanificada) CantidadPlanificada ,
				SUM(TABLA_Orden.HectolitrosProducto) HectolitrosProducto,
				SUM(EnvasesPorPalet) EnvasesPorPalet
				
			FROM
			(
				select DISTINCT 
					O.IdProducto, 
					CASE WHEN SUM(CantidadProducida) IS NULL 
						THEN  
							SUM(CantidadPlanificada * EnvasesPorPalet) 
						ELSE 
							CASE WHEN SUM(CantidadProducida) < SUM(CantidadPlanificada) 
								THEN
									(SUM(CantidadPlanificada)*SUM(EnvasesPorPalet))-(SUM(CantidadProducida)*SUM(EnvasesPorPalet))
								ELSE
									0
							END
					END *SUM(HectolitrosProducto) Necesidad,
					SUM(CantidadPlanificada)*SUM(EnvasesPorPalet) as CantidadPlanificada,
					CASE WHEN SUM(HectolitrosProducto) IS NULL THEN 0 ELSE SUM(HectolitrosProducto) END AS HectolitrosProducto,
					SUM(EnvasesPorPalet) EnvasesPorPalet
				from Ordenes O
				WHERE 
					EstadoAct IN ('Creada', 'Iniciando','Producción' ,'Finalizando')
					AND
					FecIniEstimada between @fechaInicio and  @fechaFin
				GROUP BY O.IdProducto
			) AS TABLA_Orden 
			 GROUP BY TABLA_Orden.IdProducto
 --================================================================================================================================
		)  AS TABLA_FILTRACION
	RIGHT JOIN 
		(
--===========================================CONSULTA RENDIMIENTO SEGUN LINEA Y TCP ===============================================

			SELECT 
				O.IdProducto,
				CASE WHEN TABLA_EXISTENCIA.Rendimiento IS NULL THEN 0 ELSE TABLA_EXISTENCIA.Rendimiento END AS RENDIMIENTO_LINEA,
				SUM(TABLA_EXISTENCIA.Existencia)  as Existencia,
				SUM(O.HectolitrosProducto) HectolitrosProducto
			 FROM
			(SELECT 
				Linea_Rendimiento.NumeroLinea,
				Linea_TCP.IdTCP, 
				Linea_Rendimiento.Rendimiento,
				CASE WHEN SUM(Tabla_lote.Quantity) IS NULL THEN 0 ELSE SUM(Tabla_lote.Quantity) END  Existencia
			FROM dbo.COB_MSM_LINEA_TCP Linea_TCP	
			INNER JOIN dbo.COB_MSM_LINEA_RENDIMIENTO Linea_Rendimiento
			ON Linea_TCP.IdLinea = Linea_Rendimiento.NumeroLinea
			LEFT JOIN  [dbo].[LoteUbicacionMaterial_FAB] Tabla_lote 
			ON Tabla_lote.LOCID = Linea_TCP.IdTCP

			GROUP BY 	Linea_Rendimiento.NumeroLinea,Linea_TCP.IdTCP, Linea_Rendimiento.Rendimiento
			) AS TABLA_EXISTENCIA
			RIGHT JOIN LINEAS ON LINEAS.NumeroLinea = TABLA_EXISTENCIA.NumeroLinea
			RIGHT JOIN Ordenes O ON LINEAS.ID = O.Linea
				WHERE 
				 FecIniEstimada between @fechaInicio and  @fechaFin
				 AND
				 EstadoAct IN ('Creada', 'Iniciando','Producción' ,'Finalizando')
           GROUP BY O.IdProducto, TABLA_EXISTENCIA.RENDIMIENTO
--===============================================================================================================================================
) AS TABLA_EXISTENCIA ON TABLA_EXISTENCIA.IdProducto = TABLA_FILTRACION.IdProducto
INNER JOIN  [INTERSPEC].[MSMIS].[dbo].[VISUnidadExpedicion] Tabla_Unidad 
ON Tabla_Unidad.CodigoExpedicion = TABLA_EXISTENCIA.IdProducto COLLATE SQL_Latin1_General_CP1_CI_AS
GROUP BY TABLA_EXISTENCIA.IdProducto,Tabla_Unidad.DESC_Marca
) AS TABLA_AUX
GROUP BY TABLA_AUX.IdProducto,TABLA_AUX.CERVEZA
END
GO
