USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPlantillasPreparacion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerPlantillasPreparacion]
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT 
		PP.[$IDArchiveValue] AS IdPlantilla,
		PP.DESCRIPCION AS Descripcion,
		PP.ID_TIPO_PLANTILLA AS IdTipoPlantilla,
		TP.NOMBRE AS TipoPlantilla,
		PP.ID_UBICACION AS IdUbicacion,
		UB.Nombre AS Ubicacion,
		PP.FECHA_CREACION as FechaCreacion,
		PP.VOLUMEN_FINAL AS Volumen,
		PP.UNIDADES AS Unidades,
		PP.NOTAS_SUPERVISOR AS NotasSupervisor,
		PP.NOTAS_OFICIAL AS NotasOficial
	FROM COB_MSM_PLANTILLA_PREPARACION AS PP
	INNER JOIN [dbo].[COB_MSM_TIPO_ORDEN_PREP] AS TP ON TP.ID_TIPO_ORDEN = PP.ID_TIPO_PLANTILLA
	LEFT JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] AS UB ON UB.IdUbicacion = PP.ID_UBICACION
	ORDER BY PP.FECHA_CREACION DESC
COMMIT TRANSACTION; 
END
GO
