USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[BrewingPlanning]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[BrewingPlanning]
AS
BEGIN
	declare @currentWeek as nvarchar(max)
	declare @startWeek as nvarchar(max)
	declare @endWeek as nvarchar(max)
	declare @aux nvarchar(max)
	declare @aux2 nvarchar(max)

	select @aux = dbo.BrewingPlanningPreparation()

	set @currentWeek = SUBSTRING(@aux,0,CHARINDEX('-',@aux))
	set @aux2 = SUBSTRING(@aux,CHARINDEX('-',@aux)+1,LEN(@aux))
	set @startWeek = SUBSTRING(@aux2,0,CHARINDEX('-',@aux2))
	set @endWeek = SUBSTRING(@aux2,CHARINDEX('-',@aux2)+1,LEN(@aux2)) 

	--print @currentWeek
	--print @startWeek
	--print @endWeek

	truncate table PackingPO
	truncate table PackingArticleFromJDE
	truncate table CocPlanning

	exec [GetPackingsPO] @startWeek=@startWeek,@endWeek=@endWeek

	exec [GetPackingArticleTotalQuantityFromCurrentWeek] @currentWeek=@currentWeek,@startWeek=@startWeek
END

GO
