USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiposArranqueLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTiposArranqueLinea] 
	@numLinea INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		SELECT 
			A.ID_ARRANQUE AS Id,
			A.DESC_ARRANQUE AS Descripcion
		FROM COB_MSM_ARRANQUES A
		INNER JOIN COB_MSM_LINEAS_ARRANQUES LA ON LA.FK_ID_ARRANQUE = A.ID_ARRANQUE
		WHERE LA.FK_ID_LINEA = @numLinea
	COMMIT TRANSACTION; 
END
GO
