USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetPackingsPO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetPackingsPO](@startWeek nvarchar(max),@endWeek nvarchar(max))
AS
BEGIN
	DECLARE @CodigoPlanta AS NVARCHAR(13);
	IF (@@SERVERNAME = 'VMSITTEST')
	BEGIN
		SET @CodigoPlanta = '        8030'
	END
	ELSE
	BEGIN
		SET @CodigoPlanta = [dbo].[MES_ObtenerCodigoPlanta] ()
	END
	declare @aux as table(WADOCO int,WADRQJ int,WALITM int,WAUORG int,WAUOM nvarchar(max),WAMMCU int,Semana int)
		
	insert into @aux
	exec [dbo].[PRE_OrdenesPlanificadasManugistics] @CodigoPlanta,@startWeek,@endWeek
	
	insert into dbo.PackingPO
	Select * 
	from (select env,sum(total) total,
		  [dbo].[GetMostoFromEnvasado](env,'MOP','MDH') mosto
		  from (SELECT total ,subString(envMat,0,Charindex('-',envMat)) env 
			    FROM (select Sum(WAUORG) total,[dbo].[GetPackingArticleFromJDE](WALITM) envMat 
					  from @aux 
					  group by WALITM)taux) t
		   group by env) tab
	where mosto is not null	
END
GO
