USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_TienePermiso]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[APP_TienePermiso]
	-- Add the parameters for the stored procedure here
	@rol  nvarchar(256), 
	@funcion nvarchar(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @permiso  int
	
	SELECT @permiso = count(*)
		FROM [dbo].[PERMISOS]
		where ID_ROL in (select id from AspNetRoles where name=@rol) and
			  ID_FUNCION  in (select ID_FUNCION from FUNCIONES where CODIGO=@funcion)


	select case @permiso when 0 then 0 else 1 end

END
GO
