USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerZonasCompartidasVirtuales]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerZonasCompartidasVirtuales]
	@IdZona as VARCHAR(8000)
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	DECLARE @idLinea AS INT;
	DECLARE @DESC_ZONA AS NVARCHAR(4000);
	DECLARE @GRUPO AS VARCHAR(8000);
	
	SELECT @idLinea = FK_LINEAS_ID, @DESC_ZONA = DESC_ZONA from COB_MSM_ZONAS
	WHERE ID_ZONA = @IdZona


	SELECT @GRUPO = NULLIF(GRUPO, '') FROM COB_MSM_LINEAS
	WHERE ID_LINEA = @idLinea

	IF (@GRUPO IS NOT NULL)
	BEGIN 
		SELECT	DISTINCT
		Zonas.ID_ZONA AS Id
		,Zonas.ZONA AS NombreZona
		,Zonas.DESC_ZONA as DescripcionZona
		,Zonas.FK_LINEAS_ID as NumLinea
		,Lineas.NUM_LINEA AS NumLineaDescripcion
		FROM COB_MSM_LINEAS AS Lineas 
		INNER JOIN COB_MSM_ZONAS Zonas ON Lineas.ID_LINEA = Zonas.FK_LINEAS_ID
		WHERE Lineas.Grupo = @GRUPO AND Zonas.DESC_ZONA = @DESC_ZONA AND Zonas.ID_ZONA <> @IdZona
	END	
COMMIT TRANSACTION; 
END
GO
