USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPrevisionConsumoWO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 21-04-2021
-- Description:	Se obtienen los datos de previsión de Consumo de WO (CO)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPrevisionConsumoWO]
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @fechaIni date = (SELECT GETDATE())
	DECLARE @fechaFin date = (SELECT DATEADD(DAY, 30, GETDATE()))
	
	DECLARE @inicial TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	
	DECLARE @ordenes TABLE (IdFila bigint, FecIniEstimada datetime, FecFinEstimada datetime, CodigoCaja nvarchar(64), 
		DescripcionCaja nvarchar(100), CantidadPlanificada int, CajasPorPalet int, Merma decimal(18,2))

	DECLARE @operaciones TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	DECLARE @datosConsumo TABLE (IdFila bigint, Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	DECLARE @resultado TABLE (IdFila bigint, Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)

	DECLARE @contFilas int, 
		@filas int, 
		@idFila bigint,
		@fecha date, 
		@duracion int, 
		@dias int, 
		@codigoCaja nvarchar(64), 
		@cantidad int

	-- Para todas las fechas y cajas guardamos cantidad 0
	WHILE (@fechaIni <= @fechaFin)
	BEGIN
		INSERT INTO @inicial
		SELECT DISTINCT
			@fechaIni, 
			IdCaja, 
			DescripcionCaja, 
			0
		FROM ProductosCajas
		WHERE IdCaja IN (SELECT DISTINCT IdCaja FROM ProductosCajas) AND IdProducto != 0

		SET @fechaIni = DATEADD(DAY, 1, @fechaIni);
	END

	--select * from @inicial

	-- Guardamos los CO encontrados según los filtros
	INSERT INTO @ordenes
	SELECT 
		ROW_NUMBER() OVER (ORDER BY P.FecIniEstimada) IdFila,
		DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), P.FecIniEstimada), 
		DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), P.FecFinEstimada),
		C.IdCaja, 
		C.DescripcionCaja,
		P.CantidadPlanificada,
		P.CajasPorPalet,
		M.Merma
	FROM Particiones P
	INNER JOIN ProductosCajas C ON P.IdProducto = C.IdProducto
	INNER JOIN MermasStockVacio M ON P.Linea = M.Linea AND P.IdProducto = M.Producto
	WHERE ((DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), P.FecIniEstimada) >= GETDATE() AND P.EstadoAct IN ('Creada', 'Planificada'))
		OR (DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), P.FecIniReal) < GETDATE() AND 
			DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), P.FecFinEstimada) > GETDATE() AND P.EstadoAct = 'Producción'))
		AND P.CantidadPlanificada > 0

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @ordenes)
	SET @idFila = (SELECT MIN(IdFila) FROM @ordenes)

	-- Realizamos las operaciones de transformación de los datos
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = CAST(FecIniEstimada AS DATE),
			@duracion = DATEDIFF(day, FecIniEstimada, FecFinEstimada) + 1
		FROM @ordenes
		WHERE IdFila = @idFila

		SET @dias = 1

		WHILE @dias <= @duracion
		BEGIN
			INSERT INTO @operaciones
			SELECT 
				@fecha,
				CodigoCaja, 
				DescripcionCaja,
				CAST(((CantidadPlanificada * CajasPorPalet) + ((CantidadPlanificada * CajasPorPalet) * (Merma / 100))) AS decimal(10,0)) / @duracion
			FROM @ordenes
			WHERE IdFila = @idFila

			SET @fecha = DATEADD(day, 1, @fecha)
			SET @dias = @dias + 1;
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

	INSERT INTO @datosConsumo
	SELECT ROW_NUMBER() OVER (ORDER BY Fecha, CodigoCaja), Fecha, Codigocaja, DescripcionCaja, SUM(Cantidad)
	FROM @operaciones
	GROUP BY Fecha, CodigoCaja, DescripcionCaja

	--select * from @datosConsumo

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @datosConsumo)
	SET @idFila = (SELECT MIN(IdFila) FROM @datosConsumo)

	-- Actualizamos los registros iniciales con los datos encontrados
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = Fecha,
			@codigoCaja = CodigoCaja,
			@cantidad = Cantidad
		FROM @datosConsumo
		WHERE IdFila = @idFila

		UPDATE @inicial
		SET Cantidad = @cantidad
		WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

	--select * FROM @inicial

	INSERT INTO @resultado
	SELECT ROW_NUMBER() OVER (ORDER BY Fecha, CodigoCaja), * 
	FROM @inicial

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @resultado)
	SET @idFila = (SELECT MIN(IdFila) FROM @resultado)

	-- Creamos o actualizamos los registros en nuestra tabla destino
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = Fecha,
			@codigoCaja = CodigoCaja,
			@cantidad = Cantidad
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioPrevision WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'CO')
		BEGIN
			INSERT INTO dbo.StockVacioPrevision
			SELECT Fecha, CodigoCaja, DescripcionCaja, 'CO', Cantidad 
			FROM @resultado 
			WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			UPDATE dbo.StockVacioPrevision
			SET Cantidad = @cantidad
			WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'CO'
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
