USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarUltimoStock]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 29-04-2021
-- Description:	Se guarda en la tabla de Prevision de stock el último stock por cada caja de la tabla de MovimientosVacio
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarUltimoStock]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @cajas TABLE (IdFila bigint, IdCaja nvarchar(64), DescripcionCaja nvarchar(100))
	DECLARE @contFilas int, 
		@filas int, 
		@idFila bigint, 
		@codigoCaja nvarchar(64), 
		@descripcionCaja nvarchar(100),
		@stockFinal int

	INSERT INTO @cajas
	SELECT DISTINCT 
		DENSE_RANK() OVER (ORDER BY P.IdCaja) IdFila,
		IdCaja,
		DescripcionCaja
	FROM ProductosCajas P

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @cajas)
	SET @idFila = (SELECT MIN(IdFila) FROM @cajas)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@codigoCaja = IdCaja,
			@descripcionCaja = DescripcionCaja
		FROM @cajas
		WHERE IdFila = @idFila

		SELECT @stockFinal = StockFinal
		FROM MovimientosVacio
		WHERE FechaMovimiento = (SELECT MAX(FechaMovimiento) 
								 FROM MovimientosVacio 
								 WHERE idCaja = @codigoCaja AND ((FechaMovimiento < CAST(GETDATE() AS DATE)) OR 
																(FechaMovimiento >= CAST(GETDATE() AS DATE) AND IdMovimiento = 'AM')))
		AND IdCaja = @codigoCaja 
		
		IF (@stockFinal IS NOT NULL)
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioPrevision
						  WHERE Fecha = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE) AND CodigoCaja = @codigoCaja AND TipoApunte = 'STK')
			BEGIN
				INSERT INTO dbo.StockVacioPrevision (Fecha, CodigoCaja, DescripcionCaja, TipoApunte, Cantidad)
				VALUES (DATEADD(DAY, -1, GETDATE()), @codigoCaja, @descripcionCaja, 'STK', @stockFinal)
			END
			ELSE
			BEGIN
				UPDATE dbo.StockVacioPrevision
				SET Cantidad = @stockFinal
				WHERE Fecha = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE) AND CodigoCaja = @codigoCaja AND TipoApunte = 'STK'
			END
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
