USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEquipoAreaSilos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		Leandro
-- ALTER date: 28/02/2015
-- Description:	Obtiene las ordenes planificadas de una linea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEquipoAreaSilos]
	@AREA as nvarchar(50)
AS
BEGIN



Select E.Descripcion ,L.LOCID, LOTS.[InitQuantity], LOTS.[Quantity], D.DEFNAME, D.DESCRIPT, UOM.UOMID, SN.SERIAL_NUMBER    
from [SITMesDB].[dbo].[MMvLocations] L
LEFT JOIN [SITMesDB].[dbo].MMvLots LOTS ON LOTS.LOCPK = L.LOCPK
LEFT JOIN [SITMESDB].dbo.[MMvDefVers] DV ON LOTS.DEFVERPK = DV.DEFVERPK
LEFT JOIN [SITMESDB].[dbo].[MMvDefinitions] D ON DV.DEFPK = D.DEFPK
LEFT JOIN [SITMesDB].[dbo].[MMwUoMs] UOM ON UOM.UOMPK = LOTS.UOMPK
LEFT JOIN [SITMesDB].[dbo].[MTMV1_LOT_SLT_ALL] SN ON SN.LOTPK = LOTS.LOTPK
INNER JOIN [dbo].[Equipo_FAB] E ON E.ID = L.LocPath
WHERE ParentLocPK = (SELECT TOP 1 LocPK FROM [SITMesDB].[dbo].[MMvLocations] WHERE LOCID LIKE '%' + @area + '%')
ORDER BY L.LOCPK desc
END
GO
