USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerHistoricoOrdenes]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerHistoricoOrdenes]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
--Select  O.Id AS ORDEN ,H.FECHA_CAMBIO AS FECHA_CAMBIO ,EO.Estado AS NUEVO_ESTADO, O.EstadoAnt AS ANTIGUO_ESTADO
--From [dbo].[Ordenes] O 
--INNER JOIN [dbo].[HistoricoOrdenes] H ON H.ID_ORDEN = O.Id
--LEFT JOIN [dbo].[EstadosOrden] EO ON EO.Id = H.ESTADO
--where O.Linea = @Linea
--	 and @FechaInicio <= datediff(s, '1970-1-1' ,O.FecIniReal) 
--	 and @FechaFin >= datediff(s, '1970-1-1' ,O.FecFinReal)
--	 order by O.id, H.FECHA_CAMBIO asc



	  SELECT 
	  ID_ORDEN as ORDEN,
	  FECHA_CAMBIO as FECHACAMBIO,
	  EstadosOrden.Estado as NUEVOESTADO
	  FROM HistoricoOrdenes h
	  inner join EstadosOrden on h.ESTADO = EstadosOrden.Id
	  INNER JOIN Particiones P ON h.ID_ORDEN = P.Id AND P.Linea = @Linea
	  where 
	  DATEADD(SECOND, @FechaInicio,'1970-01-01') <= h.FECHA_CAMBIO AND h.FECHA_CAMBIO <=  DATEADD(SECOND, @FechaFin,'1970-01-01') 
	  order by FECHACAMBIO, h.ID_ORDEN

 commit TRANSACTION
END




/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParos]    Script Date: 01/06/2016 12:09:07 ******/
SET ANSI_NULLS ON
GO
