USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Valores_KOP_SITMesDB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creado por: Juan Carlos Mandujano
-- Modificado por: Alexis Anselmi
-- Fecha de modificación: 05/05/2021
-- Comentarios: Se actualiza el procedimiento para que valide si existe o no valores 
-- en la tabla de datos del KOP, si no existe valor lo inserta.

CREATE PROCEDURE [dbo].[Actualizar_Valores_KOP_SITMesDB]
@ValuePk    NVARCHAR(10),
@ACTL_VAL   NVARCHAR(1000),
@TS            datetime,
@OrderId NVARCHAR(50),
@NameKOP NVARCHAR(50)
AS
SET NOCOUNT ON

IF(@ValuePk <> '0')
BEGIN
	UPDATE [SITMesDB].[dbo].[POMT_PCS_PARM_ACTL_VAL] 
	SET [ACTL_VAL] = @ACTL_VAL,
	[TS] = @TS
	WHERE PK = @ValuePk
END
ELSE 
BEGIN 
	INSERT INTO SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL(PARM_PK,ACTL_VAL,TS,RowUpdated)
	SELECT KOP.pom_process_segment_parameter_pk,@ACTL_VAL,@TS,GETUTCDATE()
	FROM 
		[SITMesDB].[dbo].POM_ORDER AS [Order] INNER JOIN
		[SITMesDB].[dbo].MDSPOM_ETRY AS [ETRY] ON [ETRY].ORDR_ID = [Order].pom_order_id
		INNER JOIN [SITMesDB].[dbo].POM_PROCESS_SEGMENT_PARAMETER AS KOP ON KOP.pom_entry_pk = [ETRY].ETRY_PK
	WHERE 
		[Order].pom_order_id = @OrderId --'OP-BUR-FAB-SC1-21-0483' -
		AND KOP.name = @NameKOP --'HL_MOSTO_COCCION_ESTIMADO' 

END
GO
