USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CalculoOeePreactor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_CalculoOeePreactor]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;
    -- Insert statements for procedure here
		DECLARE @numLinea SMALLINT;
		DECLARE @IdProducto NVARCHAR(100);
		DECLARE @OEEMedioPreactor FLOAT;

		DECLARE cProductosLinea CURSOR FOR
		SELECT DISTINCT l.NumeroLinea, Ordenes.IdProducto
		FROM Ordenes
		INNER JOIN [dbo].[Lineas] l on l.Id = Ordenes.Linea
		WHERE Ordenes.EstadoAct IN ('Cerrada')

		OPEN cProductosLinea

		FETCH cProductosLinea INTO @numLinea, @IdProducto

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			--PRINT 'Linea: ' + CONVERT(nvarchar(2),@numLinea)
			--PRINT 'Cod_producto: ' + @IdProducto

			IF(@numLinea IS NOT NULL AND @IdProducto IS NOT NULL) 
			BEGIN
				SELECT @OEEMedioPreactor = [dbo].[MES_GetOEEMedioPreactor] (@numLinea, @IdProducto)
		
				IF (@OEEMedioPreactor > 0)
				BEGIN
					--PRINT 'OEEMedio: ' + CONVERT(NVARCHAR(100),@OEEMedioPreactor)
					UPDATE dbo.COB_MSM_PARAMETROS_LINEA_PRODUCTO
					SET [OEE_PREACTOR] = @OEEMedioPreactor
					WHERE [FK_LINEAS_ID] = @numLinea
					AND [ID_PRODUCTO] = @IdProducto
				END			
			END
			--PRINT '----------'
			-- Lectura de la siguiente fila del cursor
			FETCH cProductosLinea INTO @numLinea, @IdProducto

		END

		CLOSE cProductosLinea

		DEALLOCATE cProductosLinea
	COMMIT TRANSACTION; 
END
GO
