USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPlanificacionOrdenes]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPlanificacionOrdenes] 
	-- Add the parameters for the stored procedure here
	@fechaInicio datetime ,
	@fechaFin datetime 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;


		SELECT DISTINCT
			Particiones.Id,
			Particiones.IdOrdenPadre,
			Particiones.IdSuborden,
			Particiones.Linea,
			Particiones.Descripcion,
			IdEstadoAct,
			EstadoAct,
			EstadoAct.color AS ColorAct,
			IdEstadoAnt,
			EstadoAnt,
			EstadoAnt.color AS ColorAnt,
			FecIniEstimada as FecIniEstimada,
			FecFinEstimada as FecFinEstimada,
			FecIniReal as FecIniReal,
			FecFinReal as FecFinReal,
			Productos.IdProducto,
			Productos.Descripcion AS Producto,
			Productos.IdClase AS IdTipoProducto,
			Productos.Clase AS TipoProducto,
			Particiones.CantidadPlanificada,
			Particiones.CantidadProducida,
			Productos.udMedida,
			Particiones.VelocidadNominal,
			Particiones.OEEObjetivo,
			Particiones.OEECritico,
			Particiones.codigoJDE,
			Particiones.FecHorAct as RowUpdated,
			Particiones.CausaPausa,
			Particiones.EnvasesPorPalet as EnvasesPorPalet,
			Particiones.CajasPorPalet as CajasPorPalet,
			Particiones.OEEPreactor,
			Particiones.HectolitrosProducto,
			Particiones.PicosCajas,
			(SELECT COUNT(IdOrden) FROM dbo.Picos WHERE IdOrden = Particiones.idOrdenPadre) as PicosPalets
			FROM Particiones
			LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
			LEFT JOIN EstadosOrden AS EstadoAnt ON EstadoAnt.Id = Particiones.IdEstadoAnt
			LEFT JOIN Productos ON Productos.IdProducto = Particiones.IdProducto
			LEFT JOIN Maquinas ON Maquinas.Orden = Particiones.Id
			where 	
			 (
				 (
				  (FecIniEstimada between @fechaInicio and DATEADD(ms,86399997,@fechaFin)
				  AND FecFinEstimada between @fechaInicio and DATEADD(ms,86399997,@fechaFin)
				  )
				  OR

				  ( FecIniReal between @fechaInicio and DATEADD(ms,86399997,@fechaFin)
				   --AND FecFinReal between @fechaInicio and DATEADD(ms,86399997,@fechaFin)
				   --Nota: Cambio realizado el 08/11/2021 por Daniel Alvarez
				   AND IIF(FecFinReal IS NOT NULL, FecFinReal, FecIniReal) between @fechaInicio and DATEADD(ms,86399997,@fechaFin)
				   )
				 )
			 
				OR

				 (
				   @fechaFin BETWEEN FecIniEstimada AND Particiones.FecFinEstimada
				   OR (@fechaFin >= FecIniReal 
				   AND @fechaFin <= IIF(Particiones.FecFinReal IS NOT NULL, Particiones.FecFinReal,Particiones.FecFinEstimada)
				  ) 
				 )
			 
				OR

				 (
				   @fechaInicio BETWEEN FecIniEstimada AND Particiones.FecFinEstimada
				   OR 
				   (@fechaInicio >= FecIniReal AND @fechaInicio <= IIF(Particiones.FecFinReal IS NOT NULL,Particiones.FecFinReal,Particiones.FecFinEstimada))
				 )
				 --OR
				 --(
					-- EstadoAct IN ('Producción', 'Iniciando','Finalizando','Cerrada')
				 --)
			 )
			 AND

			--((@fechaInicio <= FecIniEstimada and DATEADD(HOUR,24,@fechaFin) >= FecIniEstimada) OR
			--(@fechaInicio <= FecFinEstimada and DATEADD(HOUR,24,@fechaFin) >= FecFinEstimada) OR
			--(DATEADD(HOUR,24,@fechaFin) <= FecFinEstimada))
			 
			EstadoAct <> 'Creada' and EstadoAct <> 'Cancelada'
			--and Particiones.Linea is not null
			
			--and FecIniReal is not null
			--(EstadoAct = 'Iniciando' or EstadoAct = 'Producción' or EstadoAct = 'Finalizando')
			order by FecIniEstimada,Particiones.Id asc
	COMMIT TRANSACTION;
END
GO
