USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_StoreDTMRegisters]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_StoreDTMRegisters] 
	-- Add the parameters for the stored procedure here
	@FechaInicio nvarchar(19) = '1900-01-01 00:00:00', 
	@FechaFin nvarchar(19) = '2017-12-31 23:59:59',
	@Equipo nvarchar(100) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @PPAObjectId int;
	
	SET @PPAObjectId = (SELECT TOP 1 PPAObjectId FROM [ppa].[dbo].[Equipment_Extension_Link]
	INNER JOIN [ppa].[dbo].[Equipment] ON EquipmentId = EqID
	WHERE EquipmentName = @Equipo);
	
	DECLARE @PPADTMTable nvarchar(100);
	SET @PPADTMTable = '[PPA].[dbo].[' + (SELECT name
	FROM    ppa.sys.objects
	WHERE   type = 'V'
	AND name like '%ArchOEERT%OEEDTMTable') + ']'
	
	print @PPAObjectId
	print @FechaInicio
	print @FechaFin
	print @PPADTMTable
	
	DECLARE @Query nvarchar(512);

	IF OBJECT_ID(N'dbo.DTM_TEMPORAL', N'U') IS NOT NULL
		BEGIN
			PRINT 'La tabla DTM_TEMPORAL existe, no se crea'
			SET @Query = 'INSERT INTO DTM_TEMPORAL SELECT * FROM ' + 
			@PPADTMTable + 
			' WHERE EqID = ' + Convert(nvarchar(100),@PPAObjectId) +
			' AND StartTime >= ''' + @FechaInicio + '''' +
			' AND EndTime <= ''' + @FechaFin + ''' OR EndTime IS NULL'
			PRINT @Query
			EXEC(@Query)
		END
	ELSE
		BEGIN
			PRINT 'La tabla DTM_TEMPORAL no existe, se crea'
			SET @Query = 'SELECT * INTO DTM_TEMPORAL FROM ' + 
			@PPADTMTable + 
			' WHERE EqID = ' + Convert(nvarchar(100),@PPAObjectId) +
			' AND StartTime >= ''' + @FechaInicio + '''' +
			' AND EndTime <= ''' + @FechaFin + ''' OR EndTime IS NULL'
			PRINT @Query
			EXEC(@Query)
		END

END
GO
