USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerSubReportAccionMejora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerSubReportAccionMejora]
	-- Add the parameters for the stored procedure here
    @AccionMejoraID bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
	

SELECT [dbo].[ToLocalDateTime](fecha_alta) AS fecha_alta,usuario,descripcion_problema,causa,accion_propuesta,fecha_finalizada,observaciones
  FROM [dbo].[ACCION_MEJORA]
  where ID_ACCION_MEJORA = @AccionMejoraID
END
GO
