USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerArranquesTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Informe_ANA_4_ObtenerArranquesTurno]
	@Linea nvarchar(255),
	@desde bigint,
	@hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id]
      ,[IdLinea]
      ,[Linea]
      ,[DescripcionLinea]
      ,[InicioReal]
      ,[TipoTurnoId]
      ,[TipoTurno]
      ,[FechaTurno]
      ,[OrdenEntrante]
      ,[IDProductoEntrante]
      ,[ProductoEntrante]
      ,[MinutosFinal1]
      ,[MinutosFinal2]
      ,[MinutosObjetivo1]
      ,[MinutosObjetivo2]
      ,[TipoArranque]
      ,[ID_ARRANQUE]
      ,[EstadoAct]
  FROM [dbo].[OrdenesArranque]
  WHERE InicioUTC BETWEEN DATEADD(SECOND,@desde,'1970-01-01') AND DATEADD(SECOND,@hasta,'1970-01-01')
	AND IdLinea = @Linea
END
GO
