USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiemposArranqueOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[MES_ObtenerTiemposArranqueOrden]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@idProducto as varchar(200),
	@tipoArranque as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		-- Insert statements for procedure here
		SELECT 
		IdTiempoArranque,
		Tobj1,
		Tobj2,
		Tm,
		ISNULL([TIEMPO_CALCULADO_2],0) AS [TIEMPO_CALCULADO_2],
		ISNULL([TIEMPO_PREACTOR],0) AS [TIEMPO_PREACTOR]
		FROM TiemposArranque
		where TiemposArranque.LINEA = @idLinea and TiemposArranque.IdProductoEntrante = @idProducto and TiemposArranque.TipoArranque = @tipoArranque
	COMMIT TRANSACTION;
END
GO
