USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnos]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@desde as datetime,
	@hasta as datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		-- Insert statements for procedure here
		SELECT Id
		  ,Linea
		  ,Fecha
		  ,InicioTurno
		  ,FinTurno
		  ,IdTipoTurno
		  ,Turno
		FROM Turnos
		where [Linea]=@idLinea and  InicioTurno BETWEEN @desde and @hasta and FinTurno BETWEEN @desde and @hasta AND LOWER(Turno) <> 'nowork'
		order by InicioTurno
	COMMIT TRANSACTION; 
END
GO
