USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerRechazosTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[MES_ObtenerRechazosTurno]	
	-- Add the parameters for the stored procedure here
	@idTurno as int
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

BEGIN TRANSACTION;	
	DECLARE @RechazosInspectorSalidaLlenadora INT;
	DECLARE @RechazosInspectorBotellasVacias INT;
	DECLARE @RechazosClasificadores INT;
	DECLARE @RechazosProductoTerminado INT;
	
	SELECT @RechazosClasificadores = SUM(CMH.CONTADOR_RECHAZOS)
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'CLASIFICADOR'

	SELECT @RechazosInspectorBotellasVacias = SUM(CMH.CONTADOR_RECHAZOS)
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'INSPECTOR_BOTELLAS_VACIAS'

	SELECT @RechazosInspectorSalidaLlenadora = SUM(CMH.CONTADOR_RECHAZOS)
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase = 'INSPECTOR_SALIDA_LLENADORA'

	SELECT @RechazosProductoTerminado = SUM(CMH.CONTADOR_RECHAZOS)
	FROM COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	where  t.Id = @idTurno AND m.Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA')
		
	SELECT 
	 COALESCE(@RechazosClasificadores,0) AS rechazosClasificadorAutomatico,
	 COALESCE(@RechazosProductoTerminado,0) as rechazosProductoTerminadoAutomatico,
	 COALESCE(@RechazosInspectorSalidaLlenadora,0) as rechazosSalidaLlenadoraAutomatico,
	 COALESCE(@RechazosInspectorBotellasVacias,0)AS rechazosVaciosAutomatico	
	 
COMMIT TRANSACTION; 	 
END
GO
