USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerAccionMejora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerAccionMejora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		Id
	INTO #Turnos
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT TOP 10
		ROW_NUMBER() OVER (ORDER BY PP.DuracionParoMayor DESC) sequence_no
		,DuracionParoMayor AS Duracion
		,CASE
			WHEN PP.idtipoturno = 1 THEN CONVERT(VARCHAR(10), CONVERT(DATE, PP.FechaTurno)) + ' Mañana'
			WHEN PP.idtipoturno = 2 THEN CONVERT(VARCHAR(10), CONVERT(DATE, PP.FechaTurno)) + ' Tarde'
			ELSE CONVERT(VARCHAR(10), CONVERT(DATE, PP.FechaTurno)) + ' Noche'
		END AS IdTipoTurno
		,
		--PP.NombreTipoTurno as IdTipoTurno, 
		ISNULL(MaquinaCausaNombre, '') AS MaquinaCausaNombre
		,ISNULL(EquipoConstructivoNombre, '') AS EquipoConstructivoNombre
		,ISNULL(PP.Descripcion, '') AS Descripcion
		,ISNULL(AM.OBSERVACIONES, '') OBSERVACIONES
		,ISNULL(AM.ID_ACCION_MEJORA, 0) AS ID_ACCION_MEJORA
		,[dbo].[ToLocalDateTime](Inicio) AS InicioLocal
		,PP.Id AS IDParo
	FROM ParosPerdidas PP
	INNER JOIN #Turnos turnos ON PP.Turno = turnos.Id
	INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
	LEFT JOIN [dbo].[ACCION_MEJORA_PAROS_MAYORES] AMP ON AMP.ID_PARO_MAYOR = PP.Id
	LEFT JOIN [dbo].[ACCION_MEJORA] AM ON AMP.ID_ACCION_MEJORA = AM.ID_ACCION_MEJORA
	WHERE L.Nombre = @Linea
	--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', Inicio)
	--AND @FechaFin > DATEDIFF(s, '1970-1-1', Inicio)
	AND PP.IdTipoParoPerdida = 1
	ORDER BY DuracionParoMayor DESC

	DROP TABLE #Turnos
END

/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerPerdidaDisponibilidad]    Script Date: 01/06/2016 12:24:58 ******/
SET ANSI_NULLS ON
GO
