USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarAlertasBasadasLog]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 11-03-2020
-- Description:	Se obtienen los datos de la configuración de alertas de logs y 
--				se guardan en la tabla AlertasBasadasLogMails
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarAlertasBasadasLog]
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @rowCount INT, @confId BIGINT
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(Id) FROM dbo.AlertasBasadasLogConfiguracion WHERE Activa = 1)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @confId = (SELECT MAX(Id) FROM dbo.AlertasBasadasLogConfiguracion WHERE Activa = 1)

	-- Tabla temporal donde se va a guardar el resultado
	DECLARE @resultado TABLE (IdConfiguracion bigint, FechaCreacion datetime, FechaEnvio datetime, Asunto nvarchar(100), 
		Cuerpo nvarchar(max), Destinatarios nvarchar(max), Consulta nvarchar(max))

	DECLARE @valoresCampo TABLE (campo nvarchar(max))
	-- Tabla temporal para guardar la fecha del último registro
	DECLARE @fechaTabla TABLE (fecha datetime)

	WHILE (@rowCount > 0)
	BEGIN
		-- Se declaran las variables de los datos que se van a necesitar para cada registro
		DECLARE @id bigint, @fechaUltimaConsulta datetime, @fechaUltimoRegistro datetime, @bbdd nvarchar(100), @tabla nvarchar(100), 
		@campo nvarchar(100), @condicion nvarchar(max), @campoFecha nvarchar(100), @asunto nvarchar(100), @cuerpo nvarchar(max), 
		@destinatarios nvarchar(max)

		SELECT 
			@id = Id,
			@fechaUltimaConsulta = FechaUltimaConsulta,
			@fechaUltimoRegistro = FechaUltimoRegistro,
			@bbdd = BBDD,
			@tabla = Tabla, 
			@campo = Campo, 
			@condicion = Condicion,
			@campoFecha = CampoFecha,
			@asunto = Asunto,
			@cuerpo = Cuerpo,
			@destinatarios = Destinatarios
		FROM dbo.AlertasBasadasLogConfiguracion
		WHERE Id = @confId

		-- Variables donde se guardan la query creada, los valores encontrados y el cuerpo del mensaje en HTML
		DECLARE @sql nvarchar(max), @campoRes nvarchar(max), @cuerpoHTML nvarchar(max)

		SET @sql = 'SELECT DISTINCT ' + @campo + ' FROM ' + @bbdd + '.dbo.' + @tabla + ' WHERE ' + @condicion + 
			' AND ' + @campoFecha + ' > ''' + CONVERT(VARCHAR(30), @fechaUltimoRegistro, 121) + '''';
		INSERT @valoresCampo EXEC (@sql)
		
		--SELECT @campoRes += '<tr style="font-size:12px;"><td>'+ campo +'</td></tr>' FROM @valoresCampo
		SELECT @campoRes = COALESCE(@campoRes + '<tr style="font-size:12px;"><td>'+ campo +'</td></tr>', '<tr style="font-size:12px;"><td>'+ campo +'</td></tr>') FROM @valoresCampo
		
		IF @campoRes IS NOT NULL AND @campoRes != ''
		BEGIN
			SET @cuerpoHTML = N'<h3>' + @cuerpo + ' - ' + dbo.MES_ObtenerNombrePlanta() + '</h3>' +
                N'<table border="1" align="left" cellpadding="2" cellspacing="0" style="text-align:left;">' +
                @campoRes + '</table>'

			INSERT INTO @resultado VALUES (@id, GETDATE(), null, @asunto, @cuerpoHTML, @destinatarios, @sql)
		END

		-- Variables donde se guardan la query para obtener la fecha más reciente y el valor de la fecha
		DECLARE @consultaFecha nvarchar(max), @maximaFecha datetime

		SET @consultaFecha = 'SELECT TOP 1 ' + @campoFecha + ' FROM ' + @bbdd + '.dbo.' + @tabla + ' WHERE ' + 
			@condicion + ' AND ' + @campoFecha + ' > ''' + CONVERT(VARCHAR(30), @fechaUltimoRegistro, 121) + ''' ORDER BY ' + 
			@campoFecha + ' DESC';

		INSERT @fechaTabla EXEC(@consultaFecha)

		SET @maximaFecha = (SELECT * FROM @fechaTabla)

		IF @maximaFecha IS NULL
		BEGIN
			SET @maximaFecha = @fechaUltimoRegistro
		END

		UPDATE dbo.AlertasBasadasLogConfiguracion
		SET 
			FechaUltimaConsulta = GETDATE(),
			FechaUltimoRegistro = @maximaFecha
		WHERE Id = @confId
	
		-- Se reinician las variables
		DELETE FROM @valoresCampo
		SELECT @campoRes = ''
		DELETE FROM @fechaTabla

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @confId = Id FROM dbo.AlertasBasadasLogConfiguracion WHERE Id < @confId ORDER BY Id DESC
		SET @rowCount = @rowCount - 1  
	END

	INSERT INTO dbo.AlertasBasadasLogMails
	SELECT * FROM @resultado ORDER BY IdConfiguracion
END
GO
