USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerPerdidasTurnoSubInforme]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerPerdidasTurnoSubInforme]
	-- Add the parameters for the stored procedure here
	@Turno int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted


SELECT convert(varchar(100),[dbo].[ToLocalDateTime](Inicio),103) + ' ' + convert(varchar(100),[dbo].[ToLocalDateTime](Inicio),108)  as InicioLocal,
ISNULL(CausaNombre,'') + ' ' + ISNULL(MotivoNombre,'') AS Causa,
CONVERT(NUMERIC(18,2),(DuracionParosMenores + DuracionBajaVelocidad)) as Duracion,
MaquinaCausaNombre,
EquipoConstructivoNombre,
Descripcion,
Observaciones
FROM ParosPerdidas
WHERE Turno =@Turno AND IdTipoParoPerdida = 2
union all
Select '' as InicioLocal,
'Total' as Causa,
CONVERT(NUMERIC(18,2),sum(DuracionParosMenores + DuracionBajaVelocidad)),
'-' as MaquinaCausaNombre,
'-' as EquipoConstructivoNombre,
'-' as Descripcion,
'-' as Observaciones
From ParosPerdidas
WHERE Turno =@Turno AND IdTipoParoPerdida = 2
order by 3 desc

END


GO
