USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerProduccionEmpaquetadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Informe_ANA_4_ObtenerProduccionEmpaquetadora]
	-- Add the parameters for the stored procedure here
	 @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
	 
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		DECLARE @turno int
		DECLARE @d DATETIME
		DECLARE @h DATETIME
		DECLARE @ID_CLASE_ENCAJONADORA AS INT
		DECLARE @ID_CLASE_EMPAQUETADORA AS INT

		SET @d = DATEADD(s, @desde, '19700101')
		SET @h = DATEADD(s, @hasta, '19700101')

		SELECT
			@turno = Id
		FROM Turnos
		WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
		ORDER BY InicioTurno


		SELECT DISTINCT
			@ID_CLASE_ENCAJONADORA = IdClase
		FROM Maquinas
		WHERE Clase = 'ENCAJONADORA'

		SELECT DISTINCT
			@ID_CLASE_EMPAQUETADORA = IdClase
		FROM Maquinas
		WHERE Clase = 'EMPAQUETADORA'

		SELECT
			m.Id
			,m.Descripcion AS NOMBRE
			,SUM(Produccion.CONTADOR_PRODUCCION) AS ENVASES_LLENADORA
			,SUM(Produccion.CONTADOR_RECHAZOS) AS ENVASES_RECHAZADOS
		FROM COB_MSM_PROD_RESTO_MAQ_HORA Produccion
		INNER JOIN Maquinas m
			ON Produccion.ID_MAQUINA = m.Id
			AND M.Linea = @LINEA
		WHERE m.IdClase IN (@ID_CLASE_ENCAJONADORA, @ID_CLASE_EMPAQUETADORA)
		AND Produccion.SHC_WORK_SCHED_DAY_PK = @turno AND ISNULL(Produccion.ID_ORDEN,'') != ''
		GROUP BY M.ID,M.Descripcion
	COMMIT TRANSACTION
END
GO
