USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCodigoNuevaWO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Daniel
-- Create date: 08/09/2016
-- Description:	Obtiene un código para generar una nueva WO
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerCodigoNuevaWO]
@codBase AS NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	SELECT TOP 1 REPLACE(pom_order_id ,@codBase,'') FROM [SITMesDB].[dbo].[POM_ORDER]
	WHERE pom_order_id  like @codBase + '%'and pom_order_id not like '%.%'
	ORDER BY cast(REPLACE(pom_order_id ,@codBase,'')as int) desc;
	
	COMMIT TRANSACTION; 


END
GO
