USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerTiempos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_5_ObtenerTiempos]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Inicio nvarchar(255),
	 @Fin nvarchar(255),
	 @Tipo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	set transaction isolation level read uncommitted

--set @linea = 'MSM.BURGOS.ENVASADO.B447'
--set @desde = convert(datetime,'2015-11-25T05:00:00',126)
--set @hasta = convert(datetime,'2015-11-25T13:00:00',126)
--SELECT convert(varchar(100),S.AÑO) + ' Semana ' + convert(varchar(100),S.SEMANA) as Fecha
--      ,CONVERT(INT,AVG([MinutosFinal1])) as TiempoReal
--      ,CONVERT(INT,AVG([MinutosObjetivo2])) as TiempoObjetivo
--  FROM [dbo].[OrdenesArranque] OC
--  LEFT JOIN [dbo].[SEMANAS] S ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO
--  where TipoArranque=@Tipo and InicioReal between convert(datetime,@Inicio) and convert(datetime,@Fin) and [IdLinea] =@Linea
--  GROUP BY S.AÑO, S.SEMANA


  DECLARE @ini datetime = convert(datetime,@Inicio);
	DECLARE @find datetime = convert(datetime,@Fin);

	SELECT
		CONVERT(VARCHAR(100), S.AÑO) + ' Semana ' + CONVERT(VARCHAR(100), S.SEMANA) AS Fecha
		,ISNULL(CONVERT(INT, SUM([MinutosFinal1])), 0) AS 'Tiempo Final Llenadora'
		,ISNULL(CONVERT(INT, SUM([MinutosFinal2])), 0) AS 'Tiempo Final Paletizadora'
		,ISNULL(CONVERT(INT, SUM([MinutosObjetivo1])), 0) AS 'Tiempo Objetivo Llenadora'
		,ISNULL(CONVERT(INT, SUM([MinutosObjetivo2])), 0) AS 'Tiempo Objetivo Paletizadora'
	FROM [dbo].[SEMANAS] S
	LEFT JOIN (SELECT
					OA.*
				FROM [dbo].OrdenesArranque OA 
				INNER JOIN [dbo].[TIPOS_ARRANQUE] TA ON OA.[TipoArranque] = TA.ID_ARRANQUE
				AND TA.ID_ARRANQUE = @Tipo) OC
		ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO AND oc.IdLinea = @Linea
	WHERE @ini <= S.FIN AND @find >= S.INICIO
	GROUP BY S.AÑO, S.SEMANA
	ORDER BY S.SEMANA ASC

END
GO
