USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCurvaGrafico]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerCurvaGrafico]
	-- Add the parameters for the stored procedure here
	@pkOrden int,
	@id_kop int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	select cfg.Label +' - Posición: '+Cast(cfg.[Index] as nvarchar(max)) categories,C.Nombre as seriesname, REPLACE(C.valor,',','.') as seriesdata,cfg.[Index] 
	from [dbo].[COB_MSM_CURVAS_KOP_VAL] val
	LEFT JOIN [dbo].[COB_MSM_CURVAS_KOP_CFG] cfg on cfg.OrderID = val.OrderID
	CROSS APPLY (
	SELECT 'Valor minimo', cfg.Min_value UNION ALL
	SELECT 'Valor', val.Valor UNION ALL
	SELECT 'Valor maximo', cfg.MAX_value 
	) C (NOMBRE, VALOR)
	WHERE cfg.KopID = val.KopID AND cfg.[Index]=val.[Index] AND (cfg.OrderID = @pkOrden AND cfg.KopID = @id_kop)
	group by c.Nombre,cfg.[Index],cfg.Label,c.valor
	order by C.Nombre,cfg.[Index] asc

--select K.Label + ' - ' + CONVERT(VARCHAR(10),k.TimeStamp,103) + ' ' + convert(varchar(8),k.TimeStamp,108) as categories,C.Nombre as seriesname, C.valor as seriesdata  
--from [dbo].[COB_MSM_CURVAS_KOP_VAL] k
--CROSS APPLY (
--SELECT 'Valor minimo', Min_value UNION ALL
--SELECT 'Valor', K.Valor UNION ALL
--SELECT 'Valor maximo', MAX_value 
--) C (NOMBRE, VALOR)
--WHERE K.OrderID = @pkOrden AND KopID = @id_kop
--group by  c.valor,c.Nombre, K.Label + ' - ' + CONVERT(VARCHAR(10),k.TimeStamp,103) + ' ' + convert(varchar(8),k.TimeStamp,108),k.idobj
--order by C.Nombre, k.idobj asc

END
GO
