USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[INTERSPEC_ObtenerRelacionEnvasesCajasPaletsHl]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	El parámetro @listaCodigosProductos es un string con el codigo de cada producto entrecomillado y separados por coma. 
-- Ej. '1033','1034','1037','1039','1040','1044','1045','1053','1055'
-- =============================================
CREATE PROCEDURE [dbo].[INTERSPEC_ObtenerRelacionEnvasesCajasPaletsHl]
	@listaCodigosProductos NVARCHAR(MAX) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--DECLARE @listaCodigosProductos NVARCHAR(MAX) = '''1033'',''1034'',''1037'',''1039'',''1040'',''1044'',''1045'',''1053'',''1055'''
	DECLARE @query NVARCHAR(MAX) = 
		'SELECT hl.PartNo AS codigoProducto, hl.[Productos] AS codigoCzaEnv, hl.[CajasPorPalet], hl.[EnvasesPorPalet], hl.[HectolitrosEnvases] ' +
		'FROM dbo.vUE_ProductoHL hl (NOLOCK) '
	IF @listaCodigosProductos IS NOT NULL AND LEN(@listaCodigosProductos) > 0
		SET @query = @query + 'WHERE hl.PartNo IN (' + @listaCodigosProductos + ') '

	DECLARE @sql NVARCHAR(MAX) = 'SELECT * FROM OPENQUERY(INTERSPEC, ' + dbo.quotestring(@query) + ')'

	PRINT @sql

	EXEC sp_executesql @sql;

END
GO
