USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerPerdidaEficiencia]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerPerdidaEficiencia]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
Select [dbo].[ToLocalDateTime](PP.Inicio) as InicioLocal, PP.CausaNombre, sum(DuracionBajaVelocidad)+ SUM(ISNULL(PP.DuracionParosMenores,0)) AS Duracion, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, Observaciones
,pp.MotivoNombre
from dbo.ParosPerdidas PP
	   INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
INNER JOIN DBO.Turnos T ON T.InicioTurno<= PP.INICIO and pp.INICIO< t.FinTurno and T.Linea = @Linea
WHERE IdTipoParoPerdida=2 AND L.Nombre= @Linea AND convert(date,convert(date,T.Fecha)) = convert(Date,DATEADD(s, @Fecha, '19700101')) AND t.Id = @TURNO 
Group by PP.Inicio, PP.CausaNombre, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, Observaciones, MotivoNombre

END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerAccionMejora]    Script Date: 01/06/2016 12:23:12 ******/
SET ANSI_NULLS ON
GO
