USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[NOT_CambiosOrdenesV2]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 


CREATE PROCEDURE [dbo].[NOT_CambiosOrdenesV2]
@lastUpdate AS DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
    
    BEGIN TRANSACTION;    

 

        --Cambios a nivel de linea y estado orden
        IF (@lastUpdate IS NULL)
        BEGIN
            set @lastUpdate = '1900-01-01 00:00'
        END
    
        SELECT 
            Ordenes.pom_order_id AS Orden,
            Ordenes.pom_order_status_id AS Estado,
            Ordenes.pom_order_status_pk AS IdEstado,
            LineaPPR.ExecEquipList_ExecEquipLongName AS Linea,
            Ordenes.RowUpdated, --AS Actualizacion
            Ordenes.estimated_start_time AS FecIniEstimada, 
            Ordenes.estimated_end_time AS FecFinEstimada,
            Ordenes.pom_matl_qty AS CantidadPlanificada,
            Ordenes.actual_start_time AS FecIniReal,
            Ordenes.actual_end_time AS FecFinReal,
            Ordenes.note
        FROM SitMesDB.dbo.pomv_ordr as Ordenes
        --Incidencia #328: quito los inner JOIN porque no se usa la linea, y quitamos que la ppr no tenga porque estar activa
        LEFT JOIN SITMesDB.dbo.POMV_ORDR_PRP OrderProperty ON Ordenes.pom_order_id = OrderProperty.pom_order_id AND pom_custom_fld_name = 'WO_PART_ID'
        left outer JOIN SITMesDB.dbo.PDefM_PPR AS PPR ON PPR.PPR = Ordenes.ppr_name-- and PPR.PPR_Active = 1
        left outer JOIN SITMesDB.dbo.PDefM_PS_ExecEquipList AS LineaPPR ON ExecEquipList_PPR = PPR.PPR and ExecEquipList_PPRVersion = PPR.PPR_Version
        
        where pom_order_type_id IN ('Envasado','WO_ENVASADO') AND ISNULL(CONVERT(INT,OrderProperty.VAL),-1) > 0  and Ordenes.RowUpdated > @lastUpdate
        --AND lstE.IdEstado IS NULL
        

 

        --Cambios de Zona
        select distinct COB_MSM_ZONAS.ID_ZONA as Zona,
        isnull(COB_MSM_ZONAS.ORDER_ID , '') AS Orden
        from COB_MSM_ZONAS

 

    COMMIT TRANSACTION;
END
GO
