USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPlanificacionFiltraciones]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		
-- Create date: 
-- Description:	Obtener planificación cocciones con consulta a Manugistics
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPlanificacionFiltraciones]
	-- Add the parameters for the stored procedure here	
	@fIni as nvarchar(max), 
	@fFin as nvarchar(max), 
	@planta as nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--Ejemplo:
	--@fIni = '2018-01-01'
	--@fFin = '2018-12-01'
	--@planta = '8030'

	declare @fIniJuliano int = dbo.GregorianoToJuliano(@fIni)
	declare @fFinJuliano int = dbo.GregorianoToJuliano(@fFin)

	declare @fIniDatetime datetime = CONVERT(datetime,@fIni,102)
	declare @fFinDatetime datetime = CONVERT(datetime,@fFin,102)
	DECLARE @CodigoPlanta AS NVARCHAR(13);
	IF (@@SERVERNAME = 'VMSITTEST')
	BEGIN
		SET @CodigoPlanta = '        8030'
	END
	ELSE
	BEGIN
		SET @CodigoPlanta = [dbo].[MES_ObtenerCodigoPlanta] ()
	END

	declare @manu as table(id int, diaJuliano int, codigo int, quantity int, tipo nvarchar(max), planta int, Semana int, Fecha datetime, Linea nvarchar(max))
	insert into @manu
	exec [dbo].[PRE_OrdenesPlanificadasManugisticsV3] @CodigoPlanta, @fIniJuliano, @fFinJuliano

	select manu.codigo, def.descript, SUM(manu.quantity) AS total, dbo.MES_GetProductionLine(manu.Linea) AS Linea--, rel.Czh
	from @manu manu
		inner join sitmesdb.dbo.mmdefinitions def on def.defid = convert(nvarchar(max),manu.codigo)
		inner join sitmesdb.dbo.mmdefvers v on v.defpk = def.defpk 
		--inner join mes_msm.dbo.RelPackingWOHighBeer_COB_ArticlesParametersWP rel ON  rel.DefID = convert(nvarchar(max),manu.codigo)
	group by manu.codigo, def.descript, Linea--, rel.Czh
	
END
GO
