USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerLoteMaterial]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		IDOM
-- Create date: 18/01/2021
-- Description:	este metodo permite obtener las descripcion de los materiales consumidos
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerLoteMaterial] (@Material as nvarchar(200), @Id_ORDEN as nvarchar(200))
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT LOperation.*
  FROM [SITMesDB].[dbo].[MMLotOperations] LOperation
    INNER JOIN MES_MSM.[dbo].[Equipo_FAB] as Equipo ON AssociateTo like '%'+Equipo.Name+'%' 
  WHERE 
  AssociateTo like '%'+@Id_ORDEN+'%' 
  --AND AssociateTo LIKE @Id_ORDEN+'%'
  AND Comments like @Material+'%'
  AND LotOpeTypePK = 12
  AND OldQuantity <> NewQuantity
  AND ClassID <> 'MSM-EQUIPAMIENTO-ALMACENAMIENTO.UNIDAD-SILO-MALTA'
END


	
GO
