USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarCajasNoEnvasables]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 09-02-2021
-- Description:	Se insertan en la tabla ProductosCajas las cajas no envasables en esta fábrica
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarCajasNoEnvasables]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @listaCajas TABLE (IdCaja nvarchar(64))
	DECLARE @consulta VARCHAR(8000)
	DECLARE @resultadoJDE TABLE (IdCaja nvarchar(64), DescripcionCaja nvarchar(100))
	DECLARE @listaCajasJDE TABLE (IdCaja nvarchar(64), DescripcionCaja nvarchar(100))
	DECLARE @listaCajasSinDuplicados TABLE (IdCaja nvarchar(64), DescripcionCaja nvarchar(100))

	INSERT INTO @listaCajas
	SELECT DISTINCT M.IdCaja
	FROM MovimientosVacio M
	LEFT JOIN ProductosCajas P ON M.IdCaja = P.IdCaja
	WHERE P.idcaja IS NULL

	INSERT INTO dbo.ProductosCajas (IdProducto, DescripcionProducto, IdCaja, DescripcionCaja)
	SELECT '0', 'No envasable en esta fábrica', IdCaja, 'No envasable en esta fábrica' 
	FROM @listaCajas

	--Consulta para obtener datos de JDE
	SET @consulta = 'SELECT * FROM OPENQUERY(JDE,
	''
		SELECT A.IVCITM, A.IVDSC1

		FROM PRODDTA.F4104 AS A
		WHERE A.IVXRT = ''''AR''''
	'')'
	
	INSERT INTO @resultadoJDE
	EXEC (@consulta)

	INSERT INTO @listaCajasJDE
	SELECT R.*
	FROM @resultadoJDE R
	INNER JOIN dbo.ProductosCajas P ON P.IdCaja = R.IdCaja
	WHERE P.DescripcionCaja LIKE '%No envasable%'

	INSERT INTO @listaCajasSinDuplicados
	SELECT IdCaja, DescripcionCaja
	FROM (SELECT IdCaja, DescripcionCaja, ROW_NUMBER() OVER (PARTITION BY IdCaja ORDER BY IdCaja) AS Duplicado
		  FROM @listaCajasJDE) AS Cajas
	WHERE Cajas.Duplicado = 1

	INSERT INTO dbo.ProductosCajas
	SELECT '0', 'No envasable en esta fábrica', IdCaja, DescripcionCaja
	FROM @listaCajasSinDuplicados

	DELETE FROM dbo.ProductosCajas
	WHERE IdCaja IN (SELECT IdCaja FROM @listaCajasSinDuplicados) AND DescripcionCaja LIKE '%No envasable%'

	DELETE FROM @listaCajas

	INSERT INTO @listaCajas
	SELECT DISTINCT M.IdCaja
	FROM MovimientosVacio M
	LEFT JOIN StockVacioMinimosMaximos S ON M.IdCaja = S.CodigoCaja
	WHERE S.CodigoCaja IS NULL

	INSERT INTO dbo.StockVacioMinimosMaximos
	SELECT P.IdCaja, DescripcionCaja, 0, 0
	FROM @listaCajas C
	INNER JOIN dbo.ProductosCajas P ON P.IdCaja = C.IdCaja
	
END
GO
