USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerValoresHistorian_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerValoresHistorian_FAB]
	-- Add the parameters for the stored procedure here
	@nombreKOP varchar(200),
	@fechaini int,
	@fechafin int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	IF (@fechaini>-1)
	BEGIN
	DECLARE @IDKOP AS INT
	DECLARE @OpType AS VARCHAR(10)

	SELECT @IDKOP = [NewTagID], @OpType=[OperationType] FROM [PPA].[dbo].[LOG_CONFIGURATION_TAG]
	WHERE [TagName] LIKE '%' + @nombreKOP + '%' ORDER BY OPERATIONDATE DESC, NEWTAGID DESC

	--IF (@OpType = 'i')
	--BEGIN
	SELECT TOP 100 [TagID],MIN([Time]) as [Time],Min([Msec]) as Msec,Min([Value]) as [Value],[Status],CONVERT(VARCHAR(10),RowUpdated, 103) + ' ' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated,'i' as Tipo 
	FROM [PPA].[dbo].[View_Read_REALTIMEINTArchive] 
	WHERE [TagID] = @IDKOP AND [Time] between @fechaini AND @fechafin 
	GROUP BY CONVERT(VARCHAR(10),RowUpdated, 103) + ' ' + CONVERT(VARCHAR(100),RowUpdated,108),[TagID], [Status]
	ORDER BY MIN([Time]) ASC, MIN(MSEC) ASC
	--END
	--	SELECT TOP 100 [TagID],[Time] as [Time],[Msec] as Msec,[Value] as [Value],[Status],CONVERT(VARCHAR(10),RowUpdated, 103) + ' ' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated,'i' as Tipo 
	--FROM [PPA].[dbo].[View_Read_REALTIMEINTArchive] 
	--WHERE [TagID] = @IDKOP AND [Time] between @fechaini AND @fechafin 
	----GROUP BY CONVERT(VARCHAR(10),RowUpdated, 103) + ' ' + CONVERT(VARCHAR(100),RowUpdated,108),[TagID], [Status]
	--ORDER BY [Time] ASC, MSEC ASC
	END
	END
GO
