USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenFinalizadasTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[MES_ObtenerOrdenFinalizadasTurno]	
	@linea as varchar(200),
	@fechaIni as bigINT
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	DECLARE @LINEAID AS VARCHAR(100) = (SELECT ID FROM LINEAS WHERE ID LIKE '%' + @Linea + '%')
	DECLARE @TURNO AS INT = (SELECT ID FROM TURNOS WHERE InicioTurno<= DATEADD(SECOND, @FechaIni, '19700101') AND FinTurno > DATEADD(SECOND, @FechaIni, '19700101') AND Linea = @LINEAID)
	

	
	SELECT DISTINCT P.ID, P.IdProducto, P.FecIniReal, P.FecFinReal, P.FecIniEstimada, P.FecFinEstimada, P.Linea, P.CantidadPlanificada, 
	P.CantidadProducida, P.EstadoAct, P.OEE, P.Disponibilidad, P.Eficiencia, P.RendMecanico, P.Calidad
	FROM PARTICIONES P 
	LEFT JOIN COB_MSM_PROD_LLENADORA_HORA LL ON LL.ID_PARTICION = P.Id AND LL.ID_MAQUINA LIKE '%'+ @LINEAID + '%' AND LL.SHC_WORK_SCHED_DAY_PK = @TURNO
	LEFT JOIN COB_MSM_PROD_RESTO_MAQ_HORA RES ON RES.ID_PARTICION = P.Id AND RES.ID_MAQUINA LIKE '%' + @LINEAID + '%' AND RES.SHC_WORK_SCHED_DAY_PK = @TURNO
	WHERE P.EstadoAct in ('Cerrada', 'Finalizada') AND (LL.HORA IS NOT NULL OR RES.HORA IS NOT NULL)
	
COMMIT TRANSACTION; 
END
GO
