USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrden_Fab]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerOrden_Fab]
	@orden as INT
AS
BEGIN
DECLARE @tipoOrden AS NVARCHAR(10),
		@COC045 AS NVARCHAR(255),
		@COC006 AS NVARCHAR(255),
		@COC046 AS NVARCHAR(255),
		@numeroDV AS INT,
		@tiempoInicio AS NVARCHAR(255),
		@tiempoFinal AS NVARCHAR(255),
		@Recalcular AS BIT

-- 1.Declaramos una tabla, que contendrá todos los KOPS de la orden
DECLARE @KOPS_FAB TABLE   
    (  
        Valor_Actual  NVARCHAR(MAX) ,  
        Des_KOP		  NVARCHAR(MAX)  
    ); 

INSERT INTO @KOPS_FAB
SELECT 
	Valor_Actual,
	Des_KOP
FROM
KOPs_FAB
WHERE 
	Cod_Orden = @orden
	AND 
(Des_KOP LIKE 'COC006%' OR 
Des_KOP LIKE 'COC045%'  OR 
Des_KOP LIKE 'COC046%'  OR 
Des_KOP LIKE 'FER001%'	OR
Des_KOP LIKE 'GUA001%'	OR
Des_KOP LIKE 'FIL058%'	OR
Des_KOP LIKE 'PRE001%'	OR
Des_KOP LIKE 'TRA001%'	OR
Des_KOP LIKE 'COC001%')

-- 2. Se obtiene el tipo de la orden para validar que sea de Cocción
SELECT 
	@tipoOrden = TipoOrden 
FROM [dbo].[Ordenes_FAB] 
WHERE Cod_Orden = @orden






SELECT @Recalcular = Recalcular FROM dbo.Orden_Procesada_FAB WHERE Pk = @orden
-- 3. Si es cocción obtenemos los KOPS que necesitamos
SELECT @numeroDV = Valor_Actual FROM @KOPS_FAB
WHERE Des_KOP LIKE CASE
					WHEN @tipoOrden = 'WP' THEN  'COC001%'
					WHEN @tipoOrden = 'FE' THEN  'FER001%'
					WHEN @tipoOrden = 'GU' THEN  'GUA001%'
					WHEN @tipoOrden = 'FL' THEN  'FIL058%'
					WHEN @tipoOrden = 'PR' THEN  'PRE001%'
					WHEN @tipoOrden = 'TR' THEN  'TRA001%'
					ELSE '---'
					END
IF (@tipoOrden = 'WP')
BEGIN
SELECT @COC006 = Valor_Actual FROM @KOPS_FAB WHERE Des_KOP LIKE 'COC006%' 
SELECT @COC045 = Valor_Actual FROM @KOPS_FAB WHERE		 Des_KOP LIKE 'COC045%' 
SELECT @COC046 = Valor_Actual FROM @KOPS_FAB WHERE		 Des_KOP LIKE 'COC046%' 




	SELECT 
		Cod_Orden				AS PK,
		ID_Orden				AS CODWO, 
		TIPOORDEN				AS TIPOORDEN, 
		EQUIPOORDEN				AS PPR,
		COD_MATERIAL			AS IDMATERIAL, 
		M.[Descripcion]			AS MATERIAL ,
		COALESCE(CANTIDAD_MATERIAL,0)		AS CANTIDAD, 
		UOM_MATERIAL			AS UOM, 
		idEstado				AS idEstado,
		Estado					AS Estado,
		o.Tiempo_Inicio_Real	AS Tiempo_Inicio_Real,
		o.Tiempo_Fin_Real		AS Tiempo_Fin_Real,
		O.Tiempo_Inicio_Estimado AS Tiempo_Inicio_Estimado, 
		O.Tiempo_Fin_Estimado	AS Tiempo_Fin_Estimado,
		COALESCE(L.[LotID],'')	AS loteMES,
		O.[Des_Orden]			AS Nota,
		@COC045					AS CantidadProducida,
		@COC046					AS mostoSobrante,
		@COC006					AS COC006,
		@Recalcular				AS Recalcular,
		@numeroDV				AS NumeroDv,
		[dbo].[MES_ObtenerEquipoOrdenFabricacion](@orden,@tipoOrden) AS EQUIPO
	  FROM 
	  [dbo].[Ordenes_FAB] O
	  INNER JOIN [dbo].[Materiales_FAB] M ON M.[IdMaterial] = O.COD_MATERIAL
	  LEFT JOIN [dbo].[Lotes_FAB] L ON O.[pkLote] =L.[LotPK]
	  WHERE 
		Cod_Orden = @orden
	END
	ELSE
	BEGIN
	SELECT 
		Cod_Orden				AS PK,
		ID_Orden				AS CODWO, 
		TIPOORDEN				AS TIPOORDEN, 
		EQUIPOORDEN				AS PPR,
		COD_MATERIAL			AS IDMATERIAL, 
		M.[Descripcion]			AS MATERIAL ,
		CANTIDAD_MATERIAL		AS CANTIDAD, 
		UOM_MATERIAL			AS UOM, 
		idEstado				AS idEstado,
		Estado					AS Estado,
		Tiempo_Inicio_Real		AS Tiempo_Inicio_Real,
		Tiempo_Fin_Real			AS Tiempo_Fin_Real,
		Tiempo_Inicio_Estimado	AS Tiempo_Inicio_Estimado, 
		Tiempo_Fin_Estimado		AS Tiempo_Fin_Estimado,
		COALESCE(L.[LotID],'')				AS loteMES,
		O.[Des_Orden]			AS Nota,
		CANTIDAD_MATERIAL		AS CantidadProducida,
		'---'					AS mostoSobrante,
		'---'					AS COC006,
		@Recalcular				AS Recalcular,
		@numeroDV				AS NumeroDv,
		[dbo].[MES_ObtenerEquipoOrdenFabricacion](@orden,@tipoOrden) AS EQUIPO

	
	  FROM 
	  [dbo].[Ordenes_FAB] O
	  INNER JOIN [dbo].[Materiales_FAB] M ON M.[IdMaterial] = O.COD_MATERIAL
	  LEFT JOIN [dbo].[Lotes_FAB] L ON O.[pkLote] =L.[LotPK]
	  WHERE 
		Cod_Orden = @orden

	END
END

GO
