USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[PRE_OrdenesPlanificadasManugisticsV3]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRE_OrdenesPlanificadasManugisticsV3]
@WAMMCU varchar(18),
@WADRQJ_min varchar(18),
@WADRQJ_max varchar(18)

AS

BEGIN
DECLARE @consulta VARCHAR(8000)
	IF (@@SERVERNAME = 'VMSITTEST')
	BEGIN
		SET @consulta = '
				SELECT WADOCO,WADRQJ,WALITM,WAUORG,WAUOM,WAMMCU,DATEPART(week,[dbo].[JulianoToGregoriano](WADRQJ))+1 as Semana
				,[dbo].[JulianoToGregorianoDatetime](WADRQJ) AS Fecha, WALNID as Linea
				FROM OPENQUERY(JDE,
				''
				SELECT 
				WADOCO,
				WADRQJ,
				WALITM,
				WAUORG,
				WALNID,
				WAUOM,
				WAMMCU
				FROM PRODDTA.F4801
				WHERE
				WAVR01 = ''''' + 'MANUGIS' + '''''
				AND WADCTO = ''''' + 'WO' + '''''
				AND WAMMCU = ''''' + @WAMMCU + '''''
				AND WADRQJ <= ''''' + @WADRQJ_max + '''''
				AND WADRQJ >= ''''' + @WADRQJ_min + '''''
				AND WASRST = ''''' + '10' + '''''
				AND (WAUOM = ''''' + 'PL' + ''''' 
				OR WAUOM = ''''' + 'MD' + ''''') 
				'')'
				exec (@consulta)
				print @consulta
	END
	ELSE
	BEGIN
	SET @consulta = '
			SELECT WADOCO,WADRQJ,WALITM,WAUORG,WAUOM,WAMMCU,DATEPART(week,[dbo].[JulianoToGregoriano](WADRQJ))+1 as Semana
			,[dbo].[JulianoToGregorianoDatetime](WADRQJ) AS Fecha, WALNID as Linea
			FROM OPENQUERY(JDE,
			''
			SELECT 
			WADOCO,
			WADRQJ,
			WALITM,
			WAUORG,
			WALNID,
			WAUOM,
			TRIM(WAMMCU) WAMMCU
			FROM PRODDTA.F4801
			WHERE
			WAVR01 = ''''' + 'MANUGIS' + '''''
			AND WADCTO = ''''' + 'WO' + '''''
			AND TRIM(WAMMCU) = ''''' + @WAMMCU + '''''
			AND WADRQJ <= ''''' + @WADRQJ_max + '''''
			AND WADRQJ >= ''''' + @WADRQJ_min + '''''
			AND WASRST = ''''' + '10' + '''''
			AND (WAUOM = ''''' + 'PL' + ''''' 
			OR WAUOM = ''''' + 'MD' + ''''') 
			'')'
			exec (@consulta)
			print @consulta
	END
END
GO
