USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConsolidadosTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConsolidadosTurno]
	-- Add the parameters for the stored procedure here
	@idTurno as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @IdTurnoAnterior AS INT;
		DECLARE @InicioTurnoActual AS DATETIME;
		DECLARE @Linea as NVARCHAR(4000);
		DECLARE @ID_CLASE_PALETIZADORA AS INT;
		DECLARE @ID_CLASE_ENCAJONADORA AS INT;
		DECLARE @ID_CLASE_EMPAQUETADORA AS INT;
		DECLARE @IC_TURNO AS FLOAT;

		SELECT DISTINCT @ID_CLASE_PALETIZADORA = IdClase
		FROM Maquinas 
		WHERE Clase = 'PALETIZADORA'

		SELECT DISTINCT @ID_CLASE_ENCAJONADORA = IdClase
		FROM Maquinas 
		WHERE Clase = 'ENCAJONADORA'

		SELECT DISTINCT @ID_CLASE_EMPAQUETADORA = IdClase
		FROM Maquinas 
		WHERE Clase = 'EMPAQUETADORA'

		SELECT @IC_TURNO = IC
		FROM ConsolidadoTurnos
		WHERE SHC_WORK_SCHED_DAY_PK = @idTurno

		SELECT 
			ConsolidacionPal.TotalPalets,
			ConsolidacionLle.TotalEnvases,
			ConsolidacionCajas.TotalCajas,		
			ConsolidacionLle.TIEMPO_OPERATIVO,
			ConsolidacionLle.TIEMPO_PLANIFICADO,
			ConsolidacionLle.TIEMPO_NETO,
			ConsolidacionLle.VELOCIDAD_NOMINAL,
			COALESCE(@IC_TURNO,1) AS IC_TURNO
		FROM 
			(SELECT		
				COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as TotalEnvases
				,COALESCE(SUM([TIEMPO_OPERATIVO]),0) AS TIEMPO_OPERATIVO
				,COALESCE(SUM([TIEMPO_PLANIFICADO]),0) AS TIEMPO_PLANIFICADO
				,COALESCE(SUM([TIEMPO_NETO]),0) AS TIEMPO_NETO
				,COALESCE(SUM([VELOCIDAD_NOMINAL]),0) AS VELOCIDAD_NOMINAL
			FROM COB_MSM_PROD_LLENADORA_HORA  
			WHERE [SHC_WORK_SCHED_DAY_PK] = @idTurno --AND ISNULL(ID_ORDEN,'') != ''
			) AS ConsolidacionLle
		CROSS JOIN
			(SELECT 
				COALESCE(SUM(Consolidacion.[CONTADOR_PRODUCCION]), 0) as TotalPalets
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
			WHERE Consolidacion.[SHC_WORK_SCHED_DAY_PK] = @idTurno AND ML.IdClase = @ID_CLASE_PALETIZADORA --AND ISNULL(Consolidacion.ID_ORDEN,'') != ''
			) as ConsolidacionPal
			CROSS JOIN
			(SELECT 
				COALESCE(SUM(Consolidacion.[CONTADOR_PRODUCCION]), 0) as TotalCajas
			FROM COB_MSM_PROD_RESTO_MAQ_HORA AS Consolidacion
			LEFT JOIN MaquinasLineas AS ML on ML.Id = Consolidacion.ID_MAQUINA
			WHERE Consolidacion.[SHC_WORK_SCHED_DAY_PK] = @idTurno AND ML.IdClase IN (@ID_CLASE_ENCAJONADORA, @ID_CLASE_EMPAQUETADORA) --AND ISNULL(Consolidacion.ID_ORDEN,'') != ''
			) as ConsolidacionCajas
			
	COMMIT TRANSACTION; 
END
GO
