USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetCOBTableName]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetCOBTableName](@condition nvarchar(max))
as
begin				
	select 
	TABLE_NAME CompleteName,
	SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1) SITTable,				
		SUBSTRING(SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1),0,CHARINDEX('$',SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1))-1) SITType
	,'temp_' +  SUBSTRING(SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1),0,CHARINDEX('$',SUBSTRING(TABLE_NAME,CHARINDEX('/',TABLE_NAME)+1,LEN(TABLE_NAME)-1))-1)  Temp_Tempname
	from SITMesDb.INFORMATION_SCHEMA.TABLES SIT			
	WHERE TABLE_CATALOG = 'sitMesDb' and TABLE_NAME like @condition
end
GO
