USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[SIT_ObtenerConversionesEnvasesCajasPaletHl]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Daniel Salván
-- Create date: 03/09/2020
-- Description:	Obtiene las conversiones de envases, cajas por palé y hl por envase
-- Update date: 28/01/2022
-- =============================================
CREATE PROCEDURE [dbo].[SIT_ObtenerConversionesEnvasesCajasPaletHl]
	-- Add the parameters for the stored procedure here
	@PRODUCTO as nvarchar(64)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		CAST ([CPBPorPalet] AS INT) AS CajasPorPalet, 
		CAST ([EnvasesPorPalet] AS INT) AS EnvasesPorPalet, 
		CAST ([HectolitrosEnvase] AS DECIMAL(12,6)) AS HectolitrosEnvase
	FROM [MES_MSM].[dbo].[MaestroArticulosInterspec]
	WHERE CodigoExpedicion = @PRODUCTO
END
GO
