USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerEnvasesTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerEnvasesTurno]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
SELECT CAST(SUM(PH.ENVASES_LLENADORA) as numeric(18,2)) as ENVASES
FROM [dbo].[Turnos] T
INNER JOIN [dbo].[ProduccionHoras] PH ON Ph.IdTurno = T.Id
WHERE
T.ID = @TURNO AND PH.LINEA = @LINEA

END
GO
