USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMermasStockVacio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 30-09-2020
-- Description:	Se obtienen los datos necesarios para las mermas de stock de vacío
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerMermasStockVacio]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		ME.Linea,
		'Línea ' + L.NumeroLineaDescripcion + ' - ' + L.Descripcion AS DescripcionLinea,
		FormatoComunCodigo.PValue AS CodigoFormatoComun,
		FormatoComunDescripcion.PValue AS DescripcionFormatoComun,
		ME.Producto,
		M.Descripcion AS DescripcionProducto,
		ME.Merma
	FROM MermasStockVacio ME
	INNER JOIN Lineas L ON ME.Linea = L.Id
	INNER JOIN Materiales M ON ME.Producto = M.IdMaterial
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunCodigo
					 ON FormatoComunCodigo.DefVerPK = M.DefVerPK
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunDescripcion
					 ON FormatoComunDescripcion.DefVerPK = M.DefVerPK
	ORDER BY L.NumeroLinea
END
GO
