USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerTurnos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Informe_ANA_1_ObtenerTurnos]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @INICIO AS DATETIME = DATEADD(SECOND,@FechaInicio, '1970-01-01')
	DECLARE @FIN AS DATETIME = DATEADD(SECOND,@FechaFin, '1970-01-01')

	--PRINT('INICIO: ' + CONVERT(VARCHAR(100),@INICIO))
	--PRINT('FIN: ' + CONVERT(VARCHAR(100),@FIN))

	DECLARE @INICIOTURNO AS INT = 0
	DECLARE @FINTURNO AS INT = 0

	SELECT @INICIOTURNO = ID_Ordenado_Turno FROM TURNOS WHERE InicioTurno = @INICIO and Linea = @Linea
	SELECT @FINTURNO = ID_Ordenado_Turno FROM TURNOS WHERE FinTurno = @FIN and Linea = @Linea

 --   PRINT('INICIO TURNO: ' + CONVERT(VARCHAR(100),@INICIOTURNO))
	--PRINT('FIN TURNO: ' + CONVERT(VARCHAR(100),@FINTURNO))

	SELECT DATEDIFF(SECOND,'1970-01-01',InicioTurno) as desdeT, DATEDIFF(SECOND,'1970-01-01',FinTurno) as hastaT, Turno as tipoTurno
	FROM Turnos
	WHERE ID_Ordenado_Turno BETWEEN @INICIOTURNO AND @FINTURNO and Linea = @Linea
	order by ID_Ordenado_Turno asc
	commit TRANSACTION
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquina]    Script Date: 01/06/2016 12:10:14 ******/
SET ANSI_NULLS ON
GO
