USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarMermasStockVacio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 30-09-2020
-- Description:	Se guardan los datos necesarios para el tratamiento de las mermas de stock de vacío
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarMermasStockVacio]
AS
BEGIN
	SET NOCOUNT ON;

	-- Tabla temporal donde se va a guardar el resultado
	DECLARE @resultado TABLE (IdFila bigint, Linea nvarchar(100), Producto nvarchar(64), Merma decimal(18,2))

	INSERT INTO @resultado
	SELECT
		ROW_NUMBER() OVER (ORDER BY PL.idLinea, PL.Producto) IdFila,
		PL.idLinea,
		PL.Producto,
		0
	FROM ParametrosLinea PL
	INNER JOIN Materiales M ON PL.Producto = M.IdMaterial
	WHERE M.Status = 'APPROVED' AND (M.TipoEnvase = 'CR' OR M.TipoEnvase = 'BR')
	ORDER BY PL.idLinea

	DECLARE @rowCount INT, @idFila BIGINT, @Linea nvarchar(100), @Producto nvarchar(64)
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(IdFila) FROM @resultado)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @idFila = (SELECT MAX(IdFila) FROM @resultado)

	WHILE (@rowCount > 0)
	BEGIN
		SELECT 
			@Linea = Linea,
			@Producto = Producto
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.MermasStockVacio WHERE Linea = @Linea AND Producto = @Producto)
		BEGIN
			INSERT INTO dbo.MermasStockVacio
			SELECT Linea, Producto, Merma  FROM @resultado WHERE IdFila = @idFila
		END

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @idFila = IdFila FROM @resultado WHERE IdFila < @idFila ORDER BY IdFila DESC
		
		SET @rowCount = @rowCount - 1
	END
END
GO
