USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConversionesPorProducto]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConversionesPorProducto]
	@producto as nvarchar(50)
AS
BEGIN
	set transaction isolation level read uncommitted
	BEGIN TRANSACTION;
	DECLARE @ContEmbalajeId nvarchar(25);
	DECLARE @MantosPaletId nvarchar(25);
	DECLARE @EmbMantoId nvarchar(25);

 select @ContEmbalajeId = ParameterData from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Cont_Palet'
 
 select @EmbMantoId = ParameterData from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Emb_Manto'
 
 select @MantosPaletId = ParameterData from INTERSPEC.[MSMIS].[INTERSPC].[ItInterspcConfig] where Parameter = 'Mantos_Palet'


DECLARE @query nvarchar(max);
set @query = 'WITH [Conversiones] AS (
SELECT PartNo, 
	Revision, 
	['+@ContEmbalajeId+'] as EnvasesPalets, 
	['+@MantosPaletId+'] * ['+@EmbMantoId+'] AS CajasPalets
FROM
	(SELECT    
	   itsp.PartNo,  
	   itsp.Revision,
	   itsp.PropertyId,
	   itsp.Numeric1
	  FROM INTERSPEC.MSMIS.INTERSPC.ItSpProperty itsp
	  where  PropertyId IN ('+@ContEmbalajeId+','+@MantosPaletId+','+@EmbMantoId+') AND itsp.PartNo = ''' + @producto +''' ) AS sourcetable
	 PIVOT
	 (Max(Numeric1)
		FOR	PropertyId IN (['+@ContEmbalajeId+'],['+@EmbMantoId+'], ['+@MantosPaletId+'])

		) as pivottable)
	
	
 SELECT  c.PartNo, c.EnvasesPalets,c.CajasPalets,c.Revision
 FROM [Conversiones] c
 where c.Revision = (SELECT MAX(Revision) FROM [Conversiones] where PartNo = c.PartNo)
 '
 --INNER JOIN #Temp p ON  p.Item = c.PartNo COLLATE DATABASE_DEFAULT
 

 Execute (@query)
 
COMMIT TRANSACTION; 
END
GO
