USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEnlaceExterno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 18-05-2020
-- Description:	Se obtiene el enlace a través del identificador
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEnlaceExterno]
	@idEnlace int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Url
	FROM EnlacesWebExternos
	WHERE Id = @idEnlace
END
GO
