USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiposPlantillasPreparacion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerTiposPlantillasPreparacion]
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT 
		ID_TIPO_ORDEN AS IdTipoPlantilla,		
		NOMBRE AS TipoPlantilla		
	FROM [dbo].[COB_MSM_TIPO_ORDEN_PREP]

COMMIT TRANSACTION; 
END
GO
