USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarDeslizanteCerveza]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 25-02-2020
-- Description:	Se obtienen los datos del deslizante de cerveza
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarDeslizanteCerveza]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ubicacion nvarchar(50);
	
	SELECT @ubicacion = UbicacionManugistics 
	FROM dbo.DeslizanteConversionUbicaciones 
	WHERE UbicacionMES = dbo.MES_ObtenerNombrePlanta()

	DELETE FROM dbo.DeslizanteCerveza;
	-- Para resetear el Id
	DBCC CHECKIDENT ('DeslizanteCerveza', RESEED, 0);

	INSERT INTO dbo.DeslizanteCerveza(Item, Descripcion, Anio, Semana, Cantidad)
	SELECT item, descr, YEAR(startdate), DATEPART(ISOWK, startdate), SUM(qty)
	FROM [JDA_Manugistics]..[SCPOMGR].[EXP_PROD_CERVEZA_MES]
	WHERE Loc = @ubicacion
	GROUP BY item, descr, YEAR(startdate), DATEPART(ISOWK, startdate)

END
GO
