USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPPR_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPPR_FAB]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT DISTINCT  convert(int,defid) as defid, descript, item
		FROM PPR_FAB
		ORDER BY convert(int,defid) asc
	COMMIT TRANSACTION;
END
GO
