USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProduccionHoras]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerProduccionHoras]
	-- Add the parameters for the stored procedure here
     @linea nvarchar(255),
	 @desde datetime,
	 @hasta datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	
			DECLARE @d datetime
			DECLARE @h datetime

			SET @d = @desde
			SET @h = dateadd(hour,1, @d)

			BEGIN TRANSACTION
		
				WHILE @h <= @hasta
				  BEGIN
					INSERT  INTO @HorasTurno
					VALUES  (@d,@h)
					SET @d = @h
					SET @h = dateadd(hour,1, @d)
			
				  END		
			COMMIT TRANSACTION


		SELECT Maquina.[Id],Maquina.[Nombre], Hora.fin as Hora, 
				Produccion.OEE
				,Produccion.[EFICIENCIA]
				,Produccion.[DISPONIBILIDAD]
				--,Produccion.[CALIDAD]
				,Produccion.[RENDIMIENTO_MECANICO]
				,Produccion.[ENVASES_LLENADORA]
				,0 as HLCaudar 		 
				,Produccion.[ENVASES_PALETIZADORA]
				,Produccion.[ENVASES_RECHAZADOS]
		
			FROM [dbo].[Maquinas] Maquina
			Full Join @HorasTurno Hora on 1=1
			left join ProduccionHoras Produccion 
				on Produccion.Linea=Maquina.Linea and Produccion.Fecha=Hora.fin
			where Maquina.idClase=35 and Maquina.Linea=@linea
		order by Hora.fin
	COMMIT TRANSACTION;
END
GO
