USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerMenus]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[APP_ObtenerMenus]
	-- Add the parameters for the stored procedure here
	@menuPadre as int,
	@aplicacion as nvarchar(10),
	@usuario as nvarchar(50)

AS
BEGIN
	SET NOCOUNT ON;
	IF @menuPadre = -1 -- obtenemos los menus padres
	BEGIN
		SELECT menus.id_menu AS id_menu,menus.nombre AS nombre, vistas.nombre AS vista,PermisoMenuPadre.PermisoMenu
		FROM menus inner join vistas ON menus.id_vista = vistas.id_vista
		LEFT JOIN(
		SELECT menus.id_menu AS id_menu,isnull(PermisoMenu,0) as PermisoMenu
		FROM menus inner join vistas ON menus.id_vista = vistas.id_vista
		LEFT JOIN (
		select IdMenuPadre, PermisoMenu
		from
		(
			select m.ID_MENU_PADRE as IdMenuPadre1, mp.ID_MENU_PADRE AS IdMenuPadre2, isnull(case when count(1) > 0 then 1 else 0 end,0) AS PermisoMenu from MENUS m
			inner join FUNCIONES_MENUS on m.ID_MENU = FUNCIONES_MENUS.ID_MENU
			inner join PERMISOS on PERMISOS.ID_FUNCION = FUNCIONES_MENUS.ID_FUNCION
			inner join AspNetUserRoles on PERMISOS.ID_ROL = AspNetUserRoles.RoleId
			inner join AspNetUsers on AspNetUsers.Id = AspNetUserRoles.UserId
			INNER JOIN MENUS AS mp on mp.ID_MENU = m.ID_MENU_PADRE
			where AspNetUsers.UserName = @usuario
			group by m.ID_MENU_PADRE, mp.ID_MENU_PADRE) as ma
			UNPIVOT
			(
				IdMenuPadre 
				FOR columna IN (IdMenuPadre1, IdMenuPadre2)
			)AS unpvt
		group by IdMenuPadre, PermisoMenu
		) AS PermisosPadre ON menus.ID_MENU = PermisosPadre.IdMenuPadre
		WHERE menus.id_menu_padre IS NULL and (menus.aplicacion = @aplicacion or menus.aplicacion='A') 
		) as PermisoMenuPadre ON PermisoMenuPadre.id_menu = menus.id_menu
		WHERE menus.id_menu_padre IS NULL and (menus.aplicacion =  @aplicacion  or menus.aplicacion='A') 
		ORDER BY menus.orden ASC

		--SELECT menus.id_menu AS id_menu,menus.nombre AS nombre, vistas.nombre AS vista
		--FROM menus inner join vistas ON menus.id_vista = vistas.id_vista
		--WHERE menus.id_menu_padre IS NULL and (menus.aplicacion =  @aplicacion  or menus.aplicacion='A') 
		--ORDER BY menus.orden ASC
	END
	ELSE -- obtenemos los menus que cuelgan de otro menu
	    SELECT menus.id_menu as id_menu,menus.nombre AS nombre, vistas.nombre AS vista 
        FROM menus inner join vistas on menus.id_vista = vistas.id_vista
        WHERE menus.id_menu_padre = @menuPadre and (menus.aplicacion =  @aplicacion  or menus.aplicacion='A') 
		ORDER BY menus.orden ASC

END
GO
