USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProgramaOrdenes_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis
-- Create date: 23/03/2020
-- Description:	Obtiene las ordenes planificadas de fabricación (Se consulta desde la web)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerProgramaOrdenes_FAB]
	@fIni as datetime,
	@fFin as datetime
AS

BEGIN


SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

DECLARE @IDSTATUS AS INT

SELECT @IDSTATUS = Id 
FROM MES_MSM.dbo.Estado
WHERE Nombre= 'Ready'

	SELECT DISTINCT
		Orden.Cod_Orden					AS Pk,
		Orden.ID_Orden					AS Id,
		Orden.Des_Orden					AS Descripcion,
		Orden.IdEstado					AS IdEstado,
		Orden.Cod_Material				AS CodMaterial,
		Materiales.Descripcion			AS DesMaterial,
		Orden.Tiempo_Inicio_Estimado	AS FechaInicioEstimadoLocal,
		Orden.Tiempo_Inicio_EstimadoUTC AS FechaInicioEstimadoUTC,
		Orden.Tiempo_Fin_Estimado		AS FechaFinEstimadoLocal,
		Orden.Tiempo_Fin_EstimadoUTC	AS FechaFinEstimadoUTC,
		Orden.Tiempo_Inicio_Real		AS FechaInicioRealLocal,
		Orden.Tiempo_Inicio_RealUTC		AS FechaInicioRealUTC,
		Orden.Tiempo_Fin_Real			AS FechaFinRealLocal,
		Orden.Tiempo_Fin_RealUTC		AS FechaFinRealUTC,
		Orden.Cantidad_Material			AS CantidadMaterial,
		Orden.CantidadProducida			AS CantidadProducida,
		Orden.UOM_Material				AS UoMMaterial,
		Orden.TipoOrden					AS TipoOrden,
		IIF(Orden.TipoOrden IN ('FE','GU','PR','WP','FL')
			,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.Cod_Orden,Orden.TipoOrden)
			,[dbo].[MES_ObtenerEquipoOrdenFabricacion](Orden.ID_Orden,Orden.TipoOrden)
			)							AS Equipo,
		COALESCE(Kops.Valor_Actual,'')  AS ColorSemaforo
	 FROM Ordenes_FAB Orden
			LEFT JOIN Materiales	ON Materiales.IdMaterial	= Orden.Cod_Material
			LEFT JOIN KOPs_FAB Kops ON Kops.ID_Orden			= Orden.ID_Orden AND Kops.ID_Kop = '#ESTADO_KOPS'
	 WHERE 
		Orden.Estado IN ('In Progress','Processed','Terminated')
		AND Orden.Tiempo_Inicio_Estimado BETWEEN @fIni AND @fFin

	UNION
	SELECT Orden.iD						AS Pk,
		CAST(Orden.Id AS nvarchar(50))	AS Id,
		Orden.Nota						AS Descripcion,
		@IDSTATUS						AS IdEstado,
		Material.Nombre					AS CodMaterial,
		Material.Descripcion			AS DesMaterial,
		NULL							AS FechaInicioEstimadoLocal,
		Orden.InicioPlanificado			AS FechaInicioEstimadoUTC,
		NULL							AS FechaFinEstimadoLocal,
		Orden.FinPlanificado			AS FechaFinEstimadoUTC,
		NULL							AS FechaInicioRealLocal,
		Orden.InicioPlanificado			AS FechaInicioRealUTC,
		NULL							AS FechaFinRealLocal,
		Orden.FinPlanificado			AS FechaFinRealUTC,
		Orden.Cantidad					AS CantidadMaterial,
		NULL							AS CantidadProducida,
		Material.udmedida				AS UoMMaterial,
		Orden.TipoOrden					AS TipoOrden,
		Origen.ID						AS Equipo,
		''								AS ColorSemaforo

	FROM [OrdenPlanificado] Orden 
	INNER JOIN [dbo].Celda_FAB Origen ON Orden.Origen = Origen.CeldaPK
	INNER JOIN [dbo].[Materiales_FAB] Material ON Orden.Material = Material.IdMaterial
	WHERE (Orden.Arrancado <> 1 OR Orden.Arrancado IS NULL)

COMMIT TRANSACTION; 

END

GO
