USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerHectolitrosProductoOrdenes]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerHectolitrosProductoOrdenes]
	@ordenes as StringList READONLY
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		SELECT
			Id as ID_ORDEN,
			HectolitrosProducto
		FROM Ordenes 
		INNER JOIN	@ordenes o ON o.Item = Id
	COMMIT TRANSACTION; 
END
GO
