USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParosPerdidasPPAMaquinas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParosPerdidasPPAMaquinas]
	@FecInicio datetime,
	@FecFin datetime,
	@NumLinea int
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

DECLARE @LimiteMicroparos AS INT;

CREATE TABLE #TipoParos (IdObj INT NOT NULL);

SELECT @LimiteMicroparos = VALOR_INT
	FROM COB_MSM_PARAMETROS_LINEA_ADMIN
	WHERE FK_LINEA_ID = @NumLinea and FK_PARAMETRO_ID = 5;

INSERT INTO #TipoParos
	SELECT IdObj
	FROM [OEEStateList]
	WHERE isStop = 1;

SELECT TOP 30000
	LINEAS.NumeroLinea AS NumLinea,
	LINEAS.NumeroLineaDescripcion AS NumLineaDescripcion
	,LINEAS.Descripcion AS Linea
	,BPM_EQUIPMENT.equip_pk AS CodMaquina
	,BPM_EQUIPMENT.equip_name AS IdMaquina
	,BPM_EQUIPMENT.equip_label AS DescripcionMaquina
	,(CASE	
		WHEN DATEDIFF(SECOND, '19700101', OEE_TM.EndTime) - DATEDIFF(SECOND, '19700101', OEE_TM.STARTTIME) >= @LimiteMicroparos  THEN 0 
		ELSE 1 
		END) AS ParoMayorMenor
	,dbo.ToLocalDateTime(OEE_TM.StartTime) AS Inicio
	,dbo.ToLocalDateTime(OEE_TM.EndTime) AS Fin
	,(DATEDIFF(SECOND, '19700101', OEE_TM.EndTime) - DATEDIFF(SECOND, '19700101', OEE_TM.STARTTIME)) AS Duracion
	,TURNOS.InicioTurno AS InicioTurno
	,TURNOS.FinTurno AS FinTurno
	,TURNOS.id AS IdTurno
	,TURNOS.IdTipoTurno AS IdTipoTurno
FROM   dbo.Lineas AS  LINEAS (NOLOCK)
INNER JOIN DBO.TURNOS AS TURNOS (NOLOCK)
	ON TURNOS.Linea = LINEAS.Id 
INNER JOIN SITMesDB.dbo.BPM_EQUIPMENT BPM_EQUIPMENT (NOLOCK)
	ON BPM_EQUIPMENT.equip_superior = LINEAS.Id
INNER JOIN PPA.DBO.EQUIPMENT EQUIPMENT (NOLOCK)
	ON BPM_EQUIPMENT.equip_name = EQUIPMENT.EquipmentName
INNER JOIN PPA.DBO.Equipment_Extension_Link EQUIPMENT_EXT_LINK (NOLOCK)
	ON EQUIPMENT_EXT_LINK.EqID = EQUIPMENT.EquipmentId
INNER JOIN [PPA].[dbo].[version_history]  VH  (NOLOCK)
	ON VH.version_id = EQUIPMENT_EXT_LINK.VersionID  
INNER JOIN  [dbo].[vOEEDTMTable] OEE_TM (NOLOCK)
	ON OEE_TM.EqID = EQUIPMENT_EXT_LINK.PPAObjectId		
WHERE 
	OEE_TM.StartTime BETWEEN TURNOS.InicioTurno AND TURNOS.FinTurno 
	AND LINEAS.NumeroLinea = @NumLinea
	AND TURNOS.Fecha BETWEEN @FecInicio AND @FecFin	    
	AND VH.is_current = 1	
	AND  OEE_TM.StartTime BETWEEN @FecInicio AND @FecFin
	AND OEE_TM.EndTime IS NOT NULL
	AND OEE_TM.Level0  IN (SELECT IdObj FROM #TipoParos) 
DROP TABLE #TipoParos
COMMIT TRANSACTION; 
END
GO
