USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarNota_Orden_Finalizada_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Carlos Gómez Mandujano
-- Create date: 18/05/2021
-- Description:	Procedimiento que se encarga de actualizar la nota de una Orden Finalizada en la BBDD de SITMESDb
-- =============================================

CREATE PROCEDURE [dbo].[MES_ActualizarNota_Orden_Finalizada_FAB]
	@IdOrden as NVARCHAR(200),
	@Nota AS NVARCHAR(200) = NULL
AS
BEGIN
	UPDATE SITMesDB.dbo.POMV_ORDR
	SET note = @Nota
    WHERE pom_order_id = @IdOrden
END

GO
