USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarGraficaProduccionTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Roberto Cristina Fernández
-- Create date: 27-10-2021
-- Description:	Se obtienen los datos de rendimiento de turno y se guardan en la tabla GraficaProduccionTeoricaVSReal
-- ============================================================
CREATE PROCEDURE [dbo].[MES_GuardarGraficaProduccionTurno]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @turnos TABLE (IdFila bigint, Linea nvarchar(50), IdTurno int, InicioTurno datetime, FinTurno datetime)
	DECLARE @infoInicial TABLE (Linea nvarchar(50), IdTurno int, IdProducto nvarchar(10), VelocidadNominal int,
		VelocidadNominalMaqLimitante int, RendimientoObjetivo decimal(5,2), ProduccionVelocidadNominal int,
		ProduccionVelocidadNominalRndObjetivo int, ProduccionVelocidadNominalMaqLimitante int,
		ProduccionReal int, Fecha datetime)

	DECLARE @fecha datetime, @fechaInicioTurno datetime, @fechaFinTurno datetime, @fechaCada5min datetime,
		@linea nvarchar(50), @contFilas int, @filas int, @idFila bigint,
		@prodVelNom int = 0, @prodVelNomRendObj int = 0, @prodVelNomMaqLim int = 0
	
	SET @fecha = DATEADD(mi, 5, GETUTCDATE())

	INSERT INTO @turnos
	SELECT
		ROW_NUMBER() OVER (ORDER BY Linea), Linea, Id, InicioTurno, FinTurno
	FROM dbo.Turnos
	WHERE @fecha BETWEEN InicioTurno AND FinTurno

	-- Por si hay turnos que no empiezan en la primera hora
	IF NOT EXISTS(SELECT 1 FROM @turnos)
	BEGIN
		INSERT INTO @turnos
		SELECT
			ROW_NUMBER() OVER (ORDER BY Linea), Linea, Id, InicioTurno, FinTurno
		FROM dbo.Turnos
		WHERE DATEADD(hh, 4, @fecha) BETWEEN InicioTurno AND FinTurno
	END

	--select * from @turnos

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @turnos)
	SET @idFila = (SELECT MIN(IdFila) FROM @turnos)

	-- Actualizamos los registros iniciales con los datos encontrados
	WHILE @contFilas <= @filas
	BEGIN
		SELECT
			@linea = Linea,
			@fechaInicioTurno = InicioTurno,
			@fechaFinTurno = FinTurno
		FROM @turnos
		WHERE IdFila = @idFila

		SET @fechaCada5min = @fechaInicioTurno

		WHILE (@fechaCada5min <= @fechaFinTurno)
		BEGIN
			SELECT
				@prodVelNom = @prodVelNom + ISNULL(R.VelocidadNominal, 0) / 12, 
				@prodVelNomRendObj = @prodVelNomRendObj + (ISNULL(R.VelocidadNominal, 0) * (ISNULL(R.OEEObjetivo, 0) / 100)) / 12,
				@prodVelNomMaqLim = @prodVelNomMaqLim + (ISNULL(R.VelocidadNominalMaqLimitante, 0) * (ISNULL(R.OEEObjetivo, 0) / 100)) / 12
			FROM @turnos T
			LEFT OUTER JOIN dbo.Particiones P ON P.Linea = T.Linea AND @fechaCada5min >= P.FecIniEstimada AND @fechaCada5min <= P.FecFinEstimada AND P.EstadoAct <> 'Cancelada'
			LEFT OUTER JOIN dbo.ParametrosLinea R ON R.idLinea = T.Linea AND R.Producto = P.IdProducto
			WHERE T.Linea = @linea

			INSERT INTO @infoInicial
			SELECT
				T.Linea, 
				T.IdTurno, ISNULL(P.IdProducto, 0), ISNULL(R.VelocidadNominal, 0), 
				ISNULL(R.VelocidadNominalMaqLimitante, 0), ISNULL(R.OEEObjetivo, 0) AS RendimientoObjetivo, 
				@prodVelNom, @prodVelNomRendObj, @prodVelNomMaqLim, 
				CASE WHEN @fechaCada5min = @fechaInicioTurno THEN 0 ELSE null END,
				DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), @fechaCada5min) AS Fecha
			FROM @turnos T
			LEFT OUTER JOIN dbo.Particiones P ON P.Linea = T.Linea AND @fechaCada5min >= P.FecIniEstimada AND @fechaCada5min <= P.FecFinEstimada AND P.EstadoAct <> 'Cancelada'
			LEFT OUTER JOIN dbo.ParametrosLinea R ON R.idLinea = T.Linea AND R.Producto = P.IdProducto
			WHERE T.Linea = @linea

			SET @fechaCada5min = DATEADD(mi, 5, @fechaCada5min);
		END

		SET @prodVelNom = 0 
		SET @prodVelNomRendObj = 0
		SET @prodVelNomMaqLim = 0

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

	INSERT INTO dbo.GraficaProduccionTeoricaVSReal
	SELECT * FROM @infoInicial

END
GO
