USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnosFabrica]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerTurnosFabrica]
	@idLinea as varchar(200),
	@anyo as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT *
		FROM [TurnosFabrica]
		where [IdLinea]=@idLinea
		--and [PlantillaTurno] like '%T_0%'
		and datepart(year,[PrimerDiaSemana]) = @anyo
	COMMIT TRANSACTION; 
END
GO
