USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerParosAccionMejora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerParosAccionMejora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		Id
	INTO #Turnos
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT DISTINCT TOP 10
		ROW_NUMBER() OVER (ORDER BY Duracion ASC) sequence_no
		,*
	FROM 
		(SELECT
			T.id AS Descripcion
			,CASE
				WHEN SUM(LL.TIEMPO_OPERATIVO) = 0 THEN 0
				ELSE CONVERT(NUMERIC(18, 2), ((SUM(LL.TIEMPO_NETO) / SUM(LL.TIEMPO_OPERATIVO)) * 100))
			END AS Duracion --EFICIENCIA
			,CONVERT(VARCHAR(10), CONVERT(DATE, T.Fecha)) + ' ' + t.Turno AS MaquinaCausaNombre
			,GETDATE() AS InicioLocal
			,'' AS CausaNombre
			,'' AS MotivoNombre
			,'' AS EquipoConstructivoNombre
			,'' AS Observaciones
			,0 as ID_ACCION_MEJORA--,ISNULL(AM.ID_ACCION_MEJORA, 0) AS ID_ACCION_MEJORA
		FROM (
			SELECT
				SHC_WORK_SCHED_DAY_PK
				,TIEMPO_OPERATIVO
				,TIEMPO_NETO
				,FECHA_INICIO
			FROM COB_MSM_PROD_LLENADORA_HORA
			INNER JOIN #Turnos turnos ON turnos.Id = SHC_WORK_SCHED_DAY_PK
			UNION ALL 
			SELECT
			SHC_WORK_SCHED_DAY_PK
			,TIEMPO_OPERATIVO
			,TIEMPO_NETO
			,FECHA_INICIO
			FROM COB_MSM_PROD_RESTO_MAQ_HORA
			INNER JOIN #Turnos turnos ON turnos.Id = SHC_WORK_SCHED_DAY_PK
		) LL
		INNER JOIN TURNOS T ON T.ID = LL.SHC_WORK_SCHED_DAY_PK
		--LEFT JOIN [dbo].[ACCION_MEJORA_PAROS_MAYORES] AMP ON AMP.ID_PARO_MAYOR = PP.Id
		--LEFT JOIN [dbo].[ACCION_MEJORA] AM ON AMP.ID_ACCION_MEJORA = AM.ID_ACCION_MEJORA
		WHERE t.Linea = @Linea-- AND @FechaInicio <= DATEDIFF(s, '1970-1-1', LL.FECHA_INICIO) AND @FechaFin > DATEDIFF(s, '1970-1-1', LL.FECHA_INICIO)
		GROUP BY T.Id, T.Fecha, T.Turno) tab
	ORDER BY sequence_no ASC

DROP TABLE #Turnos
--Select top 10 row_number() OVER (ORDER BY sum(Duracion) asc) sequence_no,
--[dbo].[ToLocalDateTime](InicioLocal) as InicioLocal,
-- ISNULL([MotivoNombre],'') as MotivoNombre,
-- ISNULL([CausaNombre],'') as CausaNombre,
-- sum(Duracion) Duracion,
--convert(varchar(10),convert(date,T.Fecha)) + ' ' + t.Turno AS MaquinaCausaNombre,
-- ISNULL([EquipoConstructivoNombre],'') as EquipoConstructivoNombre,
-- T.id as Descripcion,
-- ISNULL(PP.[Observaciones],'') as Observaciones,
-- ISNULL(AM.ID_ACCION_MEJORA,0) as ID_ACCION_MEJORA
--from dbo.ParosPerdidas PP
--INNER JOIN DBO.Lineas L ON PP.IdLinea = L.NumeroLinea
--LEFT JOIN [dbo].[ACCION_MEJORA_PAROS_MAYORES] AMP ON PP.Id = AMP.ID_PARO_MAYOR
--LEFT JOIN [dbo].[ACCION_MEJORA] AM ON AMP.ID_ACCION_MEJORA = AM.ID_ACCION_MEJORA
--INNER JOIN [dbo].[Turnos] T ON T.Id = PP.Turno
--Where L.Nombre=@Linea and @FechaInicio <= datediff(s, '1970-1-1' ,InicioLocal) and @FechaFin > datediff(s, '1970-1-1' ,InicioLocal) and IdTipoParoPerdida=2
--group by InicioLocal, MotivoNombre,CausaNombre,t.Fecha,t.Turno,EquipoConstructivoNombre,t.Id,pp.Observaciones, am.ID_ACCION_MEJORA
--order by sequence_no asc

END
GO
