USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDuracionEstimadaOrdenCoccion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[MES_ObtenerDuracionEstimadaOrdenCoccion]
@salaCoccion varchar(100),
@idMaterial varchar(100),
@planta varchar(100)
AS
BEGIN

DECLARE @PPR AS VARCHAR(100) = ''

IF (@idMaterial like '%Dummy%')
SET @PPR = @planta + '.COCCION.' + @salaCoccion
ELSE
SET @PPR = @idMaterial + '_' + @salaCoccion + '_000'


SELECT
	VAL.[ParamValues_Value] as Valor
FROM 
	[SITMesDb].[dbo].[PDefM_PS] PS
	INNER JOIN [SITMesDb].[dbo].[PDefM_PS_Param] KOP ON PS.PK = KOP.FK
	INNER JOIN [SITMesDb].[dbo].[PDefM_PS_ParamValues] VAL ON KOP.[Param_ValuesLink] = VAL.[ParamValues_Num]
WHERE 
	KOP.Param_Desc like 'COC003%' 
	AND
	KOP.PARAM_NAME NOT LIKE '#%'
	AND PS.PS_PPR = @PPR AND KOP.GRP<>'HISTORICO' AND KOP.Param_Desc like '%-%'
ORDER BY PS.PS_SEQ, KOP.PARAM_SEQ ASC
END
GO
