USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[ModificarMosto]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarMosto]
	-- Add the parameters for the stored procedure here
	@codigo as nvarchar(max),
	@desc as nvarchar(max),
	@cantidad as float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	declare @newCant as float
	declare @id as int = (select Id from dbo.TempNecesidadMosto where Codigo = @codigo)
	declare @cantActual as float = (select cantidad from dbo.TempNecesidadMosto where Codigo = @codigo and Id = @id)

	set @newCant = @cantActual + @cantidad

	UPDATE dbo.TempNecesidadMosto
	SET Cantidad = @newCant
	WHERE Codigo = @codigo
		AND Id = @id
END
GO
