USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_RegistrarLog]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Inserta un registro de Log
-- =============================================
CREATE PROCEDURE [dbo].[APP_RegistrarLog]
	@fechaHora as datetime,
	@funcion as nvarchar(100),
	@tipo as nvarchar(50),
	@incidencia as nvarchar(1000),
	@usuario as nvarchar(100),
	@traza as text
AS
BEGIN

	INSERT INTO [log] (FechaHora,Funcion,Tipo,Evento,Usuario,Traza) VALUES (@fechaHora,@funcion,@tipo,@incidencia,@usuario,@traza);
	
	SET NOCOUNT ON;

END


GO
