USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEquiposProced_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- ALTER date: <ALTER Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEquiposProced_FAB]
	-- Add the parameters for the stored procedure here
	@entryID varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT --[ID],
	--TableWithRowNumbers.equip_pk as ID,
	[ExecutionEquipmentLongName] as ID,
	[L0EquipmentPropertyValue] as Equipo
	--[ExecutionEquipmentLongName] as Equipo
	--,[ExecutionEquipmentSelected]
	--,[L0EquipmentPropertyValue]
FROM (SELECT ROW_NUMBER() OVER (ORDER BY POMV_ETRY.pom_entry_pk) AS rowN
		,POMV_ETRY.pom_entry_id AS [ID]
		,POMV_EXE_EQPT_1.equip_long_name AS [ExecutionEquipmentLongName]
		,CAST((CASE POMV_EXE_EQPT_1.selected
			WHEN 0 THEN 'False'
			WHEN 1 THEN 'True'
			ELSE 'True'
		END) AS BIT) AS [ExecutionEquipmentSelected]
		,SitSqlCustom_SABEquipment_7.PartialEquipmentID AS [Equipment]
		,BPM_EQUIPMENT_PROPERTY_9.equip_prpty_value AS [L0EquipmentPropertyValue]
		,BPM_EQUIPMENT_PROPERTY_11.equip_prpty_value AS [L1EquipmentPropertyValue]
		,BPMV_EQPT_6.equip_pk AS equip_pk
	FROM SITMesDB.dbo.POMV_ETRY
	JOIN SITMesDB.dbo.POMV_EXE_EQPT AS POMV_EXE_EQPT_1
		ON (POMV_ETRY.pom_entry_pk = POMV_EXE_EQPT_1.pom_entry_pk)
	JOIN SITMesDB.dbo.BPMV_EQPT AS BPMV_EQPT_6
		ON (POMV_EXE_EQPT_1.equip_pk = BPMV_EQPT_6.equip_pk)
	JOIN (SELECT
		[BPM_EQUIPMENT].equip_pk AS EquipmentPK
		,[BPM_EQUIPMENT].equip_id AS FullEquipmentID
		,CASE
			WHEN BPM_EQUIPMENT_CLASS_1.equip_class_id = 'SAB-EQUS.SAB-BRH_VU' OR
				BPM_EQUIPMENT_CLASS_1.equip_class_id = 'SAB-EQUS.VIRTUALUNIT' THEN SUBSTRING((SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id))), (PATINDEX('%.%', SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id))) + 1), (LEN(SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id)))) - 7)
			ELSE SUBSTRING((SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id))), (PATINDEX('%.%', SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id))) + 1), (LEN(SUBSTRING([BPM_EQUIPMENT].equip_id, (PATINDEX('%.%', [BPM_EQUIPMENT].equip_id) + 1), LEN([BPM_EQUIPMENT].equip_id)))))
		END PartialEquipmentID
		,BPM_EQUIPMENT_CLASS_1.equip_class_id AS [EquipmentClassID]
	FROM SITMesDB.dbo.BPM_EQUIPMENT
	JOIN SITMesDB.dbo.BPM_EQUIPMENT_CLASS_LEVEL
		ON BPM_EQUIPMENT.equip_class_lvl_pk = BPM_EQUIPMENT_CLASS_LEVEL.equip_class_lvl_pk
	JOIN SITMesDB.dbo.BPM_EQUIPMENT_CLASS AS BPM_EQUIPMENT_CLASS_1
		ON (BPM_EQUIPMENT.equip_class_pk = BPM_EQUIPMENT_CLASS_1.equip_class_pk)
	JOIN SITMesDB.dbo.BPM_EQUIPMENT_CLASS_LEVEL AS BPM_EQUIPMENT_CLASS_LEVEL_2
		ON BPM_EQUIPMENT_CLASS_1.EQUIP_CLASS_LVL_PK = BPM_EQUIPMENT_CLASS_LEVEL_2.EQUIP_CLASS_LVL_PK) SitSqlCustom_SABEquipment_7
		ON (BPMV_EQPT_6.equip_pk = SitSqlCustom_SABEquipment_7.EquipmentPK)
	LEFT JOIN SITMesDB.dbo.BPM_EQUIPMENT_PROPERTY AS BPM_EQUIPMENT_PROPERTY_9
		ON (BPMV_EQPT_6.equip_pk = BPM_EQUIPMENT_PROPERTY_9.equip_pk)
		AND BPM_EQUIPMENT_PROPERTY_9.equip_prpty_id = N'OBJECT-LABEL'
	LEFT JOIN SITMesDB.dbo.BPM_EQUIPMENT_PROPERTY AS BPM_EQUIPMENT_PROPERTY_11
		ON (BPMV_EQPT_6.equip_pk = BPM_EQUIPMENT_PROPERTY_11.equip_pk)
		AND BPM_EQUIPMENT_PROPERTY_11.equip_prpty_id = N'L1'
	WHERE POMV_ETRY.pom_entry_id = @entryID) AS TableWithRowNumbers
	order by [ExecutionEquipmentSelected] desc


END
GO
