USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerSintesisTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerSintesisTurno]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
Select PP.EquipoDescripcion AS LLenadora, [dbo].[ToLocalDateTime](AM.FECHA_ALTA) as FECHA_ALTA,  'Linea '+ CONVERT(VARCHAR(2),L.NumeroLinea)+ ' - ' + L.Descripcion AS NUMERO_LINEA, L.Descripcion DESCRIPCION_LINEA,PP.TipoParoPerdida,CONVERT(VARCHAR(10),T.Fecha,103) AS FECHA_TURNO,T.Turno,T.InicioTurno, PP.CausaNombre, sum(PP.Duracion) AS Duracion, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, AM.ACCION_PROPUESTA,AM.DESCRIPCION_PROBLEMA,AM.CAUSA,AM.OBSERVACIONES,AM.USUARIO, PP.MotivoNombre
from dbo.ParosPerdidas PP
	   INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
INNER JOIN DBO.Turnos T ON PP.InicioLocal BETWEEN T.InicioTurno AND T.FinTurno and T.Linea = @Linea
INNER JOIN DBO.ACCION_MEJORA_PAROS_MAYORES AMPM ON AMPM.ID_PARO_MAYOR = PP.Id
INNER JOIN DBO.ACCION_MEJORA AM ON AM.ID_ACCION_MEJORA = AMPM.ID_ACCION_MEJORA
WHERE L.Nombre= @Linea AND convert(date,T.Fecha) = convert(Date,DATEADD(s, @Fecha, '19700101')) AND t.Id = @TURNO 
Group by PP.CausaNombre, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, AM.ACCION_PROPUESTA, PP.MotivoNombre,L.NumeroLinea, L.Descripcion,PP.TipoParoPerdida, T.Fecha,T.Turno,T.InicioTurno, AM.ACCION_PROPUESTA,AM.DESCRIPCION_PROBLEMA,AM.CAUSA,AM.OBSERVACIONES,AM.USUARIO
,AM.FECHA_ALTA,PP.EquipoDescripcion
END
GO
