USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerProduccionHorasEtiquetadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerProduccionHorasEtiquetadora]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
--set @linea = 'MSM.BURGOS.ENVASADO.B447'
--set @desde = convert(datetime,'2015-11-25T05:00:00',126)
--set @hasta = convert(datetime,'2015-11-25T13:00:00',126)

DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	DECLARE @ID_CLASE_ETQ AS INT
	DECLARE @d datetime
	DECLARE @h datetime
	DECLARE @turno int
	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = dateadd(hour,1, @d)

	--BEGIN TRANSACTION
		
	--	WHILE @h <= DATEADD(s, @hasta, '19700101')
	--	  BEGIN
	--		INSERT  INTO @HorasTurno
	--		VALUES  (@d,@h)
	--		SET @d = @h
	--		SET @h = dateadd(hour,1, @d)
			
	--	  END		
	--COMMIT TRANSACTION
	SELECT
		@turno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno


	SELECT DISTINCT
		@ID_CLASE_ETQ = IdClase
	FROM Maquinas
	WHERE Clase = 'ETIQUETADORA_PALETS'

	SELECT
		m.Id
		,m.Descripcion AS NOMBRE
		,SUM(Produccion.CONTADOR_PRODUCCION) AS ENVASES_LLENADORA
		,SUM(Produccion.CONTADOR_RECHAZOS) AS ENVASES_RECHAZADOS
		,0 as ENVASES_PALETIZADORA
	    ,0 as HLCaudar
		,0 AS 'RENDIMIENTO_MECANICO'
		,0 AS HLEnvases
	FROM COB_MSM_PROD_RESTO_MAQ_HORA Produccion
	INNER JOIN Maquinas m
		ON Produccion.ID_MAQUINA = m.Id
		AND M.Linea = @LINEA
	WHERE m.IdClase IN (@ID_CLASE_ETQ)
	AND Produccion.SHC_WORK_SCHED_DAY_PK = @turno --AND ISNULL(Produccion.ID_ORDEN,'') != ''
	GROUP BY M.ID,M.Descripcion


	commit TRANSACTION
END
GO
