USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMaterialesEAN]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[MES_ObtenerMaterialesEAN]
	--@codEan as nvarchar(256) -- MMDefinitions.DefID
	@codEan as nvarchar(256)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;



 SELECT M.IdMaterial AS CodigoMaterial,
 M.Descripcion
 ,EAN AS CodigoEAN
 FROM [MES_MSM_Trazabilidad].[MAT].[vInterspecEansValidos] A
	INNER JOIN dbo.Materiales M
	ON M.IdMaterial = A.IDjDE
WHERE EAN = @codEan

	

END
GO
