USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarContadorEtiquetadoraPalets]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Daniel Salván
-- Create date: 21/10/2021
-- Description:	Actualizar el contador de los registros de las etiquetadoras de la tabla COB_MSM_PROD_RESTO_MAQ
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizarContadorEtiquetadoraPalets] 
	-- Add the parameters for the stored procedure here
	@FechaInicio DATETIME ='1900-01-01 00:00:00', 
	@FechaFin DATETIME = '9999-12-31 23:59:59'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Declaración de variables
	DECLARE @NumRegistros INT;
	DECLARE @tProduccionTemp TABLE (ID_MAQUINA NVARCHAR(4000), EtiquetaCreatedAt DATETIME);

	-- Actualización de la fecha de inicio y de fin para que coincida con el horizonte de búsqueda de JDE
	SET @FechaInicio = [dbo].[CLR_DATETIME_ConvertLocalToUtc] (CONVERT(NVARCHAR,DATEADD(day,0,@FechaInicio),112));
	SET @FechaFin = [dbo].[CLR_DATETIME_ConvertLocalToUtc] (CONVERT(NVARCHAR,DATEADD(day,1,@FechaFin),112));

	-- Obtención de los registros de las etiquetas de JDE del periodo contemplado. Sólo se tendrán las etiquetas con status = 1 y que la referencia sea distinta de cero. No se tendrá en cuenta la WO
	INSERT INTO @tProduccionTemp (ID_MAQUINA, EtiquetaCreatedAt) 
	SELECT 
		CONCAT (R.Linea, '.', R.Maquina) AS ID_MAQUINA
		,[EtiquetaCreatedAt]
	FROM [MES_MSM_Trazabilidad].[TRA].[tProduccion] AS T
	INNER JOIN [MES_MSM].[dbo].[COB_MSM_LINEAS] AS L ON T.linea = l.ID_LINEA
	INNER JOIN [MES_MSM].[dbo].[RelacionETQMESLineaJDE] as R ON T.LineaProduccionJDE = R.LineaProducionJDE AND L.LINEA = R.Linea
	WHERE T.EtiquetaCreatedAt >= @FechaInicio AND T.EtiquetaCreatedAt <= @FechaFin AND T.IdStatus = 1
	ORDER BY ID_MAQUINA, EtiquetaCreatedAt;
	SET @NumRegistros = @@ROWCOUNT;

	-- Comprobación que la consulta ha devuelto datos
	IF @NumRegistros <> 0 
	BEGIN

		-- Actualización de los registros modificados de la tabla COB_MSM_PROD_RESTO_MAQ
		WITH tCobTemp ([$IDArchiveValue], CONTADOR_PRODUCCION) AS
		(
			-- Obtención de los registros de la tabla COB_MSM_PROD_RESTO_MAQ del periodo contemplado actualizando el campo CONTADOR_PRODUCCION
			SELECT P.[$IDArchiveValue]
				,(SELECT COUNT (*) FROM @tProduccionTemp AS T WHERE T.ID_MAQUINA = P.ID_MAQUINA AND T.EtiquetaCreatedAt >= P.FECHA_INICIO AND T.EtiquetaCreatedAt < P.FECHA_FIN)
			FROM [MES_MSM].[dbo].[COB_MSM_PROD_RESTO_MAQ_HORA] AS P
			WHERE ID_MAQUINA IN (SELECT DISTINCT ID_MAQUINA FROM @tProduccionTemp) AND FECHA_INICIO >= @FechaInicio AND FECHA_FIN <= @FechaFin 
		)
		UPDATE [MES_MSM].[dbo].[COB_MSM_PROD_RESTO_MAQ_HORA]  
		SET CONTADOR_PRODUCCION = Temporal.CONTADOR_PRODUCCION
			,CONTADOR_PRODUCCION_AUTO = Temporal.CONTADOR_PRODUCCION
		FROM [MES_MSM].[dbo].[COB_MSM_PROD_RESTO_MAQ_HORA] AS Destino
		INNER JOIN tCobTemp AS Temporal ON Temporal.[$IDArchiveValue] = Destino.[$IDArchiveValue]
		WHERE EXISTS (SELECT Temporal.CONTADOR_PRODUCCION EXCEPT SELECT Destino.CONTADOR_PRODUCCION);

		PRINT CONCAT('Número de registros actualizados en COB_MSM_PROD_RESTO_MAQ_HORA: ', @@ROWCOUNT);

	END;

END


GO
