USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerGraficoOEE]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_5_ObtenerGraficoOEE]
	-- Add the parameters for the stored procedure here
	@linea as nvarchar(100),
	@fIni as nvarchar(100),
	@fFin as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

 set transaction isolation level read uncommitted


DECLARE @ini datetime = convert(datetime,@fIni);
DECLARE @find datetime = convert(datetime,@fFin);

SELECT
	ROW_NUMBER() OVER (ORDER BY S.AÑO) as ID
	,CONVERT(VARCHAR(100), S.AÑO) + ' Semana ' + CONVERT(VARCHAR(100), S.SEMANA) AS Fecha
	,CONVERT(FLOAT, AVG(PTC.OEE)) AS OEE
	,CONVERT(DECIMAL(38, 10),NULL) as Trend
INTO #Temp_Regression
FROM [dbo].[SEMANAS] S
	LEFT JOIN ProduccionTurnosConsolidada PTC ON PTC.FECHA <= S.FIN AND PTC.FECHA >= S.INICIO
WHERE @ini <= S.FIN AND @find >= S.INICIO AND LINEA = @linea
GROUP BY	S.AÑO
			,s.SEMANA

DECLARE @sample_size INT; 
DECLARE @intercept  DECIMAL(38, 10);
DECLARE @slope   DECIMAL(38, 10);
DECLARE @sumX   DECIMAL(38, 10);
DECLARE @sumY   DECIMAL(38, 10);
DECLARE @sumXX   DECIMAL(38, 10);
DECLARE @sumYY   DECIMAL(38, 10);
DECLARE @sumXY   DECIMAL(38, 10);

-- calculate sample size and the different sums
SELECT
  @sample_size = COUNT(*)
 ,@sumX   = SUM(ID)
 ,@sumY   = SUM([OEE])
 ,@sumXX   = SUM(ID*ID)
 ,@sumYY   = SUM([OEE]*[OEE])
 ,@sumXY   = SUM(ID*[OEE])
FROM #Temp_Regression;

 -- calculate the slope and intercept
SET @slope = CASE WHEN @sample_size = 1
    THEN 0 -- avoid divide by zero error
    ELSE (@sample_size * @sumXY - @sumX * @sumY) / (@sample_size * @sumXX - POWER(@sumX,2))
    END;
SET @intercept = (@sumY - (@slope*@sumX)) / @sample_size;

-- calculate trend line
UPDATE #Temp_Regression
SET Trend = (@slope*ID) + @intercept;

-- output results
SELECT ID, Fecha, FORMAT(OEE, 'N2') AS OEE, FORMAT(Trend, 'N2') AS 'Tendencia OEE'
FROM #Temp_Regression
DROP TABLE #Temp_Regression

END
GO
