USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerKOPsSegunSCMaterial]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[MES_ObtenerKOPsSegunSCMaterial]
@salaCoccion varchar(100),
@idMaterial varchar(100),
@area varchar(100),
@planta varchar(100)
AS
BEGIN

DECLARE @PPR AS VARCHAR(100) = ''

IF (@idMaterial like '%Dummy%')
SET @PPR = @planta + '.' + @area + '.' + @salaCoccion
ELSE
SET @PPR = @idMaterial + '_' + @salaCoccion + '_000'

--PRINT(@PPR)

SELECT
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PS.PS,'D_WP','Orden cocción'),'D_FE','Orden Fermentación'),'D_FL','Orden Filtración'),'D_GU','Orden Guarda'),'D_PR','Orden Prellenado') as Procedimiento
	,KOP.Param_Desc as KOP
	,PARAM_TYPE as Tipo
	,PARAM_UOM as UOM
	,GRP as Formato
	,VAL.[ParamValues_Value] as Valor
	,VAL.[ParamValues_MinVal] as Minimo
	,VAL.[ParamValues_MaxVal] as Maximo
	,VAL.[ParamValues_Num] as idVal
	,VAL.RowUpdated as Fecha
	,@idMaterial as Material
	,CASE 
	WHEN VAL.[ParamValues_Value]='' THEN 'Azul'
	WHEN VAL.[ParamValues_Value] <> '' AND ISNUMERIC(VAL.[ParamValues_Value])=0 THEN 'Verde'
	WHEN CONVERT(FLOAT,CONVERT(VARCHAR(100),REPLACE(VAL.[ParamValues_Value],',','.')))<= CONVERt(FLOAT,CONVERT(VARCHAR(100),REPLACE(VAL.[ParamValues_MaxVal],',','.'))) AND
				CONVERT(FLOAT,CONVERT(VARCHAR(100),REPLACE(VAL.[ParamValues_Value],',','.')))>= CONVERt(FLOAT,CONVERT(VARCHAR(100),REPLACE(VAL.[ParamValues_MinVal],',','.')))
then 'Verde' else 'Rojo' end as Semaforo
FROM [SITMesDb].[dbo].[PDefM_PS] PS
INNER JOIN [SITMesDb].[dbo].[PDefM_PS_Param] KOP
	ON PS.PK = KOP.FK
INNER JOIN [SITMesDb].[dbo].[PDefM_PS_ParamValues] VAL
	ON KOP.[Param_ValuesLink] = VAL.[ParamValues_Num]
WHERE KOP.PARAM_NAME NOT LIKE '#%'
AND PS.PS_PPR = @PPR AND KOP.GRP<>'HISTORICO' AND KOP.Param_Desc like '%-%'
ORDER BY PS.PS_SEQ, KOP.PARAM_SEQ ASC
END
GO
