USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ENVIOINCIDENCIAS_MAIL]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[MES_ENVIOINCIDENCIAS_MAIL]
CREATE PROCEDURE [dbo].[MES_ENVIOINCIDENCIAS_MAIL]
AS
BEGIN
--------------------------
-- Declaracion de variables
--------------------------
DECLARE @count int
DECLARE @Separateur varchar(1)
DECLARE @bodyHtml NVARCHAR(MAX)
DECLARE @mailSubject NVARCHAR(MAX)
DECLARE @STMT VARCHAR(100)
DECLARE @RtnCode INT
declare @column1name varchar(50)
declare @subjectStr varchar(500)
declare @table nvarchar(max)
declare @tableHTML nvarchar(max)
declare @email as varchar(1000)
-------------------------------
-- Init
-------------------------------
SET @Separateur=','
SET @count = 0
set @table = N''

------------------------------
-- Inicio proceso
------------------------------

	-- Comprobamos si hay registros
	select  @count = count(1)
	from	[dbo].[INCIDENCIAS_ENVIADAS] (NOLOCK)

	
	
		
	-- Si ha registros enviamos el mail
	if(@count > 0)
	begin

		Select  @table = @table + '<tr>' +
                '<td>' + usuario + '</td>' +
                '<td>' + pantalla + '</td>' +
                '<td>' + Descripcion + '</td>' + 
				'<td>' + case when APLICACION = 'p' then 'WEB' else 'TERMINAL' END  + '</td>' +
				'<td>' + convert(varchar,FECHA_CREACION,121) + '</td>' + 
				'<td>' + Email + '</td></tr>'
		From dbo.INCIDENCIAS_ENVIADAS

		-- Obtenemos la direccion del envio

	


		SELECT	@email=email 
		FROM	[dbo].[INCIDENCIAS_DIRECCION_ENVIO]


		

		
		 
      
		set @tableHTML = N'<h3>Listado de incidencias - ' +  dbo.[MES_ObtenerNombrePlanta] () + '- </h3>' +
                N'<table border="1" align="center" cellpadding="2" cellspacing="0" style="text-align:left;">' +
                N'<tr style="font-size:12px;"><th>Usuario</th><th>Pantalla</th><th>Descripcion</th><th>Aplicacion</th><th>Fecha</th><th>Email</th></tr>' + @table + N'</table>'

	
		EXEC  @RtnCode = msdb.dbo.sp_send_dbmail
		  @profile_name = 'Incidencias usuarios',
		  @query_result_separator=@Separateur,
		  @recipients = @email, 
		  @subject = @mailSubject,
		  @body = @tableHTML,
		  @body_format = 'HTML'

		IF @RtnCode <> 0
		  RAISERROR('Error.', 16, 1)
	  
		
	END 

	SELECT @RtnCode
END
GO
