USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProductosPlanta]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================
-- Author:		Leandro
-- Create date: 29/07/2015
-- Description:	Obtiene los productos de la planta
-- ==================================================
CREATE PROCEDURE [dbo].[MES_ObtenerProductosPlanta]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT
		IdProducto,
		Nombre,
		Descripcion,
		IdClase AS IdTipoProducto,
		Clase AS TipoProducto,
		Version,
		Status,
		UdMedida,
		F_EfectivoDesde,
		F_EfectivoHasta,
		EnUso,
		Autor,
		FechaCreacion,
		FechaUltCreacion,
		ModificadoPor,
		InfoAdicional,
		Tipo,
		IdLote,
		udMedida
		FROM Productos;
	COMMIT TRANSACTION; 

END
GO
