USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoItemInFiltrationPO]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertIntoItemInFiltrationPO]
(@index bigint,@POId nvarchar(max),@item nvarchar(max))
AS
BEGIN
	INSERT INTO ItemsInActiveFiltration values(@index,@POId,@Item)
END
GO
