USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerParosSinAgrupar]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerParosSinAgrupar]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Turno int,
	 @Fecha bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
Select [dbo].[ToLocalDateTime](PP.Inicio) as InicioLocal, cast(DuracionParoMayor as numeric(18,2)) as Duracion, MaquinaCausaNombre, EquipoConstructivoNombre, PP.Descripcion, Observaciones,
PP.CausaNombre, PP.MotivoNombre
from dbo.ParosPerdidas PP
INNER JOIN [dbo].[Lineas] L ON PP.IdLinea = L.NumeroLinea
--INNER JOIN DBO.Turnos T ON PP.Inicio BETWEEN T.InicioTurno AND T.FinTurno and T.Linea = @Linea
WHERE IdTipoParoPerdida=1 AND L.Id= @Linea --AND T.Fecha = convert(Date,DATEADD(s, @Fecha, '19700101')) AND t.Id = @TURNO 
AND PP.Turno = @Turno

END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerPerdidaEficiencia]    Script Date: 01/06/2016 12:21:14 ******/
SET ANSI_NULLS ON
GO
