USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMovimientosVacio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 07-10-2020
-- Description:	Se obtienen los movimientos de vacio
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerMovimientosVacio]
	@fechaInicio datetime,
	@fechaFin datetime
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT
		M.Id,
		M.IdMovimiento,
		M.FechaMovimiento,
		D.DescripcionMovimiento,
		M.IdCaja,
		P.DescripcionCaja,
		M.IdOrden, 
		M.StockInicial,
		M.CantidadMovimiento,
		M.StockFinal
	FROM MovimientosVacio M
	INNER JOIN DescripcionMovimientosVacio D ON M.IdMovimiento = D.IdMovimiento
	LEFT OUTER JOIN ProductosCajas P ON M.IdCaja = P.IdCaja
	WHERE M.FechaMovimiento >= @fechaInicio AND M.FechaMovimiento <= @fechaFin
END
GO
