USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerUbicacionesPreparacion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerUbicacionesPreparacion]
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT
		[IdUbicacion]
	   ,[Nombre]
	FROM [MES_MSM_Trazabilidad].[UBI].[tUbicacion] u
	INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tTipoUbicacion] tu
		ON u.IdTipoUbicacion = tu.IdTipoUbicacion
	WHERE tu.IdTipoUbicacion = 5

COMMIT TRANSACTION;
END
GO
