USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquinaCausa]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_1_ObtenerlistadoParosMaquinaCausa]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		@turno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT
		EquipoID
		,MotivoNombre
		,CONVERT(NUMERIC(18, 2), SUM(Duracion)) AS Duracion
	FROM (SELECT --substring(EquipoID,charindex('-EQ-',EquipoId)+4,6)
			EquipoDescripcion AS EquipoID
			,CausaNombre
			,MotivoNombre
			,P.DuracionParoMayor + P.DuracionParosMenores + DuracionBajaVelocidad AS duracion
		FROM ParosPerdidas P
		INNER JOIN [dbo].[Lineas] L
			ON P.IdLinea = L.NumeroLinea
		INNER JOIN DBO.TURNOS T
			ON P.TURNO = T.ID
			AND T.IdTipoTurno > 0
		WHERE L.Nombre = @Linea AND T.id = @turno	
		--AND @FechaInicio <= DATEDIFF(s, '1970-1-1', Inicio)
		--AND @FechaFin > DATEDIFF(s, '1970-1-1', Inicio)
	-- union all 
	--  Select  distinct
	--  NULL as EquipoID,
	--  NULL as CausaNombre,
	--  NULL as MotivoNombre,
	--  convert(numeric(18,2),CMH.TIEMPO_PLANIFICADO-CMH.TIEMPO_OPERATIVO) as Duracion	 
	--FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA CMH
	--INNER JOIN Maquinas M ON M.Id = CMH.ID_MAQUINA
	--INNER JOIN TURNOS T ON CMH.SHC_WORK_SCHED_DAY_PK  = T.ID
	--INNER JOIN LINEAS L ON L.Id = M.Linea
	--Where L.Nombre = @Linea and CMH.TIEMPO_PLANIFICADO-CMH.TIEMPO_OPERATIVO >0
	--and @FechaInicio <= datediff(s, '1970-1-1' ,FECHA_INICIO) 
	--and @FechaFin >= datediff(s, '1970-1-1' ,Fecha_Fin)
	) tab
	GROUP BY	EquipoID
				,MotivoNombre
	ORDER BY duracion DESC
commit TRANSACTION
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_2_ObtenerParosLlenadoraMaquina]    Script Date: 01/06/2016 12:11:36 ******/
SET ANSI_NULLS ON
GO
