USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerQueries]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerQueries]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;


		SELECT [ID_QUERY]      ,[NOMBRE]      ,[TEXTO]  FROM [dbo].[QUERIES]
		Where TEXTO is not null and ID_QUERY > 3 AND ID_QUERY <> 10 AND ID_QUERY <> 11 --in (4,7,8,11)
	    ORDER BY NOMBRE
	COMMIT TRANSACTION; 
END
GO
