USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerValoresAntiguosFechas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerValoresAntiguosFechas]
	@ordenId nvarchar(20)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

BEGIN TRANSACTION;

	SELECT	Ordenes.actual_start_time AS FechaInicioReal
			,Ordenes.actual_end_time AS FechaFinReal
			,CASE WHEN isnull(FechaFinRealOriginal.VAL,'')='' THEN NULL ELSE FechaFinRealOriginal.VAL END AS FechaInicioRealOld
			,CASE WHEN isnull(FechaFinRealOriginal.VAL,'')='' THEN NULL ELSE FechaFinRealOriginal.VAL END AS FechaFinRealOld
	FROM (SELECT pom_order_id, actual_start_time, actual_end_time FROM SITMesDB.dbo.POMV_ORDR WHERE pom_order_id = @ordenId) AS Ordenes
	INNER JOIN (SELECT
					oprp.pom_order_id AS IdOrden
					,VAL
					FROM SITMesDB.dbo.POMV_ORDR_PRP AS oprp
					WHERE (pom_custom_fld_name = 'FECHA_INICIO_REAL' AND oprp.pom_order_id = @ordenId)
				) AS FechaInicioRealOriginal ON FechaInicioRealOriginal.IdOrden = Ordenes.pom_order_id
	INNER JOIN (SELECT
					oprp.pom_order_id AS IdOrden
					,VAL
					FROM SITMesDB.dbo.POMV_ORDR_PRP AS oprp
					WHERE (pom_custom_fld_name = 'FECHA_FIN_REAL' AND oprp.pom_order_id = @ordenId)
				) AS FechaFinRealOriginal ON FechaFinRealOriginal.IdOrden =  Ordenes.pom_order_id


COMMIT TRANSACTION;
END
GO
