USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Obtiene las ordenes planificadas de una linea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrden]
	@orden as nvarchar(50)
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT 
	Particiones.Id,
	Particiones.IdOrdenPadre,
	particiones.IdSuborden,
	Particiones.Descripcion,
	IdEstadoAct,
	EstadoAct,
	EstadoAct.color AS ColorAct,
	IdEstadoAnt,
	EstadoAnt.id AS EstadoAnt,
	EstadoAnt.color AS ColorAnt,
	FecIniEstimada,
	FecFinEstimada,
	FecIniReal,
	FecFinReal,
	Productos.IdProducto,
	Productos.Nombre AS Producto,
		Productos.IdClase + '-' + cast(Productos.Gama as varchar) + '-' + cast(Productos.Marca as varchar) AS IdTipoProducto,
	Productos.Clase + ' ' + cast(Productos.Gama as varchar) + ' ' + cast(Productos.Marca as varchar)  AS TipoProducto,
	CantidadPlanificada,
	CantidadProducida,
	Productos.udMedida,
	Particiones.VelocidadNominal,
	Particiones.OEEObjetivo,
	Particiones.OEECritico,
	Particiones.codigoJDE,
		Particiones.Rechazos,
	Particiones.OEE,
	Particiones.Disponibilidad,
	Particiones.Eficiencia,
	Particiones.RendMecanico,
	Particiones.Calidad,
	Particiones.Linea,
	Particiones.FecHorAct as RowUpdated,
	Particiones.EnvasesPorPalet,
	Particiones.CajasPorPalet,
	Particiones.HectolitrosProducto,
	Particiones.CausaPausa,
	Particiones.PicosCajas,
	Particiones.OEEPreactor
	FROM Particiones
	LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
	LEFT JOIN EstadosOrden AS EstadoAnt ON EstadoAnt.Id = Particiones.IdEstadoAnt
	LEFT JOIN Productos ON Productos.IdProducto = Particiones.IdProducto
	WHERE Particiones.Id = @orden
	

COMMIT TRANSACTION; 
END
GO
