USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_EnviarMailsAlertasLog]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 12-03-2020
-- Description:	Se envian correos con los datos de la tabla AlertasBasadasLogMails que
--				no tengan fecha de envio informada
-- =============================================
CREATE PROCEDURE [dbo].[MES_EnviarMailsAlertasLog]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @rowCount INT, @Id BIGINT, @rtnCode INT
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(Id) FROM dbo.AlertasBasadasLogMails WHERE FechaEnvio IS NULL)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @Id = (SELECT MAX(Id) FROM dbo.AlertasBasadasLogMails WHERE FechaEnvio IS NULL)

	WHILE (@rowCount > 0)
	BEGIN
		-- Se declaran las variables de los datos que se van a necesitar para cada registro
		DECLARE @asunto nvarchar(100), @cuerpo nvarchar(max), @destinatarios nvarchar(max)

		SELECT
			@asunto = Asunto,
			@cuerpo = Cuerpo,
			@destinatarios = Destinatarios
		FROM dbo.AlertasBasadasLogMails
		WHERE Id = @Id

		EXEC @rtnCode = msdb.dbo.sp_send_dbmail
		  @profile_name = 'Alertas log',
		  @recipients = @destinatarios, 
		  @subject = @asunto,
		  @body = @cuerpo,
		  @body_format = 'HTML'

		IF @rtnCode <> 0
		BEGIN
			RAISERROR('Error.', 16, 1)
		END
		ELSE
		BEGIN
			UPDATE dbo.AlertasBasadasLogMails
			SET FechaEnvio = GETDATE()
			WHERE Id = @id
		END
		
		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @Id = Id FROM dbo.AlertasBasadasLogMails WHERE Id < @Id ORDER BY Id DESC
		SET @rowCount = @rowCount - 1  
	END
END
GO
