USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GetMaterialesKOPConstante]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 CREATE PROCEDURE [dbo].[MES_GetMaterialesKOPConstante](@area NVARCHAR(20))
AS
BEGIN
	DECLARE @Clase AS TABLE(valor NVARCHAR(10));
        DECLARE @idClase AS NVARCHAR(5),
        @dummyMateria AS NVARCHAR(50);

    IF(@area ='COC' OR @area ='FER' OR @area ='TR')
	BEGIN 
		SET @dummyMateria = CASE @area
							WHEN 'COC' THEN 'DummyMaterial_WP' 
							WHEN 'FER' THEN 'DummyMaterial_FE' 
							ELSE 'DummyMaterial_TR'
							END 
		SET @idClase = 'MOS' 
		INSERT INTO @Clase VALUES('MOP'),('MDH')
	END
	IF( @area ='GU')
	BEGIN
		SET @dummyMateria = 'DummyMaterial_GU' 
		SET @idClase = 'CZH' 
		INSERT INTO @Clase VALUES('CZH')
	END
	IF (@area ='FIL' OR @area ='PRE') 
	BEGIN 
		SET @dummyMateria = CASE @area
							WHEN 'FIL' THEN 'DummyMaterial_FL' 
							ELSE 'DummyMaterial_PR'
							END
		SET @idClase = 'CZA' 
		INSERT INTO @Clase VALUES('CZA')
	END
	
		SELECT DISTINCT Materiales.* FROM 
		[MES_MSM].[dbo].[Materiales_FAB] AS Materiales
		INNER JOIN	[SITMesDB].[dbo].[MMwDefProperties] DEF ON Materiales.IdMaterial = DEF.DefID
		INNER JOIN [SITMesDB].[dbo].[MMDefVerPrpVals] AS DVPV ON DVPV.DefVerPK = DEF.DefVerPK
		WHERE ((Materiales.IdClase =  @idClase
		AND (BOM IS NOT NULL AND BOM <> '')) 
		OR Materiales.IdMaterial = @dummyMateria)
		AND DEF.propertyID = 'Subclase_codigo'
		AND DVPV.PropValChar IN (SELECT * FROM @Clase)

		
END
GO
