USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetPackingArticleTotalQuantityFromCurrentWeek]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetPackingArticleTotalQuantityFromCurrentWeek](@currentWeek nvarchar(max),@startWeek nvarchar(max))
as
BEGIN
	DECLARE @CodigoPlanta AS NVARCHAR(13);
	IF (@@SERVERNAME = 'VMSITTEST')
	BEGIN
		SET @CodigoPlanta = '        8030'
	END
	ELSE
	BEGIN
		SET @CodigoPlanta = [dbo].[MES_ObtenerCodigoPlanta] ()
	END

	declare @aux as table(WADOCO int,WADRQJ int,WALITM int,WAUORG int,WAUOM nvarchar(max),WAMMCU int,Semana int)
	
	insert into @aux
	EXEC [dbo].[PRE_OrdenesPlanificadasManugistics] @CodigoPlanta,@currentWeek,@startWeek	

	insert into dbo.PackingArticleFromJDE
	select env,sum(total) total 
	from (select Sum(WAUORG) total,subString([dbo].[GetPackingArticleFromJDE](WALITM),0,Charindex('-',[dbo].[GetPackingArticleFromJDE](WALITM))) env
		  from @aux 
		  group by WALITM) t
	where env is not null 
	group by env	
END
GO
