USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCambiosAnalisisSPI]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerCambiosAnalisisSPI]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @Inicio nvarchar(255),
	 @Fin nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	set transaction isolation level read uncommitted

--SELECT convert(varchar(100),S.AÑO) + ' Semana ' + convert(varchar(100),S.SEMANA) as Fecha
--      ,C.seriesname
--      ,CONVERT(INT,AVG(C.seriesdata)) as seriesdata
--  FROM [dbo].[OrdenesCambio] OC
--  CROSS APPLY (
--  SELECT 'Tiempo Final Llenadora' as seriesname, [MinutosFinal1] union all
--  SELECT 'Tiempo Final Paletizadora', [MinutosFinal2] union all
--  SELECT 'Tiempo Objetivo Llenadora', [MinutosObjetivo1] union all
--  SELECT 'Tiempo Objetivo Paletizadora', [MinutosObjetivo2] 
--  ) C (seriesname, seriesdata)
--  LEFT JOIN [dbo].[SEMANAS] S ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO
--  where InicioReal between  convert(datetime,@Inicio) and  convert(datetime,@Fin) and [IdLinea] =@Linea
--  GROUP BY S.AÑO, S.SEMANA,C.seriesname
--  order by C.seriesname asc, S.SEMANA asc
	
	DECLARE @ini datetime = convert(datetime,@Inicio);
	DECLARE @find datetime = convert(datetime,@Fin);

	SELECT
		CONVERT(VARCHAR(100), S.AÑO) + ' Semana ' + CONVERT(VARCHAR(100), S.SEMANA) AS Fecha
		,C.seriesname
		,ISNULL(CONVERT(INT, SUM(C.seriesdata)), 0) AS seriesdata
	FROM [dbo].[SEMANAS] S
	LEFT JOIN [dbo].[OrdenesCambio] OC ON OC.InicioReal <= S.FIN AND OC.InicioReal >= S.INICIO AND oc.IdLinea = @Linea
	CROSS APPLY (SELECT
			'Tiempo Final Llenadora' AS seriesname
			,[MinutosFinal1] UNION ALL SELECT
			'Tiempo Final Paletizadora'
			,[MinutosFinal2] UNION ALL SELECT
			'Tiempo Objetivo Llenadora'
			,[MinutosObjetivo1] UNION ALL SELECT
			'Tiempo Objetivo Paletizadora'
			,[MinutosObjetivo2]) C (seriesname, seriesdata)
	WHERE @ini <= S.FIN AND @find >= S.INICIO
	GROUP BY S.AÑO, S.SEMANA, C.seriesname
	ORDER BY C.seriesname ASC, S.AÑO ASC, S.SEMANA ASC 
--S.AÑO ASC,
END
GO
