USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_MostrarInstantaneaDeslizante]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 28-02-2020
-- Description:	Para obtener los datos de una instantanea existente
-- =============================================
CREATE PROCEDURE [dbo].[MES_MostrarInstantaneaDeslizante] 
	@idInstantanea INT,
	@vista INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.DeslizanteInstantaneas
	WHERE id = @idInstantanea;

	SELECT *
	FROM dbo.DeslizanteDatosInstantaneas
	WHERE idIns = @idInstantanea AND vista = @vista
END
GO
