USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerSemanaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerSemanaTurno]
	-- Add the parameters for the stored procedure here
	@Semana as int,
	@Anyo AS INT
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT INICIO,FIN
		FROM dbo.SEMANAS
		WHERE SEMANA = @Semana AND AÑO = @Anyo
	COMMIT TRANSACTION;
END
GO
