USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerReferenciasBBDDExterna]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ObtenerReferenciasBBDDExterna]
@BBDD AS NVARCHAR(200)
AS
SET NOCOUNT ON

create table #Temp
(
   NAME VARCHAR(250) 
)

create table #TempDependencies
(
   NAME VARCHAR(250) 
)

DECLARE @NAME varchar(250)
DECLARE @DataBase varchar(250)

SET @DataBase = @BBDD

INSERT INTO #Temp
Select 
	 SCH.TABLE_SCHEMA+'.'+SCH.TABLE_NAME
FROM sysobjects SO INNER JOIN 
  	INFORMATION_SCHEMA.TABLES SCH ON SCH.TABLE_NAME = SO.name where (type = 'P' OR type like '%F%'  OR type like '%V%')   and category = 0

DECLARE CUR CURSOR FAST_FORWARD READ_ONLY FOR SELECT NAME contract FROM #Temp


OPEN CUR
FETCH NEXT FROM CUR INTO @NAME

WHILE @@FETCH_STATUS = 0
BEGIN

DECLARE
    @sp nvarchar(100)
SET @sp = @NAME

INSERT INTO #TempDependencies
SELECT DISTINCT
    referenced_entity_name
FROM sys.dm_sql_referenced_entities(@NAME, 'OBJECT')
WHERE referenced_database_name = @DataBase

FETCH NEXT FROM CUR INTO @NAME
END

CLOSE CUR
DEALLOCATE CUR


-- Objects on which [@sp] depends
SELECT DISTINCT
    *
FROM #TempDependencies

drop table #Temp
drop table #TempDependencies



GO
