USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProductosLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerProductosLinea]
	@idLinea as varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT PL.[idLinea] as idLinea,
		  PL.[Producto] as idProducto,
		  P.IdClase AS IdTipoProducto,
		  P.Clase AS TipoProducto,
		  P.Descripcion,
		  P.UdMedida
	  FROM [ParametrosLinea] as PL
	  inner join [Productos] as P ON PL.Producto = P.IdProducto
	  where [idLinea]=@idLinea AND p.UdMedida IN  ('PL', 'MD')
	  order by idLinea asc
	
	COMMIT TRANSACTION; 
END
GO
