USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenPlanificada]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 18/02/2021
-- Description:	Obtener la primera orden planificada y arrancarla
-- =============================================

CREATE PROCEDURE [dbo].[MES_ObtenerOrdenPlanificada](@TipoOrden AS NVARCHAR(3), @SalaCoccion AS NVARCHAR(10))
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @id AS INT,
			@fechaInicio AS DATETIME,
			@fechaFin AS DATETIME,
			@cantidad AS DECIMAL

	SELECT TOP(1) 
		@id = OP.Id,
		@fechaInicio = OP.InicioPlanificado,
		@fechaFin = OP.FinPlanificado,
		@cantidad = OP.Cantidad
	FROM [MES_MSM].[dbo].[OrdenPlanificado] AS OP
	INNER JOIN [SITMesDB].[dbo].[BPM_equipment] AS ubicaciones ON ubicaciones.equip_pk = OP.Origen
	WHERE Arrancado = 0
	AND TipoOrden = @TipoOrden
	AND ubicaciones.equip_name = @SalaCoccion
	ORDER BY [Origen],[TipoOrden], [InicioPlanificado]

	SELECT 
		@fechaInicio AS inicioEstimado,
		@fechaFin AS finEstimado,
		@cantidad AS cantidad,
		@id AS OrdenId
END
GO
