USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_2_ObtenerParosTotales]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_2_ObtenerParosTotales]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
Select  ISNULL(P.MaquinaCausaNombre,'') as MaquinaCausaNombre,
--substring(P.EquipoId,charindex('-EQ-',P.EquipoId)+4,6) as MaquinaCausaNombre , 
    sum(case when P.[IdTipoParoPerdida] = 1 then 1 else 0 end) as NumeroParoMayor,
	sum(case when P.[IdTipoParoPerdida] = 1 then P.DuracionParoMayor else 0 end) as DuracionParoMayor,
	--sum(case when P.EsParoMenor = 1 then 1 else 0 end) as NumeroParoMenor,
	--sum(case when P.EsParoMenor = 1 then P.Duracion+P.DuracionBajaVelocidad else 0 end) as DuracionParoMenor,
	sum(case when P.[IdTipoParoPerdida] = 2 and DuracionParosMenores>0 then 1 else 0 end) as NumeroPerdida,
	sum(case when P.[IdTipoParoPerdida] = 2 then P.DuracionParosMenores else 0 end) as DuracionPerdida,
	sum(case when P.[IdTipoParoPerdida] = 2 and DuracionBajaVelocidad>0 then 1 else 0 end) as NumeroBajaVelocidad,
	sum(case when P.[IdTipoParoPerdida] = 2 then P.DuracionBajaVelocidad else 0 end) as DuracionBajaVelocidad
From dbo.ParosPerdidas P
	   INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	 Where L.Nombre = @Linea 
	 and @FechaInicio <= datediff(s, '1970-1-1' ,Inicio) 
	 and @FechaFin >= datediff(s, '1970-1-1' ,Inicio)
	 group by P.MaquinaCausaNombre

END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_3_ObtenerParosMaquina]    Script Date: 01/06/2016 12:12:41 ******/
SET ANSI_NULLS ON
GO
