USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_3_ObtenerTotalMinutosParadaCausa]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_3_ObtenerTotalMinutosParadaCausa]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint,
	 @Maquina nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
SELECT
[MotivoNombre], 
	   [CausaNombre], 
	   isnull(CONVERT(FLOAT,sum(P.Duracion)),0) AS Duracion
	   	   -- + isnull(sum(P.DuracionParosMenores),0)+ isnull(sum(P.DuracionBajaVelocidad),0) as DuracionPrincipal
	   From [dbo].[ParosPerdidas] P
	   INNER JOIN [dbo].[Lineas] L ON P.IdLinea = L.NumeroLinea
	   --LEFT JOIN EQUIPO_CONSTRUCTIVO EC ON P.EquipoConstructivoId = EC.IdObj
	   LEFT JOIN Maquinas M ON M.Id  = P.EquipoId
	   
	 Where L.Nombre = @Linea 
	 and @FechaInicio <= datediff(s, '1970-1-1' ,Inicio) 
	 and @FechaFin > datediff(s, '1970-1-1' ,Inicio)
	 and MaquinaCausaNombre = @Maquina
	 group by MotivoNombre, CausaNombre
	 order by Duracion desc
END


GO
