USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenPreparacionParaCreacion]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MES_ObtenerOrdenPreparacionParaCreacion]
 @IdPlantilla AS BIGINT
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	SELECT 
		[dbo].[MES_ObtenerCodigoNuevaWOPreparacion] (PP.ID_TIPO_PLANTILLA)  AS IdOrden,
		PP.ID_TIPO_PLANTILLA AS TipoOrden,
		PP.DESCRIPCION AS Descripcion,
		PP.VOLUMEN_FINAL AS VolumenInicial,
		CONVERT(REAL,0) AS VolumenReal,
		PP.NOTAS_SUPERVISOR AS NotasSupervisor,
		PP.NOTAS_OFICIAL AS NotasOficial,
		PP.ID_UBICACION AS IdUbicacion,
		PP.UNIDADES AS Unidades,
		UB.IdProducto	
	FROM COB_MSM_PLANTILLA_PREPARACION AS PP
	INNER JOIN [dbo].[COB_MSM_TIPO_ORDEN_PREP] AS TP ON TP.ID_TIPO_ORDEN = PP.ID_TIPO_PLANTILLA
	LEFT JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] AS UB ON UB.IdUbicacion = PP.ID_UBICACION
	WHERE PP.[$IDArchiveValue] = @IdPlantilla

COMMIT TRANSACTION; 
END
GO
