USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[JDE_ObtenerPlanificacionCzaEnv]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JDE_ObtenerPlanificacionCzaEnv]
	@fechaInicio DATETIME,
	@fechaFin DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--DECLARE @fechaInicio DATETIME = '2018-09-01';
	--DECLARE @fechaFin DATETIME = '2018-10-01';

	DECLARE @jde_query NVARCHAR(2000) = dbo.getJdeQuery(@fechaInicio, @fechaFin);
	DECLARE @sql NVARCHAR(2000) = '
	WITH ORDENES AS (
		SELECT 
			CONVERT(NVARCHAR(64), WALITM) AS codigoProducto,
			dbo.MES_GetProductionLine(LTRIM(RTRIM(WATRT))) AS linea,
			(SUM(WAUORG) / 100) AS cantidad
		FROM OPENQUERY(JDE, ' + dbo.quotestring(@jde_query) + ')
		GROUP BY WALITM, WATRT
	),
	ORDENES_CZA_ENV AS (
		SELECT hl.Productos AS codigoCzaEnv, o.linea, ((hl.EnvasesPorPalet * hl.HectolitrosEnvases) * o.cantidad) AS cantidadHl
		FROM ORDENES o
			INNER JOIN [INTERSPEC].[MSMIS].[dbo].[vUE_ProductoHL] hl (NOLOCK)
				ON hl.PartNo = o.codigoProducto COLLATE Latin1_General_CI_AS
	)
	SELECT o.codigoCzaEnv, o.linea, SUM(o.cantidadHl) AS cantidadHl
	FROM ORDENES_CZA_ENV o
	GROUP BY o.codigoCzaEnv, o.linea
	ORDER BY o.codigoCzaEnv, o.linea';

	EXEC sp_executesql @sql;
END
GO
