USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[InsertarOrdenesPlanificadas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Juan Carlos Gòmez Mandujano
-- Create date: 26/03/2021
-- Description:	Procedimiento que realiza varias inserciones multiples a la tabla ordenes planificadas
-- =============================================
CREATE PROCEDURE [dbo].[InsertarOrdenesPlanificadas]
	-- Add the parameters for the stored procedure here	
	@Material nvarchar(max),
	@Cantidad float,
	@Origen nvarchar(max),
	@InicioPlanificado datetime,
	@FinPlanificado datetime,
	@TipoOrden nvarchar(100),
	@cantOrdenes int
AS 

DECLARE @i int = 0

WHILE @i < @cantOrdenes
BEGIN
    SET @i = @i + 1
    
	INSERT INTO [dbo].[OrdenPlanificado]
           ([Material]
           ,[Cantidad]
           ,[Origen]
           ,[Destino]
           ,[InicioPlanificado]
           ,[FinPlanificado]
           ,[Arrancado]
           ,[TipoOrden])
     VALUES
           (@Material
           ,@Cantidad
           ,@Origen
           ,''
           ,@InicioPlanificado
           ,@FinPlanificado
           ,0
           ,@TipoOrden)
END
GO
