USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[API_CalcularFormula]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		IDOM
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[API_CalcularFormula] (@Id_KOP as nvarchar(200), @Id_ORDEN as nvarchar(200))
AS
BEGIN
	SET NOCOUNT ON;


	DECLARE @Result VARCHAR(200),
			@Formula VARCHAR(2000)='',
			@VariableKOP VARCHAR(255)
	DECLARE @tabla TABLE(resultado VARCHAR(255))
	SET @Formula = (SELECT TOP(1) calculo.Formula FROM [MES_MSM].[dbo].[FormulaCalculosKOP] as calculo   --cambiar el nombre configuarionTipoCalculo a FormulaKOPCalculado, cambiar el IDCalculo por IdFormula 
					INNER JOIN [MES_MSM].[dbo].[ConfiguracionCalculoKOP] as variables on variables.IdFormula = calculo.IdFormula
					WHERE variables.KOP = @Id_KOP)

	
	IF(@Formula != '')
	BEGIN

		DECLARE MY_CURSOR CURSOR 
		  LOCAL STATIC READ_ONLY FORWARD_ONLY
		FOR 
		SELECT VariableKOP FROM [MES_MSM].[dbo].[ConfiguracionCalculoKOP] --Resumir los nombres, IDCalculo a IdFormula
		WHERE KOP = @Id_KOP
		---aqui solo se calcularan las formulas de fecha
		IF(@Formula LIKE 'DATEDIFF%')
		BEGIN
			--Recorremos cada uno de los KOP para la formula
			OPEN MY_CURSOR
			FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
			WHILE @@FETCH_STATUS = 0
			BEGIN 
				DECLARE @ValorFecha varchar(2000) =	 (SELECT TOP(1)
													Valor_actual
												 FROM 
													[MES_MSM].[dbo].[KOPS_fab] 
												 WHERE ID_orden = @Id_ORDEN
												 and ID_KOP = @VariableKOP)
				DECLARE	@VariableFecha Varchar(10) = (SELECT TOP(1)
													VariableFormula
												FROM
													[MES_MSM].[dbo].[ConfiguracionCalculoKOP]
												WHERE
													KOP = @Id_KOP
													AND VariableKOP = @VariableKOP)

					IF(LEN(ISNULL(@ValorFecha,'')) = 0 OR @Formula IS NULL)
					BEGIN
						SET @Formula = NUll
					END
					ELSE
					BEGIN
						SET @Formula =  replace(@Formula, @VariableFecha, 'CONVERT(VARCHAR(24), CONVERT(DATETIME,''' + @ValorFecha + ''', 103), 121)')
					END
				FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
			END
			CLOSE MY_CURSOR
			DEALLOCATE MY_CURSOR

			IF(@Formula IS NULL)
			BEGIN
				INSERT INTO @tabla VALUES (NULL)
			END
			ELSE
			BEGIN
				SET @Formula = 'DECLARE @Segundos int = 0   
					SET @Segundos = '+ @Formula +' 
					SELECT CONVERT(char(8), DATEADD(ss, @Segundos, 0), 114)'
					
				INSERT INTO @tabla
					EXEC(@formula)
				
			END
			IF(CHARINDEX(':', (SELECT TOP(1) resultado FROM @tabla)) > 0)
					BEGIN
						DECLARE @FormatHora as NVARCHAR(11)= (SELECT TOP(1) resultado FROM @tabla)
						SET @FormatHora = CAST(SUBSTRING(@FormatHora,0,3) as VARCHAR(2)) + 'h' +  SUBSTRING(@FormatHora,3,8)
						SET @FormatHora = SUBSTRING(@FormatHora,0,4) + CAST(SUBSTRING(@FormatHora,4,3) as VARCHAR(3)) + 'm' +  SUBSTRING(@FormatHora,7,3)
						SET @FormatHora = SUBSTRING(@FormatHora,0,4) + SUBSTRING(@FormatHora,4,4) + CAST(SUBSTRING(@FormatHora,8,3) as VARCHAR(3)) + 's'
						DELETE FROM @tabla
						INSERT INTO @tabla VALUES (@FormatHora)
					END
		--SELECT resultado, @Id_KOP FROM @tabla 
		SET @Result =CAST(NULLIF((SELECT TOP(1) resultado FROM @tabla),'') AS NVARCHAR)
		IF (@Result IS NULL)
		BEGIN
			SET @Result = ''
		END
		--SELECT @Result
		UPDATE SITmesDB.dbo.POMV_ETRY_PCS_PARM
		SET value = @Result,  
			RowUpdated = GETDATE()
		WHERE
		pom_order_id = @Id_ORDEN
		AND name = @Id_KOP

		DECLARE @Rows AS INT = 0;
		SET @Rows = (SELECT  COUNT(*) FROM  [SITmesDB].[dbo].[POMT_PCS_PARM_ACTL_VAl] as PROCESS_SEGMENT
			INNER JOIN 
			SITmesDB.dbo.POMV_ETRY_PCS_PARM AS vENTRY_PROCESS ON vENTRY_PROCESS.pom_process_segment_parameter_pk = PROCESS_SEGMENT.PARM_PK
		WHERE 
			vENTRY_PROCESS.pom_order_id = @Id_ORDEN
			AND vENTRY_PROCESS.name	= @Id_KOP)
		
		IF(@Rows = 0)
		BEGIN
			INSERT INTO SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL (PARM_PK, ACTL_VAL, TS, TS_BS, RowUpdated)
			VALUES ((select pom_process_segment_parameter_pk FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM 
			WHERE 
				pom_order_id = @Id_ORDEN
				AND name = @Id_KOP), @Result, GETDATE(), (SELECT TOP(1) TS_BS FROM SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL ORDER BY TS DESC), GETDATE());
		END

		---ACTUALIZA UNO A UNO CADA VALOR EN LAS DISTINTAS TABLAS.
		UPDATE PROCESS_SEGMENT 
			SET PROCESS_SEGMENT.ACTL_VAL = vENTRY_PROCESS.value
		FROM 
			SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL AS PROCESS_SEGMENT
			INNER JOIN 
			SITmesDB.dbo.POMV_ETRY_PCS_PARM AS vENTRY_PROCESS ON vENTRY_PROCESS.pom_process_segment_parameter_pk = PROCESS_SEGMENT.PARM_PK
		WHERE 
			vENTRY_PROCESS.pom_order_id = @Id_ORDEN
			AND vENTRY_PROCESS.name		= @Id_KOP

		END
		ELSE
		BEGIN
			OPEN MY_CURSOR
			FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
			WHILE @@FETCH_STATUS = 0
			BEGIN 
				DECLARE @Valor varchar(2000) =	 (SELECT TOP(1)
													IIF(Valor_actual IS NULL OR Valor_actual = '', '0',REPLACE(Valor_actual,',','.')) --- devolver el valor formateado con las comas en ves de los puntos
												 FROM 
													[MES_MSM].[dbo].[KOPS_fab] 
												 WHERE ID_orden = @Id_ORDEN
												 and ID_KOP = @VariableKOP)
				DECLARE	@Variable Varchar(10) = (SELECT TOP(1)
													VariableFormula
												FROM
													[MES_MSM].[dbo].[ConfiguracionCalculoKOP]
												WHERE
													KOP = @Id_KOP
													AND VariableKOP = @VariableKOP)
					IF(LEN(ISNULL(@Valor,'')) = 0)
					BEGIN
						SET @Valor = 0
					END
										 
					IF(CHARINDEX(':', @Valor) > 0)
					BEGIN
						SET @Formula =  replace(@Formula, @Variable, 'CONVERT(VARCHAR(24), CONVERT(DATETIME,''' + @Valor + ''', 103), 121)')
					END
					ELSE
					BEGIN 
						SET @Formula =  REPLACE(@Formula, @Variable, @Valor)
					END
					
					
				FETCH NEXT FROM MY_CURSOR INTO @VariableKOP
			END
			CLOSE MY_CURSOR
			DEALLOCATE MY_CURSOR
			
			INSERT INTO @tabla EXEC('SELECT CAST(' + @Formula + 'AS VARCHAR(255))') 

		SET @Result = CAST(NULLIF((SELECT TOP(1) resultado FROM @tabla),'') AS NVARCHAR)
		UPDATE SITmesDB.dbo.POMV_ETRY_PCS_PARM
		SET value = @Result,    
			RowUpdated = GETDATE()
		WHERE
		pom_order_id = @Id_ORDEN
		AND name = @Id_KOP

		DECLARE @ValFecha TABLE(PARM_PK INTEGER, valor Nvarchar)
		DECLARE @Row AS INT = 0;
		SET @Row = (SELECT  COUNT(*) FROM  [SITmesDB].[dbo].[POMT_PCS_PARM_ACTL_VAl] as PROCESS_SEGMENT
			INNER JOIN 
			SITmesDB.dbo.POMV_ETRY_PCS_PARM AS vENTRY_PROCESS ON vENTRY_PROCESS.pom_process_segment_parameter_pk = PROCESS_SEGMENT.PARM_PK
		WHERE 
			vENTRY_PROCESS.pom_order_id = @Id_ORDEN
			AND vENTRY_PROCESS.name	= @Id_KOP)
		
		IF(@Row = 0)
		BEGIN
			INSERT INTO SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL (PARM_PK, ACTL_VAL, TS, TS_BS, RowUpdated)
			VALUES ((select pom_process_segment_parameter_pk FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM 
			WHERE 
				pom_order_id = @Id_ORDEN
				AND name = @Id_KOP), @Result, GETDATE(), (SELECT TOP(1) TS_BS FROM SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL ORDER BY TS DESC), GETDATE());
		END

		UPDATE PROCESS_SEGMENT 
			SET PROCESS_SEGMENT.ACTL_VAL = vENTRY_PROCESS.value
		FROM 
			SITmesDB.DBO.POMT_PCS_PARM_ACTL_VAL AS PROCESS_SEGMENT
			INNER JOIN 
			SITmesDB.dbo.POMV_ETRY_PCS_PARM AS vENTRY_PROCESS ON vENTRY_PROCESS.pom_process_segment_parameter_pk = PROCESS_SEGMENT.PARM_PK
		WHERE 
			vENTRY_PROCESS.pom_order_id = @Id_ORDEN
			AND vENTRY_PROCESS.name		= @Id_KOP


		END
	END
	ELSE
	BEGIN
		SELECT 'Formula No Encontrada Para El KOP:' + @Id_KOP AS resultado 
	END
END


	
GO
