USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnosLineaSemana]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 01-07-2020
-- Description:	Se obtienen los turnos con su duración de una línea en una semana
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnosLineaSemana]
	@linea nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @hoySinHora date = GETDATE(),
	@fechaInicio datetime,
	@fechaFin datetime = GETDATE(),
	@inicio time
  
	SET @fechaInicio = DATEADD(dd, 0 - (@@DATEFIRST + 5 + DATEPART(dw, @hoySinHora)) % 7, @hoySinHora)

	SELECT TOP 1 @inicio = CAST(work_start AS time)
	FROM SITMesDB.dbo.SHCV_WORK_SCHED_DAY 
	WHERE work_date >= @fechaInicio AND work_date <= @fechaFin AND shc_working_time_id > 0
	ORDER BY work_start

	SET @fechaInicio = @fechaInicio + CAST(@inicio AS datetime)

	DECLARE @ID_CLASE_PALETIZADORA AS int;

	SELECT DISTINCT @ID_CLASE_PALETIZADORA = IdClase
	FROM Maquinas 
	WHERE Clase = 'PALETIZADORA'

    -- Tabla temporal donde se va a guardar el resultado
	DECLARE @resultado TABLE (PaletsTurno int, EnvasesTurno int, OEETurno real)

	INSERT INTO @resultado
	SELECT 
		COALESCE(SUM(R.CONTADOR_PRODUCCION), 0),
		(SELECT COALESCE(SUM(L.CONTADOR_PRODUCCION), 0) 
			FROM COB_MSM_PROD_LLENADORA_HORA L 
			WHERE ID_MAQUINA LIKE '%' + @linea + '%' AND L.FECHA_INICIO >= @fechaInicio AND L.FECHA_FIN <= @fechaFin AND L.SHC_WORK_SCHED_DAY_PK > 0),
		(SELECT COALESCE((SUM(L.CONTADOR_PRODUCCION) / SUM(L.VELOCIDAD_NOMINAL)), 0) * 100
			FROM COB_MSM_PROD_LLENADORA_HORA L 
			WHERE ID_MAQUINA LIKE '%' + @linea + '%' AND L.FECHA_INICIO >= @fechaInicio AND L.FECHA_FIN <= @fechaFin AND L.SHC_WORK_SCHED_DAY_PK > 0)	
	FROM COB_MSM_PROD_RESTO_MAQ_HORA R
	LEFT JOIN MaquinasLineas AS ML ON ML.Id = R.ID_MAQUINA 
	WHERE R.ID_MAQUINA LIKE '%' + @linea + '%' AND R.FECHA_INICIO >= @fechaInicio AND R.FECHA_FIN <= @fechaFin AND R.SHC_WORK_SCHED_DAY_PK > 0 AND ML.IdClase = @ID_CLASE_PALETIZADORA

	--select * from @resultado

	UPDATE TotalesSemanaCuadroMando
	SET 
		PaletsTurno = R.PaletsTurno,
		EnvasesTurno = R.EnvasesTurno,
		OEETurno = R.OEETurno
	FROM (SELECT PaletsTurno, EnvasesTurno, OEETurno
		  FROM @resultado) AS R
	WHERE TotalesSemanaCuadroMando.Linea = @linea
END
GO
