USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerProduccionTurnosConsolidada]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_5_ObtenerProduccionTurnosConsolidada]
	-- Add the parameters for the stored procedure here
	@linea as nvarchar(100),
	@fIni as nvarchar(100),
	@fFin as nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

	set transaction isolation level read uncommitted

	DECLARE @ini datetime = convert(datetime,@fIni,103);
	DECLARE @find datetime = convert(datetime,@fFin,103);

	SELECT 
		CONVERT(VARCHAR(100), PP.anio) + ' Semana ' + CONVERT(VARCHAR(100), PP.semana) AS Fecha
		,FORMAT(CONVERT(FLOAT, AVG(OEE) * AVG(CALIDAD)), 'N2') AS OEE
		,FORMAT(CONVERT(FLOAT,AVG(CALIDAD)), 'N2') AS CALIDAD
		,FORMAT(CONVERT(FLOAT, AVG(Disponibilidad)), 'N2') AS Disponibilidad
		,FORMAT(CONVERT(FLOAT, AVG(Eficiencia)), 'N2') AS Eficiencia
		,FORMAT(CONVERT(FLOAT, AVG(RENDIMIENTO)), 'N2') AS RENDIMIENTO
	FROM
	(
		SELECT 
			CT.anio,  CT.semana
			--PCV2 ,isnull(((sum([TIEMPO_OPERATIVO])/sum([TIEMPO_PLANIFICADO])) * (sum([TIEMPO_NETO])/sum([TIEMPO_OPERATIVO])) * 1.0)*100.0,0)AS OEE	
			,isnull(((sum([CONTADOR_PRODUCCION])/NULLIF(sum([VELOCIDAD_NOMINAL]),0)) * isnull(AVG(CT.CALIDAD),0))*100.0,0)AS OEE		
			,isnull(sum([TIEMPO_OPERATIVO])/NULLIF(sum([TIEMPO_PLANIFICADO]),0),0)*100.0 AS Disponibilidad
			,isnull(sum([TIEMPO_NETO])/NULLIF(sum([TIEMPO_OPERATIVO]),0),0)*100.0 AS Eficiencia
			,isnull(AVG(CT.CALIDAD),0) AS CALIDAD 
			,isnull(((sum([CONTADOR_PRODUCCION])/NULLIF(sum([VELOCIDAD_NOMINAL]),0)))*100.0,0)AS RENDIMIENTO	
		FROM
		(
			SELECT
				S.AÑO AS anio, S.SEMANA as semana
				,CT.FECHA AS FechaTurno,
				CT.IDTIPOTURNO	
				,sum([CONTADOR_PRODUCCION]) AS CONTADOR_PRODUCCION
				,sum([VELOCIDAD_NOMINAL])AS VELOCIDAD_NOMINAL
				,sum([TIEMPO_OPERATIVO]) AS TIEMPO_OPERATIVO
				,sum([TIEMPO_PLANIFICADO]) AS TIEMPO_PLANIFICADO
				,sum([TIEMPO_NETO]) AS TIEMPO_NETO
				,isnull(CT.IC,0) AS CALIDAD 
			FROM [dbo].[SEMANAS] S
			LEFT JOIN Turnos as Turno ON Turno.InicioTurno >= S.INICIO AND Turno.FinTurno <= S.FIN and Turno.Linea = @linea
			LEFT JOIN COB_MSM_PROD_LLENADORA_HORA AS PTC ON PTC.SHC_WORK_SCHED_DAY_PK = Turno.Id
			LEFT JOIN COB_MSM_CONSOLIDADO_TURNO AS CT ON CT.FECHA_INICIO >= S.INICIO AND CT.FECHA_FIN <= S.FIN and CT.LINEA = @linea
			WHERE @ini <= S.FIN AND @find >= S.INICIO --AND pct.LINEA = @linea
			GROUP BY	S.AÑO
						,S.SEMANA
						,CT.FECHA,CT.IDTIPOTURNO,CT.IC
			--order by CT.FECHA,CT.IDTIPOTURNO 
		) AS CT
		GROUP BY CT.anio, CT.semana	
	) AS PP
	GROUP BY PP.anio, PP.semana
	ORDER BY PP.anio, PP.semana
END
GO
