USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConsolidadoTurnoLlenadoraPorOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConsolidadoTurnoLlenadoraPorOrden]
	-- Add the parameters for the stored procedure here
	@idTurno as int

AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		DECLARE @ICT FLOAT;

		SELECT @ICT = IC
		FROM dbo.ConsolidadoTurnos
		WHERE SHC_WORK_SCHED_DAY_PK = @idTurno

		SELECT
			ID_MAQUINA, 
			SUM(TotalEnvases) AS TotalEnvases,
			SUM(TotalCajas) AS TotalCajas,
			SUM(TotalPalets) AS TotalPalets,
			SUM(HL) AS HL,
			SUM(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO
			,SUM(TIEMPO_PLANIFICADO) AS TIEMPO_PLANIFICADO
			,SUM(TIEMPO_NETO) AS TIEMPO_NETO
			,SUM(TIEMPO_BRUTO) AS TIEMPO_BRUTO
			,SUM(CONTADOR_RECHAZOS) AS CONTADOR_RECHAZOS
			,SUM([VELOCIDAD_NOMINAL]) AS VELOCIDAD_NOMINAL
			,COALESCE(@ICT,1) AS ICT
		FROM
		(SELECT ID_ORDEN, 
			ID_MAQUINA, 
			o.IdProducto,
			COALESCE(SUM(CONTADOR_PRODUCCION),0) AS TotalEnvases,
			CONVERT(real,ISNULL(o.CajasPorPalet*COALESCE(SUM(CONTADOR_PRODUCCION),0)/NULLIF(o.EnvasesPorPalet,0),0)) AS TotalCajas,
		
			CONVERT(real,ISNULL(  COALESCE(SUM(CONTADOR_PRODUCCION)/NULLIF(o.EnvasesPorPalet,0),0),0)) AS TotalPalets,
		
			CONVERT(real,ISNULL(o.HectolitrosProducto * COALESCE(SUM(CONTADOR_PRODUCCION),0),0)) as HL,
			COALESCE(SUM([TIEMPO_OPERATIVO]),0) AS TIEMPO_OPERATIVO
			,COALESCE(SUM([TIEMPO_PLANIFICADO]),0) AS TIEMPO_PLANIFICADO
			,COALESCE(SUM([TIEMPO_NETO]),0) AS TIEMPO_NETO
			,COALESCE(SUM([TIEMPO_BRUTO]),0) AS TIEMPO_BRUTO
			,COALESCE(SUM([CONTADOR_RECHAZOS]),0) AS CONTADOR_RECHAZOS
			,COALESCE(SUM([VELOCIDAD_NOMINAL]),0) AS VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA h
		INNER JOIN Turnos t on t.Id = h.SHC_WORK_SCHED_DAY_PK
		LEFT JOIN Ordenes o ON o.Id = h.ID_ORDEN
		WHERE t.Id = @idTurno
		GROUP BY ID_ORDEN, ID_MAQUINA, o.IdProducto, o.HectolitrosProducto, o.CajasPorPalet,o.EnvasesPorPalet) AS ConsolidadoLLenadoraHL
		GROUP BY ID_MAQUINA
	COMMIT TRANSACTION;
END
GO
