USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizaKOPProceso]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ActualizaKOPProceso] 
	@valor varchar(100),
	@min varchar(100),
	@max varchar(100),
	@idValor int,
	@fecha varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   UPDATE [SITMesDb].[dbo].[PDefM_PS_ParamValues]
   SET ParamValues_Value= @valor, ParamValues_MinVal=@min, ParamValues_MaxVal=@max, RowUpdated=Convert(datetime,@fecha,121)
   where ParamValues_Num = @idValor

   END
GO
