USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CalculoTiempoCambioPreactor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_CalculoTiempoCambioPreactor]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		-- Insert statements for procedure here
		DECLARE @numLinea SMALLINT;
		DECLARE @IdProductoEntrante NVARCHAR(100);
		DECLARE @IdProductoSaliente NVARCHAR(100);
		DECLARE @TiempoPreactor INT;

		DECLARE cOrdenesCambio CURSOR FOR
		SELECT DISTINCT Linea, IDProductoEntrante, IDProductoSaliente
		FROM OrdenesCambio
		WHERE OrdenesCambio.EstadoAct IN ('Cerrada')

		OPEN cOrdenesCambio

		FETCH cOrdenesCambio INTO @numLinea, @idProductoEntrante, @IdProductoSaliente

		WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			--PRINT 'Linea: ' + CONVERT(nvarchar(2),@numLinea);
			--PRINT 'Cod_producto_E: ' + CONVERT(nvarchar(100),@idProductoEntrante);
			--PRINT 'Cod_producto_S ' + CONVERT(nvarchar(50),@IdProductoSaliente);
		
			IF(@numLinea IS NOT NULL AND @idProductoEntrante IS NOT NULL AND @IdProductoSaliente IS NOT NULL)
			BEGIN
				SELECT @TiempoPreactor = [dbo].[MES_GetTiempoCambioMedioPreactor] (@numLinea, @idProductoEntrante, @idProductoSaliente)

  				--PRINT 'TiempoPreactor: ' + CONVERT(NVARCHAR(100), @TiempoPreactor )
				--Actualización: Alexis Anselmi 2019-27-11
				--Descripción: Se cambia la validación del TiempoPreactor para que sea siempre mayor a cero.
				IF (@TiempoPreactor > 0)
				-- Fin Actualización 2019-27-11
				BEGIN
					UPDATE [dbo].[COB_MSM_TIEMPOS_CAMBIOS]
					SET [TIEMPO_PREACTOR] = @TiempoPreactor
					WHERE FK_LINEAS_ID = @numLinea AND ID_PRODUCTO_ENTRANTE = @idProductoEntrante AND ID_PRODUCTO_SALIENTE = @idProductoSaliente
				END
				--PRINT '----------'
			END
			-- Lectura de la siguiente fila del cursor
			FETCH cOrdenesCambio INTO @numLinea, @idProductoEntrante, @IdProductoSaliente

		END

		CLOSE cOrdenesCambio

		DEALLOCATE cOrdenesCambio
	COMMIT TRANSACTION; 
END
GO
