USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerGuardarMovimientosVacioJDE]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 06-10-2020
-- Description:	Se obtienen los movimientos de vacio de JDE y se guardan en la tabla MovimientosVacio
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerGuardarMovimientosVacioJDE]
	@codigoPlanta nvarchar(4)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @fecha datetime = (SELECT DATEADD(MONTH, -1, GETDATE()))
	DECLARE @diaJuliano nvarchar(6) = (SELECT dbo.GregorianoToJuliano(@fecha))

	DECLARE @consulta VARCHAR(8000)
	DECLARE @resultadoJDE TABLE (IdMovimiento nvarchar(50), FechaMovimiento int, IdCaja nvarchar(64), 
							     IdOrden nvarchar(50), LineaOrden int, CantidadMovimiento int, Tiempo nvarchar(6))

	DECLARE @resultado TABLE (IdFila bigint, IdMovimiento nvarchar(50), FechaMovimiento int, IdCaja nvarchar(64), 
							  IdOrden nvarchar(50), LineaOrden int, CantidadMovimiento int, Tiempo nvarchar(6))

	-- Consulta General
	-- Algunos de los movimientos NF que capturamos los domingos o lunes vienen con fecha del viernes
	-- Como el ajuste de stock de JDE lo hacemos los domingos a las 00, al recalcular no los tiene en cuenta
	SET @consulta = 'SELECT * FROM OPENQUERY(JDE,
	''
		SELECT A.ILDCT, A.ILTRDJ, A.ILLITM, A.ILDOC, A.ILLNID, A.ILTRQT, A.ILTDAY

		FROM PRODDTA.F4111 AS A
		WHERE TRIM(A.ILMCU) = ''''' + @codigoPlanta + '''''
		AND A.ILTRDJ >= ''''' + @diaJuliano + '''''
		AND A.ILDCT IN (''''DU'''',''''IA'''',''''IT'''',''''M7'''', ''''MO'''', ''''NF'''', ''''SO'''', ''''SU'''', ''''UD'''', ''''UJ'''', ''''X0'''', ''''X9'''', ''''Y0'''', ''''YO'''')
		AND (A.ILTRUM = ''''CJ'''' OR A.ILTRUM = ''''BR'''')

		ORDER BY A.ILTRDJ, A.ILTDAY
	'')'
	
	INSERT INTO @resultadoJDE
	EXEC (@consulta)

	INSERT INTO @resultado
	SELECT DISTINCT DENSE_RANK() OVER (ORDER BY R.FechaMovimiento, R.Tiempo) IdFila, R.* 
	FROM ProductosCajas P
	LEFT JOIN @resultadoJDE R ON P.IdCaja = R.IdCaja
	WHERE R.idcaja IS NOT NULL

	DECLARE @contFilas int, @filas int, @idFila bigint, @idOrden nvarchar(50), @lineaOrden int, 
		@fechaMov datetime, @tiempoCadena nvarchar(6), @tiempo datetime

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @resultado)
	SET @idFila = (SELECT MIN(IdFila) FROM @resultado)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@idOrden = IdOrden,
			@lineaOrden = LineaOrden
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.MovimientosVacio WHERE IdOrden = @idOrden AND LineaOrden = @lineaOrden)
		BEGIN
			SELECT 
				@fechaMov = dbo.JulianoToGregorianoDatetime(FechaMovimiento),
				@tiempoCadena = CASE WHEN LEN(Tiempo) = 6 THEN Tiempo 
									 WHEN LEN(Tiempo) = 5 THEN '0' + Tiempo 
									 WHEN LEN(Tiempo) = 4 THEN '00' + Tiempo 
									 ELSE '000' + Tiempo END
			FROM @resultado WHERE IdFila = @idFila

			SELECT
				@tiempo = LEFT(@tiempoCadena, LEN(@tiempoCadena) - 4) + ':' + SUBSTRING(@tiempoCadena, 3, 2) + ':' + RIGHT(@tiempoCadena, 2)
			FROM @resultado WHERE IdFila = @idFila

			INSERT INTO dbo.MovimientosVacio
			SELECT  
				IdMovimiento,
				(@fechaMov + @tiempo) AS FechaMovimiento,
				IdCaja, 
				IdOrden, 
				LineaOrden,
				0,
				(CantidadMovimiento / 100) AS CantidadMovimiento,
				0
			FROM @resultado WHERE IdFila = @idFila
		END
				
		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
