USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosMaestros]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================
-- Author:		Andrés
-- Create date: 29/07/2015
-- Description:	Obtiene los materiales de una planta
-- ==================================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosMaestros]
AS
BEGIN
SELECT
	IdMaterial
   ,Nombre
   ,Descripcion
   ,Materiales.IdClase AS IdClase
   ,Materiales.Clase AS Clase
   ,Version
   ,Status
   ,UdMedida
   ,F_EfectivoDesde
   ,F_EfectivoHasta
   ,EnUso
   ,Autor
   ,FechaCreacion
   ,FechaUltCreacion
   ,ModificadoPor
   ,InfoAdicional
   ,Tipo
   ,DescTipo
   ,IdLote
   ,Gama
   ,Marca
   ,TipoEnvase
   ,FormatoComunCodigo.PValue AS CodigoFormatoComun
   ,FormatoComunDescripcion.PValue AS DescripcionFormatoComun
FROM Materiales
LEFT OUTER JOIN (SELECT
		DefVerPK
	   ,PValue
	FROM SITMesDB.dbo.MMvDefVerPrpVals
	WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunCodigo
	ON FormatoComunCodigo.DefVerPK = Materiales.DefVerPK
LEFT OUTER JOIN (SELECT
		DefVerPK
	   ,PValue
	FROM SITMesDB.dbo.MMvDefVerPrpVals
	WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunDescripcion
	ON FormatoComunDescripcion.DefVerPK = Materiales.DefVerPK
WHERE Materiales.Tipo IN ('02','03')
SET NOCOUNT ON;

END
GO
