USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_RecalcularPrevisionStock]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 17-05-2021
-- Description:	Se ejecuta el job PrevisionStockVacio para recalcular los datos de previsión de stock
-- =============================================
CREATE PROCEDURE [dbo].[MES_RecalcularPrevisionStock]
AS
BEGIN
	SET NOCOUNT ON;

	EXEC dbo.MES_ObtenerPrevisionConsumoWO
	EXEC dbo.MES_ObtenerPrevisionEntradaConcesionario
	EXEC dbo.MES_ObtenerPrevisionTransferenciaSalida
	EXEC dbo.MES_ObtenerPrevisionTransferenciaEntrada
	EXEC dbo.MES_ObtenerPrevisionEstimadaEntradaConcesionario
	EXEC dbo.MES_GuardarUltimoStock
	EXEC dbo.MES_ObtenerPrevisionStock

END
GO
