USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMaestroCurvaPorOrden_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis Anselmi
-- ALTER date: 2020-04-14
-- Description:	Se extrae el codigo de la web a procedimiento almacenado
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerMaestroCurvaPorOrden_FAB]
	-- Add the parameters for the stored procedure here
	@OrderId varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT DISTINCT
	KOP_VAL.KopID AS PK,
	KOP_DEF.[Name] AS Name,
	KOP_DEF.Proccess AS Proccess,
	IIF(KOP_DEF.KopType = 0, 'Manual' , 'Automático') AS Type,
	KOP_DEF.OrderID AS OrderId,
	KOP_DEF.DataType AS DataType,
	[dbo].MES_ValidarKOPSMultivalorPorOrdenIdKOPSinRellenar(KOP_VAL.OrderID,KOP_VAL.KopID) AS KopsMultivalorSinRellenar,
	[dbo].[MES_ValidarKOPSMultivalorPorOrdenIdKOPFueraDeRango](KOP_VAL.OrderID,KOP_VAL.KopID)AS KopsMultivalorFueraRango
 FROM
	dbo.[COB_MSM_CURVAS_KOP_VAL] KOP_VAL
	INNER JOIN  dbo.[COB_MSM_CURVAS_KOP_DEF] KOP_DEF ON KOP_VAL.OrderID = KOP_DEF.OrderID
	INNER JOIN  dbo.[COB_MSM_CURVAS_KOP_CFG] KOP_CFG ON KOP_CFG.OrderID = KOP_DEF.OrderID  
WHERE 
	KOP_DEF.KopID		= KOP_CFG.KopID
	AND KOP_VAL.[Index] = KOP_CFG.[Index]
	AND KOP_VAL.KopID	= KOP_CFG.KopID
	AND KOP_VAL.OrderID = @OrderId
END
GO
