USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerFuncionesMenu]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[APP_ObtenerFuncionesMenu]
	-- Add the parameters for the stored procedure here
	@idMenu int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT [ID_FUNCION]
      ,[CODIGO]
      ,[DESCRIPCION]
  FROM [dbo].[FUNCIONES]
  where [ID_FUNCION] in (SELECT [ID_FUNCION]
							  FROM [dbo].[FUNCIONES_MENUS]
							  where ID_MENU in (select id_menu from dbo.MENUS where Id_MENU=@idMenu or ID_MENU_PADRE=@idMenu ))


	
END

GO
