USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionTurnoMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sergio V.
-- Create date: 22/09/2017
-- Description:
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionTurnoMaquina]
	@maquinaID nvarchar(100),
	@fechaTurno DATE,
	@tipoTurno int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	declare @clase nvarchar(50)
	declare @numLinea int 
	--obtenemos horas de inicios turnos
	declare @iniM as integer
	declare @iniT as integer
	declare @iniN as integer

	select @iniM =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 1;
	select @iniT =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 2;
	select @iniN =  datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 3;

	select @clase = CLASE, @numLinea = NumLinea  from MaquinasLineas where Id = @maquinaID
	IF (@clase = 'LLENADORA') BEGIN

		SELECT concat('$', [$IdArchObj] ,'#',[$IDArchiveValue]) PK,  @numLinea NUM_LINEA, @clase as CLASE, prod.IdProducto AS ID_PRODUCTO,  prod.Descripcion as DESCRIP_PROD, FECHA_INICIO,  FECHA_FIN, HORA, datediff(SECOND,FECHA_INICIO, FECHA_FIN)/3600.0 DURACION, ID_ORDEN, ID_PARTICION, SHC_WORK_SCHED_DAY_PK, CONTADOR_PRODUCCION, CONTADOR_PRODUCCION_AUTO, CONTADOR_RECHAZOS, CONTADOR_RECHAZOS_AUTO, TIEMPO_PLANIFICADO, VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA LEFT JOIN dbo.ordenes AS ORD ON ID_ORDEN = ORD.Id LEFT JOIN dbo.productos as PROD on ord.IdProducto = PROD.IdProducto 
		WHERE 
			ID_MAQUINA = @maquinaID
		and dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) = @fechaTurno
		AND dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) = @tipoTurno
		order by FECHA_INICIO asc
		
	end else begin
		
		SELECT  concat('$', [$IdArchObj] ,'#',[$IDArchiveValue]) PK, @numLinea NUM_LINEA, @clase as CLASE, prod.IdProducto AS ID_PRODUCTO, prod.Descripcion as DESCRIP_PROD, FECHA_INICIO, FECHA_FIN, HORA, datediff(SECOND,FECHA_INICIO, FECHA_FIN)/3600.0 DURACION, ID_ORDEN, ID_PARTICION, SHC_WORK_SCHED_DAY_PK, CONTADOR_PRODUCCION, CONTADOR_PRODUCCION_AUTO, CONTADOR_RECHAZOS, CONTADOR_RECHAZOS_AUTO,   TIEMPO_PLANIFICADO, VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA RM LEFT JOIN dbo.ordenes AS ORD ON ID_ORDEN = ORD.Id LEFT JOIN dbo.productos as PROD on ord.IdProducto = PROD.IdProducto 
		WHERE 
			ID_MAQUINA = @maquinaID
		and dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) = @fechaTurno
		AND dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) = @tipoTurno
		order by FECHA_INICIO asc

	end 

	COMMIT TRANSACTION;
END
GO
