USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionOrdenTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionOrdenTurno]
	@numLinea int,
	@idOrden nvarchar(101)	
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	--obtenemos horas de inicios de los turnos
	declare @iniM as integer
	declare @iniT as integer
	declare @iniN as integer

	select @iniM = datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 1;
	select @iniT = datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 2;
	select @iniN = datepart(hour, dateadd(minute, -bias, inicio)) from dbo.tiposTurno where id = 3;
	
	SELECT * into #Consolidados		
	FROM (
		SELECT 
			dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) as DIA_TURNO, 
			dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) AS TIPO_TURNO, 
			ML.NumLinea, 
			PLL.ID_MAQUINA, 
			'PROD_' + CLASE AS PROD_CLASE, 		
			'RECH_' + CLASE AS RECH_CLASE, 
			PLL.FECHA_INICIO, 
			PLL.FECHA_FIN, 
			PLL.HORA, 
			PLL.ID_ORDEN, 
			PLL.ID_PARTICION, 
			PLL.SHC_WORK_SCHED_DAY_PK, 
			PLL.CONTADOR_PRODUCCION, 
			PLL.CONTADOR_RECHAZOS, 
			TIEMPO_PLANIFICADO, 
			VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA PLL 
		LEFT JOIN MaquinasLineasPlanConti AS ML ON ML.Id = PLL.ID_MAQUINA
		WHERE 
			NumLinea = @numLinea AND ID_ORDEN = @idOrden AND SHC_WORK_SCHED_DAY_PK > 0 
		---
		UNION
		--- TIEMPO PLANIFICADO Y VEL. NOMINAL LOS PONEMOS A 0 PARA QUE CALCULEN ENVASES TEORICOS
		SELECT 
			dbo.getDiaTurnoBydateV2(FECHA_INICIO,@iniM) as DIA_TURNO, 
			dbo.getTurnoByHourV2(FECHA_INICIO,@iniM, @iniT,@iniN) AS TIPO_TURNO,
			ML.NumLinea, 
			ID_MAQUINA, 
			'PROD_' + CLASE AS PROD_CLASE, 		
			'RECH_' + CLASE AS RECH_CLASE, 
			FECHA_INICIO, 
			FECHA_FIN, HORA, 
			ID_ORDEN, 
			ID_PARTICION, 
			SHC_WORK_SCHED_DAY_PK,
			CONTADOR_PRODUCCION, 
			CONTADOR_RECHAZOS, 
			0 AS TIEMPO_PLANIFICADO, 
			0 AS VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA RM 
		LEFT JOIN MaquinasLineasPlanConti AS ML ON ML.Id = RM.ID_MAQUINA
		WHERE 
			NumLinea = @numLinea AND ID_ORDEN = @idOrden AND SHC_WORK_SCHED_DAY_PK > 0 		
	) AS MAQUINAS
	--Obtenemos todos los registros de todas las maquinas y pivotamos para tener los contadores en columnas
	PIVOT(
	 SUM(CONTADOR_PRODUCCION)
	 FOR PROD_CLASE IN 
	 ([PROD_DESPALETIZADORA], [PROD_LLENADORA], [PROD_EMPAQUETADORA], [PROD_ENCAJONADORA], [PROD_PALETIZADORA], [PROD_ETIQUETADORA_PALETS]) ) AS TABLAPIVOTE --CONSEGUIMOS CONTADORES PRODUCIDOS COMO COLUMNA MAQUINA/CONTADOR
	PIVOT(
	 SUM(CONTADOR_RECHAZOS)
	 FOR RECH_CLASE IN 
	 ([RECH_CLASIFICADOR], [RECH_INSPECTOR_BOTELLAS_VACIAS], [RECH_LLENADORA], [RECH_INSPECTOR_SALIDA_LLENADORA], [RECH_INSPECTOR_BOTELLAS_LLENAS], [RECH_BASCULA]) ) AS TABLAPIVOTE2 --CONSEGUIMOS CONTADORES PRODUCIDOS COMO COLUMNA MAQUINA/RECHAZOS
	
	ORDER BY DIA_TURNO DESC

	------ QUERY PARA AGREGADOS NIVEL 2 TURNO / ORDEN----
	SELECT 
		DIA_TURNO, 
		TIPO_TURNO, 
		ID_ORDEN,
		MIN(FECHA_INICIO) AS FECHA_INICIO, 
		MAX(FECHA_FIN) AS FECHA_FIN,
		--CONTADORES PROD
		SUM([PROD_DESPALETIZADORA]) [PROD_DESPALETIZADORA], 
		SUM([PROD_LLENADORA]) [PROD_LLENADORA],
			 -- Miguel Angel Suero - 28/12/2017 inclusion de la encajonadora como empaquetadora
		SUM([PROD_ENCAJONADORA]) [PROD_ENCAJONADORA],		
			-- Fin camnbio
		SUM([PROD_EMPAQUETADORA]) [PROD_EMPAQUETADORA],
		SUM([PROD_PALETIZADORA]) [PROD_PALETIZADORA],
		SUM([PROD_ETIQUETADORA_PALETS]) [PROD_ETIQUETADORA_PALETS],
		--RECHAZOS
		SUM([RECH_CLASIFICADOR]) [RECH_CLASIFICADOR], 
		SUM([RECH_INSPECTOR_BOTELLAS_VACIAS]) [RECH_INSPECTOR_BOTELLAS_VACIAS], 
		SUM([RECH_LLENADORA]) [RECH_LLENADORA], 
		SUM([RECH_INSPECTOR_SALIDA_LLENADORA]) [RECH_INSPECTOR_SALIDA_LLENADORA], 
		SUM([RECH_INSPECTOR_BOTELLAS_LLENAS]) [RECH_INSPECTOR_BOTELLAS_LLENAS], 
		SUM([RECH_BASCULA]) [RECH_BASCULA],
		SUM(VELOCIDAD_NOMINAL) AS ENVASES_TEORICOS	
	FROM #Consolidados 
	LEFT JOIN dbo.Ordenes AS ORD ON ID_ORDEN = ORD.Id 
	GROUP BY DIA_TURNO, TIPO_TURNO, ID_ORDEN
	HAVING SUM(isnull([PROD_DESPALETIZADORA], 0) + isnull([PROD_LLENADORA], 0) + isnull([PROD_EMPAQUETADORA], 0) + 
		isnull([PROD_PALETIZADORA], 0) + isnull([PROD_ETIQUETADORA_PALETS],0) + isnull([PROD_ENCAJONADORA], 0) + 
		isnull([RECH_CLASIFICADOR], 0) + isnull([RECH_INSPECTOR_BOTELLAS_VACIAS], 0) + isnull([RECH_LLENADORA], 0) + 
		isnull([RECH_INSPECTOR_SALIDA_LLENADORA], 0) + isnull([RECH_INSPECTOR_BOTELLAS_LLENAS], 0) + 
		isnull([RECH_BASCULA], 0) + isnull(VELOCIDAD_NOMINAL, 0) ) > 0

	DROP TABLE #Consolidados
	COMMIT TRANSACTION;
END
GO
