USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerAccionMejoraParosPerdidas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerAccionMejoraParosPerdidas]
	-- Add the parameters for the stored procedure here
	@idMejora as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @resultado TABLE (IdParoMayor bigint)
	INSERT INTO @resultado
	SELECT [ID_PARO_MAYOR] FROM [ACCION_MEJORA_PAROS_MAYORES] where ID_ACCION_MEJORA = @idMejora

	SELECT P.[Id]
		,[IdTipoParoPerdida]
		,[TipoParoPerdida] AS Tipo
		,[IdLinea]	 
		,[DescLinea] 
		,[Turno]
		,[FechaTurno]
		,[IdTipoTurno]
		,[NombreTipoTurno]
		,[INICIO] as Inicio
		,[FIN] as Fin
		,[EquipoId]
		,[EquipoNombre]
		,[MotivoId]
		,[MotivoNombre]
		,[CausaId]
		,[CausaNombre]
		,[Justificado]
		,[Observaciones]
		,[MaquinaCausaId]
		,[MaquinaCausaNombre]
		,[EquipoConstructivoNombre]
		,[NumeroParosMenores]
		,[DuracionParosMenores]
		,[DuracionParoMayor]
		,[DuracionBajaVelocidad]
		,P.[Descripcion]
		,[InicioLocal]
		,[FinLocal]
		,P.EquipoDescripcion
		,P.Duracion
		,P.NumeroLineaDescripcion
	FROM [ParosPerdidas] P
	WHERE P.id IN (SELECT IdParoMayor FROM @resultado)	
	ORDER BY [Inicio] DESC

	COMMIT TRANSACTION; 

END
GO
