USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerCalendarioId]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerCalendarioId] 
	-- Add the parameters for the stored procedure here
	@planta varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	
		-- Insert statements for procedure here
		SELECT [shc_holiday_cal_pk]  as id    
	  FROM [SITMesDB].[dbo].[SHC_HOLIDAY_CAL]
	  where id=@planta
	COMMIT TRANSACTION; 

END
GO
