USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerMotivo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerMotivo]
	-- Add the parameters for the stored procedure here
@IdMotivo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
select top 1 nivel1 from ReasonTree
where idnivel1=@IdMotivo
END
GO
