USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerResumenParosPerdidas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerResumenParosPerdidas]
	-- Add the parameters for the stored procedure here
	@idMaquina as nvarchar(200),
	@desde as datetime,
	@hasta as datetime
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	DECLARE @IdTipoParoMayor AS INT;
	DECLARE @IdTipoParoMenor AS INT;

	SELECT
		@IdTipoParoMenor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Pérdida de producción'

	SELECT
		@IdTipoParoMayor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Paro Mayor'


	--COB_MSM_TIPOS_PARAMETRO.PARAMETRO_ID = 4 => 'Límite de no justificación de pérdidas de producción (s)' 
	DECLARE @TIEMPO AS INT = (SELECT
			VALOR_INT
		FROM COB_MSM_PARAMETROS_LINEA_ADMIN PL
		INNER JOIN COB_MSM_TIPOS_PARAMETRO P
			ON P.PARAMETRO_ID = PL.FK_PARAMETRO_ID
		INNER JOIN LINEAS L
			ON PL.FK_LINEA_ID = L.NumeroLinea
		INNER JOIN MAQUINAS M
			ON M.LINEA = L.ID
			AND M.NOMBRE = @idMaquina
		WHERE P.PARAMETRO_ID = 4)

	--1	Paro Mayor
	--2	Pérdida de producción
	SELECT
		[ParosPerdidas].EquipoNombre
		,ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMayor) THEN 1
		END), 0) AS NumParosMayores
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMayor) THEN DATEDIFF(SECOND, INICIO, FIN)
		END), 0) AS BIGINT) AS TiempoParosMayores
		,ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor) THEN NumeroParosMenores
		END), 0) AS NumParosMenores
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor) THEN DuracionParosMenores
		END), 0) AS BIGINT) AS TiempoParosMenores
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor) THEN DuracionBajaVelocidad
		END), 0) AS BIGINT) AS TiempoBajaVelocidad
		,ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMayor AND
				Justificado = 1) THEN 1
		END), 0) AS NumParosMayoresJ
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMayor AND
				Justificado = 1) THEN DATEDIFF(SECOND, INICIO, FIN)
		END), 0) AS BIGINT) AS TiempoParosMayoresJ
		,ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor AND
				Justificado = 1) THEN NumeroParosMenores
		END), 0) AS NumParosMenoresJ
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor AND
				Justificado = 1) THEN DuracionParosMenores
		END), 0) AS BIGINT) AS TiempoParosMenoresJ
		,CAST(ISNULL(SUM(CASE
			WHEN (IdTipoParoPerdida = @IdTipoParoMenor AND
				Justificado = 1) THEN DuracionBajaVelocidad
		END), 0) AS BIGINT) AS TiempoBajaVelocidadJ
	FROM [dbo].[ParosPerdidas]
	WHERE [EquipoNombre] = @idMaquina
	AND [Inicio] >= @desde
	AND [fin] <= @hasta
	AND DuracionBajaVelocidad + DuracionParosMenores >=
														CASE
															WHEN IdTipoParoPerdida = @IdTipoParoMenor THEN @TIEMPO
															ELSE DuracionBajaVelocidad + DuracionParosMenores
														END
	GROUP BY [EquipoNombre]

COMMIT TRANSACTION; 
END
GO
