USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerHistoricoOrdenes]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ObtenerHistoricoOrdenes]	
	@fIni as datetime,
	@fFin as datetime
AS
BEGIN

	DECLARE @fechaIni datetime, @fechaFin datetime
	SET @fechaIni = @fIni
	SET @fechaFin = @fFin

	--SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	--BEGIN TRANSACTION;

	--CREATE TABLE #Particiones (
	--								IdOrden NVARCHAR(101), 
	--								Descripcion NVARCHAR(250)
	--						 )

 --   INSERT INTO #Particiones
	--SELECT  Ordenes.Id AS IdOrden,
	--	    STUFF((SELECT ', ' + Particiones.Descripcion 
	--	 		  FROM Particiones 
	--	 		  WHERE 
	--			  CONVERT(DATE,FecFinReal) BETWEEN @fIni AND @fFin 
	--			  AND
	--	 		  Particiones.IdOrdenPadre = Ordenes.Id
	--	 		  FOR XML PATH('')), 1, 1, '') Descripcion
	--FROM Ordenes  
 --   WHERE 
	-- -- Update Alexis Anselmi 2019-11-21 / Se modifica para que las ordenes canceladas tengan fecha fin real
	--	(Ordenes.EstadoAct IN ('Cerrada','Cancelada') AND (CONVERT(DATE,FecFinReal) BETWEEN @fIni AND @fFin))
	---- End Update
 --   GROUP BY Ordenes.Id, Ordenes.Descripcion

	SET NOCOUNT ON;

	SELECT DISTINCT
		Ordenes.Linea,
		Ordenes.Id,
		COALESCE(IIF(Ordenes.Descripcion IS NULL, Particiones.Descripcion,Ordenes.Descripcion),'') AS Descripcion,
		Ordenes.IdEstadoAct,
		Ordenes.EstadoAct,
		EstadoAct.color AS ColorAct,
		Ordenes.IdEstadoAnt,
		Ordenes.EstadoAnt,
		EstadoAnt.color AS ColorAnt,
		Ordenes.FecIniEstimada,
		Ordenes.FecFinEstimada,
		Ordenes.FecIniReal,
		Ordenes.FecFinReal,
		Materiales.IdMaterial AS IdProducto,
		Materiales.Descripcion AS Producto,
		Materiales.IdClase AS IdTipoProducto,
		Materiales.Clase + ' ' + CAST(Materiales.Gama AS VARCHAR) + ' ' + CAST(Materiales.Marca AS VARCHAR) AS TipoProducto,
		Materiales.UdMedida AS udMedida,
		Ordenes.CantidadPlanificada,
		Ordenes.CantidadProducida,
		Ordenes.OEE,
		Ordenes.PicosCajas,
		Ordenes.OeeCritico,
		Ordenes.OeeObjetivo,
		Ordenes.VelocidadNominal,
		Ordenes.Calidad,
		Ordenes.OEEPreactor
		--[dbo].[GetNumParticionesOrden](Ordenes.Id) as NumParticiones	
	FROM Ordenes
	LEFT JOIN EstadosOrden (NOLOCK) AS EstadoAct ON EstadoAct.Id = Ordenes.IdEstadoAct
	LEFT JOIN EstadosOrden (NOLOCK)AS EstadoAnt ON EstadoAnt.Id = Ordenes.IdEstadoAnt
	LEFT JOIN Materiales (NOLOCK) ON Materiales.IdMaterial = Ordenes.IdProducto
		AND Materiales.Tipo = '03' AND (Materiales.UdMedida = 'PL' OR Materiales.UdMedida = 'MD')
	LEFT JOIN Particiones (NOLOCK) AS Particiones ON Particiones.idOrdenPadre = Ordenes.Id 
	WHERE 
	-- Update Alexis Anselmi 2019-11-21 Las ordenes canceladas tendran fecha fin real
		(Ordenes.EstadoAct IN ('Cerrada','Cancelada') AND (CONVERT(DATE,Ordenes.FecFinReal) BETWEEN @fechaIni AND @fechaFin))
		--AND Materiales.Tipo = '03' AND (Materiales.UdMedida = 'PL' OR Materiales.UdMedida = 'MD') 
	--OR 
	--(Ordenes.EstadoAct = 'Cancelada' AND (CONVERT(DATE,FecHorAct) BETWEEN @fIni AND @fFin))
	-- End Update  Alexis Anselmi

	--COMMIT TRANSACTION; 

	--DROP TABLE #Particiones
END
GO
