USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_7_ObtenerSubReportAccionMejoraTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_7_ObtenerSubReportAccionMejoraTurno]
	-- Add the parameters for the stored procedure here
     @TurnoId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	SELECT DISTINCT
		[dbo].[ToLocalDateTime](AM.fecha_alta) as fecha_alta
		,AM.usuario
		,AM.descripcion_problema
		,AM.causa
		,AM.accion_propuesta
		,AM.fecha_finalizada
		,AM.observaciones
	FROM ParosPerdidas PP
	INNER JOIN [dbo].[ACCION_MEJORA_PAROS_MAYORES] AMP ON AMP.ID_PARO_MAYOR = PP.Id
	INNER JOIN [dbo].[ACCION_MEJORA] AM ON AMP.ID_ACCION_MEJORA = AM.ID_ACCION_MEJORA
	WHERE PP.Turno = @TurnoId AND PP.IdTipoParoPerdida = 2


--SELECT fecha_alta,usuario,descripcion_problema,causa,accion_propuesta,fecha_finalizada,observaciones
--  FROM [dbo].[ACCION_MEJORA]
--  where ID_ACCION_MEJORA = @AccionMejoraID
END
GO
