USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParametrosLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MES_ObtenerParametrosLinea]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT 
			PPR as idPPR,
			[idLinea],
			l.NumeroLinea, 
			l.Descripcion as DescripcionLinea, 
			[Producto] as idProducto,
			p.Descripcion as NombreProductoGrid,
			pl.PPR as PPR,
			pl.VelocidadNominal,
			pl.VelocidadNominalMaqLimitante,
			pl.OEEObjetivo,
			pl.OEECritico,
			pl.OEECalculado,
			pl.OEEPreactor,
			pl.InhabilitarCalculo,
			l.NumeroLineaDescripcion,
			FormatoComunCodigo.PValue AS CodigoFormatoComun,
			FormatoComunDescripcion.PValue AS DescripcionFormatoComun
		FROM [ParametrosLinea] pl 
		INNER JOIN lineas l ON pl.idLinea = l.Id
		INNER JOIN productos p ON pl.Producto = p.IdProducto
		INNER JOIN Materiales m ON p.IdProducto = m.IdMaterial
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunCodigo
			ON FormatoComunCodigo.DefVerPK = m.DefVerPK
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunDescripcion
			ON FormatoComunDescripcion.DefVerPK = m.DefVerPK
		ORDER BY idLinea ASC
	COMMIT TRANSACTION;
END
GO
