USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_CURVAS_KOP_DEF]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>



CREATE PROCEDURE [dbo].[MES_CURVAS_KOP_DEF](@orderId NVARCHAR(30) = NULL, 
									@enable NVARCHAR(1) = NULL, 
									@phase  NVARCHAR(50) = NULL, 
									@material  NVARCHAR(200) = NULL,
									@area  NVARCHAR(10) = NULL)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @condiciones NVARCHAR(MAX) ='WHERE',
			@sql  NVARCHAR(MAX) = 'SELECT * FROM [MES_MSM].[dbo].[COB_MSM_CURVAS_KOP_DEF]'

	IF(@orderId IS NOT NULL)
	BEGIN
		SET @condiciones = @condiciones + ' OrderID = ' + @orderId;
	END

	IF(@enable IS NOT NULL)
	BEGIN
		IF(@condiciones <> 'WHERE')
		BEGIN
			SET @condiciones = @condiciones + ' AND Enabled = ' + @enable;
		END
		ELSE
		BEGIN
			SET @condiciones = @condiciones + ' Enabled = ' + @enable;
		END
	END

	IF(@phase IS NOT NULL)
	BEGIN
		IF(@condiciones <> 'WHERE')
		BEGIN
			SET @condiciones = @condiciones + ' AND Phase = ''' + @phase +'''';
		END
		ELSE
		BEGIN
			SET @condiciones = @condiciones + ' Phase = ''' + @phase + '''';
		END
	END

	IF(@material IS NOT NULL)
	BEGIN
		IF(@condiciones <> 'WHERE')
		BEGIN
			SET @condiciones = @condiciones + ' AND Material = ''' + @material + '''';
		END
		ELSE
		BEGIN
			SET @condiciones = @condiciones + ' Material = ''' + @material + '''';
		END
	END

	IF(@area IS NOT NULL)
	BEGIN
		IF(@condiciones <> 'WHERE')
		BEGIN
			SET @condiciones = @condiciones + ' AND Area = ''' + @area + '''';
		END
		ELSE
		BEGIN
			SET @condiciones = @condiciones + ' Area = ''' + @area + '''';
		END
	END

	IF(@condiciones <> 'WHERE')
	BEGIN
		SET @sql = @sql + ' ' + @condiciones;
	END
	exec(@sql)
END
GO
