USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_ObtenerLogIncidenciasIntervalo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[APP_ObtenerLogIncidenciasIntervalo]	
	@startDate as datetime,
	@endDate as datetime 
AS
BEGIN

	 SELECT * FROM dbo.INCIDENCIAS
	 WHERE 
	 CONVERT(DATE,CASE WHEN [FECHA_CREACION] IS NOT NULL THEN dbo.ToLocalDateTime([FECHA_CREACION]) ELSE '' END) Between (CONVERT(DATE,@startDate)) and (CONVERT(DATE,@endDate))
	 ORDER BY ID_INCIDENCIA desc 
	 
	 SET NOCOUNT ON
END




GO
