USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerNumeroBotellas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_6_ObtenerNumeroBotellas]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @FechaInicio bigint,
	 @FechaFin bigint,
	 @OEEMin tinyint,
	 @OEEMax tinyint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @FechaInicio, '19700101')
	SET @h = DATEADD(s, @FechaFin, '19700101')

	SELECT
		Id
	INTO #Turnos
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	SELECT isnull(SUM(TB.NumeroBotellas),0) AS NumeroBotellas
FROM (
SELECT POT.CONTADOR_PRODUCCION as NumeroBotellas,
case 
when TIEMPO_OPERATIVO = 0 OR [TIEMPO_PLANIFICADO]=0 then 0
else (([TIEMPO_OPERATIVO]/[TIEMPO_PLANIFICADO]) * ([TIEMPO_NETO]/[TIEMPO_OPERATIVO]) * 1.0)*100.0
end as OEE
From COB_MSM_PROD_LLENADORA_HORA POT
INNER JOIN #Turnos T ON POT.SHC_WORK_SCHED_DAY_PK = T.Id
INNER JOIN Maquinas M ON M.Id = POT.ID_MAQUINA
INNER JOIN Lineas L ON M.Linea = L.Id
--INNER JOIN [dbo].[Ordenes] O ON POT.ID_ORDEN = O.Id
WHERE L.Id = @Linea --AND ISNULL(POT.ID_ORDEN,'') != ''--and @FechaInicio <= datediff(s, '1970-1-1' ,POT.FECHA_INICIO) and @FechaFin >= datediff(s, '1970-1-1' ,POT.FECHA_INICIO) 
) TB
where TB.OEE <= @OEEMax and TB.OEE >= @OEEMiN

DROP TABLE #Turnos

END
GO
