USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerProduccionHoras]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[Informe_ANA_4_ObtenerProduccionHoras]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
--set @linea = 'MSM.BURGOS.ENVASADO.B447'
--set @desde = convert(datetime,'2015-11-25T05:00:00',126)
--set @hasta = convert(datetime,'2015-11-25T13:00:00',126)

DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)
	
	DECLARE @d datetime
	DECLARE @h datetime
	DECLARE @turno int

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = DATEADD(s, @hasta, '19700101')


	SELECT  @turno = Id
		FROM Turnos
		where [Linea]=@Linea and  InicioTurno BETWEEN @d and @h and FinTurno BETWEEN @d and @h AND LOWER(Turno) <> 'nowork'
		order by InicioTurno


		PRINT @turno

		SET @h = dateadd(hour,1, @d)
	BEGIN TRANSACTION
		
		WHILE @h <= DATEADD(s, @hasta, '19700101')
		  BEGIN
			INSERT  INTO @HorasTurno
			VALUES  (@d,@h)
			SET @d = @h
			SET @h = dateadd(hour,1, @d)
			
		  END		
	COMMIT TRANSACTION



	--Select m.Id, 
	--m.Descripcion AS NOMBRE,
	--sum(Produccion.CONTADOR_PRODUCCION) as ENVASES_LLENADORA,
	--sum(Produccion.CONTADOR_RECHAZOS) as ENVASES_RECHAZADOS,
	--0 as ENVASES_PALETIZADORA,
	--0 as HLCaudar,
	----0 as HLEnvases,
	--	case 
	--	when sum(Velocidad_NOMINAL) = 0 then 0 
	--	else convert(numeric(18,2),(sum(Produccion.CONTADOR_PRODUCCION)/sum(VELOCIDAD_NOMINAL)*100)) end as 'RENDIMIENTO_MECANICO'
	--	,CONVERT(real,ISNULL(Sum(O.HectolitrosProducto) * COALESCE(SUM(Produccion.CONTADOR_PRODUCCION),0),0)) AS HLEnvases

	--From COB_MSM_PROD_LLENADORA_HORA Produccion
	--INNER JOIN @HorasTurno Hora on FECHA_INICIO = HORA.inicio
	--INNER JOIN Maquinas m on Produccion.ID_MAQUINA = m.Id and M.Linea = @LINEA
	--LEFT JOIN ORDENES O ON Produccion.ID_ORDEN = O.Id
	--GROUP BY M.ID, M.Descripcion


	SELECT
			ID_MAQUINA, 
			Descripcion,
			SUM(TotalEnvases) AS TotalEnvases,
			SUM(TotalCajas) AS TotalCajas,
			SUM(TotalPalets) AS TotalPalets,
			SUM(HL) AS HL,
			SUM(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO
			,SUM(TIEMPO_PLANIFICADO) AS TIEMPO_PLANIFICADO
			,SUM(TIEMPO_NETO) AS TIEMPO_NETO
			,SUM(TIEMPO_BRUTO) AS TIEMPO_BRUTO
			,SUM(CONTADOR_RECHAZOS) AS CONTADOR_RECHAZOS
			,SUM([VELOCIDAD_NOMINAL]) AS VELOCIDAD_NOMINAL
		FROM
		(SELECT ID_ORDEN, 
			ID_MAQUINA, 
			Maquinas.Descripcion as Descripcion, 
			o.IdProducto,
			COALESCE(SUM(CONTADOR_PRODUCCION),0) AS TotalEnvases,
			CONVERT(real,ISNULL(o.CajasPorPalet*COALESCE(SUM(CONTADOR_PRODUCCION),0)/NULLIF(o.EnvasesPorPalet,0),0)) AS TotalCajas,
		
			CONVERT(real,ISNULL(  COALESCE(SUM(CONTADOR_PRODUCCION)/NULLIF(o.EnvasesPorPalet,0),0),0)) AS TotalPalets,
		
			CONVERT(real,ISNULL(o.HectolitrosProducto * COALESCE(SUM(CONTADOR_PRODUCCION),0),0)) as HL,
			COALESCE(SUM([TIEMPO_OPERATIVO]),0) AS TIEMPO_OPERATIVO
			,COALESCE(SUM([TIEMPO_PLANIFICADO]),0) AS TIEMPO_PLANIFICADO
			,COALESCE(SUM([TIEMPO_NETO]),0) AS TIEMPO_NETO
			,COALESCE(SUM([TIEMPO_BRUTO]),0) AS TIEMPO_BRUTO
			,COALESCE(SUM([CONTADOR_RECHAZOS]),0) AS CONTADOR_RECHAZOS
			,COALESCE(SUM([VELOCIDAD_NOMINAL]),0) AS VELOCIDAD_NOMINAL
		FROM dbo.COB_MSM_PROD_LLENADORA_HORA h
		INNER JOIN Maquinas ON Maquinas.Id = h.ID_MAQUINA
		INNER JOIN Turnos t on t.Id = h.SHC_WORK_SCHED_DAY_PK
		LEFT JOIN Ordenes o ON o.Id = h.ID_ORDEN
		WHERE t.Id = @turno
		GROUP BY ID_ORDEN, ID_MAQUINA, o.IdProducto, o.HectolitrosProducto, o.CajasPorPalet,o.EnvasesPorPalet,Maquinas.Descripcion ) 
		AS ConsolidadoLLenadoraHL
		GROUP BY ID_MAQUINA,Descripcion 



commit TRANSACTION
END
GO
