USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosQueriesGraficos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosQueriesGraficos]
	@linea varchar(100),
	@arranque tinyint,
	@anyo int,
	@semana int,
	@rangos int,
	@fini bigint,
	@tini int,
	@ffin bigint,
	@tfin int,
	@id smallint,
	@maq varchar(max),
	@mot varchar(max)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

		DECLARE @SQL AS VARCHAR(MAX) =''
		
if @fini > 0
SET @fini = DATEDIFF(SECOND, '19700101', CONVERT(DATE, DATEADD(SECOND, @fini + 7200, '1970-01-01')))

	if @ffin > 0
SET @ffin = DATEDIFF(SECOND, '19700101', CONVERT(DATE, DATEADD(SECOND, @ffin + 7200, '1970-01-01')))



if @tini = 0
	  SET @tini = 1

	if @tfin = 0
	  SET @tfin = 3

	  	DECLARE @FechaInicio DATETIME  
	SET @FechaInicio = dbo.getAntesTurnoInicio(CONVERT(VARCHAR(100), @fini),CONVERT(VARCHAR(100), @tini))
	DECLARE @FechaFin DATETIME  
	SET @FechaFin = dbo.getDespuesTurnoFin(CONVERT(VARCHAR(100), @ffin),CONVERT(VARCHAR(100), @tfin))

		IF @ID = 1
		/*CONTROL DE ARRANQUES 2 OBJETIVOS*/
		BEGIN

SET @SQL = 'SELECT format(dbo.ToLocalDateTime(OA.InicioReal),''dd-MM-yyyy'') as categories
			,NOMBRE as seriesname, SUM(TIEMPO) as seriesdata,min(OA.InicioReal) as fecha
			FROM [dbo].[OrdenesArranque] OA
			INNER JOIN TURNOS T ON OA.TipoTurnoId = T.IdTipoTurno AND CONVERT(DATE, FECHATURNO) = CONVERT(DATE,T.Fecha)
			CROSS APPLY (
				SELECT ''Duracion Llenadora'', MINUTOSFINAL1 UNION ALL
				SELECT ''Tiempo objetivo Llenadora'',MinutosObjetivo1 UNION ALL
				SELECT ''Duracion Paletizadora'', MINUTOSFINAL2 UNION ALL
				SELECT ''Tiempo objetivo Paletizadora'',MinutosObjetivo2
			) C (NOMBRE, TIEMPO)
			WHERE 1=1 @LINEA 
			@ARRANQUE
			@FECHA 
			GROUP BY format(dbo.ToLocalDateTime(OA.InicioReal),''dd-MM-yyyy''), NOMBRE
			ORDER BY NOMBRE, min(OA.InicioReal) ASC'


			IF (@linea <> '')
				SET @SQL = REPLACE(@SQL, '@LINEA', ' AND OA.idLinea = ''' + @linea + '''')
			ELSE
				SET @SQL = REPLACE(@SQL, '@LINEA', '')
			IF (@arranque > 0)
				SET @SQL = REPLACE(@SQL, '@ARRANQUE', ' AND OA.TipoArranque = ' + CONVERT(VARCHAR(100), @arranque))
			ELSE
				SET @SQL = REPLACE(@SQL, '@ARRANQUE', '')

			--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
				IF @fini > 0 AND @ffin>0 AND @linea <> ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal BETWEEN ( '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''') AND ( '''+CONVERT(VARCHAR(100),@FechaFin,120)+''') AND T.Linea = ''' + @linea + '''')

                ELSE IF @fini > 0 AND @ffin>0 AND @linea = ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal BETWEEN ( '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''') AND ( '''+CONVERT(VARCHAR(100),@FechaFin,120)+''') ')

				IF @fini = 0 and @ffin >0 AND @linea <> ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal < ( '''+CONVERT(VARCHAR(100),@FechaFin,120)+''') AND T.Linea = ''' + @linea + '''')
                ELSE IF @fini = 0 and @ffin >0 AND @linea = ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal < ( '''+CONVERT(VARCHAR(100),@FechaFin,120)+''') ')
				IF @FFIN = 0 and @fini>0 AND @linea <> ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal > ( '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''') AND T.Linea = ''' + @linea + '''')
			    ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND OA.InicioReal > ( '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''')')
				IF @ffin=0 and @fini = 0
					SET @SQL = REPLACE(@SQL, '@FECHA', '')


		END


		IF @ID=3
		/*MEDIA DE OEE POR MAQUINA*/
		BEGIN
SET @SQL = 'SELECT ''L'' + L.NumeroLineaDescripcion + '' '' + M.Descripcion as categories,  
					CASE WHEN SUM(TIEMPO_OPERATIVO)=0 OR SUM(TIEMPO_PLANIFICADO)=0 THEN 0
					ELSE CONVERT(NUMERIC(18,2),((sum([TIEMPO_OPERATIVO])/sum([TIEMPO_PLANIFICADO])) * (sum([TIEMPO_NETO])/sum([TIEMPO_OPERATIVO])) * 1.0)*100.0)
					END AS data
					 FROM 
					(SELECT ID_ORDEN,ID_MAQUINA,SHC_WORK_SCHED_DAY_PK, TIEMPO_OPERATIVO, TIEMPO_PLANIFICADO, TIEMPO_NETO FROM COB_MSM_PROD_LLENADORA_HORA
					UNION ALL
					SELECT ID_ORDEN,ID_MAQUINA,SHC_WORK_SCHED_DAY_PK, TIEMPO_OPERATIVO, TIEMPO_PLANIFICADO, TIEMPO_NETO FROM COB_MSM_PROD_RESTO_MAQ_HORA) LL
					INNER JOIN Maquinas M ON LL.ID_MAQUINA = M.Id
					INNER JOIN Turnos T ON LL.SHC_WORK_SCHED_DAY_PK = t.Id
					INNER JOIN LINEAS L ON M.Linea = L.ID
					WHERE 1=1 @LINEA @FECHA @MAQ
					GROUP BY LL.ID_MAQUINA,M.Descripcion, L.NumeroLinea, M.POSICION, L.NumeroLineaDescripcion
					ORDER BY M.POSICION ASC '

			IF (@linea <> '')
				SET @SQL = REPLACE(@SQL, '@LINEA', ' AND M.LINEA = ''' + @linea + '''')
			ELSE
				SET @SQL = REPLACE(@SQL, '@LINEA', '')		
			
				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno and T.Linea='''+@linea+''' ')
            ELSE IF @fini > 0 AND @ffin>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno  ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''	
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
			ELSE IF @ffin=0 and @fini = 0
				SET @SQL = REPLACE(@SQL, '@FECHA', '')

			if @maq=''
				SET @SQL = REPLACE(@SQL, '@MAQ', '')
			else
				SET @SQL = REPLACE(@SQL, '@MAQ', ' AND LL.ID_MAQUINA IN (' + @maq + ')')
		END


		IF @id=4 OR @ID=5
		/*TIEMPO DE PARADA DE MAQUINAS(CIRCULAR)= 4 */
		/*TIEMPO DE PARADAS JUSTIFICADAS = 5*/
		BEGIN
		IF @ID=4
		/*TIEMPO DE PARADA DE MAQUINAS(CIRCULAR)= 4 */
SET @SQL = 'SELECT ''L'' + L.NumeroLineaDescripcion + '' '' + isnull(MaquinaCausaNombre,''Sin definir'') AS category, 
						case
						when count(*)*100/(SUM(COUNT(*)) OVER()) = 0 then 0.3
						else count(*)*100/(SUM(COUNT(*)) OVER()) end as value
						FROM ParosPerdidas PP
						INNER JOIN TURNOS T ON T.ID = PP.TURNO @FECHA
						INNER JOIN LINEAS L ON PP.IdLinea = L.NumeroLinea @LINEA
						LEFT JOIN MAQUINAS M ON PP.MaquinaCausaId = M.Nombre
						WHERE 1=1 @MAQ @MOT
						GROUP BY MaquinaCausaNombre,L.NumeroLinea,L.NumeroLineaDescripcion '


		IF @id=5
		/*TIEMPO DE PARADAS JUSTIFICADAS = 5*/
SET @SQL = 'SELECT ''L'' + L.NumeroLineaDescripcion + '' '' + isnull(MaquinaCausaNombre,''Sin definir'') AS category,
						case
						when count(*)*100/(SUM(COUNT(*)) OVER()) = 0 then 0.3
						else count(*)*100/(SUM(COUNT(*)) OVER()) end as value
						FROM ParosPerdidas PP
						INNER JOIN TURNOS T ON T.ID = PP.TURNO @FECHA
						INNER JOIN LINEAS L ON PP.IdLinea = L.NumeroLinea @LINEA
						LEFT JOIN MAQUINAS M ON PP.MaquinaCausaId = M.Nombre
						WHERE 1=1 and PP.Justificado=1 @MAQ @MOT
						GROUP BY MaquinaCausaNombre,L.NumeroLinea,L.NumeroLineaDescripcion'


				IF (@linea <> '')
					SET @SQL = REPLACE(@SQL, '@LINEA', ' AND L.NOMBRE = ''' + @linea + '''')
				ELSE
					SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
				IF @fini > 0 AND @ffin>0 AND @linea <>''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
						'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno and T.Linea='''+@linea+''' ')
				ELSE IF @fini > 0 AND @ffin>0 AND @linea =''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
						'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno ')
				ELSE IF @fini = 0 and @ffin >0 AND @linea <> ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
				ELSE IF @fini = 0 and @ffin >0 AND @linea = ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno  ')
				ELSE IF @FFIN = 0 and @fini>0 AND @linea <> ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno and T.Linea='''+@linea+''' ')
				ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''
					SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
				ELSE IF @ffin=0 and @fini = 0 
					SET @SQL = REPLACE(@SQL, '@FECHA', '')

				if @maq=''
					SET @SQL = REPLACE(@SQL, '@MAQ', '')
				else
					SET @SQL = REPLACE(@SQL, '@MAQ', ' AND M.ID IN (' + @maq + ')')

				if @mot=''
					SET @SQL = REPLACE(@SQL, '@MOT', '')
				else
					SET @SQL = REPLACE(@SQL, '@MOT', ' AND PP.MotivoId IN (' + @mot + ')')

		END

		/************************************************************************************************
	
		GRAFICOS DE BARRAS MULTIPLES 

		IDS: 9 y 10

		*************************************************************************************************/

		IF @ID=8 or @ID=9
		BEGIN

		if @ID=8
		/*TIEMPO DE PARADA MAQUINAS MOTIVOS*/

SET @SQL = 'SELECT ''L'' + L.NumeroLineaDescripcion +'' '' + M.Descripcion as categories, C.NOMBRE as seriesname, CONVERT(NUMERIC(18,0),SUM(C.TIEMPO/60)) as seriesdata
					FROM (
						SELECT ID_MAQUINA, SHC_WORK_SCHED_DAY_PK, TIEMPO_PLANIFICADO, TIEMPO_OPERATIVO, TIEMPO_NETO FROM COB_MSM_PROD_LLENADORA_HORA
						UNION ALL
						SELECT ID_MAQUINA, SHC_WORK_SCHED_DAY_PK, TIEMPO_PLANIFICADO, TIEMPO_OPERATIVO, TIEMPO_NETO FROM COB_MSM_PROD_RESTO_MAQ_HORA
					) LL
					INNER JOIN MAQUINAS M ON M.ID=LL.ID_MAQUINA @MAQ
					INNER JOIN TURNOS T ON T.ID=LL.SHC_WORK_SCHED_DAY_PK @FECHA
					INNER JOIN LINEAS L ON T.Linea=L.Id @LINEA
					CROSS APPLY (
												SELECT ''Paro'', TIEMPO_PLANIFICADO-TIEMPO_OPERATIVO UNION ALL
												SELECT ''Perdida Produccion'', TIEMPO_OPERATIVO-TIEMPO_NETO) 
												C (NOMBRE, TIEMPO)
					GROUP BY L.NumeroLinea,M.Descripcion, M.Posicion,  C.NOMBRE, L.NumeroLineaDescripcion
					order by c.NOMBRE, M.Posicion asc'
					
			if @ID=9
			/*OEE MAQUINAS*/
SET @SQL = 'SELECT LL.categories,
					c.NOMBRE as stack, c.NOMBRE as seriesname, 
					CONVERT(NUMERIC(18,2),AVG(C.valor)) as seriesdata,
					LL.Posicion
				FROM (

				SELECT ''L'' + L.NumeroLineaDescripcion  +'' - ''+ M.Descripcion as categories, ID_MAQUINA, SHC_WORK_SCHED_DAY_PK, Sum([TIEMPO_PLANIFICADO]) AS TIEMPO_PLANIFICADO,Sum(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO,Sum(TIEMPO_NETO) AS TIEMPO_NETO
				,M.POSICION
				FROM COB_MSM_PROD_LLENADORA_HORA
				INNER JOIN Maquinas M ON ID_MAQUINA = M.Id  @MAQ
				INNER JOIN LINEAS L ON M.LINEA = L.ID  @LINEA
				INNER JOIN Turnos T ON SHC_WORK_SCHED_DAY_PK = t.Id  @FECHA
				GROUP BY ID_MAQUINA, SHC_WORK_SCHED_DAY_PK,L.NumeroLinea,M.Descripcion,M.POSICION,L.NumeroLineaDescripcion
				UNION ALL

				SELECT ''L'' + L.NumeroLineaDescripcion  +'' - ''+ M.Descripcion as categories, ID_MAQUINA, SHC_WORK_SCHED_DAY_PK, Sum([TIEMPO_PLANIFICADO]) AS TIEMPO_PLANIFICADO,Sum(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO,Sum(TIEMPO_NETO) AS TIEMPO_NETO
				,M.POSICION
				FROM COB_MSM_PROD_RESTO_MAQ_HORA
					INNER JOIN Maquinas M ON ID_MAQUINA = M.Id  @MAQ
					INNER JOIN LINEAS L ON M.LINEA = L.ID  @LINEA
					INNER JOIN Turnos T ON SHC_WORK_SCHED_DAY_PK = t.Id  @FECHA 
				GROUP BY ID_MAQUINA, SHC_WORK_SCHED_DAY_PK,L.NumeroLinea,M.Descripcion,M.POSICION,L.NumeroLineaDescripcion
				) LL

				CROSS APPLY 
				(
				SELECT ''Disponibilidad'', case when LL.TIEMPO_PLANIFICADO = 0 then 0 else convert(numeric(18,2),((TIEMPO_OPERATIVO)/[TIEMPO_PLANIFICADO]) * 100) end as Disponibilidad
				UNION ALL
				SELECT ''Eficiencia'', case when LL.TIEMPO_OPERATIVO = 0 then 0 else convert(numeric(18,2),((TIEMPO_NETO)/TIEMPO_OPERATIVO) * 100) end as Eficiencia
				UNION ALL
				SELECT ''OEE'', case when LL.TIEMPO_OPERATIVO = 0 OR LL.[TIEMPO_PLANIFICADO]=0 then 0 else convert(numeric(18,2),((LL.[TIEMPO_OPERATIVO]/LL.[TIEMPO_PLANIFICADO]) * (LL.[TIEMPO_NETO]/LL.[TIEMPO_OPERATIVO]))*100.0) end as OEE
				) C (NOMBRE, VALOR)			
				GROUP BY LL.categories,LL.Posicion, C.NOMBRE
				order by C.Nombre, LL.POSICION ASC'

			IF (@linea <> '')
				SET @SQL = REPLACE(@SQL, '@LINEA', ' AND L.ID = ''' + @linea + '''')
			ELSE
				SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini > 0 AND @ffin>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea <> '' 
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea = '' 
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
			ELSE IF @ffin=0 and @fini = 0
				SET @SQL = REPLACE(@SQL, '@FECHA', '')

				if @maq=''
					SET @SQL = REPLACE(@SQL, '@MAQ', '')
				else
					SET @SQL = REPLACE(@SQL, '@MAQ', ' AND M.ID IN (' + @maq + ')')

		END





		/*************************************************************************************************/
		/*************************************************************************************************/
		/*************************************************************************************************/


		/************************************************************************************************
	
		GRAFICOS DE BARRAS SIMPLES 

		IDS: 7

		*************************************************************************************************/

		IF @ID=7
		/*TIEMPO PARADA MAQUINAS (BARRAS)*/
		BEGIN

SET @SQL = 'SELECT ''L'' + L.NumeroLineaDescripcion + '' '' + M.Descripcion as categories,
				CONVERT(NUMERIC(18,0),(SUM(LL.TIEMPO_PLANIFICADO)-SUM(LL.TIEMPO_NETO))/60) AS data
				FROM (
				SELECT SHC_WORK_SCHED_DAY_PK, ID_MAQUINA, TIEMPO_PLANIFICADO, TIEMPO_NETO FROM COB_MSM_PROD_LLENADORA_HORA
				UNION ALL
				SELECT SHC_WORK_SCHED_DAY_PK, ID_MAQUINA, TIEMPO_PLANIFICADO, TIEMPO_NETO FROM COB_MSM_PROD_RESTO_MAQ_HORA
				) LL
				INNER JOIN MAQUINAS M ON M.ID=LL.ID_MAQUINA @MAQ
				INNER JOIN TURNOS T ON T.ID=LL.SHC_WORK_SCHED_DAY_PK @FECHA
				INNER JOIN LINEAS L ON L.ID=T.Linea @LINEA
				GROUP BY L.NumeroLinea, M.Descripcion, M.Posicion, L.NumeroLineaDescripcion
				ORDER BY L.NumeroLinea, M.Posicion ASC'

			IF (@linea <> '')
				SET @SQL = REPLACE(@SQL, '@LINEA', ' AND M.LINEA = ''' + @linea + '''')
			ELSE
				SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini > 0 AND @ffin>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno  ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ''''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
			ELSE IF @ffin=0 and @fini = 0
				SET @SQL = REPLACE(@SQL, '@FECHA', '')


				if @maq=''
					SET @SQL = REPLACE(@SQL, '@MAQ', '')
				else
					SET @SQL = REPLACE(@SQL, '@MAQ', ' AND M.ID IN (' + @maq + ')')
		END



		/*************************************************************************************************/
		/*************************************************************************************************/
		/*************************************************************************************************/



		/************************************************************************************************
	
		GRAFICOS DE TARTA 

		IDS: 3, 5 Y 6

		*************************************************************************************************/

		IF @id=2 OR @id=4 or @id=5
			BEGIN

			IF @id=2
			/*DISTRIBUCION DE CAUSAS DE PARO*/
SET @SQL = 'SELECT ISNULL(MotivoNombre,''Sin definir'') + ISNULL('' '' + CausaNombre, '''') as category, 
						case
						when count(*)*100/(SUM(COUNT(*)) OVER()) = 0 then 0.3
						else count(*)*100/(SUM(COUNT(*)) OVER()) end as value 
						FROM ParosPerdidas PP
						INNER JOIN TURNOS T ON T.ID = PP.TURNO @FECHA
						INNER JOIN LINEAS L ON PP.IdLinea = L.NumeroLinea @LINEA
						GROUP BY CausaNombre, MotivoNombre'


			IF (@linea <> '')
				SET @SQL = REPLACE(@SQL, '@LINEA', ' AND L.NOMBRE = ''' + @linea + '''')
			ELSE
				SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+'''>= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini > 0 AND @ffin>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno  ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini = 0 and @ffin >0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+'''<= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @FFIN = 0 and @fini>0 AND @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
			ELSE IF @ffin=0 and @fini = 0
				SET @SQL = REPLACE(@SQL, '@FECHA', '')
			END



		/*************************************************************************************************/
		/*************************************************************************************************/
		/*************************************************************************************************/

		/************************************************************************************************
	
		GRAFICOS DE LINEA 

		IDS: 1,2,7,11 Y 12

		*************************************************************************************************/

		IF @ID=11
		/*RENDIMIENTO LINEAS SEMANA*/
				BEGIN
				IF @id=11
SET @SQL = 'Select CONVERT(VARCHAR(100), S.AÑO) + '' SEMANA '' + CONVERT(VARCHAR(100), S.SEMANA) AS categories,
				''Rendimiento'' as seriesname,
				case when sum(Velocidad_NOMINAL) = 0 then 0 else convert(numeric(18,2),(avg(CONTADOR_PRODUCCION)/avg(VELOCIDAD_NOMINAL)*100)) end as seriesdata
				FROM COB_MSM_PROD_LLENADORA_HORA LL 
				inner join Maquinas OA on OA.Id = LL.ID_MAQUINA @LINEA
				INNER JOIN SEMANAS S ON LL.FECHA_INICIO BETWEEN S.INICIO AND S.FIN @ANYO @SEMANA
				GROUP BY S.AÑO, s.SEMANA
				order by seriesname, S.AÑO, S.Semana asc'


				IF (@anyo > 0)
					SET @SQL = REPLACE(@SQL, '@ANYO', ' AND S.AÑO = ' + CONVERT(VARCHAR(100), @anyo))
				ELSE
					SET @SQL = REPLACE(@SQL, '@ANYO', '')

				IF (@semana > 0)
					IF (@rangos > 0)
						SET @SQL = REPLACE(@SQL, '@SEMANA', ' AND S.SEMANA BETWEEN ' + CONVERT(VARCHAR(100), @semana) + ' AND ' + CONVERT(VARCHAR(100), (@semana + @rangos)))
					ELSE
						SET @SQL = REPLACE(@SQL, '@SEMANA', ' AND S.SEMANA = ' + CONVERT(VARCHAR(100), @semana))
				ELSE
						SET @SQL = REPLACE(@SQL, '@SEMANA', '')

	
				IF @id<11
						IF (@linea <> '')
							SET @SQL = REPLACE(@SQL, '@LINEA', ' AND OA.IDLINEA = ''' + @linea + '''')
						ELSE
							SET @SQL = REPLACE(@SQL, '@LINEA', '')
				ELSE
						IF (@linea <> '')
							SET @SQL = REPLACE(@SQL, '@LINEA', ' AND OA.LINEA = ''' + @linea + '''')
						ELSE
							SET @SQL = REPLACE(@SQL, '@LINEA', '')


		END
		ELSE
				IF @ID=6 OR @ID=10
				BEGIN

				IF @ID=6
				/*RENDIMIENTO DE LINEAS*/
SET @SQL = 'SELECT CASE
				WHEN T.IdTipoTurno=1 THEN convert(varchar(10),T.Fecha,103) + '' Mañana''
				WHEN T.IdTipoTurno=2 THEN convert(varchar(10),T.Fecha,103) + '' Tarde''
				WHEN T.IdTipoTurno=3 THEN convert(varchar(10),T.Fecha,103) + '' Noche''
				ELSE convert(varchar(10),T.Fecha,103) + '' No productivo''
				end as categories, ''Rendimiento mecánico'' as seriesname,CASE when sum(LL.Velocidad_NOMINAL) = 0 then 0 else convert(numeric(18,2),(sum(LL.CONTADOR_PRODUCCION)/sum(LL.VELOCIDAD_NOMINAL)*100)) end as ''seriesdata''
				FROM COB_MSM_PROD_LLENADORA_HORA LL
				INNER JOIN Turnos T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id
				WHERE 1=1 @LINEA @FECHA
				group by T.Fecha, T.IdTipoTurno
				order by seriesname, T.Fecha, T.IdTipoTurno asc'

				IF @ID=10
				/*OEE LINEAS*/
SET @SQL = 'SELECT LL.categories,
					c.NOMBRE as stack, c.NOMBRE as seriesname, 
					CONVERT(NUMERIC(18,2),AVG(C.valor)) as seriesdata
					,LL.Fecha,LL.IdTipoTurno
				FROM (

				SELECT T.Fecha, T.IdTipoTurno, CASE
				WHEN T.IdTipoTurno=1 THEN convert(varchar(10),T.Fecha,103) + '' Mañana''
				WHEN T.IdTipoTurno=2 THEN convert(varchar(10),T.Fecha,103) + '' Tarde''
				WHEN T.IdTipoTurno=3 THEN convert(varchar(10),T.Fecha,103) + '' Noche''
				ELSE convert(varchar(10),T.Fecha,103) + '' No productivo''
				end as categories,''L'' + L.NumeroLineaDescripcion  +'' - ''+ L.Descripcion as Linea, SHC_WORK_SCHED_DAY_PK, Sum([TIEMPO_PLANIFICADO]) AS TIEMPO_PLANIFICADO,Sum(TIEMPO_OPERATIVO) AS TIEMPO_OPERATIVO,Sum(TIEMPO_NETO) AS TIEMPO_NETO
				
				FROM COB_MSM_PROD_LLENADORA_HORA
				INNER JOIN Maquinas M ON ID_MAQUINA = M.Id 
				INNER JOIN LINEAS L ON M.LINEA = L.ID  
				INNER JOIN Turnos T ON SHC_WORK_SCHED_DAY_PK = t.Id  @FECHA @LINEA
				GROUP BY  SHC_WORK_SCHED_DAY_PK,L.NumeroLinea,L.Descripcion,T.IdTipoTurno,T.Fecha,NumeroLineaDescripcion
				
				) LL

				CROSS APPLY 
				(
				SELECT LL.Linea +  '' Disponibilidad'', case when LL.TIEMPO_PLANIFICADO = 0 then 0 else convert(numeric(18,2),((TIEMPO_OPERATIVO)/[TIEMPO_PLANIFICADO]) * 100) end as Disponibilidad
				UNION ALL
				SELECT LL.Linea +  '' Eficiencia'', case when LL.TIEMPO_OPERATIVO = 0 then 0 else convert(numeric(18,2),((TIEMPO_NETO)/TIEMPO_OPERATIVO) * 100) end as Eficiencia
				UNION ALL
				SELECT LL.Linea +  '' OEE'', case when LL.TIEMPO_OPERATIVO = 0 OR LL.[TIEMPO_PLANIFICADO]=0 then 0 else convert(numeric(18,2),((LL.[TIEMPO_OPERATIVO]/LL.[TIEMPO_PLANIFICADO]) * (LL.[TIEMPO_NETO]/LL.[TIEMPO_OPERATIVO]))*100.0) end as OEE
				) C (NOMBRE, VALOR)			
				GROUP BY LL.categories, C.NOMBRE,LL.Fecha,LL.IdTipoTurno
				order by C.Nombre,LL.Fecha,LL.IdTipoTurno,LL.categories ASC'


				IF (@linea <> '')
					SET @SQL = REPLACE(@SQL, '@LINEA', ' AND T.LINEA = ''' + @linea + '''')
				ELSE
					SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

				--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0 and @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini > 0 AND @ffin>0 and @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' AND '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno ')
			ELSE IF @fini = 0 and @ffin >0 and @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno and T.Linea='''+@linea+''' ')
			ELSE IF @fini = 0 and @ffin >0 and @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaInicio,120)+'''  <= T.InicioTurno ')
			ELSE IF @FFIN = 0 and @fini>0 and @linea <> ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno and T.Linea='''+@linea+''' ')
			ELSE IF @FFIN = 0 and @fini>0 and @linea = ''
				SET @SQL = REPLACE(@SQL, '@FECHA', ' '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' <= T.FinTurno ')
			ELSE IF @ffin=0 and @fini = 0
				SET @SQL = REPLACE(@SQL, '@FECHA', '')

				END




				/*************************************************************************************************/
				/*************************************************************************************************/
				/*************************************************************************************************/




	
					PRINT(@SQL)
EXEC (@SQL)

COMMIT TRANSACTION;
END
GO
