USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarOrderIdCOBZONAS]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ActualizarOrderIdCOBZONAS]
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

	
-- Tabla temporal que almacenará las ordenes que se encuentran en estado "Pausada" y "Finalizada"
DECLARE @TEMP_TABLE TABLE(
							ORDER_ID nvarchar(200)
							);

INSERT INTO @TEMP_TABLE
SELECT 
	ZONAS.ORDER_ID
FROM 
COB_MSM_ZONAS AS ZONAS 
INNER JOIN [MES_MSM].[dbo].[Particiones] AS PARTICIONES ON ZONAS.ORDER_ID = PARTICIONES.Id
WHERE 
	PARTICIONES.EstadoAct IN ('Pausada','Finalizada')
	AND PARTICIONES.WoStatusChangeOnGoing = 0

-- Actualización del COB_MSM_ZONAS que se encuentre en las ordenes Pausadas y Finalizadas
UPDATE COB_MSM_ZONAS SET ORDER_ID = '' 
WHERE 
	ORDER_ID IN (SELECT ORDER_ID FROM @TEMP_TABLE)

END
GO
