USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConsolidadoTurnoEmpaquetadoraEncajonadora]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConsolidadoTurnoEmpaquetadoraEncajonadora]
	-- Add the parameters for the stored procedure here
	@idTurno as int

AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	SELECT 
			h.ID_MAQUINA
			,COALESCE(SUM(CONTADOR_PRODUCCION),0) AS TotalCajas
		FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA h,
		(SELECT Id FROM maquinas WHERE  CLASE IN ('EMPAQUETADORA','ENCAJONADORA')) m 
		WHERE h.SHC_WORK_SCHED_DAY_PK = @idTurno  --AND ISNULL(h.ID_ORDEN,'') != ''
		AND m.Id = h.ID_MAQUINA
		GROUP BY ID_MAQUINA
		--SELECT 
		--	h.ID_MAQUINA
		--	,COALESCE(SUM(CONTADOR_PRODUCCION),0) AS TotalCajas
		--FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA h
		--INNER JOIN maquinas m ON  m.Id = h.ID_MAQUINA
		--INNER JOIN Turnos t on t.Id = h.SHC_WORK_SCHED_DAY_PK
		--WHERE t.Id = @idTurno AND CLASE IN ('EMPAQUETADORA','ENCAJONADORA') --AND ISNULL(h.ID_ORDEN,'') != ''
		--GROUP BY ID_MAQUINA
	COMMIT TRANSACTION;
END
GO
