USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEmpaquetadorasLineaProducto]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 24-09-2020
-- Description:	Se obtienen los datos de las empaquetadoras por linea y producto
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEmpaquetadorasLineaProducto]
	@linea nvarchar(100),
	@producto nvarchar(64)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT C.Linea, L.NumeroLinea, C.Producto, C.Empaquetadora, 
		C.Empaquetadora + ' - ' + M.Descripcion AS DescripcionEmpaquetadora, C.Suma
	FROM ConfiguracionEmpaquetadoras C
	INNER JOIN Lineas L ON C.Linea = L.Id
	INNER JOIN Maquinas M ON C.Empaquetadora = M.Nombre
	WHERE C.Linea = @linea AND C.Producto = @producto
END
GO
