USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[BindColor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[BindColor]
as
begin
	declare @article nvarchar(max),
			@index integer

	set @index=1

	declare c cursor for
		SELECT IdMaterial
		FROM [MES_MSM].[dbo].[Materiales_FAB]
		where IdClase in ('CZA','MOS','CZH') and IdMaterial <> 'Default_Material' and Descripcion not like 'M.P.A.%'

	open c

	fetch from c into @article

	while @@FETCH_STATUS=0
	begin
		update materialcolor
		set ProducedArticle=@article
		where IdColor=@index
		
		set @index=@index+1 
		fetch from c into @article
	end

	close c
	deallocate c
end
GO
