USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTurnoSiguiente]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTurnoSiguiente]
	-- Add the parameters for the stored procedure here
	@idLinea as varchar(200),
	@inicioTurnoAct as datetime
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;


	SELECT TOP 1
		Id
		,Linea
		,Fecha
		,InicioTurno AS InicioTurno
		,FinTurno AS FinTurno
		,IdTipoTurno
		,Turno
	FROM Turnos
	WHERE Turnos.InicioTurno > @inicioTurnoAct
	AND Linea = @idLinea and IdTipoTurno <> 0
	--AND @inicioTurnoAct NOT BETWEEN Turnos.InicioTurno AND Turnos.FinTurno -> Con esto se estaba sacando el turno anterior al anterior
	ORDER BY InicioTurno
COMMIT TRANSACTION; 

END
GO
