USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerParosPivot]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Informe_ANA_4_ObtenerParosPivot]

--DECLARAMOS VARIABLES
@Linea nvarchar(255),
@desde bigint,
@hasta bigint


as
begin

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;


DECLARE @HorasTurno TABLE (inicio datetime, fin datetime)

	DECLARE @d datetime
	DECLARE @h datetime

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = dateadd(hour,1, @d)

	BEGIN TRANSACTION
		
		WHILE @h <= DATEADD(s, @hasta, '19700101')
		  BEGIN
			INSERT  INTO @HorasTurno
			VALUES  (@d,@h)
			SET @d = @h
			SET @h = dateadd(hour,1, @d)
			
		  END		
	COMMIT TRANSACTION

	SELECT TB.FECHA as fecha, TB.EquipoID as EquipoID, ISNULL((CONVERT(NUMERIC(18,0), SUM(duracion)/60)),0) as duracion FROM (
				SELECT 
				CASE WHEN inicio is null then null else
				 dbo.fnFormatDate([dbo].[ToLocalDateTime](inicio), 'YYYYMMDDH') END AS fecha,M.Descripcion AS EquipoID, 0 AS duracion
				FROM MAQUINAS M
				CROSS JOIN @HorasTurno H 
				WHERE M.Linea=@Linea AND M.Clase='Llenadora'
				UNION ALL
				SELECT case WHEN inicio is null then null else
				 dbo.fnFormatDate([dbo].[ToLocalDateTime](INICIO), 'YYYYMMDDH') end as fecha, LL.EquipoDescripcion as EquipoID, DuracionParosMenores+DuracionBajaVelocidad AS duracion
				FROM ParosPerdidas LL
				INNER JOIN TURNOS T ON LL.Turno = T.ID
				WHERE T.Linea = @Linea AND T.InicioTurno >= DATEADD(s, @desde, '19700101') and T.FinTurno <= DATEADD(s, @hasta, '19700101')
	) TB
	GROUP BY TB.FECHA,TB.EquipoID
	ORDER BY TB.FECHA, TB.EQUIPOID ASC
commit TRANSACTION

end
GO
