USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerInstantaneasDeslizante]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_ObtenerInstantaneasDeslizante]
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT * 
		FROM MES_MSM.dbo.DeslizanteInstantaneas
		ORDER BY id DESC
	COMMIT TRANSACTION; 
END
GO
