USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesIntervalo]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Obtiene las ordenes planificadas de una linea concreta
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesIntervalo]
	@linea as nvarchar(200),
	@fIni as datetime,
	@fFin as datetime
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	SELECT
		Id
	INTO #Turnos
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @fIni AND @fFin AND FinTurno BETWEEN @fIni AND @fFin AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno


	SELECT DISTINCT
		Particiones.Id
		,Particiones.IdOrdenPadre
		,Particiones.IdSuborden
		,Particiones.Descripcion
		,IdEstadoAct
		,EstadoAct
		,EstadoAct.color AS ColorAct
		,IdEstadoAnt
		,EstadoAnt
		,EstadoAnt.color AS ColorAnt
		,FecIniEstimada
		,FecFinEstimada
		,FecIniReal
		,FecFinReal
		,Productos.IdProducto
		,Productos.Descripcion AS Producto
		,Productos.IdClase AS IdTipoProducto
		,Productos.Clase AS TipoProducto
		,Particiones.CantidadPlanificada
		,Particiones.CantidadProducida
		,Productos.udMedida
		,Particiones.VelocidadNominal
		,Particiones.OEEObjetivo
		,Particiones.OEECritico
		,Particiones.codigoJDE
		,Particiones.Rechazos
		,Particiones.OEE
		,Particiones.Disponibilidad
		,Particiones.Eficiencia
		,Particiones.RendMecanico
		,Particiones.Calidad
		,Particiones.FecHorAct AS RowUpdated
		,Particiones.EnvasesPorPalet
		,Particiones.CajasPorPalet
		,Particiones.HectolitrosProducto
		,Particiones.CausaPausa
		,Particiones.OEEPreactor
	FROM (
		SELECT DISTINCT ID_PARTICION
		  FROM 
		  (SELECT DISTINCT PLL.ID_PARTICION AS ID_PARTICION
		   FROM dbo.COB_MSM_PROD_LLENADORA_HORA PLL
		   INNER JOIN #Turnos T ON PLL.SHC_WORK_SCHED_DAY_PK = T.Id
		   INNER JOIN Maquinas M ON M.Id = PLL.ID_MAQUINA
		   INNER JOIN Lineas L ON L.Id = M.Linea
		   WHERE M.Linea = @linea 
		   UNION 
		   SELECT DISTINCT PR.ID_PARTICION AS ID_PARTICION
		   FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA PR
		   INNER JOIN #Turnos T ON PR.SHC_WORK_SCHED_DAY_PK = T.Id
		   INNER JOIN Maquinas M ON M.Id = PR.ID_MAQUINA
		   INNER JOIN Lineas L ON L.Id = M.Linea
		   WHERE M.Linea = @linea
		   ) AS P
		WHERE P.ID_PARTICION IS NOT NULL AND P.ID_PARTICION <> ''
	) AS ParticionesId
	INNER JOIN Particiones AS Particiones ON Particiones.Id = ParticionesId.ID_PARTICION
	LEFT JOIN EstadosOrden AS EstadoAct ON EstadoAct.Id = Particiones.IdEstadoAct
	LEFT JOIN EstadosOrden AS EstadoAnt ON EstadoAnt.Id = Particiones.IdEstadoAnt
	LEFT JOIN Productos ON Productos.IdProducto = Particiones.IdProducto
	LEFT JOIN Maquinas ON Maquinas.Orden = Particiones.Id
	--Where 
	--Particiones.Linea = @linea
	--and 
	--(
	--(FecIniReal >= @fIni and FecIniReal <= @fFin)
	--	or
	--(FecFinReal >= @fIni and FecFinReal <= @fFin)
	--	or	
	--(FecIniReal<= @fIni and FecFinReal >= @fFin)
	
	--)
	DROP TABLE #Turnos
COMMIT TRANSACTION; 	
	
END
GO
