USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[APP_RegistrarLogBookWeb]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Inserta un registro de Log
-- =============================================
CREATE PROCEDURE [dbo].[APP_RegistrarLogBookWeb]
@TimeStamp as datetime,
@Bias as int,
@ApplicationId as nvarchar(50),
@Section as int,
@Level as int,
@Description as nvarchar(MAX),
@ObjectId as nvarchar(250),
@ProcessName as nvarchar(250),
@UserName as nvarchar(50),
@ComputerName as nvarchar(50)
AS
BEGIN

	INSERT INTO [LogBookWeb] (TimeStamp,Bias,ApplicationId,Section,Level,Description,ObjectId,ProcessName,UserName,ComputerName) 
	VALUES (
			@TimeStamp ,
			@Bias,
			@ApplicationId,
			@Section,
			@Level,
			@Description,
			@ObjectId,
			@ProcessName ,
			@UserName, 
			@ComputerName);
	SET NOCOUNT ON;

END
GO
