USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ActualizarKOPSCalculadosSinValor]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		IDOM
-- Create date: 08/02/2021
-- Description:	Calcula todas los KOP de tipo CALCULADO que no tengan valor
-- =============================================

Create PROCEDURE [dbo].[MES_ActualizarKOPSCalculadosSinValor]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @IdKOP AS NVARCHAR(100),
			@IdOrden AS NVARCHAR(100)
	--aqui se recorrera cada uno de los KOPS CALCULADO que no tengan valor
	DECLARE MY_CURSOR CURSOR 
	  LOCAL STATIC READ_ONLY FORWARD_ONLY
	FOR 
	-- se busca cada uno de los KOP que se deban calcular
	SELECT 
		KOP.name, 
		KOP.pom_order_id 
	FROM SITmesDB.dbo.POMV_ETRY_PCS_PARM AS KOP
	INNER JOIN SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL AS VAL ON KOP.pom_process_segment_parameter_pk = VAL.PARM_PK
	WHERE VAL.ACTL_VAL = ''
	AND KOP.GRP LIKE '%CALCULADO%'

	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @IdKOP, @IdOrden
	WHILE @@FETCH_STATUS = 0
	BEGIN 
		--en este metodo realiza el calculo por id orden e id kop
		EXECUTE [API_calcularFormula] @IdKOP, @IdOrden
		FETCH NEXT FROM MY_CURSOR INTO @IdKOP, @IdOrden
	END
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
END
GO
