USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionMaquina]
	@IdMaquina nvarchar(4000),
	@Clase nvarchar(100),
	@FecInicio datetime,
	@FecFin datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;

	BEGIN TRANSACTION;	
		DECLARE @Min INT = 0;
		IF (@Clase = 'LLENADORA') BEGIN

			--SELECT
			--	@Min = SUM(DATEDIFF(MI,FECHA_INICIO, FECHA_FIN))
			--FROM COB_MSM_PROD_LLENADORA_HORA
			--WHERE ID_MAQUINA = @IdMaquina
			--AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
			--AND FECHA_FIN BETWEEN @FecInicio AND @FecFin)

			SELECT
				@Min = count(*)
			FROM COB_MSM_PROD_LLENADORA_HORA
			WHERE ID_MAQUINA = @IdMaquina
			--AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
			AND FECHA_FIN > @FecInicio
		
			--Hasta que no tengamos los datos de toda la hora completa no los devolvemos
			--IF (@Min >= 60) BEGIN
			IF (@Min > 0) BEGIN
				SELECT
					COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) AS TiempoPlanificado
					,COALESCE(SUM([TIEMPO_OPERATIVO]), 0) AS TiempoOperativo
					,COALESCE(SUM([TIEMPO_BRUTO]), 0) AS TiempoBruto
					,COALESCE(SUM([TIEMPO_NETO]), 0) AS TiempoNeto
					,COALESCE(SUM([VELOCIDAD_NOMINAL]), 0) AS VelocidadNominal
					,COALESCE(SUM([CONTADOR_PRODUCCION]), 0) AS EnvasesProducidos
					,COALESCE(SUM([CONTADOR_RECHAZOS]), 0) AS ContadorRechazos
					,COUNT(DISTINCT HORA) AS NumHoras
				FROM COB_MSM_PROD_LLENADORA_HORA
				WHERE ID_MAQUINA = @IdMaquina
				AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
				AND FECHA_FIN BETWEEN @FecInicio AND @FecFin)
			END
		END ELSE BEGIN

			--SELECT
			--	@Min = SUM(DATEDIFF(MI,FECHA_INICIO, FECHA_FIN))
			--FROM COB_MSM_PROD_RESTO_MAQ_HORA
			--WHERE ID_MAQUINA = @IdMaquina
			--AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
			--AND FECHA_FIN BETWEEN @FecInicio AND @FecFin)

			SELECT
				@Min = count(*)
			FROM COB_MSM_PROD_RESTO_MAQ_HORA
			WHERE ID_MAQUINA = @IdMaquina
			--AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
			AND FECHA_FIN > @FecInicio

			--Hasta que no tengamos los datos de toda la hora completa no los devolvemos
			--IF (@Min >= 60) BEGIN
			IF (@Min > 0) BEGIN
				SELECT
					COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) AS TiempoPlanificado
					,COALESCE(SUM([TIEMPO_OPERATIVO]), 0) AS TiempoOperativo
					,COALESCE(SUM([TIEMPO_BRUTO]), 0) AS TiempoBruto
					,COALESCE(SUM([TIEMPO_NETO]), 0) AS TiempoNeto
					,COALESCE(SUM([VELOCIDAD_NOMINAL]), 0) AS VelocidadNominal
					,COALESCE(SUM([CONTADOR_PRODUCCION]), 0) AS EnvasesProducidos
					,COALESCE(SUM([CONTADOR_RECHAZOS]), 0) AS ContadorRechazos
					,COUNT(DISTINCT HORA) AS NumHoras
				FROM COB_MSM_PROD_RESTO_MAQ_HORA
				WHERE ID_MAQUINA = @IdMaquina
				AND (FECHA_INICIO BETWEEN @FecInicio AND @FecFin
				AND FECHA_FIN BETWEEN @FecInicio AND @FecFin)
			END
		END
	COMMIT TRANSACTION; 
END
GO
