USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerProductos]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==================================================
-- Author:		Andrés
-- Create date: 29/07/2015
-- Description:	Obtiene los materiales de una planta
-- ==================================================
CREATE PROCEDURE [dbo].[MES_ObtenerProductos]
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT
			IdProducto,
			Nombre,
			Descripcion,
				Productos.IdClase AS IdTipoProducto,
	Productos.Clase AS TipoProducto,
			Version,
			Status,
			UdMedida,
			F_EfectivoDesde,
			F_EfectivoHasta,
			EnUso,
			Autor,
			FechaCreacion,
			FechaUltCreacion,
			ModificadoPor,
			InfoAdicional,
			Tipo,
			IdLote,
			Gama,
			Marca,
			TipoEnvase
			FROM Productos;

	COMMIT TRANSACTION;
	

END
GO
