USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerLineasPlanta]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Leandro
-- Create date: 28/02/2015
-- Description:	Obtiene las zonas de una linea
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerLineasPlanta]
	@planta as nvarchar(200)
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
		SELECT     
		numeroLinea,
		Id, 
		Nombre, 
		Descripcion,
		OEECritico,
		OEEObjetivo,
		NumeroLineaDescripcion,
		Grupo
		FROM Lineas
		WHERE EquipoSuperior = @planta
		order by numeroLinea;
		
	COMMIT TRANSACTION; 
END
GO
