USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerTiemposCambio]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerTiemposCambio]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
    -- Insert statements for procedure here
		SELECT 
			IdTiempoCambio,
			l.NumeroLinea as idLinea,
			l.Descripcion as DescLinea,
			IdProductoEntrante,
			ProductoEntrante,
			IdProductoSaliente,
			ProductoSaliente,
			Tobj1,
			Tobj2,
			Tm,
			-- TIEMPO_CALCULADO_2, -- agomezn 030816: modificado para 116 del Excel de incidencias
			ISNULL([TIEMPO_CALCULADO_2],0) AS [TIEMPO_CALCULADO_2],
			-- TIEMPO_PREACTOR, -- agomezn 030816: modificado para 116 del Excel de incidencias
			ISNULL([TIEMPO_PREACTOR],0) AS [TIEMPO_PREACTOR],
			l.NumeroLineaDescripcion,
			FormatoComunEntranteCodigo.PValue AS CodigoFormatoComunEntrante,
			FormatoComunEntranteDescripcion.PValue AS DescripcionFormatoComunEntrante,
			FormatoComunSalienteCodigo.PValue AS CodigoFormatoComunSaliente,
			FormatoComunSalienteDescripcion.PValue AS DescripcionFormatoComunSaliente,
			t.InhabilitarCalculo
		FROM TiemposCambio t
		INNER JOIN Lineas l on l.Nombre = t.LINEA
		INNER JOIN Materiales m1 ON t.IdProductoEntrante = m1.IdMaterial
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunEntranteCodigo
			ON FormatoComunEntranteCodigo.DefVerPK = m1.DefVerPK
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunEntranteDescripcion
			ON FormatoComunEntranteDescripcion.DefVerPK = m1.DefVerPK
		INNER JOIN Materiales m2 ON t.IdProductoSaliente = m2.IdMaterial
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunSalienteCodigo
			ON FormatoComunSalienteCodigo.DefVerPK = m2.DefVerPK
		LEFT OUTER JOIN (
			SELECT DefVerPK, PValue
			FROM SITMesDB.dbo.MMvDefVerPrpVals
			WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunSalienteDescripcion
			ON FormatoComunSalienteDescripcion.DefVerPK = m2.DefVerPK
	COMMIT TRANSACTION; 
END
GO
