USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[GetListaLoteByLocation]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Obtiene lista de lotes a partir de una ubicación
-- =============================================
CREATE PROCEDURE [dbo].[GetListaLoteByLocation]
	-- Add the parameters for the stored procedure here
	@ubicacion as nvarchar(max),
	@celda as nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @pkUnit int = (select loctypepk from sitmesdb.dbo.mmloctypes where loctypeid = 'Unit')
	declare @pkArea int = (select loctypepk from sitmesdb.dbo.mmloctypes where loctypeid = 'Area')
	declare @pkCell int = (select loctypepk from sitmesdb.dbo.mmloctypes where loctypeid = 'Cell')
	declare @parentloc int = (select locpk from sitmesdb.dbo.mmlocations where locid = @ubicacion)
	declare @parentCell int = (select locpk from SITMesDb.dbo.MMLocations where LocID = @celda)
	
	declare @depositos table (locpk int, locpath nvarchar(max))
	insert into @depositos
	select unit.locpk, unit.locpath
	from sitmesdb.dbo.mmlocations area
		inner join sitmesdb.dbo.mmlocations cell on cell.parentlocpk = area.locpk and cell.rowdeleted = 0 
		inner join sitmesdb.dbo.mmlocations unit on unit.parentlocpk = cell.locpk and unit.rowdeleted = 0 
	where area.locpk = @parentloc
		and cell.locpk = @parentCell
		and area.rowdeleted = 0
	
	select def.DefID, def.Descript, SUM(quantity) AS TotalCantidad, COUNT(prod.lotpk) AS TotalLotes, @ubicacion AS Proceso
	from sitmesdb.dbo.mmlots prod
		inner join @depositos dep on dep.locpk = prod.locpk
		inner join sitmesdb.dbo.mmdefvers v on v.DefVerPK = prod.DefVerPK
		inner join sitmesdb.dbo.mmdefinitions def on def.DefPK = v.DefPK
	group by def.DefID, def.Descript

END
GO
