USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_5_ObtenerArranquesLinea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Informe_ANA_5_ObtenerArranquesLinea]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set transaction isolation level read uncommitted
	
	SELECT A.ID_ARRANQUE as IdArranaque
			,A.DESC_ARRANQUE as DescArranque
			, L.Id as Linea
 	FROM dbo.COB_MSM_ARRANQUES A
	INNER JOIN dbo.COB_MSM_LINEAS_ARRANQUES LA ON LA.FK_ID_ARRANQUE = A.ID_ARRANQUE
	INNER JOIN Lineas L ON L.NumeroLinea = LA.FK_ID_LINEA
	WHERE L.Id = @Linea

END
GO
