USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerOrdenesActivas_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis
-- Create date: 23/03/2020
-- Description:	Obtiene las ordenes activas de fabricación
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerOrdenesActivas_FAB]
	@tipo as nvarchar(200)
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	SELECT DISTINCT
		Orden.Pk					AS Pk,
		Orden.Id					AS Id,
		Orden.Descripcion	AS Descripcion,
		FAB.IdEstado					AS IdEstado,
		Orden.CodMaterial				AS CodMaterial,
		FAB.Estado AS Estado,
		COALESCE(Orden.DesMaterial,'')			AS DesMaterial,
		Orden.FechaInicioEstimadoLocal	AS FechaInicioEstimadoLocal,
		Orden.FechaInicioEstimadoUTC AS FechaInicioEstimadoUTC,
		Orden.FechaFinEstimadoLocal		AS FechaFinEstimadoLocal,
		Orden.FechaFinEstimadoUTC	AS FechaFinEstimadoUTC,
		Orden.FechaInicioRealLocal		AS FechaInicioRealLocal,
		Orden.FechaInicioRealUTC		AS FechaInicioRealUTC,
		Orden.FechaFinRealLocal			AS FechaFinRealLocal,
		Orden.FechaFinRealUTC		AS FechaFinRealUTC,
		Orden.CantidadMaterial			AS CantidadMaterial,
		Orden.CantidadProducida			AS CantidadProducida,
		Orden.UoMMaterial				AS UoMMaterial,
		Orden.Tipo					AS TipoOrden,
		COALESCE(Orden.Equipo,'')	AS Equipo,
		''  AS ColorSemaforo,
		CAST(COALESCE(Orden.KopsMultivalorSinRellenar,1) AS BIT)   AS KopsMultivalorSinRellenar,
		CAST(COALESCE(Orden.KopsMultivalorFueraRango,1) AS BIT) 	 AS KopsMultivalorFueraRango,
		CAST(COALESCE(Orden.KopsConstanteFueraRango,1) AS BIT)  AS KopsConstanteFueraRango,
		CAST(COALESCE(Orden.KopsConstanteSinRellenar,1)AS BIT)   AS KopsConstanteSinRellenar,
		Orden.Recalcular            as Recalcular 
	 FROM 
		Orden_Procesada_FAB Orden 
		INNER JOIN Ordenes_FAB AS FAB ON FAB.Cod_Orden = Orden.pk

	WHERE 
		Orden.Estado IN ('In Progress','Processed', 'ReOpened')
		--AND Orden.CodMaterial NOT LIKE 'Dummy%'
		AND 
		(Orden.Tipo = @tipo OR @tipo IS NULL)
COMMIT TRANSACTION; 

END
GO
