USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosQueries]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosQueries]
	@linea varchar(100),
	@fini bigint,
	@tini int,
	@ffin bigint,
	@tfin int,
	@id smallint
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
	DECLARE @SQL AS VARCHAR(MAX) =''
	

	DECLARE @d DATETIME
	DECLARE @h DATETIME

	if @tini = 0
	  SET @tini = 1

	if @tfin = 0
	  SET @tfin = 3


	if @fini > 0
		SET @fini = DATEDIFF(SECOND, '19700101', CONVERT(DATE, DATEADD(SECOND, @fini + 7200, '1970-01-01')))

	if @ffin > 0
		SET @ffin = DATEDIFF(SECOND, '19700101', CONVERT(DATE, DATEADD(SECOND, @ffin + 7200, '1970-01-01')))

   	DECLARE @FechaInicio DATETIME  
	SET @FechaInicio = dbo.getAntesTurnoInicio(CONVERT(VARCHAR(100), @fini),CONVERT(VARCHAR(100), @tini))
	DECLARE @FechaFin DATETIME  
	SET @FechaFin = dbo.getDespuesTurnoFin(CONVERT(VARCHAR(100), @ffin),CONVERT(VARCHAR(100), @tfin))
	SET @d = DATEADD(s, @fini, '19700101')
	SET @h = DATEADD(s, @ffin, '19700101')

	--IF @fini > 0 AND @ffin>0
	--	SET @condition =  ' AND dbo.getAntesTurnoInicio('+CONVERT(VARCHAR(100), @fini)+','+CONVERT(VARCHAR(100), @tini)+') <= T.InicioTurno AND 
	--						dbo.getDespuesTurnoFin('+CONVERT(VARCHAR(100), @ffin)+','+CONVERT(VARCHAR(100), @tfin)+') >= T.FinTurno  '
 --   ELSE
	--IF @fini = 0 and @ffin >0
	--	SET @condition = ' dbo.getAntesTurnoInicio('+CONVERT(VARCHAR(100), @fini)+','+CONVERT(VARCHAR(100), @tini)+') <= T.InicioTurno  '
	--ELSE
	--IF @FFIN = 0 and @fini>0
	--	SET @condition = ' dbo.getDespuesTurnoFin('+CONVERT(VARCHAR(100), @ffin)+','+CONVERT(VARCHAR(100), @tfin)+') <= T.FinTurno  '
	--ELSE
	--IF @ffin=0 and @fini = 0
	--	SET @condition = ''

	SELECT  Id
	INTO #TEMP_TURNO
	FROM Turnos
	WHERE [Linea] = @Linea AND  @FechaInicio <= InicioTurno 
		AND @FechaFin >= FinTurno 
		AND LOWER(Turno) <> 'nowork'




	IF @ID=4
	BEGIN

/*
	Análisis de paros por causa

*/

SET @SQL = 'Select 
isnull(PP.MotivoNombre,''Motivo no definido'') as ''Motivo_paro'',
isnull(CausaNombre,'''') as ''Causa_paro'',
 count(*) as ''Número_de_paros'',
					replace(convert(numeric(9,2), (sum(DuracionParoMayor)+sum(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),''.'','','')  as ''Total_minutos_paradas'',
					replace(convert(numeric(9,2), (sum(DuracionParoMayor)+sum(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/3600),''.'','','') as ''Total_horas_paradas''
					from dbo.ParosPerdidas PP
					INNER JOIN TURNOS T ON PP.Turno = T.ID
					INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
					WHERE '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
					group by Causanombre,MotivoNombre
					order by Causanombre,MotivoNombre asc'
		END


		IF @ID=5
		BEGIN
/*
Envases producidos por turno
*/

SET @SQL = 'Select ''Linea '' + NumeroLineaDescripcion + '' - '' + T.Descripcion AS ''Línea'', T.TURNO as Turno, SUM(T.Envases_llenadora) as Envases_llenadora, SUM(T.Palets_Paletizadora) as Palets_Paletizadora, SUM(T.Etiquetas_de_palets) as Etiquetas_de_palets, 
SUM(CONVERT(NUMERIC(18,2),T.CP)) as ''Cajas_Packs'',
convert(numeric(18,0),SUM(T.Tiempo_planificado)/60) as Tiempo_planificado, convert(numeric(18,0),SUM(T.Tiempo_Operativo)/60) as Tiempo_Operativo, convert(numeric(18,0),SUM(T.Tiempo_Neto)/60) as Tiempo_Neto, 
CONVERT(varchar(100),
case 
			when SUM(T.TIEMPO_OPERATIVO) = 0 OR SUM(T.[TIEMPO_PLANIFICADO])=0 then 0
			else convert(numeric(18,2),
					(
						(
							(SUM(T.[TIEMPO_OPERATIVO])/SUM(T.[TIEMPO_PLANIFICADO])) * (SUM(T.[TIEMPO_NETO])/SUM(T.[TIEMPO_OPERATIVO]))
						)
					)*100.0
				)
		end )+ ''%'' AS OEE

 FROM (
				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						convert(varchar(100),convert(date, T.Fecha),105) + '' '' + T.TURNO AS Turno,
				LL.CONTADOR_PRODUCCION as Envases_llenadora, --0 as Envases_paletizadora,
				0 AS Palets_Paletizadora,
				0 AS Etiquetas_de_palets,
				0 AS ''CP'',
				LL.TIEMPO_PLANIFICADO as ''Tiempo_planificado'',
				LL.TIEMPO_OPERATIVO as ''Tiempo_Operativo'', LL.TIEMPO_NETO as ''Tiempo_Neto'',
				case 
				when LL.TIEMPO_OPERATIVO = 0 OR LL.[TIEMPO_PLANIFICADO]=0 then ''0''
				else convert(numeric(18,2),((LL.[TIEMPO_OPERATIVO]/LL.[TIEMPO_PLANIFICADO]) * (LL.[TIEMPO_NETO]/LL.[TIEMPO_OPERATIVO]))*100.0)
				end as OEE
				,1 AS LLENADORA
				FROM [dbo].[COB_MSM_PROD_LLENADORA_HORA] LL
				RIGHT JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE   '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA 

				UNION ALL

				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						convert(varchar(100),convert(date, T.Fecha),105) + '' '' + T.TURNO AS Turno,
				0 as Envases_llenadora, --0 as Envases_paletizadora,
				LL.CONTADOR_PRODUCCION AS Palets_Paletizadora,
				0 AS Etiquetas_de_palets,
				0 AS ''CP'',
				0 as ''Tiempo_planificado'',
				0 as ''Tiempo_Operativo'', 
				0 as ''Tiempo_Neto'',
				0 as OEE --Solo miramos OEE de llenadoras
				,0 AS LLENADORA
				FROM [dbo].COB_MSM_PROD_RESTO_MAQ_HORA LL
				RIGHT JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id  
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE LL.ID_MAQUINA LIKE ''%PAL%'' AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA

				UNION ALL
				
				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						convert(varchar(100),convert(date, T.Fecha),105) + '' '' + T.TURNO AS Turno,
				0 as Envases_llenadora, --0 as Envases_paletizadora,
				0 AS Palets_Paletizadora,
				LL.CONTADOR_PRODUCCION AS Etiquetas_de_palets,
				0 AS ''CP'',
				0 as ''Tiempo_planificado'',
				0 as ''Tiempo_Operativo'', convert(numeric(18,0),LL.TIEMPO_NETO/60) as ''Tiempo_Neto'',
				0 as OEE --Solo miramos OEE de llenadoras
				,0 AS LLENADORA
				FROM [dbo].COB_MSM_PROD_RESTO_MAQ_HORA LL
				INNER JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE LL.ID_MAQUINA LIKE ''%EQP%'' AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA

				UNION ALL
				
				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						convert(varchar(100),convert(date, T.Fecha),105) + '' '' + T.TURNO AS Turno,
				0 as Envases_llenadora, --0 as Envases_paletizadora,
				0 AS Palets_Paletizadora,
				0 as Etiquetas_de_palets,				
				LL.CONTADOR_PRODUCCION AS CP,
				0 as ''Tiempo_planificado'',
				0 as ''Tiempo_Operativo'', 
				0 as ''Tiempo_Neto'',
				0 as OEE --Solo miramos OEE de llenadoras
				,0 AS LLENADORA
				FROM [dbo].COB_MSM_PROD_RESTO_MAQ_HORA LL
				INNER JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE (LL.ID_MAQUINA LIKE ''%EMP%'' OR LL.ID_MAQUINA LIKE ''%ENC%'') AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA

				) T
				GROUP BY T.NumeroLinea, T.Descripcion, T.TURNO, NumeroLineaDescripcion
				ORDER BY T.NumeroLinea, T.Descripcion, T.TURNO ASC'

		END
		IF @ID=6
		BEGIN
/*
	Envases producidos por línea
*/

SET @SQL = 'Select ''Linea '' + NumeroLineaDescripcion + '' - '' + T.Descripcion AS ''Linea'', count(DISTINCT T.TURNO)as Numero_Turnos, SUM(T.Envases_llenadora) as Envases_llenadora, SUM(T.Palets_Paletizadora) as Palets_Paletizadora, SUM(T.Etiquetas_de_palets) as Etiquetas_de_palets,
CONVERT(NUMERIC(18, 0),SUM(T.Tiempo_planificado)/ 60) as Tiempo_planificado, CONVERT(NUMERIC(18, 0),SUM(T.Tiempo_Operativo)/ 60) as Tiempo_Operativo, CONVERT(NUMERIC(18, 0),SUM(T.Tiempo_Neto)/ 60) as Tiempo_Neto, 
CONVERT(varchar(100),
case 
			when SUM(T.TIEMPO_OPERATIVO) = 0 OR SUM(T.[TIEMPO_PLANIFICADO])=0 then 0
			else convert(numeric(18,2),
					(
						(
							(SUM(T.[TIEMPO_OPERATIVO])/SUM(T.[TIEMPO_PLANIFICADO])) * (SUM(T.[TIEMPO_NETO])/SUM(T.[TIEMPO_OPERATIVO]))
						)
					)*100.0
				)
		end )+ ''%'' AS Rendimiento

 FROM (
				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						T.Id  Turno,
				LL.CONTADOR_PRODUCCION as Envases_llenadora, --0 as Envases_paletizadora,
				0 AS Palets_Paletizadora,
				0 AS Etiquetas_de_palets,
				LL.TIEMPO_PLANIFICADO as ''Tiempo_planificado'',
				LL.TIEMPO_OPERATIVO as ''Tiempo_Operativo'', LL.TIEMPO_NETO as ''Tiempo_Neto'',
				case 
				when LL.TIEMPO_OPERATIVO = 0 OR LL.[TIEMPO_PLANIFICADO]=0 then ''0''
				else convert(numeric(18,2),((LL.[TIEMPO_OPERATIVO]/LL.[TIEMPO_PLANIFICADO]) * (LL.[TIEMPO_NETO]/LL.[TIEMPO_OPERATIVO]))*100.0)
				end as OEE
				,1 AS LLENADORA
				FROM [dbo].[COB_MSM_PROD_LLENADORA_HORA] LL
				RIGHT JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE   '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA
				UNION ALL

				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						T.Id  Turno,
				0 as Envases_llenadora, --0 as Envases_paletizadora,
				LL.CONTADOR_PRODUCCION AS Palets_Paletizadora,
				0 AS Etiquetas_de_palets,
				0 as ''Tiempo_planificado'',
				0 as ''Tiempo_Operativo'', 
				0 as ''Tiempo_Neto'',
				0 as OEE --Solo miramos OEE de llenadoras
				,0 AS LLENADORA
				FROM [dbo].COB_MSM_PROD_RESTO_MAQ_HORA LL
				RIGHT JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE LL.ID_MAQUINA LIKE ''%PAL%'' AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA

				UNION ALL
				
				SELECT NumeroLineaDescripcion, NumeroLinea, Descripcion,
						T.Id  Turno,
				0 as Envases_llenadora, --0 as Envases_paletizadora,
				0 AS Palets_Paletizadora,
				LL.CONTADOR_PRODUCCION AS Etiquetas_de_palets,
				0 as ''Tiempo_planificado'',
				0 as ''Tiempo_Operativo'', convert(numeric(18,0),LL.TIEMPO_NETO/60) as ''Tiempo_Neto'',
				0 as OEE --Solo miramos OEE de llenadoras
				,0 AS LLENADORA
				FROM [dbo].COB_MSM_PROD_RESTO_MAQ_HORA LL
				RIGHT JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.Id 
				INNER JOIN Lineas L ON T.Linea = L.Id 
				WHERE LL.ID_MAQUINA LIKE ''%EQP%''  AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno @LINEA
				) T
				GROUP BY T.NumeroLinea, T.Descripcion, NumeroLineaDescripcion
				ORDER BY T.NumeroLinea, T.Descripcion'


		END
		IF @ID=7
		BEGIN
/*
Máquinas con más paros menores propios
*/

SET @SQL = '	SELECT Maquina, Sum(minutos_paradas) as Total_Minutos_paradas, Sum(ROUND(minutos_paradas/60,3)) as Total_Horas_Paradas
			FROM (
			select ''L'' + L.NumeroLineaDescripcion +'' - '' + M.Descripcion as Maquina,
			L.numeroLinea,
			CONVERT(NUMERIC(18,0),(TIEMPO_OPERATIVO - TIEMPO_NETO) /60) as minutos_paradas
			from (SELECT ID_MAQUINA, TIEMPO_OPERATIVO, TIEMPO_NETO, SHC_WORK_SCHED_DAY_PK  FROM COB_MSM_PROD_LLENADORA_HORA
			UNION ALL
			SELECT ID_MAQUINA, TIEMPO_OPERATIVO, TIEMPO_NETO, SHC_WORK_SCHED_DAY_PK FROM COB_MSM_PROD_RESTO_MAQ_HORA) LL
			INNER JOIN Maquinas M ON LL.ID_MAQUINA = M.Id
			INNER JOIN TURNOS T ON LL.SHC_WORK_SCHED_DAY_PK = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
			INNER JOIN LINEAS L ON T.Linea = L.Id @LINEA
						where TIEMPO_OPERATIVO - TIEMPO_NETO < (
				SELECT VALOR_INT FROM [dbo].[ParametrosPlanta_Admin] WHERE NombreParametro like ''%Límite paros menores%'' AND IdLinea = L.NumeroLinea)
				) TB
				group by tb.Maquina, TB.NumeroLinea
			ORDER BY TB.numeroLinea ASC , Total_minutos_paradas DESC'

		END
		IF @ID=8
		BEGIN
/*
Media de arranques de línea*/

SET @SQL = 'SELECT ''Linea '' + OA.NumLineaDescripcion + '' - '' + DescripcionLinea as Linea,
				case 
				when TipoArranque=1 then ''Inicio + Limpieza''
				when TipoArranque=2 then ''Inicio''
				when TipoArranque=3 then ''Cambio + limpieza L2-L1''
				when TipoArranque=4 then ''Cambio + limpieza L1-L2''
				else ''Otros''
				end as TipoArranque
				, isnull(AVG(MinutosFinal1),0) as Duracion_llenadora
				, isnull(AVG(MinutosFinal2),0) as Duracion_paletizadora
				FROM [dbo].[OrdenesArranque] OA
				INNER JOIN Lineas L ON OA.Linea = L.NumeroLinea @LINEA
				INNER JOIN TURNOS T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				GROUP BY OA.LINEA, OA.NumLineaDescripcion, DescripcionLinea, TipoArranque
				ORDER BY OA.LINEA ASC'

		END
		IF @ID=9
		BEGIN
/*
	Media de cambios de producto*/
-- agomezn 010816: cambiados de orden ProductoSaliente y Producto Entrante
SET @SQL = '	Select IdProductoEntrante AS Código_Producto_Entrante,ProductoEntrante as Producto_Entrante,IdProductoSaliente AS Código_Producto_Saliente,ProductoSaliente as Producto_Saliente
						, isnull(AVG(MinutosFinal1),0) as Duracion_llenadora
				, isnull(AVG(MinutosFinal2),0) as Duracion_paletizadora
		from OrdenesCambio OC
				INNER JOIN Lineas L ON OC.Linea = L.NumeroLinea @LINEA
				INNER JOIN TURNOS T ON T.IdTipoTurno = OC.TipoTurnoId AND T.Fecha = CONVERT(DATE,OC.FECHATURNO) AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				--WHERE MinutosFinal1 > 0 
				GROUP BY ProductoSaliente, ProductoEntrante,IdProductoEntrante,IdProductoSaliente
				ORDER BY ProductoSaliente, ProductoEntrante ASC'

		END
--		IF @ID=7
--		BEGIN
--/*select 'Linea ' + convert(varchar(100),OA.Linea) + ' - ' + OA.DescripcionLinea as Linea,
--	case			when OA.TipoArranque = 1 THEN 'Arranque Lunes'
--	when OA.TipoArranque = 2 THEN 'Arranque 2 turnos'
--	else 'Otro' end as Tipo,
--	sum(OA.MinutosFinal1) as Minutos
--	FROM [MES_MSM].[dbo].[OrdenesArranque] OA
--	INNER JOIN Lineas L ON OA.Linea = L.NumeroLinea --@LINEA
--	INNER JOIN TURNOS T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId --@FECHA
--	group by OA.Linea, OA.DescripcionLinea, OA.TipoArranque

--*/

--SET @SQL = 'select ''Linea '' + convert(varchar(100),OA.Linea) + '' - '' + OA.DescripcionLinea as Linea,
--				case when OA.TipoArranque = 1 THEN ''Inicio + Limpieza''
--				when OA.TipoArranque = 2 THEN ''Inicio''
--				when OA.TipoArranque=3 then ''Cambio + limpieza L2-L1''
--				when OA.TipoArranque=4 then ''Cambio + limpieza L1-L2''
--				else ''Otro'' end as Tipo,
--				AVG(OA.MinutosFinal2) as Minutos
--				FROM [MES_MSM].[dbo].[OrdenesArranque] OA
--				INNER JOIN Lineas L ON OA.Linea = L.NumeroLinea @LINEA
--				INNER JOIN TURNOS T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId @FECHA
--				group by OA.Linea, OA.DescripcionLinea, OA.TipoArranque'

--		END
--		IF @ID=8
--		BEGIN
--/*	Select 'Linea ' + convert(varchar(10),L.NumeroLinea) + ' - ' + L.Descripcion as Linea, ProductoSaliente, ProductoEntrante, isnull(AVG(MinutosFinal1),0) as Minutos from OrdenesCambio OC
--INNER JOIN Lineas L ON OC.Linea = L.NumeroLinea --@LINEA
--INNER JOIN TURNOS T ON T.IdTipoTurno = OC.TipoTurnoId AND T.Fecha = CONVERT(DATE,OC.FECHATURNO) --@TURNO
--WHERE MinutosFinal1 > 0 
--GROUP BY L.NumeroLinea,L.Descripcion,ProductoSaliente, ProductoEntrante

--*/
---- agomezn 010816: cambiados de orden ProductoSaliente y Producto Entrante
--SET @SQL = '	Select ''Linea '' + convert(varchar(10),L.NumeroLinea) + '' - '' + L.Descripcion as Linea, ProductoEntrante, ProductoSaliente, isnull(AVG(MinutosFinal2),0) as Minutos 
--			FROM OrdenesCambio OC
--			INNER JOIN Lineas L ON OC.Linea = L.NumeroLinea @LINEA
--			INNER JOIN TURNOS T ON T.IdTipoTurno = OC.TipoTurnoId AND T.Fecha = CONVERT(DATE,OC.FECHATURNO) @FECHA
--			WHERE MinutosFinal1 > 0 
--			GROUP BY L.NumeroLinea,L.Descripcion,ProductoSaliente, ProductoEntrante'

--		END
		IF @ID=12
		BEGIN
/*
SELECT DISTINCT 'Linea ' + convert(varchar(100),L.NumeroLinea) + ' - ' + L.Descripcion AS Linea, 
convert(date,PP.FechaTurno) as Fecha, 
case
WHEN T.Turno = 'Morning' then 'Mañana'
WHEN T.Turno = 'Afternoon' then 'Tarde'
WHEN T.Turno = 'Night' then 'Noche'
else 'Otros' end as Turno
, MaquinaCausaId  as 'Codigo_Maquina_Causante', MaquinaCausaNombre AS 'Maquina_Causante', 
EquipoConstructivoId AS 'Codigo_Equipo_constructivo_responsable', EquipoConstructivoNombre AS 'Equipo_constructivo_responsable', Observaciones, 
dbo.contarEquipos(PP.EquipoConstructivoId)  as 'Cuenta_Equipo_Constructivo'
FROM DBO.ParosPerdidas PP
INNER JOIN DBO.Turnos T ON PP.IdTipoTurno = T.IdTipoTurno --@FECHA
INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA
WHERE PP.Observaciones IS NOT NULL AND PP.Observaciones<>''
group by L.NumeroLinea, L.Descripcion,PP.FechaTurno, T.Turno, MaquinaCausaId, MaquinaCausaNombre, EquipoConstructivoId, EquipoConstructivoNombre, Observaciones
*/
/*OBSERVACIONES*/
SET @SQL = 'SELECT DISTINCT  ''Línea '' + L.NumeroLineaDescripcion + '' - '' + L.Descripcion AS Linea,
CONVERT(CHAR(15), convert(date, PP.FECHATURNO), 105) + '' '' + T.TURNO AS Turno, 
			 MaquinaCausaId  as ''Codigo_Maquina_Causante'', MaquinaCausaNombre AS ''Maquina_Causante'', 
		EQ.ID_EQUIPO_CONSTRUCTIVO AS ''Codigo_Equipo_constructivo_responsable'', EquipoConstructivoNombre AS ''Equipo_constructivo_responsable'', CUENTA.Observaciones, 
	    CUENTA.CONTADOR Cuenta_de_equipo_constructivo
		FROM DBO.ParosPerdidas PP
		INNER JOIN DBO.Turnos T ON PP.Turno = T.Id  AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
		INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA
		LEFT JOIN EQUIPO_CONSTRUCTIVO EQ ON EQ.IdObj = EquipoConstructivoId
		LEFT JOIN (
					SELECT EquipoConstructivoId ID_EQUIPO_CUENTA, COUNT(EquipoConstructivoId) AS CONTADOR,Observaciones
					FROM ParosPerdidas AS PP
					INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA
					INNER JOIN DBO.Turnos T ON PP.Turno = T.Id  AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
					WHERE PP.Observaciones<>'''' and EquipoConstructivoId is not null
					GROUP BY EquipoConstructivoId,PP.Observaciones
		) AS CUENTA ON CUENTA.ID_EQUIPO_CUENTA = PP.EquipoConstructivoId 
		WHERE PP.Observaciones IS NOT NULL AND PP.Observaciones<>''''
	
		ORDER BY Linea, Turno asc'

		END

		/* Indice de Lineas entre fechas*/
		IF @ID=13
		BEGIN

SET @SQL = 'SELECT ''Línea '' + L.NumeroLineaDescripcion + '' - '' + l.Descripcion as Línea,
	LLEFINAL.Ocupacion as Ocupación, LLEFINAL.Disponibilidad, LLEFINAL.Eficiencia, LLEFINAL.OEE, LLEFINAL.Rendimiento, LLEFINAL.VelocidadMediaEnvasesHora as Velocidad_media_Env_por_hora,
	PP.NumeroParosMayores, PP.HorasParosMayores, PP.NumeroParosMenores, PP.HorasParosMenores,CONCAT(TABLA_KPI.OEE,''%'') AS OEE_WO,
	CONCAT(CONVERT(numeric(18,2),TABLA_PORCENTAJE.PORCENTAJE), ''%'') AS Perc_Perd ,CONCAT(CONVERT(float,(TABLA_KPI.OEE - CONVERT(numeric(18,2),TABLA_PORCENTAJE.PORCENTAJE))),''%'') AS OEE_Compensado
	
FROM (
select 
LL.NumeroLinea,
CONCAT(CONVERT(NUMERIC(18,2),(LL.cantidadHoras / convert(numeric(18,2),DATEDIFF(HOUR, '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''','''+CONVERT(VARCHAR(100),@FechaFin,120)+''' )))*100),''%'') AS ''Ocupacion'',
case when SUM(LL.TIEMPO_PLANIFICADO) > 0 then CONCAT(convert(numeric(18,2),((SUM(TIEMPO_OPERATIVO))/SUM([TIEMPO_PLANIFICADO])) * 100),''%'') end as Disponibilidad,
case when SUM(LL.TIEMPO_OPERATIVO) > 0 then CONCAT(convert(numeric(18,2),((SUM(TIEMPO_NETO))/SUM(TIEMPO_OPERATIVO)) * 100),''%'') end as Eficiencia,
case when SUM(LL.TIEMPO_OPERATIVO) > 0 AND SUM(LL.[TIEMPO_PLANIFICADO])>0 then CONCAT(convert(numeric(18,2),((SUM(LL.[TIEMPO_OPERATIVO])/SUM(LL.[TIEMPO_PLANIFICADO])) * (SUM(LL.[TIEMPO_NETO])/SUM(LL.[TIEMPO_OPERATIVO])))*100.0),''%'') end as OEE
,convert(numeric(18,2),SUM( CASE WHEN LL.CONTADOR = -1 THEN 0 ELSE CONVERT(BIGINT,LL.CONTADOR) END)/SUM(LL.TIEMPO_PLANIFICADO/3600)) as ''VelocidadMediaEnvasesHora'',
case when SUM(LL.TIEMPO_OPERATIVO) > 0 AND SUM(LL.[TIEMPO_PLANIFICADO])>0 then CONCAT(convert(numeric(18,2),((SUM(LL.[TIEMPO_OPERATIVO])/SUM(LL.[TIEMPO_PLANIFICADO])) * (SUM(LL.[TIEMPO_NETO])/SUM(LL.[TIEMPO_OPERATIVO])))*100.0*1),''%'') end as Rendimiento



from (

SELECT sum(DATEDIFF(HOUR,turnos.InicioTurno,turnos.FinTurno)) as cantidadHoras,L.NumeroLinea,LL.TIEMPO_OPERATIVO, LL.hora,LL.TIEMPO_NETO, LL.TIEMPO_PLANIFICADO, LL.FECHA_INICIO, LL.FECHA_FIN, LL.CONTADOR_PRODUCCION AS CONTADOR, LL.ID_MAQUINA, T.FECHA,T.Id AS ID_TURNO
FROM COB_MSM_PROD_LLENADORA_HORA LL
	INNER JOIN MAQUINAS M ON M.ID = LL.ID_MAQUINA
	INNER JOIN LINEAS L	ON M.Linea = L.Id  @LINEA
	INNER JOIN Turnos T ON t.Linea = L.Id AND T.InicioTurno <= LL.FECHA_INICIO AND LL.FECHA_FIN <= T.FinTurno AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno ,
	(select InicioTurno,FinTurno from turnos inner join Lineas L on turnos.Linea = L.Id where  InicioTurno >= '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' and FinTurno <= '''+CONVERT(VARCHAR(100),@FechaFin,120)+''' @LINEA ) as turnos
	GROUP BY 		L.NumeroLinea,LL.TIEMPO_OPERATIVO, LL.hora,LL.TIEMPO_NETO, LL.TIEMPO_PLANIFICADO, LL.FECHA_INICIO, 
	LL.FECHA_FIN, LL.CONTADOR_PRODUCCION, LL.ID_MAQUINA, T.FECHA,T.Id	
) LL
group by LL.NumeroLinea,LL.cantidadHoras
) LLEFINAL
LEFT JOIN (SELECT 
L.NumeroLinea,
SUM(CASE WHEN PP.FK_PAROS_ID = 1 THEN 1 ELSE 0 END) AS NumeroParosMayores,
dbo.GetFormatoHoraMinutosSegundos(SUM(CASE WHEN PP.FK_PAROS_ID = 1 THEN DURACION ELSE 0 END)) AS ''HorasParosMayores'',
SUM(CASE WHEN PP.FK_PAROS_ID = 2 THEN NUMERO_PAROS_MENORES ELSE 0 END) AS NumeroParosMenores,
dbo.GetFormatoHoraMinutosSegundos(SUM(CASE WHEN PP.FK_PAROS_ID = 2 THEN DURACION_PAROS_MENORES ELSE 0 END)) AS ''HorasParosMenores''
	FROM COB_MSM_PAROS_PERDIDAS PP
	INNER JOIN TURNOS T ON PP.SHC_WORK_SCHED_DAY_PK = T.Id AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
	INNER JOIN LINEAS L ON T.Linea = L.ID @LINEA
		group by L.NumeroLinea
		) pp ON PP.NumeroLinea = LLEFINAL.NumeroLinea
INNER JOIN LINEAS L ON L.NumeroLinea = LLEFINAL.NumeroLinea
INNER JOIN dbo.MES_KPI_OEE_WO_TABLE('''+@linea+''',CONVERT(DATETIME,'''+CONVERT(VARCHAR(100),@FechaInicio,120)+'''),CONVERT(DATETIME,'''+CONVERT(VARCHAR(100),@FechaFin,120)+''')) AS TABLA_KPI 
ON TABLA_KPI.ID_LINEA = L.NumeroLinea
INNER JOIN dbo.MES_PorcentajeEnvasesNoProducidos_Table('''+@linea+''',CONVERT(DATETIME,'''+CONVERT(VARCHAR(100),@FechaInicio,120)+'''),CONVERT(DATETIME,'''+CONVERT(VARCHAR(100),@FechaFin,120)+''')) AS TABLA_PORCENTAJE
 ON TABLA_PORCENTAJE.ID_LINEA = L.NumeroLinea
 ORDER BY L.NumeroLinea
'

		END
		IF @ID=14
		BEGIN
/*SELECT 'Linea ' + convert(varchar(100),L.NumeroLinea) + ' - ' + L.Descripcion AS Linea, MaquinaCausaId AS 'Codigo_Maquina_Causante', MaquinaCausaNombre as 'Maquina_Causante',
count(*) as 'Numero_paros',
replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),'.',',')  as 'Tiempo_total_minutos',
PP.Descripcion as 'Descripcion_averia'
FROM DBO.ParosPerdidas PP
INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA group by L.NumeroLinea, L.Descripcion, MaquinaCausaId, MaquinaCausaNombre, PP.Descripcion
order by count(*) desc
*/
/*PAROS AGRUPADOS POR MOTIVO*/
SET @SQL = 'SELECT ''Linea '' + L.NumeroLineaDescripcion + '' - '' + L.Descripcion AS Linea, MaquinaCausaNombre as ''Maquina'',
		PP.MotivoNombre as Motivo,
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),''.'','','')  as ''Tiempo_total_minutos'',
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/3600),''.'','','')  as ''Tiempo_total_horas''
		FROM DBO.ParosPerdidas PP
		INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
		INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
		group by L.NumeroLinea, L.Descripcion, MaquinaCausaNombre, PP.MotivoNombre, L.NumeroLineaDescripcion
		order by L.NumeroLinea asc, count(*) desc'

		END
		IF @ID=15
		/*PAROS AGRUPADOS POR MOTIVO Y CAUSA*/
		BEGIN
SET @SQL = 'SELECT ''Linea '' + L.NumeroLineaDescripcion + '' - '' + L.Descripcion AS Linea, MaquinaCausaNombre as ''Maquina'',
		PP.MotivoNombre as Motivo, PP.CausaNombre as Causa,
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),''.'','','')  as ''Tiempo_total_minutos'',
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/3600),''.'','','')  as ''Tiempo_total_horas''
		FROM DBO.ParosPerdidas PP
		INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
		INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
		group by L.NumeroLinea, L.Descripcion, MaquinaCausaNombre, PP.MotivoNombre, PP.CausaNombre, L.NumeroLineaDescripcion
		order by L.NumeroLinea asc, count(*) desc'
		END
		IF @ID=16
		BEGIN
		/*PAROS PROVOCADOS POR EQUIPOS CONSTRUCTIVOS*/
/*Select 'Linea ' + convert(varchar(100),L.NumeroLinea) + ' - ' + L.Descripcion AS Linea, 
MaquinaCausaId AS 'Codigo_Maquina_Causante', MaquinaCausaNombre as 'Maquina_Causante',
	ISNULL(EquipoConstructivoId,'Sin Equipo definido') AS 'Codigo_Equipo_constructivo_responsable', EquipoConstructivoNombre AS 'Equipo_constructivo_responsable',
	isnull(CausaNombre,'') as 'Causa_paro', count(*) as 'Número_de_paros',
	replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),'.',',')  as 'Total_minutos_paradas',
	replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/3600),'.',',') as 'Total_horas_paradas'
	from dbo.ParosPerdidas PP
	INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
	INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
				group by L.NumeroLinea, L.Descripcion, EquipoConstructivoId, EquipoConstructivoNombre, MaquinaCausaId, MaquinaCausaNombre, CausaNombre
	order by count(*) desc

*/

SET @SQL = 'Select MaquinaCausaNombre as ''Maquina_Causante'',
		EQ.[ID_EQUIPO_CONSTRUCTIVO] AS ''Codigo_Equipo_constructivo_responsable'', EquipoConstructivoNombre AS ''Equipo_constructivo_responsable'',
		 count(*) as ''Número_de_paros'',
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/60),''.'','','')  as ''Total_minutos_paradas'',
		replace(convert(numeric(9,2), (sum(DuracionParoMayor)+SUM(DuracionParosMenores)+sum(isnull(DuracionBajaVelocidad,0)))/3600),''.'','','') as ''Total_horas_paradas''
		from dbo.ParosPerdidas PP
		INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
		INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
		INNER JOIN [dbo].[EQUIPO_CONSTRUCTIVO] EQ ON EQ.IdObj = PP.EquipoConstructivoId
					group by EQ.ID_EQUIPO_CONSTRUCTIVO, EquipoConstructivoNombre, MaquinaCausaNombre
			order by count(*) desc'
		

		END
		IF @ID=17
		BEGIN
		/*PAROS SIN JUSTIFICAR*/
/*
	Select 'Linea ' + convert(varchar(100),L.NumeroLinea) + ' - ' + L.Descripcion AS 'Linea', 
				convert(Date, PP.FechaTurno) as Fecha, 
	case
	when PP.NombreTipoTurno = 'Morning' then 'Mañana'
	when PP.NombreTipoTurno = 'Afternoon' then 'Tarde'
	when PP.NombreTipoTurno = 'Night' then 'Noche'
	else 'Otros' end as Turno
	, MotivoNombre as 'Motivo', 
	replace(convert(numeric(18,2), (SUM(PP.DuracionParoMayor)+SUM(PP.DuracionParosMenores)+SUM(PP.DuracionBajaVelocidad))/60),'.',',')  as 'Duracion_Minutos',
	isnull(CausaNombre,'') as 'Causa_paro',
	isnull(MaquinaCausaId,'Maquina no definida') AS 'Codigo_Maquina_Causante', MaquinaCausaNombre as 'Maquina_Causante',
	ISNULL(EquipoConstructivoId,'Sin Equipo definido') AS 'Codigo_Equipo_constructivo_responsable', EquipoConstructivoNombre AS 'Equipo_constructivo_responsable',
	PP.Descripcion, Observaciones
	from dbo.ParosPerdidas PP
	INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
	INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
	where Justificado =0
	group by L.NumeroLinea,PP.FechaTurno, L.Descripcion,  PP.NombreTipoTurno, MotivoNombre, CausaNombre, EquipoConstructivoId, EquipoConstructivoNombre,MaquinaCausaNombre,
	MaquinaCausaId,PP.Descripcion, Observaciones
*/

SET @SQL = 'Select ''Linea '' + L.NumeroLineaDescripcion + '' - '' + L.Descripcion AS ''Linea'', 
			convert(varchar(100),convert(date, PP.FechaTurno)) + '' '' + T.TURNO AS Turno,
			/*case
			when PP.NombreTipoTurno = ''Morning'' then convert(varchar(100),convert(date,PP.FechaTurno)) + '' Mañana''
			when PP.NombreTipoTurno = ''Afternoon'' then convert(varchar(100),convert(date,PP.FechaTurno)) +  '' Tarde''
			when PP.NombreTipoTurno = ''Night'' then convert(varchar(100),convert(date,PP.FechaTurno)) + '' Noche''
			else convert(varchar(100),convert(date,PP.FechaTurno)) + '' Otros'' end as Turno
			,*/ MotivoNombre as ''Motivo'', 
			replace(convert(numeric(18,2), (SUM(PP.DuracionParoMayor)+SUM(PP.DuracionParosMenores)+SUM(PP.DuracionBajaVelocidad))/60),''.'','','')  as ''Duracion_Minutos'',
			isnull(CausaNombre,'''') as ''Causa_paro'',
			isnull(MaquinaCausaId,'''') AS ''Codigo_Maquina_Causante'', MaquinaCausaNombre as ''Maquina_Causante'',
			ISNULL(EquipoConstructivoId,'''') AS ''Codigo_Equipo_constructivo_responsable'', EquipoConstructivoNombre AS ''Equipo_constructivo_responsable'',
			PP.Descripcion, Observaciones
			from dbo.ParosPerdidas PP
			INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
			INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
			where Justificado =0
			group by L.NumeroLinea,PP.FechaTurno, L.Descripcion, T.Fecha, T.IdTipoTurno,  T.TURNO, MotivoNombre, CausaNombre, EquipoConstructivoId, EquipoConstructivoNombre,MaquinaCausaNombre,
			MaquinaCausaId,PP.Descripcion, Observaciones, L.NumeroLineaDescripcion
			order by Linea, T.Fecha, T.IdTipoTurno asc'

		END
		IF @ID=18
		BEGIN
		/*PORCENTAJE DE PAROS JUSTIFICADOS*/
/*
Select Sum([Paros_Totales]) as 'Paros_Totales',Sum([Paros_Justificados]) as 'Paros_Justificados'
	,Sum([Paros_No_Justificados]) as 'Paros_No_Justificados',
	convert(varchar(100),convert(numeric(18,2),( sum(convert(float,Paros_Justificados)) / (sum(convert(float,Paros_No_Justificados)) +sum(convert(float,Paros_Justificados))))*100))+'%' as 'Porcentaje_Justificados'
	From (
	select count(*) as 'Paros_Totales',0 as 'Paros_Justificados',0 as 'Paros_No_Justificados' 
	from ParosPerdidas PP
	INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
	INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
	union all
	Select 0,count(*),0
	from ParosPerdidas PP
	INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
	INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
	where Justificado=1
	union all
	Select 0,0, count(*)
	from ParosPerdidas PP
	INNER JOIN TURNOS T ON PP.Turno = T.ID --@FECHA
	INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
	where Justificado=0) PP
*/

SET @SQL = 'Select Sum([Paros_Totales]) as ''Paros_Totales'',Sum([Paros_Justificados]) as ''Paros_Justificados''
				,Sum([Paros_No_Justificados]) as ''Paros_No_Justificados'' ,
				convert(varchar(100),convert(numeric(18,2),( sum(convert(float,Paros_Justificados)) / (sum(convert(float,Paros_No_Justificados)) +sum(convert(float,Paros_Justificados))))*100))+''%'' as ''Porcentaje_Justificados''
				From (
				select count(*) as ''Paros_Totales'',0 as ''Paros_Justificados'',0 as ''Paros_No_Justificados'' 
				from ParosPerdidas PP
				INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
				union all
				Select 0,count(*),0
				from ParosPerdidas PP
				INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
				where Justificado=1
				union all
				Select 0,0, count(*)
				from ParosPerdidas PP
				INNER JOIN TURNOS T ON PP.Turno = T.ID AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea @LINEA 
				where Justificado=0) PP'

		END
		IF @ID=19
		BEGIN
		/*SINTESIS DE PAROS SIN CUMPLIMENTAR*/
/*
	SELECT DISTINCT 'Linea ' + convert(varchar(100),L.NumeroLinea) + ' - ' + L.Descripcion AS Linea, 
	convert(date,PP.FechaTurno) as Fecha,
	case
	when T.Turno = 'Morning' then 'Mañana'
	when T.Turno = 'Afternoon' then 'Tarde'
	when T.Turno = 'Night' then 'Noche'
	else 'Otros' end as Turno, MaquinaCausaId  as 'Codigo_Maquina_Causante', MaquinaCausaNombre AS 'Maquina_Causante', 
isnull(EquipoConstructivoId,'Sin equipo definido') AS 'Codigo_Equipo_constructivo_responsable', EquipoConstructivoNombre AS 'Equipo_constructivo_responsable', 
PP.Descripcion, 
replace(convert(numeric(9,2), (SUM(PP.DuracionParoMayor)+SUM(PP.DuracionParosMenores)+SUM(PP.DuracionBajaVelocidad))/60),'.',',')  as 'Duracion_parada'
FROM DBO.ParosPerdidas PP
INNER JOIN DBO.Turnos T ON PP.IdTipoTurno = T.IdTipoTurno --@FECHA
INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea --@LINEA 
WHERE PP.Observaciones IS NOT NULL AND PP.Observaciones<>''
group by T.Turno,PP.FechaTurno, MaquinaCausaId, L.NumeroLinea, L.Descripcion, MaquinaCausaNombre, EquipoConstructivoId, EquipoConstructivoNombre, PP.Descripcion
*/

SET @SQL = 'SELECT ''Linea '' + L.NumeroLineaDescripcion + '' - '' + L.Descripcion AS Linea, 
		convert(varchar(100),convert(date, PP.FechaTurno),105) + '' '' + T.TURNO AS Fecha_Turno,
        MaquinaCausaId  as Codigo_Maquina_Causante, 
		MaquinaCausaNombre AS Maquina_Causante, 
		isnull(EQ.ID_EQUIPO_CONSTRUCTIVO,'''') AS Codigo_Equipo_constructivo_responsable, 
		EquipoConstructivoNombre AS Equipo_constructivo_responsable, 
		PP.Descripcion, 
		replace(convert(numeric(9,2), (SUM(PP.DuracionParoMayor)+SUM(PP.DuracionParosMenores)+SUM(PP.DuracionBajaVelocidad))/60),''.'','','')  as Duracion_parada_minutos
		FROM DBO.ParosPerdidas PP
		INNER JOIN DBO.Turnos T ON PP.Turno = T.Id  AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
		INNER JOIN Lineas L ON PP.IdLinea = L.NumeroLinea  @LINEA 
		LEFT JOIN EQUIPO_CONSTRUCTIVO EQ ON EQ.IdObj = EquipoConstructivoId
		LEFT JOIN COB_MSM_ACCIONES_PAROS AP ON AP.ID_PARO = PP.Id AND AP.FK_ACCIONES_DE_MEJORA_ID IS NULL
		WHERE PP.Observaciones IS NOT NULL AND PP.Observaciones<>''''
		group by PP.FechaTurno, T.IdTipoTurno, T.Turno, MaquinaCausaId, L.NumeroLinea, L.Descripcion, MaquinaCausaNombre, EQ.ID_EQUIPO_CONSTRUCTIVO, EquipoConstructivoNombre, PP.Descripcion, L.NumeroLineaDescripcion
		order by PP.FechaTurno, T.IdTipoTurno asc'

		END
		IF @ID=20
		BEGIN
		/*SINTESIS DE ARRANQUES SIN CUMPLIMENTAR*/
/*
SELECT 'Linea ' + convert(varchar(100),OA.Linea) + ' - ' + DescripcionLinea as Linea,
case 
when TipoArranque=1 then 'Arranque Lunes'
else 'Arranque 2 turnos'
end as TipoArranque
, isnull(AVG(MinutosFinal1),0) as Minutos
FROM [MES_MSM].[dbo].[OrdenesArranque] OA
INNER JOIN Lineas L ON OA.Linea = L.NumeroLinea @LINEA
INNER JOIN TURNOS T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId @FECHA
GROUP BY OA.LINEA, DescripcionLinea, TipoArranque*/

SET @SQL = 'SELECT ''Linea '' + OA.NumLineaDescripcion + '' - '' + DescripcionLinea as Linea,
				case 
				when TipoArranque=1 then ''Inicio + Limpieza''
				when TipoArranque = 2 THEN ''Inicio''
				when TipoArranque=3 then ''Cambio + limpieza L2-L1''
				when TipoArranque=4 then ''Cambio + limpieza L1-L2''
				else ''Otro''
				end as Tipo_de_arranque
				, isnull(SUM(MinutosFinal1),0) as Duracion_llenadora
				, isnull(SUM(MinutosFinal2),0) as Duracion_paletizadora
				FROM [dbo].[OrdenesArranque] OA
				INNER JOIN Lineas L ON OA.Linea = L.NumeroLinea @LINEA
				INNER JOIN TURNOS T ON CONVERT(DATE,T.Fecha) = CONVERT(DATE,OA.FechaTurno) AND T.IdTipoTurno = OA.TipoTurnoId AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				LEFT JOIN COB_MSM_ACCIONES_ARRANQUES AA ON AA.ID_ARRANQUE = OA.ID_ARRANQUE AND AA.FK_ACCION_MEJORA_ID IS NULL
				GROUP BY OA.LINEA, DescripcionLinea, TipoArranque, OA.NumLineaDescripcion
				ORDER BY OA.LINEA ASC'

		END
		IF @ID=21
		BEGIN

/*
	Select ProductoSaliente, ProductoEntrante, isnull(AVG(MinutosFinal1),0) as Minutos from OrdenesCambio OC
INNER JOIN Lineas L ON OC.Linea = L.NumeroLinea --@LINEA
INNER JOIN TURNOS T ON T.IdTipoTurno = OC.TipoTurnoId AND T.Fecha = CONVERT(DATE,OC.FECHATURNO) --@TURNO
WHERE MinutosFinal1 > 0 
GROUP BY ProductoSaliente, ProductoEntrante*/

SET @SQL = '	Select ProductoSaliente,ProductoEntrante
						, isnull(AVG(MinutosFinal1),0) as Duracion_llenadora
				, isnull(AVG(MinutosFinal2),0) as Duracion_paletizadora
		from OrdenesCambio OC
				INNER JOIN Lineas L ON OC.Linea = L.NumeroLinea @LINEA
				INNER JOIN TURNOS T ON T.IdTipoTurno = OC.TipoTurnoId AND T.Fecha = CONVERT(DATE,OC.FECHATURNO) AND  '''+CONVERT(VARCHAR(100),@FechaInicio,120)+''' <= T.InicioTurno AND 
				'''+CONVERT(VARCHAR(100),@FechaFin,120)+''' >= T.FinTurno
				LEFT JOIN COB_MSM_ACCIONES_CAMBIOS AC ON AC.ID_CAMBIO = OC.ID_CAMBIO AND AC.FK_ACCION_MEJORA_ID IS NULL
				--WHERE MinutosFinal1 > 0 
				GROUP BY ProductoSaliente, ProductoEntrante
				ORDER BY ProductoSaliente, ProductoEntrante ASC'


		END

	




		IF (@linea <> '')
SET @SQL = REPLACE(@SQL, '@LINEA', ' AND L.ID = ''' + @linea + '''')
			ELSE
SET @SQL = REPLACE(@SQL, '@LINEA', '')

			

			--PARA LAS FECHAS TENEMOS VARIAS OPCIONES
			IF @fini > 0 AND @ffin>0
SET @SQL = REPLACE(@SQL, '@FECHA', ' AND dbo.getAntesTurnoInicio('+CONVERT(VARCHAR(100), @fini)+','+CONVERT(VARCHAR(100), @tini)+') <= T.InicioTurno AND 
				dbo.getDespuesTurnoFin('+CONVERT(VARCHAR(100), @ffin)+','+CONVERT(VARCHAR(100), @tfin)+') >= T.FinTurno and T.Linea='''+@linea+''' ')

					ELSE
			IF @fini = 0 and @ffin >0
SET @SQL = REPLACE(@SQL, '@FECHA', ' dbo.getAntesTurnoInicio('+CONVERT(VARCHAR(100), @fini)+','+CONVERT(VARCHAR(100), @tini)+') <= T.InicioTurno and T.Linea='''+@linea+''' ')
					ELSE
			IF @FFIN = 0 and @fini>0
SET @SQL = REPLACE(@SQL, '@FECHA', ' dbo.getDespuesTurnoFin('+CONVERT(VARCHAR(100), @ffin)+','+CONVERT(VARCHAR(100), @tfin)+') <= T.FinTurno and T.Linea='''+@linea+''' ')
					ELSE
			IF @ffin=0 and @fini = 0
SET @SQL = REPLACE(@SQL, '@FECHA', '')





	
				PRINT(@SQL)
EXEC (@SQL)
DROP TABLE #TEMP_TURNO
END
GO
