USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerConfiguracionEmpaquetadoras]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 17-09-2020
-- Description:	Se obtienen los datos necesarios para la configuración de las empaquetadoras
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerConfiguracionEmpaquetadoras]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT
		C.Linea,
		'Línea ' + L.NumeroLineaDescripcion + ' - ' + L.Descripcion AS DescripcionLinea,
		FormatoComunCodigo.PValue AS CodigoFormatoComun,
		FormatoComunDescripcion.PValue AS DescripcionFormatoComun,
		C.Producto,
		M.Descripcion AS DescripcionProducto,
		L.NumeroLinea
	FROM ConfiguracionEmpaquetadoras C
	INNER JOIN Lineas L ON C.Linea = L.Id
	INNER JOIN Materiales M ON C.Producto = M.IdMaterial
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_codigo'))) AS FormatoComunCodigo
					 ON FormatoComunCodigo.DefVerPK = M.DefVerPK
	LEFT OUTER JOIN (SELECT DefVerPK, PValue
					 FROM SITMesDB.dbo.MMvDefVerPrpVals
					 WHERE (PropertyPK = dbo.GetPkParametroMaterial('Formato_comun_nombre'))) AS FormatoComunDescripcion
					 ON FormatoComunDescripcion.DefVerPK = M.DefVerPK
	ORDER BY L.NumeroLinea

END
GO
