USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_RecalcularStock]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 09-10-2020
-- Description:	Se recalculan las cantidades de stock inicial y final para cada caja 
--				a partir del último ajuste manual
-- =============================================
CREATE PROCEDURE [dbo].[MES_RecalcularStock]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @res1 TABLE (IdFila bigint, IdCaja nvarchar(64))
	DECLARE @res2 TABLE (IdFilaCambio bigint, Id bigint, CantidadMovimiento int, IdMovimiento nvarchar(50))

	INSERT INTO @res1
	SELECT DISTINCT 
		DENSE_RANK() OVER (ORDER BY P.IdCaja) IdFila,
		IdCaja
	FROM ProductosCajas P

	DECLARE @rowCount INT, @idFila BIGINT, @idCaja nvarchar(64), @idAjuste bigint, @fechaMov datetime, 
			@idCajaAjuste nvarchar(64), @cantidadAjuste int, @contFilas int, @filasCambio int, @idFilaCambio bigint,
			@tipoMovimiento int
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(IdFila) FROM @res1)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @idFila = (SELECT MAX(IdFila) FROM @res1)

	WHILE (@rowCount > 0)
	BEGIN
		SELECT 
			@idCaja = IdCaja
		FROM @res1
		WHERE IdFila = @idFila

		SELECT 
			@idAjuste = Id,
			@fechaMov = FechaMovimiento,
			@idCajaAjuste = IdCaja, 
			@cantidadAjuste = CantidadMovimiento
		FROM MovimientosVacio
		WHERE Id = (SELECT MAX(Id) FROM MovimientosVacio 
					WHERE idCaja = @idCaja AND (IdMovimiento = 'AM' OR IdMovimiento = 'STK_JDE'))
		
		IF (@idAjuste IS NOT NULL)
		BEGIN
			INSERT INTO @res2
			SELECT ROW_NUMBER() OVER (ORDER BY M.FechaMovimiento) IdFilaCambio, M.Id, M.CantidadMovimiento, M.IdMovimiento
			FROM MovimientosVacio M
			WHERE M.FechaMovimiento > @fechaMov AND M.IdCaja = @idCajaAjuste

			--SELECT * FROM @res2
			SET @contFilas = 1
			SET @filasCambio = (SELECT COUNT(*) FROM @res2)
			SET @idFilaCambio = (SELECT MIN(IdFilacambio) FROM @res2)

			WHILE @contFilas <= @filasCambio
			BEGIN
				SELECT @tipoMovimiento = Tipo 
				FROM dbo.DescripcionMovimientosVacio
				WHERE IdMovimiento = (SELECT IdMovimiento FROM @res2 where IdFilaCambio = @idFilaCambio)

				IF (@tipoMovimiento = 0) --Resta
				BEGIN
					UPDATE dbo.MovimientosVacio
					SET 
						StockInicial = @cantidadAjuste,
						StockFinal = CASE WHEN @cantidadAjuste - ABS(CantidadMovimiento) < 0 THEN 0 ELSE @cantidadAjuste - ABS(CantidadMovimiento) END
						
					WHERE Id = (SELECT Id FROM @res2 where IdFilaCambio = @idFilaCambio)
				END
				
				IF (@tipoMovimiento = 2) --Suma
				BEGIN
					UPDATE dbo.MovimientosVacio
					SET 
						StockInicial = @cantidadAjuste,
						StockFinal = CASE WHEN @cantidadAjuste + ABS(CantidadMovimiento) < 0 THEN 0 ELSE @cantidadAjuste + ABS(CantidadMovimiento) END
					WHERE Id = (SELECT Id FROM @res2 where IdFilaCambio = @idFilaCambio)
				END

				IF (@tipoMovimiento = 3) --Signo
				BEGIN
					UPDATE dbo.MovimientosVacio
					SET 
						StockInicial = @cantidadAjuste,
						StockFinal = CASE WHEN @cantidadAjuste + CantidadMovimiento < 0 THEN 0 ELSE @cantidadAjuste + CantidadMovimiento END
					WHERE Id = (SELECT Id FROM @res2 where IdFilaCambio = @idFilaCambio)
				END

				SET @cantidadAjuste = (SELECT StockFinal FROM MovimientosVacio 
									   WHERE Id = (SELECT Id FROM @res2 WHERE IdFilaCambio = @idFilaCambio))
				
				SET @idFilaCambio = @idFilaCambio + 1
				SET @contFilas = @contFilas + 1;
			END

			SET @idAjuste = null
			SET @fechaMov = null
			SET @idCajaAjuste = null
			SET @cantidadAjuste = null
			DELETE from @res2
		END

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @idFila = IdFila FROM @res1 WHERE IdFila < @idFila ORDER BY IdFila DESC		
		SET @rowCount = @rowCount - 1
	END
END
GO
