USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GuardarProductosCajas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 02-10-2020
-- Description:	Se guardan los datos necesarios de los productos retornables de tipo caja
-- =============================================
CREATE PROCEDURE [dbo].[MES_GuardarProductosCajas]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @resultado TABLE (IdFila bigint, IdProducto nvarchar(64), DescripcionProducto nvarchar(100), IdCaja nvarchar(64), 
							  DescripcionCaja nvarchar(100))

	DECLARE @cajas TABLE (IdFila bigint, IdCaja nvarchar(64), DescripcionCaja nvarchar(100))

	INSERT INTO @resultado
	SELECT DISTINCT
		DENSE_RANK() OVER (ORDER BY md.DefID) IdFila,
		md.DefID AS IdProducto,
		md.Descript AS DescripcionProducto,
		mf.DefID AS IdCaja,
		bi.ItemAltName AS DescripcionCaja
	FROM SITMesDb.dbo.MMDefinitions md
	INNER JOIN Materiales M ON md.DefID = M.IdMaterial
	INNER JOIN SITMesDb.dbo.MMvBomsWithAlts ba ON md.DefPK = ba.DefPK
	INNER JOIN SITMesDb.dbo.MMBomItemAlts bi ON ba.BomAltPK = bi.BomAltPK
	INNER JOIN SITMesDb.dbo.MMDefinitions mf ON bi.DefPK = mf.DefPK
	INNER JOIN SITMesDb.dbo.MESUoMs uo ON bi.UomPK = uo.UomPK
	WHERE M.Status = 'APPROVED' AND (uo.UomID = 'CJ' OR uo.UomID = 'BR' OR bi.ItemAltName like 'BR%' OR bi.ItemAltName like 'CJ%' OR bi.ItemAltName like 'CV%')

	INSERT INTO @cajas
	SELECT DISTINCT DENSE_RANK() OVER (ORDER BY IdCaja) IdFila, IdCaja, DescripcionCaja 
	FROM @resultado

	DECLARE @rowCount INT, @idFila BIGINT, @IdProducto nvarchar(64), @IdCaja nvarchar(64), @contFilas int, @filas int
	-- Se obtiene el número de filas de la tabla que cumplen la condición
	SET @rowCount = (SELECT COUNT(IdFila) FROM @resultado)
	-- Se obtiene el id de la última fila que vamos a tratar
	SET @idFila = (SELECT MAX(IdFila) FROM @resultado)

	WHILE (@rowCount > 0)
	BEGIN
		SELECT 
			@IdProducto = IdProducto
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.ProductosCajas WHERE IdProducto = @IdProducto)
		BEGIN
			INSERT INTO dbo.ProductosCajas
			SELECT IdProducto, DescripcionProducto, IdCaja, DescripcionCaja FROM @resultado WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			UPDATE P
			SET P.DescripcionProducto = R.DescripcionProducto,
				P.IdCaja = R.IdCaja,
				P.DescripcionCaja = R.DescripcionCaja
			FROM dbo.ProductosCajas P
			INNER JOIN @resultado AS R ON P.IdProducto = R.IdProducto
			WHERE P.IdProducto = @IdProducto
		END

		-- Se pasa a la siguiente iteración
		SELECT TOP 1 @idFila = IdFila FROM @resultado WHERE IdFila < @idFila ORDER BY IdFila DESC		
		SET @rowCount = @rowCount - 1
	END

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @cajas)
	SET @idFila = (SELECT MIN(IdFila) FROM @cajas)

	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@IdCaja = IdCaja
		FROM @cajas
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioMinimosMaximos WHERE CodigoCaja = @IdCaja)
		BEGIN
			INSERT INTO dbo.StockVacioMinimosMaximos
			SELECT IdCaja, DescripcionCaja, 0, 0  FROM @cajas WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			UPDATE S
			SET S.DescripcionCaja = C.DescripcionCaja
			FROM dbo.StockVacioMinimosMaximos S
			INNER JOIN @cajas AS C ON S.CodigoCaja = C.IdCaja
			WHERE S.CodigoCaja = @IdCaja
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
