USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDatosProduccionOrden]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDatosProduccionOrden]
	@ordenId nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	
	BEGIN TRANSACTION;	
				BEGIN
			DECLARE @ID_CLASE_PALETIZADORA AS INT;
			DECLARE @ID_CLASE_ENCAJONADORA AS INT;
			DECLARE @ID_CLASE_EMPAQUETADORA AS INT;
			DECLARE @ID_CLASE_ETIQUETADORA AS INT;
			DECLARE @RechazoslLle INT;
			DECLARE @RechazosInspectorSalidaLlenadora INT;
			DECLARE @RechazosInspectorBotellasVacias INT;
			DECLARE @RechazosClasificadores INT;
			DECLARE @RechazosProductoTerminado INT;
			DECLARE @Picos as INT;
			
			CREATE TABLE #Maquinas (
									Id NVARCHAR(200), 
									IdClase INT, 
									Clase NVARCHAR(100),
									PRIMARY KEY (Id,IdClase),
									UNIQUE(Id)
									)
			CREATE TABLE #RestoMaquinas (
											ID_ORDEN NVARCHAR(4000), 
											CONTADOR_RECHAZOS INT, 
											CLASE NVARCHAR(100),
											CONTADOR_PRODUCCION INT,
											TIEMPO_PLANIFICADO REAL, 
											ID_CLASE INT
										)
			CREATE TABLE #ProduccionLlenadora (
												ID_ORDEN NVARCHAR(4000), 
												TIEMPO_PLANIFICADO REAL, 
												CONTADOR_PRODUCCION INT,
												CONTADOR_RECHAZOS INT
											)

			----------------------------------TABLA TEMPORAL MÁQUINA--------------------------------------------------------------------------
			INSERT INTO #Maquinas (IdClase,Id,Clase)
			SELECT IdClase, Id, Clase FROM Maquinas

			-----------------------------------TABLA TEMPORAL COB RESTO DE MÁQUINAS-----------------------------------------------------------
			INSERT INTO #RestoMaquinas (CONTADOR_RECHAZOS,CLASE,CONTADOR_PRODUCCION,TIEMPO_PLANIFICADO,ID_CLASE,ID_ORDEN)
			SELECT CONTADOR_RECHAZOS, m.Clase,cob.CONTADOR_PRODUCCION,cob.TIEMPO_PLANIFICADO,m.IdClase, cob.ID_ORDEN
			FROM COB_MSM_PROD_RESTO_MAQ_HORA  cob
			INNER JOIN #Maquinas m ON m.Id = cob.ID_MAQUINA 
			where cob.ID_ORDEN = @ordenId and SHC_WORK_SCHED_DAY_PK > 0

			------------------------------------TABLA TEMPORAL COB LLENADORA HORA-------------------------------------------------------------
			INSERT INTO #ProduccionLlenadora (ID_ORDEN, TIEMPO_PLANIFICADO, CONTADOR_PRODUCCION,CONTADOR_RECHAZOS)
			SELECT ID_ORDEN,TIEMPO_PLANIFICADO,CONTADOR_PRODUCCION, CONTADOR_RECHAZOS
			FROM COB_MSM_PROD_LLENADORA_HORA  
			WHERE ID_ORDEN =  @ordenId and SHC_WORK_SCHED_DAY_PK > 0

			----------------------------------------------------------------------------------------------------------------------------------

			SELECT DISTINCT @ID_CLASE_PALETIZADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'PALETIZADORA'

			SELECT DISTINCT @ID_CLASE_ENCAJONADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'ENCAJONADORA'

			SELECT DISTINCT @ID_CLASE_EMPAQUETADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'EMPAQUETADORA'

			SELECT DISTINCT @ID_CLASE_ETIQUETADORA = IdClase
			FROM #Maquinas 
			WHERE Clase = 'ETIQUETADORA_PALETS'

			SELECT @RechazoslLle = SUM(CONTADOR_RECHAZOS)
			FROM #ProduccionLlenadora
	
			SELECT @RechazosClasificadores = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('CLASIFICADOR')
			

			SELECT @RechazosInspectorBotellasVacias = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_BOTELLAS_VACIAS') 

			SELECT @RechazosInspectorSalidaLlenadora = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_SALIDA_LLENADORA')

			SELECT @RechazosProductoTerminado = SUM(resto.CONTADOR_RECHAZOS)
			FROM #RestoMaquinas resto
			where  resto.Clase IN ('INSPECTOR_BOTELLAS_LLENAS', 'BASCULA') 
	
			DECLARE @PicosPalets as INT;
			SELECT @Picos = COALESCE(SUM(Cantidad),0), @PicosPalets = COUNT(IdParticion)
			FROM dbo.Picos
			WHERE IdOrden = @ordenId

			DECLARE @IC as FLOAT;
			DECLARE @Rendimiento as FLOAT;
			DECLARE @OEE as FLOAT;
			SET @IC = dbo.MES_GetICWO(@ordenId);
			SET @Rendimiento = dbo.MES_GetRendimientoWO(@ordenId);
			SET @OEE = dbo.MES_GetOEEWO(@ordenId);

			DECLARE @NOCONFORMIDAD AS INT;
			SELECT @NOCONFORMIDAD = SUM(CANTIDAD_ENVASES)
			FROM [dbo].[COB_MSM_NO_CONFORMIDAD]
			WHERE ID_ORDEN = @ordenId

			SELECT  Orden.Id as IdOrden
					,COALESCE(ConsolidacionEtiquetadoraPalets.PaletsETQProducidos,0) AS PaletsETQProducidos
					,COALESCE(PaletsProducidos,0) AS PaletsProducidos			
					,COALESCE(EnvasesProducidos,0) AS EnvasesProducidos
					,COALESCE(@RechazosInspectorSalidaLlenadora,0) AS RechazosLlenadora
					--,COALESCE(@RechazoslLle + @RechazosInspectorSalidaLlenadora,0) AS RechazosLlenadora
					,COALESCE(@RechazosClasificadores,0) AS RechazosClasificadores
					,COALESCE(@RechazosProductoTerminado,0) AS RechazosProductoTerminado
					,COALESCE(@RechazosInspectorBotellasVacias,0) AS RechazosInspectorBotellasVacias
					,COALESCE(@OEE, 0)  as OEE
					--,COALESCE(TotalEnvases/NULLIF(TiempoPaletera,0) , 0) as VelocidadRealMedia
					,COALESCE(Orden.VelocidadNominal, 0) AS VelocidadNominal
					,COALESCE(TiempoPlanificadoPaletera, 0) AS TiempoPlanificadoPaletera
					,COALESCE(TiempoPlanificadoPaletera, 0) AS TiempoPlanificadoLlenadora
					,COALESCE(ConsolidacionEncajonadora.CajasProducidas, 0) CajasProducidas
					,COALESCE(@Picos, 0) AS PicosCajas --@Picos viene en cajas pasamos a Palets
					,COALESCE(@IC, 0) as IC
					,COALESCE(@PicosPalets, 0) as PicosPalets
					,COALESCE(@NOCONFORMIDAD, 0) AS EnvNoConformidad
					,COALESCE(@Rendimiento * 100, 0) as Rendimiento
			FROM 
				(
					SELECT Id, VelocidadNominal
					FROM Ordenes WHERE Ordenes.Id = @ordenId
				) AS Orden
			LEFT JOIN (SELECT 
						PROD_LLENADORA.ID_ORDEN as IdOrden
						,COALESCE(SUM(PROD_LLENADORA.CONTADOR_PRODUCCION), 0) as EnvasesProducidos
						,COALESCE(SUM(PROD_LLENADORA.TIEMPO_PLANIFICADO), 0) as TiempoPlanificadoLlenadora
				FROM #ProduccionLlenadora PROD_LLENADORA
				GROUP BY ID_ORDEN
				) AS ConsolidacionLle ON ConsolidacionLle.IdOrden = Orden.Id
			LEFT JOIN 
				(SELECT ID_ORDEN as IdOrden,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsProducidos,
						COALESCE(SUM([TIEMPO_PLANIFICADO]), 0) as TiempoPlanificadoPaletera
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE = @ID_CLASE_PALETIZADORA 
				GROUP BY ID_ORDEN
				) AS ConsolidacionPalet 
			ON ConsolidacionPalet.IdOrden = Orden.Id
			LEFT JOIN
				(SELECT ID_ORDEN as IdOrden,	
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as CajasProducidas
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE IN (@ID_CLASE_ENCAJONADORA, @ID_CLASE_EMPAQUETADORA)
				GROUP BY ID_ORDEN
				) AS ConsolidacionEncajonadora 
			ON ConsolidacionEncajonadora.IdOrden = Orden.Id
			LEFT JOIN
				(SELECT ID_ORDEN as IdOrden,
						COALESCE(SUM([CONTADOR_PRODUCCION]), 0) as PaletsETQProducidos
				FROM #RestoMaquinas Resto
				WHERE  Resto.ID_CLASE = @ID_CLASE_ETIQUETADORA
				GROUP BY ID_ORDEN
				) AS ConsolidacionEtiquetadoraPalets
			ON ConsolidacionEtiquetadoraPalets.IdOrden = Orden.Id
	
			END

			DROP TABLE #Maquinas
			DROP TABLE #RestoMaquinas
			DROP TABLE #ProduccionLlenadora
	COMMIT TRANSACTION;	
END
GO
