USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerMensajesDeltaV_Fab]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_ObtenerMensajesDeltaV_Fab] 
	-- Add the parameters for the stored procedure here
	@area varchar(100),
	@anyo varchar(100),
	@numcoc varchar(100),
	@proc varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

   
   DECLARE @SQL AS VARCHAR(1000)

   SET @SQL = 'select distinct * from (SELECT    
   Max(C.[Indice]) Indice
      ,C.[Fabrica]
      ,C.[Modulo]
      ,C.[Lote]
      ,DATEADD(mi, DATEDIFF(mi, GETUTCDATE(), GETDATE()), C.[Fecha]) as Fecha
      ,C.[Dato_Descripcion]
      ,C.[Dato_Valor]
      ,C.[Dato_Unidad]
      ,C.[FracSec]
    FROM SSISDeltaV.dbo.OLTP_'+@area+' C 
	INNER JOIN SSISDeltaV.dbo.OLTP_MODULO M ON C.MODULO like M.DES_MODULO+''%'' AND M.SEGMENTO = '''+@proc+'''
	WHERE OrderID = '+@numcoc+' and year(convert(datetime,Fecha,120))='+@anyo+'
	group by [Fabrica],[Modulo],[Lote],Fecha,[FracSec],[Dato_Descripcion],[Dato_Valor],[Dato_Unidad]) aux order by Fecha,[FracSec] asc'

	PRINT(@SQL)
	EXEC (@SQL)

END
GO
