USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParticionesLineaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 06-05-2020
-- Description:	Se obtienen las particiones de una línea y turno concreto
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParticionesLineaTurno]
	@linea nvarchar(200),
	@fechaInicio datetime,
	@fechaFin datetime
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		Particiones.*,
		Productos.IdProducto,
		Productos.Descripcion AS Producto
	FROM Particiones
	LEFT JOIN Productos ON Productos.IdProducto = Particiones.IdProducto
	WHERE 
		Particiones.Linea = @linea AND 
		Particiones.EstadoAct NOT IN ('Cerrada', 'Cancelada', 'Creada', 'Planificada') AND
		((FecIniReal >= @fechaInicio and FecIniReal <= @fechaFin) OR
		(isnull(FecFinReal, getdate()) >= @fechaInicio and isnull(FecFinReal, getdate()) <= @fechaFin) OR
		(FecIniReal<= @fechaInicio and isnull(FecFinReal, getdate()) >= @fechaFin))
END
GO
