USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_DeslizanteTomarInstantanea]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 27-02-2020
-- Description:	Para tomar una nueva instantanea del deslizante
-- =============================================
CREATE PROCEDURE [dbo].[MES_DeslizanteTomarInstantanea]
	@numSemanas INT = NULL,
	@tipo NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;

	IF @numSemanas IS NULL
		SET @numSemanas = (SELECT TOP 1 semanas FROM dbo.DeslizanteGeneral)

	DECLARE @fecha DATETIME = GETDATE()
	DECLARE @fechaInicial DATETIME, @anioInicial INT, @semanaInicial INT
	DECLARE @fechaFinal DATETIME, @anioFinal INT, @semanaFinal INT

	SET @fechaInicial = DATEADD(day, 7, @fecha);
	SET @anioInicial = YEAR(@fechaInicial);
	SET @semanaInicial = DATEPART(ISOWK, @fechaInicial);
	SET @fechaFinal = DATEADD(week, @numSemanas - 1, @fechaInicial);
	SET @anioFinal = YEAR(@fechaFinal);
	SET @semanaFinal = DATEPART(ISOWK, @fechaFinal);

	BEGIN TRY
		-- Iniciar la transaccion
		BEGIN TRANSACTION;

		-- Crear Instantanea
		INSERT INTO dbo.[DeslizanteInstantaneas] ([fecha], [fechaInicial], [numAnyoInicial], [numSemanaInicial], [fechaFinal], [numAnyoFinal], [numSemanaFinal], [tipo]) 
		SELECT @fecha, 
			@fechaInicial, 
			@anioInicial,
			@semanaInicial,
			@fechaFinal, 
			@anioFinal,
			@semanaFinal,
			@tipo
		FROM dbo.SEMANAS sIni
		INNER JOIN dbo.SEMANAS sFin ON DATEADD(dd, DATEDIFF(dd, 0, @fechaFinal), 0) BETWEEN sFin.INICIO AND sFin.FIN
		WHERE DATEADD(dd, DATEDIFF(dd, 0, @fechaInicial), 0) BETWEEN sIni.INICIO AND sIni.FIN
	
		-- Insertamos los datos en la instantanea creada
		DECLARE @idIns INT = SCOPE_IDENTITY()

		IF @anioInicial = @anioFinal
		BEGIN
			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [idCzaEnv], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS idIns,
				d.Item,
				d.Descripcion,
				d.Anio,
				d.Semana,
				d.Cantidad,
				0
			FROM dbo.DeslizanteCerveza d
			WHERE d.Semana >= @semanaInicial AND d.Semana <= @semanaFinal 

			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [linea], [formato], [idPaleta], [idItem], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS [idIns],
				e.Linea,
				e.Formato,
				e.Paleta,
				e.Item,
				e.Descripcion,
				e.Anio,
				e.Semana,
				e.Cantidad,
				1
			FROM dbo.DeslizanteEnvasado e
			WHERE e.Semana >= @semanaInicial AND e.Semana <= @semanaFinal

			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [linea], [formato], [idPaleta], [idItem], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS [idIns],
				h.Linea,
				h.Formato,
				h.Paleta,
				h.Item,
				h.Descripcion,
				h.Anio,
				h.Semana,
				h.Cantidad,
				2
			FROM dbo.DeslizanteEnvasadoHl h
			WHERE h.Semana >= @semanaInicial AND h.Semana <= @semanaFinal
		END
		ELSE
		BEGIN
			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [idCzaEnv], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS idIns,
				d.Item,
				d.Descripcion,
				d.Anio,
				d.Semana,
				d.Cantidad,
				0
			FROM dbo.DeslizanteCerveza d
			WHERE (d.Semana >= @semanaInicial AND d.Anio = @anioInicial) OR (d.Semana <= @semanaFinal AND d.Anio = @anioFinal) 

			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [linea], [formato], [idPaleta], [idItem], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS [idIns],
				e.Linea,
				e.Formato,
				e.Paleta,
				e.Item,
				e.Descripcion,
				e.Anio,
				e.Semana,
				e.Cantidad,
				1
			FROM dbo.DeslizanteEnvasado e
			WHERE (e.Semana >= @semanaInicial AND e.Anio = @anioInicial) OR (e.Semana <= @semanaFinal AND e.Anio = @anioFinal) 

			INSERT INTO dbo.[DeslizanteDatosInstantaneas]([idIns], [linea], [formato], [idPaleta], [idItem], [descripcion], [anio], [semana], [cantidad], [vista])
			SELECT
				@idIns AS [idIns],
				h.Linea,
				h.Formato,
				h.Paleta,
				h.Item,
				h.Descripcion,
				h.Anio,
				h.Semana,
				h.Cantidad,
				2
			FROM dbo.DeslizanteEnvasadoHl h
			WHERE (h.Semana >= @semanaInicial AND h.Anio = @anioInicial) OR (h.Semana <= @semanaFinal AND h.Anio = @anioFinal)
		END

	END TRY
	BEGIN CATCH
		SELECT
			ERROR_NUMBER() AS ErrorNumber
			,ERROR_SEVERITY() AS ErrorSeverity
			,ERROR_STATE() AS ErrorState
			,ERROR_PROCEDURE() AS ErrorProcedure
			,ERROR_LINE() AS ErrorLine
			,ERROR_MESSAGE() AS ErrorMessage;

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;
	END CATCH;

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION;
END
GO
