USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_UpdateFechaBiasTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_UpdateFechaBiasTurno]
	@workDateBias AS SMALLINT,
	@startDateBias AS SMALLINT,
	@endDateBias AS SMALLINT,
	@IdTurno AS INT
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
	   SET work_date_bias = @workDateBias,
		   work_start_bias = @startDateBias,
		   work_end_bias = @endDateBias
	 WHERE shc_work_sched_day_pk = @IdTurno

	COMMIT TRANSACTION; 
END
GO
