USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_SetFechaTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[MES_SetFechaTurno]
@fecha AS DATETIME,
@idTurno AS INT
AS
BEGIN


IF (@idTurno > 0)
BEGIN
UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
   SET [work_date] = @fecha
   OUTPUT DELETED.shc_work_sched_day_pk, DELETED.work_date AS work_date_old, INSERTED.work_date AS work_date_new
 WHERE shc_work_sched_day_pk = @idTurno
END

END
GO
