USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerHistoricoOrdenes_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Alexis
-- Create date: 23/03/2020
-- Modified date: 03/03/2020
-- Modified Author : Juan Carlos Gómez
-- Description:	Obtiene las ordenes activas de fabricación
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerHistoricoOrdenes_FAB]
	@tipo as nvarchar(200)
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION

SELECT DISTINCT
		Orden.Pk					AS Pk,
		Orden.Id					AS Id,
		Orden.Descripcion	AS Descripcion,
		IIF(Orden.Recalcular = '1', 'RECALCULAR', FAB.pom_order_status_id)			AS IdEstado,
		IIF(Orden.Recalcular = '1', 'Naranja',CASE FAB.pom_order_status_id  WHEN 'Terminated' THEN 'Verde'
											  ELSE 'Azul' END)	AS semaforoWo,
		Orden.CodMaterial +' - '+ Orden.DesMaterial AS Material,
		Orden.FechaInicioEstimadoLocal	AS FechaInicioEstimadoUTC,
		Orden.FechaFinEstimadoLocal		AS FechaFinEstimadoUTC,
		Orden.FechaInicioRealLocal		AS FechaInicioRealUTC,
		Orden.FechaFinRealLocal			AS FechaFinRealUTC,
		CASE
		WHEN  VAL.ACTL_VAL != ''  THEN  CAST(Round(REPLACE(VAL.ACTL_VAL, ',', '.'), 2, 0) AS NVARCHAR(50))+ Orden.UoMMaterial
		ELSE COALESCE(CAST(Round(Orden.CantidadMaterial, 2, 0) as Nvarchar(50)) + Orden.UoMMaterial , '---'+ Orden.UoMMaterial) END  AS CantidadMaterial,
		Orden.Tipo					AS TipoOrden,
		COALESCE(Orden.Equipo,'')	AS Ubicacion,
		CASE
		WHEN (CAST(COALESCE(Orden.KopsMultivalorSinRellenar,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteSinRellenar,1)AS BIT) = 1) THEN 'INEXISTENTE'
		WHEN (CAST(COALESCE(Orden.KopsMultivalorFueraRango,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteFueraRango,1)AS BIT) = 1) THEN 'MALO' 
		ELSE 'BUENO'
		END AS filtroSemaforo,
		CASE
		WHEN (CAST(COALESCE(Orden.KopsMultivalorSinRellenar,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteSinRellenar,1)AS BIT) = 1) THEN 'Azul'
		WHEN (CAST(COALESCE(Orden.KopsMultivalorFueraRango,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteFueraRango,1)AS BIT) = 1) THEN 'Amarillo' 
		WHEN (Orden.Recalcular = 1) THEN 'Naranja' 
		ELSE 'Verde'
		END AS ColorSemaforo ,
		CASE
		WHEN (CAST(COALESCE(Orden.KopsMultivalorSinRellenar,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteSinRellenar,1)AS BIT) = 1) THEN (CAST(0 AS BIT))
		WHEN (CAST(COALESCE(Orden.KopsMultivalorFueraRango,1) AS BIT) = 1 OR CAST(COALESCE(Orden.KopsConstanteFueraRango,1)AS BIT) = 1) THEN (CAST(0 AS BIT))
		WHEN (Orden.Recalcular = 1) THEN (CAST(1 AS BIT))
		ELSE (CAST(1 AS BIT))
		END AS CerrarOrden,
		CAST(COALESCE(Orden.KopsMultivalorSinRellenar,1) AS BIT) AS KopsMultivalorSinRellenar,
		CAST(COALESCE(Orden.KopsMultivalorFueraRango,1)AS BIT) AS KopsMultivalorFueraRango
	 FROM 
		Orden_Procesada_FAB AS Orden
		INNER JOIN SITMesDB.dbo.POMV_ORDR AS FAB ON FAB.pom_order_pk = Orden.pk
		LEFT JOIN SITmesDB.dbo.POMV_ETRY_PCS_PARM AS KOP ON KOP.pom_order_id = Orden.Id AND KOP.description like 'COC045%'
		LEFT JOIN SITmesDB.DBO.POMV_PCS_PARM_ACTL_VAL AS VAL ON KOP.pom_process_segment_parameter_pk = VAL.PARM_PK AND VAL.ACTL_VAL != ''
	WHERE 
		FAB.pom_order_status_id = 'Terminated'
		AND 
		(Orden.Tipo = @tipo OR @tipo IS NULL)

COMMIT TRANSACTION; 

END
GO
