USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MSM-UPDATE-SHC_WORK_SCHED_DAY]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MSM-UPDATE-SHC_WORK_SCHED_DAY] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
	   SET [shc_working_time_id] = 1
		  ,[shc_shift_id] = 1
	Where [shc_working_time_id] = 4 or [shc_shift_id] = 4 

	UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
	   SET [shc_working_time_id] = 2
		  ,[shc_shift_id] = 2
	Where [shc_working_time_id] = 5 or [shc_shift_id] = 5 

	UPDATE [SITMesDB].[dbo].[SHC_WORK_SCHED_DAY]
	   SET [shc_working_time_id] = 3
		  ,[shc_shift_id] = 3
	Where [shc_working_time_id] = 6 or [shc_shift_id] = 6 
END
GO
