USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[Informe_ANA_4_ObtenerParosMaquina]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[Informe_ANA_4_ObtenerParosMaquina]
	-- Add the parameters for the stored procedure here
     @Linea nvarchar(255),
	 @desde bigint,
	 @hasta bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			SET LANGUAGE SPANISH;
	SET DATEFORMAT DMY;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;

	DECLARE @turno int
	DECLARE @d DATETIME
	DECLARE @h DATETIME

	SET @d = DATEADD(s, @desde, '19700101')
	SET @h = DATEADD(s, @hasta, '19700101')

	SELECT
		@turno = Id
	FROM Turnos
	WHERE [Linea] = @Linea AND InicioTurno BETWEEN @d AND @h AND FinTurno BETWEEN @d AND @h AND LOWER(Turno) <> 'nowork'
	ORDER BY InicioTurno

	DECLARE @IdTipoParoMayor AS INT;
	DECLARE @IdTipoParoMenor AS INT;

	SELECT
		@IdTipoParoMenor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Pérdida de producción'

	SELECT
		@IdTipoParoMayor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Paro Mayor'


	SELECT
		pp.EquipoDescripcion as MaquinaCausaNombre
		,CAST(ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMayor) THEN pp.DuracionParoMayor
		END), 0) AS BIGINT) AS DuracionParoMayor
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.DuracionParosMenores
		END), 0) AS DuracionParoMenor
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.DuracionBajaVelocidad
		END), 0) AS DuracionBajaVelocidad
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.Duracion
		END), 0) AS DuracionPerdidaProduccion
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMayor) THEN 1
		END), 0) AS NumeroParoMayor
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.NumeroParosMenores
		END), 0) AS NumeroParoMenor
	FROM [dbo].[ParosPerdidas] pp
	INNER JOIN Turnos t ON t.Id = pp.Turno
	INNER JOIN Maquinas m ON m.Id = pp.EquipoId
	WHERE t.id = @turno
	GROUP BY pp.EquipoDescripcion

--Select  --substring(P.EquipoId,charindex('-EQ-',P.EquipoId)+4,6) as
--isnull(P.EquipoDescripcion,'Sin definir') as MaquinaCausaNombre , 
--    sum(case when P.IdTipoParoPerdida = 1 then 1 else 0 end) as NumeroParoMayor,
--	sum(case when P.IdTipoParoPerdida = 1 then P.DuracionParoMayor else 0 end) as DuracionParoMayor,
--	sum(case when P.IdTipoParoPerdida = 2 then P.DuracionParosMenores+P.DuracionBajaVelocidad else 0 end) as DuracionPerdidaProduccion,
--	sum(case when P.IdTipoParoPerdida = 2 AND DuracionParosMenores>0 then 1 else 0 end) as NumeroParoMenor,
--	sum(case when P.IdTipoParoPerdida = 2 then P.DuracionParosMenores else 0 end) as DuracionParoMenor,
--	sum(case when P.IdTipoParoPerdida = 2 AND P.DuracionBajaVelocidad>0 then 1 else 0 end) as NumeroBajaVelocidad,
--	sum(case when P.IdTipoParoPerdida = 2 then P.DuracionBajaVelocidad else 0 end) as DuracionBajaVelocidad
--From dbo.ParosPerdidas P
--INNER JOIN DBO.Maquinas M ON P.EquipoId = M.Id
--where P.EquipoId is not null and M.Linea = @Linea and M.Clase='LLENADORA'
--	 and @desde <= datediff(s, '1970-1-1' ,P.Inicio) 
--	 and @hasta >= datediff(s, '1970-1-1' ,P.Inicio) 
--group by P.EquipoDescripcion
commit TRANSACTION
END


/****** Object:  StoredProcedure [dbo].[Informe_ANA_6_ObtenerOEEs]    Script Date: 01/06/2016 12:18:34 ******/
SET ANSI_NULLS ON
GO
