USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerDetalleFiltracion_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerDetalleFiltracion_FAB] 
	-- Add the parameters for the stored procedure here
	@idProducto INT,
	@turnos INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	  -- =============================================
-- SE OBTIENE LAS HORAS DE DIFERENCIA SEGUN 
-- LA CANTIDAD DE TURNOS RECIBIDOS
-- 
-- =============================================

	DECLARE @DiferenciaHorasTurnos INT
	DECLARE @HorasDiferencia INT
	DECLARE @fechaInicio DATETIME
	DECLARE @fechaFin DATETIME

	SELECT @DiferenciaHorasTurnos = TABLA_AVG.AVG_DIF
	FROM
	(SELECT  AVG(FECHA.DIFERENCIA) AVG_DIF
		FROM 
		(SELECT TOP 3  DATEDIFF(HOUR,Inicio,Fin) DIFERENCIA
			FROM [dbo].[TiposTurno]
		) FECHA
	) TABLA_AVG

	SET @HorasDiferencia = @DiferenciaHorasTurnos * @turnos

	SET @fechaInicio = GETDATE()
	SET @fechaFin = DATEADD(HOUR,@HorasDiferencia,GETDATE())


   SELECT 
		LINEAS.NumeroLinea,
		'L'+ CAST(LINEAS.NumeroLinea AS VARCHAR(50)) LINEA_ENVASADO,
		CASE WHEN SUM(TABLA_EXISTENCIA.Existencia) IS NULL THEN  
			CASE WHEN SUM(TABLA_FILTRACION.CantidadPlanificada) IS NULL 
				THEN 
					0 
				ELSE 
					SUM(TABLA_FILTRACION.CantidadPlanificada) 
			END
		ELSE 
			CASE WHEN SUM(TABLA_FILTRACION.CantidadPlanificada) IS NULL 
				THEN 
					CONVERT(FLOAT,SUM(TABLA_EXISTENCIA.Existencia)) 
				ELSE 
					CONVERT(FLOAT,SUM(TABLA_EXISTENCIA.Existencia)) + CONVERT(FLOAT,SUM(TABLA_FILTRACION.CantidadPlanificada)) 
			END  
		END * SUM(TABLA_FILTRACION.HectolitrosProducto) as Existencia,
		SUM(TABLA_FILTRACION.HectolitrosProducto) HectolitrosProducto,
		CASE WHEN SUM(TABLA_FILTRACION.Necesidad) IS NULL 
			THEN 
				0 
			ELSE SUM(TABLA_FILTRACION.Necesidad) 
		END NECESIDAD,
		CASE WHEN SUM(TABLA_EXISTENCIA.RENDIMIENTO_LINEA) > 0 
			THEN 
				CASE WHEN SUM(TABLA_FILTRACION.Necesidad) IS NULL 
					THEN 
						0 
					ELSE 
						(SUM(TABLA_FILTRACION.Necesidad) * 100)/SUM(TABLA_EXISTENCIA.RENDIMIENTO_LINEA) 
				END 
			ELSE 
				0 
		END AS FILTRACIONES
		 FROM (
--============================CONSULTA NECESIDAD SEGUN LINEA==================================================================

	SELECT 
		TABLA_Orden.NumeroLinea,
		SUM(TABLA_Orden.Necesidad) Necesidad,
		SUM(CantidadPlanificada) CantidadPlanificada,
		SUM(TABLA_Orden.HectolitrosProducto) HectolitrosProducto,
		SUM(TABLA_Orden.EnvasesPorPalet) EnvasesPorPalet
	FROM
	(
		select DISTINCT 
			L.NumeroLinea, 
			CASE WHEN SUM(CantidadProducida) IS NULL 
			THEN  
				SUM(CantidadPlanificada)*SUM(EnvasesPorPalet) 
			ELSE 
				CASE WHEN SUM(CantidadProducida) < SUM(CantidadPlanificada) 
								THEN
									SUM(CantidadPlanificada)*SUM(EnvasesPorPalet)-SUM(CantidadProducida)*SUM(EnvasesPorPalet) 
								ELSE
									0
							END
		 END *SUM(HectolitrosProducto) Necesidad,
			SUM(CantidadPlanificada)*SUM(EnvasesPorPalet) as CantidadPlanificada,
			CASE WHEN SUM(HectolitrosProducto) IS NULL THEN 0 ELSE SUM(HectolitrosProducto) END AS HectolitrosProducto,
			SUM(EnvasesPorPalet) EnvasesPorPalet
		from Ordenes O
		INNER JOIN LINEAS L ON L.ID = O.Linea
		WHERE 
			EstadoAct IN ('Creada', 'Iniciando','Producción' ,'Finalizando')
			AND O.IdProducto = @idProducto
			AND FecIniEstimada between @fechaInicio and  @fechaFin
		GROUP BY L.NumeroLinea
	) AS TABLA_Orden
	GROUP BY TABLA_Orden.NumeroLinea
--===========================================================================================================================
) AS TABLA_FILTRACION
RIGHT JOIN 
(
--==============================CONSULTA RENDIMIENTO SEGUN LINEA Y TCP ======================================================

	SELECT 
		LINEAS.NumeroLinea,
		CASE WHEN TABLA_EXISTENCIA.Rendimiento IS NULL THEN 0 ELSE TABLA_EXISTENCIA.Rendimiento END AS RENDIMIENTO_LINEA,
		SUM(TABLA_EXISTENCIA.Existencia) Existencia
	 FROM
	(SELECT 
		Linea_Rendimiento.NumeroLinea,
		Linea_TCP.IdTCP, 
		Linea_Rendimiento.Rendimiento,
		CASE WHEN SUM(Tabla_lote.Quantity) IS NULL THEN 0 ELSE SUM(Tabla_lote.Quantity) END  Existencia
	FROM COB_MSM_LINEA_TCP Linea_TCP	
	INNER JOIN COB_MSM_LINEA_RENDIMIENTO Linea_Rendimiento
	ON Linea_TCP.IdLinea = Linea_Rendimiento.NumeroLinea
	LEFT JOIN  [dbo].[LoteUbicacionMaterial_FAB] Tabla_lote 
	ON Tabla_lote.LOCID = Linea_TCP.IdTCP

	GROUP BY 	Linea_Rendimiento.NumeroLinea,Linea_TCP.IdTCP, Linea_Rendimiento.Rendimiento
	) AS TABLA_EXISTENCIA
	RIGHT JOIN LINEAS ON LINEAS.NumeroLinea = TABLA_EXISTENCIA.NumeroLinea
	RIGHT JOIN Ordenes O ON LINEAS.ID = O.Linea
		WHERE 
	  --Tabla_lote.LastUpdate >= GETDATE()
		EstadoAct IN ('Creada', 'Iniciando','Producción' ,'Finalizando')
			AND O.IdProducto = @idProducto
			AND FecIniEstimada between @fechaInicio and  @fechaFin

	 GROUP BY LINEAS.NumeroLinea, TABLA_EXISTENCIA.RENDIMIENTO
--=====================================================================================================================================
) AS TABLA_EXISTENCIA ON TABLA_EXISTENCIA.NumeroLinea = TABLA_FILTRACION.NumeroLinea
RIGHT JOIN LINEAS ON LINEAS.NumeroLinea = TABLA_EXISTENCIA.NumeroLinea
GROUP BY LINEAS.NumeroLinea

ORDER BY LINEAS.NumeroLinea
END
GO
