USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[SIT_EjecutarJobInterfazCreacionWoMesEnJde]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		DSG
-- Create date: 28/02/2020
-- Description:	Procedimiento almacenado para ejecutar desde SIT el job InterfazCreacionWoMesEnJde
-- =============================================
CREATE PROCEDURE [dbo].[SIT_EjecutarJobInterfazCreacionWoMesEnJde]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	EXEC msdb.dbo.sp_start_job 'InterfazCreacionWoMesEnJde'
END
GO
