USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParosPerdidasTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParosPerdidasTurno] 
	-- Add the parameters for the stored procedure here
	@idTurno as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;
	--SELECT
	--	m.Nombre
	--	,CMH.HORA
	--	,COALESCE(SUM(CMH.TIEMPO_PLANIFICADO) - SUM(CMH.TIEMPO_OPERATIVO),0) AS DuracionParoMayor
	--	,COALESCE(SUM(CMH.TIEMPO_OPERATIVO) - SUM(CMH.TIEMPO_BRUTO),0) AS DuracionParosMenores
	--	,COALESCE(SUM(CMH.TIEMPO_BRUTO) - SUM(CMH.TIEMPO_NETO),0) AS DuracionBajaVelocidad
	--	,COALESCE(SUM(CMH.TIEMPO_OPERATIVO) - SUM(CMH.TIEMPO_NETO),0) AS DuracionPerdidaProduccion
	--FROM dbo.COB_MSM_PROD_LLENADORA_HORA CMH
	--INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	--INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	--WHERE t.id = @idTurno
	--GROUP BY ID_MAQUINA, m.Nombre, CMH.HORA


	DECLARE @INISQL AS NVARCHAR(MAX)='SELECT NOMBRE, HORA, SUM(DuracionParoMayor) AS DuracionParoMayor, 0 AS DuracionParosMenores, 0 AS DuracionBajaVelocidad,SUM(DuracionPerdidaProduccion) AS DuracionPerdidaProduccion
	 FROM ( '

	 DECLARE POINT CURSOR FOR
	 SELECT DISTINCT NOMBRE FROM MAQUINAS M INNER JOIN TURNOS T ON T.Linea = M.Linea AND T.ID=@idTurno AND M.CLASE='LLENADORA'
	 
	 DECLARE @IDMAQUINA AS VARCHAR(100)

	 OPEN POINT

	 FETCH NEXT FROM POINT INTO @IDMAQUINA
	 DECLARE @I AS INT = 0
	 WHILE @@fetch_status=0
	 BEGIN

	 IF @I<>0
		 SET @INISQL += ' UNION ALL '
	 ELSE
		 SET @I+=1 

	 SET @INISQL += ' select '''+@IDMAQUINA+''' AS Nombre, DATEPART(HOUR, INICIO) AS HORA, SEGUNDOS AS DuracionParoMayor,  0 AS DuracionParosMenores,
			0 AS DuracionBajaVelocidad, 0 AS DuracionPerdidaProduccion
			from [dbo].[ParosPerdidasHorasTurnoMaquina]('+CONVERT(VARCHAR(100),@idTurno)+','''+@IDMAQUINA+''',0) 
			UNION ALL 
			select '''+@IDMAQUINA+''' AS Nombre, DATEPART(HOUR, INICIO) AS HORA, 0 AS DuracionParoMayor,  0 AS DuracionParosMenores,
			0 AS DuracionBajaVelocidad, SEGUNDOS AS DuracionPerdidaProduccion
			from [dbo].[ParosPerdidasHorasTurnoMaquina]('+CONVERT(VARCHAR(100),@idTurno)+','''+@IDMAQUINA+''',1) '

	 FETCH NEXT FROM POINT INTO @IDMAQUINA
	 END

	 CLOSE POINT
	 DEALLOCATE POINT

	 SET @INISQL +=' ) TB
	GROUP BY NOMBRE, HORA
	UNION 
	SELECT
		m.Nombre
		,CMH.HORA
		,COALESCE(SUM(CMH.TIEMPO_PLANIFICADO) - SUM(CMH.TIEMPO_OPERATIVO),0) AS DuracionParoMayor
		,COALESCE(SUM(CMH.TIEMPO_OPERATIVO) - SUM(CMH.TIEMPO_BRUTO),0) AS DuracionParosMenores
		,COALESCE(SUM(CMH.TIEMPO_BRUTO) - SUM(CMH.TIEMPO_NETO),0) AS DuracionBajaVelocidad
		,COALESCE(SUM(CMH.TIEMPO_OPERATIVO) - SUM(CMH.TIEMPO_NETO),0) AS DuracionPerdidaProduccion
	FROM dbo.COB_MSM_PROD_RESTO_MAQ_HORA CMH
	INNER JOIN Maquinas m ON m.Id = CMH.ID_MAQUINA
	INNER JOIN Turnos t ON CMH.SHC_WORK_SCHED_DAY_PK = t.Id
	WHERE t.id = '+CONVERT(VARCHAR(100),@idTurno)+'
	GROUP BY ID_MAQUINA, m.Nombre, CMH.HORA
	ORDER BY Nombre, HORA'

	PRINT(@INISQL)
	EXEC(@INISQL)

COMMIT TRANSACTION;
END
GO
