USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[NOT_CambiosTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- ==================================================
-- Author:		Leandro
-- Create date: 28/08/2015
-- Description:	Comprueba si ha habido un cambio de turno
--				para una fecha y hora determinada
-- ==================================================
CREATE PROCEDURE [dbo].[NOT_CambiosTurno]
@fechaHora AS DATETIME,
@idPlanta AS NVARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	
	BEGIN TRANSACTION;	
		DECLARE @fechaHoraLocal as datetime = DATEADD(HOUR,DATEDIFF(HOUR,GETUTCDATE(),GETDATE()), @fechaHora)
		DECLARE @fechaTurno as DateTime;
		DECLARE @fechaFinNoche as datetime;
		DECLARE @tipoTurno int;

		SELECT
			@fechaFinNoche = DATEADD(MINUTE, -(Bias), Fin)
		FROM TiposTurno
		WHERE Id = 3
		
		IF(CONVERT(TIME,@fechaHoraLocal) >= '00:00' AND CONVERT(TIME,@fechaHoraLocal) < CONVERT(TIME,@fechaFinNoche))
		BEGIN
			SET @fechaTurno = DATEADD(DAY, -1, CONVERT(DATETIME, CONVERT(DATE, @fechaHoraLocal)))
		END
		ELSE
		BEGIN
			SET @fechaTurno = CONVERT(DATETIME, CONVERT(DATE, @fechaHoraLocal))
		END

		SELECT
			@tipoTurno = MAX(Id)
		FROM 
			(SELECT
				tt.Id
			   ,DATEADD(MINUTE, -(tt.Bias), CONVERT(DATETIME, @fechaTurno + CAST(CONVERT(TIME, tt.Inicio) AS DATETIME)))
				AS InicioTeorico
			   ,CASE
					WHEN tt.Id = '3' THEN DATEADD(MINUTE, -(tt.Bias), DATEADD(DAY, 1, @fechaTurno) + CAST(CONVERT(TIME, tt.Fin) AS DATETIME))
					ELSE DATEADD(MINUTE, -(tt.Bias), CONVERT(DATETIME, @fechaTurno + CAST(CONVERT(TIME, tt.Fin) AS DATETIME)))
				END AS FinTeorico
			FROM TiposTurno tt
			WHERE Id IN (1, 2, 3)) Turnos
		WHERE @fechaHoraLocal >= Turnos.InicioTeorico
		AND @fechaHora <= FinTeorico

		SELECT Lineas.Id as Linea,Turnos.Id as IdTurno,Fecha,InicioTurno,FinTurno,IdTipoTurno,Turno
		FROM Lineas 
		LEFT JOIN (SELECT Linea,Id,Fecha,InicioTurno,FinTurno,IdTipoTurno,Turno FROM Turnos WHERE Fecha = @fechaTurno and IdTipoTurno = @tipoTurno) As Turnos
		ON Lineas.Id = Turnos.Linea 
		LEFT JOIN TiposTurno tt on tt.Id = Turnos.IdTipoTurno
		
		WHERE Lineas.EquipoSuperior = @idPlanta
		
		ORDER BY Linea ASC;
				
	COMMIT TRANSACTION;
END
GO
