USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerValoresHistorianByList_FAB]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_ObtenerValoresHistorianByList_FAB]
	-- Add the parameters for the stored procedure here
	@nombreKOP varchar(max),
	@fechaini nvarchar(max),
	@fechafin nvarchar(max),
	@pivotValues nvarchar(max),
	@pivotSelect nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	declare @sql nvarchar(max);
	set @sql=''

	if (@pivotValues <> '' and @pivotSelect <> '')
	begin	
		set @sql='IF ('+@fechaini+'>-1)
				  BEGIN			 
						SELECT RowUpdated,'+ @pivotSelect +' 
						FROM (SELECT 
							  [TagID],[Value],CONVERT(VARCHAR(10),RowUpdated, 103) + '' '' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated
							  FROM [PPA].[dbo].[RPT_MGR_REALTIMEINTArchive] 
							  WHERE [TagID] in (SELECT Max([TagID]) TagID FROM [PPA].[dbo].[TAG]
												WHERE ('+@nombreKOP+') AND IsThreshold = 1 GROUP BY TagName) AND [Time] between '+ @fechaini+' AND '+@fechafin+'
							  UNION ALL					
							  SELECT 
							  [TagID],[Value],CONVERT(VARCHAR(10),RowUpdated, 103) + '' '' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated
							  FROM [PPA].[dbo].[RPT_MGR_INTArchive] 
							  WHERE [TagID] in (SELECT Max([TagID]) TagID FROM [PPA].[dbo].[TAG]
												WHERE ('+@nombreKOP+') AND IsThreshold = 1 GROUP BY TagName) AND [Time] between '+ @fechaini+' AND '+@fechafin+'
							  UNION ALL					
							  SELECT 
							  [TagID],[Value],CONVERT(VARCHAR(10),RowUpdated, 103) + '' '' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated
							  FROM [PPA].[dbo].[RPT_MGR_FLOATArchive] 
							  WHERE [TagID] in (SELECT Max([TagID]) TagID FROM [PPA].[dbo].[TAG]
												WHERE ('+@nombreKOP+') AND IsThreshold = 1 GROUP BY TagName) AND [Time] between '+ @fechaini+' AND '+@fechafin+'																														
							  UNION ALL					
							  SELECT 
							  [TagID],[Value],CONVERT(VARCHAR(10),RowUpdated, 103) + '' '' + CONVERT(VARCHAR(100),RowUpdated,108) as RowUpdated
							  FROM [PPA].[dbo].[RPT_MGR_REALTIMEFLOATArchive] 
							  WHERE [TagID] in (SELECT Max([TagID]) TagID FROM [PPA].[dbo].[TAG]
												WHERE ('+@nombreKOP+') AND IsThreshold = 1 GROUP BY TagName) AND [Time] between '+ @fechaini+' AND '+@fechafin+') aux	  
						Pivot(avg(Value) for TagID  in( '+@pivotValues+')) as Medida
						ORDER BY RowUpdated
				  END'
		print @sql		
	end	
	exec sp_sqlexec @sql
END
GO
