USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerParosPerdidasTotalesLLenadoraTurno]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerParosPerdidasTotalesLLenadoraTurno] 
	-- Add the parameters for the stored procedure here
	@idTurno as int
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
BEGIN TRANSACTION;

	DECLARE @IdTipoParoMayor AS INT;
	DECLARE @IdTipoParoMenor AS INT;

	SELECT
		@IdTipoParoMenor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Pérdida de producción'

	SELECT
		@IdTipoParoMayor = ID_PARO
	FROM COB_MSM_PAROS
	WHERE DESC_PARO = 'Paro Mayor'


	SELECT
		m.Nombre
		,CAST(ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMayor) THEN pp.DuracionParoMayor
		END), 0) AS BIGINT) AS DuracionParoMayor
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.DuracionParosMenores
		END), 0) AS DuracionParosMenores
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.DuracionBajaVelocidad
		END), 0) AS DuracionBajaVelocidad
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.Duracion
		END), 0) AS DuracionPerdidaProduccion
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMayor) THEN 1
		END), 0) AS NumParosMayores
		,ISNULL(SUM(CASE
			WHEN (pp.IdTipoParoPerdida = @IdTipoParoMenor) THEN pp.NumeroParosMenores
		END), 0) AS NumParosMenores
	FROM [dbo].[ParosPerdidas] pp
	INNER JOIN Turnos t ON t.Id = pp.Turno
	INNER JOIN Maquinas m ON m.Id = pp.EquipoId
	WHERE t.id = @idTurno
	GROUP BY m.Nombre
COMMIT TRANSACTION; 
END
GO
