USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerPrevisionTransferenciaSalida]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Roberto Cristina Fernández
-- Create date: 27-04-2021
-- Description:	Se obtienen los datos de previsión de Transferencia de Salida (M7S)
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerPrevisionTransferenciaSalida]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @codigoPlanta AS nvarchar(4)
	SET @codigoPlanta = dbo.MES_ObtenerCodigoPlanta()

	DECLARE @fechaIni date = (SELECT GETDATE())
	DECLARE @fechaFin date = (SELECT DATEADD(DAY, 30, GETDATE()))
	
	DECLARE @inicial TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	
	DECLARE @diaJulianoIni nvarchar(6) = (SELECT dbo.GregorianoToJuliano(@fechaIni))
	DECLARE @diaJulianoFin nvarchar(6) = (SELECT dbo.GregorianoToJuliano(@fechaFin))

	DECLARE @consulta VARCHAR(8000)
	DECLARE @resultadoJDE TABLE (FechaMovimiento int, IdCaja nvarchar(64), DescripcionCaja nvarchar(100), CantidadMovimiento int)
	DECLARE @operaciones TABLE (Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)
	DECLARE @datosConsumo TABLE (IdFila bigint, Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)

	DECLARE @resultado TABLE (IdFila bigint, Fecha date, CodigoCaja nvarchar(64), DescripcionCaja nvarchar(100), Cantidad int)

	DECLARE @contFilas int, 
		@filas int, 
		@idFila bigint, 
		@fecha date, 
		@codigoCaja nvarchar(64), 
		@cantidad int

	-- Para todas las fechas y cajas guardamos cantidad 0
	WHILE (@fechaIni <= @fechaFin)
	BEGIN
		INSERT INTO @inicial
		SELECT DISTINCT
			@fechaIni, 
			IdCaja, 
			DescripcionCaja, 
			0
		FROM ProductosCajas
		WHERE IdCaja IN (SELECT DISTINCT IdCaja FROM ProductosCajas)

		SET @fechaIni = DATEADD(DAY, 1, @fechaIni);
	END

	--select * from @inicial

	-- Guardamos los M7E encontrados según los filtros
	SET @consulta = 'SELECT * FROM OPENQUERY(JDE,
	''
		SELECT A.SDADDJ, A.SDLITM, A.SDDSC1, A.SDUORG

		FROM PRODDTA.F4211 AS A
		WHERE TRIM(A.SDMCU) = ''''' + @codigoPlanta + '''''
		AND A.SDADDJ >= ''''' + @diaJulianoIni + ''''' AND A.SDADDJ <= ''''' + @diaJulianoFin + '''''
		AND A.SDSRP1 = ''''VAC''''
		AND A.SDLNTY <> ''''E''''
		AND A.SDLTTR BETWEEN ''''525'''' AND ''''560''''
		AND A.SDDCTO = ''''M7''''
		AND (A.SDUOM = ''''CJ'''' OR A.SDUOM = ''''BR'''')

		ORDER BY A.SDADDJ, A.SDLITM
	'')'
	
	INSERT INTO @resultadoJDE
	EXEC (@consulta)

	--select * from @resultadoJDE

	-- Realizamos las operaciones de transformación de los datos
	INSERT INTO @operaciones
	SELECT 
		dbo.JulianoToGregorianoDatetime(FechaMovimiento),
		IdCaja,
		DescripcionCaja,
		SUM(ABS(Cantidadmovimiento) / 100)
	FROM @resultadoJDE
	GROUP BY FechaMovimiento, IdCaja, DescripcionCaja

	INSERT INTO @datosConsumo
	SELECT DISTINCT DENSE_RANK() OVER (ORDER BY Fecha, CodigoCaja), *
	FROM @operaciones

	--select * from @datosConsumo

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @datosConsumo)
	SET @idFila = (SELECT MIN(IdFila) FROM @datosConsumo)

	-- Actualizamos los registros iniciales con los datos encontrados
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = Fecha,
			@codigoCaja = CodigoCaja,
			@cantidad = Cantidad
		FROM @datosConsumo
		WHERE IdFila = @idFila

		UPDATE @inicial
		SET Cantidad = @cantidad
		WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END

	--select * FROM @inicial

	INSERT INTO @resultado
	SELECT ROW_NUMBER() OVER (ORDER BY Fecha, CodigoCaja), * 
	FROM @inicial

	SET @contFilas = 1
	SET @filas = (SELECT COUNT(*) FROM @resultado)
	SET @idFila = (SELECT MIN(IdFila) FROM @resultado)

	-- Creamos o actualizamos los registros en nuestra tabla destino
	WHILE @contFilas <= @filas
	BEGIN
		SELECT 
			@fecha = Fecha,
			@codigoCaja = CodigoCaja,
			@cantidad = Cantidad
		FROM @resultado
		WHERE IdFila = @idFila

		IF NOT EXISTS(SELECT 1 FROM dbo.StockVacioPrevision WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'M7S')
		BEGIN
			INSERT INTO dbo.StockVacioPrevision
			SELECT Fecha, CodigoCaja, DescripcionCaja, 'M7S', Cantidad 
			FROM @resultado 
			WHERE IdFila = @idFila
		END
		ELSE
		BEGIN
			UPDATE dbo.StockVacioPrevision
			SET Cantidad = @cantidad
			WHERE Fecha = @fecha AND CodigoCaja = @codigoCaja AND TipoApunte = 'M7S'
		END

		SET @idFila = @idFila + 1
		SET @contFilas = @contFilas + 1;
	END
END
GO
