USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_GetNoConformidades]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MES_GetNoConformidades] 
 
AS
BEGIN
	
	SELECT 
		NC.[$IDArchiveValue] as IdNoConformidad
		,NC.SSCC AS CodigoSSCC
		,NC.FECHA_NO_CONFORMIDAD as Fecha
		,NC.MOTIVO as Motivo, 
		1 as Palets
		,NC.CANTIDAD_ENVASES as Envases
		,NC.ID_ORDEN
		,isnull(((NC.CANTIDAD_ENVASES / NULLIF(CONVERT(FLOAT,O.EnvasesPorPalet),0)) * O.CajasPorPalet),0) AS Cajas
		,NC.SHC_WORK_SCHED_DAY_PK as IdTurno
		,O.CajasPorPalet
		,O.EnvasesPorPalet
		,O.IdProducto
		,P.Descripcion AS Nombre
		,P.UdMedida
		,O.Linea
		,NC.ID_PARTICION
	FROM [dbo].[COB_MSM_NO_CONFORMIDAD] AS NC
	INNER JOIN Ordenes AS O ON O.Id =  NC.ID_ORDEN
	INNER JOIN Productos AS P ON P.IdProducto = O.IdProducto
	ORDER BY FECHA_NO_CONFORMIDAD
	
END
GO
