USE [MES_MSM]
GO
/****** Object:  StoredProcedure [dbo].[MES_ObtenerEstadoHistoricoMaquinas]    Script Date: 25/02/2022 12:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MES_ObtenerEstadoHistoricoMaquinas]
	-- Add the parameters for the stored procedure here
	@idLinea as nvarchar(200),
	@idMaquina as nvarchar(200),
	@desde as datetime,
	@hasta as datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL SNAPSHOT;
	BEGIN TRANSACTION;
	   SELECT [FecInicio]
		  ,[FecFin]
		  ,[Linea]
		  ,[Zona]
		  ,[IdMaquina]
		  ,[Estado]
	  FROM [EstadoHistoricoMaquinas]
	   where Linea =  @idLinea 
		and idMaquina = @idMaquina
		AND [FecInicio]>=@desde
		AND [Fecfin]<=@hasta
		ORDER BY [FecInicio] DESC
	COMMIT TRANSACTION; 
END
GO
