USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Inicio_CargaDV]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Inicio_CargaDV]
GO
/****** Object:  StoredProcedure [dbo].[Inicio_CargaDV]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Inicio_CargaDV] 
	-- Add the parameters for the stored procedure here
	@FracSec int,
	@Fecha varchar(20)	AS
BEGIN
	DECLARE @DatosXML AS INT = 0
	INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
	SELECT 'Se empieza a cargar en las DV desde el registro de Staging con Fecha: ' + convert(varchar(100),@Fecha,103),'Inicio', 'Carga de Staging a DV', GETDATE()

	SELECT @DatosXML = COUNT(*) FROM XML_Final
	IF(@DatosXML = 0)
	BEGIN
		--se esta cargando de la primera fecha del año en curso si no hay datos en XML_final
		SET @FracSec = 0
		SET @Fecha = DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)
	END
	SELECT J.[ID]
			,[Ord]
			,[FracSec]
			,[Date/Time]
			,[Desc2]
			,D.TablaDestino as Destino
			,CAST([Module] as varchar(50)) as NuevoModulo
	FROM (Select [ID],[Ord],[FracSec],[Date/Time]
				,Case when (Desc2 like 'FER-%' OR Desc2 like 'GUA-%') then Substring(Desc2,1,3) + Substring(Module,4,len(module)) else [Module] end [Module]
				,[Desc2] From [dbo].[STAGING_Journal]) j
	INNER JOIN [dbo].[STAGING_ConfigDVS] D ON  J.Module  like D.MODULO  + '%'
	Where DATEADD(MILLISECOND,j.FracSec/10,j.[Date/Time]) > DATEADD(MILLISECOND,@FracSec/10,CONVERT(DATETIME,@Fecha,103)) 
	AND (j.Module not in (SELECT modulo FROM [dbo].[MessagesNotToCheck])
		 OR (j.Module in (SELECT modulo FROM [dbo].[MessagesNotToCheck]) AND J.Desc2 not like '%'+(SELECT Dato FROM [dbo].[MessagesNotToCheck] WHERE modulo=j.Module)+'%')) 
	
END

GO
