USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_EliminarRegistros]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_EliminarRegistros]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_EliminarRegistros]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_EliminarRegistros] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DELETE FROM dbo.Staging_Journal WHERE [Date/Time] <= DATEADD(day,-15,GETDATE())
END

/****** Object:  StoredProcedure [dbo].[SSIS_EliminarXMLFinal]    Script Date: 27/05/2020 9:18:17 ******/
SET ANSI_NULLS ON

GO
