USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[ReprocesarKOPSinValor_XMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[ReprocesarKOPSinValor_XMLFinal]
GO
/****** Object:  StoredProcedure [dbo].[ReprocesarKOPSinValor_XMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[ReprocesarKOPSinValor_XMLFinal]
@FechaInicio DATETIME,
@FechaFin DATETIME
AS
BEGIN
DECLARE @XMLData NVARCHAR(4000)
	
	--2. Se declara un cursor para los mensajes de la tabla XML_Final
	DECLARE contact_cursor CURSOR FOR  
	SELECT DISTINCT XML_Final.[XML]
	FROM 
	[MES_MSM].[dbo].[KOPs_FAB] KOP INNER JOIN 
	[SSISDeltaV].[dbo].[XML_Final] XML_Final ON KOP.ID_Orden = XML_Final.Batch AND KOP.ID_KOP = KOP_Code  -- Solo los mensajes que son de KOPs
	WHERE 
	KOP.Valor_Actual = '' 
	AND KOP.Fecha BETWEEN @FechaInicio AND @FechaFin
	AND XML_Final.Cod_TipoXML = 3

	--3. Se inicializa el cursor
	OPEN contact_cursor;   
	FETCH NEXT FROM contact_cursor
	INTO @XMLData;  
  
	DECLARE @URLMessage NVARCHAR(500),@message NVARCHAR(4000),@JsonData NVARCHAR(MAX)
	SET @URLMessage = 'http://10.233.2.51:2017/SiemensBrewingData/api/receiveEBRMessage/ConsumeMessage'

	--4. Mientras el FechStatus sea igual a cero se va a recorrer el listado de XML_Final
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	   
	   -- 5. Se construye el mensaje para llamar a la API
	   SET @message = @XMLData
	   SELECT @JsonData = CONCAT('{"message": "',REPLACE(@message, '"', '\"'),'"}');

	   --INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
       --SELECT @JsonData, '[ProcesarMensajes_XMLFinal]', 'Mensaje listo para procesar', GETDATE()


	   DECLARE @Result AS TABLE(Value BIT)
	   --6. Se llama a la API 
	   INSERT INTO @Result
	    exec  [dbo].[APICaller_POST]
	   	 @URL = @URLMessage 
		 --'http://10.233.2.51:2017/SiemensBrewingData/api/receiveEBRMessage/ConsumeMessage'
	   	,@JsonBody = @JsonData
	   

	   --INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
       --SELECT 'Mensaje en la API Procesado', '[ProcesarMensajes_XMLFinal]', 'Mensaje Procesado en la API', GETDATE()

	   FETCH NEXT FROM contact_cursor
	   INTO @XMLData;  
	END  
  
	CLOSE contact_cursor;  
	DEALLOCATE contact_cursor;  
END

GO
