USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[GET_DefID_By_equipment]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[GET_DefID_By_equipment]
GO
/****** Object:  StoredProcedure [dbo].[GET_DefID_By_equipment]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE Procedure [dbo].[GET_DefID_By_equipment](@equipment as nvarchar(max),@condition as nvarchar(max))
AS
BEGIN
	declare @order nvarchar(max)

	SELECT top 1 @order = prop.equip_prpty_value
	FROM SITMesDB.[dbo].[BPM_EQUIPMENT] eq
	inner join SITMesDB.[dbo].[BPM_EQUIPMENT_PROPERTY] prop on eq.equip_pk=prop.equip_pk	
	where prop.equip_prpty_id = 'POLITICA_DE_VACIADO' and eq.equip_name = @equipment

	set @order = case when @order is null then 'FIFO' else @order end

	-- Declare the return variable here
	DECLARE @query as nvarchar(max),@aux nvarchar(max)
	set @query = 'SELECT top 1 lot.DefID DefID
				  FROM SITMesDB.[dbo].[BPM_EQUIPMENT] eq				  
				  inner join SITMesDB.dbo.MTMV1_LOT_SLT_ALL lot on lot.LocationPath like ''%''+eq.equip_name
				  inner join [SITMesDB].[dbo].[MMDefinitions] mat on mat.DefId=lot.DefID
    			  inner join [SITMesDB].[dbo].[MMClasses] cl on cl.ClassPK=mat.ClassPK
				  inner join [SITMesDB].[dbo].[MMTypes] t on t.TypePK=cl.TypePK
				  where '+@condition+'
				  order by lot.CreatedOn '+case when @order='FIFO' then 'asc' else 'desc' end	
	--print @query
	exec(@query)
END

GO
