USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[ProcesarMensajes_XMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[ProcesarMensajes_XMLFinal]
GO
/****** Object:  StoredProcedure [dbo].[ProcesarMensajes_XMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[ProcesarMensajes_XMLFinal]
@IP NVARCHAR(MAX)
AS
BEGIN
DECLARE @XMLData NVARCHAR(4000), @Id INT,@TimeStamp DATETIME, @OrderId NVARCHAR(100)
	
	--2. Se declara un cursor para los mensajes de la tabla XML_Final que la columna ToDelete sea igual a cero
	DECLARE contact_cursor CURSOR FOR  
	SELECT DISTINCT XMLFinal.[XML],XMLFinal.ID,[TimeStamp],Orden.ID_Orden
	FROM [dbo].[XML_Final] XMLFinal
	LEFT JOIN [MES_MSM].[dbo].[Ordenes_FAB] Orden ON Orden.ID_Orden = XMLFinal.Batch
	INNER JOIN [SSISDeltaV].[dbo].[OLTP_Modulo] Modulo ON Modulo.Segmento = XMLFinal.ProcedureName
	WHERE 
		(((Cod_TipoXML = 1) -- NOTA: Si los mensajes son distintos de Crudos debe estar creada la orden para poder ser procesado el mensaje
		OR 
		(Orden.ID_Orden IS NOT NULL) AND Modulo.OLTP = '[dbo].[OLTP_Coccion]') OR Modulo.OLTP <> '[dbo].[OLTP_Coccion]')
		AND 
		Procesado = 0
		AND ToDelete = 0
	ORDER BY Orden.ID_Orden,XMLFinal.[TimeStamp]

	--3. Se inicializa el cursor
	OPEN contact_cursor;   
	FETCH NEXT FROM contact_cursor
	INTO @XMLData,@Id,@TimeStamp,@OrderId;  
  
	DECLARE @URLMessage NVARCHAR(500),@message NVARCHAR(4000),@JsonData NVARCHAR(MAX)
	SET @URLMessage = CONCAT('http://',@IP,':2017/SiemensBrewingData/api/receiveEBRMessage/ConsumeMessage')

	--4. Mientras el FechStatus sea igual a cero se va a recorrer el listado de XML_Final
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	   
	   -- 5. Se construye el mensaje para llamar a la API
	   SET @message = @XMLData
	   SELECT @JsonData = CONCAT('{"message": "',REPLACE(@message, '"', '\"'),'"}');

	   --INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
       --SELECT @JsonData, '[ProcesarMensajes_XMLFinal]', 'Mensaje listo para procesar', GETDATE()


	   DECLARE @Result AS TABLE(Value BIT)
	   --6. Se llama a la API 
	   INSERT INTO @Result
	    exec  [dbo].[APICaller_POST]
	   	 @URL = @URLMessage 
		 --'http://10.233.2.51:2017/SiemensBrewingData/api/receiveEBRMessage/ConsumeMessage'
	   	,@JsonBody = @JsonData
	   
	   --7. Se actualiza el registro que acabamos de procesar 
	   UPDATE [dbo].[XML_Final] SET Procesado = 1 WHERE ID = @Id
	   EXEC  [MES_MSM].[dbo].[MES_ActualizarDatos_Orden_Procesada_FAB]
		@IdOrden = @OrderId
	   --INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
       --SELECT 'Mensaje en la API Procesado', '[ProcesarMensajes_XMLFinal]', 'Mensaje Procesado en la API', GETDATE()

	   FETCH NEXT FROM contact_cursor
	   INTO @XMLData,@Id,@TimeStamp,@OrderId;  
	END  
  
	CLOSE contact_cursor;  
	DEALLOCATE contact_cursor;  
END

GO
