USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_UpdateDesynchronizedMsg]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_F2_SQL_UpdateDesynchronizedMsg]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_UpdateDesynchronizedMsg]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_F2_SQL_UpdateDesynchronizedMsg] (@CurrentObject as nvarchar(max))
AS
BEGIN
declare @sql as nvarchar(max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if (@CurrentObject is not null and @CurrentObject <> '')
		begin
			set @sql =	'Select Fecha_lote,Dato_Valor,
		case when (Dato_Descripcion like ''NUMERO%DV'' OR Dato_Descripcion = ''NUMERO PROCESO TCP'') 
		then ''ORDERID''
		else case when Dato_Descripcion = ''TIPO MOSTO COCCION'' 
					then ''MATERIAL''
					else 
						case when (Dato_Descripcion = ''HL MOSTO COCCION'' OR 
									Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA FERMENTACION'' OR
									Dato_Descripcion = ''HL MOSTO FRIO'' OR 
									Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA INICIO GUARDA'' OR 
									Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA FILTRADA'')
						then
						''CANTIDAD''
						else
						''---''
						end
					end 
		end Desc_Valor
		into #temp_update					   						   
		from ' +@CurrentObject+
		' where Fecha_Lote in(SELECT Distinct Fecha_Lote
							FROM '+@CurrentObject+' Coc 
							where OrderId is null or Material is null group by Fecha_Lote,Fecha,FracSec,indice) 
	 And (Dato_Descripcion = ''TIPO MOSTO COCCION'' or Dato_Descripcion like ''NUMERO%DV'')

		Update '+@CurrentObject+'
		Set	 cantidad = sd.Dato_Valor
		From '+@CurrentObject+' cc
		LEFT JOIN #temp_update sd on cc.Fecha_lote  = sd.Fecha_lote
		where Desc_Valor =''CANTIDAD''

		Update '+@CurrentObject+'
		Set	 Material = sd.Dato_Valor
	,procesado=0	From '+@CurrentObject+' cc
		LEFT JOIN #temp_update sd on cc.Fecha_lote  = sd.Fecha_lote
		where Desc_Valor =''MATERIAL''
					
			
		drop table #temp_update'
			exec(@sql)
		end
	else
	begin
			INSERT INTO
			OLTP_Log (Des_Log, Paquete, Paso, Fecha)
			SELECT 
			'SSIS_F2_SQL_UpdateDesynchronizedMsg el valor de @CurrentObject es vacio', 
			'Coccion', 
			'UpdateDesynchronizedMsg', 
			GETDATE()
	end
end

GO
