USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[UpdateSystemRepetidos_XML_Final]    Script Date: 23/09/2021 14:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***** este metodo corrige la duplicidad del dato System causado por el SSIS

*****/
ALTER Procedure [dbo].[UpdateSystemRepetidos_XML_Final]
AS
BEGIN
	DECLARE @xml AS NVARCHAR(MAX),
			@batch AS NVARCHAR(MAX),
			@system AS NVARCHAR(MAX),
			@id AS INT

		DECLARE MY_CURSOR CURSOR 
						  LOCAL STATIC READ_ONLY FORWARD_ONLY
						FOR 						
						SELECT [System], Batch FROM XML_Final 
							GROUP BY [System], Batch
							HAVING COUNT(*)>1
							ORDER BY batch
						OPEN MY_CURSOR
						FETCH NEXT FROM MY_CURSOR INTO @system, @batch
						WHILE @@FETCH_STATUS = 0
						BEGIN 

							SET @id = (SELECT TOP 1 id FROM xml_final WHERE [System] = @system AND Batch = @batch AND Procesado = 0)						
							 
							UPDATE XML_Final SET [XML] = REPLACE([XML], @system, REPLACE(@system,SUBSTRING(@system, 6, 1),'R')),
							[System] = REPLACE(@system,SUBSTRING(@system, 6, 1),'R')
							WHERE ID = @id

							--opcional no se incluye xq con solo actualizar una a R es suficiente, ya que solo se repite una vez
							---'PROD-R-'+REPLACE(convert(varchar(10),GETDATE(),103),'/','') + REPLACE(convert(varchar(10),GETDATE(),108),':','') +'00001'

							FETCH NEXT FROM MY_CURSOR INTO @system, @batch
						END
						CLOSE MY_CURSOR
						DEALLOCATE MY_CURSOR
	
	
	--print @sql	
end


