USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_EliminarXMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_EliminarXMLFinal]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_EliminarXMLFinal]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_EliminarXMLFinal] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DELETE FROM dbo.XML_Final WHERE ToDelete=1



end


/****** Object:  StoredProcedure [dbo].[SSIS_F2_ListadoPaquete]    Script Date: 27/05/2020 9:18:14 ******/
SET ANSI_NULLS ON

GO
