USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[GET_RestoreSubClass]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[GET_RestoreSubClass]
GO
/****** Object:  StoredProcedure [dbo].[GET_RestoreSubClass]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
--EXEC [dbo].[GET_RestoreSubClass] 'MES-L136PRUT-154','CANTIDAD CERVEZA TRANSFERIDO DE L136PRUT-154 A L236PRUT-212'
CREATE Procedure [dbo].[GET_RestoreSubClass](@modulo as nvarchar(150),@dato as nvarchar(150))
AS
BEGIN
	SELECT Count(*) 
	FROM RestoreSubClass
	WHERE @modulo LIKE modulo +  '%' and @dato like dato+'%'
END

GO
