USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Inicio_LeeUltimoRegistro]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Inicio_LeeUltimoRegistro]
GO
/****** Object:  StoredProcedure [dbo].[Inicio_LeeUltimoRegistro]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Inicio_LeeUltimoRegistro] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

DECLARE @FECHA AS VARCHAR(100) = '2020-31-12'--yyyy-dd-mm
DECLARE @FRACSEC AS VARCHAR(50) = '0000'

SELECT @FECHA =  CONVERT(VARCHAR(100),coalesce(Max([DATE/TIME]),DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)))  FROM STAGING_Journal (NOLOCK)

SELECT @FRACSEC = CONVERT(VARCHAR(50), coalesce(Max(FracSec),@FRACSEC)) FROM STAGING_Journal (NOLOCK)
where [DATE/TIME] >=  CONVERT(DATETIME,@FECHA,103)

INSERT INTO OLTP_Log (Des_Log, Paquete, Paso, Fecha)
SELECT 'Leyendo el ultimo registro de la tabla, FECHA: ' + convert(varchar(100),@FECHA) + ', FRACSEC: '+ convert(varchar(100),@FRACSEC), 'Inicio', 'LeerUltimoRegistro', GETDATE()

SELECT @FECHA AS FECHA, @FRACSEC AS FRACSEC

END



GO
