USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_CargaXML]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_F2_SQL_CargaXML]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_CargaXML]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_F2_SQL_CargaXML] (@CurrentObject as nvarchar(max), @Fabrica AS NVARCHAR(MAX), @ModuleOLTP AS NVARCHAR(100))
AS
BEGIN
declare @sql as nvarchar(max)

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @tabla TABLE(RowID BIGINT, OrderID INT, Fecha_Lote DATETIME, Modulo VARCHAR(200), Cod_Modulo INT,
							 Fabrica NVARCHAR(200), FracSec INT, Lote VARCHAR(100), Fecha DATETIME, Dato_Descripcion VARCHAR(200),
							 Dato_Valor VARCHAR(200), Dato_Unidad VARCHAR(200), Cod_Prod VARCHAR(255), Des_Prod VARCHAR(255), 
							 Material VARCHAR(200),	ID_Equipo VARCHAR(255),	ID_Abrev_Equipo VARCHAR(255), SalaCoccion NVARCHAR(200),
							 PPR_Default NVARCHAR(255),	PPR NVARCHAR(405), Default_Final_Material_Qty FLOAT, cantidad NVARCHAR(20), 
							 PackageName NVARCHAR(100), Cod_Batch INT, KOP VARCHAR(200), DVMsgID INT, TypeID VARCHAR(255))

	if (@CurrentObject is not null and @CurrentObject <> '')
		begin
		
			set @sql =	'SELECT ROW_NUMBER() OVER(ORDER BY OrderID,Fecha_Lote,Fecha,FracSec ASC) RowID,*
								FROM
									(SELECT distinct
												OrderID,
												Fecha_Lote,
												Coccion.Modulo,
												m.Cod_Modulo,
												Fabrica,
												FracSec,
												[Lote],
												[Fecha],
												[Dato_Descripcion],
												[Dato_Valor],
												[Dato_Unidad],
												CONVERT(VARCHAR(255), 
												ISNULL(P.COD_PROCEDIMIENTO, 0)) as Cod_Prod,
												CONVERT(VARCHAR(255), 
												ISNULL(P.DES_PROCEDIMIENTO, M.Segmento)) AS Des_Prod,
												Coccion.[Material],E.ID_Equipo,E.ID_Abrev_Equipo,
												CASE 
													when  CONVERT(VARCHAR(255), 
													ISNULL(P.DES_PROCEDIMIENTO, M.Segmento))  =''Fermentación'' THEN  ''FE1'' 
													when  CONVERT(VARCHAR(255), 
													ISNULL(P.DES_PROCEDIMIENTO, M.Segmento))  =''Guarda'' THEN  ''GU1''
													else  Cel.Name  end AS SalaCoccion,
												--Cel.Name AS SalaCoccion,
													Cel.ID AS PPR_Default,Coccion.[Material] + ''_'' + Cel.Name + ''_000'' AS PPR,
													P.Default_Value AS Default_Final_Material_Qty,
													Coccion.cantidad,
													Cast(PC.PackageName as nvarchar(100)) PackageName,B.Cod_Batch,
													CASE 
														WHEN Coccion.Dato_Valor = ''INICIO PROCEDIMIENTO'' 
														THEN Cast(kop.Kop as varchar(200)) 
													ELSE 
														CASE 
														WHEN Coccion.Dato_Valor = ''FIN PROCEDIMIENTO'' 
														THEN Cast(kop2.Kop as varchar(200)) 
													END 
												END KOP,Coccion.indice DVMsgID,
												--CASE WHEN Cel.Name like ''%SC%'' THEN ''WP'' ELSE CASE WHEN Cel.Name like ''%FE%'' THEN ''FE'' ELSE CASE WHEN Cel.Name like ''%GU%'' THEN ''GU'' ELSE CASE WHEN Cel.Name like ''%FL%'' THEN ''FL'' ELSE CASE WHEN Cel.Name like ''%PR%'' THEN ''PR'' END END END END END TypeID 
												CONVERT(VARCHAR(255),PC.POMType) as TypeID 
												FROM ' + @CurrentObject + ' Coccion  
													LEFT JOIN dbo.[OLTP_Modulo] B on Coccion.[Modulo] like B.Des_Modulo+''%''  
													LEFT JOIN [dbo].[OLTP_Packages] PC on PC.PackageName = b.OLTP
													LEFT JOIN [dbo].[OLTP_ModuloView] M ON Coccion.[Modulo] like M.DES_MODULO+''%''
													LEFT JOIN (SELECT eqp.*,eqp2.[ExecEquipList_ExecEquipLongName]
																FROM
																	(SELECT 
																		[ExecEquipList_PS],
																		Min([ExecEquipList_ExecEquipNum]) Eq_pk
																	FROM 
																		[SITMesDB].[dbo].[PDefM_PS_ExecEquipList]
																	WHERE 
																		ExecEquipList_PPR like ''' + @Fabrica + ''' + ''%''
																		AND ([ExecEquipList_PS] not like ''D_%''
																		AND [ExecEquipList_PS] not like ''AuxEntry'')
																	group by [ExecEquipList_PS]) eqp
																	left join [SITMesDB].[dbo].[PDefM_PS_ExecEquipList] eqp2 on eqp2.[ExecEquipList_ExecEquipNum]=eqp.Eq_pk) EQ on EQ.[ExecEquipList_PS]=M.Segmento 
													LEFT JOIN [dbo].OLTP_Equipos E ON EQ.[ExecEquipList_ExecEquipLongName] = E.[ID_Equipo]
													LEFT JOIN [dbo].OLTP_Celdas Cel ON E.[Cod_Celda] = Cel.[Cod_Celda] 
													LEFT JOIN [dbo].OLTP_Areas Area ON Cel.AreaPK = Area.AreaPK 
													LEFT JOIN [dbo].OLTP_Plantas PL ON Area.PlantaPK = PL.PlantaPK 
													LEFT JOIN [dbo].[OLTP_Procedimiento] P ON P.PPR = Coccion.[Material] + ''_'' + Cel.Name + ''_000''  
																								AND P.Des_Procedimiento = M.Segmento 
													LEFT JOIN OLTP_StartKops kop on Coccion.Modulo like ''%''+kop.DVModule+''%'' 
													LEFT JOIN OLTP_EndKops kop2 on Coccion.Modulo like ''%''+kop2.DVModule+''%'' 
													LEFT JOIN ModuloReprocesar mRepro ON mRepro.[Modulo] = Coccion.[Modulo]
												WHERE 
													(procesado = 0 or (Reprocessed = 1 AND Coccion.Fecha >= DATEADD(DAY,-5,GETDATE()) AND mRepro.Modulo is not null)) 
													AND Coccion.Modulo like ''' + @ModuleOLTP+ ''' +''%''
													AND Coccion.[Material] IS NOT NULL 
													AND Coccion.[Material] <> '''' 
													AND Fecha_Lote <> ''2018-01-01 00:00:00'') aux 
												ORDER BY 
												OrderID,
												Fecha,
												FracSec'
			INSERT INTO @tabla
			exec(@sql)
		end
	else
		begin
			INSERT INTO 
				OLTP_Log (Des_Log, Paquete, Paso, Fecha)
			SELECT 
				'SSIS_F2_SQL_CargaXML el valor de @CurrentObject es vacio',
				'Coccion', 
				'SQL_SetQuantity', 
				GETDATE()
		end
		SELECT * FROM @tabla
end

GO
