USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[logea]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[logea]
GO
/****** Object:  StoredProcedure [dbo].[logea]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[logea] 
	-- Add the parameters for the stored procedure here
	@DesLog varchar(200),
	@Paquete varchar(100),
	@Paso varchar(100)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	INSERT INTO dbo.[OLTP_LOG] (Des_Log, Paquete, Paso, Fecha)
	VALUES (@DesLog, @Paquete, @Paso, GETDATE())

END

GO
