USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[APICaller_GETAuth]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[APICaller_GETAuth]
GO
/****** Object:  StoredProcedure [dbo].[APICaller_GETAuth]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[APICaller_GETAuth]
	@URL [nvarchar](max),
	@Token [nvarchar](max)
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [API_Consumer].[StoredProcedures].[APICaller_GET_Auth]
GO
