USE [SSISDeltaV]
GO
/****** Object:  UserDefinedFunction [dbo].[GetTimestamp]    Script Date: 01/03/2021 12:18:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[GetTimestamp]()
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [API_Consumer].[UserDefinedFunctions].[GetTimestamp]
GO
