USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_CargarInfoNuevaOrigen]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_CargarInfoNuevaOrigen]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_CargarInfoNuevaOrigen]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_CargarInfoNuevaOrigen] (@FracSec as nvarchar(max), @Fecha as nvarchar(max), @TablaJournal as nvarchar(max))
AS
BEGIN
declare @sql as nvarchar(max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if (@TablaJournal is not null and @TablaJournal <> '')
	begin
		set @sql ='SELECT [Date_Time],[FracSec],[Module],[Desc2],[Ord] FROM '+ @TablaJournal 
+'  WHERE DATEADD(MILLISECOND,FRACSEC/10,[Date_Time]) > DATEADD(MILLISECOND,'+@FracSec+'/10, CONVERT(DATETIME,'' + @Fecha + '',103)) AND Module LIKE ''MES-%'' '
		exec(@sql)
	end
	else
	begin
	print 'valor de tabla vacio'
	end
	end
GO
