USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Recepcion_GeneraMaterial]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Recepcion_GeneraMaterial]
GO
/****** Object:  StoredProcedure [dbo].[Recepcion_GeneraMaterial]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Recepcion_GeneraMaterial] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN

DECLARE @LOTE AS VARCHAR(100)
DECLARE @MAT AS VARCHAR(100)= ''
DECLARE POINT CURSOR FAST_FORWARD FOR SELECT DISTINCT LOTE FROM OLTP_Recepcion WHERE PROCESADO=0 and DATO_DESCRIPCION <> 'PUESTA CERO'

OPEN POINT

FETCH NEXT FROM POINT INTO @LOTE

WHILE @@FETCH_STATUS=0
BEGIN

IF EXISTS (SELECT DATO_VALOR FROM OLTP_Recepcion WHERE Dato_Descripcion='REFERENCIA MATERIAL' AND LOTE=@LOTE)
SET @MAT = (SELECT TOP 1 DATO_VALOR FROM OLTP_Recepcion WHERE Dato_Descripcion='REFERENCIA MATERIAL' AND LOTE=@LOTE ORDER BY FECHA)
ELSE
SET @MAT = ''

--PRINT('LOTE: ' + @LOTE + ', NUMCOC: ' + CONVERT(VARCHAR(100),@NUMCOC))

UPDATE OLTP_Recepcion
SET Material = @MAT
WHERE LOTE=@LOTE and DATO_DESCRIPCION <> 'PUESTA CERO'

FETCH NEXT FROM POINT INTO @LOTE
END

CLOSE POINT
DEALLOCATE POINT

END



GO
