USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_SetQuantity]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_F2_SQL_SetQuantity]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_SQL_SetQuantity]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_F2_SQL_SetQuantity] (@CurrentObject as nvarchar(max))
AS
BEGIN
declare @sql as nvarchar(max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if (@CurrentObject is not null and @CurrentObject <> '')
		begin
			set @sql =	'UPDATE ' + @CurrentObject + 
	' SET Cantidad =aux.Dato_Valor 
	  FROM ( SELECT DISTINCT Dato_Valor,OrderID 
		   FROM ' +@CurrentObject+
		   ' WHERE (Cantidad IS NULL OR Cast(Cantidad as numeric(10,3)) = 0 OR Cantidad = '''') AND PROCESADO = 0 AND 
	   				(Dato_Descripcion = ''HL MOSTO COCCION'' OR 
					 Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA FERMENTACION'' OR
					 Dato_Descripcion = ''HL MOSTO FRIO'' OR 
					 Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA INICIO GUARDA'' OR 
					 Dato_Descripcion = ''CANTIDAD TOTAL CERVEZA FILTRADA'') AND OrderID IS NOT NULL)aux
	  WHERE '+ @CurrentObject +'.OrderID = aux.OrderID'
			exec(@sql)
		end
	else
		begin
			INSERT INTO 
				OLTP_Log (Des_Log, Paquete, Paso, Fecha)
			SELECT 
				'SSIS_F2_SQL_SetQuantity el valor de @CurrentObject es vacio',
				'Coccion', 
				'SQL_SetQuantity', 
				GETDATE()
		end
end

GO
