USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Set_DefinitionId]    Script Date: 03/03/2021 11:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER or CREATE Procedure [dbo].[Set_DefinitionId](@CurrentObject as nvarchar(max))
AS
BEGIN
	declare @sql as nvarchar(max)

	set @sql ='UPDATE '+@CurrentObject+' SET [Material] = aux.Material 
				 FROM '+@CurrentObject+' 
				 INNER JOIN(SELECT DISTINCT Coc.OrderID,CASE WHEN Coc.Modulo=''MES-TRA-ADJ-COC'' THEN 
				 (SELECT definicion.DefID FROM [SITMesDB].[dbo].[MMDefinitions] AS definicion 
				  INNER JOIN [SITMesDB].[dbo].[MMClasses] AS clase ON clase.ClassPK = definicion.classPK 
					WHERE clase.ClassID = ''ADJ'') ELSE rtrim(ltrim(Upper(Coc.Dato_Valor))) COLLATE DATABASE_DEFAULT END Material 
					FROM '+@CurrentObject+'  Coc 
					WHERE 
					(Coc.Dato_Descripcion like ''TIPO MOSTO%'' OR 
					Coc.Dato_Descripcion = ''TIPO MALTA'' OR 
					Coc.Dato_Descripcion = ''TIPO ADJUNTO'' OR 
					Coc.Dato_Descripcion = ''REFERENCIA MATERIAL''
					OR Coc.Modulo=''MES-TRA-ADJ-COC'') 
					AND Coc.OrderID IS NOT NULL) aux 
					ON '+@CurrentObject+'.OrderID=aux.OrderID
					WHERE ('+@CurrentObject+'.[Material] IS NULL OR '+@CurrentObject+'.[Material] = ''''
					OR '+@CurrentObject+'.[Material] = ''---'') 
					AND '+@CurrentObject+'.PROCESADO = 0'

	--print @sql
	exec(@SQL)	
end
