USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOltpDatas]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[UpdateOltpDatas]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOltpDatas]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
  
create procedure [dbo].[UpdateOltpDatas](@batch as nvarchar(max),@material as nvarchar(max),@msg as nvarchar(max))
as
begin
  declare @sql as nvarchar(max)
  declare @table as nvarchar(max)
  declare @order as nvarchar(max)  
  declare @date as nvarchar(max)

  --set @batch = 'OM-BUR-FAB-SC1-18-1193'
  --set @material = 'F51601'
  
  SELECT @date=Convert(nvarchar(max),[Fecha_Lote],121),@order=Reverse(Substring(Reverse(@batch),0,Charindex('-',Reverse(@batch)))),@table=pc.PackageName  
  FROM [SSISDeltaV].[dbo].[XML_Final] msg 
  LEFT JOIN [SSISDeltaV].[dbo].[OLTP_Packages] pc on Substring(SubString(@batch,Patindex('%-FAB-%',@batch)+5,len(@batch)-Patindex('%-FAB-%',@batch)+5),0,Charindex('-',SubString(@batch,Patindex('%-FAB-%',@batch)+5,len(@batch)-Patindex('%-FAB-%',@batch)+5))) like pc.WOType+'%'  
  where System=@msg



  set @sql = 'UPDATE '+@table+
			' SET OrderID='+@order+', Material='''+@material+''' 
			 WHERE Fecha_Lote='''+@date+''''

  --print(@sql)
  exec(@sql)
end

GO
