USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Get_QuantityBatch_By_Equipment]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Get_QuantityBatch_By_Equipment]
GO
/****** Object:  StoredProcedure [dbo].[Get_QuantityBatch_By_Equipment]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Get_QuantityBatch_By_Equipment](@equipment as nvarchar(max),@batch as nvarchar(max),@type as nvarchar(max))
AS
BEGIN
	select lot.Quantity
	from SITMesDB.dbo.MTMV1_LOT_SLT_ALL lot
	inner join SITMesDB.dbo.MTMV2_B_LOT_OP op on lot.LotID=op.LotID
	where op.AssociateTo like @batch+'%'+@equipment and op.LotID like '%-'+@type+'-%'
	order by CreatedOn desc	
END

GO
