USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Delete_DuplicatedRegister_OLTP_Tables]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Delete_DuplicatedRegister_OLTP_Tables]
GO
/****** Object:  StoredProcedure [dbo].[Delete_DuplicatedRegister_OLTP_Tables]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_DuplicatedRegister_OLTP_Tables](@oltpTable as nvarchar(100))
AS
BEGIN	
	Declare @sql as nvarchar(max)
	set @sql ='WITH CTE([Lote]
			  ,[Fecha]
			  ,[Dato_Descripcion]
			  ,[Dato_Valor]
			  ,[FracSec],
				DuplicateCount
			 )
		AS (SELECT [Lote]
			  ,[Fecha]
			  ,[Dato_Descripcion]
			  ,[Dato_Valor]
			  ,[FracSec],
				   ROW_NUMBER() OVER(PARTITION BY [Lote]
												  ,[Fecha]
												  ,[Dato_Descripcion]
												  ,[Dato_Valor]
												  ,[FracSec] 
								ORDER BY [Lote]) 
					AS DuplicateCount
			FROM [SSISDeltaV].'+@oltpTable+')
		
		DELETE FROM CTE
		WHERE DuplicateCount > 1'

	exec(@sql)
END


GO
