USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_ListadoPaquete]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_F2_ListadoPaquete]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_ListadoPaquete]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_F2_ListadoPaquete]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  
		[PackageName], 
		[Cod_Batch],
		[MaterialType]
	FROM 
		[dbo].[OLTP_Packages]
	ORDER BY 
		[Cod_Batch]
END

GO
