USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Set_OrderId]    Script Date: 03/03/2021 12:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***** este metodo asigna automaticamente el OrderID, que seria el numero al final de todos los codigos de WO
EJEMPLO: OM-BUR-FAB-SC1-21-'0182'

el contenido de Dato_valor cuando Dato_Descripcion contiene NUMERO%DV, indica el numero de cualquier proceso de fabricacion
este numero no es correlativo con el numero de la WO de MES.

los paso que se deben seguir para el buen funcionamiento de la asignacion de OrderId son los siguientes:

1) verificar si el dato_valo tiene un OrderId Asignado en diferentes lotes
2) si no tiene se le asigna uno automaticamente, el ultimo orderId + 1
3) en caso de que el Dato_valor tenga orderId se le asiga dicho valor OrderId
4) actualizar todos los lostes que ya tengan un OrderId
*****/
ALTER Procedure [dbo].[Set_OrderId](@CurrentObject as nvarchar(max))
AS
BEGIN
	declare @sql as nvarchar(max),
			@param as nvarchar(max),
			@value nvarchar(max),
			@cont integer
	--El OrderID se toma del mensaje NUMERO X DV

		set @sql ='DECLARE @Lote AS NVARCHAR(50)
						DECLARE CURSORMATERIAL CURSOR 
						  LOCAL STATIC READ_ONLY FORWARD_ONLY
						FOR 
						SELECT Lote FROM '+@CurrentObject+' 
						WHERE Dato_Valor =''F0'' or Material=''F0''
						GROUP BY Lote

						OPEN CURSORMATERIAL
						FETCH NEXT FROM CURSORMATERIAL INTO @Lote
						WHILE @@FETCH_STATUS = 0
						BEGIN 
							INSERT INTO 
								OLTP_Log
								(Des_Log, Paquete, Paso, Fecha)
							SELECT
								''No se le ha asignado IdOrden al lote: '' + Lote + '', Por tener un material no valido'',
								''Coccion'', 
								''Set_OrderId'',
								GETDATE()
							FROM '+@CurrentObject+'
							WHERE Lote = @Lote

							UPDATE 
								'+@CurrentObject+'
							SET
								Procesado = 1
							WHERE Lote = @Lote								

							FETCH NEXT FROM CURSORMATERIAL INTO @Lote
						END
						CLOSE CURSORMATERIAL
						DEALLOCATE CURSORMATERIAL'
		exec(@SQL)

		set @sql ='DECLARE @Valor AS NVARCHAR(50),
							@Lote as varchar(40),
							@Ultima AS INT,
							@OrderAsignada AS INT

					--1 Obtenemos el el valor maximo del orderId y le sumamos 1 del año actual

					SET @Ultima = (SELECT COALESCE(MAX(TABLA.ID),1)
									FROM(
									SELECT MAX(OrderID)+1 AS ID
										  FROM '+@CurrentObject+' 
										  WHERE Fecha_Lote  BETWEEN Cast(YEAR(GetDate()) AS NVARCHAR(4))+''-01-01 00:00:00'' AND Cast(YEAR(GetDate()) AS NVARCHAR(4))+''-12-31 23:59:59''
										  AND OrderID IS NOT NULL
										  GROUP BY Fecha_Lote,LOTE) AS TABLA)

					--2 creamos un cursor donde vamos a buscar los lotes q tengas como descripcion NUMERO%DV, no tengan OrderID y esten procesados a 0

					DECLARE MY_CURSOR CURSOR 
						  LOCAL STATIC READ_ONLY FORWARD_ONLY
						FOR 
						SELECT CAST(Dato_Valor AS INT), Lote FROM '+@CurrentObject+' 
						WHERE Dato_Descripcion LIKE ''NUMERO%DV''
							  AND PROCESADO = 0
							  AND OrderID IS NULL 
						GROUP BY Dato_Valor, Lote
						ORDER BY CAST(Dato_Valor AS INT)

						OPEN MY_CURSOR
						FETCH NEXT FROM MY_CURSOR INTO @Valor, @Lote
						WHILE @@FETCH_STATUS = 0
						BEGIN 
							--2.1 validamos si el lote ya tiene un orderID asigando
							SELECT TOP 1 COALESCE(OrderID,0)  FROM '+@CurrentObject+' 
																	WHERE OrderID IS NOT NULL
																	 AND Lote = @Lote
							--2.2 validamos si el Dato_Valor ya tiene un idOrden en algun otro lote

							SELECT DISTINCT @OrderAsignada = COALESCE(OrderID,0) FROM '+@CurrentObject+' 
																WHERE Dato_Descripcion LIKE ''NUMERO%DV''
																 AND Dato_Valor = @Valor

							--2.3 si el @OrderAsignada es mayor a 0 ya el Dato_Valor tiene un Order_id Asignado
							--le asignamos dicho valor, de lo contrario se le asigna el ultimo OrderId mas uno

							UPDATE 
								'+@CurrentObject+' 
							SET 
								OrderID =  IIF(@OrderAsignada > 0, @OrderAsignada, @Ultima)
							WHERE Dato_Descripcion LIKE ''NUMERO%DV''
								  AND Dato_Valor = @Valor

							--2.4 si@OrderAsignada es igual a 0 el dato_valor se le asigno una nueva OrderID
							--a @Ultima se le suma uno para la siguiente orden si no tiene un orderID

							IF(@OrderAsignada = 0)
							BEGIN
								SET @Ultima = @Ultima + 1
							END
							
							FETCH NEXT FROM MY_CURSOR INTO @Valor
						END
						CLOSE MY_CURSOR
						DEALLOCATE MY_CURSOR

						--3 se actualizan todos los lotes que esten procesado = 0 y no tengas un orderId
						-- se bucar los lotes de cada uno de los NUMERO%DV y se le asigan el mismo orderID

						UPDATE OLTP1
							SET OLTP1.OrderID = OLTP2.OrderID
						FROM '+@CurrentObject+'  AS OLTP1
						INNER JOIN '+@CurrentObject+'  AS OLTP2 ON OLTP1.Lote = OLTP2.Lote 
							  AND OLTP1.Fecha_Lote BETWEEN Cast(YEAR(GetDate()) AS NVARCHAR(4))+''-01-01 00:00:00''  AND Cast(YEAR(GetDate()) AS NVARCHAR(4))+''-12-31 23:59:59''
						WHERE OLTP2.Dato_Descripcion LIKE ''NUMERO%DV''
							  AND OLTP1.PROCESADO = 0
							  AND OLTP1.OrderID IS NULL'
		exec(@SQL)
	
	
	--print @sql	
end


