USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Todos_LeeInicioFin]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Todos_LeeInicioFin]
GO
/****** Object:  StoredProcedure [dbo].[Todos_LeeInicioFin]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Todos_LeeInicioFin] 
	@Batch varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;	
		
	select CAST(M1.Des_Modulo as nvarchar(100)) as Inicio 
	,CAST(M2.Des_Modulo as nvarchar(100)) as Fin
	,CAST(B.Des_Modulo as nvarchar(100)) as Module
	from [dbo].[OLTP_InicioFinBatch] IB
	INNER JOIN [dbo].[OLTP_Modulo] B ON B.Cod_Batch = IB.Cod_Batch			
	INNER JOIN [dbo].[OLTP_Modulo] M1 ON IB.[Cod_Modulo_Inicio] = M1.Cod_Modulo
	INNER JOIN [dbo].[OLTP_Modulo] M2 ON IB.[Cod_Modulo_Fin] = M2.Cod_Modulo
	WHERE B.OLTP = @Batch

END






GO
