USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_emi_rt_shopfloor2emi]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Clean_DoubleRegister_emi_rt_shopfloor2emi]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_emi_rt_shopfloor2emi]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







  CREATE PROCEDURE [dbo].[Clean_DoubleRegister_emi_rt_shopfloor2emi] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN

	declare @count as bigint
	declare @min as bigint

	SELECT @count = count(emi_rt_shopfloor2mesId)
	FROM [SFMessages].[dbo].[emi_rt_shopfloor2emi]  
	group by [messageId],[msgType],[msgSubType]
	having(count([messageId])>1)    

	if @count <> 0
	begin

	  delete [SFMessages].[dbo].[emi_rt_shopfloor2emi]
      where emi_rt_shopfloor2mesId in (SELECT emi_rt_shopfloor2mesId
									   FROM [SFMessages].[dbo].[emi_rt_shopfloor2emi]  
									   where messageID in (SELECT [messageId]
														   FROM [SFMessages].[dbo].[emi_rt_shopfloor2emi]  
														   group by [messageId],[msgType],[msgSubType]
														   having(count([messageId])>1))) 

	  and emi_rt_shopfloor2mesId not in ( SELECT min(emi_rt_shopfloor2mesId)
										  FROM [SFMessages].[dbo].[emi_rt_shopfloor2emi]  
										  group by [messageId],[msgType],[msgSubType]
										  having(count([messageId])>1))
	end
	  

END
GO
