USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_Delete_CIP]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[SSIS_F2_Delete_CIP]
GO
/****** Object:  StoredProcedure [dbo].[SSIS_F2_Delete_CIP]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franyelvis Colmenares
-- Create date: 14/05/2020
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SSIS_F2_Delete_CIP] (@CurrentObject as nvarchar(max))
AS
BEGIN
declare @sql as nvarchar(max)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if (@CurrentObject is not null and @CurrentObject <> '')
		begin
			set @sql ='Delete '+@CurrentObject+'  
					   WHERE 
						 [Fecha_Lote] in ( SELECT distinct [Fecha_Lote]   
					   FROM '+@CurrentObject+'
						 Where Dato_Valor =''F0'' or Material=''F0'' )'
			exec(@sql)
		end
	else
		begin
			INSERT INTO
				OLTP_Log (Des_Log, Paquete, Paso, Fecha)
			SELECT 
				'SSIS_F2_SQL_UpdateDesynchronizedMsg el valor de @CurrentObject es vacio', 
				'Coccion', 
				'UpdateDesynchronizedMsg', 
				GETDATE()
		end
end

GO
