USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerKOPsSegunSCMaterial]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[ObtenerKOPsSegunSCMaterial]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerKOPsSegunSCMaterial]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ObtenerKOPsSegunSCMaterial]
@PPR varchar(100),
@area varchar(10)
AS
BEGIN

SELECT
	CAST(CONVERT( DECIMAL(10,2), VAL.[ParamValues_Value]) AS NVARCHAR(150))  as Valor
FROM [SITMesDb].[dbo].[PDefM_PS] PS
INNER JOIN [SITMesDb].[dbo].[PDefM_PS_Param] KOP
	ON PS.PK = KOP.FK
INNER JOIN [SITMesDb].[dbo].[PDefM_PS_ParamValues] VAL
	ON KOP.[Param_ValuesLink] = VAL.[ParamValues_Num]
WHERE KOP.PARAM_NAME NOT LIKE '#%'
AND PS.PS_PPR = @PPR AND KOP.GRP<>'HISTORICO' AND KOP.Param_Desc like '%COC002%'
ORDER BY PS.PS_SEQ, KOP.PARAM_SEQ ASCEND

GO
