USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[GET_KOP]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[GET_KOP]
GO
/****** Object:  StoredProcedure [dbo].[GET_KOP]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GET_KOP](@module as nvarchar(max),@subClass as nvarchar(max),@msg as nvarchar(max))
AS
BEGIN
--Este SP se utiliza desde la API de SiemensBrewingData en el método KOP_Get de los servicios de KOP
--para asignar un KOP segun el modulo,subclase y MSG configurado en la tabla de KOPsTransferencia
	SELECT Kop+'*'+ppr.GRP collate Modern_Spanish_CI_AS
	FROM [SSISDeltaV].[dbo].[OLTP_KopsTransferencias] trans
	inner join SitMesDB.[dbo].[PDefM_PS_Param] ppr on ppr.Param_Name=trans.Kop collate Modern_Spanish_CI_AS
	where @module like Module+'%' and (@subClass like [MaterialSubClass]+'%') and (MSG like '%'+@msg)
	
END

GO
