USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_XML_FINAL]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Clean_DoubleRegister_XML_FINAL]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_XML_FINAL]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Clean_DoubleRegister_XML_FINAL] 
-- Add the parameters for the stored procedure here
AS
BEGIN

	-- INICIO DE MODIFICACIÓN
	--Modificado por: Alexis Anselmi 2020-07-02
	-- Se optimiza la consulta para que elimine los registros repetidos de la tabla XML_FINAL sin necesidad de consultarla varias veces
	WITH CTE([MsdUDT], 
			 [Fracsec],
			 [KOP_Code],
			 [Batch],
			 DuplicateCount
			 )
		AS (SELECT [MsdUDT], 
				   [Fracsec] ,
				   [KOP_Code],
				   [Batch],
				   ROW_NUMBER() OVER(PARTITION BY [MsdUDT], 
												  [Fracsec],
												  [KOP_Code],
												  [Batch]
								ORDER BY ID) 
					AS DuplicateCount
			FROM [SSISDeltaV].[dbo].XML_FINAL)
		
		DELETE FROM CTE
		WHERE DuplicateCount > 1
	-- FIN DE MODIFICACION 
	
	--declare @count as bigint
	--declare @min as bigint

	--select @count = count(ID)
	--from [SSISDeltaV].[dbo].XML_FINAL					
	--group by [Cod_TipoXML],[MsdUDT],[Batch],[ProcedureName],[ProcedureID],[TimeStamp],[UOM],[Value],[Material],[FracSec],[Fecha_Lote]
	--having(count(*)>1)   

	--if @count <> 0
	--begin

	--  delete [SSISDeltaV].[dbo].XML_FINAL
 --     where ID  in (SELECT ID
	--				FROM [SSISDeltaV].[dbo].XML_FINAL					
	--				where MsdUDT in (select MsdUDT
	--								 from [SSISDeltaV].[dbo].XML_FINAL	
	--								 group by [Cod_TipoXML],[MsdUDT],[Batch],[ProcedureName],[ProcedureID],[TimeStamp],[UOM],[Value],[Material],[FracSec],[Fecha_Lote]
	--								 having(count(*)>1)) 

	--				and Fracsec  in (select Fracsec
	--								 from [SSISDeltaV].[dbo].XML_FINAL	
	--								 group by [Cod_TipoXML],[MsdUDT],[Batch],[ProcedureName],[ProcedureID],[TimeStamp],[UOM],[Value],[Material],[FracSec],[Fecha_Lote]
	--								 having(count(*)>1))) 

	--  and ID not in (select min(ID) ID
	--				 from [SSISDeltaV].[dbo].XML_FINAL					
	--				 group by [Cod_TipoXML],[MsdUDT],[Batch],[ProcedureName],[ProcedureID],[TimeStamp],[UOM],[Value],[Material],[FracSec],[Fecha_Lote]
	--				 having(count(*)>1))
	--end


	--delete [SFMessages].[dbo].[emi_rt_shopfloor2emi] where processed=1

	--SELECT [XML] 
	--FROM (SELECT Distinct [XML],[Cod_TipoXML],[System],[MsdUDT],[Batch]
	--	  ,[ProcedureName],[ProcedureID],[Unit],[TimeStamp],[StartDate]
	--	  ,[EndDate],[UOM],[Value],[Material],[KOP_Code],[KOP_DataType]
	--	  ,[MM_SourceEquip],[MM_SourceDestination],[DestinationBatch],[FracSec]
	--	  ,[Procesado],[Fecha_Lote]      
	--FROM [SSISDeltaV].[dbo].XML_FINAL) AUX
	--WHERE PROCESADO= 0
	--ORDER BY [TimeStamp],fracsec

end
GO
