USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerKOPSinValor]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[ObtenerKOPSinValor]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerKOPSinValor]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerKOPSinValor](
	@tipoKOP as nvarchar(max), -- CAPTURADO / CALCULADO / CALCULADO ACUMULADO
	@proceso as nvarchar(max) -- COC
	)
AS
BEGIN

	DECLARE @KOPConValor TABLE(
		ID_KOP NVARCHAR(250),
		Des_KOP NVARCHAR(MAX)
	)

	INSERT INTO @KOPConValor
	SELECT DISTINCT ID_KOP, 
					Des_KOP 
	FROM [MES_MSM].[dbo].[KOPs_FAB] 
	WHERE 
		Valor_Actual <> '' 
		AND TipoKOP = @tipoKOP

	SELECT DISTINCT 
	   KOP.[ID_KOP]
      ,KOP.[Des_KOP]
  FROM [MES_MSM].[dbo].[KOPs_FAB] KOP
		LEFT JOIN @KOPConValor AS KOP_CON_VALOR ON KOP_CON_VALOR.ID_KOP = KOP.[ID_KOP]
  WHERE 
	KOP.TipoKOP = @tipoKOP
	AND KOP_CON_VALOR.[Des_KOP] IS NULL
	AND KOP.[Des_KOP] like @proceso+'%'
	
END

GO
