USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_StagingJournal]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[Clean_DoubleRegister_StagingJournal]
GO
/****** Object:  StoredProcedure [dbo].[Clean_DoubleRegister_StagingJournal]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Clean_DoubleRegister_StagingJournal] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN

	select Min([ID]) as id,[Ord],[FracSec],[Date/Time],[Module],[Desc2] 
	into #temp_data
	FROM [SSISDeltaV].[dbo].[STAGING_Journal]
	where ord in(SELECT ord
				 FROM [SSISDeltaV].[dbo].[STAGING_Journal]  
				 group by [date/time],FracSec,Module,Desc2,ord
				 having(count(*)>1))
	group by [Ord],[FracSec],[Date/Time],[Module],[Desc2]

	delete [SSISDeltaV].[dbo].[STAGING_Journal]  
	where id in(select  rr.id
				from [SSISDeltaV].[dbo].[STAGING_Journal] rr, #temp_data dd
				where   dd.[Ord]= rr.[Ord]
				and		dd.[FracSec] = rr.[FracSec]
				and		dd.[Date/Time]  = rr.[Date/Time]
				and		dd.[Module] = rr.[Module]
				and		dd.[Desc2] = rr.[Desc2]
				and		dd.id <> rr.id)

	drop table #temp_data


END

GO
