USE [SSISDeltaV]
GO
/****** Object:  StoredProcedure [dbo].[LimpiezaDatos]    Script Date: 01/03/2021 12:24:50 ******/
DROP PROCEDURE [dbo].[LimpiezaDatos]
GO
/****** Object:  StoredProcedure [dbo].[LimpiezaDatos]    Script Date: 01/03/2021 12:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[LimpiezaDatos]
AS
BEGIN

Delete XML_Final
WHERE [TimeStamp] <= DATEADD(DAY,-30,GETDATE())
AND procesado = 0

UPDATE OLTP_Coccion SET OLTP_Coccion.Procesado = 1, OLTP_Coccion.Reprocessed = 0
FROM OLTP_Coccion
WHERE (Fecha <= DATEADD(DAY,-30,GETDATE()) )
AND (Procesado = 0 OR Reprocessed = 1)

UPDATE OLTP_Coccion SET OLTP_Coccion.Reprocessed = 0
FROM OLTP_Coccion
LEFT JOIN ModuloReprocesar ON OLTP_Coccion.Modulo = ModuloReprocesar.Modulo AND ModuloReprocesar.OLTP = 'OLTP_Coccion'
WHERE (Fecha between DATEADD(DAY,-30,GETDATE()) AND DATEADD(DAY,-7,GETDATE()) OR ModuloReprocesar.Modulo IS NULL )
AND (Reprocessed = 1)

UPDATE OLTP_Fermentacion SET Procesado = 1, Reprocessed = 0
WHERE Fecha <= DATEADD(DAY,-30,GETDATE())
AND (Procesado = 0 OR Reprocessed = 1)

--UPDATE OLTP_Fermentacion SET OLTP_Fermentacion.Reprocessed = 0
--FROM OLTP_Fermentacion
--LEFT JOIN ModuloReprocesar ON OLTP_Fermentacion.Modulo = ModuloReprocesar.Modulo AND ModuloReprocesar.OLTP = 'OLTP_Fermentacion'
--WHERE (Fecha >= DATEADD(DAY,-30,GETDATE()) OR ModuloReprocesar.Modulo IS NULL )
--AND (Reprocessed = 1)

UPDATE OLTP_Guarda SET Procesado = 1, Reprocessed = 0
WHERE Fecha <= DATEADD(DAY,-30,GETDATE())
AND (Procesado = 0 OR Reprocessed = 1)

UPDATE OLTP_Prellenado SET Procesado = 1, Reprocessed = 0
WHERE Fecha <= DATEADD(DAY,-30,GETDATE())
AND Procesado = 0
	
END

GO
