<style>
    .cabeceraVista {
        border: 1px solid black;
        width: auto;
        height: 26px;
        background-color: darkred;
        color: white;
        padding: 3px;
        padding-left: 10px;
        font-size: 20px;
    }

    .pad-10 {
        padding: 10px;
    }

    .w-80 {
        width: 80%;
    }
    .mar-right-25 {
        margin-right: 25px;
    }

    .tac {
        text-align: center;
    }

    .boton {
        width: 150px;
        height: 65px;
    }

    .k-i-arrow-s {
        margin-top: 10px;
    }

    .k-tabstrip .k-content {
        margin: 0;
        padding: 0;
        border-width: 0;
        overflow-y: hidden;
    }

    .selected_tab {
        background: white;
        border: 2px solid black;
        font-weight: bold;
    }

    .mermas-grid-container {
        padding: 40px;
        margin: auto;
        text-align: center;
        max-width: 80%;
        height: 77%;
        overflow: hidden;
    }

    #gridMermasTerminal {
        height: 100%;
    }

    .k-grid-header th {
        vertical-align: inherit !important;
        position: relative;
        height: 54px;
    }

    .cambio_proveedor {
        position: absolute;
        top: 4px;
        right: 10px;
        /*float: right;
        margin-right: 8px;*/
    }

    .cambio_wo {
        position: absolute;
        bottom: 4px;
        right: 10px;
        /*float: right;
        margin-right: 8px;*/
    }

    .cambio_proveedor_flecha {
        cursor: pointer;
        width: 20px;
        margin-left: 10px;
    }

    .cambio_proveedor_flecha.disabled {
        opacity: 0.4;
        cursor: not-allowed
    }

    .valor_contador_mermas {
        height: 34px;
        width: 130px;
        margin-right: 18px;
        font-weight: bold;
    }

    .unidad_contador_mermas {
        width: 130px;
    }

    .porcentaje_contador_mermas {
        display: inline-block;
        min-width: 70px;
        margin-right: 18px;
        font-weight: bold;
    }

    .valor_contador_mermas .k-select .k-link {
        height: initial;
    }

    .contador_merma_bajo input.valor_contador_mermas {
        color: green;
    }
    .contador_merma_medio input.valor_contador_mermas {
        color: orange;
    }
    .contador_merma_alto input.valor_contador_mermas {
        color: red;
    }
    .contador_merma_bajo .porcentaje_contador_mermas {
        color: green;
    }
    .contador_merma_medio .porcentaje_contador_mermas {
        color: orange;
    }
    .contador_merma_alto .porcentaje_contador_mermas {
        color: red;
    }

    .boton_justificar_contador {
        float: right;
        height: 28px;
        margin-top: 3px;
        cursor: pointer;
    }
    .boton_justificar_contador.noClick {
        cursor:default;
    }

    .boton_justificar_contador img {
        height: 100%;
    }

    .justificar_contador_datos {
        width: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: baseline;
        margin: 18px 0px;
    }

    .k-button[disabled="disabled"] {
        pointer-events: none;
    }

    .justificar_contador_datos span,h3 {
        margin:0px 18px;
    }
</style>

<div class="cabeceraVista">
    <img src="img/iconoCabecera.png" />
    <span><% print(window.app.idioma.t("GESTION_MERMAS")) %></span>
</div>
<div class="k-header k-grid-toolbar" style="padding: 10px 20px">
    <div id="pestanias_maquinas"></div>
    <div style="float:right;">
        <a class="k-button" id="btnTurnoAnterior" data-funcion="MER_PROD_GES_2_GestionMermasTerminal" style="margin-left:20px;font-size:22px;">
            <img src="img/left.png" style="float: left; width: 32px; margin-right: 8px; margin-top: 3px;" />
            <% print(window.app.idioma.t("TURNO_ANTERIOR")) %>
        </a>
        <a class="k-button" id="btnTurnoActual" data-funcion="MER_PROD_GES_2_GestionMermasTerminal" style="margin-left:20px;font-size:22px;display:none">
            <img src="img/right.png" style="float: right; width: 32px; margin-left: 8px; margin-top: 3px;" />            
            <% print(window.app.idioma.t("TURNO_ACTUAL")) %>
        </a>
        <a class="k-button" id="btnCrearMerma" data-funcion="MER_PROD_GES_2_GestionMermasTerminal" style="margin-left:20px;font-size:22px;"><% print(window.app.idioma.t("CREAR_MERMAS")) %></a>
    </div>
</div>
<div class="mermas-grid-container">
    <div id="gridMermasTerminal"></div>
</div>

<script id="pestaniaTemplate" type="text/x-kendo-template">
    # for (var i = 0; i < data.length; i++) { #
        <a class="k-button pestania_mermas_button" id="btnPestaniaMerma_#=data[i].MaquinaClase#"
    data-clase="#=data[i].MaquinaClase#" data-funcion="MER_PROD_GES_1_VisualizacionMermasPortal"
    data-index="#=data[i].MaquinaIndex#"
    onclick="window.app.vista.CambiarPestania('#=data[i].MaquinaClase#')"
    style="margin-right:20px;font-size:22px;float:left;">#=data[i].MaquinaNombre#</a>
    # } #
</script>

<script id="justificarContadorModal" type="text/x-kendo-template">
    <div class='justificar_contador_datos'>
    <h3>#=maquina# </h3><span> #=nombre#</span>
    </div>
    <div class='justificar_contador_datos'>
        <span>#=minimo# % < </span><strong style='color:red;'> #=porcentaje# % </strong><span>  < #=maximo# %</span>
    </div>
    <div class='tac'>
        <textarea class="pad-10 w-80 keyboardOn2" id="justificacion_contador_#=id#" value='#=justificacion#'>#=(justificacion != null ? justificacion : "") #</textarea>
    <div>
        <input type="button" class="boton mar-right-25" id="btnJustificarContador" style='margin-top:18px;' value='#:window.app.idioma.t("ACEPTAR")#'/>
        <input type="button" class="boton" id="btnCancelarJustificarContador" style='margin-top:18px;' value='#:window.app.idioma.t("CANCELAR")#'/></div>
    </div>
</script>