<!-- CABECERA -->
<div id="divCabeceraVista" class="divCabeceraVista">
    <img src="img/tituloCabecera.png" height="20" style="margin-left:5px;" />
    <label class="lblCabeceraVista"><% print(window.app.idioma.t('DATOS_COCCION')) %></label>
</div>

<!-- Filtros Cambios -->
<div id="divFiltrosHeader" class="k-header" style="height: 32px; width: 100%; padding-top: 5px;">
    <div class="filtroFechas" style="float: left;">
        <label style="margin-left: 5px;"><% print(window.app.idioma.t('FECHA')+' '+window.app.idioma.t('FIN_ENFRIAMIENTO')) %>:</label>
        <span class="ml-8"><% print(window.app.idioma.t('DESDE')) %></span>
        <span class="ml-8" id="desdeFecha"></span>
        <span class="ml-8"><% print(window.app.idioma.t('HASTA')) %></span>
        <input class="ml-8" id="dtpFecha" style="width: 190px;" />
        <button id="btnFiltrar" class="k-button k-button-icontext" style="margin-left: 5px;"><span class='k-icon k-i-search'></span><% print(window.app.idioma.t('CONSULTAR')) %></button>
        <span class="ml-12" id="EstadoEnvioJDE" style="color:red; display:none;"><span class="warning"></span><span class="txt ml-8"></span></span>
    </div>
    <div style="float: right; margin-right: 10px;">
        <button id="btnExportJDE" class="k-button k-button-icontext k-grid-excel" data-funcion="CDG_FAB_COC_1_EnvioDatosCoccionJDE" style="margin-left: 5px;">
            <span><img src='../../../Common/img/export.svg' style='width:20px; opacity:0.8; margin-top:-4px; margin-right:4px;'></span><% print(window.app.idioma.t('EXPORTAR_JDE')) %>
        </button>
        <button id="btnExportExcel" class="k-button k-button-icontext k-grid-excel" style="margin-left: 5px;">
            <span class="k-icon k-i-excel"></span><% print(window.app.idioma.t('EXPORTAR_EXCEL')) %>
        </button>
        <button id="btnLimpiarFiltros" class="k-button k-button-icontext k-i-delete" style="margin-left: 5px;">
            <span class='k-icon k-i-funnel-clear'></span><% print(window.app.idioma.t('QUITAR_FILTROS')) %>
        </button>
    </div>
</div>

<div id="gridCocciones"></div>
