USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [LOT].[vTransferenciasFabricacion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [LOT].[vTransferenciasFabricacion]
AS
SELECT DISTINCT TOP (100) PERCENT TRANSFERENCIA.IdTransferencia, 
	TRANSFERENCIA.LoteSAI, 
	TRANSFERENCIA.MaterialSAI, 
	TRANSFERENCIA.FechaInicio, 
	TRANSFERENCIA.FechaFin, 
	TRANSFERENCIA.UbicacionOrigen, 
    TRANSFERENCIA.UbicacionDestino, 
	TRANSFERENCIA.Cantidad, 
	TRANSFERENCIA.Unidad, 
	TRANSFERENCIA.Procesado, 
	TRANSFERENCIA.FechaActualizado, 
    UBICACION_ORIGEN.IdUbicacion AS IdUbicacionOrigen, 
	UBICACION_ORIGEN.IdPoliticaVaciado AS PoliticaVaciadoOrigen, 
	ZONA_UBICACION_ORIGEN.IdZona AS ZonaOrigen, 
    UBICACION_DESTINO.IdUbicacion AS IdUbicacionDestino, 
	UBICACION_DESTINO.IdPoliticaVaciado AS PoliticaVaciadoDestino, 
	ZONA_UBICACION_DESTINO.IdZona AS ZonaDestino,
	UBICACION_ORIGEN.IdPoliticaLlenado AS PoliticaLlenadoOrigen,
	UBICACION_DESTINO.IdPoliticaLlenado AS PoliticaLlenadoDestino,
	MODULO_SUBPROCESO.[IdTipoSubproceso],
	CLASE_MATERIAL_ORIGEN.TipoMaterial AS TipoMaterialOrigen,
	CLASE_MATERIAL_ORIGEN.[IdClase] AS ClaseMaterialOrigen,
	CLASE_MATERIAL_DESTINO.TipoMaterial AS TipoMaterialDestino,
	CLASE_MATERIAL_DESTINO.[IdClase] AS ClaseMaterialDestino
FROM            
	LOT.tTransferencias AS TRANSFERENCIA 
	INNER JOIN UBI.tUbicacion AS UBICACION_ORIGEN ON TRANSFERENCIA.UbicacionOrigen = UBICACION_ORIGEN.Nombre 
	INNER JOIN UBI.tZona_tUbicacion AS ZONA_UBICACION_ORIGEN ON ZONA_UBICACION_ORIGEN.IdUbicacion = UBICACION_ORIGEN.IdUbicacion
	INNER JOIN UBI.tUbicacion AS UBICACION_DESTINO ON TRANSFERENCIA.UbicacionDestino = UBICACION_DESTINO.Nombre
	INNER JOIN UBI.tZona_tUbicacion AS ZONA_UBICACION_DESTINO ON ZONA_UBICACION_DESTINO.IdUbicacion = UBICACION_DESTINO.IdUbicacion
	LEFT JOIN [MES_MSM_Fabricacion].[Fab].[ModulosSubprocesos] AS MODULO_SUBPROCESO ON TRANSFERENCIA.LoteSAI LIKE MODULO_SUBPROCESO.Modulo+'%'
	LEFT JOIN [MES_MSM_Trazabilidad].[MAT].[vClaseMaterial] AS CLASE_MATERIAL_ORIGEN ON CLASE_MATERIAL_ORIGEN.IdClase = UBICACION_ORIGEN.IdClaseMaterial
	LEFT JOIN [MES_MSM_Trazabilidad].[MAT].[vClaseMaterial] AS CLASE_MATERIAL_DESTINO ON CLASE_MATERIAL_DESTINO.IdClase = UBICACION_DESTINO.IdClaseMaterial
WHERE 
	UBICACION_ORIGEN.Activo = 1
	AND 
	UBICACION_DESTINO.Activo = 1
ORDER BY TRANSFERENCIA.FechaFin
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'LOT', @level1type=N'VIEW',@level1name=N'vTransferenciasFabricacion'
GO
