USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [LOT].[vControlStock]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [LOT].[vControlStock]
AS

	SELECT	mat.DescTipo AS TIPO_MATERIAL,
			mat.Clase AS CLASE_MATERIAL,
			mat.IdMaterial AS REFERENCIA_MES,
			mat.Nombre AS MATERIAL,
			lot.IdLoteMES AS LOTE_MES,
			lot.IdProveedor AS ID_PROVEEDOR,
			lot.LoteProveedor AS LOTE_PROVEEDOR,
			lot.CantidadInicial AS CANTIDAD_INICIAL,
			lot.CantidadActual AS CANTIDAD_ACTUAL,
			lot.Unidad AS UNIDADES,
			CONVERT(VARCHAR, lot.Prioridad) AS PRIORIDAD,
			lot.FechaEntradaPlanta AS FECHA_ENTRADA_PLANTA,
			lot.FechaEntradaUbicacion AS FECHA_ENTRADA_UBICACION,
			lot.FechaInicioConsumo AS FECHA_INICIO_CONSUMO,
			lot.FechaFinConsumo AS FECHA_FIN_CONSUMO,
			lot.FechaCaducidad AS FECHA_CADUCIDAD,
			lot.FechaCuarentena AS FECHA_CUARENTENA,
			lot.MotivoCuarentena AS MOTIVO_CUARENTENA,
			lot.FechaBloqueo AS FECHA_BLOQUEO,
			lot.MotivoBloqueo AS MOTIVO_BLOQUEO,
			alm.Descripcion AS ALMACEN,
			zona.Descripcion AS ZONA,
			ubi.Nombre AS UBICACION,
			ubi.IdUbicacionLinkMes AS UBICACION_MES,
			ubi.IdUbicacion AS UBICACION_ORIGEN,
			est.Descripcion AS ESTADO_UBICACION,
			tub.Descripcion AS TIPO_UBICACION,
			pva.Descripcion AS POLITICA_VACIADO,
			lot.FechaDefectuoso AS DEFECTUOSO
	FROM 	LOT.tLoteMateriaPrima AS lot
			INNER JOIN [MAT].[vMateriales] AS mat ON mat.IdMaterial = lot.IdMaterial
			INNER JOIN [UBI].[tUbicacion] AS ubi ON ubi.IdUbicacion = lot.IdUbicacion
			INNER JOIN [UBI].[tAlmacen] AS alm ON alm.IdAlmacen = ubi.IdAlmacen
			INNER JOIN  UBI.tZona_tUbicacion AS ZonaUbicacion ON ubi.IdUbicacion = ZonaUbicacion.IdUbicacion 
			INNER JOIN UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona
			INNER JOIN [UBI].[tEstadoUbicacion] AS est ON est.IdEstadoUbicacion = ubi.IdEstado
			INNER JOIN [UBI].[tTipoUbicacion] AS tub ON tub.IdTipoUbicacion = ubi.IdTipoUbicacion
			LEFT JOIN [UBI].[tPoliticaVaciado] AS pva ON pva.IdPoliticaVaciado = ubi.IdPoliticaVaciado
GO
