USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [LOT].[vLoteMMPP]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [LOT].[vLoteMMPP]
AS

SELECT 
	Lote.IdLoteMateriaPrima				AS ID_LOTE_MMPP,
	TM.DescTipo					AS TIPO_MATERIAL,
	MM.Clase					AS CLASE_MATERIAL,
	MM.IdMaterial				AS REFERENCIA_MES, 
	MM.Descripcion				AS MATERIAL,
	Lote.IdLoteMES				AS LOTE_MES,
	Lote.IdProveedor			AS ID_PROVEEDOR,
	Proveedor.Proveedor			AS PROVEEDOR,
	Lote.LoteProveedor			AS LOTE_PROVEEDOR,
	Lote.CantidadInicial		AS CANTIDAD_INICIAL,
	Lote.CantidadActual			AS CANTIDAD_ACTUAL,
	MM.UdMedida					AS UNIDADES,
	Lote.PRIORIDAD				AS PRIORIDAD,
    Lote.FechaEntradaPlanta     AS FECHA_ENTRADA_PLANTA,
    Lote.FechaEntradaUbicacion  AS FECHA_ENTRADA_UBICACION,
    Lote.FechaInicioConsumo 	AS FECHA_INICIO_CONSUMO,
    Lote.FechaFinConsumo        AS FECHA_FIN_CONSUMO,
    Lote.FechaCaducidad         AS FECHA_CADUCIDAD,
    Lote.FechaCuarentena        AS FECHA_CUARENTENA,
    Lote.MotivoCuarentena       AS MOTIVO_CUARENTENA,
    Lote.FechaBloqueo           AS FECHA_BLOQUEO,
	Lote.MotivoBloqueo			AS MOTIVO_BLOQUEO,
	Almacen.Descripcion			AS ALMACEN,
	Almacen.IdAlmacen			AS ID_ALMACEN,
	Zona.Descripcion			AS ZONA,
	Zona.IdZona					AS ID_ZONA,
	Ubicacion.Nombre			AS UBICACION,
	Ubicacion.IdUbicacionLinkMes AS UBICACION_MES,
	Ubicacion.IdUbicacion		AS UBICACION_ORIGEN,
	EstadoUbicacion.Descripcion AS ESTADO_UBICACION,
	TipoUbicacion.Descripcion	AS TIPO_UBICACION,
	TipoUbicacion.IdTipoUbicacion AS ID_TIPO_UBICACION,
	PoliticaVaciado.Descripcion AS POLITICA_VACIADO,
	Lote.FechaDefectuoso		AS DEFECTUOSO,
	LINEA.Id					AS LINEA,
	Lote.Actualizado			AS ACTUALIZADO
FROM [LOT].[tLoteMateriaPrima] Lote
     INNER JOIN [MAT].[vMateriales] MM ON MM.IdMaterial = Lote.IdMaterial
	 LEFT JOIN [MAT].[vTipoMaterial] TM ON TM.Tipo = MM.Tipo
	 LEFT JOIN [UBI].[tUbicacion] Ubicacion ON Ubicacion.IdUbicacion = Lote.IdUbicacion
	 INNER JOIN [UBI].[tAlmacen] Almacen ON Almacen.IdAlmacen = Ubicacion.IdAlmacen
	 INNER JOIN  UBI.tZona_tUbicacion AS ZonaUbicacion ON Ubicacion.IdUbicacion = ZonaUbicacion.IdUbicacion 
			INNER JOIN UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona
	 LEFT JOIN UBI.tEstadoUbicacion EstadoUbicacion ON EstadoUbicacion.IdEstadoUbicacion = Ubicacion.IdEstado
	 LEFT JOIN [UBI].[tTipoUbicacion] TipoUbicacion ON TipoUbicacion.IdTipoUbicacion = Ubicacion.IdTipoUbicacion
	 LEFT JOIN [UBI].[tPoliticaVaciado] PoliticaVaciado ON PoliticaVaciado.IdPoliticaVaciado = Ubicacion.IdPoliticaVaciado
	 LEFT JOIN [MES_MSM].[dbo].[Lineas] AS LINEA ON UBICACION.IdUbicacionLinkMES like LINEA.Id+'%'
	 LEFT JOIN [MAT].[vMaestroProveedores] Proveedor ON Proveedor.IdProveedor = Lote.IdProveedor
GO
