USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [LOT].[vLoteSemielaborado]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [LOT].[vLoteSemielaborado]
AS

SELECT	mat.DescTipo AS TipoMaterial,
			mat.Clase AS ClaseMaterial,
			mat.IdMaterial AS IdMaterial,
			mat.Nombre AS NombreMaterial,
			lot.LoteMES AS LoteMes,
			lot.CantidadInicial AS CantidadInicial,
			lot.CantidadActual AS CantidadActual,
			lot.Unidad AS Unidad,
			lot.FechaConsumo AS FechaConsumo,
			lot.FechaCreacion AS FechaCreacion,
			alm.Descripcion AS Almacen,
			zona.Descripcion AS Zona,
			ubi.Nombre AS Ubicacion,
			ubi.IdUbicacionLinkMes AS UbicacionMES,
			ubi.IdUbicacion AS IdUbicacionOrigen,
			est.Descripcion AS EstadoUbicacion,
			tub.IdTipoUbicacion AS IdTipoUbicacion,
			tub.Descripcion AS TipoUbicacion,
			pva.Descripcion AS PoliticaVaciado
	FROM 	LOT.tLoteSemielaborado AS lot
			LEFT JOIN [MAT].[vMateriales] AS mat ON mat.IdMaterial = lot.IdMaterial
			INNER JOIN [UBI].[tUbicacion] AS ubi ON ubi.IdUbicacion = lot.IdUbicacion
			INNER JOIN [UBI].[tAlmacen] AS alm ON alm.IdAlmacen = ubi.IdAlmacen
			INNER JOIN [UBI].[tZona_tUbicacion] ZonaUbicacion ON ZonaUbicacion.IdUbicacion = ubi.IdUbicacion	 
			INNER JOIN [UBI].[tZona] AS zona ON zona.IdZona = ZonaUbicacion.IdZona
			LEFT JOIN [UBI].[tEstadoUbicacion] AS est ON est.IdEstadoUbicacion = ubi.IdEstado
			LEFT JOIN [UBI].[tTipoUbicacion] AS tub ON tub.IdTipoUbicacion = ubi.IdTipoUbicacion
			LEFT JOIN [UBI].[tPoliticaVaciado] AS pva ON pva.IdPoliticaVaciado = ubi.IdPoliticaVaciado
GO
