USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vEstadoLote]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [MAT].[vEstadoLote]
AS

SELECT 
	* 
FROM 
	[SITMesDb].[dbo].[MMLotStatuses]




GO
