USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMaestroEANProveedorJDE]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 29012018
-- Description:	obtiene el listado de proveedores
--  =============================================
CREATE VIEW [MAT].[vMaestroEANProveedorJDE]
AS

SELECT DISTINCT
	ISNULL(ROW_NUMBER() OVER(ORDER BY (SELECT NULL)), -1) AS Id,
	COALESCE(IdProveedor,'') IdProveedor,
	COALESCE(MIN(Proveedor),'') AS Proveedor,
	COALESCE(IdJDE,'') AS IdJDE
FROM(
	SELECT  distinct  convert(int,rtrim(ltrim(IdProveedor))) as IdProveedor, Proveedor,IdJDE	 
	FROM   [MAT].[vMaestroEAN](NOLOCK)
	
	WHERE  IdProveedor > 0
	
	UNION ALL

	SELECT  distinct  convert(int,rtrim(ltrim(IdProveedor))) as IdProveedor, LTRIM(RTRIM(Nombre))	 AS Proveedor,NULL 
	FROM [MAT].[tProveedorEAN]
) AS Proveedores
WHERE LTRIM(RTRIM(Proveedor)) IS NOT NULL AND LTRIM(RTRIM(Proveedor)) <> ''
	GROUP	BY  IdProveedor,IdJDE

GO
