USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMatriculaTransporte]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 07032018
-- Description:	Obtiene para cada matricula informacion sobte el transporte
-- =============================================
CREATE VIEW [MAT].[vMatriculaTransporte]
AS

	SELECT  distinct
			mt.IdMatriculaTractora as  IdMatriculaTractora,
			ISNULL(ope.IdOperador,0) as IdOperador,
			ISNULL(ope.Nombre,'') as NombreOperador,
			tr.IdProducto, 
			tr.IdProveedor,
			tr.IdTransportista,
			mt.MatriculaTractora,
			pr.NIF,
			pr.Nombre as NombreTransportista,
			mt.PesoMaximo,			
			tr.Actualizado as Actualizado
	FROM [TRA].[tMatriculaTractora] mt (NOLOCK)
	LEFT JOIN  TRA.tMatriculaTractoraRemolque rm (NOLOCK)
	ON mt.[IdMatriculaTractora] = rm.[IdMatriculaTractora]
	LEFT JOIN TRA.tTransporte TR  (NOLOCK)
	ON TR.IdMatriculaTractoraRemolque  = rm.IdMatriculaTractoraRemolque
	LEFT JOIN [TRA].[tOperador] ope  (NOLOCK)
	ON ope.IdOperador  = tr.IdOperador	
	INNER JOIN  [TRA].[tTransportista] pr  (NOLOCK)  on pr.IdTransportista = tr.IdTransportista
	










GO
