USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMaestroMateriales]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [MAT].[vMaestroMateriales]
AS

SELECT distinct [IdMaterial]
      ,[Nombre]
      ,[Descripcion]
	  ,[UdMedida]
	  ,[PK_Material]
  FROM [MAT].[vMateriales]
	






GO
