USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMaestroProveedores]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [MAT].[vMaestroProveedores]
AS

SELECT	ISNULL(ROW_NUMBER() OVER(ORDER BY IdProveedor Asc), -1) AS Id,
		IdProveedor, upper(min(Proveedor)) as Proveedor
FROM	[MAT].[vMaestroEANProveedorJDE]
GROUP BY IdProveedor

GO
