USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vJDEOAs]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







--SELECT * from [MAT].[vJDEOAs]


CREATE VIEW [MAT].[vJDEOAs]
AS

	--SELECT
	--	row_number() over (order by PDDCTO ASC,PDLNID ASC) as ID, 
	--	--NEWID() as  GUID,
	--	CompanyOrder as [Compañia],
	--	PDDOCO as [OA],
	--	PDDCTO as [Tipo Documento],
	--	PDLNID as [Linea Documento],
	--	PDMCU as  [Planta],
	--	PDAN8 as  [Proveedor],
	--	dateadd(dd, (PDTRDJ  - ((PDTRDJ /1000) * 1000)) - 1, dateadd(yy, PDTRDJ /1000, 0)) as [Fecha Inicio Orden],
	--	PDLITM as [Material],
	--	PDNXTR as [Estado Siguiente],
	--	PDLTTR as [Ultimo Estado],
	--	PDPDP1 as [Familia Compras],
	--	PDPDP2 as [Clase Material],
	--	PDUOM as  [Unidad Medida],
	--	PDUORG as [Cantidad Total OA],
	--	PDUOPN as [Cantidad Pendiente OA],
	--	PDUREC as [Cantidad Recibida OA],
	--	CAST (PDDOCO as nvarchar(8)) +'-' + CAST(PDLNID as nvarchar(6)) + '-' + Cast(PDUOPN as nvarchar(15)) as Descripcion
			  
--FROM 
--		--[JDE].[S4405712].[PRODDTA].[F4311]
--		[JDE].[JDE].[PRODDTA].[F4311]
--WHERE
--		PDDCTO = 'OA' AND
--		(PDMCU = '8030' ) AND -- ESTE INDICADOR ES LA PLANTA. PONER EN CADA ENTORNO LA SUYA (8030 BURGOS)
--		( (PDNXTR = 400 AND (PDLTTR = 200 OR PDLTTR = 400 OR PDLTTR = 999)) OR 
--		  (PDNXTR = 999 AND PDLTTR = 200) )


Select *
from (  SELECT TOP 1000
            ROW_NUMBER() over(order by id) as ID 
			,t.CompanyOrder as  [Compañia]
			,t.OrderNumber  as [OA] 
			,t.OrderType  as [Tipo Documento]
			,t.LineNumber as [Linea Documento]
			,t.Center as [Planta]
			,t.Provider as [Proveedor]
			,t.DateOrder as  [Fecha Inicio Orden]
			,t.Material as  [Material]
			,t.NextState as [Estado Siguiente]
			,t.LastState as [Ultimo Estado]
			,t.FamiliaCompras as [Familia Compras]
			,t.MaterialClass as [Clase Material]
			,t.UnitMeasure as [Unidad Medida]
			,t.TotalAmountOA as [Cantidad Total OA]
			,t.PendingAmontOA as [Cantidad Pendiente OA]
			,t.ReceivedAmountOA as [Cantidad Recibida OA]
			,CAST (t.OrderNumber as nvarchar(8)) +'-' + CAST(t.LineNumber as nvarchar(6)) + '-' + Cast(PendingAmontOA as nvarchar(15)) as Descripcion
			--,t.ANYO
			--,t.ANO
        from (  SELECT top 1 1 AS id, * 
                FROM OPENQUERY(JDE,'SELECT PDKCOO AS CompanyOrder
											,PDDOCO AS OrderNumber
											,PDDCTO AS OrderType
											,PDLNID AS LineNumber
											,PDMCU AS Center
											,PDAN8 AS Provider
																				
											, CAST(CAST( ((CAST( (PDTRDJ - MOD(PDTRDJ, 1000)) / 1000 AS INT) + 1900) * 1000) + MOD(PDTRDJ, 1000) AS CHAR(7)) AS DATE) AS DateOrder
											,PDLITM AS Material
											,PDNXTR AS NextState
											,PDLTTR AS LastState
											,PDPDP1 AS FamiliaCompras
											,PDPDP2 AS MaterialClass
											,PDUOM AS UnitMeasure
											,PDUORG AS TotalAmountOA
											,PDUOPN AS PendingAmontOA
											,PDUREC AS ReceivedAmountOA 
											
									FROM PRODDTA.F4311
									WHERE PDDCTO = ''OA'' 
										AND RTRIM(LTRIM(PDMCU)) = ''8010''
										AND ((PDNXTR = 400 AND (PDLTTR = 200 OR PDLTTR = 400 OR PDLTTR = 999)) OR (PDNXTR = 999 AND PDLTTR = 200))
										--AND YEAR ( CAST(CAST( ((CAST( (PDTRDJ - MOD(PDTRDJ, 1000)) / 1000 AS INT) + 1900) * 1000) + MOD(PDTRDJ, 1000) AS CHAR(7)) AS DATE))  >= (YEAR(CURRENT DATE) -1 )
									ORDER BY PDTRDJ DESC')) as t
     ) as ds
GO
