USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vUdMedidaUbicacion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [MAT].[vUdMedidaUbicacion]
AS

SELECT distinct UdMedida AS IdUdMedida
  FROM [MAT].[vMateriales]
	






GO
