USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vOrdenPreparacion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 03082018
-- Description:	Obtiene la informacion de la tabla 
-- =============================================
CREATE VIEW [MAT].[vOrdenPreparacion]
AS
	SELECT	TIPO_ORDEN AS TipoOrden,
			ID_ESTADO as IdEstado,	
			DESCRIPCION as Descripcion,
			UNIDADES as Unidades,
			ID_ORDEN as IdOrden,
			ID_UBICACION as IdUbicacion
	FROM	[MES_MSM].DBO.[COB_MSM_ORDEN_PREPARACION]








GO
