USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vProduccionOffsets]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 14032018
-- Description:	Obtiene la informacion del offset
-- =============================================
CREATE  VIEW [MAT].[vProduccionOffsets]
AS

	   SELECT  [idProduccion] as IdProduccionOffset,
				ubi.IdUbicacion,
				ubi.nombre as 'NombreUbicacion',
				ofset.[VelocidadNominalReferencia],
			 -- ofset.[VelocidadNominalProducto],
			  ofset.[Offset],
			  [RendimientoWO]
	  FROM	[MES_MSM_Trazabilidad].[TRA].[tProduccionOffsets] ofset (NOLOCK),
			[MES_MSM_Trazabilidad].[UBI].[tUbicacion] ubi(NOLOCK)
	  Where ofset.idUbicacion = ubi.idUbicacion

	





GO
