USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vPropExtend]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 29012018
-- Description:	Obtiene las propiedades  extendidas del material.
-- =============================================
CREATE VIEW [MAT].[vPropExtend]
AS

	SELECT	def_data.DefID,
			prop.PropertyName, 
			prop.PropertyID, 
			prop.PrpGroupID,
			prop.UomID
	FROM	[SITMesDB].[dbo].[MMvDefinitions] def_data  (NOLOCK)
			INNER JOIN [SITMesDB].dbo.[MMDefVers] 	def_ver  (NOLOCK)
			ON  def_ver.DefPK  = def_data.DefPK
				INNER JOIN [SITMesDB].[dbo].[MMvDefProperties] def_prop (NOLOCK)
				ON def_ver.[DefVerPK] = def_prop.DefVerPK  
					INNER JOIN [SITMesDB].[dbo].[MMwProperties] prop (NOLOCK)  
					ON prop.PropertyID = def_prop.PropertyID			
			







GO
