USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vAllPropExtendbyLot]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 29012018
-- Description:	Obtiene las propiedades  extendidas del material por lote
--  =============================================
CREATE VIEW [MAT].[vAllPropExtendbyLot]
AS

	SELECT 
			PrpGroupID,
			Lot_info.LotID,
			mat_prop_values.PropValChar,
			mat_prop_values.PropValDate,
			mat_prop_values.PropValDec,
			prop.PropertyID, 
			prop.UomID, 
			lot_custom.Serial_number,lot_info.LastUpdate,
			def_data.DefID,
			lot_info.Quantity,
			lot_info.ValidFrom,
			lot_info.ValidTill,
			lot_info.[CreatedOn],
			lot_info.[LastUpdate] as LotLastUpdate
			
	FROM 
			[SITMesDb].[dbo].[MMLotS] Lot_info  (NOLOCK)
			INNER JOIN  [SITMesDb].[dbo].[MMLotPrpVals] mat_prop_values
			ON Lot_info.LotPK = mat_prop_values.LotPK 
				INNER JOIN [SITMesDB].[dbo].[MMwProperties] prop (NOLOCK)
				ON  prop.PropertyPK = mat_prop_values.PropertyPK
					left JOIN [SITMesDb].[dbo].[MMLotsCustom] lot_custom  (NOLOCK)
					ON Lot_info.LotPK = mat_prop_values.LotPK 
					AND  mat_prop_values.LotPK = lot_custom.LotPK
					INNER JOIN [SITMesDB].dbo.[MMDefVers] 	def_ver  (NOLOCK)
					ON  Lot_info.defverPK  = def_ver.defverPK
						INNER JOIN [SITMesDB].[dbo].[MMvDefinitions] def_data  (NOLOCK) 
						 ON  def_ver.DefPK  = def_data.DefPK
	
	where Lot_info.RowDeleted =0
GO
