USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vInterspecMaterialBOM]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [MAT].[vInterspecMaterialBOM]
AS
	SELECT 
       MMBAlts.BomAltName AS IDBom
	   --,Lz.Linea
	   --,Lz.Zona
       ,MMProductos.IDProducto
       ,MMProductos.DescProducto
       ,MMMateriales.IDMaterial AS IDMaterial
       ,MMMateriales.NomMaterial AS NomMaterial
       ,MMMateriales.DescMaterial AS DescMaterial
	   ,MaterialesAV.Nombre as DescMaterialProv
	   ,MaterialesAV.IdEanValido AS CodEAN
       ,MaterialesAV.CodProveedor AS IDProveedor
       ,MaterialesAV.Proveedor AS DescProveedor
	   

	FROM
		(SELECT
			D.DefID AS IDProducto
			,D.DefPK
			,D.Descript AS DescProducto
		FROM 
			[SITMesDB].[dbo].MMDefVers AS DV
			INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
			INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
			INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
			INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
			INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
		WHERE 
			(T.TypeID = '03') AND DS.IsApproved = 1 AND DS.IsObsolete = 0 AND (UM1.UomID = 'MD' OR UM1.UomID = 'PL')) AS MMProductos --Sólo Producto Terminado, Aprobados y No Obsoletos
		
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBoms AS MMBoms ON MMProductos.DefPK = MMBoms.DefPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomAlts AS MMBAlts ON MMBoms.BomPK = MMBAlts.BomPK
		LEFT OUTER JOIN [SITMesDB].[dbo].MMBomItemAlts AS MMBIAlts ON MMBAlts.BomAltPK = MMBIAlts.BomAltPK
		LEFT OUTER JOIN
			(SELECT
				D.DefID AS IDMaterial,
				D.DefPK,
				D.DefName AS NomMaterial,
				D.Descript AS DescMaterial
			FROM 
				[SITMesDB].[dbo].MMDefVers AS DV
				INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D ON D.DefPK = DV.DefPK
				INNER JOIN [SITMesDB].[dbo].MMClasses AS C ON C.ClassPK = D.ClassPK
				INNER JOIN [SITMesDB].[dbo].MMTypes AS T ON T.TypePK = C.TypePK
				INNER JOIN [SITMesDB].[dbo].MMDefStatuses AS DS ON DS.DefStatusPK = DV.DefStatusPK 
				INNER JOIN [SITMesDB].[dbo].MESUoMs AS UM1 ON UM1.UomPK = DV.UomPK
			WHERE	
				(T.TypeID = '02') AND DS.IsApproved = 1 AND DS.IsObsolete = 0) AS MMMateriales --Sólo Envases y Embalajes, Aprobados y No Obsoletos
			ON MMBIAlts.DefPK = MMMateriales.DefPK

		INNER JOIN [MAT].[tEANJDE] AS MaterialesAV ON MMMateriales.IDMaterial = MaterialesAV.CodigoMahou
		--INNER JOIN [AVANADE].[MAHOUTRAZAS].[dbo].[EansValidos] AS MaterialesAV ON MMMateriales.IDMaterial = MaterialesAV.CodigoMahou

		--INNER JOIN [MES_MSM_Trazabilidad].[MAT].vOrdenesLineaZona as LZ ON LZ.BOM_ID = MMBAlts.BomAltName

	--WHERE 
		--Linea = 'MSM.BURGOS.ENVASADO.B109'
		--and Zona = 'B14' 
		--and IDMaterial = '0202928'
		--and IdEanValido = '0103250261191345'
	
	--ORDER BY
		--MMProductos.IDProducto
        --,MMMateriales.IDMaterial





GO
