USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vOrdenesEquipo]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--=============================================
-- Author:		Miguel Angel Suero Aviles - IDOM
-- Create date: 28062018
-- Description:	Obtiene el listado de ordenes por equipo
--  =============================================
CREATE VIEW [MAT].[vOrdenesEquipo]
AS

	SELECT 	
	Particiones.Id as Orden	
	,Zonas.Equip_name
	,Particiones.FecIniReal
   FROM 
	[MES_MSM].[dbo].[Particiones]  as Particiones
		INNER JOIN 
		(
			SELECT DISTINCT
				Ordenes.equip_prpty_value AS Orden,
				COB_MSM_ZONAS.FK_LINEAS_ID as IdLinea,
				COB_MSM_LINEAS.LINEA as Linea,
				COB_MSM_ZONAS.ID_ZONA as Zona,
				Equipos.Equip_name
			FROM
				[SitMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] as Zonas
				INNER JOIN  [MES_MSM].[dbo].[COB_MSM_ZONAS] on COB_MSM_ZONAS.ID_ZONA = Zonas.equip_prpty_value
				INNER JOIN  [MES_MSM].[dbo].[COB_MSM_LINEAS] on COB_MSM_LINEAS.Id_Linea =  COB_MSM_ZONAS.FK_LINEAS_ID
				INNER JOIN  [SitMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] as Ordenes on Zonas.equip_pk = Ordenes.equip_pk
				INNER JOIN  [SitMesDB].[dbo].[BPM_EQUIPMENT] as Equipos on Equipos.equip_pk = Zonas.equip_pk
			WHERE 
				Zonas.equip_prpty_id = 'ZONA_ID' 
				and Ordenes.equip_prpty_id = 'ORDER_ID' 
				and Equipos.equip_in_plant = 1 
				and Equipos.equip_status = 1
			GROUP BY
				COB_MSM_ZONAS.ID_ZONA,
				Ordenes.equip_prpty_value,
				COB_MSM_ZONAS.FK_LINEAS_ID,
				COB_MSM_LINEAS.LINEA,
				Equipos.Equip_name
		) as ZONAS ON ZONAS.Orden = Particiones.Id
		
		INNER JOIN 
			(SELECT 
				DISTINCT bom_id, pom_order_id
			FROM 
				[SITMesDB].[dbo].POM_ORDER PO --ON PO.pom_order_id = Orden
				INNER JOIN [SITMesDB].[dbo].POM_ENTRY PE ON PO.pom_order_pk = PE.pom_order_pk
				inner join [SITMesDB].[dbo].[BPM_EQUIPMENT_PROPERTY] EQ ON EQ.equip_prpty_value = PO.pom_order_id
			WHERE 
				EQ.equip_prpty_id = 'ORDER_ID' and bom_id is not null
			 ) as OB ON OB.pom_order_id = Orden 
	 
	
	
















GO
