USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMATFactor]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 31012018
-- Description:	Obtiene para cada material el factor que le corresponde
-- =============================================
CREATE VIEW [MAT].[vMATFactor]
AS

		Select  
			def_data.DefPK as PK,
			def_data.DefID as [DefinitionID],	
			'1.0' as [Factor],    
			def_uom.[UomID] as [SourceUoMID], 	
			def_uom.[UomID] as [TargetUoMID]
	FROM 	[SITMesDB].[dbo].[MMvDefinitions] def_data    (NOLOCK)
				INNER JOIN [SITMesDB].dbo.[MMDefVers] 	def_ver  (NOLOCK)
				ON  def_ver.DefPK  = def_data.DefPK
					 INNER JOIN  [SITMesDb].[dbo].[MESUoMs] def_uom  (NOLOCK)
					 on  def_uom.[UomPK] = def_ver.[UomPK]
	UNION 
	Select   
			def.DefQtyConvPK as PK,
			def_data.DefID as [DefinitionID],	
			ConvFactor as [Factor],    
			SourceUomID,
			TargetUomID
	FROM 	[SITMesDB].dbo.MTMV2_B_DEF_QTY_CNV def
			INNER JOIN 	[SITMesDB].[dbo].[MMvDefinitions] def_data    (NOLOCK)
			ON  def_data.DefID = def.DefID
	




GO
