USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vProduccion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 13032018
-- Description:	Obtiene la informacion de la produccion
-- =============================================
CREATE VIEW [MAT].[vProduccion]
AS

		SELECT [idProduccion]
      ,[idEtiqueta]
      ,[Linea]
      ,[Referencia]
      ,[EtiquetaCreatedAt]
      ,[ParticionWO]
      ,[SSCC]
      ,[idLotMes]
      ,Estado
      ,[CreatedAt]
      ,[CreatedBy]
      ,[LastModifiedMesAt]
      ,[LastModifiedMes]
      ,[EntradaAlmacenAt]
      ,isnull(Prod_cuar.Motivo,'') as [MotivoCuarentena]
	  ,isnull(Prod_blo.Motivo,'') as [MotivoBloqueo]
      ,[Picos]
      ,[Ubicacion]
      ,[DescripCliente]
      ,[SalidaAlmacenAt]
      ,[Consolidado]
      ,[LastModifiedSgaAt]
      ,[LastModifiedSga]
      ,actualizadopor as [LastModifiedBy]
      ,actualizado as [LastModifiedAt]
      ,[VelocidadNominalProducto]
      ,[CuarentenaAt]
      ,[BloqueoAt]
  FROM [TRA].[tProduccion] PRD  (NOLOCK)
	  LEFT JOIN [TRA].[tProduccionesStatus] Prod_Status (NOLOCK)
	  ON Prod_Status.idStatus = PRD.IdStatus
	  LEFT JOIN [TRA].tProduccionMotivoBloqueo Prod_blo (NOLOCK)
	  ON PRD.IdMotivoBloqueo = Prod_blo.idMotivo
	   LEFT JOIN [TRA].tProduccionMotivoCuarentena Prod_cuar (NOLOCK)
	  ON PRD.IdMotivoCuarentena = Prod_cuar.idMotivo

	






GO
