USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vTipoMaterial]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [MAT].[vTipoMaterial]
AS

SELECT distinct [Tipo]
      ,[DescTipo]
  FROM [MAT].[vMateriales]
	





GO
