USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMaterialesProducto]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [MAT].[vMaterialesProducto]
AS

SELECT DISTINCT 
		md.DefID AS IdProducto, 
		mf.DefID AS IdMaterial, 
		pe.ExecEquipList_ExecEquipLongName AS Linea
FROM            
		SITMesDB.dbo.MMDefinitions AS md INNER JOIN
        SITMesDB.dbo.MMvBomsWithAlts AS ba ON md.DefPK = ba.DefPK INNER JOIN
        SITMesDB.dbo.MMBomItemAlts AS bi ON ba.BomAltPK = bi.BomAltPK INNER JOIN
        SITMesDB.dbo.MMDefinitions AS mf ON bi.DefPK = mf.DefPK INNER JOIN
        SITMesDB.dbo.MESUoMs AS uo ON bi.UomPK = uo.UomPK INNER JOIN
        SITMesDB.dbo.PDefM_PPR AS pp ON ba.BomAltName = pp.PPR_FinalMaterialBOMId INNER JOIN
        SITMesDB.dbo.PDefM_PS_ExecEquipList AS pe ON pp.PPR = pe.ExecEquipList_PPR
GO
