USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vMaestroEAN]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [MAT].[vMaestroEAN]
AS

	SELECT DISTINCT
	   Maestro.IdEAN AS IdMaestroEAN 
       ,Maestro.EAN AS EAN
       ,Maestro.IdMaterial AS IdJDE
       ,COALESCE(Materiales.Descripcion, Maestro.Material) AS Nombre
       ,Maestro.IdProveedor AS IdProveedor
       ,IIF(Proveedor.Nombre IS NULL, IIF(ProveedoresJDE.Nombre IS NOT NULL,ProveedoresJDE.Nombre,''),Proveedor.Nombre) AS Proveedor
	   ,IIF(Maestro.Creado IS NULL, Maestro.Actualizado,Maestro.Creado) AS Fecha
	   , 'Manual' AS Tipo
	   ,COALESCE(Maestro.Cantidad,0) AS Cantidad
	   ,Maestro.UoM AS UoM
 FROM 
		[MAT].[tEANManual]	As Maestro	
		LEFT JOIN [TRA].[vMaterialData]()  Materiales ON Materiales.IdMaterial = Maestro.IdMaterial
		LEFT JOIN [MAT].[tProveedorEAN] Proveedor ON Proveedor.IdProveedor = Maestro.IdProveedor
		LEFT JOIN (SELECT DISTINCT CodProveedor AS IdProveedor, MIN(Proveedor) AS Nombre  FROM [MAT].[tEANJDE] GROUP BY CodProveedor) AS ProveedoresJDE ON ProveedoresJDE.IdProveedor =  Maestro.IdProveedor
UNION
SELECT DISTINCT
	   0 AS IdMaestroEAN 
       ,MaterialesAV.IdEanValido AS EAN
       ,MaterialesAV.CodigoMahou AS IdJDE
       ,MaterialesAV.Nombre AS Nombre
       ,MaterialesAV.CodProveedor AS IdProveedor
       ,MaterialesAV.Proveedor AS Proveedor
	   ,MaterialesAV.Fecha AS Fecha
	   , 'Auto' AS Tipo
	   , 0 AS Cantidad
	   , '' AS UoM
 FROM 
	[MAT].[tEANJDE] AS MaterialesAV
GO
