USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vLote]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MAT].[vLote]
AS
SELECT   
			ds.* , 
			d.Defid,
			lot_custom.Serial_number, 
			ss.Reclasificado,
			ver.UomID,
			PROP_Fecha_cuarentena.PropValDate	AS FechaCuarentena,
			ISNULL(PROP_Motivo_cuarentena.PropValChar,'')	AS MotivoCuarentena,
			PROP_Fecha_bloqueo.PropValDate		AS FechaBloqueo,
			ISNULL(PROP_Motivo_bloqueo.PropValChar,'')	AS MotivoBloqueo
		FROM	[SITMesDB].[dbo].MMlots ds (NOLOCK)
					INNER  join  [SITMesDB].[dbo].MMDefVers AS DV (NOLOCK)
					ON    ds.DefVerPK =DV.DefVerPK
					INNER JOIN [SITMesDB].[dbo].MMDefinitions AS D (NOLOCK)
					ON D.DefPK = DV.DefPK
							INNER JOIN [SITMesDB].[dbo].[MESUoMs] ver  (NOLOCK)
							ON ver.UomPK = ds.UomPK
							LEFT JOIN [SITMesDb].[dbo].[MMLotsCustom] lot_custom  (NOLOCK)
							ON lot_custom.LotPK = ds.LotPK
							LEFT JOIN [TRA].[vLotReclassifyData]() ss
							on   ss.LotID = ds.LotID  
					LEFT JOIN [MAT].[vAllPropExtendbyLot] PROP_Fecha_Bloqueo ON PROP_Fecha_Bloqueo.LotID = ds.LotID AND (PROP_Fecha_Bloqueo.PropertyID ='Fecha_bloqueo')
					LEFT JOIN [MAT].[vAllPropExtendbyLot] PROP_Motivo_Bloqueo ON PROP_Motivo_Bloqueo.LotID = ds.LotID AND (PROP_Motivo_Bloqueo.PropertyID ='Motivo_bloqueo')
					LEFT JOIN [MAT].[vAllPropExtendbyLot] PROP_Fecha_cuarentena ON PROP_Fecha_cuarentena.LotID = ds.LotID AND (PROP_Fecha_cuarentena.PropertyID = 'Fecha_cuarentena')
					LEFT JOIN [MAT].[vAllPropExtendbyLot] PROP_Motivo_Cuarentena ON PROP_Motivo_Cuarentena.LotID = ds.LotID AND (PROP_Motivo_Cuarentena.PropertyID ='Motivo_cuarentena')
		Where ds.[RowDeleted] = 0
GO
