USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vInterspecEansValidos]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE VIEW [MAT].[vInterspecEansValidos]
AS

SELECT
       MaterialesAV.IdEanValido AS EAN
       ,MaterialesMM.DefID AS IdJDE
       ,MaterialesAV.CodigoMahou AS IdJDEAv
       ,MaterialesMM.Descript AS Nombre
       ,MaterialesAV.Nombre AS NombreAV
       ,MaterialesAV.CodProveedor AS IdProveedor
       ,MaterialesAV.Proveedor
	   ,MaterialesAV.Fecha
FROM 
	SITMesDB.dbo.MMDefinitions AS MaterialesMM
		INNER JOIN [MAT].[tEANJDE] AS MaterialesAV  ON MaterialesMM.DefID = MaterialesAV.CodigoMahou
				


GO
