USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [MAT].[vClaseMaterial]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW  [MAT].[vClaseMaterial]
AS

	SELECT  IdClase,
			[Clase],
			[Tipo] as TipoMaterial,
			[DescTipo] as DesTipoMaterial
	FROM [MAT].[vMateriales]
	 group by idClase,[Clase],[Tipo],[DescTipo]
	








GO
