USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [OPE].[vLotesSinAsignarEAN]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [OPE].[vLotesSinAsignarEAN]
AS
SELECT        op.IdOperacion,
			  op.IdLote, op.IdUbicacionDestino, op.Cantidad, op.UnidadesMedida, op.Proveedor, op.EAN, op.SSCC, op.ReferenciaMaterial, op.Actualizado, CAST(prov.IdProveedor AS NVARCHAR(50)) 
                         + ' - ' + prov.Proveedor AS NombreProveedor, mat.IdMaterial + ' - ' + mat.Descripcion AS NombreMaterial, CAST(ubi.IdUbicacion AS NVARCHAR(50)) + ' - ' + ubi.Nombre AS NombreUbicacion
FROM            OPE.tOperacion AS op LEFT OUTER JOIN
                         MAT.vMaestroEANProveedorJDE AS prov ON prov.IdProveedor = op.Proveedor LEFT OUTER JOIN
                         MAT.vMateriales AS mat ON mat.IdMaterial = op.ReferenciaMaterial LEFT OUTER JOIN
                         UBI.tUbicacion AS ubi ON ubi.IdUbicacion = op.IdUbicacionDestino
WHERE        (op.IdTipoOperacion = 26)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "op"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "prov"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 136
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "mat"
            Begin Extent = 
               Top = 6
               Left = 494
               Bottom = 136
               Right = 699
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ubi"
            Begin Extent = 
               Top = 6
               Left = 737
               Bottom = 136
               Right = 979
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'OPE', @level1type=N'VIEW',@level1name=N'vLotesSinAsignarEAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'OPE', @level1type=N'VIEW',@level1name=N'vLotesSinAsignarEAN'
GO
