USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [ORD].[vMaterialesOrdenPreparacion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 06062018
-- Description:	Obtiene la informacion de los materiales que le corresponden a una orden de preparacion
-- =============================================
CREATE VIEW [ORD].[vMaterialesOrdenPreparacion]
AS
	SELECT	Materiales.[$IdArchObj] as Id,			
			Materiales.ID_ORDEN as IdOrden,
			ID_UBICACION as IdUbicacion,
			Materiales.ID_MATERIAL as IdMaterial,
			Materiales.CANTIDAD as Cantidad,
			Materiales.ID_LOTE as IdLote
	FROM	[MES_MSM].DBO.[COB_MSM_ORDEN_PREPARACION] Ordenes (NOLOCK),
			[MES_MSM].[dbo].[COB_MSM_MATERIA_PRIMA_ORDEN_PREP] Materiales (NOLOCK)
	WHERE	 Ordenes.ID_ORDEN  = Materiales.ID_ORDEN





GO
