USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [SCH].[vMetaTable]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [SCH].[vMetaTable]
AS
SELECT
    TABLE_SCHEMA AS SchemaName
  , CASE TABLE_SCHEMA
      WHEN 'UBI' THEN 'Ubicaciones'
      WHEN 'MAT' THEN 'Materiales'
      WHEN 'OPE' THEN 'Operaciones'
      WHEN 'TRA' THEN 'Transportes'
      ELSE TABLE_SCHEMA
    END AS SchemaDescription
  , CASE TABLE_SCHEMA
      WHEN 'UBI' THEN 'Orange'
      WHEN 'MAT' THEN 'LimeGreen'
      WHEN 'OPE' THEN 'AntiqueWhite4'
      WHEN 'TRA' THEN 'DodgerBlue'
      ELSE 'Black'
    END AS SchemaColor
  , TABLE_NAME AS TableName
FROM
    INFORMATION_SCHEMA.TABLES

WHERE
    TABLE_TYPE = 'BASE TABLE'
    AND LOWER(TABLE_NAME) NOT IN (N'aspstatetempapplications',
                                  N'aspstatetempsessions', N'dtproperties',
                                  N'sysdiagrams');





GO
