USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [SCH].[vMetaColumn]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCH].[vMetaColumn]
AS
SELECT
    T.SchemaName
  , T.SchemaDescription
  , T.SchemaColor
  , T.TableName
  , COLUMN_NAME AS ColumnName
  , DATA_TYPE AS DataType
  , CHARACTER_MAXIMUM_LENGTH AS MaximumLength
  , CAST(CASE WHEN IS_NULLABLE = 'YES' THEN 0
              WHEN IS_NULLABLE = 'NO' THEN 1
              ELSE NULL
         END AS BIT) AS IsRequired
  , CAST(CASE WHEN COLUMNPROPERTY(OBJECT_ID(T.SchemaName + '.' + T.TableName),
                                  COLUMN_NAME, 'IsIdentity') = 1 THEN 1
              ELSE 0
         END AS BIT) AS IsIdentity
  , C.ORDINAL_POSITION AS OrdinalPosition
FROM
    INFORMATION_SCHEMA.COLUMNS AS C
INNER JOIN SCH.vMetaTable AS T
    ON C.TABLE_NAME = T.TableName
       AND C.TABLE_SCHEMA = T.SchemaName;



GO
