USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [SCH].[vMetaPrimaryKey]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [SCH].[vMetaPrimaryKey]
AS
SELECT
    SS.name AS SchemaName
  , ST.name AS TableName
  , SC.name AS ColumnName
  , SKC.name AS ConstraintName
  , CAST(STY.name AS VARCHAR(20)) + '('
    + CAST(CASE ST.name
             WHEN 'NVARCHAR' THEN (SELECT
                                    SC.max_length / 2
                                  )
             ELSE (SELECT
                    SC.max_length
                  )
           END AS VARCHAR(20)) + ')' AS DataType
  , SC.is_identity AS IsIdentity
FROM
    sys.key_constraints AS SKC
INNER JOIN sys.tables AS ST
    ON ST.object_id = SKC.parent_object_id
INNER JOIN sys.schemas AS SS
    ON SS.schema_id = ST.schema_id
INNER JOIN sys.index_columns AS SIC
    ON SIC.object_id = ST.object_id
       AND SIC.index_id = SKC.unique_index_id
INNER JOIN sys.columns AS SC
    ON SC.object_id = ST.object_id
       AND SC.column_id = SIC.column_id
INNER JOIN sys.types AS STY
    ON SC.user_type_id = STY.user_type_id
WHERE
    SS.name NOT IN ('dbo');



GO
