USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [SCH].[vMetaForeignKeyConstraint]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCH].[vMetaForeignKeyConstraint]
AS
SELECT
    OBJECT_SCHEMA_NAME(fk.parent_object_id) AS ForeignSchemaName
  , ForeignTable.SchemaDescription AS ForeignSchemaDescription
  , OBJECT_NAME(fk.parent_object_id) AS ForeignTableName
  , cpa.name AS ForeignColumnName
  , OBJECT_SCHEMA_NAME(fk.referenced_object_id) AS PrimarySchemaName
  , PrimaryTable.SchemaDescription AS PrimarySchemaDescription
  , OBJECT_NAME(fk.referenced_object_id) AS PrimaryTableName
  , cref.name AS PrimaryColumnName
  , fk.name AS ConstraintName
FROM
    sys.foreign_keys fk
INNER JOIN sys.foreign_key_columns fkc
    ON fkc.constraint_object_id = fk.object_id
INNER JOIN sys.columns cpa
    ON fkc.parent_object_id = cpa.object_id
       AND fkc.parent_column_id = cpa.column_id
INNER JOIN sys.columns cref
    ON fkc.referenced_object_id = cref.object_id
       AND fkc.referenced_column_id = cref.column_id
INNER JOIN SCH.vMetaTable AS PrimaryTable
    ON OBJECT_SCHEMA_NAME(fk.referenced_object_id) = PrimaryTable.SchemaName
       AND OBJECT_NAME(fk.referenced_object_id) = PrimaryTable.TableName
INNER JOIN SCH.vMetaTable AS ForeignTable
    ON OBJECT_SCHEMA_NAME(fk.parent_object_id) = ForeignTable.SchemaName
       AND OBJECT_NAME(fk.parent_object_id) = ForeignTable.TableName;


GO
