USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vParticiones]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 14032018
-- Description:	Obtiene la informacion del offset
-- =============================================
CREATE VIEW [TRA].[vParticiones]
AS

	   SELECT  * 
	   FROM MES_MSM.[dbo].[Particiones]

	






GO
