USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vProduccionOffsets]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 14032018
-- Description:	Obtiene la informacion del offset
-- =============================================
CREATE VIEW [TRA].[vProduccionOffsets]
AS

	   SELECT  ofset.[idProduccion] as idProduccionOffset,
				ubi.idUbicacion,
				ubi.nombre as 'NombreUbicacion',
				ofset.[VelocidadNominalReferencia],
			  ofset.[Offset],
			  [RendimientoWO]
	  FROM	[TRA].[tProduccionOffsets] ofset (NOLOCK),
			[UBI].[tUbicacion] ubi(NOLOCK)
	  Where ofset.idUbicacion = ubi.idUbicacion

	







GO
