USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vAlbaranPosicion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [TRA].[vAlbaranPosicion]
AS

	SELECT 
		vMaestroMateriales.IdMaterial, 
		vMaestroMateriales.Descripcion, 
		tAlbaranPosicion.Cantidad, 
		tAlbaranPosicion.SourceUoMID,
		--vMaestroMateriales.UdMedida, 
		ISNULL((			SELECT		ISNULL(sp.[Descripcion],'') 
					FROM  [TRA].[tSemaforo] SP
					WHERE sp.[IdSemaforo] =
						(
							SELECT ISNULL(MAX(vs.IDData),0) 
							FROM	[TRA].[vIdAlbaranPosicionCalidad] VS, 
									[TRA].[tAlbaranPosicionCalidad_Status]  SC
							WHERE vs.IdAlbaranPosicion = tAlbaranPosicion.IdAlbaranPosicion
						)

					
					),'')as INSP,
		--'' as INSP, 
		isnull(Recepcionado.CantidadInicial,0) as CantidadInicial, 
		isnull(Recepcionado.CantidadActual,0) as CantidadActual, 
		tAlbaranPosicion.IdOrden,
		--tOA.Descripcion as OA,
		
		tTipoOA.IdTipoOrdenAprovisionamiento,
		tTipoOA.Tipo as TipoOrden,
		
		tTransporte.IdTransporte,
		isnull(tAlbaran.IdAlbaran,0) IdAlbaran,
		isnull(tAlbaranPosicion.IdAlbaranPosicion,0) IdAlbaranPosicion,
		tAlbaranPosicion.Creado as CreatedAt,
		tAlbaran.IdTipoAlbaran,
		isnull(tAlbaranPosicion.Activo,0) Activo,
		STUFF((SELECT ','+IdLote FROM TRA.tAlbaranPosicionLote WHERE IdAlbaranPosicion = tAlbaranPosicion.IdAlbaranPosicion FOR XML PATH('')), 1, 1, '') AS IdLote,
		tAlbaranPosicion.Actualizado as LastModifiedAt,
		IIF(COUNT(vPropExtend.DefID) = 0,0,1) Propiedades

	FROM	
		[TRA].[tTransporte] tTransporte 
		LEFT JOIN [TRA].[tAlbaran] tAlbaran ON tTransporte.IdTransporte = tAlbaran.IdTransporte
		LEFT JOIN [TRA].[tAlbaranPosicion]  tAlbaranPosicion ON tAlbaran.IdAlbaran = tAlbaranPosicion.IdAlbaran 
		--INNER JOIN [MAT].[tOrdenAprovisionamiento] tOA ON tAlbaranPosicion.IdOrden = tOA.IdOrdenAprovisionamiento 
		LEFT JOIN [MAT].[tTipoOrdenAprovisionamiento] tTipoOA ON tAlbaranPosicion.IdTipoOrden = tTipoOA.IdTipoOrdenAprovisionamiento 
		
		LEFT JOIN [TRA].[tAlbaranPosicionLote] tAlbaranPosicionLote ON tAlbaranPosicion.IdAlbaranPosicion = tAlbaranPosicionLote.IdAlbaranPosicion
		
	--	LEFT JOIN [MAT].[vMaestroMateriales] vMaestroMateriales ON tAlbaranPosicion.IdMaterial = vMaestroMateriales.IdMaterial
		LEFT JOIN  [TRA].[vMaterialData]() vMaestroMateriales ON tAlbaranPosicion.IdMaterial = vMaestroMateriales.IdMaterial
	
		--LEFT JOIN [MAT].[vMATFactor] vMatFactor on vMatFactor.DefinitionID = tAlbaranPosicion.PK
		LEFT JOIN [TRA].[tTipoAlbaran] tTipoAlbaran	ON tTipoAlbaran.IdTipoAlbaran = tAlbaran.IdTipoAlbaran
		LEFT JOIN [MAT].[vPropExtend] vPropExtend ON tAlbaranPosicion.IdMaterial = vPropExtend.DefID
		LEFT JOIN (	
					SELECT isnull(sum(CANTIDAD_INICIAL),0) as CantidadInicial,isnull(sum(CANTIDAD_ACTUAL),0) as CantidadActual ,pp.IdAlbaranPosicion
					FROM  [TRA].[tAlbaranPosicion] pp (NOLOCK)
					left join [TRA].tAlbaranPosicionLote  lotTra (NOLOCK)
					ON lotTra.IdAlbaranPosicion = pp.IdAlbaranPosicion
					left join [LOT].[vLoteMMPP]	  mm
					ON  lotTra.IdLote = mm.LOTE_MES
					--and mm.rowdeleted =0
					GROUP  BY pp.IdAlbaranPosicion
					
					) as Recepcionado  ON  Recepcionado.IdAlbaranPosicion  = tAlbaranPosicionLote.idAlbaranPosicion
	WHERE 	
				tAlbaran.Activo = 1		
		AND		tAlbaranPosicion.Activo = 1
		--AND		tTipoAlbaran.IdTipoAlbaran = 1	     
		--and vLote.Rowdeleted=0

	GROUP BY  
		vMaestroMateriales.IdMaterial, 
		vMaestroMateriales.Descripcion, 
		tAlbaranPosicion.Cantidad, 
		tAlbaranPosicion.SourceUoMID,
		--vMaestroMateriales.UdMedida, 
		tAlbaranPosicion.IdOrden, 
		tTransporte.IdTransporte,
		tAlbaran.IdAlbaran,
		tAlbaranPosicion.IdAlbaranPosicion,
		tAlbaranPosicion.Creado,
		tAlbaran.IdTipoAlbaran,
		--tOA.Descripcion,
		tTipoOA.IdTipoOrdenAprovisionamiento,
		tTipoOA.Tipo,
		tAlbaranPosicion.Activo,
		--tAlbaranPosicionLote.IdLote,
		tAlbaranPosicion.Actualizado,
		Recepcionado.CantidadInicial,
		Recepcionado.CantidadActual
	--ORDER BY tAlbaranPosicion.LastModifiedAt desc




















GO
