USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vLotesByIdTransporte]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [TRA].[vLotesByIdTransporte]
AS
 SELECT  
		Transporte.IdTransporte,
		Transporte.IsGranel,
		Transporte.PesoEntrada,
		Transporte.PesoSalida,
		AlbaranPosicionLote.ID_LOTE,
		AlbaranPosicionLote.CantidadActual,
		AlbaranPosicionLote.UNIDADES,
		AlbaranPosicionLote.IdUbicacionLinkMes
				 
   FROM            
				TRA.tTransporte Transporte INNER JOIN
                TRA.vAlbaranPosicion AlbaranPosicion ON Transporte.IdTransporte = AlbaranPosicion.IdTransporte INNER JOIN
                TRA.vAlbaranPosicionLote AlbaranPosicionLote ON AlbaranPosicion.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion

WHERE		
		Transporte.Activo = 1














GO
