USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vLotesRecepcion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








--select * from [TRA].[vLotesRecepcion]


CREATE VIEW [TRA].[vLotesRecepcion]
AS

SELECT  DISTINCT
		MM.IdMaterial, 
		Lots.LotID as ID_LOTE,
		Lots.InitQuantity as CantidadInicial,
		Lots.Quantity as CantidadActual,
		MM.UdMedida UNIDADES, 
		LotStatus.[LotStatusPK] IdEstado,
		LotStatus.[LotStatusCD]  DescripcionEstado,
		Almacen.IdAlmacen  IdAlmacen,
		Almacen.Descripcion DescripcionAlmacen,
		Zona.IdZona,
		Zona.Descripcion DescripcionZona,
		Ubicacion.IdUbicacion,
		TipoUbicacion.IdTipoUbicacion,
		Ubicacion.Nombre UBICACION,
		TipoUbicacion.Descripcion,
		APL.FechaSalidaLote

  FROM [SITMESDB].[dbo].[MMLots] Lots (nolock)
	  LEFT JOIN [UBI].[tUbicacionLote] UbicacionLote (nolock)
		ON Lots.LotID = UbicacionLote.IdLote
	  LEFT JOIN [UBI].[tUbicacion] Ubicacion (nolock)
		ON Ubicacion.IdUbicacion = UbicacionLote.IdUbicacion
	  LEFT JOIN [UBI].[tTipoUbicacion] TipoUbicacion (nolock)
			ON Ubicacion.IdtipoUbicacion = TipoUbicacion.IdTipoUbicacion
			LEFT JOIN [UBI].[tAlmacen] Almacen (nolock)
				ON Almacen.IdAlmacen = Ubicacion.IdAlmacen
				INNER JOIN  UBI.tZona_tUbicacion AS ZonaUbicacion ON Ubicacion.IdUbicacion = ZonaUbicacion.IdUbicacion 
				INNER JOIN
						 UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona
	  
	  LEFT JOIN [SITMESDB].[dbo].[MMDefVers] DefVer (nolock)
		ON Lots.[DefVerPK] = DefVer.[DefVerPK]
	  LEFT JOIN [SITMESDB].[dbo].[MMDefinitions] Def (nolock)
	  ON Def.DefPK = DefVer.DefPK
		LEFT JOIN [MAT].[vMaestroMateriales] MM (nolock)
			ON MM.IdMaterial = Def.DefID
	  LEFT JOIN [SITMesDB].[dbo].[MMLotStatuses] LotStatus (nolock)
		ON LotStatus.[LotStatusPK] = Lots.LotStatusPK

	  LEFT OUTER JOIN [TRA].[tAlbaranPosicion] AP (nolock)
		ON AP.[IDlote] = Lots.LotId
	LEFT JOIN [TRA].[tAlbaranPosicionLote] APL (nolock)
		ON AP.IdAlbaranPosicion = APL.IdAlbaranPosicion

	WHERE
		TipoUbicacion.IdTipoUbicacion  = 7 
		AND
		APL.FechaSalidaLote IS NULL
		 --and 
		 --Lots.Quantity > 0
		--and AP.Activo IS NULL 
GO
