USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vLotesByIdUbicacion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [TRA].[vLotesByIdUbicacion]
AS
 SELECT  
				TRA.tTransporte.FechaOrden,
				TRA.tMatriculaTractora.MatriculaTractora AS Matricula, 
				TRA.tTransporte.IsGranel,
				TRA.tTransporte.FechaEntrada, 
				'' AS Proveedor, 
				--ISNULL(TRA.vAlbaranPosicionLote.LoteProveedor,0) AS Proveedor, 
				'' AS Material,
                --MAT.vMateriales.Nombre + '-' + MAT.vMateriales.Descripcion AS Material, 
				ISNULL(SUM(TRA.vAlbaranPosicionLote.CantidadInicial),0) AS Cantidad, 
				TRA.tTransporte.UltimoCamion AS UltimoCamion, 
                --TRA.vAlbaranPosicionLote.ID_LOTE AS IdLote, 
				TRA.tTransporte.IdTransporte,
				TRA.tTransporte.IdUbicacionInterna,
				TRA.vAlbaranPosicion.IdAlbaran,
				TRA.vAlbaranPosicion.IdTipoAlbaran
				 
   FROM            
				TRA.tTransporte LEFT JOIN
                TRA.vAlbaranPosicion ON TRA.tTransporte.IdTransporte = TRA.vAlbaranPosicion.IdTransporte LEFT JOIN
                --MAT.vMateriales ON TRA.vAlbaranPosicion.IdMaterial = MAT.vMateriales.IdMaterial LEFT JOIN
                TRA.vAlbaranPosicionLote ON TRA.vAlbaranPosicion.IdAlbaranPosicion = TRA.vAlbaranPosicionLote.IdAlbaranPosicion LEFT JOIN
				
				--[MAT].[vAllPropExtendbyLot] vLotProperty ON TRA.vAlbaranPosicionLote.ID_LOTE = vLotProperty.LotID INNER JOIN

                TRA.tMatriculaTractoraRemolque ON TRA.tTransporte.IdMatriculaTractoraRemolque = TRA.tMatriculaTractoraRemolque.IdMatriculaTractoraRemolque AND 
                TRA.tTransporte.IdMatriculaTractoraRemolque = TRA.tMatriculaTractoraRemolque.IdMatriculaTractoraRemolque INNER JOIN
                TRA.tMatriculaTractora ON TRA.tMatriculaTractoraRemolque.IdMatriculaTractora = TRA.tMatriculaTractora.IdMatriculaTractora


WHERE			
		(TRA.vAlbaranPosicion.IdTipoAlbaran = 1 
		OR TRA.tTransporte.IsGranel = 0)
		AND 
		TRA.tTransporte.Activo = 1
		AND 
		TRA.tTransporte.FechaDescarga IS NULL
		AND TRA.tTransporte.FechaSalida IS NULL
		--AND (
		--		(TRA.tTransporte.IsGranel = 1 AND TRA.vAlbaranPosicionLote.ID_LOTE IS NOT NULL)
		--		OR 
		--		(TRA.tTransporte.IsGranel = 0 AND TRA.vAlbaranPosicionLote.ID_LOTE IS NULL)
		--	)

GROUP BY 
				TRA.tTransporte.FechaOrden,
				TRA.tMatriculaTractora.MatriculaTractora, 
				TRA.tTransporte.IsGranel,
				TRA.tTransporte.FechaEntrada,  
				TRA.tTransporte.UltimoCamion, 
				TRA.tTransporte.IdTransporte,
				TRA.tTransporte.IdUbicacionInterna,
				TRA.vAlbaranPosicion.IdAlbaran,
				TRA.vAlbaranPosicion.IdTipoAlbaran














GO
