USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vAlbaranPosicionLote]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO























CREATE VIEW [TRA].[vAlbaranPosicionLote]
AS

SELECT  DISTINCT
	NULLIF(Lots.REFERENCIA_MES,'') AS IdMaterial, 
	Lots.LOTE_MES as ID_LOTE,
	AlbaranPosicion.IdAlbaran,
	AlbaranPosicionLote.IdAlbaranPosicion, 
	SUM(Lots.CANTIDAD_INICIAL) CantidadInicial, 
	SUM(Lots.CANTIDAD_ACTUAL) CantidadActual, 
	NULLIF(Lots.UNIDADES,'') AS UNIDADES, 
	0 IdUnidadMedida,
	CAST(1.0 AS DECIMAL(38,23))  Factor,
	'MI' TargetUoMID,
	--MF.Factor,
	--MF.TargetUoMID,
	0 IdEstado,
	'Not applicable' DescripcionEstado,
	--LotStatus.[LotStatusPK] IdEstado,
	--LotStatus.[LotStatusCD]  DescripcionEstado,
	Lots.ID_ALMACEN  IdAlmacen,
	Lots.ALMACEN DescripcionAlmacen,
	Lots.ID_ZONA IdZona,
	Lots.ZONA DescripcionZona,
	ISNULL(Lots.UBICACION_ORIGEN,0) AS IdUbicacion,
	Lots.UBICACION UBICACION,
	Lots.UBICACION_MES AS IdUbicacionLinkMes,
	NULLIF(Lots.LOTE_PROVEEDOR,'') LoteProveedor,
	AlbaranPosicionLote.UltimoCamion,
	AlbaranPosicionLote.FechaOrden,
	ISNULL(Lots.Actualizado, GETDATE()) AS LastUpdate,
	NULLIF(Transporte.FechaDescarga,'') AS Fecha_descarga,
	AlbaranPosicionLote.FechaSalidaLote,
	Lots.FECHA_CADUCIDAD AS FechaCaducidad
	

  FROM [LOT].[vLoteMMPP] Lots  (NOLOCK)
			  INNER JOIN [TRA].[tAlbaranPosicionLote] AlbaranPosicionLote  (NOLOCK)
				ON AlbaranPosicionLote.IdLote = Lots.LOTE_MES
			  INNER JOIN .[TRA].[tAlbaranPosicion] AlbaranPosicion (NOLOCK)
			ON AlbaranPosicion.IdAlbaranPosicion = AlbaranPosicionLote.IdAlbaranPosicion
	  LEFT JOIN [TRA].[tAlbaran] Albaran  (NOLOCK) ON Albaran.IdAlbaran = AlbaranPosicion.IdAlbaran
	  LEFT JOIN [TRA].[tTransporte] Transporte  (NOLOCK) ON Transporte.IdTransporte = Albaran.IdTransporte
  GROUP BY 
	  Lots.LOTE_MES,
	  Lots.REFERENCIA_MES,
	  Lots.UNIDADES,
	  Lots.ID_ALMACEN,
	  AlbaranPosicionLote.IdAlbaranPosicion,
	  Lots.ALMACEN,
	  Lots.ID_ZONA,
	  Lots.ZONA,
	  AlbaranPosicion.IdAlbaran,
	  AlbaranPosicionLote.LoteProveedor,
	  Lots.Actualizado,
	  Lots.UBICACION_ORIGEN,
	  Lots.UBICACION,
	  Lots.UBICACION_MES,
	  AlbaranPosicionLote.UltimoCamion,
	  AlbaranPosicionLote.FechaOrden,
	  Transporte.FechaDescarga,
	  AlbaranPosicionLote.FechaSalidaLote,
	  Lots.FECHA_CADUCIDAD,
	  Lots.LOTE_PROVEEDOR

GO
