USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vAlbaranEntrada_opt]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE  VIEW [TRA].[vAlbaranEntrada_opt]
AS

select 
	vM.IdMaterial, 
	vM.Descripcion, 
	tAP.Cantidad, 
	vM.UdMedida, 
	'' as INSP, 
	SUM(vL.Quantity) as Recepcionado, 
	TOA.Tipo AS OA,
	tT.IdTransporte,
	tA.IdAlbaran,
	tA.Creado AS FechaEntrada
FROM [MES_MSM_Trazabilidad].[TRA].[tTransporte] tT (NOLOCK)
--INNER JOIN [MES_MSM_Trazabilidad].[TRA].[tTransporteAlbaran] tTA  (NOLOCK) ON tT.IdTransporte = tTA.IdTransporte 
INNER JOIN [MES_MSM_Trazabilidad].[TRA].[tAlbaran] tA (NOLOCK) ON  tT.IdTransporte = tA.IdTransporte 
INNER JOIN [MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicion] tAP (NOLOCK) ON tA.IdAlbaran = tAP.IdAlbaran 
INNER JOIN [MES_MSM_Trazabilidad].[MAT].[vMaestroMateriales] vM (NOLOCK) ON tAP.IdMaterial = vM.IdMaterial 
INNER JOIN [MES_MSM_Trazabilidad].[TRA].[tAlbaranPosicionLote] tAPL (NOLOCK) ON tAP.IdAlbaranPosicion = tAPL.IdAlbaranPosicion 
INNER JOIN [MES_MSM_Trazabilidad].[MAT].[vLote] vL (NOLOCK)  ON tAPL.IdLote = vL.LotID 
INNER JOIN [MES_MSM_Trazabilidad].[MAT].tTipoOrdenAprovisionamiento TOA ON TOA.IdTipoOrdenAprovisionamiento = tAP.IdTipoOrden
Where 
exists
(
	Select 1 
	from [TRA].[tTipoAlbaran] tas (NOLOCK)  where  ta.IdTipoAlbaran = ta.IdTipoAlbaran
	and tas.IdTipoAlbaran = 1	



)

AND   tA.Activo = 1
GROUP	BY  vM.IdMaterial, vM.Descripcion, 
tAP.Cantidad, 
vM.UdMedida, 
TOA.Tipo, 
tT.IdTransporte,tA.IdAlbaran,tA.Creado
	






GO
