USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vIdAlbaranPosicionCalidad]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 29012018
-- Description:	Obtiene la informacion de los lotes de calidad.
--  =============================================
CREATE VIEW [TRA].[vIdAlbaranPosicionCalidad]
AS

	SELECT	pos_cal.IdAlbaranPosicionCalidad,
			pos_cal.IdAlbaranPosicion,
			cal_data.[ID],
			cal_data.Formtemplate,
			cal_data.FormtemplateXml,
			cal_data.IdFormTemplate,
			[Extent2].[orderId] AS [OrderId],        
			[Extent2].[orderTypeId] AS [OrderTypeId],         
			[Extent2].[turnoId] AS [TurnoId],        
			[Extent2].[shcId] AS [ShcId],        
			[Extent2].[lotId] AS [LotId],        
			[Extent2].[materialId] AS [MaterialId],     
			[Extent2].[location] AS [Location],
			cal_data.createdOnutc as CreatedOn,
			isnull(cal_data.lastModifyutc,cal_data.createdOnutc) as LastModify,
			cal_data.triggerName as TriggerName,
			cal_data.errors as Errors,
			--tr.name as Name
			cal_data.name as Name,
			cal_data.descript as Descript ,

			 isnull(cal_data.statusID,'PENDIENTE') as StatusID,
			--cal_data.statusID,
			 case 
					when  isnull(cal_data.statusID,'')= 'PENDIENTE' 
					THEN 'Azul' else 'Verde' end as SemaforoStatus,
			 case 
					when  isnull(cal_data.isValid,'')= 1  THEN 'Verde'			
					when  isnull(cal_data.isValid,'')= 2 then 'Amarillo' 
					 else 'Azul' end  as SemaforoVal,
					 cal_data.IsValid,

			' { "orderId": " '  + isnull([Extent2].[orderId],'') +  '",'  +
			' "orderTypeId" : "  ' + isnull([Extent2].[orderTypeId],'') +  '",'  +
			' "turnoId" : "' + isnull([Extent2].turnoId,0) +  '",'  +
			'"shcId" : "' + isnull([Extent2].shcId,'') +  '",'  +
			'"lotId" : "' + isnull([Extent2].lotId,'')+  '",'  +
			'"materialId" : "' + isnull([Extent2].materialId,'') +  '",'  +
			'"statusID" : "' + isnull(cal_data.statusID,'') +  '",'  +	
			
			'"location" : "' + isnull([Extent2].[location],'')   + '"} ' as FormValues,

			case when cal_data.StatusID ='FINALIZADO' THEN 1 ELSE 2 END as IdData
			--case when cal_data.isValid > 1 then 1 else 2 end IDData

	FROM    tra.[tAlbaranPosicionCalidad]  pos_cal (NOLOCK)
			INNER JOIN  	[MES_MSM_ALT].[dbo].[Forms] cal_data (NOLOCK)
			ON  pos_cal.id = cal_data.id
			INNER JOIN 	tra.tAlbaranPosicionCalidad_Status pos_cal_status (NOLOCK)
			ON  pos_cal_status.statusDesc  =cal_data.statusID
					LEFT  JOIN [MES_MSM_ALT].[dbo].[inboxTrigger] TR (NOLOCK)
				ON  TR.idTrigger = cal_data.idTrigger
				and  tr.id =cal_data.idInbox
				 LEFT OUTER JOIN [MES_MSM_ALT].[dbo].[FormsMESData] [Extent2] ON cal_data.[ID] = [Extent2].[idForm] 
	
	

	









GO
