USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vParticionesByid]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











-- =============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 15032018
-- Description:	Obtiene el id de particion de las dos ultimas semanas
-- =============================================
CREATE VIEW [TRA].[vParticionesByid]
AS

   SELECT	ll.id
			,
			L2.NumeroLinea,
			--cast (L2.NumeroLinea as  smallint) as NumeroLinea ,
			
			IdProducto,ll.FecIniEstimada
	FROM	[TRA].[vParticiones]  LL(NOLOCK),	
			MES_MSM.DBO.LINEAS L2 (NOLOCK)
	where	L2.nombre = ll.Linea
	--and		FecIniEstimada between dateadd(w,-52,getdate()) and getdate() 
GO
