USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vProduccion]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
 Author:		Miguel Angel Suero Aviles
 Create date: 13032018
 Description:	Obtiene la informacion de la produccion
 =============================================*/
CREATE VIEW [TRA].[vProduccion]
AS
SELECT   PRD.IdProduccion, PRD.idEtiqueta, PRD.Linea, PRD.Referencia, PRD.EtiquetaCreatedAt, PRD.ParticionWO, PRD.SSCC, PRD.idLotMes, Prod_Status.Estado, PRD.CreatedAt, PRD.CreatedBy, PRD.LastModifiedMesAt, PRD.LastModifiedMes, PRD.EntradaAlmacenAt, ISNULL(Prod_cuar.Motivo, '') AS MotivoCuarentena, 
             ISNULL(Prod_blo.Motivo, '') AS MotivoBloqueo, PRD.Picos, PRD.Ubicacion, PRD.DescripCliente, PRD.SalidaAlmacenAt, PRD.Consolidado, PRD.LastModifiedSgaAt, PRD.LastModifiedSga, PRD.ActualizadoPor AS LastModifiedBy, PRD.Actualizado AS LastModifiedAt, PRD.VelocidadNominalProducto, PRD.CuarentenaAt, 
             PRD.BloqueoAt, PRD.CodigoCaja
FROM     TRA.tProduccion AS PRD WITH (NOLOCK) LEFT OUTER JOIN
             TRA.tProduccionesStatus AS Prod_Status WITH (NOLOCK) ON Prod_Status.IdStatus = PRD.IdStatus LEFT OUTER JOIN
             TRA.tProduccionMotivoBloqueo AS Prod_blo WITH (NOLOCK) ON PRD.IdMotivoBloqueo = Prod_blo.idMotivo LEFT OUTER JOIN
             TRA.tProduccionMotivoCuarentena AS Prod_cuar WITH (NOLOCK) ON PRD.IdMotivoCuarentena = Prod_cuar.idMotivo
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PRD"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 379
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Prod_Status"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 350
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Prod_blo"
            Begin Extent = 
               Top = 351
               Left = 57
               Bottom = 494
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Prod_cuar"
            Begin Extent = 
               Top = 495
               Left = 57
               Bottom = 638
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'TRA', @level1type=N'VIEW',@level1name=N'vProduccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'TRA', @level1type=N'VIEW',@level1name=N'vProduccion'
GO
