USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [TRA].[vTransportes]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [TRA].[vTransportes]
AS

	SELECT T.[IdTransporte]
      ,T.[FechaEntrada]
      ,T.[FechaSalida]
      ,T.[PesoEntrada]
      ,T.[PesoSalida]
      ,T.[Activo]

	  ,PRO.[IdProducto]
	  ,PRO.Nombre as NombreProducto

	  ,PRV.[IdProveedor]
	  ,PRV.Nombre as NombreProveedor
	  
	  ,MTR.[IdMatriculaTractoraRemolque]
	 
	  ,MT.IdMatriculaTractora 
	  ,MT.MatriculaTractora 
	 
      ,MR.IdMatriculaRemolque 
	  ,MR.MatriculaRemolque 

	  ,T.[IdTransportista]
      ,TR.Nombre as NombreTransportista
	  ,TR.NIF as NIFTransportista
	  
	  ,T.[IdOperador]
      ,OP.Nombre as NombreOperador

      ,T.[IdOrigenMercancia]
      ,OM.Descripcion as DescripcionMercanciaOrigen

	  ,T.[IdUbicacionInterna]
	  ,UB.Nombre DescripcionUbicacionInterna
	  ,UB.IdTipoUbicacion
      
	  ,T.[IdDestinatario]
      ,DT.Nombre as DescripcionDestinatario
	  ,DT.Poblacion as PoblacionDestinatario

      ,T.[IsGranel]
	  ,T.[IdCalidad]
     
	  ,ISNULL(TS.Descripcion,'') as ColorSemaforo

	  ,T.Observaciones	
	  ,T.ObservacionesProducto 

	  ,ISNULL(AL.IdAlbaran,0) IdAlbaran
	  ,ISNULL(AL.IdTipoAlbaran,0)  IdTipoAlbaran
	  ,POS.IdMaterial
	  ,MAT.Descripcion as DescripcionMaterial
	  , T.FechaOrden
	  ,T.UltimoCamion
	  ,T.FechaDescarga,
	  T.Creado as CreatedAt,
	  T.Actualizado as  LastModifiedAt
  FROM 
	[TRA].[tTransporte] T
		LEFT JOIN  MAT.tProducto PRO  on T.IdProducto = PRO.IdProducto 
		LEFT JOIN  MAT.tProveedor PRV  on T.IdProveedor = PRV.IdProveedor
		LEFT JOIN  TRA.tMatriculaTractoraRemolque MTR  on T.IdMatriculaTractoraRemolque = MTR.IdMatriculaTractoraRemolque
			LEFT JOIN  TRA.tMatriculaRemolque MR  on MTR.IdMatriculaRemolque = MR.IdMatriculaRemolque	
			LEFT JOIN  TRA.tMatriculaTractora MT  on MTR.IdMatriculaTractora = MT.IdMatriculaTractora
		LEFT JOIN  TRA.tTransportista TR  on T.IdTransportista = TR.IdTransportista
		LEFT JOIN  TRA.tOperador OP on T.IdOperador = OP.IdOperador
		LEFT JOIN  UBI.tOrigenMercancia OM on T.IdOrigenMercancia = OM.IdOrigenMercancia
		LEFT JOIN  UBI.tUbicacion UB on T.IdUbicacionInterna = UB.IdUbicacion
		LEFT JOIN  TRA.tDestinatario DT on T.IdDestinatario = DT.IdDestinatario
		LEFT JOIN  TRA.tAlbaran AL on T.IdTransporte = AL.IdTransporte
			LEFT JOIN  (SELECT distinct TABLA_1.IdAlbaran,TABLA_2.IdMaterial, TABLA_2.IdAlbaranPosicion
						FROM [TRA].[tAlbaranPosicion] AS TABLA_1,
							(SELECT IdAlbaran,MIN(IdMaterial) AS IdMaterial,MIN(IdAlbaranPosicion) AS IdAlbaranPosicion 
							 FROM [TRA].[tAlbaranPosicion] group by IdAlbaran) AS TABLA_2
						WHERE TABLA_1.IdAlbaran = TABLA_2.IdAlbaran ) POS on AL.IdAlbaran = POS.IdAlbaran
		LEFT JOIN  MAT.vMateriales MAT on MAT.IdMaterial = POS.IdMaterial
		LEFT JOIN (
					SELECT	S.IdTransporte,TSS.Descripcion	
					FROM 	[TRA].[vTransporTemp]() S  
							LEFT JOIN  [TRA].[tSemaforo] TSS 
							ON  TSS.IdSemaforo = S.IdSemaforoTransporte
					) TS ON TS.IdTransporte = T.IdTransporte
				   
		--LEFT JOIN (SELECT S.IdTransporte, Descripcion 
		--		   FROM (SELECT IdTransporte,max(TI.IdSemaforo) as IdSemaforo FROM [TRA].[tTransporteIndicador] TI GROUP BY idTransporte) AS S 		
		--				LEFT JOIN [TRA].[tSemaforo] TS ON TS.IdSemaforo = S.IdSemaforo) TS ON TS.IdTransporte = T.IdTransporte
	WHERE
		T.Activo = 1














GO
