USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vEquiposMES]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [UBI].[vEquiposMES]
AS

--SELECT DISTINCT
--	TABLA.Id,
--	TABLA.IdArbol AS IdArbol,
--	TABLA.Nombre,
--	TABLA.IdArbolPadre AS IdArbolPadre,
--	TABLA.Tipo
--FROM(
--SELECT 
--		ALMACEN.IdAlmacen  AS Id,
--	    'ALM'+ CAST(ALMACEN.IdAlmacen AS NVARCHAR(MAX))  AS IdArbol
--      , ALMACEN.Descripcion AS Nombre
--      , NULL AS IdArbolPadre
--	  , 1 AS Tipo
--	FROM
--		[UBI].[tAlmacen] AS ALMACEN
--	UNION 

--	SELECT 
--	ZONA.IdZona AS Id,
--		'ZON'+CAST(ZONA.IdZona AS NVARCHAR(MAX)) AS IdArbol
--		,ZONA.Descripcion AS Nombre
--        ,'ALM'+CAST(IdAlmacen AS NVARCHAR(MAX)) AS IdArbolPadre
--		,2 AS Tipo
--	FROM
--		[UBI].[tZona] AS ZONA
--	UNION
--	SELECT
--		UBICACION.IdUbicacion AS Id
--		,'UBI'+CAST(UBICACION.IdUbicacion AS NVARCHAR(MAX)) AS IdArbol
--		,UBICACION.Nombre AS Nombre
--        ,'ZON'+CAST(ZONA_UBICACION.IdZona AS NVARCHAR(MAX)) AS IdArbolPadre
--		,3 AS Tipo
--	FROM
--		[UBI].[tUbicacion] AS UBICACION
--		INNER JOIN [UBI].[tZona_tUbicacion] AS ZONA_UBICACION ON ZONA_UBICACION.IdUbicacion = UBICACION.IdUbicacion
--) AS TABLA
--ORDER BY IdArbol,IdArbolPadre

SELECT DISTINCT
	IdUbicacion,
	Nombre,
	Descripcion
FROM 
[UBI].[tUbicacion]
WHERE 
Activo = 1


GO
