USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vUbicacionesConsumo]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [UBI].[vUbicacionesConsumo]
AS
SELECT        
		UBI.tUbicacion.Nombre, 
		UBI.tEstadoUbicacion.Descripcion AS Estado, 
		UBI.tAlmacen.Descripcion AS Almacen,
		UBI.tZona.Descripcion AS Zona, 
		UBI.tTipoUbicacion.Descripcion AS TipoUbicacion, 
        isnull(MAT.vTipoMaterial.DescTipo,'') AS TipoMaterial, 
		UBI.tUbicacion.StockActual, 
		UBI.tUbicacion.IdUbicacion
FROM            UBI.tUbicacion INNER JOIN
						UBI.tAlmacen ON tAlmacen.IdAlmacen = UBI.tUbicacion.IdAlmacen INNER JOIN
                         UBI.tZona_tUbicacion AS ZonaUbicacion ON UBI.tUbicacion.IdUbicacion = ZonaUbicacion.IdUbicacion INNER JOIN
						 UBI.tZona ON ZonaUbicacion.IdZona = UBI.tZona.IdZona INNER JOIN
                         UBI.tEstadoUbicacion ON UBI.tUbicacion.IdEstado = UBI.tEstadoUbicacion.IdEstadoUbicacion INNER JOIN
                         UBI.tTipoUbicacion ON UBI.tUbicacion.IdTipoUbicacion = UBI.tTipoUbicacion.IdTipoUbicacion LEFT JOIN
                         MAT.vTipoMaterial ON UBI.tUbicacion.IdTipoMaterial = MAT.vTipoMaterial.Tipo
WHERE        
			(UBI.tUbicacion.Activo = 1) AND -- Ubicacion activa
			(UBI.tUbicacion.IdTipoUbicacion  in(4)) --Ubicacion Tipo Consumo







GO
