USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vDetalleUbicaciones]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [UBI].[vDetalleUbicaciones]
AS



SELECT  Ubicacion.[IdUbicacion]
      ,pl.Descripcion as Planta
      ,ALM.Descripcion AS Almacen
      ,Zona.Descripcion AS Zona
	  ,[Nombre] AS Ubicacion
	  ,tp.Descripcion as TipoUbicacion
	  ,isnull(palm.Descripcion,'SIN POLÍTICA') as PoliticaAlmacenamiento
	  ,lle2.Descripcion as PoliticaLlenado
      ,isnull(vac.[Descripcion],'SIN POLÍTICA') as PoliticaVaciado
      ,[RefMaterial]
      ,[IdClaseMaterial]
      ,[IdTipoMaterial]
      ,[IdUbicacionLinkMes] as EquipoMES
      ,[IdUnidadMedida]
	  ,[CooRelativas]
      ,[CooAlbsolutas]
   FROM [MES_MSM_Trazabilidad].[UBI].[tUbicacion]  AS Ubicacion
	INNER JOIN [UBI].[tPlanta]  pl on pl.IdPlanta = Ubicacion.IdPlanta
	INNER JOIN [UBI].[tAlmacen] ALM ON ALM.IdAlmacen = Ubicacion.[IdAlmacen]
	INNER JOIN UBI.tZona_tUbicacion AS ZonaUbicacion ON Ubicacion.IdUbicacion = ZonaUbicacion.IdUbicacion 
	INNER JOIN UBI.tZona AS Zona ON ZonaUbicacion.IdZona = Zona.IdZona 
	INNER JOIN [UBI].[tTipoUbicacion] tp on tp.[IdTipoUbicacion] = Ubicacion.[IdTipoUbicacion]
	LEFT JOIN [UBI].[tPoliticaAlmacenamiento] palm on  palm.[IdPoliticaAlmacenamiento] = Ubicacion.[IdPoliticaAlmacenamiento]
	LEFT JOIN [UBI].[tPoliticaLlenado] lle2 on lle2.[IdPoliticaLlenado]  = Ubicacion.[IdPoliticaLlenado]
	LEFT JOIN [UBI].[tPoliticaVaciado] vac on    vac.[IdPoliticaVaciado] = Ubicacion.[IdPoliticaVaciado]



GO
