USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vEquipos]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [UBI].[vEquipos]
AS

SELECT [LocPK] as PK_Equipo
      ,[LocID] as ID_Equipo
      ,[LocTypePK] as Tipo_Equipo
      ,[LocAlias] as Nombre_Equipo
      ,[Descript] as Common_Private
      ,[ParentLocPK]  as PK_Padre
      ,[LocPath] as Path
      , EQ.equip_label AS Descripcion
  FROM [SITMesDB].[dbo].[MMLocations] LOC
  INNER JOIN [SITMesDB].dbo.BPM_EQUIPMENT EQ ON LOC.LocPath = EQ.equip_id





GO
