USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vUbicacionesbyLot]    Script Date: 01/03/2021 12:23:01 ******/
DROP VIEW [UBI].[vUbicacionesbyLot]
GO
/****** Object:  View [UBI].[vUbicacionesbyLot]    Script Date: 01/03/2021 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










--=============================================
-- Author:		Miguel Angel Suero Aviles
-- Create date: 29012018
-- Description:	Obtiene las propiedades  extendidas del material por lote
--  =============================================
CREATE VIEW [UBI].[vUbicacionesbyLot]
AS


	SELECT 
		[IdUbicacion]
      ,[IdLote]
      ,ss.[DefID]
	  ,ll.Quantity
	FROM [UBI].[tUbicacionLote] ss (NOLOCK),

		 [SITMesDB].[dbo].MMlots ll (NOLOCK) 
     where   ll.lotid = ss.idlote
	 and rowdeleted =0

GO
