USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vUbicacionLote]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













--=============================================
-- Author:		Alexis Anselmi
-- Create date: 2021-10-05- 
-- Modificación: Obtiene todas los lotes con su ubicación actual 
--  =============================================
CREATE VIEW [UBI].[vUbicacionLote]
AS

	SELECT DISTINCT
		LOTE.IdUbicacion,
		LOTE.IdLoteMES,
		LOTE.IdMaterial,
		LOTE.CantidadActual
	FROM
		LOT.tLoteMateriaPrima AS LOTE
	WHERE 
		LOTE.CantidadActual > 0 
GO
