USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [UBI].[vUbicationCounterLink]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

CREATE VIEW [UBI].[vUbicationCounterLink]
as
	SELECT distinct  ubi.IdUbicacion,ubi.Nombre Equipment,Tag.[Counter],Tag.[TagName],MAX(Tag.TagID) TagID
	FROM 
	(SELECT Replace(Substring([TagName],11,14),'_','-') equipment,
	Substring([TagName],26,len([TagName])) [Counter],[TagName],TagID      
	FROM [PPA].[dbo].[TAG] tag
	WHERE TagName like '%_EQ_%_CONTADOR%') Tag
	INNER JOIN [MES_MSM_Trazabilidad].[UBI].[tUbicacion] ubi on tag.equipment = ubi.Nombre
	GROUP BY ubi.IdUbicacion,ubi.Nombre,Tag.[Counter],Tag.[TagName]
GO
