USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [USR].[vUserFunctions]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [USR].[vUserFunctions]
AS

SELECT  F.ID_FUNCION, F.CODIGO as Enum_Descripcion
  FROM 
		[MES_MSM].[dbo].[Funciones] F 




GO
