USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [USR].[vTraceabilityFunctions]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [USR].[vTraceabilityFunctions]
AS

SELECT f.ID_FUNCION, f.CODIGO, f.DESCRIPCION
  FROM [MES_MSM].[dbo].[Funciones] f
	inner join [MES_MSM].[dbo].[AREAS_GESTION] A ON A.ID_AREA = F.ID_AREA 
	WHERE A.ID_AREA = 4
--WHERE Name = 'Administrador' and A.ID_AREA = 4
--ORDER BY R.Name, A.ID_AREA, ID_FUNCION





GO
