USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [USR].[vUserRolFunctions]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [USR].[vUserRolFunctions]
AS

SELECT  P.ID_PERMISO
		,F.ID_FUNCION, 
		R.Name as ROL_NAME, 
		F.CODIGO ,
		R.Name , 
		F.DESCRIPCION , 
		A.ID_AREA, 
		A.DESCRIPCION as AREA
  FROM 
	[MES_MSM].[dbo].[PERMISOS] P
		left join [MES_MSM].[dbo].[AspNetRoles] R ON P.ID_ROL = R.id
		left join [MES_MSM].[dbo].[Funciones] F ON P.ID_FUNCION  = F.ID_FUNCION 
		left join [MES_MSM].[dbo].[AREAS_GESTION] A ON A.ID_AREA = F.ID_AREA 
	--WHERE 
		--(Name = 'Administrador') --and A.ID_AREA = 4
	--ORDER BY 
		--R.Name, A.ID_AREA , F.ID_FUNCION

















GO
