USE [MES_MSM_Trazabilidad]
GO
/****** Object:  View [USR].[vUserAreas]    Script Date: 25/02/2022 13:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [USR].[vUserAreas]
AS



 SELECT	 ID_AREA as IdArea
		,CODIGO as Codigo
		,DESCRIPCION as Descripcion
		,'Area' + REPLACE(Descripcion,' ','') as Enum_Descripcion
  FROM	[MES_MSM].[dbo].[AREAS_GESTION]


GO
